[2022-07-11 14:44] SuperJMN commented on #8690
Sadly, there is no easy way to show / hide options based on the status of other options. We can research how to have this if this is important, though.

[2022-07-11 14:56] MaxHillebrand opened #8693 "[VDG] TX details show address"
The transaction details in the history should show the address that was sent to (and the change)

[2022-07-11 16:11] yahiheb commented on #8693
Closing this as a duplicate

[2022-07-11 16:11] #8693 closed

[2022-07-11 16:51] yahiheb commented on #8249
It is not fixed on master f8611ffc452d6b16de0e8ab6c9d25aea610bc514

[2022-07-11 19:19] MaxHillebrand commented on #8180
This is really great UX!

[2022-07-11 19:21] MaxHillebrand commented on #8588
This repeat button should only be visible in manual coinjoin mode. Auto start coinjoin mode implies repeat by default, so there should be no way to turn repeat off.

@BTCparadigm gave CACK in research club.

[2022-07-11 19:34] MaxHillebrand commented on #8572
BTW, sats per vbyte is already a concept in the current fee graph, it's the y axis of the chart.

So there is no argument from hiding manual sats per vbyte textbox because of user confusion of the metric.

[2022-07-11 19:38] MaxHillebrand opened #8694 "[VDG] fee rate chart full labels"
The x axis of the fee rate chart has abbreviated labels like "3d" or "1h".

It should be instead "3 days" and "1 hour". There should be space for it.

[2022-07-11 19:47] MaxHillebrand opened #8695 "[VDG] Remove music box messages"
The music box started out super clean, but got cluttered with time, now there are a bunch of different texts that confuse more than they help.

Instead, have a simple text of "coinjoin in progress" that is shown whenever its in play.

We could also show four dots representing input registration, output registration, signing phase, successful broadcast. This is a minimalist progress indicator.

Any

[2022-07-11 19:52] MaxHillebrand opened #8696 "[VDG] coinjoin monitor tile"
There should be an opt in tile or settings that shows the coinjoin lobby human monitor (https://stats.wasabiwallet.io), and maybe additional information beautified from the logs.

[2022-07-11 19:54] MaxHillebrand commented on #2110
There should be a settings to toggle between bitcoin, milli bits, sats. It should be applied globally for all amount occurrences, including fee rate.

[2022-07-11 20:30] microlity commented on #8535
Facing the same issue: Wasabi 1.* was working fine in Tails whereas Wasabi 2.* is not working at all.

Also expect it is related to Wasabi 2.* does not properly detect and use running Tor instance. As far as I know Tails firewall is configured rather strict in order to prevent Tor through Tor tunneling.

Have also tried deactivating Tor in Wasabis Config.json ("UseTor": false) with no success. The

[2022-07-11 23:00] nopara73 commented on #8180
Illustration ACK

[2022-07-12 02:41] yahiheb commented on #8695
ACK

https://github.com/zkSNACKs/WalletWasabi/pull/7973#issuecomment-1125211007

[2022-07-12 05:07] jmacato commented on #8695
I'm thinking of implementing it as multi-stage progress bar, i will try to look for designs that are suitable

[2022-07-12 08:13] soosr commented on #8696
What is its purpose?

[2022-07-12 08:23] MaxHillebrand commented on #8696
So that the music box can be decluttered by default, these advanced round status and info should be only opt in.

https://github.com/zkSNACKs/WalletWasabi/issues/8695

[2022-07-12 08:37] soosr commented on #8690
I had an idea when the SearchBar had been implemented. Instead of manually creating the items for the searchbar... we could create a custom `Attribute` called for example `SearchBarAttribute`. And we could use this attribute above the props that we want to show in the search bar... Like `[SearchBar("Title","keywords")]` and so...

So we wouldn't have to manually deal with them. This is just an ide

[2022-07-12 08:58] #8685 closed

[2022-07-12 09:02] soosr commented on #8694
Then `minutes` also instead of `m`. Would we have enough space for them?

[2022-07-12 09:08] wieslawsoltes commented on #8694
We can show rotated labels at 45 degrees

[2022-07-12 09:11] wieslawsoltes commented on #8694
https://github.com/zkSNACKs/WalletWasabi/blob/ec5e448cfd4915e7e5826c220fa832cb914387d6/WalletWasabi.Fluent/Views/Wallets/Send/SendFeeView.axaml#L47

[2022-07-12 09:31] Szpoti commented on #8680
I don't quite understand the problem, could you elaborate precisely?

1. After installing Wasabi, it won't start in the background on it's own, thus Tor will not start, filters and peers won't be connected to - you have to start Wasabi manually;
2. Wasabi only starts with Windows if the "_Run Wasabi when computer starts_" option is turned **ON** manually. (Default: `false`);
3. But even tho' Wasab

[2022-07-12 09:32] soosr commented on #8694
It turned out we have enough space so that is fine.

Is it better? For me, I am not sure. The short texts kinda acted as indicators of where those times started.
![image](https://user-images.githubusercontent.com/16364053/178458706-f891fd9c-0696-4389-9c81-1912ffe4d30d.png)

[2022-07-12 09:49] nopara73 commented on #8680
I didn't know it's false by `default`.

This is bad and it justifies being false for now. Let's get back to this a few months from now. Thanks @Szpoti!

[2022-07-12 09:53] MaxHillebrand commented on #8694
Yes, it's good.

We can add some markers on the line where the time actually starts.

[2022-07-12 10:12] soosr commented on #8694
I cannot decide if it would be
 bothering for everyone, or only me. If you think it is ok then I open a PR.

[2022-07-12 10:38] MaxHillebrand commented on #8694
It is ambiguous, so we can think of improvements to it.
Please make a pr, and also try those line markers.

[2022-07-12 11:07] adamPetho commented on #8677
Hmm, we can hide it for sure. I will open a PR with the changes and let's see the opinions of others.

[2022-07-12 11:20] #6538 closed

[2022-07-12 11:34] nopara73 commented on #8421
https://github.com/zkSNACKs/WalletWasabi/issues/8420#issuecomment-1161776325

[2022-07-12 11:34] #8421 closed

[2022-07-12 11:35] nopara73 commented on #8439
Closing as duplicated https://github.com/zkSNACKs/WalletWasabi/issues/2617

[2022-07-12 11:35] #8439 closed

[2022-07-12 11:36] Szpoti opened #8699 "Tray icon menu won't disappear after clicking "Hide""
### General Description

On Windows, right-clicking on the Tray icon shows up the menu to "Hide | Quit".
After clicking on "Hide", the menu won't get hidden, I can click on it again, which will trigger the "Show" action and load the wallet.
_(quiting works well still, either way)_

Intrestingly, after clicking on "Show", the menu disappears - the problem only happens when Wasabi is open and only w

[2022-07-12 12:00] Szpoti commented on #8694
I was also thinking about it for a second, then droped the idea, IMO it's unnecessary, makes it less smooth-looking.
It would only make sense if we had some auto-adjuster that fits the line to the correct value, but that would be hella' nerve-racking.

[2022-07-12 14:08] #8565 closed, assigned to nobody

[2022-07-12 14:40] adamPetho commented on #8630
Yes, by doing your step by step, I got the same output as in the description.

[2022-07-12 19:02] MaxHillebrand commented on #8550
- if tx creates change, show edit icon next to amount for change avoidance.
- if tx has 1 anonscore inputs, show a red warning icon
- if tx has >2 but below target anonscore inputs, show a yellow warnig icon
- If tx has all above target anonscore inputs, show green checkmark
- if tx mixes 1 anonscore and higher inputs, show red warning icon
- if tx mixes >2 but below target with above target anons

[2022-07-12 20:32] microlity commented on #8535
Thanks for the comprehensive explanation on the difference in Tor traffic handling between WW1 and WW2.

To better understand: By utilizing Tor Control Protocol WW2 can ensure that each output registration are always done over a different circuit?

Whereas I do see benefits in terms of non-traceability there might be also other ways to achieve this independently of utilizing a non-bundled Tor inst

[2022-07-12 23:50] BTCparadigm commented on #8550
My rough idea of simplifying the send process (less windows), adding payment description field,  removing options to tweak transaction in preview, adding warning badges plus trying to keep everything newbie friendly and easy by default. Colors are just random. Order of fees and amount could be changed, as well as the symbols I used for this illustration.

![WW2send](https://user-images.githubuserc

[2022-07-13 00:04] BTCparadigm commented on #8550
I would personally like to have password asked also in the tx preview, not in a separate window. Like signing a contract/agreement.
This way we only have 2 pages in the sending process. Thoughts?
![WW2Preview](https://user-images.githubusercontent.com/51679301/178618400-a6499da0-eb24-4526-b679-e248c9a3adb6.png)

[2022-07-13 02:43] Transisto opened #8701 "Windows size too small on first launch, OSX M1"
<img alt="image" src="https://user-images.githubusercontent.com/388716/178639602-dafe2844-a231-41da-a033-df0e5742a017.png">

[2022-07-13 08:19] #8630 closed

[2022-07-13 08:41] soosr commented on #8701
Duplicate https://github.com/zkSNACKs/WalletWasabi/issues/8631.
It is already fixed on Avalonia side: https://github.com/AvaloniaUI/Avalonia/pull/8483
Need to update Avalonia version in Wasabi to have it.

[2022-07-13 08:41] #8701 closed

[2022-07-13 09:12] soosr commented on #8550
Can you open a separate issue/discussion for this? We make this issue completely flooded.

Regarding the concept, I am so confused... We have been working on the send UX for almost 1,5 years, It has been refactored like 3 times.

The very first version was very very similar to this and it didn't work... It was problematic from UX perspective and also from coding perspective. This just doesn't fit

[2022-07-13 09:19] soosr commented on #8694
Using `min` instead of `minute` is accaptable IMO

![image](https://user-images.githubusercontent.com/16364053/178698480-99fa9593-d250-4c9d-8f5b-3ce01b36ce44.png)

[2022-07-13 09:20] MaxHillebrand commented on #8550
agreed with @soosr, separating it out into dialogs is a good idea and shouldn't be changed.

However, the badge logic that @BTCparadigm has in there is a good direction, imo.

[2022-07-13 10:10] BTCparadigm commented on #8550
@soosr I put the extra stuff in my comments under details. Sorry for flooding.
Just to be clear, I started reconcidering the whole send process after realizing that preview shouldn't be the place where we still edit stuff and that having the badges in the preview means user has to go back and forth in many different pages, in some cases.
I personally prefer to see everything at once but I understa

[2022-07-13 10:12] soosr commented on #8699
It seems clicking on any `NativeMenuItem` does not hide the TrayMenu. Simple repo to remove the command from the `Hide`.

I don't know if we should implement something (is it possible at all?) or if Avalonia should support it... @wieslawsoltes @danwalmsley?

[2022-07-13 10:30] soosr commented on #8550
Can you elaborate on this? I don't understand.

Badges are meant to indicate differnet transaction related things. By hovering over the badge we would give an option to the user to achieve that badge with a single click of course if it is possible to achieve at all. Why should they navigate back?

Real-time badges are not possible. We cannot check anything until we build a transaction. It cannot w

[2022-07-13 12:10] BTCparadigm commented on #8550
Let's say I want to send a payment of 0.01 BTC (round amount). BnB shield will suggest me how can I avoid change output but sometimes the suggestions are too big(?), so user doesn't want to use that option. Still, the problem is change and round amount payment.

- Having change in a payment is not good but ok.
- Making a round amount payment with semi- or private coins and producing change is not

[2022-07-13 13:48] SuperJMN commented on #8690
Thanks @soosr for the suggestion! I find that approach interesting if the number of elements in the search bar increases. For now, it's not a maintainability pain point. If it becomes hard to maintain, I'm sure that is the correct strategy to follow.

[2022-07-13 14:21] SuperJMN commented on #8649
This is reportedly fixed by @danwalmsley in Avalonia :) It should be fixed in Wasabi Wallet as soon as the fixed Avalonia is used.

[2022-07-13 19:06] suschizu opened #8710 "Wrong version notation in macOS downloads 2.0.1.1 and 2.0.1.2"
### General Description
the downloads:
https://github.com/zkSNACKs/WalletWasabi/releases/download/v2.0.1.2/Wasabi-2.0.1.2-arm64.dmg
https://github.com/zkSNACKs/WalletWasabi/releases/download/v2.0.1.2/Wasabi-2.0.1.2.dmg
https://github.com/zkSNACKs/WalletWasabi/releases/download/v2.0.1.1/Wasabi-2.0.1.1-arm64.dmg
https://github.com/zkSNACKs/WalletWasabi/releases/download/v2.0.1.1/Wasabi-2.0.1.1.dmg

[2022-07-13 19:17] microlity commented on #8535
Already "played" a bit in modifying Tails configuration. It seems that at least tor config as well as ferm config has to be modified in order to add support for WW2. Then I decided to better not break things and modify a running (and as announced secure) system.

Technically it should be possible but might also conflict some [basic rules applied to the distribution for network filtering](https://t

[2022-07-14 05:28] wieslawsoltes commented on #8676
We now have fix merged into Avalonia https://github.com/AvaloniaUI/Avalonia/pull/8492

[2022-07-14 13:53] MaxHillebrand commented on #8538
There are alternative solutions:

Any first round could has a rather low credential size, if a higher value input registers, it does not register outputs, thus the round fails, and in the blame round the credential size is larger.

Or have a hard cap on credential size, if a large input registers he requests the maximum value credential, and registers a change output unblinded and with no privacy,

[2022-07-14 19:28] BTCparadigm opened #8714 "Coinjoin strategy as a part of wallet creation workflow."
### General Description

I'm writing docs FAQ about how to create a wallet and I realized, that I have to also explain coinjoin strategies, because they are in the wallet creation workflow. To me this looks weird.
Could we separate these?
Maybe strategy gets asked when clicking `Play` for the first time?
That would be a good time to also tell more about fees, as that was one feedback that came up

[2022-07-14 21:12] MarnixCroes opened #8715 "Send control your privacy - many labels"
https://user-images.githubusercontent.com/93143998/179086268-7d689057-c8fb-4568-a18e-56f2d52a72d5.mp4

To make a proper decision, I need to see all the labels without scrolling.

fix could be to be able to enlarge the view when many labels

[2022-07-14 22:27] Transisto opened #8717 "Resource usage, didn't use the wallet yet."
<img alt="image" src="https://user-images.githubusercontent.com/388716/179098856-4652c272-9130-44b7-8dee-f701fb368566.png">

[2022-07-14 22:39] BTCparadigm opened #8718 "Add optional description field to send workflow"
### General Description

Many users are currently misusing the labels, as they write in much more than just the names of entities that knows this address belongs to the recipient.
It is important to be able to attach additional information, like invoice or reference numbers, to a transaction.

I believe this should be in the default send workflow, so users know this field exists and they stop misu

[2022-07-14 22:45] BTCparadigm opened #8719 "Enable label editing"
### General Description

Currently, there is no way to edit labels in the UI. This was possible in 1.0.
Reasoning in docs:
"This is useful when you have generated a receiving address with a specific label, but then the cause for receiving has changed."
Or you find out that more than the originally labeled entities know that this address belongs to you.

https://docs.wasabiwallet.io/FAQ/FAQ-UseWasa

[2022-07-15 02:06] yahiheb commented on #8717
What do you mean by the title and what do those numbers mean? Do you mind describing your issue more.

[2022-07-15 04:01] Transisto commented on #8717
I installed the wallet yesterday and left it open doing nothing, Balance 0.00000000 BTC.
The screenshot mean it used 9.5 hours of CPU time during that time and is currently using 30% CPU.

[2022-07-15 06:41] soosr commented on #8718
Is this true? I mean "currently".
We are literally giving a short description and the title is also self-explaining "Recipient" and it is shown in a separate dialog to enforce the user the only focus on one input field. How can anyone misunderstand it?

I can imagine this was the case in 1.0 and now they cannot use the label selection properly but is this really still the case in 2.0?

[2022-07-15 06:46] soosr commented on #8714
Autocoinjoin is enabled by default, that is why the user must select a CJ profile in order to avoid the balance being drained.

I understand the problem and kind of agree.
The only way to fix it is to disable the default auto CJ for new wallets (so the dialog will pop when they enable it or press play) but this was discussed a few times and we want auto CJ enabled by default.

[2022-07-15 07:32] MaxHillebrand commented on #8718
I challenge you to find a screenshot here on Github of one of our own contributors who did NOT misuse the observer label. Basically everyone I see using the wallet misuses it, including me.

However, I do agree, it's a much more clear UX in 2.0

[2022-07-15 07:35] MaxHillebrand commented on #8719
In 1.0 you could also only edit unused address labels.

This would be a nice feature, but I believe it's difficult to do, there were some arguments against it in the past I don't remember.

[2022-07-15 07:38] BTCparadigm commented on #8718
Yes, as it doesnt matter what we try to push users to do, they will use the tool in a way that suits their needs.

[2022-07-15 08:49] jmacato commented on #8699
lemme try if this repro's on macOS

[2022-07-15 11:03] BTCparadigm commented on #8719
Found this [huge old thread ](#2455) where 2 users voiced that they would like to edit labels after address have been used. Both valid use cases.
Didn't see a refute for editing, other than "Thus we cannot add an edit label option for the coins in a way you imagine. It would be something like "edit the last transaction label" from @molnard and that sounds fine IMHO.

[2022-07-15 11:40] #8714 closed

[2022-07-15 11:46] BTCparadigm opened #8722 "Improve fee explanation"
### General Description

Some users have pointed out, even though it's a positive suprise, that the coinjoin strategy page doesn't explain fees correctly.
This is the case for users that have 1.0 mixed coins or the ones under PlebStopLimit, as we are not charging them any coordinator fees.

![179067714-1bcfda57-a037-424b-9b03-4978e8b8a483](https://user-images.githubusercontent.com/51679301/1792169

[2022-07-15 15:27] yahiheb commented on #8719
The link is wrong.

[2022-07-15 17:43] yahiheb commented on #8710
@jmacato Can you take a look at this one?

[2022-07-15 19:41] yahiheb commented on #7767
User reporting this issue https://github.com/zkSNACKs/WalletWasabi/discussions/8723

[2022-07-15 19:55] MarnixCroes opened #8725 "UI crash: Nullable object must have a value."
Using the `Tab` key I got this crash.
I´ve not been able to repro.
feel free to close the issue if not useful

[code]

### Version
140a7dafa3d593af17ac324655748388bb39d770

[2022-07-16 01:16] Transisto commented on #8717
On, latest M1 chip I get ~8% cpu on idle. (still haven't used the wallet)

I could understand some CPU usage when a new blocks comes out but this is constant.

[2022-07-16 05:14] jmacato commented on #8710
<img width="214" alt="Screen Shot 2022-07-16 at 1 14 19 PM" src="https://user-images.githubusercontent.com/16554748/179340428-ef54bbd8-5a9d-487c-b206-201696dd8ebf.png">

can confirm @yahiheb

[2022-07-16 09:09] yahiheb commented on #8181
Apparently this can be because of banned coins:
https://github.com/zkSNACKs/WalletWasabi/discussions/8720#discussioncomment-3161298
https://github.com/zkSNACKs/WalletWasabi/discussions/8724

[2022-07-16 16:14] Tanyasky88 opened #8731 "Need help? Click here!"
### Discussed in https://github.com/zkSNACKs/WalletWasabi/discussions/5185

<div type='discussions-op-text'>

<sup>Originally posted by **BTCparadigm** February 11, 2021</sup>
<img width="980" height="240" alt="Top banner" src="https://user-images.githubusercontent.com/51679301/111183211-5915a700-85b8-11eb-8206-299487021ae7.png"></a>

| Frequently Asked Questions | Documentation | New Discussion |

[2022-07-16 16:18] Tanyasky88 commented on #8731
I downloaded Wasabi wallet. Everything looked right. When tried to reopen it, I can't get back into it. Could someone help me find it? Would hate to have to switch to another wallet. Thanks.

[2022-07-16 19:47] yahiheb commented on #8731
When you try to re open what?
Your issue is not clear, do you mind explaining it more?

[2022-07-17 18:11] MarnixCroes commented on #8681
I prefer current one tbh.
Maybe keep current and when I click the area outside the options, none get selected?

[2022-07-18 05:59] soosr commented on #8681
That is not a selection, cannot be cleared. That just marks the default workflow if you press ENTER.
If it deceives the users and they think that is a selection, we should make it not look like a selection meanwhile still differentiate that from the others somehow.

[2022-07-18 06:16] soosr commented on #8719
I think he meant https://github.com/zkSNACKs/WalletWasabi/issues/2455

[2022-07-18 06:56] MaxHillebrand opened #8733 "[VDG] Remember textbox focus"
This is a quirk specific to i3wm, and probably other window tiling managers, maybe even for regular desktop.

When I have two windows next to each other, and the focus is in Wasabi's textbox, but when I move focus to the other window [with keyboard shortcut], and back again to Wasabi, the textbox is no longer in focus, I have to move the mouse and click in it to start typing again.

This is quite

[2022-07-18 06:58] MaxHillebrand opened #8734 "Remember fee rate all the time"
I believe that after an update, the default fee rate for single-user payments is increased to the maximum again, even if previously the user selected a different fee rate. It should remember the previously selected fee rate even after an update.

[2022-07-18 07:52] MarnixCroes opened #8735 "Settings - Local BTC core/Knots Data folder empty"
I´ve made the field empty before, but now it stays empty even after restart
It should show it again.

https://user-images.githubusercontent.com/93143998/179466562-01abb29d-508b-4084-8b63-5a6c819357a4.mp4

[2022-07-18 08:34] nopara73 commented on #8676
Got another crash. Since I wasn't doing anything with the wallet I assume it most likely crashed for a transaction confirmation.

[code]

[2022-07-18 08:39] nopara73 commented on #8676
master

[2022-07-18 08:57] MaxHillebrand commented on #8180
There can be some nice animations with each change of the utxo set [coinjoin or payment] to move to the new state of the privacy level.

Also an animation when hovering over a certain utxo.

@jmacato

[2022-07-18 09:34] MaxHillebrand commented on #8582
This also happens when receiving money inside a wabisabi coinjoin, like the coordinator in this example.

![2022-07-18-112350](https://user-images.githubusercontent.com/30683012/179483802-834f1d1e-eb3c-459f-bf59-6318ded396bc.png)62ff40bfc89c85d0d1ce60a087e86be260596fba172990ac4153759cf9ca5d3b

These are the three IDs in the order of the picture, but non of the incoming amounts shown in Wasabi are

[2022-07-18 09:46] MaxHillebrand opened #8742 "[VDG] red coin isolation in wallet settings"
The red coin isolatoin #8522 is not shown in the `wallet settings`, it is only shown when you go to `Coinjoin strategy: change` and then `Customize`.

this settings should already be in the first `wallet settings` screen.

@zkSNACKs/visual-design-group

[2022-07-18 09:50] MaxHillebrand opened #8744 "[VDG] Coinlist does not update coinjoin state"
The Ctrl+C+D coinlist does not refresh / update when additional coins get registered to a coinjoin round. The dialog has to be closed and reopened to see the additional registered coins.

[2022-07-18 13:42] soulcare577 opened #8746 "New Wasabi 2.0.1.2"
Hello everyone, I need help. I just downloaded the new Wasabi wallet 2.0.1.2. But I am finding it tedious to coinjoin. Can someone put me through, please? I coinjoin since yesterday and still have not completed it. The old Wasabi doesn't take this long. I guess I didn't get the logic right or does it take forever like this to complete? It's been more than 15 hours and still not done. Someone shoul

[2022-07-18 13:50] MarnixCroes commented on #8722
I agree. I have been thinking about this and how to improve the coinjoin strategy dialog in general

An idea of  mine is:
the info is written on the back of the "card", if you turn the card you see the binding info of that one

or not display fees etc like this, but the binding settings for each profile, which are now only shown if you click customize

![image](https://user-images.githubuserconten

[2022-07-18 13:57] MaxHillebrand commented on #8742
I think settings pages should be comprehensive.

It was confusing for me that the two screens are almost identical, but that settings is missing.

[2022-07-18 14:28] yahiheb commented on #8681
I don't think that we have an issue here.
We can figure out something for taking screenshots for the docs, but it is good as it is IMO.

[2022-07-18 15:01] soulcare577 commented on #8746
@[MaxHillebrand](https://github.com/MaxHillebrand)  Thank you so much for this information.

[2022-07-18 17:22] gus3008 opened #8747 "Stops when launching: System.InvalidOperationException: Default font family name can't be null or empty."
### General Description

Wassabee stops when launching and showing the error:

`2022-07-18 12:10:26.153 [1] CRITICAL    Program.Main (132)      System.InvalidOperationException: Default font family name can't be null or empty.`

### How To Reproduce?

1. Launch wassabee from cli or icon

### Operating System

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=22.04
DISTRIB_CODENAME=jammy
DISTRIB_DESCRIPTION="Ubunt

[2022-07-18 18:06] yahiheb commented on #8747
@zkSNACKs/visual-design-group

[2022-07-19 08:03] soosr commented on #8747
@jmacato This is interesting, can you take a look?

[2022-07-19 11:54] MaxHillebrand commented on #8180
To summarize, the initial implementation should show a ring chart with segments the size of their sats value, and the color based on their anonset (1, below target, above target). In the center it shows the same progress percentage as now.

This is insight only, no control, it's not clickable. At least for now, we can refine this in the future.

@ichthus1604 can you take a swing at implementing th

[2022-07-20 05:45] soulcare577 commented on #8746
@[MaxHillebrand](https://github.com/MaxHillebrand) Thank you for this information. It is showing 99% privacy progress. I did what you said. Good connection, my Wasabi is running in the background. I have been on this since three days ago. Not showing the blue sticker yet. Any more suggestion on what to do, please?

[2022-07-20 06:28] MaxHillebrand commented on #8746
99% privacy progress means that you are basically done already!
There is only 1% of your wallet balance that is below your privacy target.
You can start making payments now, everything is fine.

[2022-07-20 16:39] soulcare577 commented on #8746
@[MaxHillebrand](https://github.com/MaxHillebrand) Oh, thank you.

[2022-07-20 18:03] yahiheb commented on #3887
This is now obsolete.

[2022-07-20 18:03] #3887 closed

[2022-07-21 06:56] nopara73 commented on #8676
UI crashed again. I think we can say now this happens frequently.

[2022-07-21 07:46] #8365 closed

[2022-07-21 09:46] danwalmsley commented on #8676
@nopara73 about to merge new avalonia pr to master, so should be a thing of the past.

Probably we should get a patch release out though

[2022-07-21 10:03] jmacato commented on #8747
seems to be yet another fontconfig issue, will take a look if i can repro this

[2022-07-21 10:16] #8694 closed

[2022-07-21 10:19] #8631 closed

[2022-07-21 10:19] #8676 closed

[2022-07-21 10:19] #8699 closed

[2022-07-21 11:08] nopara73 opened #8758 "UTXO ordering to consider yellow triangles"
It seems UTXO ordering does not consider the yellow triangles. Should be easy to fix. @SuperJMN can you give it a god?

![image](https://user-images.githubusercontent.com/9156103/180199486-fc40af07-4b44-4894-8b07-f9f9fd3131fe.png)

[2022-07-21 14:50] #8226 closed

[2022-07-22 10:00] #8758 closed

[2022-07-22 11:05] #8733 closed

[2022-07-22 12:19] onvej-sl opened #8763 "Tests freeze rather than fail"
There are some tests that end up in an infinite loop instead of failing when something goes wrong. Namely, I suspect these tests:
  * https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi.Tests/UnitTests/WabiSabi/Backend/PhaseStepping/StepTransactionSigningTests.cs#L246-L249
  * https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi.Tests/UnitTests/WabiSabi/Client/BobClientT

[2022-07-22 17:19] yahiheb opened #8765 "Show address on hardware wallet error. HwiException: No path supplied matched device keys"
How to reproduce:

- Generate an address for a hardware wallet
- Click `Show on hardware wallet`

![saasa](https://user-images.githubusercontent.com/52379387/180585059-fa4ce2e6-48cb-4bb4-bd92-1626a35b5663.PNG)

[code]

I used a Trezor T
Tested this broken both on the current master c589a0aa5e94af9f47c5df8e64bb2f247a834da6 and on #7791

[2022-07-22 17:45] molnard commented on #8763
How about this? https://github.com/zkSNACKs/WalletWasabi/pull/8766

I would prefer cancellationTokens.

[2022-07-23 09:14] MarnixCroes opened #8769 "musicbox messag bug when pause"
message `Round finished, waiting for next round`, shortly displayed in musicbox when pressing pause

repro:
quickly press pause after `Waiting for other participants`
it only happens if you press pause within a couple seconds

https://user-images.githubusercontent.com/93143998/180598480-f5b07942-2431-4f31-8f6d-338dd28709cb.mp4

[2022-07-23 10:16] nopara73 opened #8771 "Hide Exception in log"
When a round has not enough participants then we get this exception on the client side. @adamPetho can you hide it?

[code]

[2022-07-23 10:24] nopara73 opened #8772 "Hide Exception in log"
When user clicks on the pause button while registered a coin then we get this exception on the client side. @adamPetho can you hide it? Similar to https://github.com/zkSNACKs/WalletWasabi/issues/8771

[code]

[2022-07-23 11:21] nopara73 commented on #8676
I've been testing this day and night and I can confirm this is fixed!

[2022-07-23 17:30] muthuh opened #8773 "Client keeps crashing with Collection was modified; enumeration operation may not execute."
### General Description

The client keeps crashing randomly, I tried to send out some bitcoin, the transaction appears in the log, as well as some conjoin operations after it. But the bitcoin never reached the recipient.

### How To Reproduce?

Don't have a repro, it seems to happen randomly

### Screenshots

If applicable, add screenshots to help explain your problem.

### Operating System

Windo

[2022-07-23 18:44] MarnixCroes commented on #8773
Hi,
thanks for reporting.

This is a known bug and has just been fixed.
But it is not yet released.

[2022-07-23 18:48] muthuh commented on #8773
Hi, thanks for a quick response! Is there a way to mitigate it locally while I wait for the new release?

[2022-07-23 18:57] MarnixCroes commented on #8773
No not really, except building from source.
This gives you the latest commits, including the fix.
If you have the knowledge and skill you can try building it from source, update and run this.

This is explained here https://github.com/zkSNACKs/WalletWasabi#build-from-source-code &
https://docs.wasabiwallet.io/using-wasabi/BuildSource.html#get-the-requirements

Otherwise, as you say, you need to wa

[2022-07-24 17:28] engdude opened #8779 "tor errors reading ipv6 data file and fix"
### General Description

This is more of a tor issue but since it's packaged together I thought I should mention it and how to correct it. When launching the wallet,  tor has issues loading the ipv6 data file  due to \r on every line.
The errors are in Torlogs.txt

Tor version:
Tor 0.4.7.8 (git-7528524aee3ffe3c)

Fix:
Easy fix is to remove the \r from the file (using tr or sed)

sed 's/\r$//' geoi

[2022-07-24 23:28] nk1tz commented on #8378
@wieslawsoltes @yahiheb I'm using the default touchpad on the M1 Mac.
Here is a gif:

![janky scroll](https://user-images.githubusercontent.com/12980165/180670223-b0a454a9-a33c-4dda-b330-26a5b2e22e9e.gif)

[2022-07-25 08:47] MarnixCroes commented on #8773
If you have any remaining questions check https://github.com/zkSNACKs/WalletWasabi/discussions/5185
or ask your question here https://github.com/zkSNACKs/WalletWasabi/discussions/categories/support

[2022-07-25 08:47] #8773 closed

[2022-07-25 09:44] MaxHillebrand commented on #8231
solved by #8256 & #8225

[2022-07-25 09:44] #8231 closed

[2022-07-25 09:50] #6630 closed

[2022-07-25 09:56] MaxHillebrand opened #8781 "Load wallet in background"
As soon as Wasabi starts, load all [or user selected] wallets, meaning scan the filters for the keys, download and process blocks, calculate anonscore etc.

This should be done in the background.

When the user later opens Wasabi, there should be the same log-in screen with password, but after input the home screen of the already loaded wallet should pop up instantly.

[2022-07-25 12:52] molnard commented on #8582
Are we sure about that? Some might debate that it is a small CoinJoin.

[2022-07-25 12:54] molnard commented on #8582
Is this related to the original issue? The order is the problem or the detection of the CoinJoin?

[2022-07-25 13:09] MaxHillebrand commented on #8582
I first noticed the issue in the payjoin case, but then was able to reproduce with the coordinator wallet (receiving in coinjoin), so the main problem is the negative outgoing amount, which is probably related to coinjoin vs payment classification.

[2022-07-25 13:56] nopara73 commented on #8440
https://github.com/zkSNACKs/WalletWasabi/pull/8613

[2022-07-25 13:56] #8440 closed

[2022-07-25 13:59] nopara73 commented on #8463
Removed a while ago.

[2022-07-25 13:59] #8463 closed

[2022-07-25 17:40] alexvanrain opened #8783 "An object implementing IHandleObservableErrors (often a ReactiveCommand or ObservableAsPropertyHelper) has errored, thereby breaking its observable pipeline. To prevent this, ensure the pipeline does not error, or Subscribe to the ThrownExceptions property of the object in question to handle the erroneous case."

[2022-07-25 17:41] alexvanrain commented on #8783
Nicc0l0$Borgia!

Nicc0l0_Picc0l0!

victory actress south chimney puzzle prefer lend blast injury shuffle island elbow

An object implementing IHandleObservableErrors (often a ReactiveCommand or ObservableAsPropertyHelper) has errored, thereby breaking its observable pipeline. To prevent this, ensure the pipeline does not error, or Subscribe to the ThrownExceptions property of the object in questio

[2022-07-25 19:15] mchapiro1 opened #8784 "Index file inconsistency detected [crash log]"
[worked fine after restarting]

Index file inconsistency detected.

   at WalletWasabi.Stores.IndexStore.ProcessLine(String line, Boolean enqueue) in WalletWasabi/Stores/IndexStore.cs:line 188
   at WalletWasabi.Stores.IndexStore.InitializeFiltersAsync(CancellationToken cancel) in WalletWasabi/Stores/IndexStore.cs:line 167
   at WalletWasabi.Stores.IndexStore.InitializeAsync(CancellationToken canc

[2022-07-25 19:26] Transisto opened #8785 "Add coin list to search bar"
Suggestion, : Put the button somewhere and make it appear when searching for "utxo"

![image](https://user-images.githubusercontent.com/388716/180858500-0c2696d1-0ece-4252-ae1a-500a1571e532.png)

[2022-07-25 19:28] Transisto opened #8786 "Scrolling of UTXO list with mouse wheel is broken."
I'm not sure what is happening, Seems to always stop.

For sure when a label end up under the mouse it stops.

[2022-07-25 19:30] Transisto commented on #8786
Also the scroll bar is very hard to see or touch.

![image](https://user-images.githubusercontent.com/388716/180858999-f767d136-a742-4a03-adf1-8b787d69e160.png)

![image](https://user-images.githubusercontent.com/388716/180859115-52216eb0-47a9-43e2-a549-d3fbe11c7e53.png)
(There is a box of different color in this screenshot above.)

[2022-07-25 19:59] yahiheb commented on #8783
@alexvanrain Does Wasabi  crash after starting it?

I guess is a duplicate of:

https://github.com/zkSNACKs/WalletWasabi/issues/8603
https://github.com/zkSNACKs/WalletWasabi/discussions/8597
https://github.com/zkSNACKs/WalletWasabi/discussions/8467
https://github.com/zkSNACKs/WalletWasabi/discussions/8590

[2022-07-25 20:01] yahiheb commented on #8784
Which Wasabi version are you using?

[2022-07-25 20:16] mchapiro1 commented on #8784
2.0, built from source. It's possible that it was closed non-gracefully. Not an issue for me since it's working now, I just wanted to share the log in case it is useful.

[2022-07-25 20:43] Transisto opened #8787 "Coordinator fee should follow mining fee so the total fee can help discover demand for mixing at various rates."
Currently at ~2sat/bytes someone would need to me mixing about 25$ for the coordinator fee to be the same as network fee.

I think the coordinator fee should be a multiple of the network fees.

[2022-07-26 01:30] yahiheb commented on #8784
@mchapiro1 Thank you for the feedback.

[2022-07-26 01:34] yahiheb commented on #8786
Are you running Wasabi from source or which version are you using?

[2022-07-26 09:59] adamPetho commented on #8765
Couldn't reproduce this neither on TestNet or Mainnet and on current master https://github.com/zkSNACKs/WalletWasabi/commit/c22a262164d6b1547db9e77d5d785c017e907f60.

With a bit of delay, `Trezor T` showed the address without any exception.

Which firmware version does your Trezor T use rn?  Mine is `2.5.1. `

[2022-07-26 12:05] MaxHillebrand commented on #8649
is this fixed on current master?

[2022-07-26 12:06] MaxHillebrand commented on #8665
is that fixed on current master?

[2022-07-26 12:08] MaxHillebrand commented on #8490
can this be closed?

[2022-07-26 13:25] Szpoti commented on #8665
nope

[2022-07-26 15:39] MaxHillebrand opened #8788 "[VDG] tooltip background box whitespace"
Tooltips have a white background box in i3wm. It would be nice to at least remove the large whitespace at the top.

![2022-07-26-163422](https://user-images.githubusercontent.com/30683012/181034733-fe1f11b6-d61f-4f66-8a37-69db82e56d60.png)

Low priority

[2022-07-26 16:04] MarnixCroes opened #8789 "[UI] Send - ´To´ field cuts off some letters at bottom"
![image](https://user-images.githubusercontent.com/93143998/181054218-32f08864-2065-434b-9559-3a6ce7059287.png)
![image](https://user-images.githubusercontent.com/93143998/181057522-e9bea8b7-2f06-446e-b392-35f94ae25732.png)

[2022-07-26 16:48] MarnixCroes commented on #8789
A tiny bit :')

[2022-07-27 04:42] jmacato commented on #8788
I think this is an inherent problem on Qubes/i3 since it forces windows to be visible against a rectangular border for security purposes iirc.

[2022-07-27 06:27] MaxHillebrand commented on #8788
Probably, but at least removing the extra whitespace seems reasonable.

[2022-07-27 15:08] yahiheb opened #8794 "Crashed while doing coin selection"
### Discussed in https://github.com/zkSNACKs/WalletWasabi/discussions/8793

<div type='discussions-op-text'>

<sup>Originally posted by **samo-sato** July 27, 2022</sup>
Hello,
Today Wasabi Wallet crashed while doing payment via coin selection. First two attempts ended in crash. Third attempt was successful.

It happened like this:
1. open app
2. open wallet
3. show coin selection using ctrl+c+d
4

[2022-07-27 15:12] yahiheb commented on #8783
@zkSNACKs/visual-design-group

[2022-07-27 15:14] yahiheb commented on #8783
@zkSNACKs/visual-design-group Can you guys take a look at this issue, and the other mentioned issues?

[2022-07-27 15:48] soosr commented on #8538
I have played a bit.

[Here ](https://github.com/zkSNACKs/WalletWasabi/compare/master...soosr:WalletWasabi:measure-requests-responses?expand=1)is the code that I did the measurement with.

Either the measurement is not accurate or there is no benefit in decreasing the max input amount.

[code]

[2022-07-27 17:56] Transisto opened #8796 "Is this a stop button? Doesn't do anything when clicking on it."
![image](https://user-images.githubusercontent.com/388716/181340038-eb9a52c7-a7fc-4341-a9cc-232aa43fd612.png)

[2022-07-27 17:58] yahiheb commented on #8796
As you can see it is grayed out and I believe at that stage you can't stop coinjoining, in fact you can't even close Wasabi unless you force close it.

[2022-07-27 18:00] Transisto commented on #8796
Ok, thank you.

[2022-07-27 18:00] #8796 closed

[2022-07-27 18:05] Transisto opened #8797 "Crashed"
Can't remember doing anything special,

Collection was modified; enumeration operation may not execute.

   at Avalonia.Controls.Classes.NotifyChanged() in /_/src/Avalonia.Styling/Controls/Classes.cs:line 320
   at Avalonia.Controls.Classes.Remove(String name) in /_/src/Avalonia.Styling/Controls/Classes.cs:line 192
   at WalletWasabi.Fluent.Behaviors.HistoryItemTypeClassBehavior.RemoveClasses()

[2022-07-27 19:58] yahiheb commented on #8797
This bug and has already been fixed on master.

[2022-07-27 20:00] #8797 closed

[2022-07-27 23:30] Transisto commented on #8678
This is very basic, Just look at what electrum show for transaction details.

It uses the same are as wasabi for details.

![image](https://user-images.githubusercontent.com/388716/181389784-77f6cce2-d867-46e4-9d94-f708fe6deb09.png)

[2022-07-28 08:23] soosr commented on #8794
I can repro this by simulating that the backend is down.

What should be the proper behavior in this case? Should we only allow manual fee entry?

[2022-07-28 08:27] soosr commented on #8783
@alexvanrain Which version are you using?

@SuperJMN Can you confirm that since https://github.com/zkSNACKs/WalletWasabi/pull/7478 is merged, we should have seen the real exception, right? (if it was the latest version)

Without a real exception, there is no chance to figure out what caused it...

[2022-07-28 08:34] SuperJMN commented on #8783
OK, I will make some tests to see if there's any scenario in which the code doesn't trace the real exception.

[2022-07-28 08:34] soosr commented on #8788
It can be decreased a bit, but definitely not removed. It would look ugly.

[2022-07-28 08:41] soosr commented on #8649
Yes.

[2022-07-28 08:41] #8649 closed

[2022-07-28 08:54] Szpoti opened #8800 "Add stream download option to `IHttpClient`"
### General Description

The purpose of this feature is mainly to download the new software version through Tor as described under [this PR, read further here](https://github.com/zkSNACKs/WalletWasabi/pull/8741), but it's a good to have and can be used as well later.

Should have similar behaviour as the clearnet `HttpClient.GetStreamAsync(url)` has, so when a background download is needed, we won

[2022-07-28 10:38] soosr opened #8802 "[VDG] CurrencyEntryBox - invalid state when backend is not connected"
![image](https://user-images.githubusercontent.com/16364053/181485988-e4cea621-f104-4a18-a6b3-45cef469c96c.png)

USD entry field shouldn't be possible if the backend is not connected, because the service that gives the rate is unreachable.

[2022-07-28 10:39] soosr commented on #8802
Same on the transaction preview screen. USD amounts should be hidden.

[2022-07-28 11:38] nopara73 commented on #8538
@lontivero please take a look at what's going on here

[2022-07-28 18:13] yahiheb commented on #8797
You can now download the current latest release https://github.com/zkSNACKs/WalletWasabi/releases/tag/v2.0.1.3 where this issue is fixed.

[2022-07-28 18:14] yahiheb commented on #8773
You can now download the current latest release https://github.com/zkSNACKs/WalletWasabi/releases/tag/v2.0.1.3 where this issue is fixed.

[2022-07-28 21:05] alexvanrain commented on #8783
The issue was with my internet provider and probably it was blocking some traffic. I used vpn and everything worked just fine.

[2022-07-28 21:53] SuperJMN commented on #8783
Thanks @alexvanrain for the info. This will help as track down the problem.

[2022-07-28 22:36] yahiheb commented on #8783
@alexvanrain Thank you for you feedback.
Let's keep this issue open for now until we further investigate it.

[2022-07-29 08:49] SuperJMN commented on #8209
Could this help? https://github.com/zkSNACKs/WalletWasabi/pull/8760

[2022-07-29 09:27] #8209 closed

[2022-07-29 13:39] onvej-sl opened #8814 "Inconsistency in effective value computation"
I found the following bug in the wabisabi client: The client computes the effective values of other participant's coins differently than coordinator. To be specific, the client [doesn't take into account](https://github.com/zkSNACKs/WalletWasabi/blob/059c615b9f8aa0f51c8e078865c3619cc93849d8/WalletWasabi/WabiSabi/Client/CoinJoinClient.cs#L966) that remixes [don't pay](https://github.com/zkSNACKs/Wa

[2022-07-29 16:09] lontivero commented on #8814
Yes, this is a known issue. The "remixes don't pay" was added late and it was not part of the original protocol, for that reason light client has not way to know whether somebody else's input pays or not coordination fees. The only way to solve this would be by trusting the coordinator and receive one extra bit per input but in that case, given all the clients should agree in the same set of denom

[2022-07-29 16:39] molnard opened #8815 "Wrong balance in history"
### General Description

I have consolidated all my coins, by sending them to myself. According to history, I've doubled my money.

### Screenshots

![image](https://user-images.githubusercontent.com/9844978/181805157-2ea0e8c0-38e2-4101-994c-fda133b0a96a.png)

### Logs

Please consider your privacy, before completing this section.
You can find the log file by opening it from the main menu: `File/O

[2022-07-29 19:03] MaxHillebrand opened #8816 "Abandon coins in blame round when large change output"
Despite max suggested input value, we still often see rounds where a whale has a lot more money than the other users, thus generating a non-standard amount change coin, which might even reveal the whale's input cluster.

In a fresh round after input registration, the whale sees that he would generate change, so he can refuse to sign with the Alice's of his high value inputs. Then in the blame roun

[2022-07-29 19:59] MaxHillebrand commented on #2110
There could also be a fiat mode, where all amounts are displayed in USD, including the transaction history (maybe historic prices here, if possible?)

These different display units could also be toggled by clicking the balance amount on the homescreen.

[2022-07-29 20:59] engdude commented on #8815
Maybe not my place, or I missed something but the math in the history  looks correct. The total Balance at the top looks to be displaying the last incoming item.
0.10004644-0.0000505+0.09997742=0.19997336

[2022-07-29 23:54] yahiheb commented on #8815
He made a self transfer to the same wallet, so that tx should show only the fee in the outgoing column.

FWIW I couldn't reproduce this.

[2022-07-30 08:24] MaxHillebrand opened #8818 "Crash Invalid Hex String"
### Discussed in https://github.com/zkSNACKs/WalletWasabi/discussions/8817

<div type='discussions-op-text'>

<sup>Originally posted by **smilzo05** July 30, 2022</sup>
![D17658A7-3F3F-4629-BAE4-9128E2F36151](https://user-images.githubusercontent.com/110279472/181879642-ab4d0ffa-26bf-4ddc-bfd0-211d129509da.jpeg)
hello, when i start wasabi 2.0.1.3 i get this message, if i restart wasabi it fails to

[2022-07-30 16:14] MaxHillebrand opened #8820 "Buy Bitcoin button, bisq integration"
One of the obvious but often neglected user feedback is "Wasabi looks cool, but I don't have any bitcoin yet" in this case the wallet is utterly useless.

Enabling users to buy their first bitcoin inside Wasabi would likely enable a huge new user base. Of course we want to do it in a privacy optimized implementation.

I believe [Bisq](https://github.com/bisq-network/bisq) is a privacy focused, sel

[2022-07-31 01:49] Transisto opened #8824 "crash"
Collection was modified; enumeration operation may not execute.

   at Avalonia.Controls.Classes.NotifyChanged() in /_/src/Avalonia.Styling/Controls/Classes.cs:line 320
   at Avalonia.Controls.Classes.Remove(String name) in /_/src/Avalonia.Styling/Controls/Classes.cs:line 192
   at WalletWasabi.Fluent.Behaviors.HistoryItemTypeClassBehavior.RemoveClasses()
   at WalletWasabi.Fluent.Behaviors.Histor

[2022-07-31 08:25] yahiheb commented on #8824
@Transisto Are you using the latest Wasabi version? [v2.0.1.3](https://github.com/zkSNACKs/WalletWasabi/releases/tag/v2.0.1.3)

If not then use the latest version, where this issue is fixed already.

[2022-08-01 05:53] soosr commented on #8815
@molnard Was it on RegTest?

[2022-08-01 06:19] MaxHillebrand commented on #8815
Might be related to https://github.com/zkSNACKs/WalletWasabi/issues/8582?

[2022-08-01 09:32] molnard commented on #8815
MainNet.

[2022-08-01 09:32] molnard commented on #8815
Yes I think so.

[2022-08-01 10:08] #8435 closed, assigned to kiminuo

[2022-08-01 10:30] soosr commented on #8815
Ok, so it is clear that it is not an issue with the balance calculation in the history, but an issue in the transaction history builder.
I can't repro. @molnard Does your wallet still show it incorrectly? Couldn't we debug it with that?

[2022-08-01 10:38] MarnixCroes opened #8830 "musicbox message stuck at waiting for confirmed coins, while all coins confirmed and none banned"
There have been some more musicbox `waiting for confirmed coins` issues, in combination with banned coins.

This seems to be a different one.
on a small testnet wallet: all coins confirmed, none banned
stuck at waiting for confirmed coins

![image](https://user-images.githubusercontent.com/93143998/182130095-e7c5d3ca-b54f-4473-ac38-5c2215214a48.png)

this might be related/causing it:
[code]

[2022-08-01 12:36] onvej-sl commented on #8814
I think there is nothing bad on trusting the coordinator in this case. You trust other participants that they use the same amount decomposition algorithm, anyway.

I would rather publish the real effective value of the input. This is more future-proof.

Are you going to fix this issue in the future?

[2022-08-01 12:44] MaxHillebrand opened #8834 "Improve block download speed"
It might be that the largest bottleneck in wallet loading is block download.

We should look into making it faster.

[2022-08-01 13:12] Transisto commented on #8824
Collection was modified; enumeration operation may not execute.

   at Avalonia.Controls.Classes.NotifyChanged() in /_/src/Avalonia.Styling/Controls/Classes.cs:line 320
   at Avalonia.Controls.Classes.Remove(String name) in /_/src/Avalonia.Styling/Controls/Classes.cs:line 192
   at WalletWasabi.Fluent.Behaviors.HistoryItemTypeClassBehavior.RemoveClasses()
   at WalletWasabi.Fluent.Behaviors.Histor

[2022-08-01 13:14] yahiheb commented on #8824
@Transisto Which version are you using?

[2022-08-01 13:15] #8818 closed

[2022-08-01 13:22] #8824 closed

[2022-08-01 13:33] MaxHillebrand commented on #8818
Potentially this could be a more user friendly message.

[2022-08-01 14:28] lontivero commented on #8538
IIRC the range proofs use 3 points for bit so, reducing from 36bit to 33bit would save 9 points that in their compressed format would mean 9 * 33bytes = 297bytes (594bytes base16 encoded). This is  makes no sense in terms of bandwidth.

[2022-08-01 14:28] #8538 closed

[2022-08-01 15:21] lontivero commented on #8814
Sadly yes, and that's a problem.

In that case the clients would not be able to build the final transaction and sign it.

Idk, we already knew this and decided to let is as it is. Reviewing that decision now is even more difficult.

[2022-08-01 15:38] onvej-sl commented on #8814
I mean to publish the real effective value of the input along with other data that we already publish.

[2022-08-01 16:55] yahiheb commented on #8830
Similar to #8181

[2022-08-02 07:44] MaxHillebrand opened #8841 "Crash report"
### Discussed in https://github.com/zkSNACKs/WalletWasabi/discussions/8840

<div type='discussions-op-text'>

<sup>Originally posted by **bbbjcim** August  2, 2022</sup>
When starting 2.0.1.3 the application attempts to sync with the worlddddd and then this happens (three times in a row today, and after a reboot):

[code]
</div>

[2022-08-02 08:09] soosr commented on #8841
Reason for the crash: https://github.com/zkSNACKs/WalletWasabi/discussions/8840#discussioncomment-3305494

@ichthus1604 Can you take a look and fix it?

[2022-08-02 08:32] MaxHillebrand opened #8842 "[VDG] discrete mode should enable revealing information on mouse hover"
When discrete mode is active, whenever the mouse hovers over a hidden value, show the actual value for 10 seconds, then hide it again.

This makes using the wallet while discrete mode is on A LOT better.

[2022-08-02 08:39] soosr commented on #8842
Absolutely NACK. Imagine you just revealed one of your key information and suddenly someone steps into your room and you have to hide it. Will you ask them "hey please don't look at my screen for 10 seconds, thanks"

The logic shouldn't be complex, show the value until the mouse is on it. As soon see the pointer leaves, hide the value. Better control.

[2022-08-02 08:58] ichthus1604 commented on #8841
@soosr #8844 fixes the immediate crash, but shouldn't we prevent sending at all if `ConversionRate == 0`? it seems to me that this can only happen due to an underlying backend connection failure?

[2022-08-02 09:03] soosr commented on #8841
Nope, sending with the backend is the preferred way, but sending has to be available without it too. There are already solutions for it, like transaction fees are got from BlockExplorer if the backend is down. We could do something similar to the USD provider too, but there are cases when even without internet it should work. i.e. Hardware wallet PSBT workflow.

[2022-08-02 09:09] MaxHillebrand commented on #8842
To clarify, the other way a value gets hidden again is by no longer pointing the mouse over it. That's what i mean by "Hover", only reveal when mouse is there.

[2022-08-02 09:28] #6986 closed

[2022-08-02 09:31] soosr commented on #8842
Ahh I see, yeah reasonable.

Also, there should be a display delay for the case when someone just moves the cursor across the screen, so do not show anything even for a moment.

[2022-08-02 09:53] ichthus1604 opened #8848 "Transaction Preview Screen hide fiat amounts when conversion rate is zero"
From [here](https://github.com/zkSNACKs/WalletWasabi/issues/8802#issuecomment-1197972922):

[2022-08-02 11:31] ichthus1604 commented on #8842
@MaxHillebrand @soosr how about only revealing while mouse button down? Seems more consistent with a more general UI pattern I've seen in many applications where there is a "reveal" (eye icon) button that only activates while holding.

[2022-08-02 12:18] BTCparadigm opened #8854 "Wallet stuck"
### General Description

Previously this wallet had privacy progress 100%. Then I started synching another wallet and this one dropped to 90% but it still says "Hurray..." and the musicbox doesnt let me do anything. It's stuck.

![image](https://user-images.githubusercontent.com/51679301/182370703-f49e6805-7f40-49d0-b91f-74ca496a7aa0.png)

[2022-08-02 12:24] BTCparadigm opened #8855 "Dont start auto coinjoin when privacy progress is 100%."
### General Description

Unnecessary to start coinjoining when privacy progress is already 100%.
The annoying part is not being able to stop it in this window. Play button is frozen.
![image](https://user-images.githubusercontent.com/51679301/182372993-6080cbc3-c2f1-4e68-93e1-4625d89563fc.png)

[2022-08-02 12:32] soosr commented on #8842
Yes, that is a good idea. Even less complex. The only disadvantage if it how would the users know about it? That they can click on a hidden section to reveal it.

[2022-08-02 12:32] #8841 closed

[2022-08-02 12:33] MaxHillebrand commented on #8855
everything is fine.

it's not coinjoining in the screenshot [there would be the spectrum]

the orange indicator shows that auto coinjoin is active, the play button is correctly there, as there is nothing to mix atm. If in the future you receive a fresh coin, it will start coinjoin and show the pause button.

[2022-08-02 12:50] #8802 closed

[2022-08-02 12:56] nopara73 commented on #8538
@lontivero please make a measurement for output registration phase

[2022-08-02 13:05] MaxHillebrand opened #8856 "Coordinator fee revenue sharing"
As other wallet projects integrate Wabisabi coinjoins, the coordinator can offer to share a percentage of the revenue with the wallet project, somewhat like an affiliate system.

For this the client has to provide a proof that a certain fresh input came from a specific affiliate.

Obviously this has to be implemented in a privacy cautious way, specifically only the client should learn which specif

[2022-08-02 18:52] BTCparadigm commented on #8855
I should have been a bit more specific. The counter is the thing that bothered me.
Seems confusing to show it at that point.
Took me a long time to cj these coins and it was annoying to wait till the timer runs out so I can make sure the wallet is not going crazy and mixing my already private coins again.
To avoid this, I suggest we add pause/stop button or dont show the timer when its not unneces

[2022-08-02 21:15] #8412 closed

[2022-08-04 11:58] #8744 closed

[2022-08-04 11:58] molnard commented on #8710
Is this still an issue in https://github.com/zkSNACKs/WalletWasabi/releases/tag/v2.0.1.3

Can you check it?

[2022-08-04 17:04] yahiheb commented on #8818
Another user reporting the same issue: https://github.com/zkSNACKs/WalletWasabi/discussions/8868

[2022-08-04 23:56] ghost12345 commented on #8815
I also see incorrectly calculated balances due to jumbled Coinjoin fee timestamps.
![Jumbled balances](https://user-images.githubusercontent.com/6956315/182974508-2d258309-c216-4084-bd87-cb12790a2dbd.png)

[2022-08-05 01:41] yahiheb commented on #8815
Hmm I don't know if there is an issue with the order of the transactions but the as you can see:
1,33735949 - 0.53883424 = 0,79852525
Then you got some bitcoin (incoming) and your balance increased to 1,33943598

[2022-08-05 06:38] #3898 closed

[2022-08-05 11:56] nopara73 opened #8877 "Whole coin spend doesn't appear in History"
Send 1 whole coin with branch and bound to a different wallet. The transaction does not appear in the history.

[2022-08-05 12:08] jmacato commented on #8710
<img width="271" alt="Screen Shot 2022-08-05 at 8 07 44 PM" src="https://user-images.githubusercontent.com/16554748/183074285-ff997437-bee5-41bc-8af2-d69245e47f3b.png">

@molnard it's still the same

[2022-08-05 14:54] yahiheb opened #8880 "Remove Coinjoin profiles from the eyes of default user"
One of the most mentioned issues in the [Wasabi 2.0 review campaign on bitcointalk](https://bitcointalk.org/index.php?topic=5402090) was the coinjoin profiles.

Many users were confused about these profiles and didn't understand what they are nor how they differ from each other.
Also they didn't understand the different customizable parameters.
Many users don't even know what coinjoin is or how it

[2022-08-05 15:06] MaxHillebrand commented on #8880
Yes, this is a big confusion.

At the very least we have to try to design and word this screen better.

But I even tend to agree to remove this question from the default UX. Maybe however we can get away with it if asked at a later point in time?

[2022-08-05 16:05] #6930 closed

[2022-08-05 16:40] mrive2018 commented on #8535
Hi,
Ok. But there are users that it worked for them with version 1.x. So, if I try it with that version and it works for me, would there be a security problem or could it be used perfectly?
Thanks. A greeting.

[2022-08-06 01:13] yahiheb commented on #6294
This is not fixed.

I really don't see a reason why do we have a back button in the recovery words dialog, to go back and change the wallet name?

[2022-08-06 03:22] Transisto commented on #8842
![image](https://user-images.githubusercontent.com/388716/183231572-d0ddc3f9-cdc8-4699-8c5b-a909be603a4d.png)

trezor suite has a usable lurking mode

[2022-08-06 08:17] MarnixCroes opened #8886 "GUI signal that shows if the last block has been gotten from local node"
as requested by a user https://www.reddit.com/r/WasabiWallet/comments/wfi5vm/requests_for_wasabi_21_update/

[2022-08-06 08:23] MarnixCroes opened #8887 "Ability to export all receive addresses in a CSV file"
as requested by a user https://www.reddit.com/r/WasabiWallet/comments/wfi5vm/requests_for_wasabi_21_update/

[2022-08-06 15:00] nopara73 commented on #8880
ACK. We can then talk more about the fees on that page more. So we'd send the CJ profiles to a new page as an advanced section:

![image](https://user-images.githubusercontent.com/9156103/183254429-9c5e620e-0dca-4a39-8c47-9d8f7311c87f.png)

[2022-08-06 15:53] nopara73 opened #8889 "Changing coinjoin profile doesn't change privacy percentage"
It was working before coinjoin settings were introduced. Although https://github.com/zkSNACKs/WalletWasabi/pull/8849 is prime suspect, IDK if really that ruined it. @SuperJMN can you fix it?

[2022-08-06 16:07] nopara73 opened #8890 "Replace Minimize Cost Icon"
We can improve this icon. Credit for Hynek from Trezor.

![image](https://user-images.githubusercontent.com/9156103/183256861-9512190c-57ea-43dc-8512-a3e6fc7a5105.png)

Like with a drawing like this:

![image](https://user-images.githubusercontent.com/9156103/183256897-98e53922-7daa-46c9-818d-1ce23c25a9ed.png)

[2022-08-06 16:10] nopara73 commented on #8890
Here's the full page to mind the context:

![image](https://user-images.githubusercontent.com/9156103/183257045-233a78bc-d6ba-40c5-8bb7-abfd726953be.png)

[2022-08-06 21:27] SuperJMN commented on #8889
Will take a look!

[2022-08-06 22:48] SuperJMN commented on #8889
Good catch, @nopara73. Thank you!

It was a regression bug introduced when some logic was moved between settings. The wrong settings was being watched for changes, so it didn't update correctly.

[2022-08-07 06:08] nopara73 commented on #8544
Vlad reported this happened even without server restart, so this issue became more important. Almost as important as a crash is.

[2022-08-07 08:52] MaxHillebrand commented on #8887
This is useful for other data too, like transaction history, coinlist, etc.

[2022-08-07 08:53] MaxHillebrand commented on #8886
Duplicate https://github.com/zkSNACKs/WalletWasabi/issues/2592 https://github.com/zkSNACKs/WalletWasabi/issues/1598 https://github.com/zkSNACKs/WalletWasabi/issues/4202

[2022-08-07 08:55] #8886 closed

[2022-08-07 20:35] wieslawsoltes commented on #8378
I have been finally able to repro the issue, looks like Labels column is the issue and LabelsListBox, at least on my macOS system.

[2022-08-08 06:50] soosr commented on #8887
Would it be beneficial for most users or just a few of them? What use case would it be helpful for?

Same questions for these.

[2022-08-08 06:56] soosr commented on #8890
ping @Bodnaralexa

[2022-08-08 07:21] soosr commented on #8880
The main problem is the coinjoin is enabled by default. For two reasons.

1. User must know that it is enabled.
That would be a huge surprise and a bad UX if the user didn't know it, and later on they would receive some BTC, and the next day their balance would go down without them noticing it.

2. User must select a CJ profile before doing any CJ.
That being said even if the user is aware of CJ i

[2022-08-08 07:22] #8889 closed

[2022-08-08 08:00] yahiheb commented on #8880
Once those profile tiles are removed from that dialog we should replace them by some text saying CJ is enabled and also we mention the fees and when they are not payed on that page.

This is exactly the UX hurdle that we want to get rid of by removing the Coinjoin profile selection completely. It should be somewhere in some advanced coinjoin option for advanced users.
By default users should not e

[2022-08-08 09:13] soosr commented on #8854
Not UI related. The musicbox displays the state of the CoinjoinManager. For some reason, the CJ manager didn't change state.

[2022-08-08 09:22] soosr commented on #8786
@wieslawsoltes Can we do something with this part?
[code]

[2022-08-08 09:27] wieslawsoltes commented on #8786
@soosr I can look into it

[2022-08-08 09:36] wieslawsoltes commented on #8786
@soosr @Transisto Potential fix, https://github.com/zkSNACKs/WalletWasabi/pull/8895

[2022-08-08 10:01] soosr commented on #8877
1. Check the coin list of wallet A.
2. Try sending an amount that is a little bit higher / lower than a coin's amount.
3. On the preview screen you will get a suggestion to send More / less. Select one.
4. Send the transaction to wallet B.

[2022-08-08 12:13] molnard commented on #8710
I did some investigation. This is OK.

_Apple allow only 3 version tags in plist._

https://github.com/molnard/WalletWasabi/blob/308f2baa6cb37031ec95d0597bb16803d47f891c/WalletWasabi.Packager/MacSignTools.cs#L109

[2022-08-08 12:13] #8710 closed

[2022-08-08 13:33] MaxHillebrand commented on #6232
Yes, the same for addresses.

There should be a dedicated message if a address/txid is not from any of the loaded wallets.

[2022-08-08 13:34] soosr commented on #8842
We agreed in the meeting to go with the hover over concept.

[2022-08-08 13:38] Szpoti commented on #8461
Should this issue be closed, has the problem been resolved?

[2022-08-08 14:21] MaxHillebrand commented on #2531
Taproot filters #8904

[2022-08-08 17:18] MaxHillebrand commented on #8880
There should be a default anonscore of `10` (maybe randomized +/- 3), and median fee window of `daily`.

The onboarding dialog should indicate that this can be customized, the coinjoin settings should have the customization.

[2022-08-08 17:25] yahiheb commented on #8461
You mean #8827.

[2022-08-08 20:28] core-code commented on #8710
well. adhering to Apple's documentation is great, in principle. not sure in this case.
1.) Apple's stated limitation (only 3 dot-separated numbers) only applied to the `CFBundleVersion` value. you could fix the `CFShortVersionString` (which is the thing the user actually sees in the Finder!) while still adhering to their stated guideline
2.) i think the documentation was written in 2001 back when

[2022-08-09 07:03] MaxHillebrand opened #8906 "Backup Github Metadata"
We should backup all the important Metadata (issues, PRs, project boards) on Github. Those are not included in the git repo.

/bitcoin/bitcoin uses this script https://github.com/zw/ghrip with this result https://github.com/zw/bitcoin-gh-meta

[2022-08-09 07:44] #8786 closed

[2022-08-09 08:03] MaxHillebrand commented on #8550
I think I figured out an elegant solution to the problem that covers most cases without introducing a new UX concept.

## relevant privacy checks and actions

### red warning

- consolidating non-private with partially/fully private coins
-- remove non-private inputs
-- remove partially private inputs

### yellow notification

- only unmixed inputs
-- suggest to coinjoin / press play
- consolidati

[2022-08-09 10:36] #8572 closed

[2022-08-09 10:43] MaxHillebrand commented on #8906
Alternative is a self hosted gitlab server to mirror github. https://docs.gitlab.com/ee/user/project/import/github.html#mirror-a-repository-and-share-pipeline-status

[2022-08-09 19:47] Vagenkorits opened #8913 "Stuck on "Waiting for coinjoin""
### General Description

Waiting the auto-coinjoin or clicking play to start the coinjoin puts it on "Waiting for coinjoin" for ever. There are no errors in the logs or anything that could help me find the solution.

Disabled tor connection from settings but it did not help

Tor is running
Backend is running
Peers 12 connected

I have 300$+ on the wallet
Tried to use all the coinjoin methods "maxi

[2022-08-10 08:52] soosr commented on #8550
@MaxHillebrand

The original problem with the shield icon is that it tries to indicate many things at the same time. With the coloring, it might be mitigated.

-- remove non-private inputs
-- remove partially private inputs

With the automatic selection, it can only happen if there is no other way to cover the payment amount. So there won't be any action that the user could do.
If the coin list is

[2022-08-10 10:26] suschizu commented on #8710
@molnard  … I think it's just a bit confusing to only change the version number in the download link and not the app itself - you don't know which of the 2.0.1 versions you've installed

[2022-08-10 11:57] thibistaken commented on #8890
What about focusing on an even simpler icon like this one below? If the label is "Minimize Costs", an icon related to money-ish could be enough. Matches the simplicity of the UI. Just my 2 sats.
![image](https://user-images.githubusercontent.com/4534234/183895121-61530643-0130-4b0f-a0dc-bc08255b63b1.png)

[2022-08-10 12:49] #8602 closed

[2022-08-10 13:04] #8794 closed

[2022-08-10 13:27] MaxHillebrand opened #8918 "[VDG] Shrink desktop app logo size"
### Discussed in https://github.com/zkSNACKs/WalletWasabi/discussions/8917

<div type='discussions-op-text'>

<sup>Originally posted by **thibistaken** August 10, 2022</sup>
The Wasabi desktop app icon on my MacBook (Air Retina 13 inch 2018) is bigger than usual app icons. See screenshot below. How about resizing it to design standards?

Apple has some useful specs here: https://developer.apple.co

[2022-08-10 15:27] molnard commented on #8544
This is just a theory: if the problem came from a stuck Tor request, because of restart then this PR solved it: https://github.com/zkSNACKs/WalletWasabi/pull/8898

[2022-08-10 15:33] molnard commented on #8544
This adds a total timeout token per coinjoin round: https://github.com/zkSNACKs/WalletWasabi/pull/8919

Still, it can stuck if something happens outside of the round, for example waiting for the round or some other operations before. We can add an absolute maximum how long would we wait after I start one CoinJoinClient. CoinJoinClient includes:
- looking for an appropriate round (mininput, isecono

[2022-08-10 17:23] MarnixCroes commented on #7752
this is happening again. eef00c6304efa304434ba24d4ab2b9cde833845b
cannot repro all the time
ping @SuperJMN

[2022-08-10 18:11] SuperJMN commented on #7752
I'm starting to think this is an Avalonia issue. I'll take a look to see if I can fix it with a workaround.

[2022-08-10 21:13] yahiheb commented on #8913
Check if you have any banned coins.
You can see your coins list with this key combination on the main view: `CTRL + C + D`.

[2022-08-10 21:55] Vagenkorits commented on #8913
Nothing indicating they are banned. Got btc from 3 completely different sources.

[2022-08-11 07:34] soosr commented on #7752
Hide when window state changed to Minimized maybe.

[2022-08-11 07:38] soosr commented on #8918
I remember I had to add some margins to the old icon to balance its size. Probably it is missing on the new one.

[2022-08-11 07:40] soosr commented on #8918
@jmacato Can you take this one?

[2022-08-11 08:59] soosr commented on #8815
It happened with @bharmat too. Restarting the software fixes it.

[2022-08-11 11:25] molnard commented on #8257
I got a huge crash (VS) after press rebuild on the Wixinstaller project in Wasabi repo.

![image](https://user-images.githubusercontent.com/9844978/184123132-a4901d10-c9c0-48f0-8dde-32f7573a8437.png)

[2022-08-11 11:25] molnard commented on #8257
Is it working for you?

[2022-08-11 12:38] molnard commented on #8257
I am trying these

devenv.exe /ResetSettings
devenv.exe /ResetUserData
devenv.exe /SafeMode

[2022-08-11 13:34] molnard commented on #8257
I think I know what's happening at your side. It immediately stops at the beginning because first you need to run publish in the packager, so the files will be there. Then rebuild wix and you will have the crash.

[2022-08-11 19:05] lontivero commented on #7713
No.

[2022-08-11 19:05] wieslawsoltes commented on #8378
@nk1tz In version https://github.com/zkSNACKs/WalletWasabi/releases/tag/v2.0.1.4 we have made some optimisations regarding history table scrolling, can you give it a try and see if this improves your issue with scrolling?

[2022-08-11 19:25] wieslawsoltes commented on #8378
Ok I did some more testing and turns out the issue is not with LabelsItemsPresenter (formerly named LabelsListBox) but with PrivacyContentControl. When PrivacyContentControl has LabelsItemsPresenter as content is causes scrolling issues on macOS

https://github.com/zkSNACKs/WalletWasabi/blob/00a4354d542a6299df8d35156665aeff9fc52b75/WalletWasabi.Fluent/Views/Wallets/Home/History/Columns/LabelsColum

[2022-08-11 19:33] wieslawsoltes commented on #8378
So tested this and it makes scrolling smooth on macOS

![image](https://user-images.githubusercontent.com/2297442/184224077-38c39115-d9e1-492e-a1bd-4e336cbf599a.png)

[2022-08-11 20:13] wieslawsoltes commented on #8378
Narrowed down the offending xaml, might be related how we control visibility via styles.

![image](https://user-images.githubusercontent.com/2297442/184233874-658a3ecd-c8db-42ee-80ff-f889605a695b.png)

[2022-08-11 21:26] wieslawsoltes commented on #8378
I think I have finally found the solution, PR with fix: https://github.com/zkSNACKs/WalletWasabi/pull/8929

[2022-08-11 22:06] #8378 closed

[2022-08-12 08:19] nopara73 commented on #8880
At the page where we put the profile selections into the "customize.../advanced..." section we should also mention that the current profile is optimized for UX, and click "customize.../advanced..." if you want to change if like for privacy or costs.

[2022-08-12 10:26] wieslawsoltes commented on #8877
I could finally repro that issue ,the Wallet A coins is empty in coin list after sending transaction.

![WalletWasabi Fluent Desktop_BT8u3ohmb5](https://user-images.githubusercontent.com/2297442/184336000-3486b40f-c433-4d5f-9da7-df3b27b7cff2.png)

![WalletWasabi Fluent Desktop_MI1evbvzBs](https://user-images.githubusercontent.com/2297442/184336023-728e79b2-8028-45d9-903b-f8017a9ada84.png)

![Walle

[2022-08-12 10:48] wieslawsoltes commented on #8877
After restarting wasabi wallet I still get same issue with transactions and coins in `Wallet A`:
![image](https://user-images.githubusercontent.com/2297442/184339387-71e20610-15fd-47b8-b7be-87f6f056e614.png)
![image](https://user-images.githubusercontent.com/2297442/184339418-5194d29a-a3e6-4a95-89af-e20b47b34e93.png)

[2022-08-13 08:35] nopara73 commented on #8890
@thibistaken Yes, that's exactly what I want to do here, and that illustration is even better. The main goal here isn't to have something artistic and deep, rather to reduce cognitive load to convey the minimum necessary information and not tax the users' mental resources. Use the [lowest resolution to convey the idea.](https://youtu.be/M04xnKNChtI)

[2022-08-14 08:04] nopara73 commented on #8544
@adamPetho can you test if https://github.com/zkSNACKs/WalletWasabi/pull/8919 fixes this? When your testnet client is in signing phase, restart the testnet server and see if your client recovers.

[2022-08-14 08:10] #7635 closed

[2022-08-14 08:10] #7913 closed

[2022-08-14 13:44] adamPetho commented on #8544
Sure thing, but testing this on `RegTest` wouldn't be enough? Much easier to shut down the backend there.

[2022-08-15 03:23] Vagenkorits commented on #8913
Some of the troubleshooting I did :
-Allow everything on my custom firewall/windows firewall
-Disable my custom firewall/windows firewall
-Install wasabi wallet on a virtual machine
-Disabled my VPN
-Reinstall older version of wasabi
-Create a new wallet and send 9$ to try coinjoining

I'm at a lost right now. I know wasabi was working before but I had to reinstall my windows and now its constantl

[2022-08-15 07:06] soosr commented on #8877
Why is it corrupted? From the screenshot, I can see you have sent out your total balance from wallet A with the 3rd transaction. So your wallet balance goes down to 0 meaning you have zero coins for sure. So an empty coin list in wallet A is fine in this case.

[2022-08-15 08:14] yahiheb commented on #8913
The msi is enough.

First thing to do is to use the latest version 2.0.1.4   https://wasabiwallet.io/

[2022-08-15 08:19] adamPetho commented on #8544
Anyway, the client now recovers nicely, it drops the ongoing round, waits for the backend to be alive again, then participates in the new CJ round.

[2022-08-15 08:50] MarnixCroes opened #8935 "Wallet Coins - negative anonymity score"
![image](https://user-images.githubusercontent.com/93143998/184604934-805b1d18-2a53-466e-af76-04c024bc5116.png)

on testnet
(I just did a PayJoin, might be related)

version [f6eca92c9c741f84d55c28d9802ed4968913ae42](https://github.com/zkSNACKs/WalletWasabi/commit/f6eca92c9c741f84d55c28d9802ed4968913ae42)

[2022-08-15 09:03] soosr commented on #8935
@nopara73 @zkSNACKs/code-team

[2022-08-15 09:25] #8544 closed

[2022-08-15 13:09] MaxHillebrand opened #8936 "Coinjoin status flickering"
On the latest release, in some cases the coinjoin status is flickering between play and pause. This was experienced at least with a new wallet and one coin (both confirmed and unconfirmed)

[2022-08-15 13:47] Szpoti commented on #8815
Are there any news regarding this issue?

[2022-08-15 13:51] MaxHillebrand opened #8937 "Add package verification to update downloader"
The update downloader should verify signatures.

#8741

[2022-08-15 13:59] soosr commented on #8815
No, it is a bug somewhere in the transaction history building. It wrongly detects it as an incoming amount.

[2022-08-15 15:08] wieslawsoltes commented on #8877
My mistake coin list is ok. I actually couldn't reproduce issue as I have to send outside wasabi.

[2022-08-15 15:35] soosr commented on #8936
The new cancellation logic on CJs could be related. @kiminuo @molnard

[2022-08-15 18:06] Vagenkorits commented on #8913
I am using the latest version and it does not fix the issue

[2022-08-15 18:29] soosr opened #8941 "Misleading order of recovery words"
Some users can read it in the wrong directions. A separator line between the columns could fix it.

![image](https://user-images.githubusercontent.com/16364053/184693943-202c756a-03f3-4cd2-aa5f-75ee8a20f452.png)

[2022-08-15 18:36] lontivero opened #8942 "RPC Start/Stop coinjoin"
Ensure feature parity with UI intergace.

[2022-08-15 20:21] Vagenkorits commented on #8913
Is there any windows processes or services I need enabled? Because I used privacy tools to remove bloatware+services.

[2022-08-15 21:39] yahiheb commented on #8913
No idea.

[2022-08-15 22:19] yahiheb opened #8943 "Payjoin is not detected when you first paste the url while sending"
You have to paste the payjoin url then you have to press the paste btc address button to detect it is a payjoin.

How to reproduce:

1. Go to `Send` tab
2. Paste a PayJoin link like `bitcoin:tb1q72fajhfm5fd78zxp329qk24nzme4nlpp3gy5qq?amount=0.00010881&pj=https://demo.payjoin.kukks.org/BTC/pj`
3. Click on paste btc address button

[2022-08-16 04:45] turbolay opened #8945 "Testnet transactions forever displayed as "pending" and not found after restart"
### General Description
The 2.0.1.4 release seems to have trouble displaying transactions on the Testnet.
Received transactions stay on "Pending" forever, and when relaunching Wasabi or recovering the wallet, the transactions do not appear anymore.

### Test Setup
**OS**: Windows 10 and WIndows Server 2019
**Wasabi version**: 2.0.1.4 (downloaded from https://wasabiwallet.io/)
**Network**: Tesnet (

[2022-08-16 06:58] nopara73 opened #8947 "Privacy Progress Off"
I see something like this:

![image](https://user-images.githubusercontent.com/9156103/184816822-8fd4b8b4-8957-474a-b7bb-6da9145edbce.png)

[2022-08-16 07:10] soosr commented on #8947
Related https://github.com/zkSNACKs/WalletWasabi/issues/8935

[2022-08-16 07:24] #8935 closed

[2022-08-16 07:24] #8947 closed

[2022-08-16 07:31] MaxHillebrand commented on #8945
We know about the issue, somethings weird, will be fixed soon.

[2022-08-16 07:32] MaxHillebrand commented on #8941
Maybe a little more spacing too, when we have the space.

[2022-08-16 07:41] wieslawsoltes commented on #8941
I would number recovery words like that:

<table>
<tr>
	<td>1. clinic
	<td>2. arrow
	<td>3. tide
<tr>
	<td>4. tiny
	<td>5. sponsor
	<td>6. joy
<tr>
	<td>7. trumpet
	<td>8. trust
	<td>9. announce
<tr>
	<td>10. lift
	<td>11. often
	<td>12. orange
</table>

[2022-08-16 08:07] kravens opened #8950 "Wallet Send UTXO rounding showing only "less" option"
### General Description
![image](https://user-images.githubusercontent.com/9646902/184828488-c35c9408-f947-4b5b-a2f0-d4e48d9d49b7.jpeg)
A clear and concise description of what the bug is.

### How To Reproduce?

1. Go to 'Wallet'
2. Click on 'Send'
3. Fill in amount and receiver click 'continue'
4. See Privacy suggestion in top right corner.
5. 2x Send "less" was suggested, but as user I need to s

[2022-08-16 08:16] MaxHillebrand commented on #8950
Consider that this UX can/will be refactored according to https://github.com/zkSNACKs/WalletWasabi/issues/8550#issuecomment-1209048141

So there might be more options available in the future, with each of them having different reasoning and privacy benefits.

So it might make sense to takle this issue together with the other.

[2022-08-16 08:20] yahiheb commented on #8945
I cannot reproduce this, I used a new wallet and after restarting Wasabi I can still see the pending transaction.

[2022-08-16 08:44] yahiheb commented on #8945
Have you used any password when you created the wallet?

[2022-08-16 08:50] MaxHillebrand commented on #8784
this might be fixed now, I'll close it, please re-open if you can reproduce it.

[2022-08-16 08:50] #8784 closed

[2022-08-16 08:52] #8746 closed

[2022-08-16 08:53] MaxHillebrand commented on #8731
Please re-open if you still have issues.

[2022-08-16 08:53] #8731 closed

[2022-08-16 08:54] MaxHillebrand commented on #8725
must be fixed in Avalonia.

[2022-08-16 08:58] MaxHillebrand commented on #8717
This should be improved now, please open a new and more specific issue that's actionable, if it's still a problem for you now.

[2022-08-16 08:58] #8717 closed

[2022-08-16 09:02] MaxHillebrand commented on #8670
the actionable task here is to make the music box messaging less confusing, there are other issues to track this, so I'm closing this.

[2022-08-16 09:02] #8670 closed

[2022-08-16 09:04] MaxHillebrand commented on #8618
is this still a problem?

[2022-08-16 09:04] MaxHillebrand commented on #8617
Is this still an issue?

[2022-08-16 09:05] MaxHillebrand commented on #8603
was anyone able to reproduce this since?

[2022-08-16 09:12] MaxHillebrand commented on #8531
is this fixed in the current avalonia?

[2022-08-16 09:13] adamPetho commented on #8581
I will give another try to reproduce this. If I cannot, then I will close this.

[2022-08-16 09:13] MaxHillebrand commented on #8494
that's fixed?
re-open if not.

[2022-08-16 09:13] #8494 closed

[2022-08-16 09:13] MaxHillebrand commented on #8490
nothing actionable here.

[2022-08-16 09:13] #8490 closed

[2022-08-16 09:14] MaxHillebrand commented on #8428
We have something I guess, can this be closed?
@molnard @kiminuo

[2022-08-16 09:15] MaxHillebrand commented on #8408
everything should be working fine now.

[2022-08-16 09:15] #8408 closed

[2022-08-16 09:16] MaxHillebrand commented on #8395
everything should be smoother now.

[2022-08-16 09:16] #8395 closed

[2022-08-16 09:17] MaxHillebrand commented on #8354
what's up with this?

[2022-08-16 09:17] MaxHillebrand commented on #8347
is this still a problem?

[2022-08-16 09:20] MaxHillebrand commented on #8290
this should be fixed, please reopen if it's still reproducible.

[2022-08-16 09:20] #8290 closed

[2022-08-16 09:21] MaxHillebrand commented on #8250
is this fixed?

[2022-08-16 09:22] adamPetho commented on #8250
I will check it, soon.

[2022-08-16 09:23] MaxHillebrand commented on #8212
we're getting better at this.

[2022-08-16 09:23] #8212 closed

[2022-08-16 09:24] adamPetho commented on #8581
Couldn't reproduce.

Re-open, if someone reports that the wallet forgets the AS target and/or the CJ profile.

[2022-08-16 09:24] #8581 closed

[2022-08-16 09:31] MaxHillebrand commented on #8172
what's up with this?

[2022-08-16 09:32] #8138 closed

[2022-08-16 09:32] MaxHillebrand commented on #8114
should be fixed now, let us know if it's still happening.

[2022-08-16 09:32] #8114 closed

[2022-08-16 09:38] MaxHillebrand commented on #7945
what's up with this?

[2022-08-16 09:39] MaxHillebrand commented on #7931
I'll close this for now, things have improved.

[2022-08-16 09:39] #7931 closed

[2022-08-16 09:43] MaxHillebrand commented on #7722
nothing to do here.

[2022-08-16 09:43] #7722 closed

[2022-08-16 09:46] MaxHillebrand commented on #7683
there's nothing to do here.

[2022-08-16 09:46] #7683 closed

[2022-08-16 09:47] MaxHillebrand commented on #7680
that aged well... :smile:

[2022-08-16 09:49] MaxHillebrand commented on #7645
is this still an issue?

[2022-08-16 09:49] MaxHillebrand commented on #7644
what's up with this?

[2022-08-16 09:50] MaxHillebrand commented on #7634
is this still an issue?

[2022-08-16 09:51] MaxHillebrand commented on #7633
red coin isolation does this, in an extreme case.

there could be a separade mode with multiple 1 anonscore coins, but of all the same label.

[2022-08-16 09:52] MaxHillebrand commented on #7632
closing due to kiminuo's reasonable feedback.

[2022-08-16 09:52] #7632 closed

[2022-08-16 09:52] MaxHillebrand commented on #7625
should be fixed.

[2022-08-16 09:52] #7625 closed

[2022-08-16 09:59] #7645 closed

[2022-08-16 10:07] #7644 closed

[2022-08-16 10:45] adamPetho commented on #8250
Well, the infinite loop is fixed by getting a `TransactionException: Coin selection timed out.` error.
But still, I couldn't send out the ~90% of my balance.

[2022-08-16 10:54] soosr commented on #8250
Can you give me a repo? How many coins do you have? What amounts? What amount are you trying to send?

[2022-08-16 10:55] MaxHillebrand commented on #8250
Then I'd say this is rather high priority...

[2022-08-16 10:58] adamPetho commented on #8250
Well, it's on the CJ machine, so the UTXO count is a bit absurd (1500 utxos).
The UTXOs are between `0.02 tBTC` and `5000 sats`.
I try to send `~0.8 tBTC`.

All I tried is a self-spend.

[2022-08-16 11:06] Bodnaralexa commented on #8890
<img width="3008" alt="Képernyőfotó 2022-08-16 - 13 05 29 (2)" src="https://user-images.githubusercontent.com/93736689/184864891-dc1e6cc7-90ba-436a-9db2-3e24dcff509a.png">

[2022-08-16 11:09] soosr commented on #8250
I will debug it tomorrow in the office then.

[2022-08-16 12:05] lontivero commented on #7680
The problem is with the gap filler algorithm. Basically after @yahiheb detected that we were using keys overpassing the gap limit we implemented this thing that starts filling the gap. Unfortunately it has a special case when there are no key generated (new wallet) then the algorithm sees a huge gap and tries to fill it starting from the max gap: 21.

[2022-08-16 12:05] #7680 closed

[2022-08-16 12:11] #7474 closed

[2022-08-16 12:14] soosr commented on #7442
Can we close this issue?

[2022-08-16 12:15] soosr commented on #7432
Obsoleted? @kiminuo

[2022-08-16 12:17] onvej-sl commented on #8051
Please reopen this issue, https://github.com/zkSNACKs/WalletWasabi/pull/8933 certainly doesn't fix it.

[2022-08-16 12:24] soosr commented on #6893
Reopen if still relevant.

[2022-08-16 12:24] #6893 closed

[2022-08-16 12:25] soosr commented on #6779
Reopen if still relevant.

[2022-08-16 12:25] #6779 closed

[2022-08-16 12:27] soosr commented on #6721
Is this still relevant?

[2022-08-16 12:37] soosr commented on #6650
Most of them are already fixed or have a separate issue.

[2022-08-16 12:37] #6650 closed

[2022-08-16 12:41] soosr commented on #6394
Can we close this?

[2022-08-16 12:45] soosr commented on #6261
Reopen if still relevant.

[2022-08-16 12:46] soosr commented on #6239
The original issue is a duplication, the issue in the comment is fixed.

[2022-08-16 12:46] #6239 closed

[2022-08-16 12:56] soosr commented on #4704
Is this done, right?

[2022-08-16 13:02] soosr commented on #4221
Still would be cool!

[2022-08-16 13:06] soosr commented on #3963
Can be implemented with the badging system.

[2022-08-16 13:06] #7442 closed

[2022-08-16 13:09] soosr commented on #3706
with 2.0 you can select an economy CJ strategy, I think we can close this.

[2022-08-16 13:27] soosr commented on #8890
I like both. @jmacato your call.

[2022-08-16 13:36] #3706 closed

[2022-08-16 13:46] turbolay commented on #8945
Both, with and without.
I reproduced several times on fresh installs on 3 different machines using Windows 10 and Windows Server 2019

[2022-08-16 14:01] soosr commented on #3675
Is this still relevant?

[2022-08-16 14:04] soosr commented on #3658
Should we keep the issue open?

[2022-08-16 14:05] soosr commented on #3655
I think we have it now, right?

[2022-08-16 14:11] MaxHillebrand commented on #3675
We have multi copy in right click menu of the transaction history now.

[2022-08-16 14:11] #3675 closed

[2022-08-16 14:15] MaxHillebrand commented on #724
This is basically implemented.

[2022-08-16 14:15] #724 closed

[2022-08-16 14:18] MaxHillebrand commented on #1329
This might be a good idea for an opt-in homescreen tile

[2022-08-16 14:18] soosr commented on #3290
Is this still relevant?

[2022-08-16 14:22] turbolay commented on #8945
Here's a video of the issue: https://i.imgur.com/mH6r0bW.gif
You can see also with the output of xpub-scan that Wasabi is reusing addresses since I recovered the wallet
m/0/0 -> m/0/1 -> m/0/2 -> recover -> m/0/0 -> m/0/1 ...

[2022-08-16 14:23] soosr commented on #3009
Password needs to be entered for opening a wallet, can this be closed?

[2022-08-16 14:25] soosr commented on #2803
Reopen if still relevant.

[2022-08-16 14:25] #2803 closed

[2022-08-16 14:27] soosr commented on #2538
Implemented.

[2022-08-16 14:27] #2538 closed

[2022-08-16 14:29] soosr commented on #2459
Can we close this?

[2022-08-16 14:35] #2459 closed

[2022-08-16 14:36] MaxHillebrand commented on #3009
Yes, but it's still not encrypted on the disk, but that's a separate issue, let's close this.

[2022-08-16 14:36] #3009 closed

[2022-08-16 14:37] MaxHillebrand commented on #3290
Might be related to full keyboard navigation.

[2022-08-16 14:41] soosr commented on #1596
What's up with this?

[2022-08-16 14:47] soosr commented on #983
in 2.0 you can select an economy CJ profile, can we close this?

[2022-08-16 14:48] soosr commented on #727
Still relevant?

[2022-08-16 14:49] #597 closed

[2022-08-16 15:13] adamPetho commented on #1596
We cannot start 2 instances now, so I think this is solved(?)

[2022-08-16 15:38] adamPetho commented on #8945
I can reproduce this by recovering your wallet (without the password obviously).
Sent some sats to a newly generated address and the TX is indeed stucked as `Pending` in both wallets.
https://blockstream.info/testnet/tx/46e066ae58d187c716638fc249491c3a57d12e0f1487a4c198f597c90df1ee6b

Nothing strange in the logs, unfortunately.

Might not be related but I tried to send some tBTC to a newly generat

[2022-08-16 16:03] ichthus1604 commented on #8941
@soosr What's the rationale behind showing the list vertically, as opposed to what @wieslawsoltes suggested?

I too agree it's much more natural to read horizontally.

[2022-08-16 16:04] lontivero commented on #3658
No.

[2022-08-16 16:04] #3658 closed

[2022-08-16 16:06] turbolay commented on #8945
Fixed

[2022-08-16 16:06] #8945 closed

[2022-08-16 16:15] soosr commented on #8941
Because it was like that in 1.0 and we just ported it.
I checked quickly the google images if there is a convention for that but I can find both vertical/horizontal solutions.
We can change it but then I am sure there will be some users who will still read it in the wrong direction. So maybe some spacing between the rows can help and make it clear as @MaxHillebrand suggested.

[2022-08-16 16:34] #1596 closed

[2022-08-16 21:00] Transisto commented on #3290
This issue was written at a time where I thought Wasabi would end up more feature full than most wallet.

Can close.  Far from a priority.

[2022-08-16 21:00] #3290 closed

[2022-08-17 09:56] MaxHillebrand opened #8959 "[VDG] Notify user about missing filters"
In some cases, the coordinator can stop creating filters, thus the user will not learn about new transactions coming in.
This can be detected if the filter-number is smaller than the block-number on the Bitcoin p2p network.
In this case, there should be a warning notification shown.

[2022-08-17 10:20] soosr commented on #8959
It could be displayed in the same way as the tor issues.
But in the first place... we should fix the coordinator.

[2022-08-17 13:32] soosr opened #8961 "SearchBar - Flyout stuck"
1. Type wallet folder to searchbar
2. Click on the result.
3. Without giving back the focus to the Window click on the Settings icon.
4. Flyout is now stuck.

![image](https://user-images.githubusercontent.com/16364053/185147042-2c326b59-9f68-4090-9ae1-7f64a83c99e5.png)

[2022-08-17 13:47] thibistaken commented on #8941
FWIW I agree with @MaxHillebrand and @soosr's position to have vertical recovery word lists. Why?

1. Most paper recovery backups provided by Trezor, Coldcard, and Ledger for instance have vertical lists. Flipping it to horizontal may confuse users. It sort of is an "standard", or a habit at least. One may argue it is a bad one though.
2. It is more legible as lists are usually vertical. I don't p

[2022-08-17 13:55] #4704 closed

[2022-08-17 14:42] #8942 closed

[2022-08-17 15:36] turbolay commented on #8906
This action seems a good solution for this issue: https://github.com/milahu/alchi/blob/master/.github/workflows/issues2md.yml
It converts the issues and PR in standard (non-github) Markdown format and uploads it to the repo itself.
Then, the repo can be mirrored to Gitlab and the backup would be complete
It uses https://github.com/mattduck/gh2md and pandoc
Each entry can have its own file like thi

[2022-08-17 15:53] Transisto commented on #3290
Not revelant, Wasabi 2.0 now allows to type the amount in USD

[2022-08-17 19:15] jesse-marks commented on #3527
@the-metalworker I had a similar idea before I found this issue. I was thinking double-click the wallet name for the option to rename it.

[2022-08-17 19:27] jesse-marks commented on #3527
And this is not the clean GUI solution you are requesting, but you can change the wallet name via the command-line.
Example on my machine:
[code]

Then restart Wasabi Wallet.

[2022-08-18 00:36] turbolay commented on #8941
I did some drawings on an image editor to help visualize the different propositions, except for horizontal positions:
<details>
  <summary>1 -> 2 lines small horizontal padding no middle bar</summary>

![v_2lines_30vpadding_50hpadding_no_middle_bar](https://user-images.githubusercontent.com/16029533/185266094-554e4fc5-5af1-4a70-8fc8-a7a2702b5dbf.png)
</details>
<details>
  <summary>2 -> 2 lines sm

[2022-08-18 05:02] MaxHillebrand commented on #8941
Thanks for making those designs and the gif to compare, very useful!

I agree, 6 looks great.

[2022-08-18 05:04] MaxHillebrand commented on #3527
This is still a good feature.

[2022-08-18 05:54] wieslawsoltes commented on #8941
Some other options from: https://bitcoin.design/guide/daily-spending-wallet/backup-and-recovery/manual-backup/#when-to-reveal-a-recovery-phrase

I like option #4, with 2 columns and numbers are grayed out with dot after and horizontal separators.

### Option 1: One by One

![image](https://user-images.githubusercontent.com/2297442/185304006-399c43ef-a35a-4bb7-8b66-e2c80961c541.png)

### Option 2:

[2022-08-18 06:02] MaxHillebrand commented on #8941
@wieslawsoltes in your 4 the horizontal lines guide the eyes left to right, but the words are top to bottom, this confused me even more than without the line.

[2022-08-18 06:12] wieslawsoltes commented on #8941
Yeah you are right, we can change order of words and use that style.

[2022-08-18 07:32] MaxHillebrand commented on #7453
now it's getting extremely negative :smile:

[2022-08-18 07:32] #7453 closed

[2022-08-18 07:33] MaxHillebrand commented on #7382
this might be related to some of the recent "lost" transaction problems?

[2022-08-18 07:33] MaxHillebrand commented on #7325
is this still reproducible?

[2022-08-18 07:36] MaxHillebrand commented on #7181
Maybe this could be a drop down line in the tx history list?

[2022-08-18 07:37] MaxHillebrand commented on #7153
what to do with this issue?

Is there anything actionable to do?
Or is it only for reference and can be closed?

[2022-08-18 07:40] MaxHillebrand commented on #7054
We weren't the fastest, but we did get it done in the end...

[2022-08-18 07:40] #7054 closed

[2022-08-18 07:43] MaxHillebrand commented on #6682
what's up with this?

[2022-08-18 07:45] MaxHillebrand commented on #6602
things have improved, and as lucas says, it will always be a thing to further improve.

[2022-08-18 07:45] #6602 closed

[2022-08-18 07:45] MaxHillebrand commented on #6589
lots has changed since.

[2022-08-18 07:45] #6589 closed

[2022-08-18 07:46] #6485 closed

[2022-08-18 07:46] #6394 closed

[2022-08-18 07:47] MaxHillebrand commented on #6301
what's up with this?

[2022-08-18 07:48] MaxHillebrand commented on #6215
is this fixed in #8810?

[2022-08-18 07:50] MaxHillebrand commented on #5743
what's up with this?

[2022-08-18 07:51] #5442 closed

[2022-08-18 07:53] MaxHillebrand commented on #4912
I'll close this, let's discuss the left-over specifics in a dedicated issue.

[2022-08-18 07:53] #4912 closed

[2022-08-18 07:53] MaxHillebrand commented on #4867
what's up with this?

[2022-08-18 07:54] MaxHillebrand commented on #4765
there's probably a way for the user to hack around this.

[2022-08-18 07:54] #4765 closed

[2022-08-18 07:55] MaxHillebrand commented on #4746
Is this still relevant?

[2022-08-18 07:55] nopara73 commented on #8771
Done here: https://github.com/zkSNACKs/WalletWasabi/pull/8907

[2022-08-18 07:55] #8771 closed

[2022-08-18 07:55] MaxHillebrand commented on #4685
what's up with this?

[2022-08-18 07:55] #4597 closed

[2022-08-18 07:58] MaxHillebrand commented on #4448
I don't think there's anything to do here specifically.

[2022-08-18 07:58] #4448 closed

[2022-08-18 07:58] #4367 closed

[2022-08-18 08:00] #4278 closed

[2022-08-18 08:00] #4241 closed

[2022-08-18 08:02] MaxHillebrand commented on #4223
what's up with this?

[2022-08-18 08:05] MaxHillebrand commented on #4154
is this implemented now?

[2022-08-18 08:05] #4130 closed

[2022-08-18 08:06] MaxHillebrand commented on #4110
should be working now.

[2022-08-18 08:06] #4110 closed

[2022-08-18 08:07] #4064 closed

[2022-08-18 08:08] MaxHillebrand commented on #3943
there seems to be nothing to do here.

[2022-08-18 08:08] #3943 closed

[2022-08-18 08:08] MaxHillebrand commented on #3943
there seems to be nothing to do here.

[2022-08-18 08:09] MaxHillebrand commented on #3879
what's up with this?

[2022-08-18 08:09] sneak commented on #3879
Wasabi still stores the app settings/state in the wrong directory on macOS.

[2022-08-18 08:11] MaxHillebrand commented on #3746
what's up with this?

[2022-08-18 08:11] #3651 closed

[2022-08-18 08:13] MaxHillebrand commented on #3587
nothing to do here.

[2022-08-18 08:13] #3587 closed

[2022-08-18 08:14] MaxHillebrand commented on #3552
what's up with this?

[2022-08-18 08:14] MaxHillebrand commented on #3456
what's up with this?

[2022-08-18 08:15] MaxHillebrand commented on #3399
nothing to do here.

[2022-08-18 08:15] #3399 closed

[2022-08-18 08:15] #3365 closed

[2022-08-18 08:16] MaxHillebrand commented on #3335
does the new website do this? @CAnorbo

[2022-08-18 08:16] #3208 closed

[2022-08-18 08:17] MaxHillebrand commented on #3077
what's up with this?

[2022-08-18 08:19] MaxHillebrand commented on #2923
#8211

[2022-08-18 08:19] MaxHillebrand commented on #2751
new website fixes this.

[2022-08-18 08:19] #2751 closed

[2022-08-18 08:19] MaxHillebrand commented on #2705
what's up with this?

[2022-08-18 08:22] CAnorbo commented on #3335
Website doesn't do anything with that. Maybe the server. @molnard ?

[2022-08-18 08:24] MaxHillebrand commented on #1343
This is done, I think, re-open if not.

[2022-08-18 08:24] #1343 closed

[2022-08-18 08:53] nopara73 commented on #4221
I changed my mind. It's a huge detour from making Bitcoin fungible.

[2022-08-18 09:00] MaxHillebrand commented on #4221
We don't have tabs anymore, so this specific issue can be closed anyhow.

Our UX concepts and understandings have advanced a lot, we're on a good track.

[2022-08-18 09:00] #4221 closed

[2022-08-18 09:16] nopara73 commented on #6602
Actually my wallet is using 1.5 GB of memory, so I'd strongly prefer not to close this.

[2022-08-18 09:18] nopara73 commented on #5743
Tried it previously, but bumped into the issue that the fees are not part of a bitcoin transaction - more specifically the input amounts from which we need to calculate fees.

[2022-08-18 09:19] nopara73 commented on #4685
No news.

[2022-08-18 09:19] MaxHillebrand commented on #6602
How about opening a new issue with an actionable problem and solution?

The title of this issue is very broad, and a lot of the comments have been addressed already.

[2022-08-18 09:20] MaxHillebrand commented on #6602
How about opening a new issue with an actionable problem and solution?

The title of this issue is very broad, and a lot of the comments have been addressed already, so I don't know at what point this issue should be closed, so why not now...

[2022-08-18 09:22] #3077 closed

[2022-08-18 09:27] nopara73 opened #8964 "Use less memory"
Wasabi uses a lot of memory. Use less.

[2022-08-18 09:27] nopara73 commented on #6602
ACK -> https://github.com/zkSNACKs/WalletWasabi/issues/8964

[2022-08-18 09:32] turbolay opened #8965 "Empty history table looks like it's loading"
It was pointed out by some users that the UI for an empty history is misleading as it looks like something is loading.
The dummy lines should still be used when transactions are loading, but a clearer UI should be implemented when the wallet is loaded and empty.
I implemented a design proposition as a PoC, here's how it looks on a 1366x768 resolution:

<details>
<summary>Window minimum size</summa

[2022-08-18 09:53] MaxHillebrand commented on #8965
cACK, nice issue.

It would be cool that even in an empty history table it's still clear that it is in fact a table, something like just the separator lines, or maybe even the same UI that we have currently, but with the text superimposed.

[2022-08-18 10:54] turbolay commented on #8965
Something like that?

![WalletWasabi Fluent Desktop_u1GUDjJgP3](https://user-images.githubusercontent.com/16029533/185378505-05a40513-e3e7-4d18-a345-d8b17febbbbb.png)

I agree it has to be a bit improved but I really like this design

[2022-08-18 10:58] MaxHillebrand commented on #8965
Yes!
Maybe make the text less opaque now [100%], so it is better readable.

[2022-08-18 11:33] yahiheb commented on #8965
cACK

[2022-08-18 11:40] turbolay commented on #8965
<summarize>
<details>Tried to improve readability</details>

![WalletWasabi Fluent Desktop_FVn9kF5hmx](https://user-images.githubusercontent.com/16029533/185385859-16f5f771-8b75-49ec-8a92-ea4f6aa8e62d.png)
</summarize>

There is an issue on this design, the background color from the grid differs from the global background color.
I will try to correct this and if I can't I'll send PR explaining the

[2022-08-18 13:03] MaxHillebrand commented on #8965
This looks great, I think the concept is ready for PR.

[2022-08-18 14:01] lontivero commented on #4154
Yes, it is implemented and it is not improving anything, it is hard to do it better than bitcoin core current smart fee estimations.

[2022-08-18 14:01] #4154 closed

[2022-08-18 14:44] #8428 closed

[2022-08-18 15:07] MarnixCroes opened #8967 "log ERROR: System.AggregateException: One or more errors occurred"
got this in the log.
The wallet continued without issues.

afaict no similar issue open
probably low priority

### How To Reproduce?
just load a wallet (mainnet)

### Logs
[code]

### Wasabi Version

f6eca92c9c741f84d55c28d9802ed4968913ae42

[2022-08-18 18:32] turbolay commented on #8967
I'm having the same exception thrown in WalletWasabi/Tor/Socks5/Pool/TorHttpPool.cs line 166 for the `Task.Delay`
That's because a Task cancelled through `CancellationToken` raises an `OperationCanceledException`. The behavior is normal (see [Task Cancellation Doc](https://docs.microsoft.com/en-us/dotnet/standard/threading/cancellation-in-managed-threads?redirectedfrom=MSDN#listening-and-respondin

[2022-08-19 07:16] #4746 closed

[2022-08-19 09:33] soosr commented on #8965
cACK.

I think the message of `Transaction history is empty` would be more straightforward as it is the history list and it is indeed empty.

[2022-08-19 09:38] soosr commented on #4259
@MaxHillebrand Should we really close this? We don't have it on every platform.

[2022-08-19 09:40] soosr commented on #6056
It is not fixed!

[2022-08-19 09:44] soosr commented on #8941
ACK also for 6.

@turbolay Thanks so much for the designs, it was very helpful!

[2022-08-19 10:10] #983 closed

[2022-08-19 10:11] yahiheb commented on #8941
Having only two columns makes the vertical recovery list much more readable even without a separator.

IMO number 4 (`2 lines large horizontal padding with middle bar`) is the way to go, and it matches option 4 of the bitcoin design guide mentioned by @wieslawsoltes

[2022-08-19 10:19] soosr commented on #2005
AFAIK everyone is against this because we should rather fix the bug the resync to be needed.

[2022-08-19 10:39] MaxHillebrand commented on #8941
I tend to agree that two columns is better than three, the only consideration is that it might take too much vertical screen space, but that shouldn't be a problem.

[2022-08-19 10:41] yahiheb commented on #7153
cACK for preferring explicit types.

[2022-08-19 10:44] yahiheb commented on #7153
FWIW there is also this discussion `Variables declaration type` #5639 about this topic

[2022-08-19 14:58] lontivero commented on #6301
Abandoned. Removing the existing logger and go for the ASP.NET logging infrastructure requires lots of changes in the server side and an astonishing amount of changes in the client side.

[2022-08-19 14:58] #6301 closed

[2022-08-19 21:09] lontivero opened #8973 "Make repo cloning more efficient for users and CI"
Take a look at this tweet: https://twitter.com/_BitcoinBinary_/status/1560227178255716352

Seeing people cloning Wasabi is a painful experience but it is even harder to go through that experience by myself because it takes years. Even using a fast internet connection it took me almost half a hour. However, cloning only the `master` branch with `depth=1` required only a very few minutes:

![image](

[2022-08-20 00:23] turbolay commented on #8941
The screenshots I posted are made on the smallest possible window allowed by the UI on a small resolution so as you can see vertical screen space is not really a problem, margin are still correct with only 2 columns

I also like the 2 columns display, but I think that it's a mistake to take these specific figma examples from Bitcoin Design into consideration for WW design as their design is made o

[2022-08-20 22:11] mozorov opened #8976 "Missing tor control port option in settings"
Hi, I'm trying to use WW1 with external tor.

There is only one option in the settings which allowing me to specify the tor socks port.

I tried and everything works fine.

But I didn't see any config for the control port.

I also see the docs saying that the wallet changes tor identity for different queries, I wondered if this is done with the control port or just the socks port.

I looked around

[2022-08-21 05:58] nopara73 commented on #3113
Stackoverflow: [How do I register a custom URL protocol in Windows?](https://stackoverflow.com/questions/80650/how-do-i-register-a-custom-url-protocol-in-windows)

[2022-08-21 07:49] MaxHillebrand commented on #8976
I believe ww1 used the socks port for Tor management, and only in ww2 did whe start ti use the control port.

And there should not be privacy concerns ww1 external tor socks port.

[2022-08-21 20:56] dangershony commented on #3208
It's a shame this never got implemented, I assume you still use the custom filters not compatible with bitcoin core.

[2022-08-21 22:25] jesse-marks commented on #8973
Good point. Within [WalletWasabi.Documentation/Guides](https://github.com/zkSNACKs/WalletWasabi/tree/master/WalletWasabi.Documentation/Guides) there is a file called `DeterministicBuildGuide.md` that implements your suggestion @lontivero.

[2022-08-22 04:46] mozorov commented on #8976
Thank you guys.

[2022-08-22 04:46] #8976 closed

[2022-08-22 10:40] #8779 closed

[2022-08-22 11:26] soosr commented on #8941
Yes, exactly. We have more horizontal than vertical space. They didn't really have any other option on a mobile screen.
Anyway, discussing this consumes too much time, By the others' comments, it seems both can work so ACK for 4, 6.

[2022-08-22 11:33] #3655 closed

[2022-08-22 12:10] lontivero commented on #6682
Makes no sense.

[2022-08-22 12:10] #6682 closed

[2022-08-22 13:10] MarnixCroes opened #8983 "Send - stuck loading for 25 min, crash after"
### General Description

The loading screen was stuck for 25 min, kept on loading.
This happened to me once before, after pressing send.
This time it happened after setting a (high) fee.

### How To Reproduce?

This time:
1. usual send workflow
2. set a (high) custom fee

Once before:
it kept on loading after pressing confirm, it loaded for many minutes then the tx was succesfully send

### Screen

[2022-08-22 13:12] MarnixCroes commented on #8983
cannot repro
setting a very high fee again immeadiately gives the exception

[2022-08-22 13:15] MarnixCroes commented on #8983
it crashed
[code]

[2022-08-22 16:38] yahiheb commented on #8347
I can no longer reproduce this.

[2022-08-22 17:10] yahiheb opened #8985 "WindowWidth & WindowHeight do not change when you maximize Wasabi window"

[2022-08-22 17:45] soosr commented on #8985
Can't repro, can you give details?

[2022-08-22 17:45] yahiheb commented on #7698
I can not longer reproduce this.

[2022-08-22 17:46] #7698 closed

[2022-08-22 17:47] yahiheb commented on #7699
@MarnixCroes Can you still reproduce this?

[2022-08-22 17:50] yahiheb commented on #8985
Have Wasabi window in normal size, and check the WindowWidth & WindowHeight values in the UiConfig file
Maximize Wasabi window

Those values do not change.

[2022-08-22 17:52] soosr commented on #7699
the new control that we use is not allowing to enter that many 9s. So not intentionally but this is fixed.

[2022-08-22 17:53] soosr commented on #8985
That is ok, we don't want to store the height and width in maximized state.

[2022-08-22 17:54] yahiheb commented on #8985
Why is that the case?

[2022-08-22 18:04] soosr commented on #8985
We don't have to store it because we let the OS decide, if it is maximized then the OS sets the size we don't need the values.

[2022-08-22 22:00] yahiheb commented on #8985
The windowstate was maximized then upon restart this is how the wallet looks like, the top is cut off.
Sometimes it opens in small size.

Something is definitely not normal here.

![ss](https://user-images.githubusercontent.com/52379387/186025204-e73792c3-d8b6-4d4c-ad5b-ac9b3126a620.PNG)

[2022-08-23 06:49] soosr commented on #8985
From the screenshot, I can see the Window didn't open maximized as it should have been. It's a bug.

[2022-08-23 07:17] soosr commented on #8965
Fixed by https://github.com/zkSNACKs/WalletWasabi/pull/8977

[2022-08-23 07:17] #8965 closed

[2022-08-23 07:17] #7699 closed

[2022-08-23 07:19] soosr commented on #7177
Duplication https://github.com/zkSNACKs/WalletWasabi/issues/3963

[2022-08-23 07:19] #7177 closed

[2022-08-23 07:26] soosr opened #8986 "Window's controls didn't get update"
Scrollbar is missing, login button is not fully visible.
Resizing the window fixes the issues.

Repro:
1. Start Wasabi, put it in the smallest window size.
2. Restart Wasabi.
3. See issues.

It is because we set the Height and Width from the config file when the software starts, but supposing the Window doesn't call `InvalidateVisual()` or `InvalidateArrange()` or `InvalidateMeasure()`, the contro

[2022-08-23 07:26] soosr commented on #8986
@wieslawsoltes Could you take a look?

[2022-08-23 07:28] wieslawsoltes commented on #8986
ok will take a look

[2022-08-23 07:35] soosr commented on #8550
Updated the description of the issues. Added every individual issue that is related to this.
In the next few days, I will read back all the comments and collect all the questionable parts so we can arrange a meeting or even offline discuss them and finally have a final concept.

[2022-08-23 07:42] soosr opened #8987 "Paste button stays highlighted after pasting PayJoin"
https://github.com/zkSNACKs/WalletWasabi/pull/8968#issuecomment-1221092500

[2022-08-23 07:42] #8943 closed

[2022-08-23 08:59] molnard commented on #8779
How this was fixed?

[2022-08-23 09:38] yahiheb commented on #8985
Yes that is what I meant.

[2022-08-23 10:13] #8961 closed

[2022-08-23 10:57] nopara73 opened #8988 "Display Bug"
User reported

![image](https://user-images.githubusercontent.com/9156103/186141221-2adc761e-884a-4dfd-b40a-c759d03a5965.png)

[2022-08-23 11:27] soosr commented on #8181
Is this still a relevant issue? Or only the messages should be improved?

[2022-08-23 11:39] soosr commented on #8988
So the view that the user sees when broadcasting  displays information about actually the transaction, and not about the sending.

So the input amount is the sum of the input side.
The output amount is the sum of the output side.

Same for counts.

Since this is a transaction broadcast page where you can broadcast any transaction, not just yours I think it works correctly.
It was like this also in

[2022-08-23 11:55] soosr commented on #8985
It got broken with the new Avalonia version (0.10.18) with the old one (0.10.17) it works as expected.

@wieslawsoltes Could you also take this one and investigate what happened on Avalonia's side?

[2022-08-23 11:57] wieslawsoltes commented on #8985
ok

[2022-08-23 13:19] #8436 closed

[2022-08-23 13:21] molnard commented on #3552
Nothing changed significantly in the KeyManager and neither did the discovery of the wallet. I guess the bug still lurking there. Until there are no mass reports or a reproducible issue, it makes no sense to keep this here.

[2022-08-23 13:21] #3552 closed

[2022-08-23 13:36] molnard commented on #8815
We need a failing test case for this.

[2022-08-23 13:46] molnard commented on #3335
I don't know anything about this topic. Passing it to @lontivero

[2022-08-23 13:49] turbolay commented on #8181
The case 1 is still relevant, it's not really an issue with the messages but with `RoundEnded : CoinJoinProgressEventArgs`.
In some cases (coins banned, user presses pause etc...) the coordinator by design didn't reply with a reason or was not yet consulted when the event is triggered.
Numerous issues are caused by this behavior. I'm still looking into it but it seems that a workaround would be to

[2022-08-23 13:56] molnard commented on #8936
It is not good if there is no guidance on how to reproduce neither log or video.

[2022-08-23 14:03] molnard commented on #8257
dotnet run -- publish

[2022-08-23 14:06] molnard commented on #4223
There are many unsupported features still in Json.NET, here is a comparison

https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to?pivots=dotnet-6-0

[2022-08-23 14:12] molnard commented on #7153
![NuclearMushroomGIF](https://user-images.githubusercontent.com/9844978/186180845-938d1f21-46a3-4c33-9449-6cd33bce77c6.gif)

[2022-08-23 14:12] #7153 closed

[2022-08-23 14:16] molnard commented on #2705
the code is still not clean.

[2022-08-24 07:34] molnard commented on #8461
@kiminuo can you give me a short brief on how this was solved by #8827?

[2022-08-24 08:36] molnard commented on #3879
Wasabi is using the folder according to the environment variable `APPDATA`.

Can you read the content of that variable by using a terminal?

Related
- https://docs.microsoft.com/en-us/dotnet/api/system.environment.getenvironmentvariable?view=net-6.0
- https://github.com/molnard/WalletWasabi/blob/master/WalletWasabi/Helpers/EnvironmentHelpers.cs#L53

[2022-08-24 08:40] molnard commented on #8617
I don't think it is relevant anymore. A lot of messages changed since.

[2022-08-24 08:40] #8617 closed

[2022-08-24 08:41] molnard commented on #4867
no implemented.

[2022-08-24 08:50] molnard commented on #7432
This is still there. The source of the error is 99% coming from TorHttpPool-CreateNewConnectionAsync.
According to this measurement: https://github.com/zkSNACKs/WalletWasabi/pull/8898#issuecomment-1210250436

With this, we will have more information: https://github.com/zkSNACKs/WalletWasabi/pull/8979
This also will help to not fail when we get to the actual request: https://github.com/zkSNACKs/Wal

[2022-08-24 08:52] molnard commented on #7634
There were many changes since then. I haven't seen this since then. Feel free to open it if you see it again.

[2022-08-24 08:52] #7634 closed

[2022-08-24 08:52] molnard commented on #8618
Sometimes I see this. Yes.

[2022-08-24 08:53] molnard commented on #8172
I think this is a good idea. The concept is not figured out exactly.

[2022-08-24 09:11] LE0LE0LE0 opened #8991 "Wasabi-2.0.1.4 closing on startup on Tails"
### General Description

Wasabi wallet 2.0.1.4 closing on startup.
V1 was working perfectly fine. We are trying to update to V2 but it's not working.
Logs says: Tor process failed to start (see full logs below).

### Operating System

Tails 5.3.1

### Logs

2022-08-24 09:07:55.936 [1] INFO	ConfigBase.LoadOrCreateDefaultFile (67)	UiConfig file did not exist. Created at path: `/home/amnesia/.walletw

[2022-08-24 09:32] yahiheb commented on #8991
Currently Wasabi does not work properly on TAILS unfortunately, and for that reason TAILS is not supported OS.

You can read more details about that here #8535

[2022-08-24 11:40] soosr commented on #8618
It happened to me recently too. My wallet was unable to login completely.

[2022-08-25 06:40] MarnixCroes opened #8998 "TestNet coinjoin keeps being displayed as unconfirmed"
wallet is fully synced
that coinjoin already has 500+ conf

![image](https://user-images.githubusercontent.com/93143998/186591618-9699838f-ebea-45cf-b929-1614f20b1e42.png)

### Wasabi Version

2244fe8741120be1515a81aa298f7f6c6f135218

[2022-08-25 07:26] MarnixCroes commented on #8998
restarting Wasabi and fully synced made them disappear from the list
![image](https://user-images.githubusercontent.com/93143998/186602129-46b71f28-42c3-4ff5-a647-75af9058660d.png)

[2022-08-25 08:06] molnard commented on #8998
I would start with the filters. Maybe your wallet is not getting them.

[2022-08-25 10:48] MarnixCroes commented on #8998
Yes lots of Tor errors and failed to connect to test onion warning repeatedly

[2022-08-25 13:38] adamPetho commented on #8772
New message:
`CoinJoinClient.CreateRegisterAndConfirmCoinsAsync (422) User requested cancellation of registration and confirmation.`

[2022-08-25 13:38] #8772 closed

[2022-08-25 14:28] yahiheb opened #8999 "Height in wallet file does not match block height of the last confirmed transaction"
I received bitcoin and once the transaction got confirmed the `Height` in the wallet file is less (101) than the block height where the tx is mined.
Is this normal?

How to reproduce:

- Create a new wallet
- Receive bitcoin
- Check the `Height` in the wallet file, once the transaction is confirmed
- Compare it with the block height of the block containing the tx

[2022-08-25 14:53] yahiheb opened #9000 "Update the Tor binaries upgrade script to also upgrade the Geoip files"
https://github.com/zkSNACKs/WalletWasabi/pull/8547#issuecomment-1226535495

[2022-08-25 15:10] yahiheb commented on #9000
Once this is done we can properly update the [document to update Tor binaries](https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi.Documentation/Guides/UpgradeTorDaemons.md).

[2022-08-25 15:24] MaxHillebrand opened #9002 "Add wallet birthday to wallet file and wallet import"
Knowing the birthday of a wallet (the day the keys were generated) speeds up the wallet recovery, as we don't need to download, store and process filters and blocks before the birthday.

At wallet creation, write into the wallet file the birthday and block height (+hash?).

Show the birthday and block height in the wallet recovery screen.

At wallet import, let the user optionally select a birthda

[2022-08-25 17:32] turbolay commented on #9002
What would happen if at wallet import an user fails and input 2021 as the key generation year but the right one was 2019? The funds displayed might be incorrect with 0 way for the user to even know it right?

So I think at wallet import all history should be downloaded.

[2022-08-25 17:58] yahiheb commented on #7325
I couldn't reproduce this one.

[2022-08-25 17:58] #7325 closed

[2022-08-25 19:20] MaxHillebrand commented on #9002
That is always a risk, and there could be a resync button to set a different birthday. Alternatively, after the birthday synchronization is done, the wallet could be displayed loaded, but a full scan is conducted in the background.

If an attacher has access to your wallet file or base operating system, there is little we can do to protect users, we have to assume a non-malicious computer.

[2022-08-25 22:17] yahiheb commented on #8354
I don't see that `Object was already disposed` error, in fact I don't know how it happened.

Anyway here are some logs:

[code]

[code]

[code]

[2022-08-26 02:55] yahiheb commented on #6215
I get no errors.

I get:

<details>
  <summary>Click to expand and to see the logs!</summary>

[code]
</details>

[2022-08-26 09:00] nopara73 opened #9003 "Clean debug logs"
[code]

[2022-08-26 09:17] nopara73 commented on #8877
@wieslawsoltes what's the progress of this?

[2022-08-26 09:45] adamPetho commented on #8988
<img width="491" alt="image" src="https://user-images.githubusercontent.com/45069029/186876026-2f13f629-e9db-41a7-80c4-f57cc6f41020.png">

There is no such thing "Y minus the fee instead of X", only input amount and output amount.
The coins got consolidated yes, and a change address was created for the change. Nothing out of ordinary.
I was able to broadcast the TX easily.

So, what's the issue he

[2022-08-26 12:52] turbolay opened #9004 "Wallet icon is smaller when opening the app"
When I open the app, the wallet icon on the Open Wallet UI is smaller than it should.
When switching wallet without opening you can see it clearly:

<details>
<summary>See the issue (click):</summary>

![WalletWasabi Fluent Desktop_QVEmDFC6Kn](https://user-images.githubusercontent.com/16029533/186907247-e046427a-7fd8-4001-8e3e-9f4e579e2176.gif)
</details>

Its worth to note that whenever I redimen

[2022-08-26 13:02] turbolay commented on #9004
This issue has also a "counterpart"
I didn't find how to reproduce this, but sometimes this issue doesn't occur, and the icon is displayed normally, but it will cut the "Open" button like this:
![WalletWasabi Fluent Desktop_6pfmwjHmLm](https://user-images.githubusercontent.com/16029533/186909227-8cbc833c-36d4-4731-869b-ed24663ad7d6.png)

[2022-08-26 13:19] lontivero commented on #8988
The user expects to see a classical confirmation windows where we can verify the payment is correct so, he sees the `Output amount` field but his brain cannot believe how useless that datum is and then it tries to re-interpret it as "Payment amount".

[2022-08-26 14:24] soosr commented on #9004
Duplicate (because the source of the issue is the same) https://github.com/zkSNACKs/WalletWasabi/issues/8986

[2022-08-27 08:16] nopara73 opened #9008 "Don't make me verify recovery words in debug"
If I am running the software in Debug configuration, then regardless of the network, when I want to add new wallet, let me skip the recovery word confirmation like I can on testnet or regtest.

[2022-08-27 08:26] nopara73 opened #9009 "Investigate/Fix Exception"
1. Run Wasabi in Debug
2. Click Settings
3. Close Wasabi (CTRL + C on command line)

[code]

[2022-08-27 08:31] nopara73 opened #9010 "Make Exception Friendly"
When Knots is not yet ready to provide estimations we're using estimations from the backend. There's nothing wrong with this, yet it appears as a huge error. Let's just write out an "info" log message instead.

[code]

[2022-08-27 08:34] nopara73 commented on #8890
Done

[2022-08-27 08:34] #8890 closed

[2022-08-27 08:53] nopara73 commented on #8172
I think the attack vectors are clear and I explained them here: https://github.com/zkSNACKs/WalletWasabi/issues/8172#issuecomment-1140192207

FTR because of that, it makes little to no difference overall. But certainly an noncontroversial change.

[2022-08-27 09:13] #8987 closed

[2022-08-27 09:49] #8967 closed

[2022-08-27 14:30] turbolay opened #9012 "When disk is full, Config.json gets corrupted/wiped"
When disk is too full to save Config.json, when relaunching WW you get:

`2022-08-27 16:18:15.545 [1] INFO	ConfigBase.LoadOrCreateDefaultFile (77)	Config file has been deleted because it was corrupted. Recreated default version at path: C:\Users\Administrateur\AppData\Roaming\WalletWasabi\Client\Config.json.`

[2022-08-27 14:38] soosr commented on #9012
When the disk is full not only Wasabi has a problem I guess. Should we do anything?

[2022-08-27 14:50] turbolay commented on #9012
I agree than when you have 0 bytes available on your disk the config file of Wasabi may not be your first issue.
Yet my disk was full and my config file was wiped 😆
I think even if we don't do anything, we should keep track of it.

[2022-08-27 14:53] #9004 closed

[2022-08-27 15:11] MaxHillebrand commented on #9012
Is there at least a user friendly error in the logs and UI?

[2022-08-27 15:13] turbolay commented on #9012
In the UI nothing, in the log the error is written.
I could see it as I run WasabiWallet.Fluent.Desktop.exe, but a user running wassabee.exe won't see it as the disk is too full to keep writing the logs

[2022-08-27 15:16] soosr commented on #9012
Many issues can happen once you don't have enough space on the disk, if I remember correctly another user had issues with the transaction.dat file...

A warning message somewhere might help if the free space on the disk is lower than X%.

[2022-08-27 15:28] soosr commented on #8295
@Bodnaralexa Could you edit the [original icon](https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Shield/SVG/ic_fluent_shield_48_regular.svg) and make a double shield icon?

[2022-08-27 15:32] soosr opened #9013 "[VDG] Extend Coinjoin details"
This issue gathers all the needs for improving/extending the coinjoin details dialog since there are many separated issues.
Original issues are closed but linked to not get lost.

- Display the coordinator fee and the network fee separately. https://github.com/zkSNACKs/WalletWasabi/issues/8197
- Anonset achieved for each equal denomination https://github.com/zkSNACKs/WalletWasabi/issues/3124
- val

[2022-08-27 15:33] soosr commented on #8197
Superseded https://github.com/zkSNACKs/WalletWasabi/issues/9013

[2022-08-27 15:33] #8197 closed

[2022-08-27 15:33] soosr commented on #3124
Superseded https://github.com/zkSNACKs/WalletWasabi/issues/9013

[2022-08-27 15:33] #3124 closed

[2022-08-27 15:49] RolandUI opened #9014 "[VDG] Extend transaction details"
This issue gathers all the needs for improving/extending the transaction details dialog since there are many separated issues.
Original issues are closed but linked to not get lost.

- Transaction fee https://github.com/zkSNACKs/WalletWasabi/issues/8678
- Destination address https://github.com/zkSNACKs/WalletWasabi/issues/8662
- number of inputs
- number of outputs
- change
- Visual Transaction de

[2022-08-27 15:50] soosr commented on #8678
Superseded https://github.com/zkSNACKs/WalletWasabi/issues/9014

[2022-08-27 15:50] #8678 closed

[2022-08-27 15:51] soosr commented on #8662
Superseded https://github.com/zkSNACKs/WalletWasabi/issues/9014

[2022-08-27 15:51] #8662 closed

[2022-08-27 16:37] jesseaam opened #9015 "CLI tool wassabee not working"
### General Description
Hello, I am having issues with the command line tool `wassabee`. In particular, I can use it to open Wasabi Wallet, but no other available commands work (e.g., checking version, findpassword).

### Wasabi Version
2.0.1.4

[code]

### Operating System
Ubuntu 22.04

[code]

### what else I've tried
* uninstalling + reinstalling the `.deb` package.
* installing the `Wasabi-2.0

[2022-08-27 17:01] technonerd33 commented on #8535
Just some notes while I was trying to play around with WW2 on tails

I managed to get WW2 to run with `"UseTor": false`  and `"MainNetFallbackBackendUri":"http://wasabiukrxmkdgve5kynjztuovbg43uxcbcxn6y2okcrsg7gb6jdmbad.onion/",` while not ideal or preferred. I was able to download filters for blocks, and it attempted to bootstrap into the bitcoin network. Haven't tested anything else with the wall

[2022-08-28 07:11] #9008 closed

[2022-08-28 12:40] nopara73 opened #9018 "Make Recovery Words Copyable"
Followup on https://github.com/zkSNACKs/WalletWasabi/discussions/8925

For example one could add a right click menu, so it wouldn't be obvious that it's copyable, but it also doesn't point the attention to the copy button.

[2022-08-28 13:07] turbolay commented on #9018
This incentivize to store coins as plain text on the computer which is a terribly poor security practice so I'm not sure that's a good idea.
As we want the users to write down the seed on a physical support I see no scenario where a copy button does more good than harm.

[2022-08-28 13:38] MaxHillebrand commented on #9018
I get the point @turbolay brings up, however, the user might also store them in a password manager on the same machine, and here copy is useful.

[2022-08-28 17:15] ichthus1604 commented on #9009
@nopara73 I could not reproduce this on current master following your steps.

Do you have any special configuration? I tried toggling `run in background when window closed` on and off but to no avail.

Also: are you running on Mac?

[2022-08-28 22:06] yahiheb commented on #9018
What is the incentive to have this?

What max mentioned about storing the recovery words in a password manager on the same machine is an edge case I believe, specially for the average joe.

If we are right about our vision that WW2 is targeting more newbies and less technical users we should do our best to educate them about bitcoin security best practices, specially regarding recovery words and p

[2022-08-29 10:30] molnard commented on #8988
I guess the user wants to see how much he will "send out" of the wallet, instead of the sum of the outputs. It can be quite a complex task to analyze the outputs per wallet and find out the actual payment intent.

[2022-08-29 10:51] Szpoti commented on #8988
So the user's point would be not to show the output amount, but to show the amount he's sending out, because this is confusing, one would think he's sending out everything.
If he uses Wasabi to send amount X with his hardware wallet, can't we save that X so we can show it on the preview at the end?

[2022-08-29 13:22] Szpoti commented on #9013
As I can see everthing is merged here? What else can be improved here?

[2022-08-29 13:29] lontivero commented on #3335
Just disable deprecated tls versions in nginx in case they are not already disabled by default.

[2022-08-29 13:39] yahiheb commented on #8622
IMO this should be fixed before and regardless of the status of #8550

Maybe a simple message informing the user is enough for now.

[2022-08-29 13:47] MaxHillebrand commented on #9013
Roland closed the others in favor of this meta issue, not because those tasks are done, afaik.

[2022-08-29 13:57] MaxHillebrand opened #9024 "[VDG] Remove music box for autocoinjoin"
The default UX (autocoinjoin on) should be simple and decluttered, the music box UI can be completely removed.

The spectrum animation shows coinjoin activity already.

In manual start mode the music box should still be there.

[2022-08-29 15:29] turbolay opened #9025 ""Restart Wasabi" in settings is bypassing shut down prevention"
Title says it all, while in critical phase changing a setting and clicking "Restart Wasabi" will exit the app.

<details>
<summary>Here's a gif if you want to see the flow</summary>

![WalletWasabi Fluent Desktop_vO0k7KXzPY](https://user-images.githubusercontent.com/16029533/187237207-695aa582-38e4-4034-afea-dd37d8ce7626.gif)

</details>

[2022-08-29 16:41] yahiheb commented on #9024
How about for the default UX to simply hide the musicbox and upon hovering over the spectrum animation the musicbox pops up?

[2022-08-30 11:54] Szpoti commented on #9025
Intresting:
All roads lead to Rome, in this case to [ApplicationStateViewModel](https://github.com/zkSNACKs/WalletWasabi/blob/d79b6e6f87a001349aa7bee33c462ca4c4ab8e02/WalletWasabi.Fluent/ApplicationStateManager.cs#L114-L133).
In all cases (shutdown manually by closing or restarting from settings) `preventShutdown` is `true`, and in all cases we create and (would) navigate to as `ShuttingDownViewMo

[2022-08-30 19:21] lontivero commented on #8973
Closed by https://github.com/zkSNACKs/WalletWasabi/pull/9029

[2022-08-30 19:21] #8973 closed

[2022-08-30 19:31] yahiheb commented on #8973
@lontivero This is still not done.

[2022-08-30 21:26] lontivero commented on #8973
I tried and failed so, let say it is completed,

[2022-08-31 06:11] nopara73 commented on #9009
Windows 10. Can you try it again? It comes 4 times out of 5. Try to do the steps I mentioned fast.

Run Wasabi, as soon as the UI appears click settings, then switch to the console, click ctrl+c and see the bug.

[2022-08-31 06:25] #9010 closed

[2022-08-31 06:30] #9003 closed

[2022-08-31 08:21] #8769 closed

[2022-08-31 19:09] #6285 closed

[2022-08-31 20:09] ichthus1604 commented on #8180
I'm going to close this since the implementing PR has been merged.

Further feedback is appreciated and may be placed in separate issues.

@BTCparadigm @nopara73 @MaxHillebrand @zkSNACKs/visual-design-group

[2022-08-31 20:09] #8180 closed

[2022-09-01 00:58] ichthus1604 opened #9038 "Incorrect recovery of wallet causes too much user panic"
# Problem:

Entering wrong recovery words or password in the Wallet Recovery workflow results in an empty wallet.

This has been reported many times:

 - https://github.com/zkSNACKs/WalletWasabi/discussions/7224
 - https://github.com/zkSNACKs/WalletWasabi/discussions/8363
 - https://github.com/zkSNACKs/WalletWasabi/discussions/8642

And every time the user gets the impression that the process actu

[2022-09-01 01:09] lontivero opened #9039 "Client aborts after `Witness already provided` Exception"
### General Description

For some reason, presumably because of the retry mechanism,  the client tries to send the same witness more than once during the coinjoin round signing phase. The problem is that the client, when receive the error from the coordinator, halts the process. The client should ignore it and continuing.

### Logs

[code]

### Wasabi Version

b8a2d71d7

[2022-09-01 01:27] lontivero opened #9040 "Use cookie file authentication method to consume bitcoin rpc services"
Bitcoin core has been trying to deprecate the `-rpcuser` and `-rpcpassword` since ever and while there are no recent news about any progress in that direction, cookie files are more secure so, we should implement it for our coordinator at least.

[2022-09-01 01:38] lontivero opened #9041 "Consider switching the client to `full-RBF`"
Bitcoin core is moving to change the way the RBF transactions are treated because the are some hypothetical situations where opt-out transactions can be used to deny propagation of multiparty transactions like our coinjoins.

Currently Wasabi client only allow replacement of transactions which opted-in BIP125 but it would be convenient to  review this.

[2022-09-01 03:00] turbolay commented on #9038
To take in consideration for the loading screen: This screen will probably move in place of the History Table to avoid having the user waiting. It might also be redesigned because it could be good for the UX to add the recovered transactions in the history table every time we find one while downloading blocks.

Also I think we have to address the root of the issue before. When I first used WW, I h

[2022-09-01 04:31] wuzhanfly commented on #8747
I also encountered this problem, the same is 22.04 system

[2022-09-02 14:27] yahiheb opened #9046 "Some QR codes that WW generates are hard to scan"
According to some users https://bitcointalk.org/index.php?topic=5402090.msg60469138#msg60469138:

@nopara73 and I faced this issue also.

[2022-09-02 14:28] yahiheb commented on #9046
Maybe making QR code Capital letter Bech32 would help? #2527

[2022-09-02 15:06] onvej-sl opened #9047 "Build errors"
Since 8a8d093090bbe5127be2a1bfeeca91c67b3abe99, I'm not able to build the code. See [the log.](https://github.com/zkSNACKs/WalletWasabi/files/9479020/log.txt) Can you help me what I'm doing wrong?

[2022-09-02 15:59] yahiheb commented on #9047
@soosr and @BTCparadigm faced the same issue, so maybe they can help.

According to @soosr on Slack:

[2022-09-02 21:08] wieslawsoltes commented on #8877
Looks like the update is never triggered here when missing transaction is sent:

https://github.com/zkSNACKs/WalletWasabi/blob/7a8694158748a0f2601791f8197baab921703350/WalletWasabi.Fluent/ViewModels/Wallets/WalletViewModel.cs#L54-L65

so it looks like the transaction is never registered somehow and only appears when application is restarted.

[2022-09-02 21:10] wieslawsoltes commented on #8877
I think one reason might be that sent coin SpenderTransaction in not set properly.

[2022-09-02 21:17] wieslawsoltes commented on #8877
So when we calculate history items balance we can no find spender transaction  in TransactionHistoryBuilder:

https://github.com/zkSNACKs/WalletWasabi/blob/7a8694158748a0f2601791f8197baab921703350/WalletWasabi/Blockchain/Transactions/TransactionHistoryBuilder.cs#L58

![image](https://user-images.githubusercontent.com/2297442/188236302-31b5c24b-c450-4c56-a674-dd416ae3b20e.png)

[2022-09-02 21:20] wieslawsoltes commented on #8877
But balance title calculates correctly here:
https://github.com/zkSNACKs/WalletWasabi/blob/7a8694158748a0f2601791f8197baab921703350/WalletWasabi.Fluent/ViewModels/Wallets/Home/Tiles/WalletBalanceTileViewModel.cs#L55

[2022-09-02 23:30] turbolay commented on #9046
Some context: https://github.com/btcpayserver/btcpayserver/issues/2110
In the past in BlueWallet, QRCodes were extremely hard to scan also. Now that they're using uppercase it improved a lot.

[2022-09-02 23:44] yahiheb commented on #8877
@wieslawsoltes Do you think this https://github.com/zkSNACKs/WalletWasabi/pull/9045 might be related?

[2022-09-03 05:03] wieslawsoltes commented on #8877
I don't think so, I have used my own observable using solution from that PR

[2022-09-04 04:02] jmacato commented on #9046
There's a limitation in our QRCode library that prevents usage of the limited QR code charset (the thing that makes the QR code more readable and makes it uppercase.). We need to find a way to reencode the QR codes to that charset.

[2022-09-04 05:53] nopara73 commented on #9046
@yahiheb You succeeded to generate a QR code with Wasabi that Wasabi cannot scan. Could you somehow generate another one (that isn't part of your main wallet?) Maybe uploading it to Signal ruined it.

[2022-09-05 07:47] LE0LE0LE0 commented on #8991
Hello,

Do you know if WW2 would start working on Tails in a future update? Maybe I could make a small donation to support that as well?

I am stuck for now as WW1 coinjoin volume is very low since WW2 release...

Thank you again for the awesome work.

[2022-09-05 07:48] LE0LE0LE0 commented on #8535
I am interested by your work as well. WW2 in Tails would be very good.

[2022-09-05 08:14] yahiheb commented on #8991
https://github.com/zkSNACKs/WalletWasabi/issues/8535#issuecomment-1183178843

[2022-09-05 13:28] onvej-sl commented on #9047
Updating `dotnet-sdk` probably fixed the problem.

[2022-09-05 13:28] #9047 closed

[2022-09-05 17:29] turbolay opened #9051 "[VDG] MusicBox redesign"
### Motivation

Numerous issues have been raised in the past about the MusicBox. The UX with it is not so good and its whole purpose is slowly going away from the reason for its implementation in the first place: To have a clear and concise way for the user to understand how its privacy is being improved.
Too many messages, too complex to understand, non-pertinent information, etc...
Its whole con

[2022-09-05 19:35] #8842 closed

[2022-09-06 06:22] MaxHillebrand commented on #9051
Great writeup.

I do like the idea of getting the functionality in the privacy homescreen tile, this way there is a lot more vertical screen space.

[2022-09-06 08:57] yahiheb commented on #9051
I personally like the only aura option, and when hovering over it you get the musicbox.

[2022-09-06 09:10] SuperJMN commented on #3125
Shall we close this in favor of https://github.com/zkSNACKs/WalletWasabi/issues/9014?

[2022-09-06 11:09] #3125 closed

[2022-09-06 15:21] ichthus1604 opened #9055 "[VDG] Privacy Bar shows incomplete information when the wallet has lots of coins"
Credits to @turbolay for discovering this problem:

Testing on a wallet with +900 coins, this is how the privacy ring and bar look:

![image](https://user-images.githubusercontent.com/98904713/188670710-3f8481f6-5c54-40b1-87bd-03ab77a8d718.png)

![image](https://user-images.githubusercontent.com/98904713/188670736-b1212630-ab17-4d00-a9c8-7d51a36c6307.png)

Notice the ring has a lot of red coins, w

[2022-09-06 15:24] ichthus1604 opened #9056 "[VDG] UI hangs with +5000 coins due to privacy bar rendering"
Credits to @turbolay for discovering this problem.

Related to #9055

UI hangs (with the usual "not responding" message from the OS) when trying to open a wallet with lots of coins.

This is caused by trying to render all the segments of the privacy bar.

My proposed solution is the same as discussed in the above referenced issue.

[2022-09-07 03:18] #9039 closed

[2022-09-07 05:58] kravens opened #9058 "Wallet already opened - Crashes Wasabi"
### General Description

Wasabi Wallet crashes when opening a wallet quickly after re-arranging wallets on the top-left side in GUI.
The error message says wallet is already open, but only one instance of Wasabi Wallet was running.

### How To Reproduce?

1. Open Wasabi Wallet 2.0.1.4
2. Drag a read-only Wallet you want to open from bottom to top.
3. Open the read-only Wallet you just dragged arou

[2022-09-07 08:36] molnard commented on #9012
Hello there, thanks for the feedback. What we can do in similar situations is to make sure the Wasabi state will be kept consistent, even if that means crashing the software. The warning message about disk space is the OS's responsibility.

[2022-09-07 08:40] molnard commented on #9015
Thank you for your feedback. CLI has been removed from Wasabi, you can use the RPC interface.

- https://docs.wasabiwallet.io/using-wasabi/RPC.html#configure-rpc

[2022-09-07 09:29] MaxHillebrand commented on #9015
Checkout the wcli RPC wrapper https://gist.github.com/lontivero/dadb4cc8a7ad649bb9c9d1ede9e59d4d

[2022-09-07 13:32] adamPetho commented on #9058
Can repro on master.

We go inside this if you do the steps above for reasons i don't know yet.

[code]

[2022-09-07 14:23] molnard opened #9062 "Load balancer bug"
### General Description

We were sitting in a pub and looking at the human monitor. The game was to estimate the total number of inputs for a round. The worst tip was doing 5 pushups in the middle of the pub.

After a while, I noticed there was a load balancer action and a round was broken down into two - by design. Here was where the problem started because only the first round was about to fill

[2022-09-07 14:28] molnard commented on #9062
In backend logs I saw this:

[code]

[2022-09-07 14:30] ichthus1604 commented on #9058
ping @zkSNACKs/visual-design-group @MaxHillebrand @nopara73

Order of wallets in the Navbar is not persisted anywhere, and is therefore lost between application restarts.

What is the purpose of such functionality? The way it is currently structured is problematic (credits to @SuperJMN for helping out understanding and debugging this problem)

My suggestion is to either implement it correctly (inc

[2022-09-07 21:54] kravens commented on #9058
I think it puts the active wallet on top of the list by default, which would be nice to make persistent between sessions.

[2022-09-08 09:09] MaxHillebrand commented on #9046
fwiw we already do generate capital letter bech32.

[2022-09-08 15:14] turbolay opened #9069 "Potential deadlock in KeyManager"
Even if that's not supposed to happen, there is a potential deadlock I ran into during my tests in the KeyManager.
Between:
[code]
and:
[code]

[2022-09-08 17:01] jmacato commented on #9046
@MaxHillebrand we do but the underlying encoding is still not the correct one

[2022-09-08 18:10] MaxHillebrand commented on #2531
End to end taproot integration https://github.com/zkSNACKs/WalletWasabi/pull/9070

[2022-09-08 23:37] #7961 closed

[2022-09-09 01:53] lontivero commented on #8585
I am refactoring the `KeyManager` class to add support for taproot scripts and before starting to implement anything I decided to clean a bit that class because it smells really bad. Among many changes that I think will be good, these are the ones that come to my mind now:

1. Remove the gap filler. Time ago we notice a problem with wallets having gaps bigger than 21 and then I implemented a mecha

[2022-09-09 08:34] nopara73 commented on #8877
What's TLDR the status here?

[2022-09-09 08:39] wieslawsoltes commented on #8877
For some reason coin SpenderTransaction is not set and this results in missing transaction is history table.

[2022-09-09 08:58] jmacato opened #9073 "Falling back to System-wide Tor installation"
The app should fallback to a system-wide tor install in case the included binaries fails to run.

This feature will be a requirement for Linux distros with architectures like what we have on RPi4 (arm64) and others that doesnt have a Tor Browser implementation in which we can copy Tor bins from. Also it's gonna be a requirement for future mobile installs as well.

[2022-09-09 09:21] lontivero commented on #9069
I will remove all those locks soon.

[2022-09-09 10:06] thibistaken opened #9074 "Stuck on waiting for confirmed funds"
### Coinjoins are stuck on "waiting for confirmed funds" but all UTXOs are confirmed already.

After rebooting Wasabi Wallet (2.0.1.4) three times, I get stuck on the same step: "Waiting for confirmed funds". It seems like Wasabi is expecting some of my UTXOs to be confirmed but when I look at their confirmation status, they are all confirmed. So I am not sure what is wrong. Tor is running. Backen

[2022-09-09 11:16] kravens commented on #9074
![image](https://user-images.githubusercontent.com/9646902/189336963-4d41472e-80ac-4c72-8a65-599ed69fc4da.png)
I seem to have a similar issue, when inspecting the UTXO's with CTRL+C+D it turns out all unmixed coins are banned from the coordinator.
![image](https://user-images.githubusercontent.com/9646902/189337330-103cfc06-9200-4c64-9745-82e0b0901033.png)
So the coinjoin routine keeps restarting

[2022-09-09 11:19] thibistaken commented on #9002
IIRC Specter Desktop allows users to manually set up a block height for wallet scanning. In our case, the default could be that Wasabi scans according to the birthday value in the config file, but also allows the user to perform a full block chain scan after the first loading is done, if the user thinks funds may have been missed in the scanning. Or as Max suggested, Wasabi could do it automatical

[2022-09-09 11:22] nopara73 commented on #9058
I have no preference what to do about it, just make sure it doesn't crash. @ichthus1604 make a decision, which you see most fit.

[2022-09-09 11:24] jmacato opened #9075 "[VDG] Disassociate MainWindow-isms and other Desktop-centric UX flows"
This is a tracker for @zkSNACKs/visual-design-group to work on making our MainView and other UI elements free of desktop-centric user experiences. I dont have any concrete goalposts for this yet aside from maybe decoupling the `ApplicationStateManager` from `IClassicDesktopStyleApplicationLifetime`. This issue should evolve in time accordingly.

[2022-09-09 11:38] nopara73 commented on #8877
Good find! Are you still working on this or on the verge of giving up?

[2022-09-09 11:40] wieslawsoltes commented on #8877
Yes I am working on this.

[2022-09-09 11:52] thibistaken opened #9076 "Slow and confusing initial wallet loading"
Initial wallet loading is taking a long time (over 60 seconds!) before showing any time estimate for completion. No details are provided to educate the user in terms of what is happening in the background.

As a user who may not be knowledgeable about bitcoin and Wasabi, I worry that block chain data is being downloaded. I don’t know how much bandwidth or disk space is required in that case. How m

[2022-09-09 15:04] MaxHillebrand commented on #9076
@turbolay is on it with #9063 #9071 #9079 #9080 #9082

Search for "BLOCKS DL" https://github.com/zkSNACKs/WalletWasabi/pulls?q=is%3Apr+blocks+dl

[2022-09-09 15:11] turbolay commented on #9076
Please note that my PR are not related to this:

This because of Tor/Backend/P2P Nodes initialisation and if you're on a HDD IndexStore.InitializeFiltersAsync
It's indeed more an UI issue.

It's a separate issue, but imho the time estimate is also not really good. We cant have a precision to the second, so why trying to give one? The time jumps etc its not a good UX. It would be better to just dis

[2022-09-09 15:43] jmacato opened #9084 "[VDG] Grammar checks + Standardized Phrasing Tone on all UI Text resources"
We should scan the whole Fluent repo to see any broken grammar or nonsensical text. And also we should try to enforce tonality rules like how Windows Aero/Vista did it with their design guidelines:

[Phrasing tone](https://en.wikipedia.org/wiki/Windows_Aero#Phrasing_tone)

cc @zkSNACKs/visual-design-group

[2022-09-09 15:48] jmacato opened #9085 "[VDG] Make sure negative spaces and layout are properly aligned"
Back in the pre-release, Dan was saying that we should use our eyes to see if the layout works on all sizes we support and also that they should all not look visually disjointed. He used the analogy of the Terminator's HUD with the rectangles on objects and figuring out if their bounds have proper and regular spacing in between them etc.

We should try to see if all the layouts in the app flows an

[2022-09-10 05:29] jmacato commented on #8540
pinging @MaxHillebrand does this still happen?

[2022-09-10 14:26] MaxHillebrand commented on #8937
Sequoia is a high quality light weight pgp rust implementation https://sequoia-pgp.org/

[2022-09-11 02:42] lontivero commented on #8937
PGP is not necessary for download verification.

[2022-09-11 09:42] nopara73 commented on #3113
@jmacato what's the status here?

[2022-09-11 09:58] #9000 closed

[2022-09-12 05:40] yahiheb opened #9092 "Non-privet coins selected despite having enough semi-privet ones"
- I want to send 0.00019 btc
- I have 0.0002 btc semi-privet
- The wallet selects non-privet coins

I easily noticed this while testing #9089, but the issue is not related to that PR.

The issue is within the `SmartCoinSelector` I guess.

[2022-09-12 05:49] yahiheb commented on #9092
@soosr One other thing that I have noticed in the [AutoSelectPockets](https://github.com/zkSNACKs/WalletWasabi/blob/472386a7ea791b98c4d0b31e5869985abd5cab19/WalletWasabi.Fluent/ViewModels/Wallets/Send/LabelSelectionViewModel.cs#L38) method is that we don't check if the semi private pocket amount is enough.

This IMO should be added (easily), but it does not solve the issue.

[2022-09-12 07:08] Szpoti commented on #8937
@lontivero how come? Is it because we strictly download from our own github API, so it 100% must be ours, non-malicious?

[2022-09-12 07:13] MaxHillebrand commented on #8937
I believe he means to verify the hash.

The problem I see with this, is that the old client doesn't know the hash of the new client, so he would have to get the hash from some other [trusted] source.

Whereas the old client can store the pgp pubkey which signs the new package.

[2022-09-12 08:47] jmacato commented on #3113
@nopara73 sorry im still researching how to reconcile the different url handler registration on windows and linux. mac will have to wait for a patch on Avalonia.Native since it requires a native macOS api

[2022-09-12 08:50] molnard commented on #8937
I guess you have to verify this against the downloaded content.

[2022-09-12 10:46] MaxHillebrand opened #9093 "Full QR code wallet flow"
Some offline signing devices communicate exclusively via QR code, this should be possible with Wasabi.

- import wallet (watch only)
- export unsigned psbt
- import signed psbt

https://seedsigner.com/
https://keyst.one

[2022-09-12 12:18] lontivero commented on #8937
No, ofc not. We have a MitM so we can never trust what the user downloads is ours. We also have the binaries packages hosted in GitHub, what is means that we have no exclusive control over the content.

What I mean is that we already have ways to sign things and we don't need more libraries, NBitcoin is enough. PGP is useful because it allows you to manage a web of trust that allows you to bind a

[2022-09-12 12:21] thibistaken commented on #9074
Same on my end, I had banned UTXOs. I wonder what triggers a ban? Also when a UTXO is banned, shall the user be notified with another message than "_Waiting for confirmed funds_"?

[2022-09-12 12:24] MaxHillebrand commented on #8937
yes of course, now I remember you making this point earlier @lontivero, and you are right. As long as the client knows a pubkey [non-pgp], it can verify the signature.

[2022-09-12 12:24] MaxHillebrand commented on #8937
yes of course, now I remember you making this point earlier @lontivero, and you are right. As long as the client knows a pubkey [non-pgp], it can verify the signature.

[2022-09-12 14:24] yahiheb commented on #9074
A lot of things can go be the cause of that. Eg you didn't sign the transaction, because an intermediary Tor relay failed.

https://github.com/zkSNACKs/WalletWasabi/discussions/8720#discussioncomment-3154749

[2022-09-12 21:04] wieslawsoltes commented on #8877
New finding: While being able to repro the issue I have observed that `Wallet.WalletRelevantTransactionProcessed` event is properly raised and the whole coin is included in `ProcessedResult.SpentCoins`

[2022-09-13 06:55] soosr commented on #9092
That is by design. https://github.com/zkSNACKs/WalletWasabi/pull/8344#discussion_r894586929

About the original issue:

I have been saying since we have auto selection that the logic is at the wrong place. Moving out the code from the UI to the `SmartCoinSelector` should be the first step, and I am assuming that would also fix the issue.

[2022-09-13 07:05] soosr commented on #9085
ACK. Up for grabs! @zkSNACKs/visual-design-group

[2022-09-13 07:07] soosr commented on #9084
I think this part is ok as @yahiheb usually checks it.

[2022-09-13 07:12] soosr commented on #9076
Even the minutes, moreover in some cases the hours can also jump, All depends on the download speed of a block. So hiding the seconds won't fix it.

It is because it is only displayed when the percentage > 1%, it could be easily changed in the UI code so the time estimation would be visible instantly.

[2022-09-13 07:22] soosr commented on #8406
Up for grab, @zkSNACKs/visual-design-group

[2022-09-13 07:25] #8340 closed

[2022-09-13 07:26] #8584 closed

[2022-09-13 07:55] soosr commented on #9024
How would they pause it then?

Also, it can be very annoying since the spectrum aura is visible everywhere, so you probably wouldn't know (easily) if the currently opened wallet is CJ ing or it is only the global spectrum aura.

[2022-09-13 08:55] wieslawsoltes commented on #8877
So if  ProcessedResult.SpentCoins is added here:

https://github.com/zkSNACKs/WalletWasabi/blob/cc68a299364e5e18a679e742f5c52346d229db9c/WalletWasabi/Blockchain/TransactionProcessing/TransactionProcessor.cs#L260

it should actually set SpenderTransaction on next line:

https://github.com/zkSNACKs/WalletWasabi/blob/cc68a299364e5e18a679e742f5c52346d229db9c/WalletWasabi/Blockchain/TransactionProcessi

[2022-09-13 09:20] yahiheb commented on #9092
@nopara73 Why is using private and semi private together better to make transactions from than from semi privates only?
If that is the case why don't we just treat semi private as private coins?

The issue is not with the auto pocket selection code, moving it or not won't solve the issue.

If what I described is really an issue why should the solution wait for some code convention that might not h

[2022-09-13 10:29] soosr commented on #9092
It will solve several issues once the manual coin selection is enabled.

We should know more about your environment. The number of your private funds and the transaction fee are important. If you don't have any private funds and the transaction fee couldn't be covered from the remaining 0.00001 BTC, then the behavior was correct.

[2022-09-13 11:11] yahiheb commented on #9092
I noticed this issue while testing the manual coin selection, so moving the code won't solve this issue.

There is no private funds and the semi private funds are two coins.

[2022-09-13 11:22] soosr commented on #9092
Let me clear what I wanted to say.

SmartCoinSelector has no idea what are the private funds and what are the semi private funds. For example if the user selects all the coins on the manual selection screen, it won't take them into account. That is why I am saying that the logic should be moved first. And there are many other issues that can happen.

In this case, I don't see a problem here, proba

[2022-09-13 11:29] yahiheb commented on #9092
Yes I know that, but the `SmartCoinSelector` should use only what the pocket selection selected.

Yes I confirm that, but that is a problem.

The issue here is with the pre-selected fee rate that the wallet last used. If it is high then the wallet ends up selecting non private coins.

[2022-09-13 11:49] soosr commented on #9092
It does that. In your case, the pocket selection selected the non private pockets and only used that.

This is an edge case and hard to decide what to do...

First, we check what can be the maximum FeeRate for this transaction, if the difference between the max fee rate and the preselected one is lower than 25%, then the max fee rate is used.

We could apply the max fee rate even if the difference

[2022-09-13 12:41] thibistaken commented on #9076
Three solutions were previously discussed:

1. Get rid of the loading page entirely and bring the user into the main wallet page. This would require too much refactoring of the code to ensure nothing breaks. Not being considered at the moment.
2. Improve loading speed as much as possible. This is what @turbolay is working on in other issues referred to previously in this thread.
3. Leverage the wa

[2022-09-13 14:44] yahiheb commented on #9092
No that is not true, the pocket selection selected [privateAndSemiPrivatePockets](https://github.com/zkSNACKs/WalletWasabi/blob/cc68a299364e5e18a679e742f5c52346d229db9c/WalletWasabi.Fluent/ViewModels/Wallets/Send/LabelSelectionViewModel.cs#L66).

It is not an edge case.

That is not a problem, that is actually the point of allowing the user to make decisions and to manually select coins, fee rates

[2022-09-13 14:48] yahiheb commented on #9092
BTW this is also wrong, `SmartCoinSelector` and [AutoSelectPockets](https://github.com/zkSNACKs/WalletWasabi/blob/472386a7ea791b98c4d0b31e5869985abd5cab19/WalletWasabi.Fluent/ViewModels/Wallets/Send/LabelSelectionViewModel.cs#L38) should not be used at all if the user wants to manually select coins.

[2022-09-13 18:56] MaxHillebrand commented on #9092
That's not how it was in 1.0, where user selected coins are sent to smart coin selector, and that's a good thing. Otherwise user selects all coins to make a small payment, and the wallet follows him blindly to consolidate all coins.

"manual coin selection" is more like "manual selection of coins going into auto selection"

[2022-09-13 19:52] ichthus1604 commented on #9085
@wieslawsoltes's [Layout Overlay](https://github.com/zkSNACKs/WalletWasabi/pull/8346) (a.k.a Terminator Mode) would be really useful here.

[2022-09-13 20:30] turbolay opened #9101 "[VDG] Privacy Ring caused crash when finished a CJ round"
I was finishing a CJ round on several wallets, was going for a blame round and had Privacy Ring open.
Something interesting is that there were 15s with no logs between "going for blame round" message and crash
I do not have more information on how to reproduce.

<details>
<summary>Crash report:</summary>

[code]
</details>

<details>
<summary>Last Logs:</summary>

[code]
</details>

[2022-09-13 21:18] yahiheb commented on #9092
Okay, but what if I really want to consolidate my coins?

[2022-09-13 22:32] turbolay commented on #9101
I could reproduce by letting the privacy ring on while making CJ.
So I can say it's not related to blame round

<details>
<summary>Logs:</summary>

[code]

[2022-09-14 05:54] soosr commented on #9101
ping @ichthus1604

[2022-09-14 06:17] MaxHillebrand commented on #9092
If we want to give the user full power, including to shoot himself in the foot like allowing unnecessary inputs, then this is a big question for a separate discussion.

Lucas might argue this is something for the command line interface.

I suggest for this PR to not deviate from our previous strategy, and implement what we know works good enough.

[2022-09-14 06:23] soosr commented on #9092
Send your total balance.

[2022-09-14 06:26] #9058 closed

[2022-09-14 07:21] soosr commented on #9002
cACK.

### Backward compatibility
For existing wallets, the birthday height could be the height of the oldest transaction minus X.

### Newly created wallets
 Current block height and once it received the first transaction, it can be adjusted. Again, height - X.

 ### what is X?
 Not the actual number but a tiny bit lower number should be stored so that in the case of reorg there still won't be an

[2022-09-14 07:25] MaxHillebrand commented on #9002
Newly created wallets should have the timestamp of when the keys were initially generated, not the first transaction.

Otherwise the user makes a wallet file backup before receiving the first transaction, and it would not include the birthday.

[2022-09-14 07:42] MaxHillebrand commented on #9002
ACK, smart.

[2022-09-14 08:47] MarnixCroes opened #9104 "NavBar: wallets marked as selected, while not"
just start Wasabi, the marked as selected wallets havent't been touched.
see the pattern that it is every 10 wallet in between

https://user-images.githubusercontent.com/93143998/190106821-4cec0f2a-8ef6-4960-bfbe-62c6a0de4ef0.mp4

da322f7178ae54b2989c51de047da19452211284

[2022-09-14 08:50] soosr commented on #9104
Does it get fixed when you click on a wallet?

[2022-09-14 08:55] MarnixCroes commented on #9104
yes after clicking on the marked wallet, it is fixed for that wallet.
However, some other wallet gets selected then
Always the once every 10 wallet pattern

[2022-09-14 08:56] soosr commented on #9104
@jmacato Could you take a look?

[2022-09-14 08:59] MarnixCroes opened #9105 "NavBar: wallet name& tooltip not corresponding and hww iconed as 'normal' wallet"
![image](https://user-images.githubusercontent.com/93143998/190111597-ace1da13-3497-48e7-85f2-b725be2f37b6.png)
the wrong wallet name happens to multiple wallets, but not all of em

https://user-images.githubusercontent.com/93143998/190112273-fb4ae34a-007d-42cb-b725-694e9ede57d6.mp4

[2022-09-14 09:20] #8877 closed

[2022-09-14 09:35] nopara73 commented on #9092
If that is the case why don't we just treat semi private as private coins?

Assume we have two semi private coins, which are both 50% private: `C1(50%)` and `C2(50%)` and assume one fully private coin: `C3(100%)`. In that case we have 2 ways to go:

1. `C1(50%) + C2(50%) = TX1(25%)`
2. `C1(50%) + C3(100%) = TX2(75%)`

TX2 is a more private transaction, than TX1 is and Wasabi Wallet wants to create

[2022-09-14 09:44] #8941 closed

[2022-09-14 09:53] nopara73 opened #9106 "Do something with crappy out of place text"
![image](https://user-images.githubusercontent.com/9156103/190122434-963b2eec-428e-4af9-820c-9504af0df9d8.png)

[2022-09-14 11:21] wieslawsoltes commented on #9104
This PR https://github.com/zkSNACKs/WalletWasabi/pull/9100 broke selection

[2022-09-14 11:27] #9104 closed

[2022-09-14 11:37] soosr commented on #9105
Can you check master? https://github.com/zkSNACKs/WalletWasabi/pull/9109#event-7384883987 might fix it?

[2022-09-14 11:45] MarnixCroes commented on #9105
yes fixed now

[2022-09-14 11:45] #9105 closed

[2022-09-14 11:49] MaxHillebrand opened #9110 "[VDG] Status Icon not up to date"
The log says 7 peers connected, but the GUI status icon is still saying 0.

![2022-09-14-134719](https://user-images.githubusercontent.com/30683012/190145907-2b8770f4-36ac-42e7-80f3-c2749a6f9fc6.png)

[2022-09-14 11:53] molnard commented on #8937
I don't get the conclusion here, can you guys elaborate a bit more on this? Do we need any verification on the downloaded content or not?

[2022-09-14 13:16] MaxHillebrand commented on #8937
Yes, we do need to verify what was downloaded, otherwise there can be a malicious man in the middle attack.

We do however not need to verify the pgp signatures. It would be alright to create a new singing private key, and publish a second set of signatures with each release, and the client verifies those signatures. This can be a "bitcoin private key" (same crypto scheme as used for tx signing) b

[2022-09-14 15:09] MaxHillebrand commented on #8937
Second set of **signatures** (not keys)

Each package needs to be signed by the new key, or a signed text file containing the hash of each package.

[2022-09-14 15:13] lontivero commented on #8937
You're right. I misread it.

[2022-09-14 18:05] thibistaken commented on #9051
Only aura is great. Screen looks much cleaner. But how does the user know where to hover? Also why not redesign the entire music box down the line as @jmacato proposed?

[2022-09-14 19:53] MaxHillebrand opened #9113 "Anonymous address lookup server for fast wallet load (spiral)"
Loading Wasabi takes a long time, because we don't want to leak client addresses to a third party server.

There has been recent advancement in private information retrieval, enabling a client to look up a database entry without revealing to the server which one.

This could in theory be used by Wasabi to sync a user's wallet without leaking addresses to the server.

This seems to be rather expens

[2022-09-14 21:00] lontivero commented on #9113
NACK. Wasabi takes a long time only the first time. If we run Wasabi as a service the your wallet can be available instantly. Compact filters also allow us to one day to use the filters from decentralized sources (bitcoin p2p network) and make wasabi independent of a central server, what we should seriously consider and reconsider. This alternative is a centralization force and would make wasabi j

[2022-09-15 03:05] turbolay opened #9114 "[VDG] StatusIcon still displayed even after wasabi is not visible"
When Wasabi is 2nd plan and an other window is in the foreground in this configuration:
![b9Vc2njoMh](https://user-images.githubusercontent.com/16029533/190303934-8bc1bb02-baf4-4872-bf73-7cb71153a267.png)
Hovering the checkmark will open StatucIcon view, I think this is normal.
But if cursor is moved inside the StatucIcon view and then without going back to wasabi going to another window, the view

[2022-09-15 04:57] yahiheb commented on #9092
@nopara73 I don't understand how you got the 25% and 75% numbers, I guess you add the percentages and then divide, so I think you mean 50% for TX1.

Let's say I have one non-private coin `C1(0%)` and a private coin `C2(100%)`:
`C1(0%) + C2(100%) = TX1(50%)`??
TX1 obviously is not private at all, so this way of calculating the transaction's privacy is wrong.

We should not treat them the same.
If I

[2022-09-15 05:52] Transisto opened #9115 "Mempool is empty"
Just making sure that this metric ring as a failure of Wasabi adoption.

Is the software not known enough?
Is the software too hard to use?
Is the coordinator fee too high?
Do Bitcoin users value increasing their privacy at no more than ~3cents per UTXO?
Is the coordinator fee structure not offer dependent? (block space) https://github.com/zkSNACKs/WalletWasabi/issues/8787

[2022-09-15 06:57] yahiheb commented on #9092
Look at this, I want to send 0.0001 btc, and the wallet allows me to select exactly that amount, which obviously does not cover the fees.

![aaxxs](https://user-images.githubusercontent.com/52379387/190335615-f0630922-7552-4824-af4c-2b8d6111bc5c.PNG)

[2022-09-15 07:41] molnard commented on #8937
We already have a lot of files, I would try to avoid them if possible. Is that hard to add PGP verifier code to the software (@lontivero you know this the best, what's your estimation)?

[2022-09-15 07:55] MaxHillebrand commented on #8937
Fwiw, I started to add to the top of the release notes a hyperlink to the downloads, the website also links to the download package directly, so I don't think it is that much of an issue now, only advanced users will look at the actual files of the release, and they'll know how to handle it.

We do have the general mantra to reduce dependencies, and gpg is huuuge, Sequoia a bit more lightweight, b

[2022-09-15 07:58] Szpoti commented on #8937
Sequoia is written in Rust, one can't simply copypaste the needed code to the software.

[2022-09-15 08:30] nopara73 commented on #9092
Yes, my bad.

Yup, that's correct.

I used percentage rather than anonymity score for a reason. I wanted to model the real world, rather than getting stuck in false modeling. What you're doing there is making a statement of the **conservative assumption**. That's what we do for anonymity score calculation for a good reason: we don't want to accidentally ruin a user's privacy. What I am doing inste

[2022-09-15 08:33] nopara73 commented on #9092
For those, who have better things to do than read our walls of texts with @yahiheb, we're not discussing the issue originally opened, it's just a side quest, sorry for disrupting this conversation, the original issue seems legit to me.

[2022-09-15 09:03] soosr commented on #9114
Anyone who fills the metadata for the project board, either be sure or don't fill it. It cost more to find if something is not correct.

[2022-09-15 09:32] soosr commented on #9110
[code]

[code]

It seems to me it is by design.

[2022-09-15 09:41] adamPetho commented on #9101
Happened to me twice now. 😓

[2022-09-15 10:00] molnard commented on #8937
Alright. @Szpoti can you play a bit with this? Try NBitcoin to sign something and try to verify. I guess something from here, but as far as I know message singing was removed, anyway can be a starting point.

https://programmingblockchain.gitbook.io/programmingblockchain/bitcoin_transfer/proof_of_ownership_as_an_authentication_method

I am sure @lontivero can redirect you what to use.

[2022-09-15 10:45] #9110 closed

[2022-09-15 11:31] Szpoti commented on #8937
FYI, the [VerifyMessage](https://github.com/molnard/WalletWasabi/blob/8b328166443740496b46db1484fc92a4c4cc593e/WalletWasabi.Gui/Tabs/EncryptionManager/VerifyMessageViewModel.cs#L102) function is no more for BitcoinAddress classes within NBitcoin.

[2022-09-15 12:53] lontivero commented on #8937
Ok, then start from here:
![image](https://user-images.githubusercontent.com/127973/190400135-2fd84666-09e0-4330-8b0a-8c1e554161af.png)

[2022-09-15 12:54] turbolay commented on #9092
Sorry to jump-in but either I didn't understand your point either I strongly disagree.
I'm a blockchain analyst and I want to know who sent a specific TX. This is real world.

The TX contains 2 inputs I1, I2:
-> I1 is deemed private in WW, it comes from tens of rounds of CJ, (C3 in your example) I have no clue who sent it.
-> I2 was sent from doxxed address to WW and never participated in a CJ rou

[2022-09-16 00:39] yahiheb commented on #9092
The first question to ask is who says that adding the percentages and then divide is modeling the real world??

The second question is what are the percentages that a coin can have?
It seems to me from the coin's statuses (non-private, semi-private, private) that there are only 3: `0%`, `50%`, `100%`.
Can't a coin have a `34,56%`? If no, why?
This at least does not make sense to me.

Look at this

[2022-09-16 08:33] MarnixCroes opened #9127 "Send: privacy suggestion 0.01USD less than it should be / don't match"
![image](https://user-images.githubusercontent.com/93143998/190592809-f06bb750-ad16-430a-83b4-7ae42d1c12f4.png)

my guess is that it is a round off issue

[2022-09-16 08:33] MarnixCroes commented on #9127
edge case, low priority

[2022-09-16 10:33] nopara73 commented on #9092
Whatever you combine, you'll always know who sent a specific TX, so it does not matter that privacy of a coin got destroyed, because that's not real word? 😄

You're a blockchain analysts and your knowledge is this:
- C1: coinbase
- C2: silk road
- C3: ?

Combination of coinbase and silk road coins lets you go to coinbase and get the IRL identity of the silk road user. Anyone in his right mind woul

[2022-09-16 10:46] thibistaken commented on #9106
How about getting rid of the skeleton UI element entirely? It is usually used while animated indicating that the current page is loading, awaiting for data. In this case, the skeleton is not being animated and may trick the user into thinking the page is still loading, while it is not. I would suggest to only keep the text you shared.

Side question: are you working out from a XAML file or some de

[2022-09-16 10:58] MaxHillebrand commented on #9092
It might be impossible to solve this with the robot, we have labels because these cases are much easier to be solved by humans with Metadata, and I guess we should always fall back to user choice here.

[2022-09-16 11:06] nopara73 commented on #9092
Any model breaks down if you apply it to the wrong question. FTR the improvement of the model is easy: anonymity of txs should be exponentially punished with any additional information. So the percentages would be smaller. But this improvement of the model is a waste of time, because this is not the question being examined. All we want to figure out is the preferability of two simple cases. The di

[2022-09-16 11:10] nopara73 commented on #9092
It's not and it's already solved. If you don't understand it, then read https://github.com/zkSNACKs/WalletWasabi/issues/9092#issuecomment-1247764567 carefully please.

[2022-09-16 11:19] soosr commented on #9106
I wouldn't remove it, we use to have it fully empty and it was horrible. It was a huge improvement of having that dummy lines.

[2022-09-16 11:28] nopara73 commented on #9106
Yup, I've also seen when it was empty and it was was horrible.

[2022-09-16 11:31] thibistaken commented on #9106
Interesting. It shouldn't look horrible, and if empty = horrible, then empty is probably not a good idea. I fold for now.

[2022-09-16 11:32] turbolay commented on #9106
I tried lot of different ways to place this text and it was "crappy" every time. Maybe think at something else than a text or try again to find a behaviour. It could be nice to centers it but in the axaml it's not direct to do so because the placeholder is bigger than the dummy lines

[2022-09-16 11:37] thibistaken commented on #9106
Some inspirations from other wallets (Blue Wallet and Sparrow). They both have the text centered.

<img width="1552" alt="Screen Shot 2022-09-16 at 1 23 05 PM" src="https://user-images.githubusercontent.com/4534234/190630301-581e7b4b-91fb-40dd-8fcd-9093ddf03a15.png">
<img width="1552" alt="Screen Shot 2022-09-16 at 1 25 52 PM" src="https://user-images.githubusercontent.com/4534234/190630305-822037

[2022-09-16 11:54] soosr commented on #9106
Not the best example the design looks like an app from 2010.

How about having an infographic above the text?

[2022-09-16 11:59] turbolay commented on #9106
Not Bluewallet, their design for the text is close to the one already implemented.
Implementikng their behaviour looks like this, bad:
![jal2Mnyo1H](https://user-images.githubusercontent.com/16029533/190633859-284ec3ba-ad20-40b2-a883-66ce36204be3.png)

I also think the issue is the text more than its position

[2022-09-16 15:44] yahiheb commented on #9127
I guess this is not an issue, as you can see the ~ sign which means approximately 1.72 USD less.

[2022-09-16 16:25] ichthus1604 commented on #9106
"the transaction history is empty" <- this was definitely written by a programmer. It sounds too robotic, too mechanic, too technical.

How about more human-like, something like this:

![image](https://user-images.githubusercontent.com/98904713/190685592-6d7edbaf-b24f-4b4b-bcf1-60c07fed6e70.png)

(sorry for the horrible paint-based design, you get the idea)

[2022-09-18 15:23] turbolay opened #9136 "[VDG] Receive TX when sync not finished (fresh install) makes the UI thread to die"
_Tested on Testnet, Windows, Master._

**To reproduce:**
On a fresh install: Just create a new wallet, click receive and send a TX to this address with another wallet.
On already installed WW: Delete BitcoinStore, move all your .json wallet file in another folder, open again WW, create new wallet and send a TX to this address with another wallet.

Technically, the issue happens when `SkipSynchroni

[2022-09-18 16:57] turbolay commented on #9136
@ichthus1604 this issue is caused by `PrivacyBarViewModel.cs` (well sry...)
When I comment line 29: `ObserveOn(RxApp.MainThreadScheduler)` and returning direclt in `RefreshCoinsList(IEnumerable<Pocket> pockets)`, I'm not running into the issue anymore

[2022-09-19 07:17] #9055 closed

[2022-09-19 07:17] #9056 closed

[2022-09-19 07:17] #9101 closed

[2022-09-19 07:20] soosr commented on #9106
cACK.

It was disturbing, we rather didn't add it.

[2022-09-19 12:27] MaxHillebrand commented on #9115
I don't think there's any actionable thing to do here.

[2022-09-19 12:27] #9115 closed

[2022-09-19 12:34] MaxHillebrand opened #9141 "Maximum privacy level"
The user should be able to select a maximum privacy level, so that autocoinjoin is off when the privacy level is above a certain level.

This solves the problem that the the wallet keeps coinjoining after every payment, eventhough it would be more efficient to wait after a couple payments so that multiple 1 anonset coins can be mixed at the same time. As long as the user never makes payments above

[2022-09-19 12:38] MaxHillebrand commented on #9024
The default user doesn't care to pause it.

[2022-09-19 12:56] ichthus1604 commented on #9136
@soosr @turbolay I was planning to add throttling on UI side to fix this.

That would be unnecessary if #9137 makes it in, right?

let me know your thoughts.

[2022-09-19 13:19] #8513 closed

[2022-09-19 13:29] ichthus1604 commented on #9051
@nopara73 @BTCparadigm @molnard @MaxHillebrand @zkSNACKs/visual-design-group

Today we discussed in the VDG meeting about the need to agree upon a definite design for this within this week.
Everyone is welcome to discuss and give feedback within that time frame.

After that, the UI team will arrive upon a final design and start implementing that.

Thanks!

[2022-09-19 14:01] molnard commented on #8936
Solved by? https://github.com/zkSNACKs/WalletWasabi/pull/8997

[2022-09-19 14:16] NeedSomeCoolUsername commented on #8906
I started working on it, here is PR: [ https://github.com/zkSNACKs/WalletWasabi/pull/9145](url)
Going step by step by previous comment, as we agreed on code meeting it is for MVP good enough solution, later on we could improve it

[2022-09-19 14:40] #9025 closed

[2022-09-19 14:48] molnard commented on #8937
I would try this:

1. Go through all the bytes in the file and add them to the hash method SHA256 alg.
2. The result of the hashing is and uint256
3. Use the Sign method on the hash (with a specific key that will be zkSNACKs secret key)
4. Save the ECDSASignature to the disk as the result - this is the final signature file.

[2022-09-19 16:20] soosr commented on #8936
https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi.Fluent/ViewModels/Wallets/WalletViewModel.cs#L55

I think I know what the problem is. We have the `balanceChanged` observable that literally gets triggered on everything. When it triggers the musicbox thinks that the balance has changed so if the user is in PlebStop state, this line `.Permit(Trigger.BalanceChanged, State.Playing)` w

[2022-09-19 18:38] NeedSomeCoolUsername commented on #8906
This draft will generate a file with all project issues converted from original `github-markdown` format to `strict-markdown ` once every day, with scheduled cron.
I also created a test wasabi repo on Gitlab and commits from Gitlab are successfully mirroring with every Push already in test repo: [https://github.com/NeedSomeCoolUsername/WalletWasabi/actions/runs/3084578151/jobs/4986886923](https://

[2022-09-20 09:40] TsDevDe commented on #486
are there any updates?

[2022-09-20 11:46] NeedSomeCoolUsername opened #9148 "Bugs on Mac OS(M1) after resizing window / entering fullscreen"
**General Description**

_1._ Bitcoin network selection component doesn't work
- even other options on FE component - "Main", "RegTest" doesn't appear in dropdown as an option to select

<img width="823" alt="image" src="https://user-images.githubusercontent.com/113211047/191243887-218bac2c-b415-47c1-9972-5e8026d666f4.png">

_2._ Search button also doesn't work at the same time
- no dopdown menu a

[2022-09-20 11:50] soosr commented on #9148
It seems the flyouts are broken? What happens when you hover over the status icon?

[2022-09-20 12:00] NeedSomeCoolUsername commented on #9148
Nothing happens again even when I hover over the status icon. No other info will pop up as it usually does when it works.

[2022-09-20 12:24] #8053 closed, assigned to kiminuo

[2022-09-20 13:13] soosr commented on #9148
All the flyouts are broken then, I think it is an issue in Avalonia. @wieslawsoltes Can you confirm it?

[2022-09-20 16:40] lontivero commented on #486
I think it is a huge security risk but some people could need to sweep the keys for some valid reason so, we could simply add it to the `listcoins` rpc and with the `wcli` users could get it similar to other pieces of info like:

[code]

[2022-09-20 17:44] mpnemo opened #9152 "crashes on first open on win10. works on 2nd start of software."
Hi,

on every first start, it crashes on the password entry screen with this message. I have a ledger acct, that is not connected, maybe that is the prob?
also, would be nice if there was an option to remove accts.
On second open of wasabi, it works. but it seems to always reindex a lot after the crash, even if i just so happened to restart windows .

one more thing, the QR code comes out as majus

[2022-09-20 18:36] yahiheb commented on #8818
And another one: #9152

[2022-09-20 18:38] yahiheb commented on #9152
This happens when an error occurs while parsing the block filters.
When you reload Wasabi it takes longer because a resynchronization is needed.

Which Wasabi version are you using?
Make sure to use the latest version (currently 2.0.1.4).

[2022-09-20 18:41] yahiheb commented on #8722
#8880 includes this. Closing.

[2022-09-20 18:41] #8722 closed

[2022-09-20 18:57] yahiheb opened #9153 "Remove Automatically start coinjoin setting from the coinjoin profile settings"
PS: Rename the customizable Coinjoin settings to coinjoin profile settings

[2022-09-20 18:58] yahiheb commented on #8742
Coinjoin Settings was added. This can be closed I think.

[2022-09-20 18:58] #8742 closed

[2022-09-21 01:23] yahiheb commented on #6215
Okay that makes sense. Closing this issue.

[2022-09-21 01:23] #6215 closed

[2022-09-21 06:47] MaxHillebrand commented on #8734
It's not just after update, it happens to me often that fee time preference is not remember.

[2022-09-21 07:11] soosr commented on #8734
Can you give us a way how to repro?

[2022-09-21 07:38] mpnemo commented on #9152
its 2.0.1.4
I figured that my laptop just crashes randomly in the night and reboots, and that this is the issue.
you might want to  close the database until a new block is incoming, or at least do a restore point every however many blocks.
I can imagine that people have the software open for many many hours on end and I've been sitting waiting for it to reindex for like, an eternity. Can be frustr

[2022-09-21 07:56] Szpoti commented on #8800
What is that about?

[2022-09-21 08:08] MaxHillebrand commented on #8734
Start Wasabi, make a payment, customize fees.
Later make another payment, customize fees, but see that it's not the time estimate that you previously set.

I cannot reproduce it 100% of the time, but often. Don't know why.

[2022-09-21 09:37] nopara73 commented on #9051
Let's make that official 😄

[2022-09-21 09:38] nopara73 commented on #9051
It's because we can't keep redesigning everything all the time.

[2022-09-21 09:44] soosr commented on #8250
Is this fixed? @adamPetho

This is fixed if I get right. https://github.com/zkSNACKs/WalletWasabi/issues/8250#issuecomment-1216469005 @adamPetho can you confirm it?

I can repro this. But this is intentional.

In this case, there is no chance to send the amount that the user entered because there are not enough remaining funds to cover the transaction fee (as the error message says). Even if it wa

[2022-09-21 09:52] nopara73 commented on #486
I don't share the security concerns. Hackers learn by burning themselves and it is a hacker feature. My issue is this cannot be done properly without a lot of work. We have two problems:

1. Wasabi uses client side filtering, which means sweeping a private key is similar to recovering a wallet, which takes forever. I think this would be still acceptable.
2. We cannot scan private keys properly, we

[2022-09-21 10:03] soosr commented on #8734
I did around 15 transactions, moving the slider, clicking or using enter to apply, tried transactions where the fee was adjusted to the maximum possible one.

I couldn't reproduce it. It was stored successfully all the time.

Can it be it might fail to save the UI config to the disk? Have you ever noticed similar things when changing something in the settings?

[2022-09-21 10:06] soosr commented on #9153
This issue is about removing the auto CJ toggle and https://github.com/zkSNACKs/WalletWasabi/issues/8880 mixed?

[2022-09-21 10:06] nopara73 commented on #9106
Solving an aesthetic issue by adding more text does not seem like the right way to go.

The solution of Sparrow's and Blue wallets' are terrible as well.

[2022-09-21 10:14] soosr commented on #8406
I can't find it and checking out the latest state of 1.0 I don't see it in the settings as well.

![image](https://user-images.githubusercontent.com/16364053/191478850-e807f39b-d307-459b-84d8-bb2794af73d3.png)

I think it was removed.

[2022-09-21 10:17] nopara73 commented on #9069
I am blind. I keep looking at the code and cannot find the deadlock. Can someone break it down to me?

And then, what does it have to do with https://github.com/zkSNACKs/WalletWasabi/pull/9130#issuecomment-1250389964 at all?

[2022-09-21 11:06] soosr commented on #8783
The thing is without the exact exception or the way how to repro there is no chance to fix this, or even know if is already fixed.

We have extended the crash reporter since then so from now we would know what is the exact reason for the crash.

I am closing the issue because it doesn't have any relevant information and might be also already fixed.

[2022-09-21 11:06] #8783 closed

[2022-09-21 11:09] adamPetho commented on #8250
I don't see that exception anymore.

Well, it's the same as I described in the comment. It's not loading forever, but times out with `TimeoutException("Coin selection timed out.")`

Strange, because lately I can't get this exception, no matter how big fee I choose. Instead I get `TransactionSizeException` all day all night.
Both exceptions were introduced here #8367.

This idea would get a couple

[2022-09-21 11:21] MarnixCroes commented on #7752
yes, can't repro anymore

[2022-09-21 11:32] #8681 closed

[2022-09-21 11:41] soosr commented on #8603
Can't reproduce it anymore

[2022-09-21 11:41] #8603 closed

[2022-09-21 11:42] soosr commented on #8406
Related? https://github.com/zkSNACKs/WalletWasabi/issues/8569

[2022-09-21 12:15] soosr commented on #9106
Ok so let's go back to the initial problem. The dummy lines are looking like the transaction history is loading. It is because nowadays every webpage uses similar graphics until the real content loads.

It tricked me as well when I first saw its design plan. I thought it is only me so I didn't take it seriously.
So later someone opened an issue about it and that is how the text got there, to mark

[2022-09-21 13:02] turbolay commented on #9069
(I can't see how it could be related to #9130 either, I thought it was because I found this while testing this feature)

[2022-09-21 19:32] wieslawsoltes commented on #9148
I can not repro, I am on 12.5.1 and flyouts work

[2022-09-21 21:01] VladdyC commented on #7702
Bump

[2022-09-22 04:44] yahiheb commented on #9152
Yes.

[2022-09-22 09:18] adamPetho opened #9160 "Tor process failed to start, instant crash"
### General Description

Tor process failed to start, crashes the app instantly.
No tor process in `Activity Monitor` (Task manager), neither.

### How To Reproduce?

1. Update to latest master + get a macBook.
2. Start Wasabi with `dotnet run`
3. See errors and crash

### Operating System

M1 macBook

### Logs

[code]

### Wasabi Version

Latest master https://github.com/zkSNACKs/WalletWasabi/com

[2022-09-22 09:23] adamPetho commented on #9160
Restarting the macBook fixed the issue.

[2022-09-22 09:23] #9160 closed

[2022-09-22 09:31] adamPetho commented on #8983
@MarnixCroes How many UTXOs has your wallet?

[2022-09-22 09:35] MarnixCroes commented on #8983
± 45

[2022-09-22 09:46] NeedSomeCoolUsername commented on #9148
Than maybe its just a bug for Mac OS Monterey _12.6 version_

[2022-09-22 11:09] turbolay commented on #9148
Could not reproduce on 12.6 (m2)

[2022-09-22 11:13] wieslawsoltes commented on #9148
What screen scaling/resolution do you use?

[2022-09-22 12:05] NeedSomeCoolUsername commented on #9148
Resolution: Default for display.
We can hop on a call and I can try to help you to reproduce it if you want

[2022-09-22 12:27] Szpoti commented on #8937
### Here's my latest toughts and work based on the latest comments:

This example code should take place in the packager. After we created the installer files, we still need to use the private key to sign the hashes of the files as the following (_Using `NBitcoin`, `System.Security.Cryptography` and `Newtonsoft.Json` libraries_)
[code]
This way we'll get a json as below:
[code]
If we provide this

[2022-09-22 12:59] NeedSomeCoolUsername commented on #9148
@turbolay mentioned that I can try to run it on this PR [https://github.com/zkSNACKs/WalletWasabi/pull/9042](https://github.com/zkSNACKs/WalletWasabi/pull/9042) with Avalonia 11
but I was able to reproduce this bug also there

[2022-09-22 15:59] yahiheb commented on #8406
![sss](https://user-images.githubusercontent.com/52379387/191795679-f42f4a06-95aa-4019-9b93-a349a9a61303.PNG)

Which version are you running? I am running the backport branch.

[2022-09-22 16:00] yahiheb commented on #8406
I think so, but I am not sure.

[2022-09-22 16:33] lontivero commented on #8937
This is conceptually speaking exactly what you were ask to do, congrats. But now I've just realized it is not good. Anyway, the good part is that this knowledge can be reused in a much better way.

We don't need to reinvent the wheel, in fact, it is never a good idea to do it so, look, there is an already very well known way to verify that what we are downloading is correct, and that's is by check

[2022-09-23 01:20] yahiheb opened #9165 "coinjoinmanager.IsUserInSendWorkflow should not block coinjoin of other wallets"

[2022-09-23 08:55] nopara73 commented on #8747
It seems @jmacato did not succeed with this. Removing priority label until someone succeeds to reproduce or reported multiple times.

[2022-09-23 08:58] nopara73 commented on #8213
It is important, but removing priority until reproducibility is established.

[2022-09-23 11:18] soosr commented on #8406
I am using the last master before we deleted the 1.0 project.
I assume it was removed on purpose, just never been added to backport.

[2022-09-23 11:26] #9153 closed

[2022-09-23 14:40] turbolay opened #9171 "[VDG] Transaction History icon superposition"
On Windows Server, I let CJ ON all night long and then it was like this:
![image](https://user-images.githubusercontent.com/16029533/191984407-ed085c00-02c1-497e-a501-1584d290b0eb.png)

No idea how to reproduce unfortunately, I open the issue to keep track.
On Windows Server the display behavior is a bit strange when there is no active RDP connection: All graphic stuff stops. For example, if you h

[2022-09-23 22:09] yahiheb commented on #6280
This is is a WW1 issue. Closing as it won't be fixed.

[2022-09-23 22:09] #6280 closed

[2022-09-23 22:14] yahiheb commented on #4138
This was for WW1. Closing.

[2022-09-23 22:14] #4138 closed

[2022-09-24 04:29] nopara73 opened #9174 "Log full of Tor errors"
Running Wasabi for a day now and I get a lot of Tor errors

1. `Failed to handle the HTTP request via Tor.`
2. Failed to get/read an HTTP response from Tor.

Albeit it seems everything is working properly.

[code]

[code]

[code]

[code]

[code]

[2022-09-24 09:54] #8501 closed

[2022-09-24 09:55] #8222 closed

[2022-09-24 09:55] #8409 closed

[2022-09-24 09:57] soosr commented on #9171
It seems like two rows were rendered on each other. ping @wieslawsoltes @jmacato

[2022-09-24 10:37] wieslawsoltes commented on #9148
I have updated to Mac OS Monterey 12.6 but could not repro that issue

[2022-09-24 15:03] #8653 closed

[2022-09-24 15:31] turbolay commented on #8665
still not fixed

[2022-09-25 07:00] nopara73 opened #9175 "Update Issue Templates"
For example this section is fully out of date:

[2022-09-25 07:10] nopara73 opened #9177 "Never reaching 100%"
### General Description

Eventually the user is going to receive money less than the min coinjoin registrable amount (5000 sat) and he'll never be able to mix that coin again, thus wallet will never reach 100% privacy. Worse, this'll also happen when you get back a change less than that amount. Once this happens in a wallet (and it is bound to happen and it did happen to me already) this ruins the

[2022-09-26 08:49] wieslawsoltes commented on #8985
I think this might be source of breaking change in maximized state behavior (Windows only) https://github.com/AvaloniaUI/Avalonia/pull/8574/files

[2022-09-26 08:57] wieslawsoltes commented on #8985
Order of events when starting the app with Maximized state in UiConfig:
``
[WindowStateProperty] Normal
[WidthProperty] NaN
[HeightProperty] NaN
[WindowStateProperty] Maximized
[WidthProperty] 1425
[HeightProperty] 836
[WindowStateProperty] Normal
[code]

[2022-09-26 09:36] wieslawsoltes commented on #8985
UiConfig setting applied

![image](https://user-images.githubusercontent.com/2297442/192242246-8a8e6e1c-affb-4bc8-b8fb-59d9bd026ca1.png)

before calling Show() window method the WindowState is reset to Normal for some reason

![image](https://user-images.githubusercontent.com/2297442/192244121-34ce1de8-4cf4-4e58-b71f-1c7570c818e7.png)

[2022-09-26 10:19] jmacato commented on #9084
@soosr we have missed some texts iirc, and the phrasing tone is not conformant yet (We use active/passive tone in random places instead of just passive tone)

[2022-09-26 10:25] wieslawsoltes commented on #8985
So far I could not repro that issue in Avalonia.

Seems like the way we set window Width and Height and the order in which it's set causes layout pass to reset window state from maximized to normal.

Commenting this lines makes windows state maximized correctly:
https://github.com/zkSNACKs/WalletWasabi/blob/73e9e96d179e8dd9a5c662837e1bfe9b24995303/WalletWasabi.Fluent/Behaviors/WindowSizeBehavior.c

[2022-09-26 10:37] soosr commented on #8985
hmm yeah, setting the size is not even necessary when the window is maximized...

[2022-09-26 10:40] wieslawsoltes commented on #8985
We can move setting WindowState from MainWindow to WindowSizeBehavior and avoid setting Width/Height when window is maximized initially at startup.

[2022-09-26 10:47] soosr opened #9184 "[VDG] Fix pocket selection everywhere"
From https://github.com/zkSNACKs/WalletWasabi/pull/9173#issue-1384483211:

[#9092 (comment)](https://github.com/zkSNACKs/WalletWasabi/issues/9092#issuecomment-1247764567)
[#9092 (comment)](https://github.com/zkSNACKs/WalletWasabi/issues/9092#issuecomment-1249204979)
[#9092 (comment)](https://github.com/zkSNACKs/WalletWasabi/issues/9092#issuecomment-1249231493)
 [#9092 (comment)](https://github.com

[2022-09-26 10:56] wieslawsoltes commented on #8985
I have opened two PRs with potential fixes:
- https://github.com/zkSNACKs/WalletWasabi/pull/9183
- https://github.com/zkSNACKs/WalletWasabi/pull/9185

[2022-09-26 12:13] wieslawsoltes commented on #9171
Might be related to https://github.com/zkSNACKs/WalletWasabi/issues/8986

[2022-09-26 14:26] soosr commented on #8880
@jmacato Do you want to take this?

[2022-09-26 14:46] turbolay opened #9189 "[VDG] Spectrum wrongly quickly appears when hovering hidden MusicBox"
Happens when CJ is in state `plebstop`, `100% private`, `wait autostart` (and all that makes MusicBox hidden) and hovering  hidden MusicBox:

https://user-images.githubusercontent.com/16029533/192307731-e556c6f7-5a9b-40a3-aedd-a3f0a3dc0eb0.mp4

Also happen when we select a wallet with hidden MusicBox (so basically all other statuses):

https://user-images.githubusercontent.com/16029533/192307796-6