[2019-11-27 10:46] #2449 closed

[2019-11-27 10:47] molnard commented on #2455
Reopening it.

[2019-11-27 10:47] #2468 closed

[2019-11-27 10:58] MaxHillebrand commented on #2504
It can be easily copied with the right click menu.

Thus closing the issue.

![screenshot_20191127_185738](https://user-images.githubusercontent.com/30683012/69717849-d315e880-1147-11ea-86fc-cdf363dcc3af.png)

[2019-11-27 10:58] #2504 closed

[2019-11-27 10:59] MaxHillebrand commented on #2512
Keepkey is a trezor one clone, it works with HWI.
But it is not thoroughly tested by the devs.

So closing the issue.

[2019-11-27 10:59] #2512 closed

[2019-11-27 11:11] molnard opened #2653 "Do not call Invoke inside Lock"
Invoking event inside `lock { }` can cause deadlock, it is a bad practice. I will review the code.

Maybe related: https://github.com/zkSNACKs/WalletWasabi/issues/2553

[2019-11-27 11:50] nopara73 commented on #2639
NACK, Wasabi is not all about coinjoins.

[2019-11-27 11:55] MaxHillebrand commented on #2647
We decided that this is not a popup notification, as it should be on the screen for as long as the user has selected private & non-private coins.

[2019-11-27 11:55] #2647 closed

[2019-11-27 12:02] molnard opened #2654 "Select privacy coins problem"
### General Description

Unexpected behavior with Coin List selection.

### How To Reproduce?

1. Go to the Coin list.
2. Press Select all.
3. Press Select privacy coins.
4. Press it again.
5. You will have a partially selected coin list instead of having none.

[2019-11-27 12:40] #2650 closed

[2019-11-27 12:45] MaxHillebrand commented on #1223
We are upgraded to dotnet 3

[2019-11-27 12:48] MaxHillebrand commented on #2575
@jmacato has a branch [here](https://github.com/jmacato/WalletWasabi/tree/itemsrepeater-for-coinlist) that helps with scroll speed and decreases memory usage.

[2019-11-27 12:51] MaxHillebrand commented on #1486
Somewhat related is #1354.
@danwalmsley maybe coordinate with @nopara73 about how to fix this, I'm not sure about the nuances of the minimum amount.

[2019-11-27 12:57] MaxHillebrand commented on #2192
That is exactly what I was talking about in our meeting, showing `sat/Byte` is factually wrong and leads to a serious change of the final transaction that is not expected.

[2019-11-27 13:02] MaxHillebrand commented on #1350
This issue goes together with #1354 #1486.

@nopara73 can you please figure out when exactly the notification should be caught, what message should be displayed, and implement the UI notification?

[2019-11-27 13:03] MaxHillebrand commented on #1354
This issue goes together with #1354 #1486.

@nopara73 can you please figure out when exactly the notification should be caught, what message should be displayed, and implement the UI notification?

[2019-11-27 13:06] MaxHillebrand commented on #1223
I will create a Ubuntu 19.04 Qube VM and test if it works.

[2019-11-27 13:09] MaxHillebrand commented on #2608
I assign @danwalmsley for it because he can handle most of the notification things. But if @jmacato wants to look into because of the screen lock, please collaborate together.

[2019-11-27 13:23] Fonta1n3 commented on #2617
@assassin4377 am I correct in thinking that running a relay does significantly more to help increase the bandwidth and speed of the tor network then running a bridge? Sorry for the newb question.

[2019-11-27 13:53] danwalmsley commented on #2549
@MaxHillebrand is this when you are running from debugger / commandline? or the installed app, I beleive you will find the installed app doesnt have this issue?

[2019-11-27 13:54] danwalmsley commented on #2549
note to self: Mojave not affected, Catalina only issue.

[2019-11-27 15:02] yahiheb commented on #2616
This was not introduced in the avalonia 0.9 branch and it is not a bug, it would simply be better if the header moves when moving the horizontal scrollbar, like most other programs.

[2019-11-27 15:10] MaxHillebrand commented on #2614
@danwalmsley says this is an Avalonia issue and will note be fixed in v9

[2019-11-27 15:25] jmacato commented on #2191
This probably needs a coercion like API either in Wasabi or Avalonia (possible: https://github.com/AvaloniaUI/Avalonia/pull/3287)

[2019-11-27 15:53] davterra commented on #2026
i3 processor? If that's what youre asking, no....using i7.
This issue no longer exists for me, and I thought it had been closed.
Having said that, when I opened the issue I was using qubes.
Sadly, I had to switch back to running ubuntu in virtualbox, so my current
"no problem" status is not directly applicable to my original post.

[2019-11-27 15:57] corbelantoine commented on #2625
I think we can close the issue.
My mind is blown... the coinjoin was actually valid and the following spent as well. That’s why I got that “spent” label.

For some reason my node only learned about the coinjoin once it was included inside a block... didn’t know that was happening and first time I see this.

[2019-11-27 15:57] #2625 closed

[2019-11-27 17:07] yahiheb commented on #2615
As Lucas said this was not introduced in the Avalonia 0.9 PR.

[2019-11-27 17:26] yahiheb commented on #1607
related https://github.com/zkSNACKs/WalletWasabi/issues/2458

[2019-11-27 19:01] danwalmsley commented on #2549
ok turns out we are not the only ones, Apple have broken many many apps with catalina, with several issues opened I can see for this specific issue.

Iv been trying to find a workaround, but not managed to find one yet.

Im awaiting some replies from other project maintainers to see what they are saying about this issue.

[2019-11-27 20:09] danwalmsley commented on #2549
ok fix has been found, will need to release a preview 9 and will hold off until iv looked at some of the other issues, but the work has been done for this.

wheres the "Bad Apple" emoji?

[2019-11-28 02:00] assassin4377 commented on #2617
@Fonta1n3 no worries, never apologize for learning.

bridge doesn't help much in the way of increasing bandwidth so much as it does increasing covert onramps to tor where tor may be censored (ie like dprk, syria, corporate network, etc).  when a user requests a bridge tor will serve a proxy that looks like a clearnet endpoint and that allows you to enter tor and punch firewalls/bypass network anal

[2019-11-28 19:18] nopara73 opened #2662 "Update website and docs about OSX requirements"
As @NicolasDorier noted:

![image](https://user-images.githubusercontent.com/9156103/69828402-b6b4a180-1256-11ea-9539-297d263f81f7.png)

@MaxHillebrand I added it to the project. I think it's uncontroversial.

[2019-11-28 19:40] nopara73 commented on #2641
Fixing strategy for this: https://github.com/zkSNACKs/WalletWasabi/pull/2661#issuecomment-559591178

[2019-11-28 23:01] nopara73 commented on #2654
You say "privacy coins", but your screenshot shows "non-privacy coins", in which case this is the correct behavior you describe. If you deselect non-privacy coins, then you should have partially selected coinlist.

[2019-11-28 23:08] #2192 closed

[2019-11-29 01:05] RiccardoMasutti commented on #2662
Done

[2019-11-29 01:55] nopara73 commented on #2662
Thank you!

[2019-11-29 01:55] #2662 closed

[2019-11-29 02:06] #2641 closed

[2019-11-29 05:23] Transisto commented on #2613
Still makes no sense in current form, if anything it's TIME not FEE that this slider is moving.

I'd simply consider that Wasabi has near zero adoption compared to what we're aiming and step over whoever has developed an habit of using this backward slider.

I've though of having two slider one moving the other in the opposite direction, One for FEE one for TIME but I'm pretty sure people nobody t

[2019-11-29 05:55] MaxHillebrand opened #2671 "[RPC] add generate wallet functionality"
### Problem

Currently it is not possible to generate a fresh wallet in the RPC interface. This means RPC users must open the GUI to do so, which kinda defeats the purpose.

### Solution

Add the functionality with input flags being `Wallet Name` and `Password`, and output being `Mnemonic Recovery Words`.

[2019-11-29 06:52] MaxHillebrand commented on #2026
Oh no, I'm sorry @davterra, I mean the [i3 window manager](https://i3wm.org/)

[2019-11-29 06:59] MaxHillebrand opened #2672 "Add popup notification if dust coin is received"
### Problem

If a user receives a coin that is below the dust threshold, it is not shown in the GUI at all, especially not in the coinlist where the user would expect it. This makes sense if it is a forced address reuse attack or uneconomical to spend.

However, [many users report](https://github.com/zkSNACKs/WalletWasabi/issues/1607#issuecomment-558958062) confusion that they were testing Wasabi

[2019-11-29 07:02] MaxHillebrand commented on #2625
Yes, it is expected behavior, although a bit convoluted. The upcoming release will hopefully fix the spend issue altogether.
Thanks for reporting and closing the issue @corbelantoine!!

[2019-11-29 10:23] MaxHillebrand commented on #2672
An open question is the current `Received` notification includes dust coins already.
But imho regardless, there should be a separate notification that the received coin is below the dust threshold.

[2019-11-29 12:38] molnard commented on #2654
It is intended to be some kind of a helper but only made confusion. I removed the screenshot.

[2019-11-29 12:57] molnard commented on #2654
This is kind of unexpected for me. If I deselect intentionally the privacy-coins I would expect no-selection - not an intersect of all coins and non-privacy coins.

[2019-11-29 16:17] MaxHillebrand opened #2677 "Add block height to download log"
### Problem

In the logs it currently shows the block hash of the block downloaded. But I am also interested in the block height, as this is the indicator for the current state of how long loading will take.

`WalletService (494)	Disconnected node: ::ffff:5.102.147.145. Block downloaded: 0000000000003040322fd2d8f41052b9a7c59db99c75ffa1dcc04b5c36a84d40.`

### Solution

Similar to the block filters,

[2019-11-29 16:47] MaxHillebrand opened #2678 "Notify better that coins cannot be dequeued"
### Problem

There is a current notification that the coin cannot be dequeued because it is in connection confirmation [and other rounds]
But it is way too much words that don't tell the user anything, it is very confusing.
![screenshot_20191130_000011](https://user-images.githubusercontent.com/30683012/69882336-d3121600-130a-11ea-8ab7-b3b3d13a0764.png)

### Solution

Change the wording of this no

[2019-11-29 22:44] yahiheb commented on #2672
Users can receive the dust coin while their Wasabi is not open, therefor having a constant [visual aid](https://github.com/zkSNACKs/WalletWasabi/issues/2458) on the status bar maybe helpful.
An icon that indicates there are coins under the dust threshold, and maybe when hovering over it can display the number of utxos under the dust threshold.

[2019-11-29 23:20] yahiheb commented on #2654
This step is not needed to get the partially selected coin list.

I agree with @nopara73 here.

[2019-11-30 00:17] nopara73 commented on #2603
I deassigned @danwalmsley I'm not sure why he got assigned here while I got all the rest of the CJ notification task.

[2019-11-30 00:58] #2603 closed

[2019-11-30 01:22] #2610 closed

[2019-11-30 01:28] #2649 closed

[2019-11-30 01:34] nopara73 commented on #2574
NACK (for notifications too.) It's annoying, confusing and it's just one small wallet fingerprinting technique. Microoptimizing for annoying insignificant features is not the Wasabi way. There's another wallet that's taking this path already, so no need for redundancy in the space.

[2019-11-30 01:37] nopara73 commented on #2672
Implementation details: in the Global there's an event subscription that can be used. However it needs backend change, too, because we only have a lazy dust coin list (`ReceivedDustCoins`). There should be a `NewlyReceivedDustCoins` and `NewlyConfirmedDustCoins` collections too before we talk about the notifications part. It's somewhat risky, IMO either @lontivero or me should do it, or if someone

[2019-11-30 01:38] Transisto opened #2679 "Standardize copy paste behavior, remove assumptions."
Every time I've wanted to send bitcoin I had fix the address because I copy paste faster than the app can tell me that it's automatically copy pasting. (not saving me any time there)

I've also copy pasted part of my password by accident into the address box.

I can understand that it might have sped up testing in the past but I don't think people will ever get used to it, I've used wasabi almost

[2019-11-30 01:38] nopara73 commented on #2678
It's for the release?

[2019-11-30 01:40] nopara73 commented on #1354
Yes, I will resolve this for the release.

[2019-11-30 01:40] nopara73 commented on #1350
Will do.

[2019-11-30 01:40] nopara73 commented on #1486
I'll do.

[2019-11-30 02:07] yahiheb opened #2680 "Change address privacy leak when enqueuing the exact amount required in CoinJoin"
If a user enqueues exactly the minimum amount required for a CoinJoin, then in this case he will not get any change back.
But during the input registration phase his Alice identity must have sent a change address to the coordinator that will not be used.
Because the coordinator knows this change address belongs to the user, and this one might use that address later on thinking that it is not known

[2019-11-30 03:01] nopara73 commented on #2613
@Transisto https://github.com/zkSNACKs/WalletWasabi/issues/1064#issuecomment-452646364

[2019-11-30 03:03] nopara73 commented on #2679
You can turn off autocopypasting in the settings.

[2019-11-30 03:04] nopara73 commented on #2680
Yes, I cannot see any other solution that wouldn't bloat the wallet file.

[2019-11-30 06:04] NicolasDorier opened #2685 "TorProcessManager not stopping properly"
After closing my wasabi, the process never stopped because `TorProcessManager`:

[code]

Then I tried to CTRL+C wasabi, and close tor manually:

[code]

[2019-11-30 08:44] molnard commented on #2677
Concept ACK.

[2019-11-30 10:08] lontivero commented on #2026
I've done the following test:

1. Copy some text from this issue and paste it on Slack. **it works**.  Paste the same on a terminal. **it works**.
[code]

2. Copy a transaction hash from Wasabi. Paste it on a terminal. **it works**. Paste on Slack. **It didn't work, it pasted nothing**

[code]

Additionally, I've found that it is possible to paste from Wasabi to Slack just by clicking the mouse mi

[2019-11-30 14:21] lontivero commented on #2678
I take it.

[2019-11-30 15:13] nopara73 commented on #2340
Fixed here: https://github.com/zkSNACKs/WalletWasabi/pull/2688 Not recycling anymore, but increase the gap limit on too much address generation with a warning notification.

[2019-12-01 03:45] #2340 closed

[2019-12-01 03:45] #2624 closed

[2019-12-01 06:27] nopara73 commented on #2677
Concept ACK

[2019-12-01 06:29] nopara73 commented on #2678
@lontivero please work on the release those are assigned to you. This and similar tasks are assigned to me. I asked @MaxHillebrand if it's for the release, because it's very similar to the set of issues those were assigned to me.

[2019-12-01 06:35] #2237 closed

[2019-12-01 06:40] nopara73 commented on #2639
As we discussed in the meeting, there's no need to make decision on it for 1.1.10.

[2019-12-01 07:21] nopara73 commented on #2639
I said ACK on the meeting, but I change my opinion to NACK again.

If someone uses Wasabi and wants nothing to do with coinjoins, then let's not keep annoying him with notifications like this.

[2019-12-01 07:22] jmacato commented on #2623
Debugging this now

[2019-12-01 12:04] danwalmsley commented on #2615
@molnard I take this one

[2019-12-01 12:25] leofun7 commented on #1322
Sorry but right now i should spend 600€+ for mixing? thats just not doable for a normal person who gets around 1000€ per month. Your not going to get the normal user to use your coinjoin that way.

[2019-12-01 13:24] yahiheb commented on #2639
How about a settings option to turn this feature off?

[2019-12-01 13:34] nopara73 commented on #1322
Sorry, but the tech is just not quite there yet.

[2019-12-01 14:22] jmacato commented on #2644
Fixed on #2693

[2019-12-01 14:22] #2644 closed

[2019-12-01 15:07] nopara73 commented on #2678
Fixed with PR: https://github.com/zkSNACKs/WalletWasabi/pull/2690 I wasn't planning to, but it was inevitable to take out that message.

[2019-12-01 15:20] nopara73 commented on #2639
Rather opt-in. But I don't think it's an important enough feature to justify the added complexity. Maybe a year from now we can tackle it sytemmatically with a notification settings tab or something where users can finetune what they want and doesnt want to see.

[2019-12-01 15:28] nopara73 commented on #2654
Regardless there's still a bug here. Play around with changing the shields and the selections. Something was off.

[2019-12-01 15:29] #2549 closed

[2019-12-01 15:35] yahiheb commented on #2654
Yes I will take a look.

[2019-12-01 16:40] himyday opened #2694 "Wasabi "Spent" Problem"
Hello again. I have a problem with the Wasabi wallet again. This time the problem is the status of my coins with the value "Spent".
This already lasts for 24-48 hours, if before that there were about 0.4 btc of such coins. Then now this amount is 0.92btc. What to do in such a situation, how can I withdraw my coins? When trying to display them, I write the following:

Not Enough Fund Exception: Not

[2019-12-01 21:26] shamoons opened #2695 "Cannot load in full screen with Ubuntu?"
Not sure how else to describe it. Just downloaded the latest version (1.1.9.2) for Ubuntu (18.04). If I click the "Maximize" in the top right, it does't actually go full width / height.

[2019-12-01 22:00] yahiheb commented on #2694
Have you tried this https://github.com/nopara73/NoparaFaq/blob/master/README.md#spent-coin-status-in-wasabi?

[2019-12-01 22:38] yahiheb commented on #2694
Just a tip: next time hide all the private information on your image (amounts, number of coins, clusters, length of your password ...)
Send only the minimum information something like this:

![spent](https://user-images.githubusercontent.com/52379387/69921379-74c36f80-1491-11ea-8fe1-4e169452fd5b.PNG)

Also from your image your clusters are not good.
https://docs.wasabiwallet.io/using-wasabi/Receiv

[2019-12-01 23:39] ghost opened #2696 "WasabiWallet in the MacOS App Store for security purposes"
All apps in the MacOS app store may be [sandboxed](https://developer.apple.com/app-sandboxing/), which comes with a fair deal of security benefits, including disallowing other apps from reading WasabiWallet's data. There's really no reason your browser or text editor should be able to access your Bitcoin wallet information, but they currently can.

[2019-12-02 03:14] yahiheb commented on #2654
There is some weird behavior when changing the shields and selections, for example:

- Set anonset target to green checkmark (50)
- Select a green checkmark coin
- Check 'Select red  yellow green Coins'

The red  yellow green coins are selected but the green checkmark coin is still selected, we should deselect it in this case. This is fixed in #2655

[2019-12-02 03:44] nopara73 commented on #2694
It's fixed on the master until a someone reports otherwise. Consider using Wasabi from source code: https://github.com/zkSNACKs/WalletWasabi#build-from-source-code

[2019-12-02 03:44] #2694 closed

[2019-12-02 03:45] nopara73 commented on #2695
Can you try the the master branch? Our UI framework was upgraded. https://github.com/zkSNACKs/WalletWasabi#build-from-source-code

[2019-12-02 03:50] nopara73 commented on #2696
Security wise, that gives both us and apple the opportunity to autoupdate your software without your consent, so it has its drawbacks, too.

Regardless we're moving towards that direction. I don't know if we're going to go all the way to the store due to the security issue I mentioned, but the next step is Apple signing: https://github.com/zkSNACKs/WalletWasabi/issues/958

[2019-12-02 04:04] think222 commented on #2696
Auto updating can be disabled in the App Store. Of course, one could argue that Apple could just bypass this and update anyway, but they could also just bypass everything since it's their OS in the first place.

Automatic updates seems like a plus for me, as any security updates would get to me quickly with little hassle. I wouldn't need to be constantly on the lookout for new versions. And of cou

[2019-12-02 04:11] #1350 closed

[2019-12-02 04:11] #1354 closed

[2019-12-02 04:11] #1486 closed

[2019-12-02 04:11] #2678 closed

[2019-12-02 04:50] #2648 closed

[2019-12-02 05:06] nopara73 commented on #2654
Ok, let's go with that.

[2019-12-02 05:06] #2654 closed

[2019-12-02 05:09] #2608 closed

[2019-12-02 05:17] #2548 closed

[2019-12-02 05:19] #2623 closed

[2019-12-02 05:53] MaxHillebrand opened #2698 "Notify when coins are enqueued"
### Problem

Currently there is no notification when and how many coins are enqueued.

### Solution

Exactly like the notification when coins are *de*queued  #2690, notify `10 coins enqueued`.

I think this is the last coinjoin notification missing, other than that everything is notified.

![screenshot_20191202_134621](https://user-images.githubusercontent.com/30683012/69933833-09b67f00-150b-11ea-

[2019-12-02 06:01] MaxHillebrand opened #2699 "Wrong notification when CoinJoin confirms"
### General Description

When a CoinJoin gets confirmed in a block, the notification in the logs and on the screen says `Transaction Notification (Information): Send Confirmed - 0.00000128 BTC - 9b2ae00edc2df033404657f9e6e7c6d3f8104d710b31f6f4e1c6426dec566a29` `Spend Confirmed - 0.00000128 BTC`

### How To Reproduce?

1. CoinJoin
2. Wait for confirmation
3. See wrong notification

![screenshot_201

[2019-12-02 06:08] MaxHillebrand opened #2700 "Change experimental naming of Bitcoin Core"
### Problem

I must say that I don't like the wording `Work in progress` of  #2689...
It might as well mean that bitcoind is starting and is "working" on initial block download, it is not clear that this is a experimental developer feature.

### Solution

So I would prefer a wording like `Experimental feature, this is a work in progress and not yet fully implemented`. Or if this is too long just `

[2019-12-02 06:46] MaxHillebrand commented on #2695
maybe @lontivero can try to reproduce on master.

[2019-12-02 07:00] MaxHillebrand commented on #2653
#2666 &  #2670 are merged, does this mean this issue can be closed?

[2019-12-02 07:34] molnard commented on #2699
Yes, this is definitely misleading the user, can look scary. "I did not send BTC to anyone, my wallet was hacked!"

[2019-12-02 08:52] #2699 closed

[2019-12-02 08:58] nopara73 commented on #2700
NACK. Too chatty.

[2019-12-02 09:00] nopara73 commented on #2653
No, it's not resolved.

[2019-12-02 09:02] nopara73 commented on #2698
ACK, I was gonna do that, but then I opted for not doing such huge refactoring on the enqueue side, too that I've done on the dequeue side. Are you suggesting this should be in the release?

[2019-12-02 09:04] MaxHillebrand commented on #2700
@nopara73 `Experimental feature` is not more chatty compared to `Work in progress` - but it is more clear...

[2019-12-02 09:06] MaxHillebrand commented on #2698
If it adds crazy complexity, then it is not priority.
However, I do think v1.1.10 should ship with a functional notification feature for all / most events. So I think it is worth to consider adding to the release.

[2019-12-02 09:28] himyday commented on #2694
Thx, its help.

[2019-12-02 09:28] himyday commented on #2694
After switch on test net

[2019-12-02 09:42] MaxHillebrand opened #2702 "How to handle more than 4 notifications"
### Problem

I received 5 coins from a faucet, then did 3 rounds of coinjoin. So in total I should have gotten 8 confirmation notifications. However, there were only 4 shown in the GUI, and the others were never there.

![screenshot_20191202_113722](https://user-images.githubusercontent.com/30683012/69948388-86a52100-152a-11ea-9a67-611707964cca.png)

### Question

How should we handle more than 4

[2019-12-02 09:46] nopara73 commented on #2702
IMO the current behavior is better than your suggestions. We can improve it by merging them, just like the coinjoin dequeue (x transaction confirmed, x coinjoins confirmed) but not for this release IMO.

[2019-12-02 10:17] MaxHillebrand commented on #2702
I like your idea to merge them with `X transactions confirmed`!

Though I do think it should be part of the release, if it is not too complex to implement, as it is the notification feature in general, which I believe should be done properly in the release.

[2019-12-02 10:21] MaxHillebrand commented on #2679
I like the automatic copy and paste, especially when generating a new address in the `Receive` tab.

So I don't mind the issue you bring up, although I see what you mean and that it can be annoying.

I have no strong ACK or NACK.

[2019-12-02 10:25] danwalmsley commented on #2026
@lontivero  We should open an issue on Avalonia, and ping @kekekeks and @jmacato on the issue.

It sounds like its just some compatibility issue in the X11 backend.

[2019-12-02 12:09] nopara73 commented on #2700
It's not experimental, it's work in progress.

[2019-12-02 12:10] nopara73 commented on #2698
It actually reduces complexity, it's just the change is a little risky.

[2019-12-02 12:13] nopara73 commented on #2702
Bring it up on the dev meeting and we decide if this work should go to the release or not.

[2019-12-02 12:16] #2615 closed

[2019-12-02 14:03] jmacato commented on #2026
Fixed by https://github.com/AvaloniaUI/Avalonia/pull/3316

[2019-12-02 15:03] #2646 closed

[2019-12-02 15:36] shamoons commented on #2695
Once I've built it, how do I run it?

[2019-12-02 16:07] davterra commented on #2026
Thanks, Max.

I'm a C# noob, but have been using linux and python for many years. I don't know how it is that I've never come across this tool. It looks like "tmux on steroids". I even googled "i3" before I asked you about it, and nothing other than Intel-related stuff was served to me in the query.
I appreciate your "hand-holding" and the link to i3.

[2019-12-02 16:21] molnard opened #2705 "Remove all RaiseAndSetIfChanged from Library code."
Continuation of this: https://github.com/zkSNACKs/WalletWasabi/issues/2653

Invoking events inside a `Lock` is a dangerous pattern. We removed them however properties those are Raising property changes are also events. We must get rid of them. They can be converted to events or is someone has a better idea I am all ear. @lontivero @NicolasDorier @nopara73

Examples of bad practice:
https://github.

[2019-12-02 17:04] #2653 closed

[2019-12-02 17:07] nopara73 commented on #2705
ACK

[2019-12-02 17:11] nopara73 commented on #1223
Tested. Works.

![image](https://user-images.githubusercontent.com/9156103/69979725-c9d2b480-1569-11ea-83c1-e3cb2dced244.png)

[2019-12-02 17:11] #1223 closed

[2019-12-02 17:12] nopara73 commented on #2695
It works for me:

![image](https://user-images.githubusercontent.com/9156103/69979843-03a3bb00-156a-11ea-83f1-c1a0c3332fd5.png)

[2019-12-02 17:14] nopara73 commented on #2695
Run Wasabi with dotnet run from the WalletWasabi.Gui folder. (https://github.com/zkSNACKs/WalletWasabi#run-wasabi)

[2019-12-02 18:01] Transisto commented on #2679
User clipboard should be treated with respect, every auto copy auto paste
can be replaced with the button people recognize as doing such.

Auto Pasting addresses in the address box automatically might be the least
problematic one, beside the risk of exposing password, could check that its
a valid address before pasting.

But replacing clipboard with txid from the history tab is the worst.

On Mon.

[2019-12-02 23:17] MMA948 opened #2706 "I paid 90k+ sats for one coinjoin"
It was from one input, mempool was with low density of transactions. I demand a return of my funds.

[2019-12-03 00:30] #2706 closed

[2019-12-03 04:05] nopara73 commented on #2706
What coins did you get back and how many anonymity sets you gained? For example:

[code]

[2019-12-03 04:35] nopara73 commented on #2679
I am actually not against completely removing that behavior.

[2019-12-03 09:55] MaxHillebrand commented on #2698
Then I say go for it, but make sure you don't break anything :kissing_heart:

But ultimately up to you, make a good judgement decision.

[2019-12-03 10:00] MaxHillebrand commented on #1223
Sooooooo @nopara73 we convinced you to switch to free software OS now? :kissing_heart:
for now it's only a VM within microsoft, but soon you'll go all the way :laughing:

thanks for testing it!

[2019-12-03 10:02] MaxHillebrand commented on #2706
This was cleared up with @avivmilner in DM.
To quote him from the public chat:
`it turns out he queued an amount that was very close to the CJ amount and did not meet the minimum needed to receive change. The result was a loss of 0.7 mBTC`

[2019-12-03 10:37] nopara73 commented on #2698
We talked about it with @molnard and @lontivero yesterday and decided on keeping the no new features policy, because it should not be a moving target.

[2019-12-03 13:14] nopara73 opened #2709 "Block Download When Reindexing"
If a wallet has been indexed, then blocks are saved to disk. However often when we are reindexing the wallet, it downloads some blocks again, which makes no sense, since these blocks should had been downloaded already and at reindex they should had been just fetched from the disk.

[2019-12-03 13:16] nopara73 commented on #2709
I added it to 1.1.10, this is concerning.

[2019-12-03 13:22] nopara73 opened #2710 "Bunch of exceptions at first start"
Start Wasabi on a machine without a data folder (possibly it's enough without Tor running) and it will keep throwing you exceptions until Tor gets established.

[2019-12-03 15:53] yahiheb commented on #2700
Saying experimental seems like this feature is just an experience and it can be removed, so I think work in progress is fine.

[2019-12-03 16:27] lontivero commented on #2709
I have found something wrong in the `GolombRiceFilter::MatchAny` method that sometimes it matches to `true` when it should not (false positive).  This could be why we are downloading some additional blocks. It is important to note that it never fails to match the correct block so, we can be downloading more blocks, never less.

On the other hand the observed behavior is somehow expected, let me ex

[2019-12-03 16:32] nopara73 commented on #2709
Indeed. Thanks for the investigation. So there're 2 fixes here, but none of them are release critical.

[2019-12-03 17:42] yahiheb opened #2711 "Wrong changes warning in Settings"
With default settings (anonset levels 2, 21, 50 and anonset target 50)

- Open Wasabi & go to settings
- Change anonset 50 to 55 & close wasabi
- Open Wasabi & go to settings

--> without changing any setting you get the warning `Heads Up! Changes will be applied after restarting the application`
(at this point check the `Config.json` and you find `"MixUntilAnonymitySet": 50`)

- Load a wallet & g

[2019-12-03 20:36] lontivero commented on #2709
I have fixed this in NBitcoin. I have to measure the performance still. https://github.com/MetacoSA/NBitcoin/pull/781

[2019-12-03 21:41] the-metalworker opened #2713 "Document how to import Wasabi wallets into Electrum"
### Is your feature request related to a problem? Please describe.

I would like to import my Wasabi wallet into Electrum (don't worry, I am using Electrum with Electrum Personal Server for privacy).

This should be straightforward, however when I follow instructions documented [here](https://github.com/zkSNACKs/WalletWasabi/issues/1180#issuecomment-465768326) I only see the transactions where I d

[2019-12-03 22:36] yahiheb commented on #2710
This happens to me from time to time as you said because of Tor not running, I thought this was the normal behavior.

[2019-12-03 23:37] RiccardoMasutti commented on #2713
https://docs.wasabiwallet.io/using-wasabi/RestoreElectrum.html#restoring-wasabi-wallet-via-electrum-gui

[2019-12-04 00:12] yahiheb commented on #2713
Probable you need to increase the `gap_limit_for_change` (step 8 in the link mentioned above).

[2019-12-04 02:40] nopara73 opened #2714 "Make MixUntilAnonymitySet an enum"
to avoid bugs, as @yahiheb suggested.

https://github.com/zkSNACKs/WalletWasabi/pull/2691#issuecomment-561416786

[2019-12-04 09:53] molnard commented on #2643
Closed by: https://github.com/zkSNACKs/WalletWasabi/pull/2715
?

[2019-12-04 10:02] nopara73 commented on #2643
No.

[2019-12-04 10:07] molnard commented on #2710
I am not getting the exceptions. Trying to play with tor.exe.

[2019-12-04 11:00] nopara73 commented on #2710
For the record I experienced it on a clean Disco Dingo VM.

[2019-12-04 13:01] MaxHillebrand commented on #2710
Yes, I do get these exceptions often too.

[2019-12-04 13:02] #2700 closed

[2019-12-04 13:04] MaxHillebrand commented on #2713
As Riccardo points out, this is already done - closing the issue :)

[2019-12-04 13:04] #2713 closed

[2019-12-04 13:05] MaxHillebrand commented on #2643
Closed by #2716  ?

[2019-12-04 13:06] nopara73 commented on #2643
Yes.

[2019-12-04 13:10] MaxHillebrand commented on #1563
I just noticed this is very bad on master 4bb97172b2eae0fdaedd564aeab33fd91ddf648c

Takes 30+ seconds to close the wallet.

[2019-12-04 14:27] davterra commented on #2026
My latest tests were on commit bc3e89, (1 day before #2718) using ubuntu + i3, and I had no problems cut/copy/pasting from/to wasabi.
I opened this issue, but I assume more admin-type people here have the ability to close it.
If not, ping me and I'll close it whenever you think the time is right.

[2019-12-04 14:46] davterra commented on #2597
Just saw this, Max.
I had to stop using qubes, but I can confirm that using ubuntu + i3 within virtualbox, on the most recent commit 4bb971, I am able to two-finger scroll.

[2019-12-04 15:36] molnard commented on #2026
Fixed with https://github.com/zkSNACKs/WalletWasabi/pull/2718

[2019-12-04 15:56] #2643 closed

[2019-12-05 09:19] molnard opened #2721 "Final tests before release 1.1.10"
This is a guide on what to check in Wasabi according to the [Release notes](https://github.com/zkSNACKs/WalletWasabi/releases/tag/v1.1.10rc1).

**Do not narrow down the test cases only for this guide, the more tests the better the result.**

**If you find and issue do not write it here, open a new issue one-by-one [here](https://github.com/zkSNACKs/WalletWasabi/issues/new/choose)**.

Test vector t

[2019-12-05 10:29] danwalmsley commented on #2628
Ill take this:

FYI at some point OSX file dialogs were crashing which is why OSX have them enabled.
 also these file dialogs have been ported upstream and significant improvements made.

[2019-12-05 10:53] danwalmsley commented on #2210
@meatbot I assume this is still an issue for you, we will have a RC for the next release out shortly, I hope you may be able to test that and let us know if this is fixed in that version.

If not I will try to help you investigate further.

[2019-12-05 11:13] nopara73 commented on #2210
RC is already out: https://github.com/zkSNACKs/WalletWasabi/releases

[2019-12-05 11:36] #2210 closed

[2019-12-05 11:47] molnard commented on #2628
If it crashes than we have no other choice - we will use ours. AFAIK understand custom file dialog looks better now?

[2019-12-05 11:52] Rmartin1104 commented on #2721
Hardware kata tests in Win :
Trezor T  done
Trezor one done
Coldcard done

[2019-12-05 12:31] Rmartin1104 commented on #2721
Win:

PR 2  done
PR 3 done
PR 4 done

[2019-12-05 13:19] molnard commented on #2498
What is your master fingerprint on CC?

It might solve - you can test the new release candidate: https://github.com/zkSNACKs/WalletWasabi/releases/tag/v1.1.10rc1

[2019-12-05 13:28] molnard commented on #2711
By design, these values refreshed after a restart currently. So one way is to change it to instant or stay with the current and not change anything only after restarting.

[2019-12-05 14:13] davterra commented on #2721
Since this thread is about a number of tests, should issues arising from any of  these tests be reported here, or opened independently as a new issue, or both?

[2019-12-05 14:43] MaxHillebrand commented on #2721
Did the unit test both on Debian 10 and Fedora 30, both times
[code]

[2019-12-05 14:48] davterra commented on #2721
I am not able to change the anonymity levels in my settings, and have the changes be persistent from one run to another. They appear to "stick" when changed, but upon restart revert to the original 2/21/50 setting.
Using commit# 034e79 in Ubuntu 19.04 + i3

[2019-12-05 14:49] MaxHillebrand commented on #2336
This is especially fixed with the new self hosted fonts! #2674

![screenshot_20191205_164915](https://user-images.githubusercontent.com/30683012/70245697-7d79b580-17b1-11ea-8234-feeb39463a0a.png)

[2019-12-05 14:51] davterra opened #2722 "Cannot change anonymity levels with persistence between runs."
I am not able to change the anonymity levels in my settings and have the changes be persistent from one run to another. They appear to "stick" when changed, but upon restart revert to the original 2/21/50 setting.
Using Ubuntu 19.04 + i3

[2019-12-05 14:53] MaxHillebrand commented on #2026
This seems to be NOT FIXED in the v1.1.10RC1 * **package** *, with this I cannot copy the address, and also not paste it. When I checkout the tag and compile from source, then I can copy and paste easily.

[2019-12-05 15:03] MaxHillebrand commented on #2026
Ok, on reboot of the RC1 package it works... odd, I'll continue to investigate.

[2019-12-05 15:16] MaxHillebrand commented on #2721
Tested on Qubes 4 with both Debian 10 and Fedora 30 VMs, the results were the same on both OSs. Also used the i3 window manager.

1. Works
2. Works
3. Works
4. Didn't test for Windows, but the old package on Debian got removed when installing RC1 package
5. Did not test double spends or reorgs, but did many transactions, all worked.
6. Works
7. Works
9. At one time, on the package RC1 I cannot cop

[2019-12-05 15:16] davterra opened #2723 "Expected confirmation time does not change when various manual fees are applied"
When I switch to "manual fee" setting, and insert a desired fee, I notice that the "Estimated Total Fee" function adapts to my custom fee, but the "Confirmation expected in" remains at 20 minutes in all cases. Is this expected behavior, or is the expected confirmation time supposed to be dynamic when manual fee is selected?   OS = ubuntu 19.04 + i3

[2019-12-05 15:40] SimoneBovi commented on #2721
Did the unit test on macOS Catalina v10.15.1 three times to be sure, everything seems ok:

[code]

[2019-12-05 15:45] MaxHillebrand commented on #2722
I can reproduce on Qubes 4 Debian 10.
The anonset target is not remembered and sets back to the default.

[2019-12-05 15:49] SimoneBovi commented on #2721
The following tests have been done on the same OS written above: macOS Catalina v10.15.1 (in progress):

16. Works without any issue, tried different times

[2019-12-05 15:49] MaxHillebrand commented on #2723
Are you on testnet? Here because of lacking incentives a tx with 1 sat/vByte is always estimated to get confirmed in two blocks, or 20 minutes.

[2019-12-05 15:54] davterra commented on #2723
No, I first noticed it on testnet and realized that it was likely an invalid test, so switched to mainnet and the issue persisted.

[2019-12-05 17:47] davterra commented on #2722
UPDATE:
I find that, after changing my anonymity levels, if I leave the settings window open when I exit wasabi, the new/desired settings persist. If I close the settings window before I exit wasabi, the new/desired anonymity settings are gone, replaced by previous settings.

Perhaps the settings window could eventually benefit from a "Save Settings" button to both ensure all changes are saved, an

[2019-12-05 18:01] kravens commented on #2722
On Windows 10 I can change anonymity levels, restart WasabiWallet, and see the new levels in effect.
Also when I close the Settings tab before restarting, the new levels are in effect after restart of WasabiWallet.
So can't reproduce this on W10 with i7 CPU.

[2019-12-05 18:07] RiccardoMasutti commented on #2721
[ WORK IN PROGRESS ]
### Bugs Related to 7 (Play with Select and Select all. Change Anonset target and check functionality.)

-

### Other bugs

- When trying to test another wallet's password it says `There is already an open wallet. Restart the application in order to open a differente one`.
This message should be removed as it is still possible to test wallet passwords, even if another wallet i

[2019-12-05 18:08] danwalmsley commented on #2628
im testing osx one, expect a PR if it works.

[2019-12-05 18:28] yahiheb commented on #2721
@RiccardoMasutti #2234

[2019-12-05 18:29] davterra commented on #2721
I can reproduce "Related to 9" using ubuntu 19.04, but I cannot reproduce
"Related to" items 10, or 13. Those work fine for me.

[2019-12-05 18:32] yahiheb commented on #2721
@RiccardoMasutti
https://github.com/zkSNACKs/WalletWasabi/pull/2509#pullrequestreview-316019967

[2019-12-05 20:54] davterra commented on #2721
I am able to open 'Open > Tor Log File using Ubuntu 19.04

[2019-12-05 22:16] kravens commented on #2721
OS: Windows 10 (10.0.18362 Build 18362)
1: Works
2: All Passed

...
Test Run Successful.
Total tests: 231
     Passed: 231
 Total time: 1,8180 Minutes

3: Works
4: Works, old version 1.1.9 did not after running the self-build from source code.
5: No issues, rescanned switching to Testnet/Mainnet balance is correct.
6: Works, putting dust limit very high (>0.1BTC) makes no sense... maybe a warning

[2019-12-06 08:38] molnard commented on #2723
Good idea. It is not a must-have but if the fees are updated, the confirmation time could be updated too. Good catch 2 points.

[2019-12-06 09:06] molnard commented on #2722
The issue accepted 2 points.

[2019-12-06 09:33] RiccardoMasutti opened #2728 "[1.1.10] Test Password Notification Bug"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
14 | Test notifications. | ✗  | |  ✗

When trying to test another wallet's password it says `There is already an open wallet. Restart the application in order to open a different one`.
This message should be removed as it is still possible to test wallet passwords, even if another wallet is already open
![Test Wallet Password](https://user-

[2019-12-06 09:34] RiccardoMasutti opened #2729 "[1.1.10] Website has broken link"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
18 | Check the new website, click everywhere, on mobile, in onion browser. | ✗  | |  ✗

MacOS guide link is broken, redirects to obsolete osx url.

Update: yahiheb made a PR to fix it https://github.com/zkSNACKs/WalletWasabi/pull/2725

[2019-12-06 09:35] RiccardoMasutti opened #2730 "[1.1.10] Website duplicate subdomains (www and non-www)"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
18 | Check the new website, click everywhere, on mobile, in onion browser. | ✗  | |  ✗

www and non-www version of the website are both online. This makes duplicated content, bad for UX and SEO. We need to redirect all traffic to www or non-www

![www and non-www](https://user-images.githubusercontent.com/46527252/70314424-b77da280-1817-11e

[2019-12-06 09:36] RiccardoMasutti opened #2731 "[1.1.10] Missing title tags on website's links"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
18 | Check the new website, click everywhere, on mobile, in onion browser. | ✗  | |  ✗

Internal and external links with no title/alt/description. Links on a page should describe their destination for the benefit of both screen readers and search engine spiders.

![title test](https://user-images.githubusercontent.com/46527252/70314568-04fa

[2019-12-06 09:37] RiccardoMasutti opened #2732 "[1.1.10] External links without `external nofollow` tag"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
18 | Check the new website, click everywhere, on mobile, in onion browser. | ✗  | |  ✗

External links on website without `nofollow` tag hurts SEO

[2019-12-06 09:38] RiccardoMasutti opened #2733 "[1.1.10] Tor Log File doesn not open"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
17 | Use the UI and check memory usage if increasing endlessly - memory leak. | ✗  | |  ✗

When I click `Open`>`Tor Log File`, No file / folder is opened (tried both on Debian and TAILS)

![load tor log](https://user-images.githubusercontent.com/46527252/70315220-653d8100-1819-11ea-8348-bdf57f0a2971.png)

[2019-12-06 09:39] Rmartin1104 commented on #2721
| PR        | Description           | Win  | Mac | Lin
| ------------- |:-------------:|---:|---:|---:|
| 1 |Transactions test: create transactions, send/receive, create PSBT, broadcast it.| | | |
| 2 |Run the unit tests. `dotnet test --filter UnitTests`| | | |
| 3 |Manual fee box tests: enable/disable manual fee, set manual fee, check, set fee with slider check. Restart Wasabi, check default fee.

[2019-12-06 09:39] RiccardoMasutti opened #2734 "[1.1.10] Special characters causing graphic risks"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
17 | Use the UI and check memory usage if increasing endlessly - memory leak. | ✗ |   | ✗

We should set a maximum limit of characters and disable special ones for labels, causing potential graphic risks and lag
![Screenshot from 2019-12-05 16-14-11](https://user-images.githubusercontent.com/46527252/70263075-d76c8200-1795-11ea-9298-93bbd6c

[2019-12-06 09:40] RiccardoMasutti commented on #2732
PR: https://github.com/zkSNACKs/WalletWasabi/pull/2726

[2019-12-06 09:43] RiccardoMasutti commented on #2234
I thought I had found a bug for 1.1.10, but apparently it has already been reported here. I add myself by sharing my thoughts:

Lurking Wife Mode does not cover important infos during the detailed view of a UTXO (we should hide labels that are marked with red
![Lurking Wife Mode](https://user-images.githubusercontent.com/46527252/70261755-64620c00-1793-11ea-9c32-d254a79e99cb.png)
![Lurking Wife Mo

[2019-12-06 09:46] molnard commented on #2721
@davterra @SimoneBovi @RiccardoMasutti @kravens thank you for your time to take part in the game!

Please open new issues one-by-one. Few important things:

- Use the issues template!
- Check for duplicates before submitting them!
- Add guide on how to reproduce the bug!

Keep it up!

[2019-12-06 09:47] RiccardoMasutti commented on #2721
Done. I deleted by previous comment and added issues one-by-one (eliminating duplicates)

[2019-12-06 09:49] molnard commented on #2721
@SimoneBovi

Create issues, but check duplicates in advance!

- In the "About" tab the copy function
- Tried with the "Open Wallets Folder"
- I generated a new receive address and then saw the related QR Code
- Within the "Send" tab in the Address textbox I noticed
- If a PIN is not set and I use the Lock screen functionality
- On first opening of the Wasabi Wallet app from /Applications

Not an i

[2019-12-06 09:50] jmacato commented on #2733
Same here.. Upon investigation, there isn't any tor log file being created at all.. So the menu is trying to open up a non-existent file.

[2019-12-06 10:06] RiccardoMasutti commented on #2733
@davterra said:

[2019-12-06 10:07] SimoneBovi commented on #2721
Sure, I will do that within today.

[2019-12-06 10:10] RiccardoMasutti commented on #2722
Had the same problem and I can reproduce that on Debian 10 and TAILS.

[2019-12-06 10:20] jmacato commented on #2733
yeah, the codepath for the menu is fine, it's just that the backend isnt creating the TorLog file for some reason.. Did he install Tor and enabled it on startup or not?

[2019-12-06 10:52] RiccardoMasutti opened #2736 "[1.1.10] "No Coins Selected" if the fees exceeds amount of bitcoins"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
3 | Manual fee box tests: enable/disable manual fee, set manual fee, check, set fee with slider check. Restart Wasabi, check default fee. |   |   | ✗

If I enter more fees than the bitcoins I want to send, `No Coins Selected` is shown
![fee-no-coin-selected](https://user-images.githubusercontent.com/46527252/70317738-a2f0d880-181e-11ea-93ee

[2019-12-06 11:04] RiccardoMasutti opened #2737 "[1.1.10] "Copied" label notification does not show"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
9 | Check Copy/Paste with buttons/mouse/etc on every OS. | ✗ |   | ✗

If I disable the auto-copy via the menu and then go to the `Receive` tab, right-click on the label and click `Copy label`, the `Copied` notification does not appear as it appears by clicking `Copy address`.

`Copy label` notification not showing:
![copy label](https://use

[2019-12-06 11:11] RiccardoMasutti opened #2738 "[1.1.10] Can't copy Transaction ID"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
9 | Check Copy/Paste with buttons/mouse/etc on every OS. | ✗ |   | ✗

If I disable the auto-copy via the menu and then go to the `History` tab, I can't right click and copy `Transaction ID`.

![copy-txid](https://user-images.githubusercontent.com/46527252/70318851-45aa5680-1821-11ea-903a-bebc5e6bda27.png)

[2019-12-06 11:12] molnard commented on #2721
@kravens

It is OK. Wasabi downloads only one block from one node then disconnect it and gets the next block from another random node.

[2019-12-06 11:13] molnard commented on #2337
Reopened according to https://github.com/zkSNACKs/WalletWasabi/issues/2721#issuecomment-562173554

[2019-12-06 11:36] RiccardoMasutti opened #2739 "[1.1.10] OverflowException when fees value is too large"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
17 | Use the UI and check memory usage if increasing endlessly - memory leak. |  |   | ✗

We should limit fee value because if a large value is entered, a lot of `Overflow Exception: Value was either too large or too small for an Int64` errors start to appear, the CPU is skyrocketing and sometimes Wasabi crashes
![Int64](https://user-images

[2019-12-06 11:47] molnard commented on #2631
I created a milestone to indicate separate the new issues and the handled ones:
@MaxHillebrand you can query unhandled issues with this. If you checked and issues and valid please comment there something like: approved - 2 points and I will put it into the project board.

https://github.com/zkSNACKs/WalletWasabi/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+created%3A%3E%3D2019-12-05+no%3Amilestone

[2019-12-06 12:09] molnard commented on #2729
This is a duplicate.

[2019-12-06 12:23] molnard commented on #2734
Good catch! Please use the issues template, how to reproduce etc.

[2019-12-06 13:01] RiccardoMasutti opened #2741 "[1.1.10] Update CoinJoin link in wasabiwallet.io to reflect docs changes"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
18 | Check the new website, click everywhere, on mobile, in onion browser. |   |   | ✗

This link should redirect to https://docs.wasabiwallet.io/using-wasabi/CoinJoin.html to reflect https://github.com/zkSNACKs/WasabiDoc/pull/342

![coinjoin link](https://user-images.githubusercontent.com/46527252/70324856-e18f8e80-1830-11ea-8d66-e89fd59bf

[2019-12-06 13:45] lontivero commented on #2737
I don't think this is a problem. Wasabi uses this custom notification because it implements a custom behavior (Auto Copy). When I copy with a context menu I don't expect any feedback in any application. So, probably the problem is the opposite: Wasabi should not give you a feedback when you copy the address using the context menu.

[2019-12-06 13:57] molnard commented on #2741
Please transfer this issue to docs.

[2019-12-06 13:59] molnard commented on #2741
@MaxHillebrand this is for you.

[2019-12-06 14:10] RiccardoMasutti opened #2744 "[1.1.10] Transaction Broadcaster should copy from clibboard based on lenght"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
1 | Transactions test: create transactions, send/receive, create PSBT, broadcast it. |   |   | ✗

Transaction Broadcaster should copy from clipboard based on characters lenght.
`PSBT or Transaction Hex` > `Click here to copy from clipboard`

By reading this, I assume Wasabi will paste only PSBT or Tx Hex; instead it paste anything without e

[2019-12-06 14:16] RiccardoMasutti opened #2745 "[1.1.10] Missing warnings if Bitcoin Core and Tor Endpoints are incorrect"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
14 | Test notifications. |   |   | ✗

Bitcoin Core and Tor endpoints show no warnings if not allowed characters are entered:
![missing-warning](https://user-images.githubusercontent.com/46527252/70329238-37693400-183b-11ea-862d-6569964829b2.png)

A warning is displayed only if the `:` are inserted (not every time it shows a warning, as you

[2019-12-06 14:22] RiccardoMasutti opened #2746 "[1.1.10] EndOfStreamException: no more byte to read in PSBT"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
1 | Transactions test: create transactions, send/receive, create PSBT, broadcast it. |   |   | ✗

On Transaction Broadcaster, if I click `Import Transaction` (that opens a file explorer), do nothing and then click `Broadcast Transactions` `EndOfStreamException: no more byte to read` error appears
![import then broadcast nomorebytestoread](h

[2019-12-06 14:25] davterra commented on #2337
I am not able to reproduce this using ubuntu 19.04. I've tested both with & without i3wm and in either case I am able to move the cursor with a mouse click

[2019-12-06 14:29] RiccardoMasutti opened #2749 "[1.1.10] ArgumentNullException when trying to broadcast empty content"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
1 | Transactions test: create transactions, send/receive, create PSBT, broadcast it. |   |   | ✗

If I try to broadcast a transaction by clicking `Broadcast Transaction' without entering any data, `ArgumentNullException: Value cannot be null. (Parameter 'hexOrBase64')` error appears.

It should be simplified with something like `Enter a val

[2019-12-06 14:31] davterra commented on #2730
I think a 301 redirect to non-www makes sense, as I believe the trend is away from using www. It's my understanding that the chrome browser will soon (if not already in the latest build) show only non-www URL's in the address bar. If someone asks for a www address, the address bar will truncate the "www" and just show the actual domain + whatever else is part of the desired location

[2019-12-06 14:32] RiccardoMasutti commented on #2730
I agree with you.

[2019-12-06 14:34] RiccardoMasutti opened #2750 "[1.1.10] SecurityException in Wallet Info"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
14 | Test notifications. |   |   | ✗

If I try to view private data on `Wallet Info`, entering a blank or incorrect password, a `SecurityException: Invalid password` is shows.

Instead, Wasabi should display the same error that is shown if I enter a blank or wrong password in `Send` tab ie:` Invalid Password`

![invalid password without sec

[2019-12-06 15:00] davterra opened #2751 "SEO issue: Change the <title> in the main website & the docs <head> sections to convey more info"
Google uses the info in the <title> of a website's <head> section to derive info about what the site is about, for better ranking relevance. Whatever is in that <title> is also what people will see as the "headline" for a link it serves to someone doing a search. Last time I checked, you can use up to 70 characters in this space, and if possible, likely search keywords should be implemented in the

[2019-12-06 15:07] RiccardoMasutti commented on #2751
NACK. I already proposed it in the past but was rejected

[2019-12-06 15:13] davterra commented on #2751
That's a shame. It would take about 2 minutes, and there is nothing to lose and only potential gain from those changes.

**Sounds good.**

[2019-12-06 16:09] davterra opened #2753 "Locked wallet "unlock" function throws "incorrect pin" message after each pin-digit entry keystroke"
### General Description

When the wallet is "locked" using a pin, when entering the unlock pin, I get a "pin is incorrect" warning for each digit inputted while entering a correct pin. If I enter the pin rapidly, it's not a problem, but if I take more than about 1 second for any keystroke, the error message triggers.

### How To Reproduce?

1. create/use pin to lock your wallet
2. attempt to unloc

[2019-12-06 16:18] lontivero commented on #2749
Fixed by #2752

[2019-12-06 16:47] lontivero commented on #2744
I think this is not an issue.

[2019-12-06 17:06] RiccardoMasutti opened #2756 "[1.1.10] Display correct icon on .onion website"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
18 | Check the new website, click everywhere, on mobile, in onion browser. | ✗ |   | ✗

We should replace the icon of wasabiwallet.io clearnet website on the .onion version.

Clearnet (wasabiwallet.io):
![wasabi-clearnet](https://user-images.githubusercontent.com/46527252/70341329-009f1800-1853-11ea-9165-cfc19b6ba563.png)

Tor (wasabiukrxmk

[2019-12-06 17:23] RiccardoMasutti opened #2757 "[1.1.10] Update OS requirements for Net Core 3.0"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
18 | Check the new website, click everywhere, on mobile, in onion browser. | ✗ |   | ✗

Need to update OS requirements before release. Following #2668 as specified on https://github.com/dotnet/core/blob/master/release-notes/3.0/3.0-supported-os.md

[2019-12-06 17:46] ghost opened #2759 "[1.1.10] Copy does not work in the About tab menu"
|  PR  | Description |  Win  |  Mac |  Lin  |
|---|---|---|---|---|
|  9 | Check Copy/Paste with buttons/mouse/etc on every OS.   | WIP  | X  | WIP  |

### General Description

In the "About" tab menu the copy function does not work on any links (both via keyboard and right click).

### How To Reproduce?

1. Go to the About tab
2. Try to copy links via keyboard or right click, no copy option is av

[2019-12-06 17:54] SimoneBovi opened #2760 "[1.1.10] Redirection to Finder after closing browse file window"
|  PR  | Description |  Win  |  Mac |  Lin  |
|---|---|---|---|---|
| 10 | Check the browse file dialog on macOS and Linux. | WIP  | X  | WIP  |

### General Description

Tried with the "Open Wallets Folder" browse file dialog. If the Finder is already opened before using the function, when I close the file dialog without selecting any file, I am redirect to the Finder app. I think that the correc

[2019-12-06 17:56] davterra commented on #2759
I can reproduce "Related to 9" using ubuntu 19.04, but I cannot reproduce
"Related to" items 10, or 13. Those work fine for me.

[2019-12-06 18:01] davterra commented on #2760
I cannot reproduce using ubuntu 19.04, with or without i3wm. Seems to work OK for me.

[2019-12-06 18:01] RiccardoMasutti commented on #2759
I can reproduce on Debian and Tails

[2019-12-06 18:08] SimoneBovi opened #2761 "[1.1.10] Save QR Code function bug"
|  PR  | Description |  Win  |  Mac |  Lin  |
|---|---|---|---|---|
| 13 | Save the image of QR code.   | WIP  | X  | WIP  |

### General Description

No image has been saved after clicking on the Save QR Code right click menu and after that the "Save QR Code" option is greyed out for all the new generated addresses, not only for the initial one.

### How To Reproduce?

1. I generated a new receiv

[2019-12-06 18:16] SimoneBovi opened #2762 "[1.1.10] Misrepresented characters in the Address textbox"
### General Description

Within the "Send" tab in the Address textbox I noticed that some characters are misrepresented with a sort of a rectangle character.

### How To Reproduce?

1. Within the "Send" tab, Insert one of the following characters in the Address textbox: £, ì, è, é, ò, ç, à, °, ù, §, €
2. These characters are misrepresented as seen in the screenshot below

### Screenshots

![misrep

[2019-12-06 18:20] davterra commented on #2761
Cannot reproduce using ubuntu 19.04.

[2019-12-06 18:21] SimoneBovi opened #2763 "[1.1.10] Impossible to unlock when no PIN is set"
### General Description

If a PIN is not set and I use the Lock screen functionality, I can not unlock it. Not sure if there are any gestures as per #1614 and #1681 but I am trying everything with mouse and keyboard and nothing happens. Also in the menu, a function like "Unlock Screen" is not available (if it was ever implemented in case a PIN is not set).

### How To Reproduce?

1. Do not set a P

[2019-12-06 18:27] ghost opened #2764 "[1.1.10] Wasabi not opening the first time is launched"
### General Description

On the first opening of the Wasabi Wallet app from /Applications, after confirming the OS Security messages, the app tries to start but actually there is only the "bouncing" animation on the OS dock while the app is not actually opening. You have to force quit it and then reopen it again, then it works.

### How To Reproduce?

1. Uninstall Wasabi completely
2. Reinstall it

[2019-12-06 18:36] davterra commented on #2762
I do not have any of those international characters on my US keyboard. For some reason, my OS is not allowing me to create an international virtual keyboard,  so I cannot test your observation.

However, if I hit any of the usual special characters which, ofc  would not be in a btc address, I do get the "Invalid address" warning. I'm curious if, when you enter a "mainstream" special character in t

[2019-12-06 18:42] SimoneBovi commented on #2762
No, for those characters I receive a normal warning.

![chars](https://user-images.githubusercontent.com/12160204/70347231-61811d00-1860-11ea-83c7-3b6e36d7b0ea.png)

The misrepresented characters I found are the ones I wrote at the beginning. Likely, that list is not exhaustive.

[2019-12-06 18:57] davterra commented on #2763
When I delete my PIN and then lock the screen, I see mainly a blank page with a large "^" at the
bottom/center. After trying various clicks and "esc" and other keystrokes, I discovered I can open the page to the wallet by dragging the ^ up with my mouse. That should be fixed...should be able to get past that screen with a click or a key combination. As it is now, it's at best, not intuitive, and a

[2019-12-06 19:39] SimoneBovi commented on #2763
Mmm...that's weird.

I just tried now and I saw that ^ and of course in that case this is fixed. But this is the first time I see it.

However when I tried the first time I only saw the pin pad and I am totally sure that I have never set a pin before.

I am trying to reproduce it again somehow. If I can not reproduce it anymore I think we can close this for now (very weird...).

[2019-12-06 19:45] SimoneBovi commented on #2763
Closing for now to not confuse anyone. I will reopen it if I find a way to reproduce it.

[2019-12-06 19:55] davterra opened #2765 "Reopen #2763: [1.1.10] Impossible to unlock when no PIN is set"
### General Description
As reported by Simone in #2763, if a user clicks on "Lock Wallet" without having first set a PIN, a dropdown screen essentially locks the user out of the wallet. It's not at all intuitive or documented anywhere, but it seems that the only way to open the wallet after going through this procedure is to mouse-drag-upward the large "^" at the bottom of the dropdown page.
At be

[2019-12-06 20:05] lontivero commented on #2759
This is reported as a bug but it is as it is by design. Anyway, it would be a good idea to allow to copy the links.

[2019-12-06 21:23] bitcoin21e8 opened #2766 "HttpRequestException: Bad Request (Missing Inputs)"
### General Description

Trying to send my mixed coins to another wallet. I keep getting the following error code:

HttpRequestException: Bad Request (Missing Inputs)

I have BTC in my Wasabi wallet but no matter what I do I keep getting this error message. I have three possible inputs and I have tried sending each one by itself.
See Screenshot.

Windows 10
Wasabi version v1.1.9.1

![Wasabi Bug 20

[2019-12-06 22:04] lontivero commented on #2766
The problem is that at least one of your coins is already spent.
This is a bugs that we fixed on Wasabi 1.1.10.RC1 https://github.com/zkSNACKs/WalletWasabi/releases/tag/v1.1.10rc1
As you can see this is a release candidate. It is currently under heavy testing but we have not found any critical bug. You can download that version or wait for the final Wasabi 1.1.10.

------------

Note: if you need

[2019-12-06 22:22] lontivero commented on #2762
This is because we are using this monospace font in specific places https://www.fontsquirrel.com/fonts/cascadia-code and that font doesn't have glyphs for those caracteres.

We have to take into account that this field allows entering bip21 URIs. This means something like this should be allowed `bitcoin:175tWpb8K1S7NmH4Zx6rewF9WQrcZv245W?amount=20.3&label=Dàvid` (note the **à**)

[2019-12-06 23:18] #2766 closed

[2019-12-07 02:05] davterra opened #2767 "Coinjoin selection icons either don't work, or are misleading."
### General Description

I'm confused as to the purpose of the different coinjoin anonymity level badges next to the "Select" button, on the Coinjoin page. As you can see in the attached screenshot, I have a variety of testnet coins with various levels of anonymity sets, ranging from zero to above the threshold of my higher target....so red, plain green, and checked green.

It would appear that th

[2019-12-07 02:08] yahiheb commented on #2750
#1853

[2019-12-07 02:20] yahiheb commented on #2767
Related https://github.com/zkSNACKs/WalletWasabi/pull/2509#issuecomment-553229491

[2019-12-07 02:38] yahiheb opened #2768 "Wrong Estimated Fee"
Use TestNet but it happens on Main also

- Open Wasabi
- Go to Send tab

Estimated total fee is ~0.00000150 (Fee is 1)

- Select a coin & click the max button

now the Estimated total fee is ~0.00000143 (it should be ~0.00000110)

- Remove the Fee and set it again to 1

now it is correct ~0.00000110

[2019-12-07 02:47] yahiheb opened #2769 "Manual Invalid Settings (dust threshold)"
If you manually set the dust threshold in the `Config` file to `-6.00 `you get:

![Invalid Dust](https://user-images.githubusercontent.com/52379387/70367741-4f749e00-18a3-11ea-93a4-0c515365b55f.PNG)

then if you go to the Send tab you will see all the coins (as if dust threshold = 0)

But if you set it manually to random characters like `efaef` Wasabi will crash when it is lunched

![sss](https://

[2019-12-07 02:53] yahiheb opened #2770 "Private/non-private checkbox state when Select All is selected"
- Go to Send/CoinJoin tab
- Click Select All checkbox

the state of the other checkbox for private/non private coins should be checked.

[2019-12-07 02:57] yahiheb opened #2771 "Can't delete from textbox after pasting"
- copy something to clipboard
- go to Send tab
- right click on Fee box and paste
- try to delete what you have pasted

--> Text isn't deleted, if you click on the text box you can delete

This behavior happens with other text boxes also, maybe because the text box is not focused maybe.

[2019-12-07 03:03] yahiheb opened #2772 "Pin misleading notifications"
Setting a pin to white spaces will give a notification saying provide a pin.
This is misleading, it should say invalid pin instead.

The pin should only be digit characters but if you type a lot of non digit chars you get a notification that the pin is too long.
This is also misleading.

[2019-12-07 03:06] yahiheb opened #2773 "Pin button state"
- Set a pin
- Close Wasabi then reopen it
- Go to Settings

In the Lock Screen section, the button should display `Clear` not `Set`.

[2019-12-07 03:13] yahiheb opened #2774 "Not expected behavior when unlocking the screen"
- Set pin to 1
- Lock the screen
- Type three or more white spaces then type 1

 This is not the expected behavior

Also if you type non digit characters you get a notification saying that pin is incorrect, but if you type white spaces you don't get any notification.

[2019-12-07 03:22] yahiheb opened #2775 "Password & pin textboxes small eye"
When typing something in any textbox that hides the text there is an eye
when you hover over it, you get a tool tip saying `show password`
when you click it the tool tip should say `hide password`

same when unlocking the screen or setting the pin in the settings, but this time the tool tip should say `show pin` and `hide pin`

[2019-12-07 03:47] yahiheb opened #2777 "Generating wallets without confirming to have written the recovery words and password"
- Go to generate Wallet
- Fill the necessary fields
- Click on Generate

A wallet is generated and you get a notification for that even if you don't confirm that you wrote down the recovery words, this can lead to users using those wallets.
A wallet shouldn't be generated if the user doesn't confirm the he wrote the recovery words and password.

[2019-12-07 03:58] yahiheb opened #2778 "Two notifications when tx is broadcasted"
Broadcasting a transaction you get two notifications that the tx is sent

![broadcast sent](https://user-images.githubusercontent.com/52379387/70368688-273e6c80-18ae-11ea-8682-4a4a60d23cb4.PNG)

[2019-12-07 03:59] davterra commented on #2767
OK, now I understand this. Closing the issue.

[2019-12-07 04:02] yahiheb opened #2779 "Broadcast transaction multiple times"
- build a transaction
- broadcast it
- broadcast it again

Is this the expected behavior? Should we be able to broadcast it again?

[2019-12-07 04:06] yahiheb opened #2780 "Get focus back in textbox by two clicks"
- Go to Send tab
- Click on the address textbox (to get the cursor)
- Right click in the address textbox (you get copy/paste)

Now to get the focus back to the address or to any text box you have to click two times
It would be better to get the focus just by clicking one time

[2019-12-07 04:10] yahiheb opened #2781 "Expand the last coin in a list (with scrollbar)"
- get a lot of coins in the Send/CoinJoin tab (enough to have a scroll bar)
- scroll down to the last coin and expand it

it is expanded but you don't see its details

- now click again the arrow to collapse it, it doesn't collapse instead it scrolls down

The expected behavior should be to see the details of the coin directly when it is expanded,
and to collapse the details when the arrow is clic

[2019-12-07 04:11] lontivero commented on #2779
Yes, why not?

[2019-12-07 04:14] lontivero commented on #2778
This is the expected behavior. If you want, you can propose a better solution.

[2019-12-07 04:14] #2779 closed

[2019-12-07 04:19] yahiheb opened #2782 "Transaction broadcaster tab header"
In Transaction Broadcaster tab the header is `PSBT or Transaction Hex`, maybe it should be replaced by `PSBT Base64 String or Transaction Hex`
Because if you paste the `PSBT Json` and try to broadcast you get a notification saying `Invalid Hex String`

[2019-12-07 04:22] yahiheb opened #2783 "Scrollbar moves after minimizing the window"
- Go to Send tab (with lots of coins)
- Scroll all the way down
- Minimize Wasabi then open it again

Notice the scrollbar moved slightly up

[2019-12-07 04:28] yahiheb opened #2784 "Focus row outside the coinlist"
- Go to Send tab (the horizontal scrollbar should be present and you need to have at least a coin with long cluster in order)
- click on a row
- use up or down arrows

![Focus row](https://user-images.githubusercontent.com/52379387/70368955-214a8a80-18b2-11ea-8fdf-b0ed27403358.PNG)

[2019-12-07 04:33] yahiheb opened #2785 "History tab focused row weird behavior"
- Go to History tab
- Click on a row (it is blue but not focused)
- Right click on another row (this one is now blue but not focused also)
- use up or down arrows

the focus will move from the first row

[2019-12-07 04:36] yahiheb opened #2786 "Up and down arrow buttons don't work"
- Go to Send/CoinJoin tab
- Right click on a row
- Click on the same row again

Up and down arrows don't work now

[2019-12-07 04:39] yahiheb opened #2787 "Multiple text selected in different rows in Coin Details tab"
- Go to Coin Details tab
- Start selecting a cluster then right click
- Start selecting another cluster then right click
- keep doing that to get multiple text selected

![Capture](https://user-images.githubusercontent.com/52379387/88495938-d05fe180-cfbb-11ea-8e5a-f068f8942bc6.PNG)

[2019-12-07 04:44] yahiheb opened #2788 "Display Fee slider in TestNet"
In TestNet the slider shouldn't be displayed but in rare cases it is.

![FeeSlider TestNet](https://user-images.githubusercontent.com/52379387/70369086-4b04b100-18b4-11ea-90be-02c953170066.PNG)

I didn't successed to reproduce this but I think it is better to just display it always like in Main.
The TestNet configuration in general should be very similar to Main to make it easy to test the wallet,

[2019-12-07 04:45] #2772 closed

[2019-12-07 04:46] yahiheb opened #2789 "tor_backup folder is not recreated if deleted"
- delete tor and tor_backup folders
- run Wasabi again

only the tor folder gets created again

[2019-12-07 04:49] yahiheb opened #2790 "Multiple tabs open"
- Open many tabs
- Reduce the size of the Wasabi window

![Many tabs open](https://user-images.githubusercontent.com/52379387/70369153-19401a00-18b5-11ea-936c-6ff4652e9f16.PNG)

This is not very ugly but something like what VS has would be better.

[2019-12-07 04:52] #2739 closed

[2019-12-07 04:54] #1853 closed

[2019-12-07 04:54] #2750 closed

[2019-12-07 04:57] yahiheb commented on #2721
This was tested on Windows 7.

1  --> works
2  --> works
3  --> tested & reported bug
4  --> works
5  -->
6  --> works & reported bug
7  --> works but there is some known problems

9  --> works

11 --> works
12 --> works
13 --> works
14 --> works
15 -->
16 --> works
17 --> works --> After couple of minutes memory usage gets to 830mb, I don't know if that is bad or not
18 --> works
19 --> works
20

[2019-12-07 05:02] yahiheb opened #2791 "Password textbox not empty after Dequeue"
- Go to CoinJoin tab
- Enqueue a coin
- Dequeue it

The password textbox is not empty.

[2019-12-07 05:04] #2733 closed

[2019-12-07 05:05] #2746 closed

[2019-12-07 05:07] #2791 closed

[2019-12-07 05:19] #2729 closed

[2019-12-07 05:22] #2736 closed

[2019-12-07 05:27] nopara73 commented on #2728
IMO it's not a bug, but intended behavior. It's also a load wallet tab. Consider you generate a new wallet while you have another wallet opened, then you get redirected here and get a wtf moment, why cannot you load the wallet, why is that button disabled?

[2019-12-07 05:33] #2741 closed

[2019-12-07 05:54] nopara73 commented on #2789
That's fine.

[2019-12-07 05:54] #2789 closed

[2019-12-07 05:55] nopara73 commented on #2788
It's only displayed when there's more than one fee estimation result. Same on mainnet.

[2019-12-07 05:55] #2788 closed

[2019-12-07 05:59] nopara73 commented on #2782
The suggestion is too techie. It was conscious decision.

However feel free to implement the json parsing.

[2019-12-07 08:46] RiccardoMasutti commented on #2769
Can not reproduce. I tried to insert invalid settings everywhere

[2019-12-07 08:51] RiccardoMasutti commented on #2787
I always though was a design choiche 😂

[2019-12-07 10:59] RiccardoMasutti commented on #2728
In this case then we should only show the notification if `Load Wallet` is clicked.
The notification is shown as soon as the `Test Password` tab is opened and this is conceptually wrong. If I have an open wallet and want to test the password of another wallet, it is not necessary to restart the application.

[2019-12-07 11:31] RiccardoMasutti opened #2793 "[1.1.10] Blockstream.info clearnet links in .onion version"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
18 | Check the new website, click everywhere, on mobile, in onion browser. | ✗ |   | ✗

In the .onion version of Wasabi website ( http://wasabiukrxmkdgve5kynjztuovbg43uxcbcxn6y2okcrsg7gb6jdmbad.onion), under `Wasabi CoinJoin Examples`, links are pointing to Blockstream.info's clearnet version.
We should redirect those tx examples to the .on

[2019-12-07 11:39] jmacato commented on #2765
I think it's not "impossible" but more like "unintuitive".. I originally planned to have a text that says: "Drag up to unlock" but that has been NACK'd. @lontivero @molnard @nopara73 should i perhaps add that visual clue back?

[2019-12-07 11:52] jmacato commented on #2762
Hmm.. this is tricky.. Consolas is designed only for ASCII characters, anything else beyond that [Basic Multilingual Plane and above] is non-operative since Avalonia is missing glyph font fallback mechanisms, hence the square box.. I'll investigate further on what options can we do on this one

[2019-12-07 11:55] jmacato commented on #2189
I tested this on my Pinebook Pro and i can confirm that it is stable on coinjoin/normal wallet usage. HWI is inoperative. Tor needs to be a daemon/service in the host system.

https://github.com/jmacato/WalletWasabi/tree/arm64-branch

[2019-12-07 11:58] molnard commented on #2744
I agree it is an improvement. What should be the minimum size and why? How short is the shortest PSBT?

[2019-12-07 12:04] molnard commented on #2751
@davterra thank you for taking the time to review the website. I agree let's postpone this after the release - that is the focus now.
@RiccardoMasutti can you link your previous proposal here?

[2019-12-07 13:09] yahiheb commented on #2769
- While Wasabi is closed, open `Config.json` file
- Change DustThreshold to this: "DustThreshold": "dsfdfsf" and save
- Open Wasabi

[2019-12-07 13:43] yahiheb commented on #2737
I agree with @lontivero this is not a problem, this is the normal behavior.

[2019-12-07 13:44] molnard commented on #2757
For example what to update? It looks correct to me.

[2019-12-07 13:46] molnard commented on #2760
@lontivero can u give it a try?

[2019-12-07 13:47] RiccardoMasutti commented on #2757
W7 to W7 SP1+ for example.
We should continue the discussion here: #2758

[2019-12-07 13:47] molnard commented on #2761
Is there an error in the log?

[2019-12-07 13:48] molnard commented on #2764
Yes I noticed this too.

[2019-12-07 14:01] molnard commented on #2770
It is working for me on windows 10. If you do not have a non-private coin it should not be checked.

[2019-12-07 14:02] molnard commented on #2793
Good catch!

[2019-12-07 14:05] molnard commented on #2777
I saw this too. Also, another problem is that the wallet file generated also.

[2019-12-07 14:10] molnard commented on #2781
I hope we will get rid of Expanders soon with Itemrepeater PR. https://github.com/zkSNACKs/WalletWasabi/pull/2720

[2019-12-07 14:13] molnard commented on #2787
I saw this too.

[2019-12-07 14:14] molnard commented on #2790
Interesting.

[2019-12-07 15:49] yahiheb commented on #2770
Here is what you get when you click Select all:
![Select all](https://user-images.githubusercontent.com/52379387/70377130-25f25b80-1911-11ea-82f9-3b58f5a9556a.PNG)

My point is shouldn't the first checkbox also be checked (with checkmark not with blue square) like this:
![Select coins](https://user-images.githubusercontent.com/52379387/70377165-7669b900-1911-11ea-8cf5-3f2d8c5dd6c1.PNG)

[2019-12-07 15:51] yahiheb commented on #2777
This is exactly what I reported, if the wallet file was not generated then it is just a notification problem, but currently it is worse because users can use that wallet by mistake.

[2019-12-07 16:02] davterra opened #2795 "Unclear warning regarding incorrect password when recovering wallet"
Currently, when recovering a wallet, a warning is given regarding the correctness of the password.

Perhaps nit-picking here, but IMO the warning does not make it clear enough that the use of an incorrect password in the recovery process will result in a wallet that is not the desired wallet.

I think many newer users of wasabi are still confused by the wasabi password function. Most other wallets

[2019-12-07 16:21] davterra opened #2796 "Stronger warning regarding password when generating new wallet."
As in #2795 I am suggesting that the password warning given when generating a new wallet be stronger, and in a color that stands out.

There has been much confusion, anger, and lost funds involving the wasabi seed/password/wallet generation method. A clearer, stronger warning would hopefully help.

![wasabi-generate](https://user-images.githubusercontent.com/37884409/70377543-8f9b4700-18ca-11ea-8d

[2019-12-07 17:02] RiccardoMasutti opened #2797 "[1.1.10] Wrong software version on website"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
18 | Check the new website, click everywhere, on mobile, in onion browser. | ✗ |   | ✗

Wasabi v1.1.10 RC1 still contains `1.1.9.2` as version on wasabiwallet.io homepage.

[2019-12-07 18:58] lontivero commented on #2796
NACK. This is something we already discussed many many times in the past. First, people do not read, it doesn't matter the text, color nor font size.

[2019-12-07 18:59] lontivero commented on #2795
NACK from my side.

[2019-12-07 19:20] lontivero commented on #2745
`` `@!."'123456`` and `::::..:::::::` are valid endpoints. Remember endpoints are not necessarily domain names or ip:port. Anyway, even if you want to restrict endpoints to url, what is wrong with ``http://`@!."'123456``?

[2019-12-07 19:26] RiccardoMasutti commented on #2745
Try to insert `:` and `.`. Sometimes it accepts it, sometimes not

[2019-12-07 19:29] lontivero commented on #2797
imo we should update once v1.1.10 is out.

[2019-12-07 19:46] lontivero commented on #2777
This works as designed. Wasabi display the recovery words in order to allow the user to write them but it is not the wallet duty to make sure the user have written them. Almost two years ago I made the same suggestion to @nopara73 simply because that's how all the rest of the wallets behave (https://github.com/zkSNACKs/WalletWasabi/issues/1128).  However after thinking just a bit about it I totall

[2019-12-07 19:54] davterra commented on #2796
I've been using wasabi for awhile, and dont ever recall anything but the less clear, grey text warning that is currently there, so I'm not sure how it can be said with authority that people wouldnt read a warning that is  more onerous and visible.

That being said, I have no particular attachment to this issue or #2795 being adopted.

 I do think that if I had to respond to all of the angry "I los

[2019-12-07 19:55] lontivero commented on #2745
Could you provide an invalid endpoint that pass as a valid one, please?

[2019-12-07 20:10] yahiheb opened #2799 "CoinList tabs right-click menu"
Go to Receive tab
Right clik on the list while no row is selected
You get this menu:
![rec](https://user-images.githubusercontent.com/52379387/70378503-4cb88e00-1921-11ea-9088-c7bf422f2df6.PNG)

On Send/CoinJoin tab you get this:

![Sendtab](https://user-images.githubusercontent.com/52379387/70380048-898e8000-1935-11ea-88e1-f0f18bcb7a78.PNG)

These menus shouldn't be displayed IMO.

[2019-12-07 20:11] yahiheb commented on #2799
Using a hardware wallet:

![receive](https://user-images.githubusercontent.com/52379387/70380093-20f3d300-1936-11ea-8cb5-662efef1399f.PNG)

[2019-12-07 20:18] yahiheb opened #2800 "NRE error notification when clicking change label or display address on hardware wallet"
Related #2799
Clicking on change label or display address on hardware wallet result in a NRE error.

![change label or display address on hw](https://user-images.githubusercontent.com/52379387/70380131-bee79d80-1936-11ea-9176-ce8d8ab591fd.PNG)

And clicking on Save QR does nothing.

[2019-12-07 20:26] yahiheb opened #2801 "Edit label textbox weird state"
- Go to Receive address
- Generate an address
- Right-Click and choose Change label
- Click inside the label textbox
- Click outside the row

![editlabel](https://user-images.githubusercontent.com/52379387/70380227-fefb5000-1937-11ea-83a4-6034341b8c88.PNG)

the label textbox is like in edit mode.

[2019-12-08 00:45] kravens commented on #2801
Indeed goes into a weird state, but it is not permanent. After clicking again and pressing Enter it goes back to normal.
![image](https://user-images.githubusercontent.com/9646902/70382392-a473eb00-195b-11ea-942e-6d21caac5ba8.png)

There is also a blinking cursor on the label textbox in the send tab, which can't be typed in:
![image](https://user-images.githubusercontent.com/9646902/70382382-5eb72

[2019-12-08 01:23] yahiheb opened #2802 "Set manual custom fee On by default"
https://twitter.com/jason_parse/status/1201968793192402946

I think we should set manual custom fee On by default.

[2019-12-08 01:52] yahiheb opened #2803 "Changing the OS date"
In Bitcoin Core if you change the date of the system and launch it you get
`Please check that your computer's date and time are correct. If your clock is wrong Bitcoin will not work properly.`

Is there any problem that can happen if we change the date and use Wasabi in general? and particularly with the Bitcoin Core integration?

[2019-12-08 04:15] jmacato commented on #2803
Honestly, if a user has a broken RTC clock, screwed up time offset, or jumped time for the heck of it, a lot of things will break on their system anyway (TLS, GnuPG, etc.). So yeah, there'll be something that might break if that does happen. We'd need to have at least a known time reference (latest block time perhaps?) to do the warning and that'll be a non-trivial effort.

[2019-12-08 04:19] jmacato commented on #2753
@davterra i think i can approach this problem in two ways -> 1 - Dont do automatic pin check until it's at least 4 characters long. 2 - increase the throttle time from 1 second to at least 2.5/3.5 seconds. Will fire up a PR and see if this is an acceptable approach @davterra

[2019-12-08 04:26] jmacato commented on #2762
@lontivero we need a font that has Unicode BMP in it at least.. I'll try Cascadia Mono PL since it has the necessary glyphs

[2019-12-08 04:52] jmacato commented on #2753
@davterra https://github.com/zkSNACKs/WalletWasabi/pull/2804

[2019-12-08 05:24] #2793 closed

[2019-12-08 05:27] nopara73 commented on #2797
https://github.com/zkSNACKs/WalletWasabi/pull/2798

[2019-12-08 05:27] #2797 closed

[2019-12-08 05:32] nopara73 commented on #2765
Yes, we didn't think this is going to be an issue. We kinda have no choice now after the second user is experiencing difficulties with it. Let's put back the drag the screen upwards text.

[2019-12-08 05:33] #2753 closed

[2019-12-08 05:51] #2773 closed

[2019-12-08 06:49] nopara73 commented on #2777
ACK, it's unproductive to discuss over and over old decisions.

[2019-12-08 06:57] #2762 closed

[2019-12-08 07:00] nopara73 commented on #2728
Your suggestion is to enable the load wallet button even if the wallet cannot be loaded then give a notification after the user loaded? Hmm... Changes the workflow, but IMO that's fine and makes everyone happy.

[2019-12-08 07:10] nopara73 commented on #2802
This feature is only for power users. Even I don't use it.

[2019-12-08 07:10] #2802 closed

[2019-12-08 07:16] nopara73 commented on #2796
One of our design philosophy is to not treat our users as children or low-IQ individuals.

[2019-12-08 07:16] #2796 closed

[2019-12-08 07:17] nopara73 commented on #2795
ACK for my side, I have no idea how that long text got there in the first place.

[2019-12-08 07:19] nopara73 commented on #2795
Aahhh. That's the suggestion. Sorry I was in a rush due to the unbearable amount of new issues and didn't read your post properly, I thought your suggestion is to refactor that long text. Anyhow, second NACK for the same reason as here (https://github.com/zkSNACKs/WalletWasabi/issues/2796#issuecomment-562919800) closing.

[2019-12-08 07:19] #2795 closed

[2019-12-08 07:20] nopara73 commented on #2770
ACK

[2019-12-08 07:23] nopara73 commented on #2764
Couldn't reproduce on Windows 10.

[2019-12-08 07:24] nopara73 commented on #2710
I couldn't reproduce this on Windows 10.

[2019-12-08 07:59] nopara73 commented on #2764
I added this to the painful group. I don't know if we can resolve it within a reasonable timeframe though. @danwalmsley can you take a look? It seems like OSX specific.

[2019-12-08 08:01] nopara73 commented on #2765
I'll add this to the painful issues.

[2019-12-08 08:03] nopara73 commented on #2784
Good eyes 😄

[2019-12-08 08:05] nopara73 commented on #2778
Yes, this is correct, yet IMO we should improve it.

[2019-12-08 08:07] nopara73 commented on #2771
I add it to the painful issues with the note that I don't know if we can resolve it within a reasonable timeframe. @danwalmsley @jmacato

[2019-12-08 08:10] nopara73 commented on #2768
This can probably be improved, but even if it cannot, it's ok, because it's an estimation. So the todo here is to explore if it can be improved or not.

[2019-12-08 08:12] nopara73 commented on #2761
I added it to the painful issues with the note that if it can be reproduced reliably or not.

[2019-12-08 08:15] nopara73 commented on #2744
I'd prefer to ACK it, but the implementation can be tricky from a performance point of view.

[2019-12-08 08:20] nopara73 commented on #2597
Closing this unless someone has any objection.

[2019-12-08 08:55] nopara73 commented on #2778
Aah, this is not in the send tab, this is in the broadcast transaction tab. This works as intended, because the first notification says we successfully broadcasted, the second says we successfully processed.

What if you broadcast a tx that isn't related to any of your open wallets? That's when you get only one notification. Anyhow I replaced the first message to broadcasted (as it is the broadcas

[2019-12-08 08:55] #2778 closed

[2019-12-08 09:35] nopara73 commented on #2761
Cannot reproduce on Windows 10.

[2019-12-08 10:06] kravens commented on #1381
1.1.10rc1 included the fix :)
No more glitches in the GUI for me, probably can be closed @Transisto ?

[2019-12-08 11:09] SimoneBovi commented on #2761
This is what I see when I try to save the QR Code.

[code]

[2019-12-08 11:17] SimoneBovi commented on #2761
@nopara73 At least with macOS Catalina this is totally reproducible. Not tried with the other OS.

[2019-12-08 11:28] SimoneBovi commented on #2762
@lontivero @nopara73 this issue will not count any point in the Review contribution game?

[2019-12-08 11:39] SimoneBovi opened #2810 "[1.1.10] Reference to clearnet Wasabi link in the onion site"
|  PR  | Description |  Win  |  Mac |  Lin  |
|---|---|---|---|---|
|  18 | Check the new website, click everywhere, on mobile, in onion browser.   | WIP | X | WIP |

### General Description

There are some references to https://wasabiwallet.io in the .onion website.

### Screenshots

Bottom of the page.

**First case:**

![onion](https://user-images.githubusercontent.com/12160204/70388847-b1262c8

[2019-12-08 11:48] nopara73 commented on #2762
To be honest both @lontivero and me were against the testing game and agreed with the condition to leave us out of it, so I'm not quite sure what's the criteria and things. If I see it's added to the "Review contribution game" milestone, which I'm not quite sure what's about. Possibly a buffer zone for not yet scored findings? @MaxHillebrand can you take the administration over from here?

[2019-12-08 11:51] nopara73 commented on #2810
ACK.

[2019-12-08 12:04] RiccardoMasutti commented on #2810
First case is expected behavior

[2019-12-08 12:04] danwalmsley commented on #2761
ACK I will take this one!

[2019-12-08 12:05] danwalmsley commented on #2771
ack - I will take a look

[2019-12-08 12:06] #1381 closed

[2019-12-08 12:10] SimoneBovi commented on #2810
Yes I know, but this is conceptually wrong to me.

You should put .onion reference to the clearnet website so that the .onion url is known.
But there is no reason to do the viceversa like in this case.

So my suggestion is to change that with the onion website or simply remove that line completely.

[2019-12-08 13:26] yahiheb commented on #2777
@lontivero @nopara73 I get what you are saying, and I am not asking to change the generation process.
The only thing that I can suggest is to generate the wallet file only after the user confirms that he has written the recovery words.

Replace the `Generate` with `Next`, and generate the wallet file after the user clicks `I wrote down my Recovery Words`.
So now if the user clicks `Next` but then

[2019-12-08 13:29] yahiheb commented on #2802
But why is that only for power users?

[2019-12-08 14:20] jmacato commented on #2784
@danwalmsley could be adorners layer bug? or perhaps similar bug with layers not respecting z-indices again

[2019-12-08 14:50] nopara73 commented on #2802
Some people think they can estimate fees better than robots or that we are using the wrong robots. In order for you to think that you have to know the various robots pretty well. Only power users know those robots and able to make the decision on what fee they want to use.

robot = fee estimation algorithm

[2019-12-08 14:54] nopara73 commented on #2777
ACK, sounds like a better workflow.

[2019-12-08 15:24] davterra commented on #2753
Yes, I think that's better, and less likely to be accidentally triggered if entering PIN slowly.

[2019-12-08 15:26] MaxHillebrand commented on #2722
Agreed with @molnard , this  issue is 2 points, good catch

[2019-12-08 15:27] MaxHillebrand commented on #2731
Good catch, this is a 1 point issue.

[2019-12-08 15:27] MaxHillebrand commented on #2732
Always good to improve SEO - this is 1 point.

[2019-12-08 15:28] MaxHillebrand commented on #2738
Good catch, this really needs a right click menu - 2 points

[2019-12-08 15:30] MaxHillebrand commented on #2234
I agree with @yahiheb and @RiccardoMasutti that LVM should be more inclusive and cover for example also the QR or dropdown menu.
Both get 1 point.

[2019-12-08 15:32] MaxHillebrand commented on #2730
I didn't even know that there is a different between [non] www :smile:

1 point

[2019-12-08 15:33] davterra commented on #2765
I still think it is more clear to just eliminate the dropdown screen and if "Lock Screen" is triggered without a PIN, have a message box tell the user to create a PIN in settings to enable Lock Screen.

As a user, the first time I clicked on "Lock Screen" was an accident. My intent was to click on "Exit".
When the dropdown screen came down, it was disconcerting, because I actually thought that was

[2019-12-08 15:34] MaxHillebrand commented on #2763
As far as I understand, this is not a real bug, but confusion on your side. So 0 points, but thanks for reporting, it might not be intuitive that it's a drag and drop unlock...

[2019-12-08 15:34] davterra commented on #2730
Yeah, and Google will split any SEO "juice" your site has between the two addresses, effectively cutting your SEO power in half

[2019-12-08 15:35] MaxHillebrand commented on #2767
Not a bug, so 0 points.

It takes a bit to understand the logic, but it works as designed as far as I understand.

[2019-12-08 15:36] davterra commented on #2767
Yes, I was not totally up to speed on the logic. When I figured it out, I closed the issue. It works fine.

[2019-12-08 15:36] MaxHillebrand commented on #2772
This is a 1 point issue. Since you also did the fix to it, it's worth 2 points for me.
What do you say @molnard ?

[2019-12-08 15:37] MaxHillebrand commented on #2739
Good catch, and good report. 2 points

[2019-12-08 15:39] MaxHillebrand commented on #2750
Good report, this issue was known in general, but not in this specific context, so it's 1 point.

[2019-12-08 15:40] MaxHillebrand commented on #2733
that's a good catch @RiccardoMasutti ! 2 points

[2019-12-08 15:40] MaxHillebrand commented on #2746
good catch, 1 point

[2019-12-08 15:41] MaxHillebrand commented on #2791
This is actually a serious risk, I believe, so it's worth 2 points, and since you provided the fix, it is 3 points.

Thanks!!

@molnard please add

[2019-12-08 15:43] MaxHillebrand commented on #2736
Good catch, and it sparked a good PR by Lucas, so it's worth 2 points.

[2019-12-08 15:43] MaxHillebrand commented on #2741
This is a good catch, and makes the website more inline with the docs.
1 point for the reporting, and because you fixed it immediately, this is 2 points.

@molnard please add

[2019-12-08 15:44] MaxHillebrand commented on #2789
Apparently works as designed, so it's 0 points.

[2019-12-08 15:45] MaxHillebrand commented on #2788
works as designed, so 0 points.

[2019-12-08 15:45] MaxHillebrand commented on #2749
good catch, it's related to other similar issues,  but I still give 1 point

[2019-12-08 15:45] #2749 closed

[2019-12-08 15:47] MaxHillebrand commented on #2734
looks nice, is this an upgrade to LWM?! :smile:

2 points
@molnard please add

[2019-12-08 15:47] yahiheb commented on #2767
It doesn't work as intended, we shouldn't get 4 icons (all) at the same time.

[2019-12-08 15:47] MaxHillebrand commented on #2756
Good catch, 1 point
@molnard please add

[2019-12-08 15:49] MaxHillebrand commented on #2737
I agree with Lucas, this is redundant notification, it's like notifying about every click you make...

@molnard this is 0 points for me, what do you say?

[2019-12-08 15:50] MaxHillebrand commented on #2759
It's not a bug, works as designed, but it is a good feature request as it is not coherent with the rest of the wallet. It is also not the first time it was reported...

@molnard I say this is at most 1 point, what do you say?

[2019-12-08 15:52] MaxHillebrand commented on #2760
I'm not sure I understand what this is, since I don't use Mac, so I'm unsure if it is worth 1 or 2 points.

@molnard I leave the choice to you.

[2019-12-08 15:52] MaxHillebrand commented on #2757
concept ACK.

2 points because you provided a fixing PR already

@molnard please add

[2019-12-08 15:53] davterra commented on #2767
Ok, I guess I need to experiment more with this....

[2019-12-08 15:53] MaxHillebrand commented on #2769
This seems to be quite serious?
3 points imo, what do you say @molnard

[2019-12-08 15:54] nopara73 commented on #2763
It's the same as https://github.com/zkSNACKs/WalletWasabi/issues/2765, so it goes to the list of things those should be fixed till release.

[2019-12-08 15:54] MaxHillebrand commented on #2774
good catch, though edge case. 1 point

@molnard please add

[2019-12-08 15:55] MaxHillebrand commented on #2775
This is a feature request?

So 0 points for the review game, I'd say

[2019-12-08 15:55] davterra commented on #2767
When I opened the issue, I was getting 4 icons at the same time, which, as noted seemed wrong.
After opening the issue, and further experimenting, I was no longer getting 4 icons, and it seemed to work correctly. Unfortunately, I didnt keep ongoing notes, so I can't reproduce yet.

[2019-12-08 15:56] nopara73 commented on #2234
@MaxHillebrand For the record, this is an issue from September, in fact this is an issue from much earlier. So I'd suggest not to rehash old arguments.

[2019-12-08 15:56] MaxHillebrand commented on #2780
good catch
1 point

@molnard please add

[2019-12-08 15:56] yahiheb commented on #2767
The issue was already known.

[2019-12-08 15:58] MaxHillebrand commented on #2781
good find, 1 point. but I agree with David, not worthy a fix since it will be obsolete soon.

@molnard please add

[2019-12-08 16:00] MaxHillebrand commented on #2753
that's a good catch - 2 points
@molnard please add

[2019-12-08 16:01] davterra commented on #2733
@MaxHillebrand Are you able to reproduce the issue with Qubes/Debian/Fedora? I am not able to reproduce it with Ubuntu 19.04

[2019-12-08 16:01] MaxHillebrand commented on #2782
agreed with Adam, this is too techie, it should be a more general description in the header.

0 points, because feature request

[2019-12-08 16:02] davterra commented on #2753
TY

[2019-12-08 16:02] MaxHillebrand commented on #2783
good catch 2 points
@molnard please add

[2019-12-08 16:02] MaxHillebrand commented on #2785
good catch, but a minor one, 1 point
@molnard please add

[2019-12-08 16:03] MaxHillebrand commented on #2786
not sure I understand where the issue is?

[2019-12-08 16:04] MaxHillebrand commented on #2787
If it works as designed, then 0 points.

but I think this is a bug, so it's 2 points

@molnard please add

[2019-12-08 16:04] MaxHillebrand commented on #2790
good catch - 1 point

but it will be changed with multi wallet support anyhow...
@molnard please add

[2019-12-08 16:05] MaxHillebrand commented on #2745
good catch, 2 points.

[2019-12-08 16:05] MaxHillebrand commented on #2799
good catch, that shouldn't be there.

2 points

@molnard please add

[2019-12-08 16:06] MaxHillebrand commented on #2801
good catch, 2 points

@molnard please add

[2019-12-08 16:06] nopara73 commented on #2733
It happens when someone doesn't uses Wasabi's built in Tor but uses external Tor instead.

[2019-12-08 16:07] MaxHillebrand commented on #2803
if this is actually a bug - 2 points.

if it works as designed, then 0 points.

@molnard please add

[2019-12-08 16:07] MaxHillebrand commented on #2793
very good catch, 2 points

and because you fixed it directly, it's 3 points

@molnard please add

[2019-12-08 16:08] MaxHillebrand commented on #2797
yes, this is a non-issue, no RC on the website

0 points

[2019-12-08 16:08] MaxHillebrand commented on #2773
good catch, 2 points

****

[2019-12-08 16:10] MaxHillebrand commented on #2728
I think it's good to disable the `Load Wallet` button, and remove this notification alltogether, as it is not needed for `Test Wallet` button.

2  points

@molnard please add

[2019-12-08 16:11] MaxHillebrand commented on #2800
I'm not sure about the severity of this, so I give 2 points, but it might be worth 3 as Adam says.

@molnard please decide and add

[2019-12-08 16:13] MaxHillebrand commented on #2796
Agreed, this is a non-issue 0 points

[2019-12-08 16:14] MaxHillebrand commented on #2795
Same as #2796, non issue so 0 points

[2019-12-08 16:15] MaxHillebrand commented on #2770
Yes, ACK

2 points
@molnard please add

[2019-12-08 16:17] MaxHillebrand commented on #2764
This is a painful issue, 3 points
@molnard please add

[2019-12-08 16:19] MaxHillebrand commented on #2768
I think this is working properly.
when you select more coins, the tx size and thus fee is higher, by 33 bytes per input - so I believe this is all OK?

[2019-12-08 16:20] MaxHillebrand commented on #2744
Not a bug report, but a feature request [kinda?]

So I think it's 0 points, but can be 1 if @molnard thinks so...

[2019-12-08 16:21] MaxHillebrand commented on #2597
I think @jmacato is still tinkering on it?
It's definitely not fixed for me, so I'm reopening

[2019-12-08 16:21] MaxHillebrand commented on #2778
This is working as designed. 0 points

[2019-12-08 16:23] MaxHillebrand commented on #2762
It is a good catch that the font does not have special characters, but in regular usage of the wallet this is not an issue, so it's 1 point.

@molnard please add

[2019-12-08 16:25] MaxHillebrand commented on #2761
Yes, saving it to desktop does not work on MAC, thus it breaks the feature.
2 points

[2019-12-08 16:26] MaxHillebrand commented on #2771
I think this is worth 2 points.

@molnard please add

[2019-12-08 16:27] MaxHillebrand commented on #2810
This was already reported by @RiccardoMasutti , so 0 points.

[2019-12-08 16:28] MaxHillebrand commented on #2784
good catch - 2 points
@molnard please add

[2019-12-08 16:29] MaxHillebrand commented on #2802
I agree that it is for "power users", well, at least for those who have above average knowledge of Bitcoin. And for them it's a one click activation, which they should be able to handle.

non-issue feature request - 0 points

[2019-12-08 16:30] MaxHillebrand commented on #2777
The generation process works as designed, but I agree that the workflow should be changed as you suggest.

But this is not a bug, so it is 0 points.

[2019-12-08 16:31] SimoneBovi commented on #2810
@MaxHillebrand which issue you are referring to? I am skimming through his issues, but if you mean this one, it is not the same honestly: https://github.com/zkSNACKs/WalletWasabi/issues/2756

[2019-12-08 16:49] yahiheb commented on #2786
Follow the three steps then try to use the up or down arrows to move to another row, they don't work.

[2019-12-08 16:57] yahiheb commented on #2782
When you build a tx you get `PSBT Json`, `Transaction Hex`, `PSBT Base64 String` in that order.
The header of Transaction Broadcaster is `PSBT or Transaction Hex`, so users (like myself) might try to broadcast the `PSBT Json` and they get `Invalid Hex String`.

[2019-12-08 17:01] yahiheb commented on #2800
If we remove the menus as described in #2799, we will not have this anymore.

[2019-12-08 17:04] yahiheb commented on #2768
I am selecting only 1 coin, and at first the estimation is 143 sat, if you delete the fee (1) and type it again the estimation is correct (110).
Btw even when the estimation is displayed 143 and you send the tx the fee is correct (110).

[2019-12-08 17:43] nopara73 commented on #2762
Are you saying neither my name (Ádám) nor @molnard's name (Dávid), nor @bharmat's name (Bálint), nor @hgergoil's name (Gergő) name is important enough to be considered normal usage? 😄😄😄

[2019-12-08 21:04] davterra opened #2811 "Onion version of the website reverts to cleartext addresses if any internal links/subpages are selected."
### General Description
When I use Tor to access the .onion version of wasabiwallet.io using
http://wasabiukrxmkdgve5kynjztuovbg43uxcbcxn6y2okcrsg7gb6jdmbad.onion/
I get the Home/landing page fine, but if I click on any internal link within the home/landing page, it reverts
to cleartext addresses.

I've never really looked at the .onion version of the website before, but for me, and maybe I'm miss

[2019-12-08 21:29] RiccardoMasutti commented on #2811
Links in the menu are relative, not absolute. What are you referring about?

[2019-12-08 21:40] davterra commented on #2811
OK, As I said, I dont use tor much for browsing. I'm much more used to using a vpn...and perhaps I shouldnt be doing this while drinking beer and watching football....but, for example, if I go to the .onion address for wasabiwallet.io (http://wasabiukrxmkdgve5kynjztuovbg43uxcbcxn6y2okcrsg7gb6jdmbad.onion/)
and click on, for example, "Coin Control Features" just below the fold for the main page, I

[2019-12-09 02:09] RiccardoMasutti commented on #2811
Docs.wasabiwallet.io currently is only available on clearnet.

[2019-12-09 04:02] davterra commented on #2811
Ok, understood. Sorry for the clumsy lack of eloquence in describing what I thought was a bug.

I am wondering if there is a timeline to clone the entire site to the .onion version, and also if having most of the site as a subdomain is a limiting factor?

[2019-12-09 08:17] jmacato commented on #2765
Closing this as duplicate of #2763

[2019-12-09 08:17] #2765 closed

[2019-12-09 08:21] molnard commented on #2799
Unfortunately, @yahiheb cannot play. Fortunately, he is already in our team :)

[2019-12-09 08:23] molnard commented on #2803
This is a research question.

[2019-12-09 08:28] molnard commented on #2810
I am adding this because this is pointing out another fraction of privacy problems on the onion website. Basically there is an inconsistency with the links on the onion website. Either we let clear-net links or change every link which is possible to onion.

[2019-12-09 08:29] molnard commented on #2811
This is a feature request.

[2019-12-09 08:30] molnard commented on #2734
@RiccardoMasutti I will add this but please extend the description about reproduction.

[2019-12-09 09:36] #2763 closed

[2019-12-09 09:44] nopara73 commented on #2768
You mean for same inputs, but writing it in another order generates different estimations? In that case it's a bug.

[2019-12-09 09:50] nopara73 commented on #2767
@yahiheb If so, then how to reproduce it?

[2019-12-09 09:57] nopara73 commented on #2744
Note, in order to make it future proof we need to take the length of a txid as minimum, since that's something (I don't remember if I implemented already) but will be implemented to paste txid, query the tx over Tor and rebroadcast it/make sure your wallet knows about the tx.

[2019-12-09 10:16] nopara73 commented on #2811
IMO it's a bug. For the API definitely.

[2019-12-09 10:21] nopara73 commented on #2769
3 points mean it must be fixed for the release. IMO it doesn't. I'll add 2 points instead.

[2019-12-09 10:23] nopara73 commented on #2738
It's a missing painful functionality, that's why I added 3 points.

[2019-12-09 10:24] #2679 closed

[2019-12-09 10:24] #2738 closed

[2019-12-09 10:25] nopara73 commented on #2722
It's something that must be fixed for the release so I put it to the 3 point category.

[2019-12-09 10:42] #2777 closed

[2019-12-09 10:45] RiccardoMasutti commented on #2811
API link was already reported in another issue. He's talking about docs

[2019-12-09 11:02] nopara73 commented on #2722
I take it.

[2019-12-09 11:07] nopara73 commented on #2722
Using Ubuntu 19.04 + i3

I cannot reproduce it.

1. Open Wasabi.
2. Go to Settings.
3. Change an anonset level.
4. Close Wasabi.
5. Open again.
6. See anonset level change persisted.

[2019-12-09 11:09] nopara73 commented on #2722
@MaxHillebrand That is a different issue. I cannot reproduce that either.

1. Open Wasabi.
1. Load a wallet.
1. Change anonset target.
1. Close Wasabi.
1. Open and load again.
1. See anonset target change persisted as it should.

[2019-12-09 11:11] nopara73 commented on #2722
I cannot reproduce it either.

1. Open Wasabi.
1. Go to Settings.
1. Change an anonset level.
1. Close Settings.
1. Close Wasabi.
1. Open again.
1. See anonset level change persisted as it should.

[2019-12-09 11:13] nopara73 commented on #2722
ACK, but outside the scope of this issue. As a historical context, the settings did not have any text input field when we decided on this, it was just dropdowns. The text input fields makes things interesting.

[2019-12-09 11:16] nopara73 commented on #2722
So, the issue doesn't happen on Windows 10, neither me nor @kravens can reproduce it. It's really strange though. There's no platform specific or suspect code to around to cause anything like this. Anyhow, turning to our resident Linux gurus, @lontivero or @jmacato can you take it over?

[2019-12-09 11:19] nopara73 commented on #2800
I take it.

[2019-12-09 11:24] molnard commented on #2764
This is not a new issue, I got this with the previous versions too. I thought it is just me but looks like everyone involved. I think macOS users just restarting wasabi and issue solved that is why this was not reported.
So as I mentioned I can reproduce it, however, I cannot debug it.

1. I start Wasabi it starts bouncing, no log file created so it looks like Wasabi is not started on the business

[2019-12-09 11:30] nopara73 commented on #2800
No, I don't take it, it's hardware wallet specific. @molnard @lontivero @danwalmsley @yahiheb can one of you take it?

[2019-12-09 11:31] nopara73 commented on #2799
I take it.

[2019-12-09 11:32] molnard commented on #2764
If this is a permission problem then the question of why it is fixed after restart?
I had a bad feeling about this and will lead too deep now.

[2019-12-09 11:37] molnard commented on #2722
Neither on win10 or macOS I could reproduce. It looks like a Linux only problem.

[2019-12-09 11:38] molnard commented on #2800
I will take it.

[2019-12-09 11:43] nopara73 commented on #2800
@molnard I solved it unintentionally.

[2019-12-09 11:45] #2799 closed

[2019-12-09 11:45] #2800 closed

[2019-12-09 12:18] #2810 closed

[2019-12-09 12:32] RiccardoMasutti opened #2817 "[1.1.10] Update FAQs on wasabiwallet.io to reflect doc changes"
PR | Description | Win | Mac | Lin
-- | -- | -- | -- | --
18 | Check the new website, click everywhere, on mobile, in onion browser. | ✗ |   | ✗

FAQs in wasabiwallet.io are outdated compared to changes made in the documentation.

[2019-12-09 12:35] RiccardoMasutti commented on #2811
We should close this one @MaxHillebrand @molnard.
#2815 fixed API link

[2019-12-09 13:07] lontivero commented on #2722
I've being playing with these levels for almost and hour and I cannot reproduce on Ubuntu. We need the step-by-step how to reproduce it and also the log entries, if there is any related. Otherwise I think we will not be able to catch this one.

[2019-12-09 13:09] nopara73 commented on #2722
Maybe it was in the released version, but not on the master. Anyway, at this point I think we should close this.

[2019-12-09 13:10] #2811 closed

[2019-12-09 13:11] yahiheb opened #2819 "Can't edit amount when max button is clicked"
- Go to Send tab
- Select a coin
- Click Max button

Now you can't edit the amount to be sent, it would be better to be able to do that.

[2019-12-09 13:12] nopara73 commented on #2819
That's the point of the Max button. To send all your selected coins.

[2019-12-09 13:12] yahiheb commented on #2768
I don't understand.

[2019-12-09 13:13] jmacato commented on #2722
Yeah, can't repro this on either Manjaro ARM nor Ubuntu 18.04 LTS

[2019-12-09 13:14] nopara73 commented on #2768
Do you get different estimation for the same data filled out, the only difference is just from what direction you're filling out the data?

[2019-12-09 13:17] lontivero commented on #2764
I will take a look at this one too.

[2019-12-09 13:20] nopara73 commented on #2767
Actually this is a good idea. Of course it's not how it is intended to work, but maybe it should. So when you click on the "Select Text" you get nothing, but when you hover over the badges they get a grow animation and if you click then the coins should be selected. (And the badge highlighted somehow.)

This would also enable us to remove some functionality, that'd be interesting.

Anyhow it's out

[2019-12-09 13:24] yahiheb commented on #2767
- Start with default anonset levels (yellow = 2, green = 21, green check = 50)
- Go to CoinJoin tab and choose the smallest anonymity set target (yellow shield)
- Go to Tools --> Settings --> Anonymity Levels --> Set the anonymity set of the yellow shield to be the highest (60 for example)
- Close Wasabi Wallet and reopen it again
- Go to CoinJoin tab and select the highest anonymity target (60)
-

[2019-12-09 13:29] nopara73 commented on #2767
Thanks, so it requires messing with the settings. Then it's no priority by any means.

[2019-12-09 13:36] yahiheb commented on #2819
I may have a 0.123465678 coin and I want to send 0.023465678 but I don't want to type that, I can click max then edit the amount.

[2019-12-09 13:52] danwalmsley commented on #2764
Also looking into it :)

[2019-12-09 13:58] yahiheb commented on #2768
I am on TestNet but that doesn't matter, the manual fee entry is on.

No coin is selected, the estimated total fees is `~0.00000150`, the fee is `1 sat/vbyte`
I have a `0.00018788` coin, I select it, the estimated total fees is now `~0.00000143`
I click the Max button, the amount that is displayed (to be sent) is `~0.00018645`
I delete the fee (1) and I type it again (1)
--> the amount changed to

[2019-12-09 14:09] danwalmsley commented on #2784
@yahiheb should be called the Hawk!

[2019-12-09 14:13] danwalmsley commented on #2784
I think disable the border will get rid of this, most likely a rendering issue deep in avalonia. (Probably alpha blending)

[2019-12-09 15:37] molnard commented on #2631
Dear @SimoneBovi @davterra @RiccardoMasutti @varsnotwars @kravens

Thank you for your amazing work. With the help of that, we discovered some critical issues, mainly those are fixed recently. I expand the game time until tomorrow when I will release the new version hopefully. Until then I offer 6 points bonus and increase the total bounty to 0.3 BTC if you build wasabi master from source
https://g

[2019-12-09 15:55] SimoneBovi commented on #2631
[WORK IN PROGRESS]

Here are the results of PR-s fixes check:

- #2764: @molnard it would be great to have an updated .dmg to test this or a guide on how to build dmg in a reliable way
- #2765: that's ok, great!

[2019-12-09 16:13] nopara73 commented on #2819
I didn't think of that. That makes sense.

[2019-12-09 16:44] RiccardoMasutti commented on #2722
I'm still investigating.

[2019-12-09 17:15] yahiheb opened #2821 "Upgrade to .NET Core 3.1"
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1/

.NET Core 3.1 is a LTS (long term support).
.NET Core 3.0 will reach end-of-life three months from today, on March 3, 2020.

[2019-12-09 17:29] davterra commented on #2631
Here are my test results, all using Ubuntu 19.04 (without i3wm)

#2764
Cannot replicate. Works fine

#2800
 Cannot replicate. Works fine

#2765
Looks much better. Fixed

#2771
No problems/works fine for me

#2738/2740
Can no longer replicate. Seems fixed.

#2722
This issue still exists for me. There are
two procedures that I've been testing.
Procedure # 1 does NOT result in updated
anonymity param

[2019-12-09 18:22] molnard opened #2823 "macOS deadlock on receive tab"
### General Description

After clicking quickly (5-10 times per sec) with right-click many times in receive address list Wasabi goes into a deadlock or sometimes a crash! I can reproduce it in less than 10 seconds.

- In visual studio on master I tried to revert https://github.com/zkSNACKs/WalletWasabi/pull/2816. no luck still freezes.
- With RC1 it is the same.

### Debugging in Visual Studio

On

[2019-12-09 19:22] molnard opened #2825 "NRE on loading wallet"
### General Description

Sometimes I start wasabi click on load wallet and got an argument null exception, see screenshot. I am in debug mode so I might close wasabi in a non-valid way. Anyway, from this point nothing happens until I restart Wasabi. AFAIK invalid filters should crash the app forces the user to restart and rescan but it looks like on some point it is broken and let me press the loa

[2019-12-09 19:57] RiccardoMasutti commented on #2631
Wasabi build from source on Debian 10:

- #2764: Never had this issue
- #2800: OK
- #2765 / #2763: OK
- #2738: OK
- #2740: OK
- #2722: OK
- #2791: OK

[2019-12-09 20:06] mikispag opened #2826 "Wasabi 1.1.9.3 does not start on Tails 4.1"
### General Description

Wasabi 1.1.9.3 does not start on Tails 4.1, hangs with a completely gray screen on an empty `.wasabiwallet` config directory and has to be killed. I believe it has to do with local Tor detection on Tails 4.1 (latest).

### How To Reproduce?

1. Use Tails 4.1.
2. Open `wassabee` with an empty config directory.
3. Wasabi hangs with a gray screen with an obscure upward arrow

[2019-12-09 20:24] RiccardoMasutti commented on #2826
Works for me. Cannot reproduce

[2019-12-09 20:31] mikispag commented on #2826
I have uploaded my logs. After that, Wasabi hangs indefinitely and I have to kill it. ^C does not work.

[2019-12-09 21:09] yahiheb commented on #2823
Couldn't reproduce this on Windows 7. Tried both master and RC1.

[2019-12-09 21:57] lontivero commented on #2825
The `Synchronizer` invokes `AddNewFiltersAsync` which doesn't doesn't let the exception to crash the application. https://github.com/zkSNACKs/WalletWasabi/blob/95839c5747d76a6bbe975da65194a82abf31fa55/WalletWasabi/Services/WasabiSynchronizer.cs#L252

However, I cannot reproduce this because there is not way to make `Nodes` `null`, specially when in the `InitializeWalletServiceAsync` waits for the

[2019-12-09 22:07] lontivero commented on #2823
This is a segmentation fault what means that the process tried to get access to a memory address out of the allocated memory. This is something we cannot do with managed code and for that reason it should be fixed on Avalonia.

From our side we can only work around this by making it harder to click more than 10 times a second (what it is already difficult for me btw).

[2019-12-09 22:13] lontivero commented on #2722
@davterra could you share your Config.json and UiConfig.json here?

[2019-12-09 22:25] lontivero commented on #2826
It doesn't seem to be related to Tor imo.

* Q: what do you mean by `empty config directory`? It is the `~/.config` directory or the `~/.walletwasabi` directory?
* Q: did wasabi work for you in previous versions?
* Q: are you running it from code?

Any additional info would be really useful. Given you are a Tails users by sure you know better than me where to take a look for that.

[2019-12-09 22:33] lontivero commented on #2803
If your system time is wrong almost nothing works property, no TLS nor 2FA work and many meny things can go wrong.

Bitcoin Core node performs a couple of time awareness checks like the block time verification for example so, the system time has to be correct. Wasabi also uses the system time to calculate things, display information and schedule some tasks so, do not play with that.

Additionally

[2019-12-09 22:58] davterra commented on #2722
Yes, happy to....but can't until I get home.... about an hour from now....will post as soon as possible.

[2019-12-09 23:44] davterra commented on #2722
OK,
ICYMI, here is a more detailed description of how to replicate the issue:

There are two procedures that I've been testing.
Procedure # 1 does NOT result in updated anonymity params,
Procedure # 2 DOES result in updated anonymity params.

Procedure #1:

   1) start wasabi
   2) open settings
   3) change anonymity settings
   4) close settings tab
   5) reopen settings tab to verify new params

[2019-12-10 00:57] RiccardoMasutti commented on #2722
Will try again tomorrow

[2019-12-10 00:58] RiccardoMasutti commented on #2722
I will try asap

[2019-12-10 02:30] danwalmsley commented on #2823
debugging this.. @kekekeks might be interested too!

[2019-12-10 04:33] lontivero commented on #2722
I don't see anything wrong.

[2019-12-10 04:37] lontivero commented on #2764
I have no clue what the problem could be here. The problem is not because there is not a ~/.walletwasabi folder, it is the first time after installing it and I don't know why. It doesn't happen if I run it from code.

[2019-12-10 07:26] #2771 closed

[2019-12-10 07:28] nopara73 commented on #2821
Should be safe.

[2019-12-10 07:30] nopara73 commented on #2821
Fixes some install stuff. Can't find anything remotely interesting to us. https://github.com/dotnet/core/issues/3950

So we should update before the release, otherwise this will break the deterministic build.

[2019-12-10 07:47] mikispag commented on #2826
To me, it looks like it's waiting for something network-related.
Running it under `strace -p PID -f` it looks like it is caught in a futex wait queue.

I see many of these:
[code]

Empty `~/.walletwasabi` directory, vanilla Tails 4.1.

Yes. It worked with 1.1.9.1.

No, I am running the 1.1.9.3 release from deb.

Would love to help debugging, but I have posted `Logs.txt`. Tor Logs are not there.

[2019-12-10 07:59] nopara73 commented on #2825
Correct, the `InitializationCompleted` will be false until the initialization of nodes are completed and `InitializeWalletServiceAsync` doesn't happen until `InitializationCompleted`, and `Nodes` is always assigned in `InitializeNoWalletAsync`. So it can either be one of two things, as you said "it is completed and after that setted to null somewhere before you press the Load Wallet" or @molnard i

[2019-12-10 08:02] nopara73 commented on #2825
Aah, this is impossible too. We never set Nodes to null. This makes no sense.

[2019-12-10 08:04] nopara73 commented on #2825
Aah, I got it. We set `InitializationCompleted` in finally. But `InitializeNoWalletAsync` throws exception before completed but it for some reason doesn't crash the app while it should.

[2019-12-10 08:09] nopara73 commented on #2825
Aaah, @danwalmsley did some strangeness when upgrading to Avalonia.

1. Now we are initializing the Global after some UI elements:

![image](https://user-images.githubusercontent.com/9156103/70507419-4ae00c00-1b67-11ea-9a99-9e4cc74d5009.png)

2. And we're doing this in this `ShellAppMainDelegate`:

![image](https://user-images.githubusercontent.com/9156103/70507482-68ad7100-1b67-11ea-93ba-8697d55f

[2019-12-10 08:13] nopara73 commented on #2825
@danwalmsley You did this to speed up wallet start, right?

[2019-12-10 08:39] #2821 closed

[2019-12-10 10:09] molnard commented on #2826
Thank you for the report. Can you confirm that it is working with 1.1.9.2 (Latest release) with Tails 4.1?

[2019-12-10 10:11] RiccardoMasutti commented on #2826
It works for me

[2019-12-10 10:23] mikispag commented on #2826
1.1.9.2. loads correctly on the same Tails 4.1.

Is there a way to have more detailed debug logs, maybe a hidden command line flag?

[2019-12-10 10:23] molnard commented on #2764
@bharmat tested it and he did not encounter this problem. However, he starts Wasabi which is denied by Gatekeeper then goes and sets the permission at System / Security manually.

This is not a new issue, I encountered this many times before with previous versions - I am using the CTRL right-click open to enable Wasabi.

This definitely should be fixed but not in the next release.

[2019-12-10 11:14] danwalmsley commented on #2823
Found the cause, working out a fi.

[2019-12-10 11:31] mikispag commented on #2826
1.1.9.2. loads correctly on the same Tails 4.1.

Is there a way to have more detailed debug logs, maybe a hidden command line flag? In other words, how do you debug "hanging and nothing visible happens for hours" cases?

[2019-12-10 12:22] danwalmsley commented on #2823
https://github.com/AvaloniaUI/Avalonia/pull/3338

[2019-12-10 13:18] davterra commented on #2722
@MaxHillebrand and @SimoneBovi are you still able to replicate this?
Simone said as recently as yesterday 12/9 that he could replicate, presumably with his Mac/Catalina.
Not had an update from Max since the changes to Master.

[2019-12-10 13:45] lontivero commented on #2826
There is not way to have a more detailed logs using the packaged version. If you run it from code then you can change the log level to `debug` here https://github.com/zkSNACKs/WalletWasabi/blob/0170b2728917349834a5cb66cbb28ba24bd44c36/WalletWasabi/Logging/Logger.cs#L62

What I understand from you last comment (and for the strace) is that wasabi starts but enters probably in a deadlock. The questio

[2019-12-10 14:33] seanstange99 opened #2832 "bug report"
### General Description

A clear and concise description of what the bug is.

### How To Reproduce?

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Screenshots

If applicable, add screenshots to help explain your problem.

### Operating System

Please consider your privacy, before completing this section.
Example: Ubuntu 16.04

### Logs

Please consider your privacy,

[2019-12-10 14:49] molnard opened #2833 "macOS hangs NSViewAttachLayerSurface"
### General Description

The second part of the macOS right-click dilemma.

The first one is here: https://github.com/zkSNACKs/WalletWasabi/issues/2823

### How To Reproduce?

1. Go to Receive Tab
2. Right-click rapidly on empty ListBox
3. See the console
4. After the error, the business logic works but the UI hangs

### Operating System

macOS Catalina

### Logs

[code]

### Wasabi Version

https

[2019-12-10 14:52] molnard commented on #2832
@seanstange99 I suppose you are trying to create a bug report but you forget to change the text of the issue template. Click on edit and describe the problem. Good luck!

[2019-12-10 14:53] molnard commented on #2823
So until now, on macOS the situation is the following:

1. In RC1, go to Receive Tab right-click randomly you get the crash with SegFault, it is fixed by Dan PR https://github.com/zkSNACKs/WalletWasabi/pull/2830 - not yet merged, I suppose there will be a new Avalonia rc
2. Context menu IsVisible property hang the application randomly, it is fixed with my PR - removed the IsVisible https://github.

[2019-12-10 16:09] molnard commented on #2826
This is an edge-case might be an issue. Anyway, you provide a detailed description, so I will give 2 points for reporting this.

[2019-12-10 16:11] molnard commented on #2631
@MaxHillebrand Please close the game, no more issues from now.

[2019-12-10 16:27] mikispag commented on #2826
Just built from master, modifying logging level to debug for a release build. Will update.

[2019-12-10 16:50] SimoneBovi commented on #2722
@davterra I just tried with the latest master and I can still replicate this following your 1st procedure.

[2019-12-10 16:57] davterra commented on #2722
Thanks, with mixed emotions. I'd like it if no one, including myself could replicate this, but it's also nice to know it's not just my particular setup/environment.

[2019-12-10 17:26] danwalmsley commented on #2833
fixed here:
https://github.com/AvaloniaUI/Avalonia/pull/3338

[2019-12-10 18:18] #2832 closed

[2019-12-10 18:28] kravens opened #2835 "GUI hangs on startup when address manager is corrupted"
### General Description

After closing multiple instances of Wasabi, starting a new Wasabi GUI crashed the window.
Logs indicate the address manager had a faulty header, but expected and actual are equal!
Could be related to: https://github.com/zkSNACKs/WalletWasabi/issues/2764

### How To Reproduce?

1. Run multiple Wasabi GUI instances.
2. Close all Wasabi GUI's.
3. Run Wasabi Wallet (testing .m

[2019-12-10 19:15] kravens commented on #2835
Does not reproduce with latest master build (dotnet 3.1) when run from command line.

[2019-12-11 08:03] Transisto commented on #2786
@yahiheb Works fine for me.

Anyhow, what do you expect from right-clicking rows?

[2019-12-11 08:06] Transisto commented on #2819
Agreed with @nopara73 , This is needed for easily changing the total when moving the fee slider.
and there's a "Clear" button right next to it.

[2019-12-11 09:54] MaxHillebrand commented on #2722
Tested on Qubes 4 Debian 10 & Fedora 30

Procedure #1:

### Does not safe anonset targets, they are reset to the previous

-    start wasabi
-    open settings
-    change anonymity settings
-    close settings tab
-    reopen settings tab to verify new params still there.
-    close settings tab
-    exit wasabi
-    restart wasabi
-    open settings tab. When I follow this procedure, my A.S. set

[2019-12-11 10:03] MaxHillebrand commented on #2835
I cannot reproduce on Qubes 4 Debian 10

But I'm also not sure exactly how to try to reproduce it, can you please provide a more thorough reproducible guide?

[2019-12-11 10:05] MaxHillebrand commented on #2819
The `MAX` value is automatically changed when the fee level is adjusted, either manual or fee slider.

[2019-12-11 10:36] mikispag commented on #2826
So, pretty hard to debug this.

Apparently, this was briefly fixed by installing `libgdiplus_6.0.4.-0xamarin1+debian10b1_amd64.deb` from https://download.mono-project.com/repo/debian/pool/main/libg/libgdiplus/libgdiplus_6.0.4-0xamarin1+debian10b1_amd64.deb. I saw the GUI pop up briefly, and then it segfaults without any helpful log entries. I have tried removing the `.walletwasabi` directory compl

[2019-12-11 10:53] molnard commented on #2835
Related issue: https://github.com/zkSNACKs/WalletWasabi/issues/2825

[2019-12-11 10:54] molnard commented on #2835
Invalid header error is a valid recovery mechanism. The problem here is instead of hang Wasabi should close itself - force the user to restart and resync the headers.

[2019-12-11 11:01] MaxHillebrand commented on #2825
FYI, I could not yet reproduce this on Qubes 4 in either Debian 10 or Fedora 30...

[2019-12-11 11:02] qertoip opened #2836 "Segmentation fault on Arch Linux with the latest libglvnd-1.3.0-1"
### General Description

Starting Wasabi results in immediate segmentation fault on the fully updated Arch Linux. This only happens since 2019-12-10.

### Operating System

Arch Linux with `libglvnd` updated to `libglvnd-1.3.0-1`:
https://www.archlinux.org/packages/extra/x86_64/libglvnd/

### Logs

Nothing gets logged.

### Wasabi Version

All versions including the most recent one.

### Workaroun

[2019-12-11 11:03] MaxHillebrand commented on #2823
I tried this on Qubes 4 Debian 10 & Fedora 30, and was not able to reproduce the deadlock.

[2019-12-11 11:05] MaxHillebrand commented on #2833
I tried but could not yet reproduce on Qubes 4 both Debian 10 and Fedora 30.

[2019-12-11 11:08] MaxHillebrand commented on #2826
@mikispag do you have [.NET Core 3.1](https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-rhel7) installed? That got updated in master, after RC1 I believe.

[2019-12-11 11:09] MaxHillebrand commented on #2826
This might be related #2836

[2019-12-11 11:10] molnard opened #2837 "Mega context menu blink on macOS"
### General Description

Context menu getting huge for a fraction of a second then disappears. It is not a critical issue but might be a clue for random macOS crashes.

### How To Reproduce?

1. Go to Receive Tab
2. Right-click twice on empty Listbox
3. Left-click into Label
4. See error

### Screenshots

![image](https://user-images.githubusercontent.com/9844978/70616093-fe9bd700-1c0d-11ea-9991-1

[2019-12-11 11:17] molnard opened #2838 "QR code save PNG not working on macOS"
### General Description

After you click on save QR code on macOS, menu item will become disabled forever. Also, the file never created. I tried to save to different locations for example to Desktop, the result was the same.

### How To Reproduce?

1. Go to Receive Tab
2. Expand item
3. Click Save QR Code
4. See error

### Screenshots

![image](https://user-images.githubusercontent.com/9844978/706

[2019-12-11 11:19] molnard commented on #2836
Might be fixed with this: https://github.com/zkSNACKs/WalletWasabi/issues/2833

[2019-12-11 11:19] mikispag commented on #2826
Yes, I do have it installed from Microsoft deb repo for Debian 10.

[2019-12-11 11:30] mikispag commented on #2826
I did not have `libglvnd-dev` nor `libglvnd0` installed in Tails.
I installed both, at version `1.1.0-1`, which is the same as debian buster.

Problem persists.

[2019-12-11 12:17] molnard commented on #2833
I can still reproduce it:
[code]

[2019-12-11 12:23] molnard commented on #2823
With the newest lib I still get the error:

[code]

[code]

[2019-12-11 12:25] MaxHillebrand commented on #2837
Feature, not bug - now Wasabi is tailor made for half blind people :laughing:

[2019-12-11 12:27] molnard commented on #2837
Okay but only for 100ms? Instead this could be a hidden subconscious advertisement to buy Wasabi fridge magnet.

[2019-12-11 12:32] molnard commented on #2838
Duplicate: https://github.com/zkSNACKs/WalletWasabi/issues/2761

[2019-12-11 12:40] mikispag commented on #2826
Can you try reproducing on a vanilla Tails 4.1 installing `dotnet-sdk-3.1` only?

[2019-12-11 13:15] danwalmsley commented on #2761
OK this was caused by swallowed exception in OSX and is fixed here:
https://github.com/AvaloniaUI/Avalonia/pull/3343

[2019-12-11 13:26] yahiheb commented on #2786
This is now fixed on Master. I think it was fixed by #2820

My problem was with the up or down buttons not moving to another row when clicked.

[2019-12-11 13:31] molnard commented on #2761
It will display the exception in a notification from now. For example on windows defender blocked the save of the file.

[2019-12-11 13:32] yahiheb commented on #2786
Master branch.
Send/CoinJoin lists everything works.
Receive/History lists the problem still exists.

[2019-12-11 15:09] lontivero opened #2840 "InvalidEnumArgumentException in IndexStore"
### General Description

After I closed Wasabi I got hundreds of this exceptions

### How To Reproduce?

I don't know. I was testing a PR when that happened.

### Screenshots

NA

### Operating System

Example: Ubuntu 18.04

### Logs

[code]

[2019-12-11 15:26] molnard commented on #2825
According to the dev meeting @danwalmsley said the exception is swallowed on macOS without throwing. It is caused by Avalonia native code generator. He will take a look at how to fix this.

[2019-12-11 17:53] Transisto commented on #2786
I still don't understand, could you post screenshot of what you're talking about.

There are no column in "Receive"

[2019-12-11 19:26] lontivero commented on #2840
No real issue, it was just a problem in my env.

[2019-12-11 19:26] #2840 closed

[2019-12-11 19:40] danwalmsley commented on #2823
@molnard https://github.com/AvaloniaUI/Avalonia/pull/3350 will "Fix" this in that it restores the behavior in the 0.8 release of avalonia, popups (context menus, etc) will open under the mouse cursor, so your rapid right clicking test will no longer be effective.

The dead lock is still there, but you wont be able to trigger it so easily. (Deadlock is in 0.8 avalonia also)

[2019-12-11 19:56] yahiheb commented on #2786
I never mentioned columns.

[2019-12-11 22:57] kravens commented on #2835
1. Run and load two or more Wasabi wallets side by side.
2. Wait for all open wallets to sync.
3. Close all Wasabi wallets.
4. Open one new Wasabi wallet (here it hangs for me on W10).

[2019-12-12 07:36] nopara73 opened #2841 "USD Amount"
When clicking on Max/Clear on the Send tab USD amount doesn't get updated.

[2019-12-12 08:13] nopara73 commented on #2768
I suspect this issue was introduced here: https://github.com/zkSNACKs/WalletWasabi/pull/2687

[2019-12-12 08:24] nopara73 commented on #2768
There was an update problem introduced by that PR regarding fees. This one fixes it: https://github.com/zkSNACKs/WalletWasabi/pull/2842

[2019-12-12 08:24] #2768 closed

[2019-12-12 08:24] #2841 closed

[2019-12-12 09:05] nopara73 commented on #2825
As far as I remember it was just a random idea from @danwalmsley, which is worth investigating, but not worth counting on, so this should be further investigated.

[2019-12-12 09:10] nopara73 opened #2843 "Software hangs when `AppMainAsync` throws exception"
Put `throw new Exception();` into `AppMainAsync`, the software doesn't crash, but hangs. Tested on Windows 10.

Related (maybe the same): https://github.com/zkSNACKs/WalletWasabi/issues/2825
Related (maybe the same): https://github.com/zkSNACKs/WalletWasabi/issues/2835

Reproduce:
[code]

[2019-12-12 10:29] #2825 closed

[2019-12-12 10:29] #2835 closed

[2019-12-12 10:30] molnard commented on #2843
This is still not solved so reopening it. On macOS, the code generator in Avalonia still needs to be fixed to not swallow the exceptions.

[2019-12-12 11:24] lontivero opened #2847 "Fee calculation gives different result for Max button and manual entering"
### General Description

Fee calculation is inconsistent in it results.

### How To Reproduce?

1. Go to Send tab
2. Select at least one coin
3. Click on Max button and see the calculated fee (lets call it `calc-fee-max`)
4. Copy the Amount textbox to the clipboard
5. Press the Clear button
6. Paste the amount from the clipboard into the Amount textbox
7. See the calculated fee (lets call it `calc

[2019-12-12 11:37] MaxHillebrand commented on #2847
I can reproduce, there are different total fee amounts [with and without change], despite the same sat value in the destination amount.

![screenshot_20191212_123621](https://user-images.githubusercontent.com/30683012/70708976-1772be00-1cdc-11ea-8421-1572866e28d4.png)
![screenshot_20191212_123615](https://user-images.githubusercontent.com/30683012/70708977-1772be00-1cdc-11ea-811f-0c95a56c3be9.png)

[2019-12-12 12:12] molnard commented on #2843
Related: https://github.com/SharpGenTools/SharpGenTools/issues/91

[2019-12-12 12:18] danwalmsley commented on #2843
here is why it fails:
https://github.com/SharpGenTools/SharpGenTools/blob/a707e00fb4e0a43f1823487ec80ec7c375d88fa6/SharpGen/Generator/ShadowCallbackGenerator.cs#L290

our managed<->native call tree always looks like:
Program::Main() -> Dispatcher.UIThread::RunLoop() - > [NSApp run] -> native-to-managed wrapper -> whatever C# code

so try -> catch between Main and avalonia starting, will not work,

[2019-12-12 14:37] lontivero commented on #2847
This will be really really hard to improve. We are not taking into account the real number of coins that will finally be selected, no same scriptPubKey into consideration neither so, it is just an estimation because you cannot know how much you have to pay for fees until you build the real transaction, and you cannot build the real transaction without previously calculate the fee.

I am closing th

[2019-12-12 14:37] #2847 closed

[2019-12-12 15:28] yahiheb commented on #2847
This was reported here #2768

[2019-12-12 17:31] yahiheb commented on #2847
@lontivero I am not sure if this can be or cannot be fixed (I think it can) but consider this:

1. Go to Send tab
2. Select a coin (mine is `0.00018678`)
3. Click Max button (the amount is `~ 0.00018535`)
4. Click inside the amount textbox and press any key on your keyboard (the amount changes to `~ 0.00018568` which is different from the first amount with `33` sats (143-110))

The first amount is

[2019-12-13 05:23] #2761 closed

[2019-12-13 05:23] #2833 closed

[2019-12-13 05:23] #2837 closed

[2019-12-13 05:23] #2838 closed

[2019-12-13 05:24] #2628 closed

[2019-12-13 11:31] #2823 closed

[2019-12-13 11:32] #2652 closed

[2019-12-13 11:32] #2631 closed

[2019-12-13 12:00] molnard commented on #2721
After 1.1.10 rc1 we gathered and solved the most important issues. Now we are a stage when I start the final tests again.

@Rmartin1104 please run the hardware test.

[2019-12-13 12:07] mikispag commented on #2826
Still does not work at `809bceee39ae71279176cc563e937fa5bb7910d1`.

Why does it start in "screen lock" mode with an empty `.walletwasabi` and never goes out of it?

[2019-12-13 12:12] molnard commented on #2826
Can u try with this?
https://github.com/molnard/WalletWasabi/releases/tag/v1.1.10rc2

[2019-12-13 12:13] molnard commented on #2721
@MaxHillebrand @jmacato @bharmat @hgergoil @danwalmsley @nopara73 @yahiheb @lontivero
Please run another final test on the current master. If nothing critical I will release in 12 hours.

@MaxHillebrand please finalize the results of the contribution game, in this format: https://github.com/zkSNACKs/WalletWasabi/issues/2016

@SimoneBovi @davterra @RiccardoMasutti @kravens please check if your issu

[2019-12-13 12:23] mikispag commented on #2826
Thanks, tried. Click and drag upwards to unlock. Nothing happens. Nothing is draggable.

[2019-12-13 12:48] Rmartin1104 commented on #2721
Hardware kata tests in Win 10 :
Trezor T done
Trezor one done
Coldcard done
Ledger Nano S done

[2019-12-13 12:59] MaxHillebrand commented on #2721
I ran the `dotnet test --filters UnitTests` again,

Debian 10

[code]

Fedora 30

[code]

[2019-12-13 12:59] davterra commented on #2721
Sorry to report that #2722 still exists for me. @SimoneBovi & @MaxHillebrand , you were both able to replicate recently. What say you now?

[2019-12-13 13:16] molnard commented on #2721
Test vectors according to PR-s
https://github.com/zkSNACKs/WalletWasabi/pulls?utf8=%E2%9C%93&q=is%3Apr+merged%3A%3E%3D2019-12-05+sort%3Aupdated-asc+

- User Fee testing: enter point, coma, invalid characters to UserFee, maximum, minimum https://github.com/zkSNACKs/WalletWasabi/pull/2743 https://github.com/zkSNACKs/WalletWasabi/pull/2747
- Enter wrong password, check user friendly message https://g

[2019-12-13 13:29] davterra commented on #2721
I am able to send a testnet transaction, using manual fee selection, and inputting a fractional satoshi amount as the fee.

[2019-12-13 13:32] bharmat commented on #2721
On OSX I can also repro:
1. start wasabi
2. open settings
3. change anonymity setting (change only one of them and do not click out of that box afterwards. Notcie the yellow warning message does not show up)
4. exit wasabi
7. restart wasabi
In this case the anaonset is unchanged.

Another case:
1. start wasabi
2. open settings
3. change anonymity settings (all 3 of them)
4. Close settings tab
5. R

[2019-12-13 14:20] molnard commented on #2721
@davterra @bharmat I have fixed it https://github.com/zkSNACKs/WalletWasabi/pull/2851

[2019-12-13 14:21] molnard commented on #2721
That works fine!

[2019-12-13 14:26] davterra commented on #2721
It's actually possible to use fractional satoshi's as a fee in a real transaction? If so, I just learned something & apologize for wasting your time. I've obviously never tried it, and assumed that it was
not possible.

[2019-12-13 15:03] lontivero commented on #2721
not possible.

The minimum valid fee is 0 satoshis. You can pay any amount higher than that. Also, take into account that Wasabi doesn't let you specify the total fee to pay but the fee **rate** and this can be a fractional number, for example, if you pay 0.5 sats/vbyte and your transaction is 1000vbyte size then you are paying 500 stas. In summary, you are not paying a fraction of satoshi.

[2019-12-13 15:08] davterra commented on #2721
Sure, that makes sense. I guess, without really thinking about it, I assumed that a fractional satoshi fee rate could result in a total fee that was not an integer.

[2019-12-13 15:11] #2722 closed

[2019-12-14 01:48] kravens commented on #2721
W10 UnitTests result of master branch:

Total tests: 231
     Passed: 231
 Total time: 1,7564 Minutes

Also tested 1.1.10rc2 for #2835, now it no longer hangs and closes the window so the user must restart (and works properly again)!

[2019-12-14 01:54] kravens commented on #2801
Weird state is still here for me in 1.1.10rc2.
![image](https://user-images.githubusercontent.com/9646902/70841716-f2399900-1e1c-11ea-8a8d-9e37aab0096a.png)

[2019-12-14 13:32] yahiheb opened #2855 "Add variable to store current version (index.html)"
Can't we add a variable in https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi.Backend/wwwroot/index.html
similar to what we have in the docs repo https://github.com/zkSNACKs/WasabiDoc/blob/master/docs/.vuepress/variables.js
to store the current version? to make it easy when releasing a new version.

[2019-12-14 13:43] nopara73 commented on #2855
No, it's a no javascript website.

[2019-12-14 13:43] #2855 closed

[2019-12-14 13:51] yahiheb commented on #2855
Is there no way to do that in a no javascript website?

[2019-12-14 14:16] nopara73 commented on #2855
I dont think so but if you find and html or css solution it would be awesome.

[2019-12-14 17:20] hkjn opened #2856 "1.1.10 consistently crashes on startup on NixOS"
### General Description

I [tried building](https://github.com/hkjn/nixpkgs/commit/b9f6a125) version 1.1.10 for NixOS, but found that the program crashes on startup, consistently. In the included logs below, the first run is after an upgrade from 1.1.9.2, then I attempt to show the version (`wasabiwallet --version` command seems to hang indefinitely and I `^C` it eventually). The second (and third

[2019-12-14 17:24] nopara73 commented on #2856
Looks like the new Avalonia version is crashing.

That's ok, it thinks the index file is totally messed up because we replaced it so it crashes and starts over.

@danwalmsley, @jmacato can you look into it?

@molnard with the fix we can give out a backported hotfix release.

[2019-12-14 17:28] nopara73 opened #2857 "Daemon hangs"
As reported by @hkjn in https://github.com/zkSNACKs/WalletWasabi/issues/2856 checking version hangs. It hangs in debug too: `dotnet run -- --version`

[2019-12-14 17:29] nopara73 commented on #2856
Version check hangs for me too, so that's unrelated. Opened an issue for that: https://github.com/zkSNACKs/WalletWasabi/issues/2857

[2019-12-14 17:31] #2721 closed

[2019-12-14 19:12] MaxHillebrand commented on #2857
Tested on Qubes 4 Debian 10 & Fedora 30

Yes, this crashes also on master c99686eaa2b36b7855b4dc88b7d402a901165b22

[code]

nothing happens and I must `Ctrl + C` to force quit.

I cannot reproduce the issue on v1.1.9.2

[2019-12-14 19:36] MaxHillebrand commented on #2631
After consideration of the [point distribution](https://github.com/zkSNACKs/WalletWasabi/projects/6) and general discussion with @molnard about the quality and quantity of reviewers, there is the following percentage allocation of the bounty. zkSNACKs has commited to a total bounty of `0.3 bitcoin`, which will be distributed as followed:

@RiccardoMasutti 45 % = `0.135 btc`
@SimoneBovi 24 % = `0.0

[2019-12-15 16:53] jmacato commented on #2856
@hkjn can you point me to a resource on how to setup a NixOS VM so that i can repro this? I can't repro this bug on Debian/Ubuntu distros that i currently have sadly. Also does NixOS libc is glibc or musl?

[2019-12-15 16:57] jmacato commented on #2856
@hkjn can you point me to a resource on how to setup a NixOS VM so that i can repro this? I can't repro this bug on any Debian/Ubuntu distros that i currently have sadly. Also is NixOS libc is glibc or musl?

[2019-12-16 00:16] yahiheb opened #2859 "Look for consecutive unused addresses (gap limit)"
1. Go to receive tab
2. Generate 11 new addresses
3. Send bitcoin to the 11th address (now there is 10 consecutive unused addresses)
4. Generate 12 more new addresses (now there is 22 unused addresses in receive tab)
5. Send bitcoin to the last generated address  (now there is 21 unused addresses but only 11 consecutive unused addresses)
6. Wait for the transactions to get confirmed then close Was

[2019-12-16 00:52] lontivero commented on #2859
Yes, that's true and you are right. Would you like to take this one? I think you should check that the number of **consecutive** keys are filled. Try with something like this:

[code]

[2019-12-16 08:38] ratpoison4 opened #2860 "When signing fails because somebody does not sign my coin is often moved to the next round"
### General Description

The wallet displays "Signed" near my coin for several minutes. Then the label below becomes red and I see that new round with lower limit on the number of members is created. E.g. 80, not 100 - by the number of members on previous round probably. And my coin is "queued". And it is still queued by the time somebody else joins and round starts. It is unfair! Good members of

[2019-12-16 12:05] Denis7771111 opened #2861 "Black window, not works..."
Black window, not works...

![wasa3](https://user-images.githubusercontent.com/58940638/70905608-5d4dc000-2015-11ea-8224-a7d65d3d6b47.jpg)

nvidia driver 430.64

[2019-12-16 12:46] lontivero commented on #2861
What operating system are you using? Is there something in the Logs.txt file that can help us to identify this problem?

[2019-12-16 13:02] lontivero commented on #2860
Thanks for reporting. Could you take a look at the Logs.txt file (File > Open > Log File) and let us know if you see something that could be useful?

[2019-12-16 13:05] lontivero commented on #2801
This issue is taken into account for the contribution game but the problem was not fixed in v1.1.10 (other more important issues had priority).

[2019-12-16 13:10] Denis7771111 commented on #2861
Windows 7 SP1 64
Which log file could if find for you?
File name?

[2019-12-16 13:18] PulpCattel commented on #2860
I faced this too sometimes, I solved dequeuing and queuing again the utxo. Then I see the registered  and the round goes through with my utxo in. If I let the utxo quequed then sometimes is registered and sometimes other peers take my place.
Same version as OP but I've no logs since I use Tails only.

[2019-12-16 13:21] MaxHillebrand commented on #2859
Yes, good catch!

[2019-12-16 14:37] MaxHillebrand commented on #2860
I'm not exactly sure, but it seems what you are describing is expected behavior. We wait until 100 peers, then ** *attempt* ** to sign the cj tx, but when some drop off and do not sign the tx, then the round fails, the coordinator bans the malicious coins, and the next round starts in the input registration phase, with less peers than before [minus the bans, plus new registrations].

But as far as

[2019-12-16 14:38] MaxHillebrand commented on #2801
@lontivero @yahiheb is zkSNACKs freelancer, thus not part of the contribution game, so it was my mistake to specify points in the first place...

[2019-12-16 14:41] MaxHillebrand commented on #2861
I think Windows 7 SP1 is still supported, but it might not be with DotNet 3?
It will definitely no longer be supported in mid of January 2020, so be prepared to upgrade your OS if you want to continue using Wasabi. [Switch to Debian :wink:]

For a step by step guide where to find the logs, please see [the documentation here](https://docs.wasabiwallet.io/FAQ/FAQ-UseWasabi.html#where-can-i-find-the-

[2019-12-16 15:59] PulpCattel commented on #2860
@MaxHillebrand

Seems like the UTXO is queued but sometimes get ignored in favour of others even if you are coming from the attempted round.

* 100 peers register (including me)
* The round fails
* New round starts with less peers than before
* My utxo is automatically queued, but sometimes it's ignored in favor of others.

Imho that's why OP is talking about unfair behaviour. If I was in the fail

[2019-12-16 17:42] yahiheb commented on #2859
Yes I will try.

[2019-12-16 19:05] lontivero commented on #2859
Sorry @yahiheb, I did some progress with this issue because i think it is rather important. Please, review my PR and repeat your test with it. If you find a better solution just push it on top.

[2019-12-16 19:48] low1337 opened #2863 "Cann't open wasabi wallet anymore"
### General Description

I suddenly cann't open the wasabi wallet anymore. I already tried to uninstall and install again with no effect. I also tried to recover the wallet aswell but i always get the error

### How To Reproduce?

1. Go to 'Load Wallet'
2. Click on 'Load Wallet'
3. See error

### Operating System

Windows 10 (10.0.18362.388)

### Logs
[code]

### Wasabi Version

1.1.10.0 (also 1.1

[2019-12-16 20:48] JamesTwitter opened #2864 "How to change location of Data Folder?"
I'm looking to change the location of the data folder to an external hard drive due to HDD limitations of my computer. I would like to run the full node feature but don't have enough free storage.

Is it possible to change the location of the data folder to an external hard drive location?

I'm using MacOS.

Thank you for working on such outstanding software!

[2019-12-16 21:12] lontivero commented on #2863
It seems something is wrong with your `uiconfig.json` file. Please copy and paste the content of that file here (it doesn't contain private information): `%appdata%\Roaming\WalletWasabi\Client\UiConfig.json`

[2019-12-16 21:13] davterra commented on #2864
I'm not the most knowledgeable one that reads these, but a here's a quick thing that you can check while waiting for the devs give you a reliable answer:
Click on the button in "Settings" that says "Run Bitcoin Core at Wasabi's Startup". That should open an address bar where you can stipulate the address for the Bitcoin Core Data Folder.
Seems as though you should be able to point that address to

[2019-12-16 21:36] yahiheb commented on #2864
As @davterra said:

1. Go to `Tools > Settings`
2. Turn On `Run Bitcoin Core at Wasabi's Startup`
3. Type (paste) the path for your external hard drive

[2019-12-16 21:55] low1337 commented on #2863
i deleted the file and now it's working again. don't know why but it was all null bytes and i don't know why

[2019-12-16 23:04] kravens commented on #2189
I managed to build it on a old Raspberry Pi 3 B+ (ARM32 version of .NET Core 3.1), but seems to have failed the test:
![WasabiPi_buildsuccess](https://user-images.githubusercontent.com/9646902/70950136-fbff0e80-205f-11ea-862f-861adb22c07d.PNG)

Test run for /home/pi/Desktop/WalletWasabi/WalletWasabi.Tests/bin/Debug/netcoreapp3.1/WalletWasabi.Tests.dll(.NETCoreApp,Version=v3.1)
Microsoft (R) Test E

[2019-12-17 00:40] ratpoison4 commented on #2860
@lontivero here are some fragments from the log (anonymized, but time deltas are correct):

[code]

@MaxHillebrand I am not malicious :-)
@PulpCattel exactly!

[2019-12-17 02:32] JamesTwitter commented on #2864
I tried:
1) Going to Tools > Settings
2) Turning on Run Bitcoin Core at Wasabi's Startup
3) Pasting the path for my external hard drive.

Now Wasabi says "Bitcoin Core is Unresponsive."

Also the folder I created for Wasabi's built-in Bitcoin Core continued to be completely empty.

Do you have any other suggestions for what I could do to fix this? I restarted the application several times as well

[2019-12-17 02:44] davterra commented on #2864
Do you have enough room on the drive that wasabi is installed on to try starting wasabi/core node with the data folder in the default location (as opposed to a different drive) on that drive, and let it run for awhile....30 minutes or so, just to see if it is working ok aside from the custom data location setting?

[2019-12-17 03:36] JamesTwitter commented on #2864
Now that I fiddled with the Data Folder directory it's not working for the default either. However, I noticed that I made an error with the Bitcoin Core Data Folder entry as it copied and pasted incorrectly, adding some unnecessary slashes. I have looked on the external HDD and I can now see two files, however, no Blocks folder or anything else. I have attached a screenshot so you can see what I'm

[2019-12-17 05:34] cowlicks commented on #2836
This is still broken on 1.1.10

[2019-12-17 05:50] anonproject opened #2865 "WasabiLinux-1.1.10 Crash"
Trying to start on Ubuntu with xfce on VPS.

[code]

Any ideas?

[2019-12-17 07:01] jmacato commented on #2856
oh okay, seems someone also encountered this on Avalonia 0.9 (via Arch Linux). This PR should hopefully fix this: https://github.com/AvaloniaUI/Avalonia/pull/3363

[2019-12-17 07:03] jmacato commented on #2865
Duplicate of https://github.com/zkSNACKs/WalletWasabi/issues/2856

[2019-12-17 07:03] #2865 closed

[2019-12-17 10:01] molnard commented on #2498
@mjlamb we pushed out our new release. Can you test it?

[2019-12-17 11:11] Denis7771111 commented on #2861
2019-12-17 14:07:40 INFO	Program (44)	Wasabi GUI started (82f1dfd3-dbd3-40fd-bd9b-6c4e2da75b1e).
2019-12-17 14:07:43 INFO	Global (158)	Config is successfully initialized.
2019-12-17 14:07:43 INFO	TransactionStore (28)	MempoolStore.InitializeAsync finished in 15 milliseconds.
2019-12-17 14:07:43 INFO	TransactionStore (28)	ConfirmedStore.InitializeAsync finished in 29 milliseconds.
2019-12-17 14:07:

[2019-12-17 11:14] Denis7771111 commented on #1201
Same problem with last Wasabi release
https://github.com/zkSNACKs/WalletWasabi/issues/2861

[2019-12-17 12:29] MaxHillebrand commented on #2863
@low1337 good that you fixed it.
But still it would be nice to see the file to investigate what might have broken it...
Do you have a copy of it to paste here?

[2019-12-17 12:37] MaxHillebrand commented on #2860
Ok, I don't think that is expected behaviour.

Can you please clarify @pulpcattel, is it "ignored in favor of other utxos of mine" or "ignored in favor of other peers utxo"?

[2019-12-17 12:38] MaxHillebrand commented on #2864
@JamesTwitter can you try to delete the content in the default data folder, and then quit wasabi  [which automatically stops bitcoind], then reboot wasabi [which automatically boots bitcoind]?

[2019-12-17 13:23] PulpCattel commented on #2860
@MaxHillebrand
In favor of other peers utxo.
It's like Wasabi isn't taking into consideration that I was in the failed round. I don't know if there are privacy nuances in that, but I guess users expect to have priority if they were registered in the failed round.

At the time, I thought that dequeuing and queuing again was solving the issue, but from the OP's log seems that this little trick was j

[2019-12-17 16:30] nopara73 commented on #2861
Microsoft will end win7 support on January 14, 2020 and just like some of our dependencies we are doing that, too. Sorry about that.

[2019-12-17 16:33] nopara73 commented on #2863
There is nothing to copypaste, it wall "null bytes".

Some once in a lifetime corruption must have happened. IMO we should check for corruption and delete it if the initialization throws an exception.

[2019-12-17 16:41] nopara73 commented on #2860
Issue acknowledged. What's happening is that round 1 fails, but client doesn't know about it, since it doesn't believe the coordinator regarding this information. The client always puts the registered coin to the waitlist with a timeout. After peers doesnt broadcast the tx the client says "indeed you're right, the round failed, I can register the same coin into the next round."

This is unfortunat

[2019-12-17 16:45] nopara73 commented on #2836
I added this issue to be fixed in the next backport release with the condition that if it is this one: https://github.com/AvaloniaUI/Avalonia/pull/3363

[2019-12-17 16:47] low1337 commented on #2863
yeah there is nothing to see there but i screenshot it anyways. it was on a hyper-v vm aswell if that helps.
![Screenshot_12](https://user-images.githubusercontent.com/18120645/71016204-1afbb000-20f5-11ea-83e2-499efa0513db.png)

[2019-12-17 16:52] low1337 commented on #2863
the only thing i could imagine that's not code based is that i just hard stopped the vm while is was in a saving progress of UiConfig.json

[2019-12-17 16:57] nopara73 commented on #2863
Yes that was my implicit thinking too, but anyhow, catch the exception at loading, delete the file and recreate the default is just fine, so that's why I marked it as a good first issue.

[2019-12-17 18:22] kravens commented on #2592
![image](https://user-images.githubusercontent.com/9646902/71023012-1f7a9580-2102-11ea-9c9b-88c10a1d6d29.png)
Also a warning notification could be given if the user has two bitcoind instances running (built in Wasabi and local on same machine), now it just displays "Bitcoin Core is unresponsive".

[2019-12-17 20:36] ratpoison4 commented on #2860
@nopara73 Can the limit of the number of places in the second round be not hard and also timeout to be extended? I.e. 1 minute after each all-time max number of registered users or something.

[2019-12-17 20:42] yahiheb commented on #2864
From that picture I see `Bitcoin Core is Unresponsive` message on the status bar.
@molnard

[2019-12-17 21:00] danwalmsley commented on #2843
@nopara73 I cannot repro this on master branch... I only can produce a hang at:
https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi.Gui/Global.cs#L465

(if I throw the exception before initializing global)

If made a fix so we wont get stuck there:

https://github.com/zkSNACKs/WalletWasabi/pull/2870

If the issue is only on OSX then we need to either fix the bug in SharpGenTools, (no

[2019-12-17 21:18] MaxHillebrand commented on #2860
Ah this is indeed a tricky situation @nopara73.

But how about this:
Client doesn't trust that the coordinator is honest about the failed round, so it is putting these coins in an "uncertain" database. But regardless, it is registering the coins in the next round, and which ever round succeeds first [either the first claimed to be "failed" round or the second round] is the way the coin gets spent.

[2019-12-17 21:37] mjlamb commented on #2498
Ok so I have upgraded Wasabi v1.1.10.0, I have reloaded the wallet file, and built a transaction to sign. Unfortunately I still get the same error message on the CC  "None of the keys involved in this transaction...." cannot sign.

[2019-12-18 03:24] anonproject opened #2871 "Wasabi Wallet 1.1.9.2 startup crash"
Still trying to run Wasabi Wallet on VPS with VNC. Trying the previous release:

[code]

[2019-12-18 03:31] anonproject commented on #2871
Uh oh. Apparently my mistake. I forgot to do chown.

[code]

[2019-12-18 03:42] anonproject commented on #2871
Um. Hum. Is there any way to sweep private keys?

[2019-12-18 03:46] #2871 closed

[2019-12-18 09:40] nopara73 commented on #2859
Wait a moment. There is nothing wrong with this.

[2019-12-18 09:59] #2817 closed

[2019-12-18 10:12] nopara73 commented on #2592
That's a different issue. One cannot run 2 Bitcoin Core instances the same time. It's disabled.

[2019-12-18 10:19] molnard commented on #2498
Thank you for your feedback. I read back the conversation.
So your private key is not in reverse order it is completely different?
Can you just import the skeleton file again with import on Hardware Wallet Tab?

After that go to Wallet information in wasabi and check if the fingerprint is correct.

[2019-12-18 10:46] nopara73 commented on #2860
@ratpoison4 The timeout is on the client side not on the server side.

It's not a bad idea though. Maybe we could remove the peer constrain and add a timeout instead that's about 1.5x larger than the client side timeout.

In theory it'd be simple. I'm however a bit afraid that it'd worsen DoS issues as @MaxHillebrand noted.

On the other hand this would likely result in larger rounds, so that make

[2019-12-18 11:18] mjlamb commented on #2498
The wasabi json file has a finger print of = 31492646 which is identical to the ColdCard display. However in the Wasabi desktop client under Advanced -> "Wallet Info" = 268ae001

[2019-12-18 11:32] molnard commented on #2864
Hi there, thank you for your report. This is is an experimental feature, there can be some glitches - we will keep improving it.

One thing that came up is that bitcoind is blocked by security software. From the picture, I can see that Wasabi can write it's own files into the directory but bitcoind failed to start. Probably blocked by GateKeeper or something so it cannot write to the specified loc

[2019-12-18 11:55] molnard commented on #1201
@Denis7771111 can u compile from source code?

https://github.com/zkSNACKs/WalletWasabi#build-from-source-code

You can start to play with the parameters in WalletWasabi.Gui / Program.cs

https://github.com/molnard/WalletWasabi/blob/bc86242b207ec0c1c0802cbb35b962df342170ca/WalletWasabi.Gui/Program.cs#L139

For example:
Instead of this:
`				.With(new AvaloniaNativePlatformOptions { UseDeferredRend

[2019-12-18 12:03] MaxHillebrand commented on #2871
good that you found the fix, and no sweep private keys yet.

[2019-12-18 12:04] MaxHillebrand commented on #2592
@nopara73 can Wasabi recognize this and display a proper error message that explains that this is the issue? "unresponsive" doesn't tell the user anything...

[2019-12-18 12:24] MaxHillebrand opened #2872 "Rename "Label" to "Involved Parties""
### Problem

In the `Receive` tab, the user has a textbox input to give a "Label" for this address, and the coins being sent to it. There is endless confusion about what this "Label" should be: The reason for payment? The date of payment? The involved parties of the payment? The amount of bitcoin expected? ... ... ...

This confusion leads to bad labeling practices that do not really help coin sel

[2019-12-18 12:26] nopara73 commented on #2872
ACK

[2019-12-18 12:28] nopara73 commented on #2592
If we figure out what is "this" then we can :)

[2019-12-18 12:35] molnard commented on #2498
@mjlamb thanks to your sustained feedback I got the issue. Created a PR to solve it, it will be in the next silent release. Until then you can compile from source after this merged: https://github.com/zkSNACKs/WalletWasabi/pull/2873

[2019-12-18 12:50] nopara73 commented on #2498
Well, I committed this bug. Sorry guys for spending so much time on it. @molnard great find!

[2019-12-18 12:55] nopara73 commented on #2864
I take this issue.

[2019-12-18 13:05] nopara73 commented on #2864
In the original post @JamesTwitter asks if it is possible to change Bitcoin Core's data folder that Wasabi uses to an external hard drive. It is. However to @JamesTwitter it does not work, because:

0. He gets unresponsive feedback.
1. The folder is empty.

I tested it on Windows. I changed the data folder to a non-existent directory:

![image](https://user-images.githubusercontent.com/9156103/710

[2019-12-18 13:06] nopara73 commented on #2864
Can anyone test it on OSX?

[2019-12-18 13:06] RiccardoMasutti commented on #2872
I like it. ACK

[2019-12-18 13:10] nopara73 commented on #2872
Maybe we could have some pre-added labels, like "CoinBase, BitPay, etc..."

[2019-12-18 13:21] MaxHillebrand commented on #2872
NACK, I agree that we should give examples, but this should be in the tooltip, and it should not be free advertisement for bad actors like those of your example.

[2019-12-18 13:26] MaxHillebrand commented on #2592
"this" = two bitcoind attempting to run in parallel. one pre installed, and one in-built to wasabi.

[2019-12-18 14:45] molnard commented on #2757
Please wait until win 7 became obsolete after we can fix this all together.

[2019-12-18 15:03] molnard commented on #2710
Please put the logs here otherwise no progress can be made.

[2019-12-18 15:50] DumbBreaker opened #2875 "Max send fee isn't the same as the actual fee amount"
I was trying to empty some mixed wallets and I chose the max button so that all contents would be transferred to the destination wallet.
Upon arrival, the actual fee amount was different than the estimated fee causing the receiving wallet platform to reject the transaction because it was expecting an exact amount.
How can I manage this situation so that I can cleanout originating wallets and send

[2019-12-18 16:26] nopara73 commented on #2592
If Wasabi bitcoind runs first, then when the user wants to launch his own, Bitcoin Core will tell him.

If user launches his own, then Wasabi will use that instead of launching his own.

So error is not needed.

[2019-12-18 16:29] nopara73 commented on #2875
On max, it's just an estimation, hence the `~` sign there, if exact amount is expected, exact amount must be set.

[2019-12-18 16:32] #2859 closed

[2019-12-18 18:10] PulpCattel commented on #2592
@nopara73 I'm seeing the `Bitcoin Core is unresponsive` warning notification if I start Wasabi after Bitcoin Core.
I have bitcoin-qt running, and I've tried both the 0.18.1 and 0.19 with same results but different logs.
Wasabi is compiled from master.

With 0.18.1

[code]

With 0.19

[code]

I can also open a separate issue if you prefer.

[2019-12-18 19:30] nopara73 commented on #2592
I have no idea at this point what that is.

Thanks, this explains a lot (@lontivero). Bitcoin Core broke `getblockchaininfo`, that's why it throws an exception: https://github.com/bitcoin/bitcoin/pull/16060

https://bitcoincore.org/en/releases/0.19.0.1/

[2019-12-18 19:57] PulpCattel commented on #2592
@nopara73

I'm noticing that after I've tried to launch Wasabi with bitcoin-qt already running, now Wasabi never connect back to my full node, even if I shutdown both Wasabi and bitcoin-qt and then launch Wasabi alone.

Only Wasabi is running, no other bitcoind.

[code]
If then:
* I delete the .walletwasabi folder from home.
* Launch Wasabi again.
* Set `Run Bitcoin Core at Wasabi's startup.` on
*

[2019-12-18 20:43] DumbBreaker commented on #2875
How to set the exact amount and clear the wallet?

[2019-12-18 20:55] lontivero commented on #2864
In macOS it creates the custom folder and it creates the `bitcoin.conf` file and the `testnet3` folder (because I run it in testnet).  Inside the `testnet3` folder I can see the `bitcoind.pid` file. However the `bitcoind` is not running. I get a **connection refused** in the BitcoinRpcProcessBridge.StartAsync (58)

[2019-12-18 23:46] RiccardoMasutti commented on #2875
https://docs.wasabiwallet.io/FAQ/FAQ-UseWasabi.html#how-do-i-set-custom-fee-rate

[2019-12-19 00:10] the-metalworker opened #2880 "Document how to increase the mixing denomination"
### Is your feature request related to a problem? Please describe.

I have deposited larger amounts of bitcoin but still each round is only 0.1 BTC.

### Describe the solution you'd like

I would like written documentation explaining step-by-step how to mix larger BTC denominations. All the [current documentation](https://docs.wasabiwallet.io/FAQ/FAQ-UseWasabi.html#how-can-i-mix-large-amounts) say

[2019-12-19 01:07] PulpCattel commented on #2880
Yeah, that part is not clear for a new user. Main problem is that searching for "unequal" "input" or "mixing" doesn't help either.

Aniway, there's already documentation about it, with shorter videos also.
https://docs.wasabiwallet.io/FAQ/FAQ-UseWasabi.html#what-are-the-denominations-created-in-one-round
TL;DR
It's automatic.

[2019-12-19 07:16] RiccardoMasutti commented on #2880
I updated and linked the respective FAQs. You will see the updated version asap.

Need something else?

[2019-12-19 08:15] nopara73 opened #2881 "Unexpected Balance After Updating to 1.1.10+"
# Motivation

I have seen this issue reported once on Telegram, but it wasn't reported in a way for it to be investigatable. So, if someone sees the "Unexpected Balance After Updating to 1.1.10+" issue reported please point her/him here, instead of giving him technical support on the other platform.

# Context

1.1.10+ fixes the "spent issue" and as a consequence everyone who upgrades his wallet w

[2019-12-19 08:18] #2880 closed

[2019-12-19 08:19] MaxHillebrand commented on #2880
Thanks for reporting @the-metalworker, it is linked now, but this is not an issue of this main repository, but specifically for the documentation, so please next time [open the issue there](https://github.com/zkSNACKs/WasabiDoc/issues/new).

[2019-12-19 10:23] molnard commented on #2864
I noticed that the default bitcoin core data directory is not usable by bitcoind (missing write permission). Change it to the desktop.

[2019-12-19 10:53] nopara73 commented on #2863
fixed

[2019-12-19 10:53] #2863 closed

[2019-12-19 11:26] nopara73 commented on #2875
Set something close to the max balance and donate the 0.1$ change.

[2019-12-19 11:50] nopara73 commented on #2592
I am closing this. The conversation went to a completely different direction from the original post, and the original post was a non issue in the first place.

@kravens @PulpCattel Can you open new issues if you can reproduce them?

[2019-12-19 11:50] #2592 closed

[2019-12-19 15:45] gagarin55 opened #2887 "Does Testnet version work properly ?"
### General Description

It seems that Testnet backend stuck on 1615952, am I right?

Thank you.

[2019-12-19 15:45] nopara73 commented on #2857
Resolved by https://github.com/zkSNACKs/WalletWasabi/pull/2870

[2019-12-19 15:45] #2857 closed

[2019-12-19 17:35] nopara73 commented on #2887
Yes, something is wrong.

[code]

[2019-12-19 17:42] nopara73 commented on #2887
So an unobserved task exception comes from NBitcoin's `GetRawTransactionAsync`. A batch request fails.

[code]

[2019-12-19 17:47] nopara73 commented on #2887
Core is good. Wasabi is not:

[code]

I am out of ideas what else to check. @lontivero @molnard?

[2019-12-19 17:54] nopara73 commented on #2887
Block `0000000021a31854be9d00bcdeca276097323433694684f149054f561d78c436` exists, so it's not a reorg issue: https://testnet.smartbit.com.au/block/0000000021a31854be9d00bcdeca276097323433694684f149054f561d78c436

[2019-12-19 17:59] nopara73 commented on #2887
All processes (including of course the Wasabi process) is running:

[code]

[2019-12-19 18:01] nopara73 commented on #2887
`LiveServerTests` pass

API calls are working fine: https://wasabiwallet.co/swagger/index.html

[2019-12-19 18:20] nopara73 commented on #2887
Bitcoin Core logs: `getbestblockhash` comes frequently and `getblockchaininfo` comes about every 5 minutes. Which means the block notifier and the index builder works at least it gets somewhere here:

[code]

But never gets here:

[code]

Thus the bad code should be in the above snippet.

[2019-12-19 18:28] nopara73 commented on #2887
@lontivero found the bug!

![image](https://user-images.githubusercontent.com/9156103/71199190-cb8bc000-226b-11ea-8723-bae4c6c6eafe.png)

[2019-12-19 18:44] #2887 closed

[2019-12-19 20:05] nanguapie commented on #2498
Looking forward to the next release! I really like the coin control feature of Wasabi while working with CC over "air-gapped" SD!

[2019-12-19 20:11] mjlamb commented on #2498
Great looking forward to the release. Great work @molnard

[2019-12-19 23:15] the-metalworker commented on #2880
@PulpCattel @RiccardoMasutti @MaxHillebrand  I appreciate all of your attention to this issue, thank you for the quick pointers/ fixes, and I apologize for any inconvenience by the miscategorization of this issue. I will direct future docs related issues to the Docs repo and find another venue for asking further questions about this so as to not disturb anyone watching this repo.

[2019-12-20 08:53] john951 opened #2892 "Coordination fee tracked"
Hello Team,

As you probably noticed at least one user reported issue with withdrawing BTC from Binance to Wasabi wallet as their account was subsequently frozen: [Binance CoinJoin Strangeness](https://medium.com/@6102bitcoin/binance-coinjoin-strangeness-6ba7c0cb2dd0)
Originally posted on [Twitter @bittlecat](https://twitter.com/bittlecat/status/1207621591820951552)

While PlusToken scammers using

[2019-12-20 09:13] RiccardoMasutti commented on #2892
The idea of multiple hops is interesting but does not solve the problem. As Binance, as we have seen, follows the transaction even after the withdraw (and we do not know for how many hops it does)

BTW, remember that it is a Binance problem, and not a Wasabi problem, you can safely mitigate the problem manually by doing multiple hops before CoinJoining, by open a Lightning Network channel, or by w

[2019-12-20 09:33] john951 commented on #2892
I believe 3-10 hops should be sufficient as they cannot go back 20 hops - they would eventually get to the miner for really large portion of customers.

You are right but having one integrated solution would be nice. Charging for each hop with some random wait built-in feature does make sense. I can see it as additional revenue stream for the Wasabi team.

Also during the hops, assuming the BTC va

[2019-12-20 11:27] MaxHillebrand commented on #2892
A possible solution for this is [partially blind atomic utxo swaps](https://github.com/ElementsProject/scriptless-scripts/blob/master/md/partially-blind-swap.md) that will be possible when wasabi implements [taproot](https://github.com/zkSNACKs/WalletWasabi/issues/2531).

Another solution are schemes that do not fingerprint as a coinjoin, like [pay to endpoint](https://docs.wasabiwallet.io/using-w

[2019-12-20 12:09] MaxHillebrand opened #2893 "Show all previous Involved Parties label"
### Problem

It is currently unclear which were the previous labels [involved parties after #2872] used in the receive and send tab. This means that users might type in a slightly different label when they send to the same entity.

### Solution

In the `Receive` tab:
Show a multi line list of **all** the labels that were previously used [there is enough space for it], and when the user starts typi

[2019-12-20 12:18] MaxHillebrand opened #2894 "Add a second label "Reason for Payment""
### Problem

Currently there is only one label, which should specify the `Involved Parties` [#2872], but it is also valuable information WHY the payment was made, not just TO WHOM. For example, Alice sens Bob two coins, one is specifically for Bob to keep, the second is to forward half of it to Charlie. Currently, both coins are labeled `Alice`, and Bob does not see which of the two he was suppose

[2019-12-20 12:26] MaxHillebrand commented on #2455
to frace it more generally:

Allow for changing the label [involved parties #2872] for a specific coin. This is good because if the user has fucked up with wrong labels, [like adding the reason for payment #2894] then now he can fix this after the fact.

This is especially important for if we decide to improve the whole labeling experience [as with the linked issues].

[2019-12-20 14:08] nopara73 commented on #2856
Can someone test the PR? https://github.com/zkSNACKs/WalletWasabi/pull/2891

If it works, then we're ready for backport release.

[2019-12-20 14:08] nopara73 commented on #2836
Can someone test the PR? https://github.com/zkSNACKs/WalletWasabi/pull/2891

If it works, then we're ready for backport release.

[2019-12-20 15:00] nopara73 commented on #2894
Not sure why you created the issue, as we discussed on dev meeting that it's not a privacy feature and the UI is cluttered enough already so we won't add it.

[2019-12-20 15:49] jmacato commented on #2836
@nopara73 0.9.1 has fixed this issue and the related ones :tada:

[2019-12-20 15:51] jmacato commented on #2836
@nopara73 0.9.1/#2891 has fixed this issue :tada: & this issue is the same as this one https://github.com/zkSNACKs/WalletWasabi/issues/2856

[2019-12-20 16:24] #2836 closed

[2019-12-20 21:14] danwalmsley commented on #2801
Findings:
- We capture the pointer.
- Internal textbox'es presenter then captures the pointer when the mouse is clicked inside the text
- Capture is lost to textpresenter, we are not notified, and loose ability to see when user has clicked outside

[2019-12-21 09:30] MaxHillebrand commented on #2894
I do think it is a privacy feature, as it improves the detailed labeling of coins, and thus helps with proper coin selection. Even when the same party sends several coins, they are still unique and might have different reasons for being received.
The main approach I heard from users regarding labeling is to do `Reason for Payment`, so there is a big utility in having this, I personally label my co

[2019-12-21 14:18] molnard commented on #2836
@qertoip We fixed a few things with this hotfix, try it!
https://github.com/zkSNACKs/WalletWasabi/releases
Good luck!

[2019-12-21 14:19] molnard commented on #2856
@hkjn We fixed a few things with this hotfix, try it!
https://github.com/zkSNACKs/WalletWasabi/releases
Good luck!

[2019-12-21 14:19] molnard commented on #2857
@nopara73 We fixed a few things with this hotfix, try it!
https://github.com/zkSNACKs/WalletWasabi/releases
Good luck!

😄

[2019-12-21 14:19] molnard commented on #2498
@mjlamb We fixed a few things with this hotfix, try it!
https://github.com/zkSNACKs/WalletWasabi/releases
Good luck!

[2019-12-21 14:19] #2498 closed

[2019-12-21 14:20] molnard commented on #2863
@low1337 We fixed a few things with this hotfix, try it!
https://github.com/zkSNACKs/WalletWasabi/releases
Good luck!

[2019-12-21 23:17] yahiheb commented on #2872
How about `Observers` instead of `Involved Parties`?

[2019-12-21 23:51] yahiheb commented on #2875
Maybe related to #2847

Why is it just an estimation if max is clicked?

[2019-12-22 00:30] yahiheb opened #2902 "Send amount more than selected amount"
1. Generate a new address
2. Send two coins to that address (1 btc each for example)
3. Wait for confirmation (this step is maybe not needed but anyway)
4. Go to Send Tab and select one of the two coins
5. Set the amount to 1.1 btc (or any amount more than the selected coin's amount)

The transaction will be sent despite selecting a coin that is less than the amount sent (the other coin in the sam

[2019-12-22 01:35] yahiheb opened #2903 "Cluster of multiple coins controlled by one address"
Let's say I have an address labeled `Alice`, and I receive multiple coins to that address, all those coins have the same cluster (`Alice`).

Now if I send one coin to `Bob` the cluster of other coins is still `Alice` which is wrong, it should change to `Bob, Alice`.

[2019-12-22 08:05] MaxHillebrand commented on #2872
Not sure about `Observers`, I mean, anyone can observe the timechain to see every transaction. I think this is lacking a bit clarity that it is those who can link the address to the person.

[2019-12-22 08:08] MaxHillebrand commented on #2902
Yes, this is expected behavior, in fact, it should even be the case when you select less than 1 btc. If you have two coins on the same address, then the coin selection algorithm treats them as if they were one coin. Thus when you select one of the two coins, the transaction will automatically include BOTH of them as input. This was introduced by @lontivero in #2334

[2019-12-22 08:10] MaxHillebrand commented on #2903
Concept ACK, all address reuse coins should have the same label. Especially because they are already treated as being one coin the coin selection algorithm #2334 & #2338.

[2019-12-22 09:37] gagarin55 opened #2905 "Wallet creation and recovering always for mainnet"
### General Description

Hello,

Is it OK to create bitcoin secret always for **Mainnet** ?

1. Wallet recovering

https://github.com/zkSNACKs/WalletWasabi/blob/4bd20d7b835d73b66aa97773217a97cae56aab5c/WalletWasabi/Blockchain/Keys/KeyManager.cs#L173

2. Wallet creation

https://github.com/zkSNACKs/WalletWasabi/blob/4bd20d7b835d73b66aa97773217a97cae56aab5c/WalletWasabi/Blockchain/Keys/KeyManager.cs

[2019-12-22 09:48] MaxHillebrand commented on #2905
I don't understand what you mean...?
I believe that when you change the network to `testnet` in the settings, then you do create and recover for testnet addresses specifically.

[2019-12-22 10:13] mjlamb commented on #2498
We have success I have managed to create and sign the psbt. Wasabli v1.1.10.1 Thanks all that help solve this one.

[2019-12-22 10:25] MaxHillebrand commented on #1490
I would like to bring this issue back to attention, because it is something that bothers me every single time I open Wasabi...

The history tab is not what I am interested in when opening Wasabi. I want to see my coins that I can still spend. Every single time I click on the `Send` tab after opening the wallet. I don't think it has been one time that I actually looked at the history list at first.

[2019-12-22 10:34] nopara73 commented on #2875
Transaction Building is a computation expensive operation, so we cannot quickly build a transaction every time someone selects/unselects coins, changes the amount, clicks on the max/clear button, etc... We must estimate.

[2019-12-22 10:36] nopara73 commented on #2875
Speaking of tx building, you can go to Advanced/Build Transaction tab and build the tx without broadcasting it, so you can check the actual fee and rebuild the tx if that's incorrect for you.

[2019-12-22 10:45] nopara73 commented on #2902
It's correct.

[2019-12-22 10:45] #2902 closed

[2019-12-22 10:48] nopara73 commented on #2905
Yes, that's intentional. We don't have separation of networks on the wallet level. (At least we did not, but we are starting to introduce it though.)

[2019-12-22 10:48] #2905 closed

[2019-12-22 10:50] nopara73 commented on #1490
Something that would make both of us happy is to save the wallet state to the UiConfig at closing and open on the wallet on the last used tab.

[2019-12-22 12:39] yahiheb commented on #2902
Shouldn't we then notify the user that other coins will be used? because they might not be willing to spend more than the amount of the selected coin.

[2019-12-22 13:18] nopara73 commented on #2902
They don't spend more. They add more inputs, but the change will come back to them.

That being said, could you test what happens in case of "Max"?

[2019-12-22 13:52] yahiheb commented on #1490
Send tab.

[2019-12-23 11:42] MaxHillebrand commented on #1490
Of course this is no exhaustive survey, but I was very surprised by the results of the twitter poll. It seems there is no clear cut answer which of the tabs is preferred to be the default...

So I would say that a good way forward is to remember which tab was opened as wasabi was shutdown. I am renaming the issue.

![screenshot_20191223_124037](https://user-images.githubusercontent.com/30683012/71

[2019-12-23 11:46] hkjn commented on #2856
Thanks for the fix, but v1.1.10.1 seems to still have the issue reported here on NixOS (the hang on `--version` does appear to be fixed though):

[code]

[2019-12-23 12:23] nopara73 commented on #2856
Oh...

[2019-12-23 12:24] nopara73 commented on #2856
@jmacato Are you sure you reproduced the same issue on void linux here? https://github.com/zkSNACKs/WalletWasabi/pull/2891

[2019-12-23 15:49] lontivero commented on #2903
Good catch! It seems the coins are not being spent together as they should. I tested it and i was able to reproduce it.

[2019-12-23 16:17] lontivero commented on #2903
This is what happens:

* Same-scriptPubKey coins are treated as a single coin **except** when the user wants to spend a whole coin.
* Cluster calculation works okay, the problem is it is not updated it in the UI. After closing and reopen Wasabi we can see the cluster info is correct.

[2019-12-23 23:48] qertoip commented on #2836
I confirm the issue is fixed in 1.1.10.1

Thank you so much, that was quick!

[2019-12-24 00:26] nopara73 commented on #1321
lol, it's pretty simple I just realized

Just ask from the user and verify it against the encryptedsecret as follows:

1. User knows the encrypted secret.
2. Ask recovery words from user + 13rd word (password)
3. Get the secret, encrypt it with the 13th word (password)
4. You have an encrypted secret.

[2019-12-24 00:29] nopara73 commented on #2856
It seems the this and https://github.com/zkSNACKs/WalletWasabi/issues/2836 are not the same, the other one is resolved.

[2019-12-24 00:42] lontivero commented on #1321
That is okay because it doesn't weaken the security.

[2019-12-24 13:01] nopara73 opened #2910 "Coins contains the labels ”binance” disabled to be mixed?"
Just brainstorming on the recent blacklisting.

[2019-12-24 15:23] MaxHillebrand commented on #2910
Not sure that would help anything... if the user wants to mix, then he'll re-name it to `not binance` and then mix regardless, thus breaking the use of the label...

[2019-12-24 15:32] nopara73 commented on #2910
For the record, the user cannot rename a coin's label currently. Anyway, it's irrelevant.

I would however let the user to mix, wouldn't prevent it completely, but I would at least notify the user about the possible consequences. Maybe a notification that "hey you enqueued x binance coins" you may want to dequeue them as Binance doesn't like coinjoins.

[2019-12-24 15:33] MaxHillebrand commented on #2049
I thought about this some more...
Definitely it would be a good feature to allow the user to get the 12 recovery words even after the initial wallet setup. Already now it gives the xpr key after password input, which gives the same level of access.

So, why don't we take the 12 recovery words, and again encrypt it with the 13th word, and store this cyphertext in the wallet file. Then when the user

[2019-12-24 15:34] MaxHillebrand commented on #1321
Nice, but why don't we store the password encrypted 12 recovery words in the wallet file, as [described here](https://github.com/zkSNACKs/WalletWasabi/issues/2049#issuecomment-568767513)?

[2019-12-24 15:36] MaxHillebrand commented on #2910
I think this will scare most users, and then the blacklisting exchange has won... so I'm strongly against the concept.

[2019-12-24 15:36] nopara73 commented on #2049
Encrypting with the same password 2 things weaken security.

[2019-12-24 15:38] nopara73 commented on #2910
Scaring them is better than losing their money on Binance.

[2019-12-24 17:29] nopara73 commented on #1321
Explained here: https://github.com/zkSNACKs/WalletWasabi/issues/2049#issuecomment-568768026

[2019-12-24 17:58] #2903 closed

[2019-12-24 18:07] lontivero commented on #2910
If Alice withdraws from Binance and send some of those bitcoins to Bob and then Bob participate in a coinjoin, will Alice be able to withdraw from Binance? Or will she be forced to explain why Bob wishes to protect his privacy? If users are force to know their "customers" then this will be a problem.

[2019-12-24 18:21] nopara73 commented on #2910
That's true. But how does that relate to this issue?

[2019-12-24 18:30] lontivero commented on #2910
Because it doesn't matter what Alice does, you can disable the coin from being mix the she cannot participate but Bob will do it and her funds could be locked by binance anyway.

[2019-12-24 20:03] ghost opened #2912 "UI scale is really big (cannot make smaller) on Ubuntu and lower resolution"
### General Description

I have laptop with 4k display, but I have downscaled resolution to `2048x1152`. The minimal size of app is then bigger than the screen and cannot be viewed.

### How To Reproduce?

1. Run Wasabi on Ubuntu with resolution `2048x1152` on display that supports 4k

### Screenshots

![Screenshot from 2019-12-24 20-58-23](https://user-images.githubusercontent.com/383295/71424287

[2019-12-25 00:08] yahiheb commented on #2049
Which two things?

If I am not wrong the main problem here is the backwards compatibility. https://github.com/zkSNACKs/WalletWasabi/issues/2049#issuecomment-520481205

[2019-12-25 00:34] chimp1984 opened #2913 "Why require >= OSX 10.13?"
Damn!
<img width="298" alt="Screen Shot 2019-12-24 at 19 32 17" src="https://user-images.githubusercontent.com/54558767/71427234-4433b780-2684-11ea-850c-8884fd1f13da.png">

[2019-12-25 00:42] chimp1984 opened #2914 "Cannot withdraw BTC"
### General Description
I want to send out BTC but get error:
<img width="271" alt="Screen Shot 2019-12-24 at 19 38 01" src="https://user-images.githubusercontent.com/54558767/71427286-fbc8c980-2684-11ea-8a99-c7b632cc3d9f.png">

### How To Reproduce?

I made a CJ and sent out other utxos without problem, just one which is marked as private cause those issues. Repeated several times and restarted,

[2019-12-25 01:12] chimp1984 commented on #2914
After checking the BTC I sent to Wasabi and from it I saw that this remaining balance is incorrect. I got all funds out but in Wasabi I still see a utxo with 0.097 BTC.

[2019-12-25 02:14] yahiheb commented on #2914
There was a known bug 'the spent issue' and it was fixed in v1.1.10.
https://docs.wasabiwallet.io/FAQ/FAQ-UseWasabi.html#what-does-spent-coin-status-mean

Upgrade to the latest release: https://github.com/zkSNACKs/WalletWasabi/releases/tag/v1.1.10.1

[2019-12-25 02:14] #2914 closed

[2019-12-25 06:17] hkjn commented on #2856
When looking at something else, I came across https://github.com/NixOS/nixpkgs/pull/73262/, which helped a bit in demystifying how dotnet builds works on NixOS for me (I'm not a dotnet dev and also fairly new to NixOS). That PR, which is unmerged at time of writing, makes it possible to use different dotnet-sdk versions for different Nix packages, and shows that the only supported `dotnet-sdk` ver

[2019-12-25 09:06] MaxHillebrand commented on #2049
I do not know about the nuances here, so probably better to not roll my own crypto.

But here another approach...
Just put the 12 words in the wallet file in cleartext. They alone cannot be used to spend the funds, it also requires the 13th word password. So this is the same security as having the [13th word] encrypted xpriv in the wallet file. Assuming the password is secure, that encrypted xpriv

[2019-12-25 09:10] MaxHillebrand commented on #2913
Wasabi requires the same OS as dotnet does, and tha tis macOS 10.13 or later... Sorry...

[2019-12-25 09:10] #2913 closed

[2019-12-25 12:02] nopara73 commented on #2913
Yeah, sorry about that. This is not something we have any power over of: https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1-supported-os.md

[2019-12-25 12:04] nopara73 commented on #2914
@chimp1984 if you have issues after update, please reopen this issue.

[2019-12-25 12:05] nopara73 commented on #2881
I didn't see any complains ever since. If someone is found I will reopen this issue.

[2019-12-25 12:05] #2881 closed

[2019-12-25 12:08] nopara73 commented on #2049
The master privkey and the mnemonics.

[2019-12-25 12:12] nopara73 commented on #2049
@MaxHillebrand that's creative, but that ruins the security model in the exact same way.

An attacker right now can test passwords against the encrypted secret.
What you are proposing is for the attacker to be able to test passwords on the 12 mnemonic words if they give you back the encrypted secret.

So that's pretty much like "encrypting with the same password 2 things."

[2019-12-25 13:48] nopara73 commented on #2910
That's true, but how is that an argument in this conversation?

[2019-12-25 13:51] nopara73 commented on #2910
So we should not notify the user about Binance blacklisting him because there's a 5% chance that he'll get blacklisted regardless if he's mixing or not?

[2019-12-25 16:30] nopara73 commented on #2856
I don't think .NET Core 3 is relevant here, as the `NullReferenceException` comes from Avalonia, so you were able to run the .NET Core 3 app. @jmacato said a few things on the dev meeting today. Please share your findings under this issue, too.

[2019-12-25 16:40] hkjn commented on #2856
Makes sense @nopara73.

[2019-12-25 19:08] PulpCattel commented on #2910
I think some kind of notification can be helpful, but I would suggest something more encouraging, like:
`Binance is against CoinJoin/privacy, consider use another service that respects your privacy more.`
Instead of just scaring users, you encourage them towards better alternatives. Not necessary Bisq though, kyc is shit but users can decide for themselves what to use. Also, there are kyc exchange

[2019-12-26 04:11] jmacato commented on #2856
@hkjn Hi, i wonder if you can point me to a step by step guide on initializing a nixOS instance in Virtualbox? Preferrably with the same setup that you also have that can repro this issue.

[2019-12-26 08:14] mmahut commented on #2856
@jmacato sure:

1) Download the VirtualBox image at https://nixos.org/nixos/download.html
2) Once booted, add the channel that has the change:

[code]

3) Install 1.1.10.1:

[code]

4) Run ```wasabiwallet```.

[2019-12-26 22:05] #2872 closed

[2019-12-27 20:41] MaxHillebrand commented on #2049
I really don't know how this would weaken security... I thought encryption is made so that you can encrypt multiple messages with the same password...

[2019-12-27 21:18] nopara73 commented on #2049
Don't mess with security until you know exactly what you do.

[2019-12-27 21:24] lontivero commented on #2049
This issue started with a question and I think it was answered. Lets summarize the discussion here (I will repeat myself a bit, sorry):

1. It is not possible to recover the mnemonics from the available data stored in the wallet file so,
2. In order to be able to display the mnemonics we would need to store it,
3. We can only store it if it is encrypted,
4. Encryption should be using bip38, otherw

[2019-12-28 19:39] Transisto commented on #983
It could also reduce predictability by not participating in every consecutive rounds.

[2019-12-28 20:06] Transisto opened #2923 "Option to introduce jitter in coinjoin participation frequency."
This is an advanced feature for people willing to mix their coins passively over a long time period.

Randomly participate or not in the next rounds based until rand() * (X time interval * 2) has elapsed.

The setting could be expressed in this form
_"Participate in coinjoin randomly about every **X** hours."_

Example if rand() is 0.435 and I chose 4hrs it won't register to current CJ until 3.48h

[2019-12-29 04:52] lontivero commented on #2856
I installed a NixOS 19.09.1686 in a VM and followed the instructions provided by @mmahut . It failed immediately with the exact same error:

![image](https://user-images.githubusercontent.com/127973/71552390-2bf0cf00-29db-11ea-968f-dfb9428569fd.png)

Clearly there is a problem with `Avalonia` here but it is also important to see that **there exist another important issue** with `Tor`.

[code]

Nix

[2019-12-30 16:35] danwalmsley commented on #2861
What graphics card do you have?

[2019-12-30 16:36] danwalmsley commented on #1201
@molnard AvaloniaNativePlatformOptions are OSX only, and X11PlaformOptions are Linux only, he needs to look a Win32PlatformOptions.

[2019-12-31 11:13] nopara73 opened #2927 "Anonset Behavior Bug?"
https://twitter.com/JimJones1913/status/1211708963894349830

[2019-12-31 18:44] joshirio opened #2928 "Trezor One hardware wallet error when entering passphrase"
### General Description

I'm unable to enter the encryption [passphrase ](https://wiki.trezor.io/Passphrase)(25th word) while trying to connect the hardware wallet (Trezor One) due to an error:

[code]

The PIN prompt shows up fine but when the passphrase is required no input dialog is shown, instead the error is thrown immediately after clicking on the "send passphrase" button.

### How To Reprod

[2019-12-31 19:01] nopara73 commented on #2928
Wasabi cannot handle passphrase, so only device side passphrase can be used: https://github.com/zkSNACKs/WalletWasabi/issues/1356

However Trezor One cannot handle device side passphrases. I'll leave this issue open as there is a need for better UX/error message here.