[2019-01-31 11:04] nopara73 commented on #1129
![image](https://user-images.githubusercontent.com/9156103/52050266-49f64b00-2550-11e9-89a0-9b0485cfd0c9.png)

[2019-01-31 11:09] molnard commented on #1129
much designed, so anonset :D

[2019-01-31 12:54] nopara73 opened #1132 "New Wallet Development Direction? Improve Bitcoin.org Inclusion Scoring?"
While we seem to be eligible for Bitcoin.org inclusion, I think it makes sense to bring closer improvements we were planning to do anyway, but we were not considering them as priority. It may be the right timing, because we have just completed all our "priority" issues we had and we are looking for a new direction to take our development. And you know me guys, I love to work on the basics, so work

[2019-01-31 13:47] nopara73 commented on #1132
Tor connection of bitcoind must be enforced by default, because of transaction broadcasting over clearnet, which we can only do if we ship. It can be opt-out by using your own bitcoind of course. Or should we just testacceptmempool and then broadcast transaction with NBitcoin over Tor? Anyway, in Wasabi we are very careful to make everything work out of the box and our users are very grateful for

[2019-01-31 16:05] lontivero commented on #1132
We have two extremely scarce resources here: bitcoins (budget) and developers time. It is necessary then to focused on the most important things and we must decide and communicate clearly to the team and community what is the vision and what are the principles that drive the development direction.

In my very personal opinion Wasabi development should be focused on a clear statement as the one we

[2019-01-31 16:50] lontivero commented on #1132
About the problem we the samurai wallet I remember the were connecting with a node through the RPC interface so, there have exposed the RPC interface. That's not what we have are planning to do, the idea is simply connect with a node in the LAN using the p2p.

[2019-01-31 17:10] harding commented on #1132
I also would not recommend putting too much energy into getting the best possible score on Bitcoin.org.  Because of the way the data are presented on that site (only after you choose what wallet you want to look at), it's unlikely that better scores increase the number of downloads much.  Wasabi already scores better than almost all wallets on that site, so anyone using that site to compare it to

[2019-01-31 23:18] crwatkins commented on #1132
I'm a bit swamped with some other issues, but I wanted to take a quick moment to echo @harding's recommendation to not let the bitcoin.org scoring sway your development priorities.  There are a lot of good ideas in the scoring list, but if an item is a good idea for Wasabi, then do it because it is a good idea and not because it will get you a better (or different) score.

I'll try to get back to

[2019-01-31 23:50] prusnak commented on #759
Browser vendors are slowly killing the importance of EV certs: https://www.troyhunt.com/extended-validation-certificates-are-dead/

[2019-02-01 02:35] NicolasDorier commented on #1132
One idea, integrating https://github.com/bitcoin/bips/blob/master/bip-0151.mediawiki support in NBitcoin.
Then I can make a proxy between Bitcoin and Wasabi which do the decryption and implement BIP157.

Then on the remote bitcoin core, you would just have to activate TOR.

[2019-02-01 11:16] nopara73 opened #1133 "Add open config file button from settings"

[2019-02-01 15:09] nopara73 commented on #759
This is a vanity feature that makes very little sense technically, (if any at all.) This is why it does not matter for most sites, but for a site that wants the visitor to download a software in an age where everything is on the web, even more, this software is going to handle a his money, in this scenario every little thing matters when it comes to trust building. As long as Chrome or Firefox and

[2019-02-01 15:22] nopara73 commented on #1132
@NicolasDorier User's Bitcoin Core cannot implement our client side filtering stuff. I mean it can, but it's not feasible. It takes about 2-3 weeks on a badass server to build the filter table with `txindex=1`. (Despite we only build bech32 filter table.)

[2019-02-01 15:36] harding commented on #1132
@nopara73 you shouldn't need `txindex` to build the filter table, so perhaps you're building it in an inefficient way (e.g. using `getrawtransaction` to get each transaction individually rather than getting all the transactions from a block simultaneously using `getblock <hash> 2`).   For comparison, the PR to integrate BIP157 filters directly into Bitcoin Core (which will obviously be faster than

[2019-02-01 17:06] lontivero commented on #1132
@harding we are not using `getrawtransaction` but `getblock` RPC. Anyway, you're right, it could be much faster to fetch block using the p2p protocol. In fact we generated the filter for the blockchain (since the activation of segwit) with a very inefficient code that we improved for several orders of magnitude after. Obviously we cannot have the C++ performance here.

Your other point about `test

[2019-02-01 17:10] harding commented on #1132
@lontivero oh, sorry for derailing the thread.  No need to create separate discussions; I'll just unsubscribe from notifications on this thread so that I'm not tempted to comment any more.

[2019-02-01 17:18] nopara73 commented on #1132
@harding I looked at the code and we only do `getblockcount` and `getblock` RPC queries, so `txindex` is indeed not needed.
@lontivero Indeed it's been optimized by orders of magnitude by then. I remember I paid attention to do it as cleanly and simply as possible without caring about performance at all since it was just a "to be ever done once and be done with it."

We maintain a bech32 utxoset f

[2019-02-01 17:38] lontivero opened #1134 "Compact Filters creation"
This discussion comes from https://github.com/zkSNACKs/WalletWasabi/issues/1132 and I think it is not a dead topic and can be discussed as part of the integration with local full node. @nopara73 @NicolasDorier @crwatkins @harding @danwalmsley @molnard.

[2019-02-01 18:40] nopara73 commented on #1132
@lontivero So, you think we should start working on hardware wallet integration next?

[2019-02-01 18:45] #1053 closed

[2019-02-01 18:45] #1062 closed

[2019-02-01 18:47] nopara73 commented on #1087
Most likely fixed: https://github.com/zkSNACKs/WalletWasabi/pull/1074
If this still happens, I reopen it.

[2019-02-01 18:47] #1087 closed

[2019-02-01 18:48] nopara73 commented on #580
Most likely fixed: https://github.com/zkSNACKs/WalletWasabi/pull/1074
If this still happens, I reopen it.

[2019-02-01 18:48] #580 closed

[2019-02-01 18:48] nopara73 commented on #580
Btw, Elementary OS was tested by me and it is working now.

[2019-02-01 18:48] nopara73 commented on #898
Most likely fixed: https://github.com/zkSNACKs/WalletWasabi/pull/1074
If this still happens, I reopen it.

[2019-02-01 18:48] #898 closed

[2019-02-01 18:49] nopara73 commented on #564
Fixed: https://github.com/zkSNACKs/WalletWasabi/pull/1074

[2019-02-01 18:49] #564 closed

[2019-02-01 19:05] lontivero commented on #1132
I think we should continue working on improving the privacy of our users and there are two main features IMO that goes in that direction:

### Allow sending money hidden in the coinjoin transactions

Strategically speaking we should consider to implement this soon because it is to me far superior to interactive P2EP alternatives because it offers far higher privacy, it is really permissionless (yo

[2019-02-01 22:15] nopara73 commented on #951
@lontivero Can you give a status report what's with this issue?

[2019-02-01 22:47] lontivero commented on #951
No news. The maintainer ignored my offer of help and he continued working on it. A couple of days ago he merged a PR with support for segwit but i don't know if bech32 is supported.

[2019-02-02 01:33] lontivero commented on #951
This one: https://github.com/bitcoinj/bitcoinj/pull/1563

[2019-02-02 06:45] NicolasDorier commented on #1134
@lontivero if you feel motivated, create a NBitcoin.Bench project inside NBitcoin and let's use BenchmarkDotNet. We can probably make it way more efficient.

[2019-02-02 11:26] nopara73 opened #1135 "Make Logs.txt and TorLogs.txt accessible from the software."
I'm sick at writing all the time "one level above the Wallets folder." We should make it easier to do it, like "Help/Logs" or something.

[2019-02-02 13:32] nopara73 opened #1136 "Coordinator did not add enough value to our outputs"
I thought it was just some rounding issue and I fixed it recently, but it looks like it wasn't. (https://github.com/zkSNACKs/WalletWasabi/issues/1119)

Description: https://github.com/zkSNACKs/WalletWasabi/pull/1131#issuecomment-459958722

This issue should be debugged before the next release.

[2019-02-02 19:03] nopara73 commented on #951
@lontivero I've changed emails with Andreas Schildbach and he said BitcoinJ can spend to bech32. Could you try this out?

[2019-02-02 19:05] bolatovumar opened #1137 "Add documentation for dev process?"
I was able to follow the steps to build and run Wasabi from source easily. However, it's not clear to me how I would debug it. I would like to be able to run the app from VS Code (or regular VS) in debug mode and set breakpoints and whatnot. Should there be a section in documentation explaining how one would do this?

This may be a stupid question and possibly really obvious but may not be obvious

[2019-02-02 19:35] nopara73 commented on #1137
@lontivero's working with vscode. Could you give @bolatovumar some pointers for that.

With Visual Studio 2017 it's simple:

1. Double click on the solution.

![image](https://user-images.githubusercontent.com/9156103/52168355-ab254680-2729-11e9-9a0c-f135cdf229a1.png)

2. Place a breakpoint somewhere.

![image](https://user-images.githubusercontent.com/9156103/52168376-00f9ee80-272a-11e9-9710-b547

[2019-02-02 21:47] lontivero commented on #951
Sure.

[2019-02-02 21:49] #1137 closed

[2019-02-02 22:56] bolatovumar commented on #1137
Looks like there is an error in `HowToDebug.md` file?

`launch.json` example specifies `"preLaunchTask": "build-client",` but `tasks.json` on has a task named `build-frontend`. They should be both `build-client` or `built-frontend`, no (I tried it and it works if you name them the same)?

Also, the `"program"` property in `launch.json` has extra spaces in it that give me an error if I leave them t

[2019-02-03 00:16] lontivero commented on #1137
You're right, I made a mistake copying and pasting. The name of the task is not important and I will change the document to use `build-client` (both have to be the same). I am going to fix the extra spaces too. Thanks for reporting.

[2019-02-03 00:36] nopara73 commented on #1124
@bolatovumar The idea would be to facilitate multiple labels for one coin. For example I sent myself coins from one wasabi to another one and the receiving label was the comma separated copypasted history of the sending wallet, so I didn't lost track of the labels.

I can imagine this can be fixed in multiple ways, and it wouldn't be a messy solution. Of course the intended behavior would be the s

[2019-02-03 03:56] bolatovumar commented on #1124
@nopara73 right, I see. Should a null check after the input string is split and trimmed suffice then? So, if you input `,` and the result after splitting and trimming is null then it's treated as an empty label and the function should just return?

[2019-02-03 12:22] molnard opened #1140 "Wallet loading takes forever"
### General Description
Rarely on Regtest I get this error and my wallet is not loaded.

### How To Reproduce?

1. Go to Regtest
2. Load Wallet
3. Loading button animating
4. Check console for exception

### Screenshots
[code]

### Operating System
Win10-x64

[2019-02-03 15:08] nopara73 commented on #1140
I noticed I lose my connection once in a while on RegTest, but never figured out why.

[2019-02-03 15:09] nopara73 commented on #1124
@bolatovumar The code is not in front of me, but your description sounds good.

[2019-02-04 07:48] #1124 closed

[2019-02-04 08:42] #1059 closed

[2019-02-04 16:57] lontivero commented on #1140
I don't know the real reason of this, however there are a couple of scenarios that can drive the local node to disconnect Wasabi. I would recommend to whitelist the Wasabi wallet IP and see if that problem repeats. Whitelisting an ip prevents the node from being disconnecting for inactivity, from being disconnected to accept new inbound connections, from being disconnected for exceeding the limit

[2019-02-04 19:01] calkob opened #1143 "Password and Mnemonics test"
### Is your feature request related to a problem? Please describe.

I started a new Wallet and didn't use it for weeks, i now cant remember the password and dont want to send bitcoin there incase i cant recall it.  There doesn't seem to be away of testing the password.

### Describe the solution you'd like

Password on login to wallet or at least a password test.

### Describe alternatives you've

[2019-02-04 19:54] lontivero commented on #1143
Hi. Please DO NOT send bitcoin to a wallet if you don't remember the password, otherwise you will not be able to move your coins.

Once said that, we are working on workflows that allow us to reduce the number of users that forget their passwords. This is just one idea: https://github.com/zkSNACKs/WalletWasabi/pull/1142

[2019-02-04 22:45] lontivero commented on #951
Today I was reviewing the PR code, it is a huge so I couldn't perform a deep review but just a an overview. I will compare the tests against core and nbitcoin to see if the tests are the same or can be enriched. My general impression is that is is a very good PR and the code is really clear, what makes it easier to review.

[2019-02-05 06:51] nopara73 commented on #1143
ACK for password test. It's a good idea. (Along with mnemonics test.)

[2019-02-05 10:54] nopara73 opened #1144 "Lost Password Strategy"
It is common that users lose or mistype their passwords. While we have limited capabilities to prevent it, we still can do a few things. This issue aims to gather all the improvements we had in mind to help our users avoid losing their password.

# Chinese Password Box

Mistyping passwords happen, because of carelessness. Our Chinese password box aims to break the usual flow of our users, hoping t

[2019-02-05 19:33] nopara73 commented on #1136
I succeeded to reproduce this issue with tests!

# Step 1

Comment out the `amountBack.Almost`, like this: `if (amountBack < minAmountBack)// && !amountBack.Almost(minAmountBack, Money.Satoshis(10000))) // I caught an issue here, probably rounding. 1000 dust should be enough to catch it, but let's do 10000, why not.`

# Step 2

Run the newly added test: `CcjFeeTestsAsync`.

[2019-02-05 20:31] nopara73 commented on #1136
The problem is most likely with `Alice.NetworkFeeToPay`. It's calculated at InputRegistration, while at that point we only have an estimate for that.

[2019-02-05 20:51] lontivero commented on #1136
Yes, I agree. In my case the difference `minAmountBack - amountBack` is  `0.00008976` what is very very closed to `ongoingRound.State.FeePerOutputs * 2` (`0.00008250`). We are estimating the network fee based on how many denominations we think the user will get given the amount of bitcoins he is registrating, what is wrong.

[2019-02-05 22:22] nopara73 commented on #1136
I solved the issue and it'll unlikely to ever come up again, but there's something else at play here, too.

What I did is at connection confirmation I adjusted the `NetworkFeesToPay` and on the client side check I take one more output, since the connconf adjustment is just an estimation.

I'm not super happy about the solution, but it does the job.

[2019-02-05 22:22] #1136 closed

[2019-02-06 06:01] Transisto opened #1146 "New icon?"
![image](https://user-images.githubusercontent.com/388716/52323248-5ba17d80-29aa-11e9-9871-b48f1d10433a.png)

[2019-02-06 07:20] Transisto opened #1147 "Crash, when hoovering over coinjoin UTXO list."
Using very last commits. 05f889d..2e572a3

Was trying to highlight an input in Coinjoin tab soon after sorting by "Status" and many transaction confirmed at once., UI froze for at least 45sec before crash.

[code]

[2019-02-06 07:34] Transisto commented on #1147
This time on a fresh start, just moving my mouse over Coinjoin UTXOs to try to look at PrivacySets numbers.

[code]

[2019-02-06 09:02] joshirio commented on #777
Please consider informing about this behaviour, for example by showing a dialog with "don't show again" checkbox when the user closes the wasabi window.

Why is this important?
Because some users use a VPN to hide the fact that they are running a tor client from the ISP/Government/Corporate network. When they close wasabi they expect all network activity, especially tor, to be halted, if they don'

[2019-02-06 10:58] nopara73 commented on #1146
As far as I know we did not do anything about it. Was it not showing up like this previously? If so, did something change in your system? If I am right, you are using from source code, which I think it was never showing the proper icon that way. If not, then if that's a debian based OS, then the next release should fix all the vanity issues you experience:

![image](https://user-images.githubuserc

[2019-02-06 11:01] nopara73 commented on #1147
This is bad. This prevents us from doing the next release, which I believed was imminent. @danwalmsley Can you work on this?

[2019-02-06 17:56] Transisto commented on #1147
Doesn't happen constantly, Would not delay release.

I think it's related to a low ram situation.  It was on a VM with only 1.2 GB ram allocated. I can easily play around and confirm.

[2019-02-06 23:39] Transisto commented on #1146
I always ran it from source on that OS and the icon was Wasabi logo.

[2019-02-07 07:27] Transisto commented on #1146
Above was on Elementary OS,
icon is gone in latest on Ubuntu too

![image](https://user-images.githubusercontent.com/388716/52396441-f029df80-2a7f-11e9-8442-6e16370cf6cd.png)

[2019-02-07 14:40] danwalmsley commented on #1147
working on this.

[2019-02-07 15:40] danwalmsley commented on #1147
@Transisto would you be able to pull in my potential fix for this (https://github.com/zkSNACKs/WalletWasabi/pull/1148) and see if the issue goes away, im not currently able to reproduce the issue, though we have identified what we think is the cause, and this may or may not fix it.

Let me know if you need a hand.

Thanks

[2019-02-07 16:59] lontivero commented on #1147
This comment can add some confusion but I think this happens because of the memory restriction. I was not able to reproduce it but after make it consume 6GB it failed with another exception that I reported to Avalonia team: https://github.com/AvaloniaUI/Avalonia/issues/2288

[2019-02-07 21:33] skyerjoe commented on #693
Any news for this issue ?

Regards skyerjoe

[2019-02-08 00:17] Transisto commented on #1147
Sorry, cannot reproduce.

While trying to reproduce I was moving the mouse over and I see it replay my mouse movement almost 10 min later.

There is something intense happening when mouse is hoovering,  it's highlighting the row and most likely doing something else in the back but I don't see any benefit besides showing the Anon Set when over the shield icons.

While trying to replicate a crash th

[2019-02-08 07:50] nopara73 commented on #1147
1. Fetch the pull request:
[code]

2. Checkout the pull request:
[code]

3. Test

4. Move back to master branch:
[code]

4. Cleanup pull request branch:
[code]

[2019-02-08 07:50] nopara73 commented on #1147
@molnard Wanna chime in?

[2019-02-08 09:12] nopara73 commented on #693
Currently the plan for fungibility improvements:

1. [x] 0.1BTC fixed denomination mixing.
2. [x] 0.1BTC multiplications, basic unequal input mixing.
3. [ ] Send arbitrary amounts in coinjoins.
4. [ ] Do some unobservability work? P2EP/Clusterfuck Wallet and friends.
5. [ ] Do advanced unequal input mixing and send to others research that optimizes for costs. Then implement.

4 and 5 can help to r

[2019-02-08 19:12] lontivero commented on #1117
This is done https://github.com/lontivero/WasabiCoinjoinDumper
Honestly the tool is not good. I was designing with the idea of having a database that allow us to make queries and connect as a datasource to Excel but I changed in mind in the middle, also my idea was to discover CJ transactions by tracing the CJ tx inputs instead of using Smartbit.com.eu and after changing some many times it resulte

[2019-02-08 19:12] #1117 closed

[2019-02-08 21:24] lontivero commented on #1140
Okay. I was able to reproduce it finally. This only happens with pruned nodes. I will fix it.

[2019-02-09 15:52] #1135 closed

[2019-02-10 02:00] Transisto commented on #1147
[code]

[2019-02-10 08:01] nopara73 commented on #1147
@danwalmsley Confirmed, the PR doesn't work for me, too. Not even on Windows.

[2019-02-11 15:38] molnard commented on #1147
The Memory usage is increasing by pressing any ordering button. Checked the ViewModel and for the first glance no new objects are created and the logic looks correct. Another strange thing is if I increase the RAM usage above 3.6 Gb or sometimes higher 6 Gb at some point the memory usage is dropped down by a few Gb. Looks like it is not related to Garbage Collector. I will continue.

[2019-02-11 16:24] molnard commented on #1147
Made some investigation with memory profiler. Looks like Avalonia.Rendering.DeferredRenderer has the highest retained bytes and holding a large amount of objects. Is it possible that after every short the visual elements are recreated?

[2019-02-11 18:50] lontivero commented on #1140
I was wrong on this point: NBitcoin DOES work okay with pruned nodes. I will explain here all the scenarios and how Wasabi behaves on each one. Here is the `bitcoin.conf` file used initially:

[code]

Note: It is important to have a blockchain with 500 or more blocks to make sure you can reproduce this. Also, you have to have coins in the first blocks in order to force Wasabi to ask for blocks tha

[2019-02-11 20:21] lontivero commented on #1134
I've created a Bench project in the NBitcoin repository to meassure the `GolombRiceFilter` and `GolombRiceFilterBuilder`. I also tried with _aggressiveinlining_ for the `BitStream::EnsureCapacity` method and impoving the `BitStream::Write` by adding a new `WriteUint` method that operates on 32 bits instead of using `WriteByte` in a while loop. Sadly these things had no real improvement. Also, the

[2019-02-11 20:21] #1134 closed

[2019-02-11 20:23] lontivero commented on #1133
I take it.

[2019-02-11 20:27] lontivero commented on #1035
I think we could close this issue now.

[2019-02-11 20:30] lontivero commented on #1020
Can we close this? If not, can we have a won't fix tag?

[2019-02-11 21:04] nopara73 commented on #1020
Actually the "Backend is connected" happens even though the anonset 100 and round -1 appears, so there's something strange here.

[2019-02-11 21:06] nopara73 commented on #1035
This should make its way to the GUI and also be more customizable there.

[2019-02-11 21:10] nopara73 commented on #1133
Make sure it works on every OS and Linux distro :P

[2019-02-11 21:13] nopara73 commented on #1133
I actually thought you guys encountered a platform dependent issue with opening text files so that's why you didn't open Logs, but rather just took a shortcut and went directly for the data folder here: https://github.com/zkSNACKs/WalletWasabi/pull/1150 https://github.com/zkSNACKs/WalletWasabi/pull/1151

[2019-02-11 21:19] nopara73 commented on #1140
@lontivero Nice work. Does it have anything to do with this issue or is it a different one?

[2019-02-11 21:21] lontivero commented on #1133
I've just pushed https://github.com/zkSNACKs/WalletWasabi/pull/1153 I have to test it now.
I didn't open the log file because I understood that you wanted to open the folder. We can change that.

[2019-02-11 21:30] lontivero commented on #1140
@nopara73 yes, this has to do becaus what @molnard reported is because the bitcoin node disconnected his Wasabi. The easiest way to reproduce it is by using a prunned node because in that way the node disconnect us in the 100% of the times; otherwise we have to force it to disconnect us by requesting too much blocks. Alternatively we can use testnet/mainet and wait until the node disconnect us (it

[2019-02-11 21:36] nopara73 commented on #1133
Why can't we have both?

We need a new section in the help:

- Open Data Folder
- Open Config
- Open Logs
- Open Tor Logs

Or maybe can we do something like "Open" and then submenus, like this?

![image](https://user-images.githubusercontent.com/9156103/52595180-875eb080-2e4d-11e9-898a-f8614c9771bc.png)

-

[2019-02-11 21:37] nopara73 commented on #1140
Great!

[2019-02-12 02:07] lontivero opened #1154 "Single File Wasabi"
I've found this in the Scott Hanselman's blog post [Brainstorming - Creating a small single self-contained executable out of a .NET Core application](https://www.hanselman.com/blog/BrainstormingCreatingASmallSingleSelfcontainedExecutableOutOfANETCoreApplication.aspx) and I tried it and it works like a charm!

![image](https://user-images.githubusercontent.com/127973/52606438-4f596c80-2e51-11e9-985

[2019-02-12 08:05] nopara73 commented on #1154
This is great! Will definitely look into it and probably ship like this from now on.

[2019-02-12 09:35] NicolasDorier commented on #1154
You should wait, .NET Core 3.0 will have this out of the box. See design proposal on https://github.com/dotnet/designs/pull/52

[2019-02-12 09:38] NicolasDorier commented on #1154
Another solution, is to use https://github.com/dotnet/corert (I am 70% sure it generates 1 file as well)

CoreRT is a ahead of time compiler. It basically compile your executable directly in the target architecture. (No IL)
This mean faster startup and smaller binary. But the problem is that if you use reflection, you need to document it specifically in a separate file.

[2019-02-12 14:36] lontivero commented on #1154
I don't agree. Whatever we have today will be better in a future leads to paralysis? Why waiting?This is something we can do right now and works okay, if in the near future .NET Core 3.0 comes with a better tool then we can use that one.

[2019-02-12 14:46] NicolasDorier commented on #1154
True. I am surprised it works. Apparently `-l aggressive` is using ILLinker, which start pruning the wrong stuff if you use reflection. (As it has no way to know in advance that what it pruned would be used by reflection)

[2019-02-12 17:24] ketominer commented on #926
Doesn't need to be clearly compromised, malware was already hidden in bitcoin menu bar tickers before. Other apps listen to the clipboard for very "legitimate" reasons (smart keyboards, spellchecks) and send everything to a 3rd party server. Can be compromised on the wire as well.

[2019-02-12 19:06] molnard commented on #1001
almost good. If I move the wasabi window to the other screen this is what I see:
![image](https://user-images.githubusercontent.com/9844978/52661135-a28af800-2f01-11e9-896a-8b86e04c4e32.png)
But if I hover the mouse on the window it is fixed immediately.

[2019-02-12 19:17] molnard commented on #1140
added `regtest.whitelist=127.0.0.1`

[2019-02-13 08:49] LindyLo commented on #1089
Sadly cmd+q still does not work as well as menu item.

I now it might seem like a minor thing, but from the Mac user perspective - I can't remember when was the last I've actually pointed the cursor on red close button to close an app, its mainly cmd-q to quit, cmd-w to hide a window.
So this is **a very annoying** bug for any Mac user.

A lot of ppl would really appreciate if you could fix this !

[2019-02-13 12:44] nopara73 commented on #1140
Can we keep this open? Can't we do something autowhitelisting or something?

[2019-02-13 12:52] nopara73 commented on #926
There are 3 issues here:

1. Address autocopy.
2. Txid autocopy.
3. Clipboard clear after paste.

Address autocopy is not a privacy risk, you'll end up copying the address anyway, unless you want to manually type it to somewhere else. So I take back my concept ACK from this point. I guess if you think it through carefully it's non-controversial.

Tx autocopy is a privacy risk, though I would still

[2019-02-13 14:47] lontivero commented on #926
Having standard behaviors and standard user interface elements, keystroke, layouts, etc. is what allows users to use any software without needing to read a huge user manual (this was common before GUIs) and users expect things to behave in the same way across all applications. When one application do crazy things the users start feeling unconformable.

In fact, password manager which main goal is

[2019-02-13 15:08] nopara73 commented on #926
@lontivero I am not quite sure I can follow you. Would you mind to rephrase it?

[2019-02-13 15:53] lontivero opened #1155 "Coinjoin Transactions Network Fee"
Yesterday we experienced what happens when network fees suddenly increase significantly and keep high for a day, basically Wasabi continues broadcasting transactions until the mempool policies start preventing the acceptance of new descendant transactions. In this case users cannot mix and those that mixed cannot spend their coins.

The problem is complex and the solutions could be a bit tricky to

[2019-02-13 16:12] lontivero commented on #926
Yes, sure. In summary:

1. This is something that will annoy users. :-1:
2. This has provable downsides and improbable benefits. :-1:

I am against it and I would only accept it if the clipboard is emptied after a configurable period of time as most password managers do :+1:

![image](https://user-images.githubusercontent.com/127973/52725968-f264d000-2f90-11e9-8a9f-8b1c63e9fb7a.png)

[2019-02-13 18:53] lontivero commented on #1035
Ack. What kind of customization do you have in mind?

[2019-02-13 19:11] lontivero commented on #1049
This can be closed, @nopara73

[2019-02-13 19:16] lontivero commented on #1035
Btw, I've gave an overview to [this research paper](https://www.cs.cornell.edu/~rahul/papers/pwtypos.pdf) and there is nothing on it that we can use, basically because it talks mostly about "relaxed passwords checkers" what is not applicable in Wasabi. I was also making a quick online research about the Levenshtein distance (that someone suggested on twitter) but it is useful with dictionaries wha

[2019-02-14 00:11] Transisto commented on #1035
This anti security feature should not be in Wasabi

Inputs :
seed
password pattern
First derived address

Why not have this as a stand-alone script?

On Wed, Feb 13, 2019, 14:16 Lucas Ontivero <notifications@github.com wrote:

[2019-02-14 01:27] dmbr0 opened #1157 "Backend not connected. Cannot Send coins"
Tor is running and peers are connected. Backend is not connected. I cannot send coins or do anything.

Is there some way to get this to connect?

[2019-02-14 01:43] lontivero commented on #1157
If you have Wasabi version 1.1.1 go to Help > Data Folder and review the TorLogs.txt file and tell us if you see something wrong there. In cases you have a previous version you can find the logs in %appdata%\WalletWasabi\Client\Logs.txt (in Windows) and ~/.walletwasabi/client/Logs.txt (Linux and Mac).

Please use the [WasabiWallet subreddit](https://www.reddit.com/r/WasabiWallet/) to follow up thi

[2019-02-14 02:02] lontivero commented on #1140
I don't know, I mean, if the node is in the same machine and the config file is where it uses to be then we could modify the bitcoin.conf file. It is important IMO let the user know about this, otherwise I would not like that any software change my bitcoin node config file. Moreover, the user have to restart the node for the new configuration take effect.

In case the bitcoin node is in the LAN, t

[2019-02-14 03:29] #1157 closed

[2019-02-14 09:43] nopara73 opened #1158 "Refactor PGP workflow"
It's getting a bit clunky, nothing points directly to [the guide](https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi.Documentation/Guides/InstallInstructions.md#gpg-verification) and fingerprint is not shown. Also it's GitHub reliant right now, something should go to the site, too, to distribute the trust.

Other related issues:
- deterministic builds: https://github.com/zkSNACKs/Wa

[2019-02-14 09:43] nopara73 opened #1159 "Make others sign my PGP"
Look into this whole "web of trust" thingy.

[2019-02-14 09:46] nopara73 opened #1160 "UI Scaling Issue On Some Linux"
Read more here: https://old.reddit.com/r/WasabiWallet/comments/apu4uf/ui_scaling_on_linux_111_release/

[2019-02-14 09:50] Transisto opened #1161 "Wasabi doesn't start on linux possibly because previous version was run from source."
To reproduce :
  run wasabi by cloning from github

  rename WalletWasabi and .walletwasabi to something random

  install from .deb

  Run wasabi

Result:

.walletwasabi data folder get created with these error logs into it

[code]

[2019-02-14 10:08] nopara73 opened #1162 "Support basic commands: man, -h, --help, -v, --version"

[2019-02-14 10:23] danwalmsley commented on #1161
@lontivero @molnard Looks like a permissions thing?

[2019-02-14 10:40] nopara73 commented on #1147
The branch works for me now.

@molnard Do you think it'll fix this issue? @danwalmsley Should I merge? @Transisto Could you try to reproduce it? (Same steps: https://github.com/zkSNACKs/WalletWasabi/issues/1147#issuecomment-461718909)

[2019-02-14 10:48] Transisto commented on #1161
Everytime I would "dotnet run" as per instructions it failed unless I sudo
it.

(Might be relevant If permission related)

On Thu, Feb 14, 2019, 05:23 danwalmsley <notifications@github.com wrote:

[2019-02-14 10:49] nopara73 commented on #1035
There is nothing anti-secure about this feature: refer to the whole conversation in this thread. It may create a sense of anti-security, but such feelings should not prevent a useful feature to get into the software.

[2019-02-14 10:52] nopara73 commented on #1049
@dmp1ce was specifically referring to `.packman` package here, we did not yet decide against it, so I'd keep it open until that happens or we create it.

[2019-02-14 10:57] nopara73 commented on #1049
As a general note that may be relevant, while we had previously much less Linux users than OSX, just by rolling out the `.deb` package, the `.deb` downloads took over the `.dmg` downloads, even without the `.tar.gz` downloads.

https://www.somsubhra.com/github-release-stats/?username=zksnacks&repository=WalletWasabi

[2019-02-14 12:08] Transisto commented on #1035
I fundamentaly disagree that bundling a brute forcer isnt weakening
security.

I think you're counfounding a seemingly light weakening of YOUR password
scheme to à benign "typical typo scheme" as a convenience while voluntary
introducing typos could be have been a sufficient added security for
someone who opted to rely on physical security of the seed over its strong
encryption. (nosy spouse / evi

[2019-02-14 12:42] dmp1ce commented on #1049
To be clear, a package on the AUR already exists which is probably what most Arch Linux users will use. https://aur.archlinux.org/packages/wasabi-wallet-bin/ The AUR package extracts the `.deb` and uses the desktop file packaged. I think this issue can be closed.

[2019-02-14 12:45] nopara73 commented on #1035
I'm sorry, but I don't see how that would make sense. The person using it

1. has to think he knows the password
2. has to have access to the wallet file
3. has to guess the possible typos he could've made (from @lontivero's numbers above we can see that we cannot do generic typo fixing with this, but it must be configurable, generic typo fixing would take years)

[2019-02-14 12:50] nopara73 commented on #1035
Most people who lose their passwords don't open issues or post to reddit, because they think there's nothing to do about it. If it's not in the software they lose access to the wallet, they acknowledge it, end of story.

You are referring to infeasible theoretical attacks while in practice people all over the world losing money.

[2019-02-14 12:59] danwalmsley commented on #1160
without any screenshots or further replies from the redditors, I wont be able to understand what it happening here, iv reached out to them but no reply so far.

From what im reading and the guy saying that it happens on Windows 10, it actually sounds like its a non-issue.

Previously scaling on Linux didn't work, so people with 4k monitors would have had very small text, and ui, but now that scali

[2019-02-14 13:00] nopara73 commented on #1049
@dmp1ce Personally I highly appreciate whoever created that package, however, since I am not sure how the whole Arch packaging system works, and considering the security-critical nature of the software I cannot recommend using it.

[2019-02-14 13:34] nopara73 commented on #1160
I have met a guy yesterday who has shown this issue to me on Ubuntu 18.04. It's unusable, unfortunately I don't have the contact. However if I remember well it happens on a couple of VMs where this happens, just didn't care, because I thought it was a VM issue. Will check it.

[2019-02-14 14:11] InserirAquiNome commented on #1159
Hello
I will use this opportunity to review some aspects of PGP
Because I only read some parts of the manual and follow some online guides.
I will start to read all the manual and practice with examples

https://www.gnupg.org/
https://www.gnupg.org/gph/en/manual.html
http://www.spywarewarrior.com/uiuc/gpg/gpg-com-4.htm

[2019-02-14 16:06] danwalmsley commented on #1160
@nopara73 could perhaps be a specific window manager / configuration that iv not seen before, let me know when you manage to repro 👍

[2019-02-14 19:45] nopara73 opened #1163 "OSX NRE"
Step 1: Open Wasabi
Step 2: File/Exit

![image](https://user-images.githubusercontent.com/9156103/52813210-9043c200-3099-11e9-9d70-2f05a6d46ba1.png)

[2019-02-14 19:56] lontivero commented on #1161
I've see this problem before and I think this is exactly the same problem @molnard had. In order to verify it please just check the owner and the permissions of the file `/home/t/.walletwasabi/client/UiConfig.json` doing this:

[code]
Note: `sudo` could be unnecessary here.

You should see something like this:
[code]
In case the outputs looks more like this:
[code]
It means that Wasabi was execute

[2019-02-14 21:30] danwalmsley commented on #1160
fix incoming --- https://github.com/AvaloniaUI/Avalonia/pull/2303

[2019-02-14 22:36] dmp1ce commented on #1049
@nopara73  I don't maintain the PKGBUILD on the Arch User Repository (AUR), although I did give a suggestion to the maintainer. The PKGBUILD downloads the `.deb` and verifies it is signed correctly with the `.asc` then unpacks the contents of the `.deb` so they can be ran by the user. It is a short bash script. https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=wasabi-wallet-bin Eventually, if

[2019-02-15 00:45] Transisto commented on #1161
There is no UiConfig.json file

[code]

[2019-02-15 01:33] Transisto commented on #1161
ended up working after installing/reinstalling and deleting folders

[2019-02-15 04:32] Transisto commented on #1094
Wasabi is still as borderline unusable on 1.1.1, consuming 12% of CPU (kernel) while doing absolutely nothing and using between 1.3 GB from start to up to 3.5 GB Just for sorting coinjoin list by Privacy, History or BTC amount a few times.

It takes between 10 and 30 seconds to change sort order during which the UI is unresponsive.

![image](https://user-images.githubusercontent.com/388716/5283441

[2019-02-15 05:13] Transisto opened #1164 "10-12% CPU (Kernel) usage when doing nothing that stops when using CPU for "sorting""
Red = Kernel
Green = CPU

![image](https://user-images.githubusercontent.com/388716/52835820-1b32b580-30b6-11e9-9b5f-15e741d8ea7c.png)

Prior step to reproduce:

![image](https://user-images.githubusercontent.com/388716/52836050-0acf0a80-30b7-11e9-9f8a-fbcb5538be74.png)
from : https://github.com/zkSNACKs/WalletWasabi/issues/1094#issuecomment-463903127

[2019-02-15 10:58] cbeams commented on #1118
This feature creates a negative user experience at a critical moment where the user is still getting their first impression of Wasabi. In the process of scratching my head about what could be causing this behavior, I did consider that perhaps this was the team's way of [having a little fun](https://github.com/zkSNACKs/WalletWasabi/issues/439#issue-339406804) and doing something different with pass

[2019-02-15 12:44] molnard commented on #1163
true! I get this:
[code]

[2019-02-15 13:16] molnard commented on #1140
If the problem occurs we can detect it. How do you like idea to show a small blue (i) icon with a link to our FAQ where the instruction to this issue are present?

[2019-02-15 15:18] molnard commented on #1146
With the new release 1.1.1 icon looks like this in the taskbar on ubuntu.
![image](https://user-images.githubusercontent.com/9844978/52865591-44e2ef80-313d-11e9-9727-ce0b9b6d398f.png)

[2019-02-15 18:02] Transisto commented on #1146
I can confirm same icon running from binaries. This seems specific to Ubuntu, in my case Elementray OS is showing the right icon.

[2019-02-15 19:19] #1160 closed

[2019-02-15 19:34] lontivero commented on #1161
Logs.txt and AddressManager were owned by root, that means Wasabi was executed by the root user or with sudo. This has nothing to do with the installation but with the files/forlders permissions. The solution is to give permission and change the owner of those files.

[2019-02-15 19:39] lontivero commented on #1094
We are aware of this problem and we have been hunting it with no luck yet.

[2019-02-15 20:07] nopara73 commented on #1146
PR that fixes it: https://github.com/zkSNACKs/WalletWasabi/pull/1167

Need a quick look from @danwalmsley and I merge it.

[2019-02-15 21:57] nopara73 commented on #1154
Actually I'm surprised to work, too, because we have the "dummyhack", which makes sure the Extensions folder is present relative to the exe.

Also, did you try it with deleting the data folder? We should have the Tor binaries relative to the exe, too, except if Tor is already copied to the data folder.

[2019-02-16 05:04] Transisto opened #1168 "Weird UI behavior, Windows get a bit larger than full screen for a second after doing a utxo sort."
On Windows, when doing UXTO sort the windows get a bit bigger and blurry for a second.

basically this :

![image](https://user-images.githubusercontent.com/388716/52894827-539dc680-317e-11e9-9a1b-03cd445b1148.png)

will briefly turn to this in the top corner (but a bit blurry)

![image](https://user-images.githubusercontent.com/388716/52894832-66b09680-317e-11e9-861c-d5c03c68a9cf.png)

Cannot tak

[2019-02-16 08:44] nopara73 opened #1169 "StackoverflowException"
Reproduce: Open Wasabi and close immediately. 1/3 time there's a SOE.

Better way to reproduce it: Use the daemon PR: https://github.com/zkSNACKs/WalletWasabi/pull/1130

Write: `dotnet run daemon wrongwalletfilename`.

Since it works with the daemon, this shows it happens in our code or NBitcoin's code and not Avalonia's code.

OS: Windows (does it happen anywhere else?)

[2019-02-16 09:45] #1159 closed

[2019-02-16 09:47] nopara73 commented on #1159
The issue is

[code]

To which [SO says](https://security.stackexchange.com/questions/147447/gpg-why-is-my-trusted-key-not-certified-with-a-trusted-signature):

So, if there's no common people the user trusts who signed my sig (or there's no path between us?) then my key won't be trusted by the user. Which will pretty much be almost always the case. This is quite impractical and a social issue rat

[2019-02-16 12:29] nopara73 commented on #1118
In https://github.com/zkSNACKs/WalletWasabi/pull/1152 I refactored the password workflow, where I explain properly why we do this:

![image](https://user-images.githubusercontent.com/9156103/52899790-40c2da80-31ee-11e9-8dee-bac5fa7bb674.png)

The new workflow will be:

1. Provide only one password at wallet generation.
2. After mnemonics, it'll redirect to Test Password tab, instead of Load Passwo

[2019-02-16 12:41] nopara73 opened #1170 "Send and CoinJoin tab doesn't work (Avalonia)"
The wallet is unusable. After wallet load there're about 20 exceptions and send and coinjoin tab doesn't work. One of the Avalonia merge ruined it. I'll try to rollback to correct version.

![image](https://user-images.githubusercontent.com/9156103/52899912-fe9a9880-31ef-11e9-9d17-789593bbdead.png)

[2019-02-16 12:47] nopara73 commented on #1170
I reverted two pull requests: https://github.com/zkSNACKs/WalletWasabi/pull/1172, https://github.com/zkSNACKs/WalletWasabi/pull/1171

The "fix for deferred renderer nre" ruined it.

[2019-02-16 14:26] nopara73 commented on #1161
What if at shutdown we check if we have sudo permission and if we do then we modify the permissions of the files in the data folder.

I think if something is created with sudo, then the permission issues will come up after running it with nosudo, so we should just make sure at shutdown we can modify all the files in the datafolder to be nosudo.

@lontivero what do you think?

[2019-02-16 14:28] nopara73 commented on #1133
Done.

[2019-02-16 14:28] #1133 closed

[2019-02-16 14:47] #952 closed

[2019-02-16 15:10] nopara73 commented on #1168
I noticed something similar happening, too, seemingly randomly, but I never found a way to reproduce it. Thanks for this.

[2019-02-16 15:11] nopara73 commented on #1140
@molnard Nobody reads documentation. At worst case scenario we figure it out when we do full Bitcoin Core integration.

[2019-02-16 17:10] lontivero commented on #1169
The problem is that `TorSocks5Client.SendAsync` before doing the sending assert it is connected with `AssertConnectedAsync` which at the time tries to connect (`ConnectToDestinationAsync`) by using `SendAsync`.

This is just an small fraction of the call stack_

 	WalletWasabi.dll!System.ByteHelpers.FromHex(string hex) Line 142	C#
 	WalletWasabi.dll!WalletWasabi.Bases.OctetSerializableBase.FromHex

[2019-02-16 18:40] lontivero commented on #1161
The problem with that is that we don't know what users should be granted permissions. Granting permissions to someone that should not have access to those files is much more dangerous than doing nothing.

OTOH it is not so unusual to detect `sudo ` and exit with a message "Don't run Wasabi with sudo". The place to do that is the launcher script.

[2019-02-16 19:59] molnard commented on #1161
This problem would only come up who is running Wasabi with sudo. Mainly who is using Wasabi from source code than install wasabi from deb - like Transisto and me. In reality everyday users just download the deb and use wasabi, don't they?

[2019-02-16 20:09] lontivero commented on #1161
Everyday users download the package and use it, sure.

This is a problem only when you don't have the `~/.walletwasabi` directory (you have never executed Wasabi before) and run Wasabi with `sudo` the first time. If that happens to someone the solution is just grant permissions to the user to all the files/folders of changing the owner.

IMO the best solution would be to detect the user is `root`

[2019-02-16 20:24] nopara73 commented on #1078
As I suspected Roslyn uses deterministic builds by default: [Why is deterministic builds the new MS norm now?](https://www.reddit.com/r/dotnet/comments/9pje6r/why_is_deterministic_builds_the_new_ms_norm_now/)

There's also a `<Deterministic>True</Deterministic>` compiler option we can add to our .csprojs.
I went ahead to verify it. I ran the packager 5 times and extracted the Linux tar.gz archive

[2019-02-16 20:25] #1078 closed

[2019-02-17 01:55] the-metalworker opened #1174 "Tor: General SOCKS Server Failure on Linux Mint 18.3"
### General Description

I started using Wasabi on a fresh install of Linux Mint 18.3. Using Wasabi 1.1.1 deb file. Tor Browser was already open in the background when I started Wasabi. Wasabi popped up an error:

[code]

Tor is up to date. I waited and Wasabi kept popping up this error. So I shut down Wasabi and shut down Tor browser. I restarted Wasabi on its own hoping it would be able to succe

[2019-02-17 03:42] lontivero commented on #1174
What tor version are you running?
Try this please: kill all Tor processes and start Wasabi again. Let us know how it went.

[2019-02-17 07:36] nopara73 opened #1175 "Strip away more things from the final binaries"
I don't know exactly what can we remove, but I suspect we don't need the `.pdb` files at all. This makes the final size smaller.

First step would be to research what can we remove.

[2019-02-17 14:49] #1175 closed

[2019-02-17 17:08] #1146 closed

[2019-02-17 17:12] #1170 closed

[2019-02-17 17:46] danwalmsley commented on #1168
@nopara73 @molnard could sorting be a long running operation on the UI thread? this sounds typical of ui thread getting blocked perhaps?

[2019-02-17 17:47] danwalmsley commented on #1147
@nopara73 this is fixed then now?

[2019-02-17 18:53] nopara73 commented on #1169
Thanks Lucas, it was very helpful!

[2019-02-17 21:14] nopara73 opened #1178 "Use Blockstream.info as Block Explorer on Website"
Blockstream has an onion endpoint, so we could check if the request arrives over Tor or over the clearnet and if it's over Tor, we could point the users to Blockstream's Tor v3 onion. Since Blockstream also do tx input and output numbering, coinjoins are also more readable through this explorer.

![image](https://user-images.githubusercontent.com/9156103/52919298-2e859100-3301-11e9-8157-291c0fc8c2

[2019-02-17 21:33] zero77 opened #1179 "[Feature Request] AppImage"
Can you please provide an AppImage, this is basically just a standalone portable executable for linux, that doesn't require installation.
Thanks

There are different ways to create AppImages:

[code]

Documentation:
https://docs.appimage.org/packaging-guide/ways.html
https://github.com/AppImage/AppImageKit/wiki/Creating-AppImages

[2019-02-17 21:53] wasabitestuser opened #1180 "Lost Coins when closing wallet during enqueuing process"
### General Description
Lost 0.1 coins whilst by mistake closing wallet during enqueuing process
and logs not showing these coins going anywhere

### How To Reproduce?

1. Enqueued a set of mixed coins and none mixed coins
2. close the wasabi wallet during the enqueuing processes

### Screenshots
none

### Operating System

Lubuntu 18.01

### Logs
available upon request

[2019-02-17 21:55] nopara73 commented on #1178
I think we can check if request is coming over Tor with something like this:

[code]

[2019-02-17 21:56] nopara73 commented on #1180
It's going to show up after it confirms.

[2019-02-17 22:01] wasabitestuser commented on #1180
its been over 48hours nothing showed up

[2019-02-17 22:02] wasabitestuser commented on #1180
I lost 0.1 coins by accidentally closing the wallet during enqueuing process

I loaded the wallet on another OS/comp

the coins showed as Zerolink 50 anonymity set under coinjoin tab (greentick)

under send tab it showed as unmixed not anonymous (red cross)

i proceeded to add the coins for enqueuing nothing happened even though i waited

i closed wallet and opened again and this time coins not sh

[2019-02-17 22:03] wasabitestuser commented on #1180
and its been over 48hours since i tried above and there have been plenty of confirms since

[2019-02-17 22:06] nopara73 commented on #1179
See also: https://github.com/zkSNACKs/WalletWasabi/issues/726

We had long discussions on Linux packaging, specifically on alternative, cross platform packaging options. At first we wanted to use Snap and be done with it, but after gathering some user feedback, many of them were unfamiliar with packaging systems outside of their respective ones, so we ended up deciding to use the "most common ones

[2019-02-17 22:19] zero77 commented on #1179
i can't see any mention of portable packages that don't require any installation or have dependencies, such as AppImage.

[2019-02-17 22:21] zero77 commented on #726
@nopara73
This may be of use, its about automating Launchpad packages from github using Travis CI.

https://docs.travis-ci.com/user/deployment/launchpad/

[2019-02-17 22:29] nopara73 commented on #1180
Oh, you are this guy from Reddit.

https://old.reddit.com/r/WasabiWallet/comments/aqgk9s/lost_coins/
https://old.reddit.com/r/WasabiWallet/comments/arpno0/serious_bug_lost_coins/

Let me look at your report one by one and see if we can progress forward.

There is one way this can happen: if the coin was confirmed, then it cannot happen, if the coin is not confirmed, then it can only happen if you

[2019-02-17 22:37] nopara73 commented on #1179
Regarding portable packaging on Linux, discussion happened in a dev meeting and on slack.
Regarding snap I started creating a package here: https://github.com/zkSNACKs/WalletWasabi/pull/964 which sparked the non-GitHub conversations.
Other than https://github.com/zkSNACKs/WalletWasabi/issues/726, some Linux packaging discussion happened on GitHub here: https://github.com/zkSNACKs/WalletWasabi/issu

[2019-02-17 22:40] zero77 commented on #1179
Thanks, i will have a look.

[2019-02-17 23:15] nopara73 commented on #1168
I'm not sure. @molnard wrote it with RX magic.

[2019-02-17 23:16] nopara73 commented on #1147
Good question. I'm still waiting for the replies to my question, if they won't arrive I close it.

[2019-02-17 23:21] nopara73 commented on #1174
Your Tor is not up to date.

We know that Ubuntu 16.04 uses outdated Tor that cannot query v3 onions, thus Linux Mint 18.3, neither, so the error message is correct.

Please either
1. Somehow update your Tor to a version that can handle v3 onions.
2. Kill or remove your Tor and let Wasabi to use its own.

https://github.com/zkSNACKs/WalletWasabi/issues/606

[2019-02-18 00:19] danwalmsley commented on #1163
most likely this will fix it https://github.com/AvaloniaUI/Avalonia/commit/a88c1473da0f05a409bb9c7160ff1a1800791702

if so will post a PR.

[2019-02-18 00:47] #1178 closed

[2019-02-18 02:44] lontivero commented on #1168
Yes, it is using the UI thread.

[2019-02-18 03:16] lontivero commented on #1154
It does work. I tried deleting the data folder and it worked perfectly well too. I can see it runs the tor instance in the recently created data folder with:
[code]
----
Someone asked for:

This is exactly that.

[2019-02-18 03:19] NicolasDorier commented on #1154
this is awesome. I am very surprised about why it works. For example, NBitcoin use reflection internally for message parsing. I was expecting the aggressive optimization to strip out reflection metadata and crash NBitcoin.

[2019-02-18 03:27] lontivero commented on #1154
I didn't test it. I just compile it, ran it and created a new Wallet (i tried with existing wallets too) and everything looked okay at a first glance. Of course if we agree with the concept then we would need to test it seriously.

[2019-02-18 04:55] NicolasDorier commented on #1154
Yeah, you should try to run the tests on this.

[2019-02-18 08:13] molnard commented on #1168
ACK. I will take a look at it!

[2019-02-18 08:48] molnard commented on #1147
Followed [instructions](https://github.com/zkSNACKs/WalletWasabi/issues/1147#issuecomment-461718909).

Send and CoinJoin tab not working. I get this error:

`Portable.Xaml.XamlParseException: 'Invalid markup extension attribute. It should begin with '{{' and end with '}}''`

Am I doing something wrong?

[2019-02-18 09:22] #1169 closed

[2019-02-18 11:16] wasabitestuser commented on #1180
no contraindication i wish i made a screenshot. But the send tab was contradicting the coinjoin tab

loaded wallet file

listen i tried this many times let all the history load up and it does not show this transaction

and my coins are still missing what do you suggest i do to retrieve them? im presuming its stuck on an intermediary address somewhere

[2019-02-18 11:28] #1147 closed

[2019-02-18 14:49] lontivero commented on #1162
I take it.

[2019-02-18 14:54] #1163 closed

[2019-02-18 21:40] danwalmsley commented on #1094
Ok this is pretty deep down inside avalonia deferred renderer.

https://github.com/AvaloniaUI/Avalonia/issues/2310

[2019-02-19 05:54] Transisto commented on #1180
You can import in electrum by using BIP39 and adding your password as the extra word.

If you lost a words it would take a while to find it manually as there are 2048 possible words.

If you want to recover your bitcoin without much fuss simply send all you can to a new wallet and send your wallet file either to @nopara73 or another trusted contributor willing to have a look. (Telegram?)

[2019-02-19 09:52] nopara73 commented on #1180
@Transisto There's no need to empty out the wallet, he could just send me his extpubkey and chaincode from his wallet file and I'd be able to figure out what happened exactly, but I want this privacy invading solution to be the last thing we'd do.

@danwalmsley @molnard @lontivero Any theories?

Yup, that's almost nothing, I was referring to hundreds of thousands.

I am 100% sure there's 0% chance

[2019-02-19 11:17] danwalmsley commented on #1180
@nopara73 any chance, that the coin is simply not shown in the ui, like its filtered out for some reason?

[2019-02-19 11:30] molnard commented on #1180
That particular case which you mentioned @nopara73 at least we had the original transaction. Is there any information about the transaction where the coin was lost?

[2019-02-19 13:36] nopara73 commented on #1058
I found and fixed a memory leak (I suspect it was not significant though.) Every time a new coin arrived on Linux or OSX an OS notification process has been created and it was never disposed.

[2019-02-19 16:18] nopara73 commented on #1180
@danwalmsley No, the same filer is used.
@molnard Maybe, for now I want to try to debug it in a privacy-conscious manner. If that fails, then it'll be up to @wasabitestuser's decision if he is willing to share his extpubkey with us so we can get to the bottom of it.

[2019-02-19 16:56] wasabitestuser commented on #1180
i have one word missing i wrote it down separately for security reasons and cant find it but i remember its position and that it starts with an "e" and possibly follow by an "n"

i do know my password however

currently trying all sorts of combinations

[2019-02-19 17:27] wasabitestuser commented on #1180
also i lost the money on the 14th feb and theres no mention of any transaction from that day

[2019-02-19 19:22] Transisto commented on #1180
Is 0.1 BTC a large portion of the funds you had in this wallet?
Do you want to keep the privacy of your wallet at all cost while attempting to find out what happened to this 0.1?

Here are the possible words starting with "en"
[code]

By importing your extpubkey (xpub) in another wallet you would get 2nd "opinions" on what happened to your funds. Privacy risk of doing this include linking those fu

[2019-02-20 08:20] wasabitestuser commented on #1180
how can i import my xpub on electrum i will 1st try to attempt all myself failing that i will share it

[2019-02-20 10:33] nopara73 commented on #1043
I messed around with it, but I could not reproduce.

[2019-02-20 10:33] #1043 closed

[2019-02-20 11:00] #769 closed

[2019-02-20 11:05] nopara73 commented on #876
It's still an issue:

![image](https://user-images.githubusercontent.com/9156103/53087607-d53b7e80-3507-11e9-9beb-1bd5cf31b4c5.png)

[2019-02-20 14:13] nopara73 commented on #1180
@wasabitestuser I am coding something that will make it easy for you. I'll get ready within a few hours.

[2019-02-20 14:16] nopara73 commented on #871
I realized what was your issue with this. We saved the pubkey as hex, not in a wallet import format. Fixing it right now and exposing it from GUI, to.

[2019-02-20 15:08] nopara73 commented on #871
Done. In the Wallet Explorer after Wallet Loading under "Advanced Wallet Info" tab you'll be able to find the extpubkey wif: https://github.com/zkSNACKs/WalletWasabi/commit/36c5f6e7d8d3ecf359ce91e4b6bdd715d8cc5a7a

[2019-02-20 15:08] #871 closed

[2019-02-20 16:14] lontivero commented on #871
@nopara73 this will display a `xpub` and I think many users could expect a `zpub`. I tried to add this feature to NBitcoin but @NicolasDorier says it is a mess because ledger/trezor/electrum all use different prefixes and some HW even use zpub for `m/49`.

However, Wasabi -as one of the first wallets supporting p2wpkh- can have an important role influencing the adoption of one of the existing sche

[2019-02-20 19:03] nopara73 commented on #1180
@lontivero I created an advanced info tab, but I am not able to use Wasabi with Electrum, only from mnemonic words. Would you mind to try it, too?

![image](https://user-images.githubusercontent.com/9156103/53117128-79deb000-354a-11e9-8852-5e5e89f6ec67.png)

[2019-02-20 19:13] nopara73 commented on #871
@lontivero I don't know. @NicolasDorier What should we do? This is what we have now:

![image](https://user-images.githubusercontent.com/9156103/53117640-a515cf00-354b-11e9-8da3-a08fbd22b304.png)

[2019-02-20 20:10] lontivero commented on #871
I was able to import my regtest readonly wallet with no problem generating a zpub: vpub5ZGDoayZ9GqgaCfvWRVBa2LAN4kJZNkYtEL4q3pMdhQqBeszzjdPcckYPFzwrkZuk8QBZMMXZCZDpgGjVryVpoXSpkp2vJFwZ1KudQ6GMJP

![image](https://user-images.githubusercontent.com/127973/53120738-48a5b600-3531-11e9-9c6e-24ec5cc411a2.png)

I did it with the code in this PR https://github.com/zkSNACKs/WalletWasabi/pull/1188

[2019-02-20 21:40] nopara73 commented on #871
Done! Thanks @lontivero

If you create an Electrum wallet like this, it'll work:

[code]

[2019-02-20 21:49] nopara73 commented on #1180
@wasabitestuser Here you go, your Electrum tutorial:

# Step 1: Get the latest Wasabi.

## Get The Requirements

1. Get Git: https://git-scm.com/downloads
2. Get .NET Core 2.2 SDK: https://www.microsoft.com/net/download (Note, you can disable .NET's telemetry by typing `export DOTNET_CLI_TELEMETRY_OPTOUT=1` on Linux and OSX or `set DOTNET_CLI_TELEMETRY_OPTOUT=1` on Windows.)

## Get Wasabi

Clone

[2019-02-21 13:42] #1044 closed

[2019-02-21 14:16] nopara73 commented on #926
@lontivero I think you are talking about clearing the clipboard after copy, which I agree with you, but what I meant is clearing the clipboard after (Send tab) paste, which I am on the edge.

[2019-02-21 15:14] nopara73 commented on #926
I realized that autocopy can be bad for privacy not only if the user wants to type its address manually but also if the user wants to share QR code, so I made sure autocopy can be turned off on the Receive tab, too, not only on the History tab.

![image](https://user-images.githubusercontent.com/9156103/53179222-971b8900-35f3-11e9-88cb-710aee6bba17.png)

[2019-02-21 15:16] #926 closed

[2019-02-21 16:29] robzon opened #1189 "UI got huge after 1.1.1 update on Ubuntu"
### General Description
The whole UI got scaled up on Ubuntu after the 1.1.1 update to the point where it won't fit on the screen.

### How To Reproduce?

1. Run 1.1.0
2. Run 1.1.1
3. Compare

### Screenshots
![screenshot from 2019-02-21 17-26-34](https://user-images.githubusercontent.com/6156/53184858-1ada7300-35fe-11e9-80f1-d749f7efa4ce.png)
![screenshot from 2019-02-21 17-27-00](https://user-im

[2019-02-21 16:36] nopara73 commented on #1189
It should be fixed now. Sorry about it, the UI backend had been changed on Linux.
Can you confirm the fix? https://github.com/zkSNACKs/WalletWasabi#build-from-source-code

[2019-02-21 17:44] robzon commented on #1189
Confirmed, it's fixed. Thank you!

[2019-02-21 18:23] #1189 closed

[2019-02-22 12:43] wasabitestuser commented on #1180
so i successfully managed to load the wallet on electrum and its only finds the small amount on my change address and no mention of any transaction from the 14th feb

looks like i lost the 0.1 coin for good somewhere on the coinjoin addresses

[2019-02-22 13:25] nopara73 opened #1190 "Speed up wallet by disabling address reuse"
Maybe we could speed up load time and everything else significantly if we wouldn't search for old things all the time if we wouldn't assume that addresses are reused. Of course there should be a setting that says "Enable address reuse" in case. I don't think our users are doing that anyway, since addresses disappear as soon as something is received.

[2019-02-23 06:26] Transisto commented on #1180
You cannot have lost 0.1 on feb 14th if there is no transaction on feb 14th as you know the most basic property of Bitcoin is that no bitcoin ever go unaccounted for. When you see only a small transactions it means they're the fees that didn't came back in your wallet (coordinator fees).

@nopara73 Did you see any evidence of loses when market this issue as #priority ?

[2019-02-23 09:06] nopara73 commented on #1180
All suspicion of money loss is priority. Consequently fake money loss requests are social DoS vulnerability against Wasabi team.

One thing I don't understand is how it was noticed that the money is missing. It can be two ways:

1. Money never arrived.
2. Money arrived, then sent out.

However @wasabitestuser states that

1. The money arrived.
2. There's no entry (neither in Wasabi, nor on Electru

[2019-02-23 11:23] nopara73 opened #1194 "Test on GalliumOS"
Logs.txt encoding issue?
https://old.reddit.com/r/WasabiWallet/comments/atqh5a/help_mistakenly_tried_queuing_btc_without_backend/

https://wiki.galliumos.org/Installing/VirtualBox

[2019-02-23 16:03] nopara73 commented on #1194
Both the logs and Tor works.

[2019-02-23 16:03] #1194 closed

[2019-02-23 16:04] nopara73 commented on #1194
![image](https://user-images.githubusercontent.com/9156103/53288778-2314e880-378d-11e9-9f2f-3dfd6d05b1d2.png)

[2019-02-23 16:20] lontivero commented on #1194
I started using computer since they gave you electric shocks and the monitor were green. I have never seen a broken text file.

[2019-02-23 16:47] nopara73 commented on #1128
Resolved already.

[2019-02-23 16:47] #1128 closed

[2019-02-23 16:48] nopara73 commented on #951
I guess we've done most that we could do here.

[2019-02-23 16:48] #951 closed

[2019-02-23 16:50] #1174 closed

[2019-02-24 11:18] the-metalworker commented on #1174
I thought since my Tor Browser was up to date I would be good, but `tor --version` showed an out of date package installed on my system I installed from the latest Tor from source and now Wasabi turns on without this error. However another error has shown itself, so I will open a new issue.

[2019-02-24 16:55] wasabitestuser commented on #1180
@nopara73

where do i send it privately ?

[2019-02-24 18:21] nopara73 commented on #1180
Do you know how to use PGP? adam.ficsor73@gmail.com https://github.com/zkSNACKs/WalletWasabi/blob/master/PGP.txt

If not, then post it to cryptobin (https://cryptobin.co/) set a password and to burn after reading and send me the password to the above email address.

[2019-02-26 17:37] #1162 closed

[2019-02-27 05:25] fung1ble opened #1195 "GUI crashes after sending 4 transactions in a row"
### General Description
I was sending out multiple payments one by one (from wasabi) and on the fourth send the gui crashes
### How To Reproduce?
I've tested this twice now. I was copying and pasting addresses from electrum. No utxos were combined and they were sent one right after another (I wasn't going super fast or anything).  After sending the 4th time the GUI just disappears. Its still showi

[2019-02-27 08:13] fung1ble commented on #1195
I just tested it again, and this time selected multiple inputs the 3 and 4th go, and it didn't crash.  Then I tried just single inputs and it didn't crash, so I don't know if this was just some sort of strange situation thing or what. I'll try to exit and come back in and just do single input sends and see what happens.
I'll look around and see if I can figure out how to up the verbosity of the lo

[2019-02-27 09:53] nopara73 commented on #1180
So I received your extpubkey and this is what I see. Luckily the transaction history is only a couple of entries so there's no need to go through too many things.

1. `X + 0 days` Wallet received `0.AB.... BTC`. There are transactions before that, but it was roughly empty at this point.
2. `X + 1 days` Wallet mixed.
3. `X + 1 days` Wallet sent out `0.0B... BTC` to an old type of address (1xyz).
4.

[2019-02-27 10:10] nopara73 commented on #1195
Thanks, you cannot imagine how much I appreciate that someone is using the Bug template, it is so much clearer like this.

It depends if you are using Wasabi from source code then yes, I just merged a PR for that. (https://github.com/zkSNACKs/WalletWasabi/pull/1184) Otherwise not yet. However crashes don't get logged, since the crash happens before the logging, so I wouldn't go down on this route.

[2019-02-27 20:49] lontivero opened #1198 "Mempool filters"
This is my proposal for querying the mempool during Wasabi's wallet loading time.

## Client/Server Interation

* User opens Wasabi
* Wasabi request to the server the mempool filters and keep them in memory
* User loads a wallet .json file
* Wasabi query the filters with the wallet's scriptPubkey
* In case any filter returns a match Wasabi request all the txID corresponding to the matching filter

[2019-02-27 21:57] nopara73 commented on #1198
The only thing the client want to know when the wallet gets opened if unconfirmed transactions those were saved to the disk are in the mempool or not. So it's enough if the client only receives a bloom filter of txids. False positives are not an issue either, since they should always match anyway, except in that very rare case when a tx got purged from the mempool for some unexplainable reason. So

[2019-02-27 22:04] lontivero commented on #1198
Oh i got it. So, it is okay to use a BF with the txids. I will do some math to know how big the filter should be in this case.

[2019-02-28 01:16] fung1ble commented on #1195
Thanks for the prompt reply. I just tried to duplicate it again after rebooting my system and it didn't crash this time. I intentionally didn't start a coinjoin first so I could get it as reproducible as possible. Maybe this was just a weird one or two off thing that will be fixed with your new merges. I'm going to try it a few more times after starting a join and if it doesn't crash again, I'll c

[2019-02-28 02:25] fung1ble commented on #1195
Well after further test, I can't get it to crash again, so I guess it was just a strange circumstance or something.

[2019-02-28 02:26] #1195 closed

[2019-03-01 03:08] lontivero commented on #1198
In the worst days of December 2017 there were 260,000 transactions waiting in the mempool (almost 300MB mempool size). A bloom filter big enough for this number of transaction requires 1.04MiB. However in the second worst moment there were only 100,000 transactions in the mempool what would require a 400KiB bloom filter.

I would do the following:
[code]

[2019-03-01 12:49] wasabitestuser commented on #1180
i had 0.1 coins 0.5 was mixed 0.5unmixed i sent both to be mixed and thats when i lost the 0.1 and history is not showing where my money went to

[2019-03-01 12:51] wasabitestuser commented on #1180
and your looking at old transactions which obviously make sense as thats not the batch of coins where i lost, i lost the coins on the 14th Feb look at that batch of coins

[2019-03-01 13:02] wasabitestuser commented on #1180
im questioning my own sanity at this stage i wish i done a screenshot but i had 0.1 on my wallet and it went missing and i remember i did not spend it as half of it was not mixed

[2019-03-01 13:20] DorothyRMartin commented on #945
I have run Wasabi without issues for a while, but anytime I upgrade, I end up with issues. Usually I find because of this stupid windows shit this whole program seems to be built on. Why the hell it isn't build on somthing with a strong footing i'll never figure out.

Anyway, my wasabi was running fine, until the last upgrade, which bought about these errors.
I completely removed wasabi, and t he

[2019-03-01 13:52] nopara73 opened #1199 "Investigate possible wallet loading get stuck"
![image](https://user-images.githubusercontent.com/9156103/53642232-92795500-3c31-11e9-81d4-dc589e75e536.png)

[2019-03-01 14:55] mpolavieja opened #1200 "Wasabi wallet crashing on Windows 7 64bit"
### General Description
When pasting my password in the send screen or in the Coinjoin screen.  Wasabi just crashes.  Version 1.1.0 (I´ve tried to upgrade to version 1.1.1. but it doesn´t work for me at all)

### How To Reproduce?

1. Go to Coinjoin or Send tab
2. Prepare a transaction or a Coinjoin
3. Paste your password into the password textbox

### Operating System
Windows 7 Professional 64 bi

[2019-03-01 14:59] mpolavieja opened #1201 "Black screen in Version 1.1.1 in Windows 7 Professional 64bit"
### General Description
After installing desktop wasabi version 1.1.1 for windows, the wasabi window is completely black.  It is responsive (I can drag the window around, and I can close / minimize / maximize it by guessing where to click) but it is completely black (it flashes in blue for less than a second when starting up).

### How To Reproduce?

1. Install version 1.1.1
2. Launch wasabi

###

[2019-03-01 14:59] mpolavieja commented on #1201
I rolled back to version 1.1.0

[2019-03-01 16:37] molnard commented on #1200
I will help you fix this but I can do it only in the newest version. Can you compile from source code?

[2019-03-01 16:53] molnard commented on #1201
We have upgraded the GUI engine since then. Compiling from source will solve it. I will check that on my VM and let you know.

[2019-03-01 17:10] nopara73 commented on #945
@danwalmsley Could you look at this? CI is failing too.

[2019-03-01 17:22] nopara73 commented on #1200
@mpolavieja Note when you compile, then dont load the wallet, but use the new Test Password feature, because if you load it you it will replace the extpubkey with a format that other wallets understand, too, but old Wasabi doesnt which will lead you to not be able to load the wallet with current released versions anymore.

[2019-03-01 17:26] nopara73 commented on #1201
I cannot reproduce it. It works properly for me on Windows 7 Professional.

![image](https://user-images.githubusercontent.com/9156103/53655031-125dea00-3c47-11e9-9481-3ba1c7e6c4de.png)

[2019-03-01 17:48] nopara73 opened #1202 "Resote fails"
On any computer that didn't have Wasabi previously installed. See error messages here: https://github.com/zkSNACKs/WalletWasabi/issues/945#issuecomment-468662462

[2019-03-01 17:49] nopara73 commented on #945
I tested it in a fresh Windows 7. Restore fails on any computer that didnt have Wasabi previously installed. This issue is replaced by this one, since it is unrelated: https://github.com/zkSNACKs/WalletWasabi/issues/1202

[2019-03-01 17:49] #945 closed

[2019-03-01 17:54] nopara73 commented on #1200
Also we have an issue with restoring right now, hopefully it'll solved in a few hours: https://github.com/zkSNACKs/WalletWasabi/issues/1202

[2019-03-01 17:57] nopara73 commented on #1201
I also want to test it with doing it from source, because that may fix it. If I remember well, @danwalmsley's magic UI engine change happened after 1.1.1 was released, so that may fix it, but also I never made sure it works on win7. So anyway, to progress further on this issue, Wasabi must be compiled from code on your local machine, but for that the restore issue must be fixed: https://github.com

[2019-03-01 18:22] #1202 closed

[2019-03-01 18:25] nopara73 commented on #945
Issue fixed: https://github.com/zkSNACKs/WalletWasabi/pull/1203

[2019-03-01 18:26] nopara73 commented on #1200
Restore issue fixed, you can try it: https://github.com/zkSNACKs/WalletWasabi/pull/1203

[2019-03-01 18:26] nopara73 commented on #1201
Restore issue fixed, I didn't try it on win7 yet. Will comment when I did. https://github.com/zkSNACKs/WalletWasabi/pull/1203

[2019-03-02 09:33] nopara73 commented on #1180
Same here 😄

I sent you an email attached a screenshot with balance calculations.

[2019-03-02 09:36] nopara73 commented on #1198
It looks doable for me. I guess it's concept ack if there's no other concerns.

[2019-03-03 04:23] lontivero commented on #1195
I've tested it too and it was not possible to reproduce, it worked okay for me.

[2019-03-04 09:55] nopara73 commented on #1009
It looks like this issue is not going away by itself :) https://old.reddit.com/r/WasabiWallet/comments/awmcwe/it_would_be_nice_to_have_qr_code_for_receive/

I think we should add a "Show QR" to the right click menu that and see if the issue still persist.

[2019-03-04 10:03] mpolavieja commented on #1201
I've tried to build from source but got too many errors :(   I am not used to build from source.

[2019-03-04 11:36] nopara73 commented on #1201
Tested current master on win7. It works well. @mpolavieja I create a release for you now with the current master so you can test it.

[2019-03-04 11:41] #1200 closed

[2019-03-04 11:56] nopara73 commented on #1201
@mpolavieja I created a release for you and uploaded it to google drive.

https://drive.google.com/file/d/1K3ja9SAqfk-p8u_BpaGbruXNRRhF0q_a/view?usp=sharing

Just to be sure, at installing make sure when the popup comes it does say it was signed by zksnacks and it doesn't say something like "unknown publisher."

Wrong example:

![image](https://user-images.githubusercontent.com/9156103/53732000-cc

[2019-03-04 14:53] tzawlxih opened #1205 "MainNetFallbackBackendUri is not working"
While your onion website is offline, fallback was not working.

after replacing the MainNetBackendUriV3
to that what is specified for MainNetFallbackBackendUri,
wallet successfully conected.

[2019-03-04 15:15] nopara73 commented on #1205
Fixed, it'll be in the next release: https://github.com/zkSNACKs/WalletWasabi/commit/3a95601f5b0ec3a50d61c45a5ab4590a89a1525d

Also the Tor network (or rather the bridge that was down) is up again, so the onion is working, too.

As a context. In the beginning we experienced about 12h Tor network downtime every month so we decided when this happens we start querying the clearnet Uri over Tor, becau

[2019-03-04 15:15] #1205 closed

[2019-03-04 15:19] tzawlxih commented on #1205
@nopara73 is that fix on master? Because i was trying it on build from master branch.

PS! Thank you for fix.

[2019-03-04 15:42] mpolavieja commented on #1201
I´ve tried current master on another win7 professional 64bit machine and it works well.   I´ll try the release you´ve created for me in my other computer this evening.  Thank you very much.

[2019-03-04 15:45] nopara73 commented on #1205
Yes, it's on the master, but as I said, the Tor issue went away already by itself, so there's really no need for the master.

Note also that if you build the master now and you load your wallet you won't be able to go back to the released version since the format for the extpubkey changed in the wallet file to the traditional form for better wallet intercompatibility.

[2019-03-04 18:16] mpolavieja commented on #1201
I´ve tried the special release and I got the same result (black screen).  Maybe this is a problem on my home computer.

[2019-03-05 08:15] nopara73 commented on #1201
Could you run the version from command line with `wassabee --loglevel=debug`? Maybe you see some error?

[2019-03-05 09:13] mpolavieja commented on #1201
These are the logs from running on command line:

FS:
SKSL:
   1    #version 100
   2    in half4 vcolor_Stage0;
   3    void main()
   4    {
   5            half4 outputColor_Stage0;
   6            half4 outputCoverage_Stage0;
   7            {
   8                    // Stage 0, DefaultGeometryProcessor
   9                    outputColor_Stage0 = vcolor_Stage0;
  10                    outputC

[2019-03-05 11:09] #996 closed

[2019-03-05 11:11] nopara73 commented on #1201
This is quite strange. @danwalmsley does it tell something to you?

[2019-03-05 12:58] nopara73 opened #1206 "Test the File/Open and particuralry the UI on Ubuntu"
Something is off. @lontivero can you take a look at it?

[2019-03-05 15:05] SamuraiXa opened #1207 "Add Statistics Wallet Tab"
Hi,
It would be nice if we had the ability to see the total BTC amounts that went in and out of the Wasabi wallet, as "Total Received" and "Total Sent".
Thank you

[2019-03-05 16:41] nopara73 commented on #1020
I fixed it. We already have the data but when I initialized the coinjoin client I just subscribed for synchronizer responses, rather than initializing with the last synchronizer response.

[2019-03-05 16:42] #1020 closed

[2019-03-05 16:43] #1206 closed

[2019-03-05 18:00] #776 closed

[2019-03-05 20:42] nopara73 commented on #1207
ACK. Should find a place for it somewhere.

[2019-03-05 22:25] box42d opened #1209 "Backend is not connected"
debian 9.8
Tor is running Backend is not connected  peers 8 price /

[2019-03-06 11:15] nopara73 commented on #1209
This was a common issue back then. We noticed that when a Tor guard misbehaves half of the Tor network dies like this. We noticed that even if the client doesn't see the onion, it still see at least one exit node, so it can connect to the traditional URL, thus we implemented this fallback: https://github.com/zkSNACKs/WalletWasabi/issues/912

This fixed the issue, but somewhere along the line it's

[2019-03-06 11:15] #1209 closed

[2019-03-06 16:54] nopara73 commented on #1207
I was wondering bundling it to a Statistics wallet tab with the following information:

- Balance (BTC and USD current price)
- Total Received (BTC and USD current price)
- Total Sent (BTC and USD current price)
- Total CoinJoined (BTC and USD current price)
- Total equal amount CoinJoined (BTC and USD current price)
- Total Network And Coordinator Fees Paid In CoinJoins (BTC and USD current price

[2019-03-06 16:58] nopara73 commented on #1199
I reviewed the part of the code, but I am not able to find any code smells. Maybe the network connection infinite loop issue we recently fixed caused it? https://github.com/zkSNACKs/WalletWasabi/issues/1169

[2019-03-06 16:58] #1199 closed

[2019-03-06 17:01] nopara73 commented on #1058
This is mostly fixed. Two more things we can do about it.

- [ ] Go through all UI tabs and dispose everything. There are still things not disposed properly, although they are mostly used only once in the lifetime of the application, it is a good practice to dispose anyway.
- [ ] @danwalmsley said there's one memory leak in Avalonia that they are working on.

[2019-03-06 19:25] lontivero commented on #1201
FYI there is another user reporting the same problem https://www.reddit.com/r/WasabiWallet/comments/axpcgp/black_screen/

[2019-03-06 20:40] box42d commented on #1209
hey ther i just build it from from surce code but its the same  i dont now why on ubuntu windows and mac it works just fine only on debian i want connected HMM

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, March 6, 2019 12:15 PM, nopara73 <notifications@github.com> wrote:

[2019-03-07 10:07] nopara73 commented on #1209
I tested on my Debian Virtual Machine. It works well for me there, too.

There's one more thing you can try. First do a `git pull && git submodule update --init --recursive` so you're on the latest. Then in the settings turn off Tor and restart Wasabi. What happens then?

Finally turn back Tor, restart Wasabi and check the TorLogs and the Logs if you see something strange. (File/Open/TorLogs-Logs)

[2019-03-07 13:19] nopara73 opened #1211 "What is the difference between RPC `addnode` and Config `whitelist`?"
To answer this question is the very first step to resolve this issue: https://github.com/zkSNACKs/WalletWasabi/issues/408

[2019-03-07 13:35] nopara73 commented on #1198
@lontivero Can you write production ready helper code for me with the bloom filters?

### TxId Related

- Function that gets many txids and gives back a bloom filter.
- Function that clears bloom filter.
- Function that adds txids to bloom filter.
- Function that matches txid against bloom filter.

This will be useful to get from the server on the unconfirmed txids after Wasabi starts up.

### Rem

[2019-03-07 14:15] nopara73 commented on #474
@lontivero Can you try to take this? Since then you've familiarized yourself with how Wasabi accepts transactions to the mempool, so I think if you can figure out the RBF things, then you'll be able to take this. I personally was not able to figure out all the rules of RBF, so I'm hopeful you'll be luckier.

[2019-03-07 19:18] lontivero commented on #1198
@nopara73 this is not necessary because the NBitcoin's BloomFilter class already has the interface for all this:

[code]

No possible. Just create a new one.

Already available (see the example above)

Already available:

[code]

No, it is not possible.

[2019-03-07 19:20] jordankittle commented on #1201
Same problem here

[2019-03-07 19:20] lontivero commented on #474
Sure. (btw, your new picture is awesome).

[2019-03-07 19:54] lontivero commented on #1211
They are different and can work together.

* `addnode` adds a new node to the list of peers, will connect to it and will try to keep connected to it even when there could be some reasons to disconnected it. For example: during synchronization, when a node is not providing blocks it can be disconnected but it is not chosen for disconnection if  it was added manually with `addnode`, they are not dis

[2019-03-07 20:22] nopara73 commented on #1211
I see. So only `whitelist` concerns us then.

[2019-03-07 20:22] #1211 closed

[2019-03-07 20:45] box42d commented on #1209
hey ther
Yes it working now at once thank you any way

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, March 7, 2019 11:07 AM, nopara73 <notifications@github.com> wrote:

[2019-03-08 03:13] lontivero opened #1214 "Uses RPC cookie file"
Since `rpcuser` and `rpcpassword` are deprecated we should use the cookie file or `rpcauth` instead.

[2019-03-08 13:56] #1214 closed

[2019-03-08 15:15] nopara73 commented on #763
Just a quick summary on the status I recently wrote about this issue for anyone looking at it:

[2019-03-08 18:41] nopara73 opened #1217 "Optimize CJ query at startup"
@lontivero, can you optimize this code? It's getting a cumbersome on the mainnet server.

https://github.com/zkSNACKs/WalletWasabi/blob/ad6ce5d009a8c683b02c9f63c85557366dbd6e49/WalletWasabi.Backend/Program.cs#L55-L69

[2019-03-08 19:14] lontivero commented on #1217
Sure!

[2019-03-09 05:50] lontivero commented on #474
Btw, it seems we didn't do a good job handling replacement transactions:

![image](https://user-images.githubusercontent.com/127973/54066828-c9450180-4215-11e9-96c1-c5b57fccf654.png)

You can see two transactions, the first one is the tx that signaled RBF (unconfirmed) and the next one is the replacement tx (confirmed).

[2019-03-09 13:10] nopara73 commented on #474
I actually remember that was working, it's just there were a bunch of "optimizations" since then 😄

[2019-03-10 11:53] nopara73 commented on #1217
Not good enough. It still takes minutes for the server to load. (I'm starting to think it's not because of this though, but this being instant at least helps.)

[2019-03-10 11:55] nopara73 commented on #1217
[code]

So it takes 1m 26s for the server to start.

[2019-03-10 13:04] nopara73 opened #1220 "Allow running parallel `bitcoind` at tests"
@lontivero I think you've experienced it, too. I think I wasted so much time every time when I killed the tests and then I had to manually kill `bitcoind`, too because if I don't then tests will fail next time because of some `lock` stuff.

Can you make sure the NodeBuilder or whatever that class is called starts parallel bitcoind properly? Of course the best would be if bitcoind would be automati

[2019-03-11 03:06] lontivero commented on #1220
Sure. I will do it.

[2019-03-11 03:28] Transisto opened #1222 "Transactions show as unconfirmed when they are. (13+ blocks)"
![image](https://user-images.githubusercontent.com/388716/54098491-3c23b900-438b-11e9-89c9-ca1da1b83a1b.png)

![image](https://user-images.githubusercontent.com/388716/54098517-4e9df280-438b-11e9-8cac-00a047f416f8.png)

Solution, close wallet and reopen.

Edit: Tried closing all affected tabs and re-opening them, didn't do.

[2019-03-11 03:47] lontivero commented on #1222
@Transisto once a block is mined the backend is notified and it creates a compact filter for it. Wasabi client ask for new compact filters frequently to the backend and download them when there are new filters available. After that the client checks whether the filter matches any of the wallet's addresses and in case it does it requests the corresponding full block from a random remote peer and pr

[2019-03-11 05:58] Transisto commented on #1222
Yes, yes, left it on for almost a full day and waited at least 13 blocks. 2+ hours

[2019-03-11 10:47] nopara73 opened #1223 "Ubuntu Disco Dingo "No usable version of the libssl was found""
Original report: https://old.reddit.com/r/WasabiWallet/comments/aznozl/issue_installing_on_ubuntu_1904_wasabi_version_111/

@lontivero Can you take a look at this?

[2019-03-11 14:03] nopara73 commented on #1222
That's quite a bug. Whenever you reload a wallet all the blocks are checked again, (not very efficient yet but should at least make sure it doesn't happen) so I'm not sure if restoring should work better.

1. Could you try restoring the wallet (you don't have to delete the old one simply specify a different wallet name at restore.)
2. By any chance if there's only a few transactions and it's not p

[2019-03-11 17:47] Transisto commented on #1222
@nopara73 Like I said "Solution, close wallet and reopen."

That fixed it.

Will report here if it happen again.

[2019-03-11 17:56] Transisto opened #1224 "Warn of address reuse?"
Someone is dusting old transactions I see a privacy risk of someone spending that dust all at once without considering how many addresses it's linking together.

Also the actor managed to trick wasabi privacy set calculation into thinking it was part of a CJ

![image](https://user-images.githubusercontent.com/388716/54146291-07a11300-4406-11e9-932c-95ab2b4107d4.png)

I suggest we print a warning i

[2019-03-11 18:50] lontivero commented on #1224
The simplest solution could be do something very simple like:

[code]

A better approach could be to detect whether a coin is uneconomical (the coin_value/network_fee rate under some thershold would be considered dust) the problem is we don't know the transaction fee when we receive it.

[2019-03-11 19:18] danwalmsley commented on #1201
@kekekeks is this some kind of gpu compatibility issue?

[2019-03-11 19:34] danwalmsley commented on #1201
@mpolavieja @jordankittle can you report what gpu you have and what drivers / driver version you have?

[2019-03-11 22:07] Transisto opened #1225 "Protect anonymity set meter from coin received from fake / malicious Coinjoin."
Someone sent 50cent worth of tracking dust to old CJ addresses

Those UTXO are marked as having an anonymity set of 253 giving them a false sense of security.

253 times 0.0001 BTC

Suggestion :
Received funds should be part of sent funds from the same seed to have their anon-set considered as more than 1 by the UI.

[2019-03-11 22:12] Transisto commented on #1224
Warn when spending uneconomical dust can be enforced at the send function.

Could also be labeled as dust but it's not the same kind of dust we're talking about here. it's 50 cent worth that more than cover a transaction fee.

The goal of the dust here is to increase the chance that you'll spend it along so the attacker might want to make it more than economical but attractive to spend.

What's pr

[2019-03-11 22:34] Transisto commented on #1224
Never spending dust can be enforced at the wallet, but the goal of the dust here is to increase the chance that you'll spend it so making it economically viable or not is of no importance to the attacker.

To the contrary the attacker might want to make it attractive to spend.

What's protecting us from this is that the attacker would need to send "dust" to every same size utxo and do so on multip

[2019-03-11 23:55] FrancisPouliot opened #1226 "Add ZPUB address to wallet files"
### Is your feature request related to a problem? Please describe.

We derive BECH32 addresses from a ZPUB to generate Bitcoin Payment Requests.

When we go in the wallet files to get the ZPUB from Wasabi to import into our xpub derivation tool (the tool we use is a custom derivation tool in cyphernode.io (https://github.com/SatoshiPortal/cyphernode/blob/a3e1aa1cd0607a12ea725654eb91f30530333219/pr

[2019-03-12 00:13] lontivero commented on #1226
We are releasing that feature in a couple of days, maybe this same week. Look at the image in following issue commen. https://github.com/zkSNACKs/WalletWasabi/issues/871#issuecomment-465714876t

Additionally we display the derivation paths and public key for each address and utxo.

[2019-03-12 00:40] FrancisPouliot commented on #1226
Great work! Ping me again when it's done and please point me to the donation address :)

[2019-03-12 00:52] lontivero commented on #1207
Confirmed balance & unconfirmed balance?

[2019-03-12 02:28] FrancisPouliot commented on #871
I added a 0.05BTC bounty for this issue  (here: https://github.com/zkSNACKs/WalletWasabi/issues/1226) that I will give to general wasabi wallet dev team (not sure exactly how to do this) once completed. I know it's already been done, but I was going to donate anyway :D Thanks!

[2019-03-12 06:29] mishax1 commented on #1207
No. Total input/output.

On Tue, Mar 12, 2019, 02:52 Lucas Ontivero <notifications@github.com> wrote:

[2019-03-12 09:12] nopara73 commented on #1226
Actually in the wallet file we use xpub, because there's not only no consensus on zpub, but also wallets are using these in a terribly inconsistent way.

Nevertheless, what's in the wallet file should not concern you. With the next release, which I want to do in a few days (or here on the master branch) there's an advanced info tab, which will show both the xpub and the zpub and one can choose whi

[2019-03-12 09:12] #1226 closed

[2019-03-12 09:15] nopara73 commented on #1226
![image](https://user-images.githubusercontent.com/9156103/54188337-bea59900-44af-11e9-9ac9-a9978eb1cc3e.png)

[2019-03-12 09:21] nopara73 commented on #871
Too late, it's already implemented you have to keep your money: )

[2019-03-12 10:52] nopara73 commented on #1207
That's way trickier, than you'd think at first glance. I was doing it in HiddenWallet and I decided to drop it here, because it's a mess.
There are a bunch of nuances, for example if you'd go with the "developer decision", as confirmed coins amount sum and unconfirmed coins amount sum that'd confuse the users (see Bitcoin Core.)

[2019-03-12 10:57] nopara73 commented on #1225
https://github.com/zkSNACKs/WalletWasabi/commit/65b3fd776f7aa238912b4241399c87f96bac0d91

I introduced an uncontroversial new heuristic:

They can still play it out if they want, but it'd make the current attack to be anonset 1.

I will further look into what kind of uncontroversial blockchain analysis heuristics I can add that improves this edge case.

[2019-03-12 10:57] #1225 closed

[2019-03-12 10:59] nopara73 commented on #1225
Could you rephrase this? I'm having trouble decyphering it.

[2019-03-12 11:00] nopara73 commented on #1222
Sorry, I missed that.

[2019-03-12 11:21] nopara73 commented on #1224
@lontivero I did what you suggested, but this is not a solution, it's just a bit of improvement of the situation.

[2019-03-12 16:56] otaviobps opened #1227 "Coins get queued, but not registered"
I started with a coinjoin with only one input. It went thru, and after some rounds I have multiple outputs, some of them less than the minimun amount required to be queued for coinjoin.

I'm trying to coinjoin some of this outputs, because their privacy level are low. I select them and they get queued (their sum is higher than the minimum amount), however they never get registered. On the other ha

[2019-03-12 16:57] Transisto commented on #1225
If a received UTXO's inputs didn't contain one of our address don't consider it as being a valid CJ and mark anon-set as 1

We need a solution to detect valid CJ starting from a simple seed. Right now Wasabi seems to check the last related transaction to determine a UTXO's anon-set.

The mitigation you've proposed is very easy to fool and only cost 1 more input per output to the attacker.
In the 2

[2019-03-12 16:59] FrancisPouliot commented on #1226
Haha thanks! I noticed the bounty page has been taken down. Better not ask questions I guess LOL

[2019-03-12 17:30] hubnix commented on #1201
Hi, I am in the same situation: black screen on Windows 7 professional.
even with the "special release" compiled for mpolavieja

I hope this help you. these are is the infos of my gpu:

![gpu](https://user-images.githubusercontent.com/48490290/54221674-47debf00-44f4-11e9-8ecb-1e8b6e32082e.gif)

thanks

[2019-03-12 17:40] Transisto commented on #1227
![image](https://user-images.githubusercontent.com/388716/54222591-1c47de80-44cc-11e9-9cf5-ed08b5109f87.png)

logs.txt might tell us useful information about the problem.

[2019-03-12 17:52] mpolavieja commented on #1201
Here is mine

![image](https://user-images.githubusercontent.com/17677608/54223491-e7ea1780-44f7-11e9-9757-0ce0ad92a15a.png)

[2019-03-12 17:55] otaviobps commented on #1227
Ok, so something strange. If I try to enqueue all outputs, just one (that has anonimity set 63) gets registered. All others only get queued:

[code]
But it never enters a round.

If I only try to enqueue non private outputs, two gets registered, and five not:
[code]

I will wait until the next round to see if they get mixed or not

[2019-03-12 18:12] otaviobps commented on #1227
Apparently the coins are not getting registered because they might already be spent. However, these are coinjoin changes

[code]

[2019-03-12 18:32] Transisto commented on #1227
Only one get registered per running client to hopefully have a more reliable expectation of the real anon-set. I'd say that Wasabi using so much ram kinda help enforce this, lol.

I also got many those puzzling 60 second errors, always instantly flowed
`2019-03-11 17:17:52 INFO CcjClientState: Round (5259) removed. Reason: It's not running anymore.
2019-03-11 17:17:52 INFO CcjClientState: Round (5

[2019-03-12 18:36] otaviobps commented on #1227
Are you sure that only one gets registered? Well, I didn't find the Wasabi documentation, but I guess this is not correct:

<img width="409" alt="image" src="https://user-images.githubusercontent.com/28715087/54226318-53be8700-44dc-11e9-9e03-b25eefa649f2.png">

Right now two outputs are registered.

Nope, the sum is greater. I definitely have to study more about how Wasabi works

[2019-03-12 20:01] danwalmsley commented on #1201
@hubnix @mpolavieja thanks that is most helpful. Could you also scan your machines to see if there are any files called:
libEGL.dll or libGLES.dll

and post the location of these files.

[2019-03-12 21:11] mpolavieja commented on #1201
I have like 17 different versions of the file libEGL.dll in many different locations.   I don´t have the file libGLES.dll

![image](https://user-images.githubusercontent.com/17677608/54236406-c0a14380-4513-11e9-9b40-0c8f2cd92f80.png)

[2019-03-13 01:00] hubnix commented on #1201
I have libEGL.dll, but not libGLES.dll
`
 Directory di C:\Users\x\AppData\Local\Confide\app-1.5.11

06/05/2018  18:06            87.032 libEGL.dll
               1 File         87.032 byte

 Directory di C:\Users\x\AppData\Local\exodus\app-1.61.1

09/10/2018  19:28            25.096 libEGL.dll
               1 File         25.096 byte

 Directory di C:\Users\x\AppData\Local\exodus\app-1.63.1

01/1

[2019-03-13 04:43] nostitos opened #1228 "Soft hide wallet balance."
I find wallet manager to be taking a lot of space on the side. I don't what you plan to put there but I certainly don't like that it expose our balance at all times.

Since Wasabi is an app that we leave open for a long time while mixing I find it annoying that the balance is visible on any tabs.

What about showing on mouse over?

![image](https://user-images.githubusercontent.com/48504624/542541

[2019-03-13 09:23] john951 opened #1229 "Impossible to tell if local Bitcoin Core client data is used"
### The Issue
When Wasabi Wallet is started there is no way to tell if the wallet is using the Bitcoin Core client data or not.

### Expected Behaviour
Wasabi wallet shows in bottom status bar that it's connected to local Bitcoin Core client (same way it shows it's connected to Tor).

### Additional Notes
Running it on Ubuntu 18.04 LTS using the provided Debian package (Wasabi-1.1.1.deb).

[2019-03-13 09:32] nostitos opened #1230 "In Coinjoin tab, remove "Select all private" add "Select below target""
must be rare to want to remix most private coin first.

[2019-03-13 09:55] mikeborghi2 commented on #1035
Just saw this post and thought i'd chime in.

First off
1. it'd be great to have the derivation scheme documented in a more accessible place if it isn't already (I couldnt find all the details but could probably guess after going into the source code).
With projects in the bitcoin space often dying out as new solutions emerge, its important to have resources for people to get their coins from lega

[2019-03-13 11:24] nopara73 commented on #1230
1. The Target turned out to be too confusing for many users, so we would move to the direction of removing that rather than building things on top. That being said it's unlikely we'll remove it, there's really no better alternative in our minds at this point.

2. The other thing is that selects are used in "Send" too, which has no Target, which would just result in even more confusion.

3. You can

[2019-03-13 11:24] #1230 closed

[2019-03-13 11:27] nopara73 commented on #1224
I added Dust protection. I hide the dust altogether. It may be a heavy handed approach, but looking at how terribly users are doing with the dusts, there's a chance of mass deanonymization here, so I believe it's necessary. Please test if all works as expected, I want to release ASAP.

[2019-03-13 11:27] #1224 closed

[2019-03-13 11:41] nopara73 commented on #1225
We should replace our `Coins` HashSet datastructure with a Graph.

[2019-03-13 11:46] nopara73 commented on #1227
This is normal. It just means, we keep the coin on the waiting list when a round succeeds until the transaction arrives from the connected peers, because we don't want to believe the Coordinator that he really propagated a transaction.

Regarding the other things, I'll postphone decyphering the mysteries of this issue for later. @lontivero may take a look at it, too.

[2019-03-13 11:48] nopara73 commented on #1228
ACK. We could do it in a way that is done with the fee estimation. It's not very intrusive, and very few people will want to use it, so when the user clicks on the balance it goes to #### and back clicking it again.

[2019-03-13 11:53] nopara73 commented on #1035
@mikeborghi2 Actually the next version has an advanced info tab so I think that'll suffice your concerns:

![image](https://user-images.githubusercontent.com/9156103/54276886-b2dcd400-458e-11e9-9df9-6175de221beb.png)

It does, except on the testnet, for testnet, mainnet is used. That's why we call it "BIP39-ish" derivation.

[2019-03-13 11:57] nopara73 commented on #1229
ACK. Well, you can tell by looking at the logs where the block is downloaded from, but generally this is one of the issue with "partial bitcoin core integration".

There are some thoughts about how we plan to do the user feedback here: https://github.com/zkSNACKs/WalletWasabi/pull/1197#issuecomment-468905128

[2019-03-13 12:52] otaviobps commented on #1227
An update about the case. I unselected all coins and then selected only non-private coins. They started to get into rounds normally. So probably was something with one utxo that got stuck and didn't let the others utxo to enter into rounds

[2019-03-13 13:25] nopara73 opened #1231 "Same address = same coin"
https://twitter.com/NicolasDorier/status/1105785459060334592

[2019-03-13 13:26] nopara73 commented on #1231
https://twitter.com/NicolasDorier/status/1105787922198851584

[2019-03-13 13:29] nopara73 commented on #1231
In other words: update the coin concept. One coin should be able to have multiple UTXOs.

[2019-03-13 13:29] NicolasDorier commented on #1231
This will not prevent somebody sending dust to an address which already spent everything. But at least, it would prevent the user to lose anonymity if he has several UTXO to the same address.

1 line in coin selection would be actually a coin group of every UTXO having same address.

[2019-03-13 13:30] NicolasDorier commented on #1231
Btw, the TransactionBuilder already by default select all the coins with the same addresses.

[2019-03-13 13:37] nopara73 commented on #1231
I know, dust attack is already fixed by hiding the dust, regardless it's still a great concept, if something comes to the same address, there's really no reason from a privacy point of view to consider them multiple coins.

[2019-03-13 13:44] john951 commented on #1229
So is it fair to assume if I see in log "INFO WalletService: Block acquired from local P2P connection" it is actually ok?
What would be the message for logs outside the local P2P connection?

[2019-03-13 14:10] NicolasDorier commented on #1231
Hiding the coin is risky though. One day there might have screw up.

[2019-03-13 14:36] NicolasDorier commented on #1231
Another idea:

Sometimes I have a coin of `0.9978` when I need `0.9979`. You can reserve the use of dust to bump small missing amount and send no change back to one or several user. Basically using the dust to increase privacy by decreasing the chances to have change back at you.

[2019-03-13 17:17] nostitos commented on #1230
Then just letting you know that the way I select my coin for mixing is to sort by Privacy and click until it feels like I'm wasting brain cells.

[2019-03-13 17:36] Transisto commented on #1231
Does not compute.

I would not count on that dust to amount to much in the long run. Spending or mixing them along same address is a good way to get rid of it but that doesn't work after legit funds are sent.

[2019-03-13 20:53] Transisto opened #1232 "Dust and address reuse handling"
To protect privacy I think we should handle address reuse and suspicious dust UXTO through a flow of warning + education + easy mitigation.

If amount < 0.00025 (high to make attack prohibitive) AND is sent to an already used address.
 Lock these funds with a "suspected dust" icon. (orange biohazard logo, next to the Shield)

Clicking that icon would explaining the risks of both address reuse and

[2019-03-13 21:03] nostitos commented on #1228
Great, and would have to be persistent between sessions.

[2019-03-13 21:39] nopara73 opened #1233 "Daemon does not work with deb package"
Title says it all. If you write `wassabee --version` or `wassabee --mix --wallet WalletName` the GUI will run. `.tar.gz` works.

[2019-03-13 21:49] Transisto commented on #1058
![image](https://user-images.githubusercontent.com/388716/54316938-3fe85300-45b8-11e9-9e3f-f0d0c438a7f5.png)

Top is 1.1.1 bottom is 1.1.3

Same cpu pattern, same ram increase on sorting back and forth but capped at 1.7GB

[2019-03-13 22:38] lontivero commented on #1233
I take it.

[2019-03-14 13:06] InserirAquiNome commented on #1159
You made a nice guide to help people verify the signature.
Maybe adding more info like in this guide https://www.torproject.org/docs/verifying-signatures.html.en or putting the link as reference it would be nice too.
If I may make another suggestion you could put your PGP long key id and fingerprint in a tweet and then use a url shortener to reference it in your bio. Like I did https://twitter.com

[2019-03-14 13:18] #1233 closed

[2019-03-14 19:02] Transisto commented on #1058
@lontivero @nopara73  Pinging for an ACK

[2019-03-14 19:19] Transisto opened #1236 "Reusable Payment Code support, (BIP47,BIP70,BIP75,PayNym)"
Opening the discussion since it makes it more convenient to not reuse addresses.

https://github.com/bitcoin/bips/blob/master/bip-0047.mediawiki

on support: (2017)
https://bitcoin.stackexchange.com/questions/62105/which-wallets-work-with-payment-codes

https://paynym.is/about

[2019-03-14 19:23] lontivero commented on #1058
@Transisto, it doesn't make sense to report a known issue until we finally fix it. There is a pull request (https://github.com/zkSNACKs/WalletWasabi/pull/1212) by @danwalmsley waiting for extra review and some further fixes. Both @molnard and me heve tested it and it improves this situation significantly. Once we release it it would be good you test it as you did with 1.1.1 and 1.1.3.

[2019-03-14 19:26] lontivero commented on #1236
There is an ongoing discussion about this in the Meta repo https://github.com/zkSNACKs/Meta/issues/28
Please close this issue and contribute in the referenced Meta issue.

[2019-03-14 20:17] Transisto commented on #1058
Posted at wrong place,
@lontivero It was to report on the RAM usage improvement as it's part of 1.1.3 changes.

[2019-03-15 13:04] nopara73 commented on #1228
Yes. Whoever implements it pay attention to this. (Btw the sat/usd/satb/.. switch is also persistent.)

In fact an obvious extension to it is to apply it to any privacy sensitive information field.

[2019-03-15 13:10] nopara73 commented on #1229
Yes, that is exactly what you should be looking for.

[code]

[2019-03-15 19:00] lontivero commented on #845
I will be working on a proposal for this.

[2019-03-15 21:51] tolerant-fellow commented on #1201
also experiencing same issue and have tried all suggestion as above.

C:\Users\x\Desktop\Tor Browser\Browser\libEGL.dll
C:\Users\x\Desktop\Tor Browser\Browser\libGLESv2.dll

![image](https://user-images.githubusercontent.com/48605801/54463874-6949e000-476c-11e9-86d8-0207d7f04ba6.png)

[2019-03-16 07:18] Transisto commented on #1035
I'd think most people know they can try another password so instinctively that they could eventually find the right one.

That tool looks very complete and support the same derivation scheme as Wasabi.

Should that issue be closed and be replaced by a FAQ style explanation suggesting options like btcrecover?

[2019-03-16 21:56] Transisto opened #1238 "Registration of one UXTO per target range, (0.1, 0.2, 0.4, 0.8, 1.6 ect.) to speed up mixing of large amounts."
While it could reduce the precision of anonymity set I think it's worth it since we can't limit the number of instance of wasabi per actor anyways.

The amount of participating input in a Coinjoin would be limited exponentially
requiring 0.1 x 2^input BTC

one uxto between 0.1 and 0.2, or multiple UXTO which combined adds up to more than 0.1
one between 0.2 and 0.4
ect.

Side note: Would also be i

[2019-03-17 05:55] btcpirate commented on #1232
+1

[2019-03-17 11:32] nopara73 opened #1239 "Duplicate Ubuntu app icon"
https://old.reddit.com/r/WasabiWallet/comments/b1hhko/duplicate_ubuntu_app_icons/

Confirmed. I have the same issue on an Ubuntu of mine and it's very strange.

[2019-03-18 03:52] Transisto opened #1240 "There are good reason for labeling other than privacy."
![image](https://user-images.githubusercontent.com/388716/54505731-7eab3f80-490f-11e9-9947-28c3e4cbb47c.png)

[2019-03-18 04:02] lontivero commented on #1240
Labels are applied to coins. If you spend the whole coin you don't have anything to label.

[2019-03-18 07:26] Transisto commented on #1240
I see,
Since this label model is part of Bitcoin core, Electrum and URI scheme I think we should just store these label related to outgoing addresses and reuse them in history tab to show more detail of the transactions.

[2019-03-18 09:56] nopara73 commented on #1240
Actually there's a bug there in an edge case. :/

If a coin is fully spent, but some ancestors are still present in the wallet the label should be in the clusters, too. It's just what Lucas said, labels are done on coin level, so our internal data structures are not sufficient for labeling this.

On the macro, we should replace our Coins list with a weighted graph in the future, it's larger and da

[2019-03-18 11:03] #474 closed

[2019-03-18 15:10] molnard commented on #1046
There is an issue with Homebrew you should use this link to download dotnet-sdk: https://dotnet.microsoft.com/download

With Homebrew I get this error:

`curl: (22) The requested URL returned error: 416 Error: Download failed on Cask 'dotnet-sdk' with message: Download failed: https://download.visualstudio.microsoft.com/download/pr/4850aa8f-44a9-4c4a-9961-f18aa4d90ceb/07d790444f3ba6b412a76d6f1aced

[2019-03-18 15:30] #1046 closed

[2019-03-18 16:23] #1009 closed

[2019-03-18 18:54] lontivero commented on #845
Probably this is not 100% related to the ticket but I think it would be good to handle all the notifications, alerts, error messages in an uniform way. Currently we each functionality display messages in a different place.

We could add a notifications bar on top of the status bar and display errors and messages there. It doesn't use more UI space because i reduced the margins and spacing.

![imag

[2019-03-18 22:07] MaxHillebrand opened #1243 "Send Coin Join UTXO to third party"
The [zero link framework](https://github.com/nopara73/ZeroLink) coin join protocol works by breaking the link between inputs and outputs of a transaction where the user is paying himself. I propose following scheme for providing the same privacy results, but in the case where sender and receiver are two different parties. Basically, it is the same flow as zero link, but there are some additional d

[2019-03-19 10:26] nopara73 commented on #1243
In fact you can even use arbitrary amounts to send: https://pastebin.com/edit/ADu7kQFk

[2019-03-19 10:30] nopara73 commented on #845
I think it's 100% related and it's a good idea. But with Toast Notifications implemented it makes no sense. Now the question is should we drop Toast Notifications plan in favor of this altogether or not? I would vote for Toast, but I can be convinced otherwise.

@danwalmsley @molnard @lontivero Make your vote.

![image](https://user-images.githubusercontent.com/9156103/54599169-5c621080-4a3a-11e9-

[2019-03-19 11:02] MaxHillebrand commented on #1243
This sounds like a great addition already!

But the sender still knows the address of the receiver?
Can this be prevented by having independent communication of the blinded cj outputs between the receiver and the coordinator?

[2019-03-19 11:19] nopara73 commented on #1243
You are right! Sorry, I only took a quick glance at first. Wow, that's quite interesting. You send money, but you don't know where you are sending it and the receiver doesn't know which input is sending it. That's genius! I don't see why it wouldn't work. Of course this is a coordination nightmare, but I think we can add enough sub-optimal fallback scenarios to make this work properly most of the

[2019-03-19 11:22] nopara73 commented on #1243
However arbitrary amounts wouldn't work then. Well, they would, but then the sender would know which address the money goes to:(

[2019-03-19 12:35] nopara73 commented on #1198
@lontivero Can you add make a PR with `MempoolFilterBuilder` in the `Services` folder to the PR https://github.com/zkSNACKs/WalletWasabi/pull/1216 ?

I was trying but then I realized your code is not real code and there are other parameters I didn't know what to set them to, like `nFPRate`.

[2019-03-19 12:43] lontivero commented on #1198
Yes, sure.

[2019-03-19 14:20] nopara73 commented on #465
I attempted to do it so many times, I guess this is just not happening. Also not important, so I close it.

[2019-03-19 14:20] #465 closed

[2019-03-19 14:23] nopara73 commented on #732
@lontivero How would you feel about implementing the building blocks of BIP21 to NBitcoin? https://github.com/bitcoin/bips/blob/master/bip-0021.mediawiki

[2019-03-19 16:10] molnard commented on #845
I think it is good enough for now it look much better than the randomly placed texts. Also the code will be cleaner with this. If @lontivero implements this with a uniform interface than later we can change the graphical part to a better one.
I have some suggestions about the interface I hope you won't mind:

1. There should be a individual Toast-service class which handles the toast-requests.
2.

[2019-03-19 18:31] Transisto commented on #1155
I think alternative 1 is the best.

**The problem is having users's coins included in a CJ with a fee that is way above their expectations.**

https://github.com/zkSNACKs/WalletWasabi/issues/983

Anyone who want out of a stuck CJ can CPFP his outputs and pays for everyone.

Would be a great gesture if the coordinator CPFP with his cut to bump the CJ. But it has no idea of the time preference of CJ

[2019-03-19 18:35] Transisto commented on #983
In theory a coordinator could burn everyone's bitcoin as network fee and nobody would have any practical recourses but to not use it again.

_CoinJoin is a "trustless" method ..._  https://en.bitcoin.it/wiki/CoinJoin

[2019-03-19 21:20] kristapsk opened #1244 "Enqueue coins for CJ, some seconds later get dequeued, without any explaination"
1) Enqued some coins for CoinJoin, some confirmed, some yet unconfirmed. They appear to be enqueued for CoinJoin.

![image](https://user-images.githubusercontent.com/4500994/54642306-ef339700-4a9c-11e9-8d09-61a1ac7bdd30.png)

2) Some seconds later they get dequeued without any error message or anything.

![image](https://user-images.githubusercontent.com/4500994/54642349-08d4de80-4a9d-11e9-8c89-37

[2019-03-19 22:24] FrancisPouliot opened #1245 "Add wallet label in history"
### Is your feature request related to a problem? Please describe.

Accounts management issue generally, would be good to see the address label in the history panel directly.

### Describe the solution you'd like

See above

### Describe alternatives you've considered

Pretty straightforward

[2019-03-19 22:28] FrancisPouliot opened #1246 "Add transaction status in history"
### Is your feature request related to a problem? Please describe.

Managing accounts during coinjoin operations without having to look up tx in a block explorer

### Describe the solution you'd like

Have a transaction status directly in the history tab.

Suggestions:

- "Unconfirmed", [first_seen]
- "Confirmed", [block_height]

### Describe alternatives you've considered

It's possible to see th

[2019-03-19 22:28] kristapsk commented on #1244
Now all the coins are confirmed and minimum amount required for CoinJoin is 65 satoshis less than sum of all three coins, the same happens.

[2019-03-19 22:33] FrancisPouliot opened #1247 "Show if receiving addresses have been used"
### Is your feature request related to a problem? Please describe.

Displaying past receiving addresses is okay, but it is likely users will accidentally use the same receiving address multiple times accidentally.

### Describe the solution you'd like

There should be a boolean "used":"yes/no" or "unsed" "unused" in the receive bitcoins page. There is a lot of room for a few more info on the addre

[2019-03-19 22:36] FrancisPouliot commented on #1245
1.1.1

[2019-03-19 22:36] FrancisPouliot commented on #1246
1.1.1

[2019-03-19 22:36] FrancisPouliot commented on #1247
1.1.1

[2019-03-19 22:36] kristapsk commented on #1244
Tried restarting Wasabi, it also didn't help.

[2019-03-19 22:49] FrancisPouliot opened #1249 "Separete coinjoin and transaction history"
### Is your feature request related to a problem? Please describe.

In the wasabi flow, coinjoins are clearly separate from in-and-out transactions.

I think it would be a good idea to separate the two.

It can be confusing, and not optimal when operating wasabi to do several coinjoin operations.

### Describe the solution you'd like

"Transaction history" tab would show all non-conjoin transacion

[2019-03-19 22:58] FrancisPouliot opened #1250 "Add "receive many" option"
### Is your feature request related to a problem? Please describe.

I would like to sent 0.1 outputs to wasabi to make the coinjoin more efficient.

It would be great to be able to send to wasabi with multiple 0.1 outputs when funding wasabi from an external wallet.

### Describe the solution you'd likeffA clear and concise description of what you want to happen.

"Receive many" option in the "rec

[2019-03-19 23:01] FrancisPouliot opened #1251 "Encrypt .json files with wallet passphrase"
### Is your feature request related to a problem? Please describe.

Anybody with access to the computer will be able to have the public key of wasabi without having the password.

### Describe the solution you'd like

Encrypt the wallet files with password

### Describe alternatives you've considered

File path to an encrypted folder that is temporarily decrypted when using wasabi

[2019-03-19 23:37] ManfredKarrer opened #1252 "Tor seems to not get shut down at OSX after Wasabi shut down"
I shut down Wasabi wallet and a while after it I saw that the tor process was still running. So it seems it does not get termintated correctly on OSX.

[2019-03-20 01:30] FrancisPouliot opened #1253 "auto-queue all non-private inputs"
### Is your feature request related to a problem? Please describe.

It's annoying to have to manually register inputs in the coinjoin. This also means that a payment processing service needs to have a staffer manually do coinjoins, when really he should only be doing transfers out.

Lots of people will use wasabi exclusively for coinjoin.

### Describe the solution you'd like

An "auto-coinjoin" m

[2019-03-20 02:03] nilskp opened #1254 "Enable camera for scanning a QR code"
It's always incredibly cumbersome having to type an address manually. It would be nice if the app could enable the camera and scan a QR code to the Receive address.

[2019-03-20 02:04] nilskp opened #1255 "Manually remove unused Receive address"
I have a couple of Receive addresses I'm not going to use. There doesn't seem to be a way to remove or archive them. That would be swell.

[2019-03-20 02:15] FrancisPouliot opened #1256 "Gap limit - advanced option"
(sorry for not respecting template, doing this from a phone)

We intend to derive adresses from wasabi zpub to use as receiving addresses.

I was wondering what the gap limit was in wasabi.

We use a gap limit of 100. It would be great to be able to change the gap limit, which is the one of the top reason we use electrum for.

Currently, we would need to manually create adresses. I think the force

[2019-03-20 02:19] FrancisPouliot opened #1257 "Export private key from address"
# Is your feature request related to a problem? Please describe.

It is useful to export private keys to spend coins outside of wasabi after mixing.

However, with the current export format, it requires users to have to derive private keys, exposes them to arduous work with high likelihood of irreversible catastrophic fuckup 😆

# Describe the solution you'd like

- Right-click on a utxo, export th

[2019-03-20 10:48] nopara73 commented on #1257
Concept ACK. Maybe we should put it to the "Advanced Info" tab, because it requires a password and I'm having difficulty to figure out where we'd put the password if it'd be in the context menu.

[2019-03-20 10:55] nopara73 commented on #1256
A few thoughts.

We did not have gap limit in the first month, since we ideally would generate new address even if the mix fails, but it bloated the wallet with that, so we're now doing it in a best-effort way.

There are pre-generated mixing and non-mixing addresses. I think we should not touch them and the gap limit would simply mean to make sure to index this much empty internal and external ad

[2019-03-20 10:58] nopara73 commented on #1255
ACK.

On an implementation note. We have some issues with the context menu in coin lists and address lists, so we didn't want to build too much on it until it's fixed, but we already started, so I guess we could do this.

[2019-03-20 10:58] andronoob commented on #944
@nopara73

There won't be any panacea in my opinion.

Currently https://github.com/shadowsocks is very popular, which act as a local socks5 proxy, thus the traffic is encrypted before sending to the "outside".

We can reminder the user to configure wasabi to connect through shadowsocks (listen on 127.0.0.1:1080 by default), if tor cannot work properly.

[2019-03-20 10:59] nopara73 commented on #1254
ACK. We already have an issue for this: https://github.com/zkSNACKs/WalletWasabi/issues/731

[2019-03-20 11:08] nopara73 commented on #1253
Unfortunately it's not possible. For that we need a password. There was an issue opened for this already: https://github.com/zkSNACKs/WalletWasabi/issues/872

What can be done is to

1. `wassabee --mix --wallet WalletName` (Note with the released .deb package it doesn't work, only with the `.tar.gz`, however it's been fixed already on the master: https://github.com/zkSNACKs/WalletWasabi/issues/123

[2019-03-20 11:08] #1253 closed

[2019-03-20 11:09] nopara73 commented on #1252
Yes, it doesn't: https://github.com/zkSNACKs/WalletWasabi/issues/777

[2019-03-20 11:21] nopara73 commented on #1251
We cannot encrypt the wallet file with the same password as the wallet, because that'd be insecure and considering how many times we encountered "I lost my password" issues and none "I got hacked" issues, adding a secondary password would be unreasonable. Similar issue: https://github.com/zkSNACKs/Meta/issues/36

There are also discussions around here regarding this I cannot dig up.

On another no

[2019-03-20 11:25] nopara73 commented on #1250
Note that, we never specify receive amounts, because the sender should decide on the amounts to encourage whole coin spending (closing the loop.)

Other than that, I think a switch could be added to the receive tab that changes the format of how the receive addresses are shown.

Click on the switch and show this:

[code]

Then click on the switch again and show proper UI.

[2019-03-20 11:27] nopara73 commented on #1249
Good idea, intra-wallet transactions should be hide-able.

[2019-03-20 11:32] nopara73 commented on #1244
A few general notes:

- This will be useful for posting screenshots: https://github.com/zkSNACKs/WalletWasabi/pull/1258

- Toast notifications would be the right place to show this: https://github.com/zkSNACKs/WalletWasabi/issues/845

Specific note:

First thing should be to figure out if this is a bug in the enqueue process or it's an insufficient feedback issue.

@lontivero Can you try to debug

[2019-03-20 11:34] nopara73 commented on #1247
What do you mean? If the user don't intentionally reusing receiving address, he cannot reuse it again, since it disappears from the list right away.

[2019-03-20 11:37] nopara73 commented on #1246
I'm a bit confused. There is an unconfrimed and confirmed status denoted by the green tick. Is this issue trying to say that it's too confusing or that it's not enough information?

[2019-03-20 11:40] nopara73 commented on #1246
Does this means the number of confirmations is what you are curious about? If so, it won't get to the UI. Users get confused enough by the confirmed and unconfirmed concepts alone. Number of confirmations/block height/first seen cannot go to the front. That being said, the history tab can have an expander. Would that suffice your issue?

There was a discussion previously: https://github.com/zkSNAC

[2019-03-20 11:44] nopara73 commented on #1245
We had this in the beginning, but had to remove, because it was often misleading and it didn't work for edge cases. Would this be enough explanation or should I dig up the exact issues with this?

![image](https://user-images.githubusercontent.com/9156103/54681933-dca57600-4b0d-11e9-8303-bae163a37ed7.png)

[2019-03-20 11:52] nopara73 commented on #983
It cannot. That was indeed an issue half a year ago or so, but @NicolasDorier pointed this out and it got fixed. Furthermore the coordinator checking part of the code has seen an incredible amount of reviews by many people. I personally went through it over a hundred times so I am confident that coin loss cannot happen in any far-fetched way. https://medium.com/@molnardavid84/wasabireport-704616de

[2019-03-20 11:58] nopara73 commented on #1155
That's the problem, they cannot :( Core's IsStandard rules prevents them to propagate any transaction until something is confirmed. But I'm with you with your preference of less intrusive mitigations.

Now, this happens about twice a month for a day or so when the network get congested. I am not sure what will happen in high-fee environment. This issue is kinda lost, maybe propose to loosen some I

[2019-03-20 14:00] lontivero commented on #1244
No problem, I will take a look at this.

[2019-03-20 15:33] mamcmanus commented on #1160
Still an issue for me on Ubuntu 18.04. Have tested on laptops and desktops. See attached screenshot.

The fix suggested on Reddit also does not work (https://github.com/AvaloniaUI/Avalonia/wiki/Configuring-X11-per-monitor-DPI).

![wasabi-ubuntu-18 04](https://user-images.githubusercontent.com/2507877/54697347-4aa96780-4b25-11e9-9d14-a23d815001e8.png)

[2019-03-20 15:40] nopara73 commented on #1160
The attached screenshot is different from this issue. The issue here made the wallet unusable the scaling was so bad.

Also I cannot figure out what's wrong with the screenshot you posted. Could you explain?

[2019-03-20 15:51] mamcmanus commented on #1160
Ah, I didn't realize the scaling issue made the wallet completely unusable for people. For me the UI is just cartoonishly large, but still usable. I'll keep tinkering with the AVALONIA_SCREEN_SCALE_FACTORS variable until I get it how it used to be. Not a big deal at all since the wallet is still usable. Sorry for responding to the wrong issue.

[2019-03-20 16:33] FrancisPouliot commented on #1256
how many addresses are pregenerated?

The problem is not to lose them, it's that Wasabi won't discover them and they will be unavailable for the coinjoin and won't be able to be sent out. Could wasabi use bitcoin core to do "scantxoutset" and look for the utxos?

We can import the privkey in electrum to spent them out if we can't find them.

I can confidently say that a gap limit of 20 will absolu

[2019-03-20 16:36] FrancisPouliot commented on #1247
Didn't notice that, you are right. Good feature!

[2019-03-20 16:36] #1247 closed

[2019-03-20 16:40] FrancisPouliot commented on #1246
huh weird, maybe I didn't notice the "confirmed" check on the left there, either that or I updated to 1.1.3 and it was added. Nevermind!

[2019-03-20 16:40] #1246 closed

[2019-03-20 17:57] lontivero opened #1259 "NullReferenceException after connectivity problem"
### General Description
There is a NRE here: https://github.com/zkSNACKs/WalletWasabi/blob/Features%2FNotificationBar/WalletWasabi/Services/WasabiSynchronizer.cs#L523

### How To Reproduce?

1. Go to Send Tab
2. Broadcast a transaction
(The error seems to happen after a `HostUnreachable` error )
3. See error

### Operating System

Ubuntu 18.04

[2019-03-21 05:46] ManfredKarrer commented on #777
I think it should be at least in the setting configurable. Dangling processes after a program got closed are confusing or raise concerns what the app is doing in the background. I understand your motivations but I fear the negative side effects are higher than the extra protection it might add for some users in some situations.

[2019-03-21 05:47] #1252 closed

[2019-03-21 05:49] ManfredKarrer opened #1261 "When clicking the notification Script Editor opens on OSX"
When clicking the notification (e.g. BTC arrives on the wallet) the Script Editor program opens on OSX. Maybe an issue with the file extension of what should be opened.
Whas is the intended action by clicking the notifications? I would expect to get the application in focus.

[2019-03-21 10:25] MaxHillebrand opened #1262 "Show Value of Selected Coins"
### Current Problem

In the send tab GUI, the coin control interface is great, but when I select more then one coin, I don't easily know exactly how many bitcoin they sum up to. I have to click on `Max` to see the total sum, then click again `Clear` to type in how much I actually want to send.

### Proposed Solution

Below / next to `Max` show the total sum value of all the selected coins. When no

[2019-03-21 14:26] nopara73 commented on #1256
I looked at the code and I figured 21 on external, 21 on internal keypaths, so at minimum that many clean (not dirty and not-locked) addresses are always indexed. And `max(maximumMixingLevelCount + 1, 14)` locked internal keys are always indexed.

But this code changed many times and will likely change, so parameterizing may be dangerous.

Wasabi will never lose things though, I'm not sure why you

[2019-03-21 14:32] nopara73 commented on #1261
Someone could decide to fix it, but honestly I never liked the notifications. I think they're terribly annoying and platform specific. (It doesn't even work on Windows at all.)
Maybe it'd be smarter to retire OS notifications in favor of Toast Notifications?

https://github.com/zkSNACKs/WalletWasabi/issues/845

[2019-03-21 14:35] nopara73 commented on #1262
Maybe a tooltip could give some info automatically triggered by multiple coin selection?

[2019-03-21 16:46] FrancisPouliot commented on #1256
I'm not afraid of wasabi losing things, but rather sending coins to wasabi that should be mixed and having to export the private key of out into electrum to spend them out (and them not being available for coinjoin).

I'll do a few tests see what happens if coins are sent after gap limit

[2019-03-21 18:11] lontivero commented on #732
NBitcoin already supports bip21, @nopara73. Take a look at the `BitcoinUrlBuilder` class https://github.com/Metacosa/nbitcoin/blob/Rpc-Stop-Method/NBitcoin/Payment/BitcoinUrlBuilder.cs#L20

[2019-03-21 19:59] lontivero opened #1264 "Connect to remote bitcoin node throught Tor (NBitcoin)"
Nicolas has added support for Tor in NBitcoin https://twitter.com/NicolasDorier/status/1108768232695975937  We should allow Wasabi to connect to remote nodes thought Tor.

[2019-03-22 05:53] NicolasDorier commented on #1264
I also did a `Node.ConnectAsync` which is nice. I should asyncify more stuff. This code start to smell old.

[2019-03-22 11:01] nopara73 commented on #1256
So you want to simultaneously use Electrum and Wasabi with 100 Electrum gap limit.

In this case, Wasabi `MinGapLimit` 100 would make sure Wasabi sees everything, but then Electrum would be the one that may don't see something.

[2019-03-22 11:08] nopara73 commented on #1264
Awesome! Things to pay attention:

1. RegTest
2. Local node connections
3. Dangerous Tor is turned off mode in the settings (and config.)

Question: How does it work? Does it connect to nodes those are over onions? Or we don't connect to onion nodes at all? Or it's mixed?

[2019-03-22 11:47] danwalmsley commented on #845
My vote is to have this until we get toast notifications (provided its not a lot of work)

Otherwise why not put the effort into toast notifications.

If we do this, we could make the ui a control that overlays and looks like a toast notification.

[2019-03-22 12:44] nopara73 commented on #1264
An obvious extension next task if it works properly is to start broadcasting txs to our peers instead of the backend.

[2019-03-22 16:07] lontivero commented on #1264
I take it.

[2019-03-22 21:41] OhCrap99 opened #1266 "Please Delete"
That was a close one! CJ not as Reckless as I thought!

[2019-03-22 21:52] lontivero commented on #1266
What's the bug?

[2019-03-22 21:54] OhCrap99 commented on #1266
I'm not 100% sure there is a bug.
Normally my node sees a transaction before it's confirmed. Now all of the
sudden that is not the case. Does Wasabi have RBF so I can just replace
that transaction with another address.

Thanks
Josh

On Fri, Mar 22, 2019 at 2:52 PM Lucas Ontivero <notifications@github.com>
wrote:

[2019-03-22 22:05] OhCrap99 commented on #1266
It's Possible I made a mistake.

[2019-03-22 22:26] OhCrap99 commented on #1266
Sorry for the false alarm everyone... THC and BTC DO NOT mix!

[2019-03-23 09:54] nopara73 commented on #1266
GitHub doesn't let you to delete issues I think, so the best I can do is to close it.

[2019-03-23 09:54] #1266 closed

[2019-03-23 10:18] #1228 closed

[2019-03-23 10:23] nopara73 commented on #1228
![image](https://user-images.githubusercontent.com/9156103/54864913-140a6180-4d5e-11e9-8dd0-da90590a5030.png)

[2019-03-23 12:02] arkaananda opened #1268 "GPG Verification in installation guide not noob friendly enough"
I've just downloaded Wasabi for my mac and got to the GPG verification guide and when i type into terminal: gpg --import PGP.txt
I get: -bash: gpg: command not found

Do I need to change directory first?
and can I save nopara73 public key on a TextEdit document?

thanks

[2019-03-23 13:39] nopara73 commented on #1268
Did you install GnuPG? https://www.gnupg.org/download/index.html

Duplicate: https://github.com/zkSNACKs/WalletWasabi/issues/1158

[2019-03-23 15:10] lontivero commented on #1264
I didn't use it for RegTest

I have this in mind and I will address it once the new version of NBitcoin is released. Morever, we need to review the full local node integration PR first.

I don't force to connect through Tor when Wasabi is configured to connect to the fallback uri. However this doesn't make a lot of sense because most of the times the problem with Tor is with Hidden Service Directo

[2019-03-23 15:23] FrancisPouliot commented on #1256
I don't want to use electrum, but it's what we use when other wallets fail to discover inputs after the gap limit.

Maybe it helps to know that we intend to derive the bech32 addresses outside of Wasabi (in Cyphernode) as we do today for our other receiving addresses. So *we* are aware that we have coins at, say, derivation '25 while wasabi doesn't see it and can't register it for coinjoin, so in

[2019-03-24 04:23] NicolasDorier commented on #1264
@lontivero

This is incorrect.
All addr message published by the Bitcoin Network are IPv6 (16 bytes).
For ipv4 addresses, those are "mapped ipv4 addresses". For Tor address, those are called "onioncat addresses".

Onion cat addresses only works for TorV2 addresses, but basically you can convert onioncat IP to onion address and vis versa. The DefaultEndpointConnector is smart enough to convert onio

[2019-03-24 09:43] nopara73 opened #1270 "Make sure Wasabi works on Tails"

[2019-03-24 11:00] danwalmsley commented on #1160
@mamcmanus can you report here what display you have and what its resolution is?

[2019-03-24 11:17] nopara73 commented on #1264
This change brings a many stability risks and issues, so no matter how we are looking at it, it's useful. For example what if Tor is blocked by the ISP? Or it's like in China when Tor works sometimes and doesn't work sometimes? Or what if talking to the Tor process in parallel will not work properly? (That's the reason I use a lock for the requests, it only worked properly on Windows. Although I w

[2019-03-24 13:59] nopara73 opened #1271 "Settings Doesn't Have Scroller"
So the end of the Settings gets clipped while restored down.

[2019-03-24 16:15] lontivero commented on #1264
That's how it is coded now.

@NicolasDorier thanks for the information, I didn't know about onioncat and I still don't get how it works. I will read about it. Anyway, based on your comment I understand that NBitcoin can connect to bitcoin nodes publish as hidden services, correct?

[2019-03-24 16:31] #1271 closed

[2019-03-25 01:48] NicolasDorier commented on #1264
@lontivero it is actually very stupid.
An IPv6 is 16 bytes.

If it starts by `0xFD, 0x87, 0xD8, 0x7E, 0xEB, 0x43`, this it is onioncat.
The rests of the bytes are the onion host in base32.

[2019-03-25 02:12] NicolasDorier commented on #1264
Bump NBitcoin, I fixed a bug where an incorrect onion tor might have made an unexpected exception.

[2019-03-25 20:02] Transisto commented on #1236
Reopened, That discussion in meta was about BIP70, which is very different than BIP47,

BIP47 is specifically geared toward privacy.

[2019-03-25 23:40] ManfredKarrer opened #1273 "Why Wasabi download 17 GB in 10 hours?"
In my network monitor I see the Wasabi app downloaded 17 GB in the last 10 hours. The tor app 1,5 GB. Why so much data? Why not all over Tor?

<img width="1003" alt="Screen Shot 2019-03-25 at 18 36 41" src="https://user-images.githubusercontent.com/1449498/54960994-0951f700-4f2d-11e9-834e-7f05987f23a6.png">
<img width="1003" alt="Screen Shot 2019-03-25 at 18 36 23" src="https://user-images.githubu

[2019-03-26 08:42] nopara73 commented on #1273
Wow, that looks unreal, but I never measured it.

My data folder is only 2.5 GB and I've been using all kinds of wallet since the beginning of times. Full blocks are also stored here, we don't prune them yet.

So it happens with peer communication, since that's the only one that doesn't go over Tor. One thing that's obvious suspect is our mempool cleanup. Every time a block comes Wasabi asks all t

[2019-03-26 10:11] #1001 closed

[2019-03-26 10:11] #1094 closed

[2019-03-26 13:51] ManfredKarrer commented on #1273
Just did it again, this time it's 22GB in 12 hours. It's from the network monitor of LittleSnitch (OSX firewall). On the OSX Activity monitor I see only 333 MB received but 32 GB written to disk.

[2019-03-26 18:57] lontivero commented on #1273
I let Wasabi running for 20 minutes and it downloaded ~26MB from bitcoin peers and ~1MB from the backend (my Wallet is always synchronized).

![55024477-b3895780-4fdd-11e9-9e3c-e02a486ec8da](https://user-images.githubusercontent.com/127973/55025412-a66d6800-4fdf-11e9-8357-4a9cd048fdb1.png)

Projecting these numbers my estimation for 12hrs is ~1GB, what is too much but it is still far from 22GB. I

[2019-03-26 21:00] lontivero commented on #1273
I need to review if the observed network pattern makes sense because at a first glance it looks that there are too much `getdata` messages (I can see more than one sent to the same peer at the same time and a few of them with 0 items!?). I am not saying this is wrong, just that it looks wrong to me. @NicolasDorier what do you think?

![image](https://user-images.githubusercontent.com/127973/550320

[2019-03-27 02:38] NicolasDorier commented on #1273
What are you using to get the blocks?

[2019-03-27 09:15] nopara73 commented on #1273
`node.GetBlocks(new uint256[] { hash }, cts.Token)?.Single();`

[2019-03-27 13:14] nopara73 commented on #1270
I installed Tails VM. It works properly.

[2019-03-27 13:14] #1270 closed

[2019-03-27 16:45] nopara73 commented on #1155
Alternative 2 is needed.

Also we still have this crazy issue once in a while. For example now.

![image](https://user-images.githubusercontent.com/9156103/55095057-d25c1c80-50b7-11e9-9ba4-3de994ef81aa.png)

As our CJ txs gets larger we can allow less and less unconfirmed cjs. We have 8 unconfirmed CJs right now.

[2019-03-27 17:10] nopara73 commented on #1245
I made my mind up on this one. From a UX point of view labels should be in history and "it is difficult to do that with current data structures" is not a good excuse.

[2019-03-27 19:37] lontivero commented on #1273
@nopara73 you're right, the problem is because of the way the cleanup is currently implemented. When Wasabi receives an `inv` message from a peer it responds with a `getdata` message asking for those transactions that are not in the mempool (this is handled by the `MempoolService` class).

The problems begin when a new block arrives and Wasabi sends `mempool` to all the peers and they respond with

[2019-03-27 20:34] lontivero commented on #1273
Even when we don't send `mempool` messages it still looks wrong:

![image](https://user-images.githubusercontent.com/127973/55110209-50b7bf00-50b6-11e9-828b-7c9c7ffba376.png)

Something else has to be going on here.

[2019-03-27 21:14] johnny-cash commented on #1155
hello nopara73,

Right now we have more than 12 unconfirmed coinjoin transactions. What can we do?

Greetings and many thanks for your great work.

[2019-03-28 09:46] nopara73 commented on #1155
@johnny-cash Unfortunately there's nothing to do but waiting. Or do you mean what can you do as a programmer?

[2019-03-28 09:53] nopara73 opened #1276 "Refactor Interlocked Usage"
https://github.com/zkSNACKs/WalletWasabi/pull/1216#discussion_r269088469

https://github.com/zkSNACKs/WalletWasabi/pull/1216#discussion_r269092497

[2019-03-28 09:56] #408 closed

[2019-03-28 10:55] NicolasDorier commented on #1264
Just want to say, there is a deadlock somewhere in the last version of NBitcoin

[2019-03-28 10:55] NicolasDorier commented on #1264
Working on it...

[2019-03-28 11:26] nopara73 commented on #1273
https://github.com/zkSNACKs/WalletWasabi/pull/1216

[2019-03-28 11:26] #1273 closed

[2019-03-28 11:30] nopara73 commented on #1273
Could someone measure it now?

[2019-03-28 11:37] lontivero commented on #1273
I will

[2019-03-28 12:25] nopara73 opened #1278 "Alices timing out too often"
This happens on my computer, too, so there needs to be some parameter adjusting to leave more time for alices to input confirm.

[2019-03-28 12:40] nopara73 opened #1279 "Refactor Block Download Timeout"
This user never succeeded to download a block because it always timed out. The algorithm should be smarter, and more dynamic. Especially considering that, we'll start doing it over Tor.

https://old.reddit.com/r/WasabiWallet/comments/b56w58/wallet_wont_load/ejjtolt/?context=3

[2019-03-28 12:51] NicolasDorier commented on #1264
Update NBitcoin, the last version might had deadlocks. Also prefer `Node.ConnectAsync` to `Node.Connect` if you use, now that it exists.

[2019-03-28 13:09] molnard commented on #1279
There are two solutions:

1. Break the algorithm to smaller parts and define separate timeouts
2. Increase the timeout.

The first solution cannot be done because according to the case there is only one operation which was timed out.
`blockFromLocalNode = LocalBitcoinCoreNode.GetBlocks(new uint256[] { hash }, cts.Token)?.Single();`
So I would increase the timeout for now.

[2019-03-28 14:53] #1158 closed

[2019-03-28 14:53] #1268 closed

[2019-03-28 15:01] nopara73 opened #1281 "Use Node.ConnectAsync instead of Node.Connect Everywhere"
https://github.com/zkSNACKs/WalletWasabi/issues/1264#issuecomment-477581450

If it's been called in a non-async context, then the policy is "turtles all the way down" and make everything asynchronous above.

[2019-03-28 15:04] nopara73 commented on #1279
We've done it many times. It's not a sufficient solution.

Could you elaborate?

[2019-03-28 18:48] lontivero commented on #1273
After running for 20 minutes it downloaded ~4MB from p2p bitcoin network. This is much better than the previous 26MB.

![image](https://user-images.githubusercontent.com/127973/55183848-85d41800-516f-11e9-8907-cbd857097fe0.png)

------

OTOH it seems there is an issue with the network layer as I commented above. Some peers stop responding to `getdata` messages. I share the captured bitcoin traffic

[2019-03-29 07:34] Transisto opened #1282 "Anon-set for change should be lower."
![image](https://user-images.githubusercontent.com/388716/55216477-3293b100-51d3-11e9-8679-8293eb99d05d.png)

When sending out the change keeps a high anonymity set.

[2019-03-29 08:16] nopara73 commented on #1282
The anonset starts at 1 when the coin arrives to the wallet. If we'd denote dead changes as red coins, then the user may miss that the coin was already mixed and would join it together with another red coin which could denonimize the first mix.

Only the labels can be helpful here. If the coin is mixed, but has label other than the mixed label, the user knows exactly what this coin was used.

In t

[2019-03-29 08:16] #1282 closed

[2019-03-29 08:46] nopara73 commented on #1281
1452ce6ce2121a7d137d41c997bc53dd40780997

[2019-03-29 08:46] #1281 closed

[2019-03-29 10:55] molnard commented on #1279
Sure.

[2019-03-29 10:56] nopara73 commented on #1279
Sure what? :D

[2019-03-29 10:57] molnard commented on #1279
I can elaborate! :)

[2019-03-29 11:46] nopara73 commented on #1264
@NicolasDorier @lontivero Updating to the latest NBitcoin and changing to `Node.ConnectAsync` we get a bunch of these uncaught exceptions:

![image](https://user-images.githubusercontent.com/9156103/55230616-95f80000-5220-11e9-963a-b3698eba83fb.png)

[2019-03-29 12:19] nopara73 opened #1283 "Catch unobserved node exceptions in NBitcoin"
https://github.com/zkSNACKs/WalletWasabi/issues/1264#issuecomment-477969364

[2019-03-29 12:42] NicolasDorier commented on #1264
The problem might be that in order to use `ConnectAsync` you transform a method which was returning `void` to `async void` instead of `async Task`.

Since `.Connect` use `.ConnectAsync` under the hood without any additional logic, this is the only explanation I can see.

The exception thought does not seem normal.

[2019-03-29 12:52] NicolasDorier commented on #1264
I reviewed my code, and I don't see how this can happen. When `ConnectAsync` is called, there is no way for the socket to be disposed.

[2019-03-29 12:57] NicolasDorier commented on #1264
oh actually I know... this is a bug inside the Socket implementation though.... one sec.

[2019-03-29 13:26] NicolasDorier commented on #1264
I found the problem pushing soon.

[2019-03-29 13:30] NicolasDorier commented on #1264
Can you try the new version (.95?)

[2019-03-29 13:30] NicolasDorier commented on #1283
Try update version .95 .

[2019-03-29 15:01] #1283 closed

[2019-03-29 15:01] nopara73 commented on #1283
Yes, perfect, thank you! (.96)

[2019-03-29 15:03] nopara73 commented on #1264
Tried .96. It works well: https://github.com/zkSNACKs/WalletWasabi/issues/1283#issuecomment-478030340

Thank you!

[2019-03-30 10:17] nopara73 commented on #1276
I've done everything that could be safely refactored.

[2019-03-30 10:17] #1276 closed

[2019-03-30 10:22] nopara73 commented on #1279
I'm not sure if

1. you're joking around.
2. you don't know what the word elaborate means,
3. or I don't know what the word elaborate means.

My point was. Can you detail what do you mean exactly by "Break the algorithm to smaller parts and define separate timeouts?"

[2019-03-30 12:40] molnard commented on #1279
It is not possible to break to pieces the method `GetBlocks()`. It is in NBitcoin and it doesn't make sense.

[code]

What happened with Cash1020 on reddit. I have to assumptions.

1. He has low bandwidth. Solution: we could only increase the timeout.
2. Wasabi asked the block from a slow Node. Solution: see below.

Possible solutions

1. Improve the [Random node selection algorithm](https://githu

[2019-03-30 13:44] #1278 closed

[2019-03-30 13:51] nopara73 commented on #1279
We did it many times, it is not bulletproof and it'll be much worse and unreliable with Tor.

Yes, we are doing that. If that happens then we disconnect the node. The combination makes no sense, because the node is already disconnected.

The timeout should be adjusted to the network of the user, but I was thinking of much smarter methods, otherwise some user may need to wait like 10 minutes every

[2019-03-30 14:47] #1220 closed

[2019-03-30 15:52] molnard opened #1286 "Client quits unexpectedly"
### General Description

Wasabi closes unexpectedly.

### How To Reproduce?

1. Start Wasabi backend on RegTest.
2. Start 3 clients with different RegTest wallet.
3. Start CoinJoins.
4. In 5 minutes one of the clients will close.

### Screenshots

[code]

### Operating System

Win10-x64

### Wasabi Version

Compiled from source: https://github.com/zkSNACKs/WalletWasabi/tree/4bf66944750a19ee04a4162

[2019-03-30 18:20] #1286 closed

[2019-03-30 21:20] nopara73 commented on #1259
Page not found

[2019-03-31 12:22] nopara73 commented on #1279
@lontivero @molnard Here's the algorithm I came up with. After you share your thoughts I implement it.

- `timeouts` are serialized by network.
- `timeout` measurements are not serialized.

1. Start out with default `timeout` (what we have now) -> 64 seconds.
2. If it times out 2 times in a row -> `timeout *= 2`.
3. If it doesn't time out 3 times in a row -> `timeout *= 0.7`.

Note that `timeout`

[2019-03-31 12:27] nopara73 opened #1289 "Broadcast transactions to peers instead of the server"
As soon as Tor gets implemented we should start broadcasting transactions to one random peer instead of the server. This is a privacy improvement.

[2019-03-31 18:07] bitofdon opened #1290 "Adding Label/Comments/Description in History Tab"
Whenever a user wants to generate a new Receiving address, they are unable to generate a new one unless they put a 'Label' on it. From a User Experience point of view, i believe it would be really beneficial to also have the 'Label' also shown in the History tab.

Currently, after you receive a transaction, there is no way for the user to indicate what the transaction was - this could be made much

[2019-03-31 20:16] nopara73 commented on #1290
Issue ACK. Not sure about concept ACK yet.

Kind of duplicate, but not completely: https://github.com/zkSNACKs/WalletWasabi/issues/1245

[2019-04-01 10:47] nopara73 opened #1292 "Make History similar to Coins list"
So it'll bind to something in the wallet service, so it doesn't have to recalculate everything again.

[2019-04-01 11:22] nopara73 opened #1293 "Make NBitcoin use different Tor streams between nodes"
We do this here: https://github.com/zkSNACKs/WalletWasabi/blob/e5476e562b1391aeef72dfb88e17f4c454cc2e23/WalletWasabi/TorSocks5/TorSocks5Client.cs#L111

[2019-04-01 12:03] molnard commented on #1292
I will do this!

[2019-04-02 04:47] NicolasDorier commented on #1293
You can update to .97 and use the SocksSettings to do what you want.

[2019-04-02 04:51] BTCPat opened #1296 "Unable to withdraw funds"
Hi,
I'm having difficulty getting mixed coins out.
Doesn't matter what fee I'm choosing the error is the same.
![withdrawalissue](https://user-images.githubusercontent.com/37584043/55377074-49a40d00-550b-11e9-900b-58938051ea87.JPG)

[2019-04-02 09:03] nopara73 commented on #1296
You cannot spend it, because there are too many unconfirmed coinjoins build on top of each other. We've been trying to mitigate this issue for a long time, but there's vary little we can do about it. Read more on it here: https://github.com/zkSNACKs/WalletWasabi/issues/1155

Yesterday I deployed this change: https://github.com/zkSNACKs/WalletWasabi/pull/1284

But it doesn't yet work as intended, b

[2019-04-02 09:03] #1296 closed

[2019-04-02 14:46] #1279 closed

[2019-04-02 14:47] #1259 closed

[2019-04-02 14:47] #1264 closed

[2019-04-02 14:47] #1289 closed

[2019-04-02 14:47] #1293 closed

[2019-04-02 15:37] mamcmanus commented on #1160
3840 x 2160
LG monitor

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Sunday, March 24, 2019 11:00 AM, danwalmsley <notifications@github.com> wrote:

[2019-04-03 20:21] aggieben commented on #752
Agree here.  Being able to manually set a fee is a pretty important feature if users want to do their own fee estimation / prioritization (I am one such user).

[2019-04-03 23:23] danwalmsley opened #1298 "Poor performance when ListBoxItems are generated"
### General Description

A clear and concise description of what the bug is.
When pages with listboxes showing lots of coins are loaded for first time, there is a ui freeze and long delay.

### How To Reproduce?
Load a wallet with a long history or lots of coins.

Open history, then coinjoin tab, send tab, notice the pause in ui (tab switch isnt instant)

### Operating System
all

This is related

[2019-04-03 23:27] danwalmsley commented on #1089
Blocked on https://github.com/AvaloniaUI/Avalonia/issues/898

[2019-04-03 23:28] danwalmsley commented on #1077
I can add this to avalonia

[2019-04-03 23:29] danwalmsley commented on #1077
https://github.com/AvaloniaUI/Avalonia/issues/2422

[2019-04-03 23:31] danwalmsley commented on #842
awaiting https://github.com/AvaloniaUI/Avalonia/issues/898

[2019-04-04 18:24] danwalmsley commented on #1201
I got hold of an old gtx1060 and installed it on a windows 7 pc, but with the latest drivers and it works.

@tolerant-fellow can you try updating either using windows update or downloading from nvidia website?

![image](https://user-images.githubusercontent.com/4672627/55579009-2ba6fa00-570f-11e9-966d-803c9c4e44e3.png)

[2019-04-04 19:26] danwalmsley commented on #1201
@hubnix @mpolavieja can you also run a full windows update installing also optional updates like nvidia graphics or intel hd graphics driver updates and see if it resolves the issue.

[2019-04-04 21:04] danwalmsley commented on #1201
Update:

   So I have tried 3 different video cards 1 GT640 and 1 GTX1050 ti, and also Intel HD graphics, iv tried oldest nvidia drivers and intel drivers I could find, but couldnt repro.

   Please all update nvidia drivers and windows update and if problems still persist we may need to talk about remote debugging with one of you.

[2019-04-04 23:58] dreboli opened #1299 "Possible to rebroadcast a tx with a higher fee?"
Tx was sent with a low fee, I'd like to rebroadcast it with a higher fee.
According to wasabi's history the first low fee tx never happened.

Can I choose the same UTXO-s, set a higher fee and send that?

[2019-04-05 07:02] nopara73 opened #1300 "Start calling Mnemonic words to Recovery Phrase"
It's more user friendly. (It's ok to only change it in the Gui.)

[2019-04-05 16:19] nopara73 commented on #1250
Talked this through, I close this until someone needs it.

[2019-04-05 16:19] #1250 closed

[2019-04-05 18:17] lontivero commented on #1299
You cannot do it with Wasabi today because it doesn't create transactions signaling they can be replaced by fee. However, we have been working on detecting RBF transactions and can start signaling.

[2019-04-05 21:26] willcl-ark commented on #1010
A slightly less automated approach, and _slightly_ different to OP (sorry @drkskwlkr):

Would it be acceptable to be able to select e.g. 5 Zerolink Mixed Coin Outputs, and then provide Wasabi with 5 receive addresses In one go), and let Wasabi handle sending each Mixed Coin to to each address with the requested fee?

This would have the advantage that that OP's 9-10 steps need only be done once pe

[2019-04-06 09:23] 2pac1 opened #1302 "OSX CMD + Q does not close the app"
On OSX mojave
CMD + Q does not exit from the app, and that is what should happen when you press cmd+q

Wasabi wallet letters in the top left corner of the menu flashes, but nothing happens.

[2019-04-06 10:51] molnard commented on #1302
Thank you for your report! We are on it already!
https://github.com/zkSNACKs/WalletWasabi/issues/1089

[2019-04-06 13:48] 2pac1 commented on #1089
quiting from the menu exits the wallet on osx mojave

[2019-04-06 13:48] 2pac1 commented on #1302
cool.
quiting from the menu exits the wallet on osx mojave.

[2019-04-06 13:52] 2pac1 commented on #1302
my bad. File - exit from the wasabi exits the app, not the menu in osx

[2019-04-06 13:56] 2pac1 opened #1305 "Deleting the wallet - wasabi recreates it"
When you get to wasabi screen where you want to load the test2 wallet for example.
If you go to the hdd where the wallet is saved, and delete it, and after that go back and press load on the test2 you just deleted, wasabi will re-create that test2 on your hdd from memory although you just deleted it before loading it.

Wasabi should somehow interact with the user and let the user know that wallet

[2019-04-06 13:59] 2pac1 commented on #1300
mnemonic words is perfect if you ask me.
what is not clear is password 25th passphrase or what?

[2019-04-06 14:39] 2pac1 opened #1306 "Serious problem with mistyping password - and wasabi does not check it - funds could be lost"
Hi,

To continue onto this https://www.reddup.co/r/WasabiWallet/comments/b8bof7/mistyped_a_password_now_i_lose_everything

I have verified it and it is as following:
1. generat wallet.
2. wasabi asks you to test password and does not want to load wallet before you test it
3. you close wasabi, and you start it again and it will LOAD WALLET with password that has not been tested

This is very very b

[2019-04-06 14:41] 2pac1 opened #1307 "Seed needs to be verified"
Hi,

What I suggest is that seeds needs to be entered manually by user, each word, and password as well. Until this has been done, use SHOULD NOT BE ABLE to start the wallet or get to receiving addresses > now this is the case where you can get to receiving addresses without you verifying password.

[2019-04-06 14:42] 2pac1 opened #1308 "Password can be set to = no character"
Not sure if this is intended behaviour but logic dictates that you should enter password and that the password should not be empty.

[2019-04-06 14:44] 2pac1 opened #1309 "Retype your password field is missing"
Hi,

 Definitely retype your password field is needed.
Extra 5s user spends on it is well worth it and especially as we all are used to this type of UX and not just one field and off you go.

[2019-04-06 14:49] 2pac1 opened #1310 "Select the exchange from which the price will be pulled"
Maybe an option for users to select from which exchange the price will be shown

[2019-04-06 14:51] lontivero commented on #1305
Wasabi prevents files corruption by making backups. When you try to load a wallet from a file that is not there (you deleted it) Wasabi detects the file can not be loaded and try using and restoring the backup file.

If you want to delete your wallet in a way that cannot be recoverable then you should delete the backup file too.

This is not a defect but a behavior by design and that's how we expe

[2019-04-06 14:53] 2pac1 commented on #1305
I understand what you just said.
But, if the wallet is not present on the hdd any more, and it is restored from back as you say, then why not alert the user about this?

[2019-04-06 15:04] lontivero commented on #1307
What you describe is a common flow in most wallets that we don't want to imitate. As a Wasabi user you are free to backup your seed or not, Wasabi team assumes users have the ability to judge what is better for themselves and backup the seed it they think that's what they should do. I made the same suggestion time before simply because that's what other wallets do even when I personally hate when

[2019-04-06 15:06] lontivero commented on #1308
You are free to set a password or not, it is up to you because nobody knows better than you what is better for your money.

[2019-04-06 15:06] 2pac1 commented on #1307
Now you have option to mistype password and proceed to the wallet just by
closing it and starting it again

You should re-enter everything again, seed and password

If we want users to be safe..

On Sat, 6 Apr 2019, 17:04 Lucas Ontivero, <notifications@github.com> wrote:

[2019-04-06 15:10] 2pac1 commented on #1308
Then GUI should reflect it so people know.
If the pass is asked from a user it is expected that something is entered.
If you decide not to enter anything, maybe UX should reflect that and show
you your No Pass is selected Selection

What else is not clear is...is this pass that encrypts locally or acts as a
25th word
Can't find anything about it

On Sat, 6 Apr 2019, 17:06 Lucas Ontivero, <notifica

[2019-04-06 15:33] nopara73 commented on #1308
It is intended behavior. Choosing a strong password is common sense, if someone doesn't do that, then he must have a very good reason to do so.
For example I think it's fairly common to mess around with wallets for testing or trying out purposes.

You may find this design decision a bad one. I would argue it's not, I'd acknowledge it's debatable, however we don't need to get into arguments about i

[2019-04-06 15:47] 2pac1 commented on #1308
I was resting it with dummy pass and used dummy passwords so I get I get
what you are saying..but there can't be argument that when you set password
you do not exactly know what the password will be used for.

Now I get that it is being used as 13/25th word aka passphrase and on top
of that the same passphrase is used to encrypt locally wallet file on the
disk.
So when you do not enter pass, do yo

[2019-04-06 18:01] AlexIsNice opened #1311 "Coinjoin bug (not allowing me to use coinjoin)"
I have received some coins on my wasabi wallet,when i go to coinjoin i enter my password and then press enqueue coins,it says queued HOWEVER as soon as i get my password out of my clipboard that queued sign disappears and it is like i did nothing
### How To Reproduce?

1.Go to coinjoin
2.Select a transaction
3.Enter in password,select anonimity sets and copy and paste the password
4.It should say

[2019-04-06 18:12] 2pac1 opened #1312 "Some form of injection is possible when naming the wallet"
When I named the wallet:
<script>alert(document.cookie);</script>

I
<img width="314" alt="Screenshot 2019-04-06 at 20 08 18" src="https://user-images.githubusercontent.com/35058480/55673397-e5d16980-58a7-11e9-8440-c61ab17b40d5.png">
t resulted in a folder being created instead of the wallet, and later on that wallet is not seen by the wasabi app.
Seems there is no proper sanitisation in the namin

[2019-04-06 18:16] molnard commented on #1302
Yes exactly. Only OSX has this kind of menu-system so it needs to be implemented individually.

[2019-04-06 18:17] 2pac1 commented on #1302
Ok. As that is the first thing I noticed that I cannot close it with a shortcut.

[2019-04-06 18:27] molnard commented on #1300
The recovered ExtKey is derived with the password And from that you can decrypt your original seed. For more details:
https://github.com/zkSNACKs/WalletWasabi/blob/a2afacf875b6e5cadaa798c7912b72d92e19eeb5/WalletWasabi/KeyManagement/KeyManager.cs#L107

[2019-04-06 18:30] 2pac1 commented on #1300
So its passphrase (13/25th word). I figured that out.
But that is so not clear when using wasabi.
Or else I would not be asking about it.

[2019-04-06 18:31] lontivero commented on #1312
Thanks for reporting this issue. We will fix it.

[2019-04-06 18:32] 2pac1 commented on #1312
Yep, who knows what you could do with it if you pushed it further..

[2019-04-06 18:34] molnard commented on #1306
We have slightly changed the workflow of Wallet Generation with this Test Password method because of the problem you mentioned. On the other hand there is a lot of functions which do not need your password, for example you can load your wallet without password. We would like to keep it as it is in bitcoin core. Making a "login screen" would give false sense of security.

[2019-04-06 18:35] 2pac1 commented on #1312
<img width="248" alt="Screenshot 2019-04-06 at 20 34 50" src="https://user-images.githubusercontent.com/35058480/55673687-73628880-58ab-11e9-94b4-4a264a65d77e.png">
when you put a lot of stuff into the field. Field should be limited. No need to put a lot of stuff just for the name. Dont see how anyone could use naming the wallet to be longer than 30 char or so.

[2019-04-06 18:40] 2pac1 commented on #1306
but why are you allowing me to proceed with a password that I mistyped at one input field, and now I am at receiving address section sending funds over and my 13th word is not verified? Should not be like that.
Closing the app should not mean that you can now magically use cheat codes to evade the passphrase test.
Closing the app should not lower your security and have app behave differently.

[2019-04-06 18:48] 2pac1 opened #1313 "Receiving label text length should be limited"
Label field should be fixed to not allow more than 100 characters or so.
Now there does not seem to be a limit, and thats no good, you can put in there so much stuff that could crash wasabi or who knows what.
<img width="1113" alt="Screenshot 2019-04-06 at 20 48 12" src="https://user-images.githubusercontent.com/35058480/55673815-4fa04200-58ad-11e9-9199-b5bfd9a775a3.png">

[2019-04-06 18:51] molnard commented on #1311
Hi,
It is de-queued by the Coordinator. There could be multiply reasons of that. Could you check the Help / Data Folder => Logs.txt
Please consider your privacy before if your are planning to post some part of your Log file here!

[2019-04-06 18:55] 2pac1 opened #1314 "Load second wallet msg while you have wallet opened"
<img width="543" alt="Screenshot 2019-04-06 at 20 51 01" src="https://user-images.githubusercontent.com/35058480/55673845-c2112200-58ad-11e9-81cd-78ccf8c3725a.png">

If I am not mistake you cannot have two wallets opened at the same time.
So text is misleading.

instead of ....to open another wallet....text should be ...to open a different wallet..
Saying "to open another wallet" implied you could

[2019-04-06 18:59] molnard commented on #1300
I think it is communicated as simple as possible to the users. You __have to__ write down the Recovery phrases and your password. It was a design concept to make the UI as simple as possible and not to overload it with technical details.

[2019-04-06 19:03] 2pac1 commented on #1300
I understand.
So maybe it is me overthinking as I know what this is, but I did not know why you use it for.
User should have an option to see what that is and to be educated in the process and not to write down stuff without knowing what that is.
It is not clear what the password is for. If it said that it is 13th or something I would get it instantly.

Maybe you have been with it for so long, but

[2019-04-06 19:16] lontivero commented on #1312
The defect was fixed in the PR referenced above. Would you like to test it?
We cannot limit the length because it doesn't depend on the length of the wallet name but on the full path instead.

[2019-04-06 19:19] lontivero commented on #1314
ack. I will change the text as you suggest.

[2019-04-06 19:21] 2pac1 commented on #1312
but the input itself from the user, can be limited surly no?
can test

[2019-04-06 19:22] 2pac1 commented on #1314
already created pull request
https://github.com/zkSNACKs/WalletWasabi/pull/1316

On Sat, Apr 6, 2019 at 9:19 PM Lucas Ontivero <notifications@github.com>
wrote:

[2019-04-06 20:50] lontivero commented on #1312
Yes, however that will not solve the problem.

[2019-04-06 21:15] lontivero commented on #1305
Because there is no reason to do that given it is the expected behavior. We don't notify the users when things happen as we expect.

[![Video](https://user-images.githubusercontent.com/127973/55675343-78b5d800-5897-11e9-80bc-9c5410ad5ff1.png)](https://www.youtube.com/watch?v=7vIjBtdEQRE)

[2019-04-07 05:18] AlexIsNice commented on #1311
Hello,i have posted the logs on pastebin

https://pastebin.com/PGJ4VsyU

[2019-04-07 07:50] 2pac1 commented on #1312
Why can't the path length in the back be unlimited and input field with a
limited length?

On Sat, 6 Apr 2019, 22:50 Lucas Ontivero, <notifications@github.com> wrote:

[2019-04-07 07:56] 2pac1 commented on #1305
Maybe to lock a wallet file while wasabi is using it so you can't delete it
while it's being used?

You could have a malware that deletes or tries to mess with the wallet file
and user wouldn't be notified. And it's not normal behavior for anyone to
delete the wallet file while wasabi is being opened using that wallet file.

I get it that we shouldn't overwhelm the user with all the details but
ag

[2019-04-07 08:42] nopara73 commented on #1307
Everyone has the right to be stupid. Our users are not children and I am not their father.

[2019-04-07 08:42] #1307 closed

[2019-04-07 08:53] nopara73 commented on #1300
Mnemonic words suggest you should memorize them if you are a native English speaker, which is misleading.
But if you are not a native speaker you may don't even know what mnemonic means. At least it was certainly the case for me.

Btw how about "recovery words"? (Instead of phrase.) "word" is a more common word than "phrase" so it may be better with non-native speakers.

[2019-04-07 09:39] nopara73 opened #1318 ""No such mempool or blockchain transaction" Serialized to CoinJoins file"
I saw this in server logs today when I restarted the server:

![image](https://user-images.githubusercontent.com/9156103/55681703-d1ce4c00-5929-11e9-9672-312ced187d42.png)

[2019-04-07 09:40] 2pac1 commented on #1300
Recovery words might be better than phrase.
And those who are new to this, recovery words will sit better with them then mnemonic that's for sure.

<img width="720" alt="Screenshot 2019-04-07 at 10 56 37" src="https://user-images.githubusercontent.com/35058480/55681695-af3c3300-5929-11e9-809d-d9e813f639c2.png">

Maybe we could put a + between recovery words and password.

Final working Acknowledge

[2019-04-07 09:43] 2pac1 commented on #1300
Also

You can recover your wallet on any computer with

Maybe it would be better:
**You can recover your wallet on any computer only if you know both:**

Just ideas so I thought I will share..

[2019-04-07 10:22] 2pac1 commented on #1300
This would be better:

**You can recover your wallet on any computer only if you know both:**
Recovery words
**AND**
Your password

(to put AND instead of initial + suggestion)

[2019-04-07 10:53] 2pac1 commented on #1300
https://github.com/zkSNACKs/WalletWasabi/commit/17f9b57bf491c49dc72fdae81c9c29fd92119a53

I am looking it from my perspective where I did not know exactly why the password is being used. If I saw it was a 13th word and that password is equally important as the recovery words, then I would know.

[2019-04-07 11:02] 2pac1 commented on #1232
automatic detecting dust would definitely be a plus

[2019-04-07 11:04] 2pac1 commented on #1302
just saw that it was opened already: https://github.com/zkSNACKs/WalletWasabi/issues/1089

[2019-04-07 11:05] 2pac1 commented on #958
most def we need the .dmg to be signed

[2019-04-07 11:10] 2pac1 commented on #752
Setting fee manually for advanced users is a must

[2019-04-07 11:12] 2pac1 commented on #759
I vote for EV as every little thing counts, and especially critical software like wasabi

[2019-04-07 11:16] nopara73 commented on #1311
Did you pay attention to the minimum amount?

[2019-04-07 11:24] nopara73 commented on #759
ACK. @bharmat can you go ahead and apply for a new one?

[2019-04-07 12:10] #1300 closed

[2019-04-07 13:58] nopara73 commented on #1314
ACK

[2019-04-07 14:32] #1314 closed

[2019-04-07 14:34] #1312 closed

[2019-04-07 15:05] nopara73 commented on #1299
RBF is a privacy leak, but I'm not sure how significant it is. Nevertheless it's possible we'll have to make a privacy compromise on this if fees become unbearable.

Anyway closing this, since the question has been answered and it's only remotely related.

[2019-04-07 15:05] #1299 closed

[2019-04-07 15:08] nopara73 commented on #1309
It's not missing, it's just been moved to wallet load.

[2019-04-07 15:08] #1309 closed

[2019-04-07 15:20] nopara73 commented on #1308
For the record, I previously used empty password temporary mainnet wallets to speed up mixing my coins. It was very useful for me and not for debugging.

Yes.

encryption of the wallet in this case?

Not sure, NBitcoin takes care of it. Feel free to figure out exactly how it does it tough, but I'm personally not interested analyzing the security of empty pass wallets:)

anything so you proceed if

[2019-04-07 15:22] nopara73 commented on #958
Just a quick note. Since I've realized `.pkg` is a more common and convenient way to install apps on OSX than `.dmg` and when we'll have an apple build environment we should target that.

[2019-04-08 03:52] lontivero commented on #1318
The transaction `2009552ba60086a116aebfe0898f9fe2ff7f33f63f5d0f2c676c3b9cc846e590` does not exist.  The question is why do we have a transaction id in the coinjoins file when it never existed? I think there could have happened some error while broadcasting the transaction that failed silently.

There are too lines that make me think that something like that can happen:

* In NBitcoin, the RPCClien

[2019-04-08 05:37] Transisto opened #1319 "Not connecting to backend"
![image](https://user-images.githubusercontent.com/388716/55700825-c9642880-599e-11e9-8515-6d5e7bb4f5e7.png)

Tor logs :
[code]

Logs:
[code]

[2019-04-08 05:43] Transisto commented on #1318
This block explorer shows the transaction as removed for double-spending
https://btc.com/2009552ba60086a116aebfe0898f9fe2ff7f33f63f5d0f2c676c3b9cc846e590

[2019-04-08 06:17] 2pac1 commented on #1308
I am not advocating clippy design
But what I am suggesting and drawing notice to is that when you move away from the classical account creation, be it shopping cart for a website or creating a wallet in this case, there is set of steps and procedures that people are used to and that people expect.

Re-testing the seed itself is best done when you are creating it.
Same goes for password.
Second fil

[2019-04-08 06:27] 2pac1 commented on #1305
Wallet not being present on the hdd is not normal behaviour, and although wasabi does the right thing and restores it, infected machine could be trying to do something, and alerting user about the fact that the wallet was gone, could not hurt, in my opinion.
Especially as this is not expected to be encountered often, if ever for regular user.

[2019-04-08 07:15] bharmat commented on #759
Sure, I'm on it!

[2019-04-08 07:30] 2pac1 commented on #759
Contact Sales-Inquiry@DigiCert.com to see if they can support the project and offer single domain EV free of charge.

[2019-04-08 09:59] molnard commented on #1311
@AlexIsNice the link is broken on pastebin => Page Removed. Could you upload that again? You can send me it in email also.

[2019-04-08 10:12] nopara73 opened #1320 "Add Password Finder to Daemon"

[2019-04-08 11:15] nopara73 opened #1321 "Add Test Recovery Words Tab"
![image](https://user-images.githubusercontent.com/9156103/55720068-2a701880-5a00-11e9-9930-16418a745255.png)

We can serialize the hash of the recovery words to the wallet file and with that we can test them against a wallet.

Note, we should also include the password into the tester. (Since that's the 13th word.)

[2019-04-08 12:02] AlexIsNice commented on #1311
Helllo nopara,the minimum amount is 0.10 i tried mixing 0.13.

I have went ahead and reinstalled since there was an other problem,ill retry it when i receive more coins.

[2019-04-08 13:09] nvk commented on #1321
ref that tweet, [here is what we did on Coldcard.](https://coldcardwallet.com/docs/passphrase)

![BIP39 Passphrase – Coldcard Wallet User Docs 2019-04-08 09-08-49](https://user-images.githubusercontent.com/797193/55726505-f08e1a80-59dd-11e9-881c-347e7eb64c3c.png)

[2019-04-08 14:51] nopara73 commented on #1318
Ok, so it was a double spend attack :/

Anyway, everything works as intended then.

[2019-04-08 14:51] #1318 closed

[2019-04-08 17:45] AlexIsNice opened #1322 "Coinjoin lower minimum"
Hello,i wanted to suggest that the coinjoin minimum mixing should be lowered,i can only mix my coins when i have like 500-600$ which really isnt great,i should be able to mix 50-100$,especially when other mixers allow you to mix like 5-10$

Please consider that

Thank you!

[2019-04-08 17:45] #1311 closed

[2019-04-08 20:05] molnard commented on #1322
Hi Alex,

The minimum denomination has to be selected very carefully. It determines how many rounds needed to consume a larger amount of BTC. Imagine that if we would use 5 USD minimum denomination than how many rounds would have been required to anonymize 1 BTC. A lot. Moreover we would have a lot of 5 USD mixed outputs which is basically a useless amount so it likely will joined together in the

[2019-04-08 21:23] lontivero commented on #1305
There is no way to protect anything running on an infected machine. The solution is not changing Wasabi but preventing infections.

The user who deleted the wallet file knows that the file was deleted so, he doesn't need to be alerted.

[2019-04-09 02:08] Transisto commented on #1322
Similarly someone might prefer to limit the number of UXTOs by remixing 0.2s many time than to break them down further.

https://github.com/zkSNACKs/WalletWasabi/issues/1238 (Higher minimum)

[2019-04-09 04:20] Transisto commented on #1320
If it's referring to https://github.com/zkSNACKs/WalletWasabi/issues/1035

I'm still ideologically against it. #controversial

[2019-04-09 06:48] 2pac1 commented on #1305
I agree, that you cant protect infected machine.
Small floating notification box inside wasabi (I saw some proposal for those floating notifications) would not hurt anyone's eyes.

[2019-04-09 10:24] #1306 closed

[2019-04-09 10:54] nopara73 opened #1323 "Opening Text doc doesn't work on Italian Windows 10"
Eg. File/Open/Config File.

It's likely that it's buggy on some other languages too.

[2019-04-09 14:09] molnard commented on #1323
I installed Italian language and set it. Looks like it is working for me. I can add some exception handlers to Log if there is an error there.

[2019-04-09 16:00] nopara73 commented on #1323
There's no error a "select your program to open with" menu came up for the guy I've seen. But also notepad was called "Bacca notes" or something similar for him.

[2019-04-09 16:14] nopara73 commented on #1305
Guys, I'm closing this. It's procrastination. We're not Bitcoin Core 😄

[2019-04-09 16:14] #1305 closed

[2019-04-09 16:21] nopara73 commented on #1322
We lowered the minimum 10x already. The problem is, the original DoS attributes were calculated for 1BTC denomination. So I'm already worried. https://github.com/nopara73/ZeroLink/#d-dos-attack

[2019-04-09 16:23] nopara73 commented on #1319
How long did this persist? Or does it still persist?

[2019-04-09 16:23] nopara73 commented on #1313
ACK.

[2019-04-09 16:25] nopara73 commented on #1313
Hmm, thinking about it, when I transfer from one wallet of mine to another one then I copypaste the clusters which sometimes can be really long, so make sure to let this thing be really long.

[2019-04-09 16:33] nopara73 commented on #1310
The price is pulled from the backend. We only communicate with the peers and the backend.

1. This avoids unreliability and saves us from endless debugging.
2. Our backend is the only onion that serves the price as far as I know.
3. Price must be periodically synchronized. Adding Tor requests every x minutes to another service is a bad idea, might interferee with other more important things.
4. We

[2019-04-09 16:33] #1310 closed

[2019-04-09 16:37] nopara73 commented on #1010
For now, this is in my mind:

1. Wasabi should load and watch all the wallets the same time.
2. Wasabi should be able to send to another Wasabi wallet on the same computer with merge avoidance or PayJoin.
3. Wasabi should be able to mix to another Wasabi wallet on the same computer.
4. Wasabi should integrate hardware wallets with coinjoin disabled.

[2019-04-09 17:10] MaxHillebrand opened #1324 "Random Time Staggered Automatic Re-Joining"
### Is your feature request related to a problem? Please describe.

Currently, when the user sets a desired anon set, say 100, the UTXO will get automatically re-registered for the immediately next coin join round. This might lead to time correlation attacks and a less then optimal anon set. Some of the same peers in one round will all re-join their coins, thus decreasing the "real" anon set, comp

[2019-04-09 17:27] RiccardoMasutti commented on #1323
(Tests performed on a VM with updated Windows10)

There are problems since the wallet generation. It seems like that the language/charset is not recognized. Chinese/Japanese characters are shown instead.
![Wasabi1](https://user-images.githubusercontent.com/46527252/55821322-bb242280-5aec-11e9-87c3-16298533f508.png)

When I try to "File>Open>Config File" Windows me which application I want to use t

[2019-04-09 18:10] lontivero commented on #1324
I used to think the same because it is rather intuitive concept however, after analyzing more than 2600 Wasabi coinjoin transactions I saw that remixed coins in a transaction `n` do not come from the previous one `n-1` only but from older transactions too. This means that what you suggest is already happening. Just as an example I let here some evidence. Below we have a list of 3 Wasabi coinjoin t

[2019-04-09 18:18] lontivero commented on #1323
This happens when the `.json` extension file is not registered to be open with Notepad. Once you associate the notepad to open all the `.json` files it stops asking you. In the picture I can see the checkbox "Use always this application for .json files" is checked so, it shouldn't ask you again.

[2019-04-09 18:22] lontivero commented on #1323
This is why I wanted to use notepad to open the `.json` files instead of using the user registered application. Some people have not registered application for .json files while others will open the .json file with Microsoft Word or Corel Draw.

[2019-04-09 18:46] lontivero commented on #1321
I would agree with this if we weren't using bip38. The idea behind bip38 is protecting (encrypt) a secret with a password making impossible for an someone to recover it without knowing the encryption password. For Wasabi users this means that even if someone get access to the wallet file their money is still safe. Moreover, bip38 makes password hard to crack simply because it wouldn't make any sen

[2019-04-09 18:53] nvk commented on #1321
You already know if it is correct by accessing the wallet. But the fingerprint ID poses no extra risks, we used the same standard as the BIP32

https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki#key-identifiers

[2019-04-09 19:08] lontivero commented on #1321
The only way to know if it is correct by accessing the wallet is by brute forcing the password and checking if the key is correct, that takes about a second in a decent computer. However, having the mnemonic and the fingerprint I could break the password easier because scrypt is not involved in the process. If I am wrong please explain me why.

[2019-04-09 19:20] nvk commented on #1321
We are talking about different things, see twitter thread. Fingerprint is a hash of a pubkey.
(mobile)

[2019-04-09 19:46] lontivero commented on #1321
We are talking about different things, I agree. It seems you use bip39 with passphrase (pbdkf2 is not for making passwords hard to crack) and we use bip39 + passphrase too but protected with bip38 which uses scrypt to resist brute-force attacks (using the extended word as password too). This is why I say that I would agree with this idea except for the fact that we use passphrase-protected key (yo

[2019-04-10 00:20] Transisto commented on #1319
Lasted an evening, Was ok the next day, other people were reporting the
same thing on telegram.

Please close

On Tue, Apr 9, 2019, 12:23 nopara73 <notifications@github.com> wrote:

[2019-04-10 06:59] nopara73 commented on #1323
But I need to use Notepad++

[2019-04-10 07:46] nopara73 commented on #1324
I've seen this intuition before, but IMO this makes no sense. Please try to describe an actual attack step by step. If you can come up with one I reopen the issue.

[2019-04-10 07:46] #1324 closed

[2019-04-10 07:50] nopara73 commented on #1319
Hmm... I'm not a fan of blaming things on Tor and we've hacked around Tor bugs previously, but I'm not quite sure what could we do about this. I'll reopen this issue if it turns out to be somewhat common and try to brainstorm harder.

[2019-04-10 07:50] #1319 closed

[2019-04-10 07:58] molnard commented on #1323
I have the following solutions:

1. Leave it like this. Current behavior is standard on windows if an extension is unregistered you have to choose a program. This solution is not recommended as everyday users dont know json file extension and how to open it.
2. Check if the file is registered if it is not then open in notepad.
3. Check if Notepad++ is installed on the default path if not open file

[2019-04-10 09:55] MelbourneDeveloper opened #1325 "Hardware Wallet Integration"
### Is your feature request related to a problem? Please describe.

No

### Describe the solution you'd like

Work with you to add Trezor integration with [Trezor.Net](https://github.com/MelbourneDeveloper/Trezor.Net)

### Describe alternatives you've considered

Months and months of grueling hard work to create another C# Trezor library.

[2019-04-10 11:45] prusnak commented on #1325
Good news @nopara73! @MelbourneDeveloper (author of Trezor.Net library) wants to help with integrating the library into the Wasabi Wallet.

[2019-04-10 11:51] nixbitcoin opened #1326 "Consolidate-by-CoinJoin"
### Is your feature request related to a problem? Please describe.

I often worry about decreasing my anonset by consolidating CoinJoin UTXO's. Eventhough the coins previous history has been unlinked through the equal input CoinJoin, consolidating A' and B' (post-mix coins) makes it easier to relate them to A and B (pre-mix coins) if A and B were related.

### Describe the solution you'd like

I w

[2019-04-10 11:56] nopara73 commented on #1323
Can we check it? If we can then do this. If not then do 1.

[2019-04-11 06:50] nopara73 opened #1329 "Add News Section"
We've been talking about this for quite a while. It would be like Visual Studio's Developer news section. In Wasabi this would contain crucial information.

![image](https://user-images.githubusercontent.com/9156103/55936472-b7041c00-5c36-11e9-8f02-6bbf74c0a4ef.png)

[2019-04-11 09:49] 2pac1 commented on #1325
Hope we integrate Ledger as well :)

[2019-04-11 09:52] MelbourneDeveloper commented on #1325
@2pac1

https://github.com/MelbourneDeveloper/Ledger.Net

It's based on the same hardware integration

https://github.com/MelbourneDeveloper/Device.Net

[2019-04-11 09:52] MelbourneDeveloper commented on #1325
Who can I talk to about integrating all the wallets?

[2019-04-11 09:57] 2pac1 commented on #1325
If we could get both trezor and ledger, that would be great.

[2019-04-11 10:14] MelbourneDeveloper commented on #1325
@2pac1 point me to a document about what you trying to achieve and I'll start working on something.

Also, I do https://github.com/MelbourneDeveloper/KeepKey.Net

[2019-04-11 17:13] Transisto commented on #1329
Could  add  fishing risk. (electrum case)
What kind of information would be displayed there besides software update notice or coordinator specific information?

[2019-04-11 17:19] Transisto commented on #983
I think this should have it's priority bumped,

We've been seeing 140+ sat/B at day and 3 sat/B at night for a few weeks.

Wallet is aware of the mempool shouldn't be hard to set coinjoins to run only when expected fee is lower than a threshold.

[2019-04-11 19:38] ManfredKarrer opened #1332 "Wasabi wallet not responding at shutdown"
### General Description

I had open coin joins and wanted to shut down the wallet. A popup came with stating to wait until some sessions are compted. I left it running but after 1 hour it still is not completed and shows as not responding. Need to hard kill it ;-(

### How To Reproduce?

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Screenshots

If applicable, add sc

[2019-04-11 20:01] lontivero commented on #1325
@MelbourneDeveloper integration we hardware wallets is in the roadmap but there are a few issues that we still don't know how to address [see: New Wallet Development Direction](https://github.com/zkSNACKs/Meta/issues/43#issuecomment-459887340).

Basically the main issue we found is that it is not possible to integrate HWs with wasabi coinjoin feature because the HW should be able to sign a transac

[2019-04-11 20:34] MelbourneDeveloper commented on #1325
@lontivero can do. This makes sense. Please do invite me to Slack.

I can't say when I'll be able to get started but I will.

[2019-04-11 21:55] nopara73 commented on #1329
Anyone can run Electrum servers.

[2019-04-11 21:56] nopara73 commented on #1332
It's fixed in the master.

[2019-04-11 21:56] #1332 closed

[2019-04-12 14:50] nopara73 commented on #1325
Hi @MelbourneDeveloper, I just got to this issue now. I didn't know about your libraries. This is awesome!

One thing that complicates things is that we don't use external libraries other than NBitcoin, so I wonder what's the right way to go about it.

First of all, I just created an invite link with 30 day expiry to slack: https://join.slack.com/t/tumblebit/shared_invite/enQtNjAwMjkyNzkyNTc3LTRmM

[2019-04-12 14:53] prusnak commented on #1325
The firmware supports these. So this should not be a problem

[2019-04-12 16:41] nopara73 commented on #983
Agree, but the proper implementation takes long time to build (advanced CJ tab) and I wouldn't really trust this work on anyone else but me :/

So unless a non-intrusive other way is figured out I'm not sure it'll be resolved anytime soon.

[2019-04-12 16:57] nopara73 commented on #1326
I'm against any UX complexity addition unless it's absolutely necessary, so here's my take on it:

The underlying issue is that users should use Wasabi as their Bitcoin wallet and not just an intermediary wallet. IMO there are three main reasons they use it the wrong way:

- missing hardware wallet integration
- missing bitcoin core integration
- can't be used in mobile.

The mobile issue is trick

[2019-04-12 18:10] mayankchhabra opened #1335 "Upgrade wasabiwallet.io"
### Is your feature request related to a problem? Please describe.

Wasabi Wallet's website, as it stands today, is more oriented towards BTC users who already have a good understanding of concepts such as fungibility, anonymity, and privacy in general. I think we are missing out the opportunity to get the attention of the other portion of users who still have to realize the importance of fungibil

[2019-04-12 19:55] lontivero commented on #1335
Ack. I like the idea of having screenshots because every time I see a wasabi screenshot I say "wow..!" even when I am one of the developers. List of features and FAQs are a must IMO too. About graphic illustrations explaining how chaumian coinjoin works, I think we need a video for beginners.

[2019-04-12 21:01] nopara73 opened #1336 "Autocorrect Block File Corruption"
https://old.reddit.com/r/WasabiWallet/comments/bcg3ke/locked_out_of_one_of_my_wallets/

[2019-04-12 21:03] nopara73 commented on #1180
I did not receive follow up on my email. I close this issue, but I'm open to reopen it.

[2019-04-12 21:03] #1180 closed

[2019-04-12 21:08] lontivero commented on #1336
I take it.

[2019-04-12 21:34] nopara73 commented on #1335
Great idea! However there are some serious limitations we are working with this website.

1. maintainability - The content should never be updated. -> no news and articles
2. no monster commits, start with small incremental improvements
3. no JS, only HTML+CSS
4. no packages, npm, nugets, external packages, etc...
5. no cookies
7.
8. there may be others, not sure, read back on the issues here

ACK

[2019-04-12 22:03] MelbourneDeveloper commented on #1325
Let me address some of your issues, and ideas one by one.

That sounds about right. This feature would need to be turned off when using a hardwarewallet.

This makes sense.

So, you want to keep dependencies low? This is a dependency diagram of my libraries. The important thing to understand is that Device.Net holds the interfaces while Usb.Net, Hid.Net, and Device.Net.LibUsb are the transports fo

[2019-04-13 00:25] lontivero commented on #1336
I verified Wasabi displays the _"here is already an open wallet. Restart the application in order to open a different one."_ message when one block related to the wallet is corrupted.

[2019-04-13 05:34] mayankchhabra commented on #1335
Acknowledge the limitations while working with the website.

I think Wasabi's core set of features, such as CJs, transaction labeling, Tor implementation (till BIP 156 is implemented) don't seem to be going away in the near feature. We can, meanwhile, have them listed on the website - because these features are what make Wasabi the #1 privacy wallet for BTC. The upkeep should not be hard once we r

[2019-04-13 09:47] #1336 closed

[2019-04-13 16:29] nopara73 commented on #1325
# UX

Bear with me, because I never used a hardware wallet before. So I went through from a UX point of view and tried to identify the tasks what a HW should do.

In the wallet manager we should add a new tab: Hardware Wallet.

![image](https://user-images.githubusercontent.com/9156103/56082184-ea50d180-5e15-11e9-8b45-f2f2bd50a04f.png)

Here the software should automatically detect any hardware wa

[2019-04-13 17:09] nixbitcoin commented on #1326
Could this be fixed by giving the user more control over the parameters of his mix (anonset, size distribution of outputs, time staggering of mixes). i.e. selecting to return 0.2 BTC in our example. This is complexity, but it could be hidden in an advanced options or in an automatically generated set of result options, like when withdrawing cash from an ATM.

Users may also prefer to move post-mix

[2019-04-13 17:20] nopara73 commented on #1325
I guess there's no good solution here. Every other wallet takes this security risk (I can imagine even more) and the lack of hardware wallet support is a systemic privacy risk for Wasabi Wallet, so it's a must. At this point it doesn't introduce much more security risk if we use your NuGet libraries or not. At least we kind of know who you are and you seemed to be trustworthy for now. So we can pr

[2019-04-13 17:57] nopara73 commented on #1325
I was trying to figure out what's the best course of action and I think @achow101's library is the most secure solution we can do, because Bitcoin Core is going to use this and is already using this to an extent. This is poised to be the reference hardware wallet library: https://github.com/bitcoin-core/HWI

So I can sleep calmly at night and be sure that a bunch of core developer have looked at t

[2019-04-13 21:39] MelbourneDeveloper commented on #1325
@nopara73 , I've been working with hardwarewallets for over a year. I've poured countless hours in to designing, testing, and refining the libraries for all the different platforms. I can understand your apprehension with working with them, but everything I've done is open source and it is fully auditable by anyone. If you are worried about built packages, there can be some kind of mechanism for e

[2019-04-13 22:11] MelbourneDeveloper commented on #1325
@nopara73

This all sounds fairly straight forward and doable.

[2019-04-14 01:17] achow101 commented on #1325
A simple hardcoded hash can be used to check that the binary being executed is the one that is expected.

The HWI binaries are completely self contained. It uses pyinstaller which packages together python and all of the binaries into a self contained binary, so there is no need for users to install python or any packages.

***

HWI entirely uses BIP 174 PSBTs for passing all of the information nee

[2019-04-14 01:25] MelbourneDeveloper commented on #1325
@nopara73, @achow101, @prusnak, @2pak1

You guys work out the path forward you want to take. Personally, I wouldn't touch an app that relies on python with a ten foot poll, but that's your choice. If/when you want hardwarewallet integration in C#, let me know.

[2019-04-14 11:25] molnard opened #1339 "Zero peers in client"
### General Description

The peer indicator on the right bottom corner is zero and it is stays like that. Even after one hour of waiting. With the release 1.1.3 everything is fine.

### How To Reproduce?

1. Checkout master.
2. Open Visual Studio 2019.
3. Run in debug.
4. Zero peers.
5. Load wallet.
6. Still zero peers.

### Screenshots

![image](https://user-images.githubusercontent.com/9844978/5