[2018-10-26 08:05] rexmint opened #760 "Groupsends"
**Groupsends** - hopefully someone can create s better cooler sounding name for this.

The idea behind GroupSends is to bring more privacy and fungibility to bitcoin by making it harder for blockchain analyst to accurately assign inputs and outputs to users. GroupSends will also lower the cost of transactions for users.

GroupSends is essentially users batching their transactions together using th

[2018-10-26 08:37] nopara73 commented on #760
At first glance what you describe is the first version of blockchain.info's SharedCoin, which is of course sumbsetsum deanonymizable. However... wasabi users have utxos with the same outputs, which breaks subset sum. So, if we apply groupsend only for these inputs, groupsend could be a huge addition.
However if Unequal Input Mixing is implemented, this will not be the case anymore.
Nevertheless, w

[2018-10-26 10:36] rexmint commented on #760
Revising this into **JoinSends**

Users can only use UTXO(s) that are within a short range of the amount of CoinJoined mixed outputs. Currently this value is 0.05004 BTC. So, the UTXO range would be about 0.05003 to 0.05006 BTC. Once Wasabi Wallet is in Beta this value would go to 0.1 BTC. We will be assuming 0.1 BTC UTXOs to explain.

(?) Users can preferably CoinJoin to get access to JoinSends o

[2018-10-26 12:02] nopara73 opened #761 "Refactor Coins or change UI logic"
Right now the UI coins lists are being reset every time something changes in the coins list. This for example results in a lot of computation and losing selection.

Another issue concerning this is that UI Coins lists are created with `Global.WalletService.Coins.CreateDerivedCollection`, which gives an `IReactiveDerivedList<CoinViewModel>`, however `IReactiveDerivedList` is obsolated:
[code]

Our

[2018-10-26 14:19] #757 closed

[2018-10-27 08:29] nopara73 commented on #758
For the shake of tracking. I think either https://github.com/AvaloniaUI/Avalonia/pull/2032 or https://github.com/AvaloniaUI/Avalonia/pull/2032 will fix the first problem with Arch.

[2018-10-27 09:48] nopara73 opened #762 "Website refresh issues"
If you are not over Tor, refreshing the website doesn't always work, not sure why.

[2018-10-27 17:39] nopara73 commented on #726
@lontivero It seems like snap is making waves lately in the Linux world, which is universal Linux packaging. https://snapcraft.io/

[2018-10-27 17:41] nopara73 commented on #689
@lontivero I think we shouldn't do this. 1. It's huge work and 2. Windows users are more used to .msi-s. I'm afraid it'd create more confusion than solve. We could revisit this issue a later time.

[2018-10-27 17:41] #689 closed

[2018-10-28 08:53] nopara73 commented on #716
Just happened again. It fails here:

https://github.com/zkSNACKs/WalletWasabi/blob/00544dc8d44248e5e2c7b13a65279a2726da9b1f/WalletWasabi.Backend/Controllers/ChaumianCoinJoinController.cs#L626-L633

@lontivero @NicolasDorier Any idea why would it fail here once in a while? Am I using `Script.VerifyScript` wrong?

[2018-10-28 10:51] NicolasDorier commented on #716
It should not be this, but I advise you to use the followingCode:

`cjCopy.Inputs.AsIndexedInputs().Skip(index).VerifyScript(new Coin(outpoint, output), out var errors);`

It is more readable, and you will get errors.

[2018-10-28 11:30] nopara73 commented on #716
@NicolasDorier Thanks. I refactored it according to your suggestion. Tests pass locally.

https://github.com/zkSNACKs/WalletWasabi/blob/d729b65f95b422abb2e88195a0a6d52db7e97f24/WalletWasabi.Backend/Controllers/ChaumianCoinJoinController.cs#L626-L640

The issue may have been fixed by this refactoring. I'll close this issue, because we cannot reproduce it. (This happens like once or twice a month ra

[2018-10-28 11:34] NicolasDorier commented on #716
@nopara73
[code]

You can simplify

[code]

[2018-10-28 11:35] NicolasDorier commented on #716
You can probably refactor also `alice.Inputs` to just be of `Coin` type which is strictly the same as your record.

[2018-10-28 12:00] nopara73 commented on #716
@NicolasDorier Yes, I can and did refactor, works perfectly, thank you!

https://github.com/zkSNACKs/WalletWasabi/blob/70c81c19da11efbe821af467e8a76f3023ef85ec/WalletWasabi.Backend/Controllers/ChaumianCoinJoinController.cs#L626-L639

[2018-10-28 12:02] NicolasDorier commented on #716
you want to probably log witness and scriptPubkey for debugging

[2018-10-28 12:19] nopara73 commented on #716
@NicolasDorier I noticed you are using `SigHash.Undefined` by default, but I was previously using `SigHash.All`. I want the user to sign all outputs. Won't this change lead to vulnerability? For example the user sends me a witness that doesn't sign all the outputs, thus I won't ban the user and it keeps DoS-ing the server like this forever?

Or `SigHash.Undefined` should be just fine?

[2018-10-28 12:38] nopara73 commented on #716
Indeed, there is no DoS issue here. If a valid signature is provided then the round can go on.
There is still the privacy issue with some `SigHash`-es, like `SigHash.Single` though, so enforcing `SigHash.All` is beneficial from that point of view. However that could only happen if someone would use a software, other than Wasabi.

However if this random nasty bug comes from specifying `SigHash.All`

[2018-10-28 12:50] NicolasDorier commented on #716
Well you can still check the witness, you can trivially parse the signature and check the flag before at worst.

[2018-10-28 15:08] nopara73 commented on #762
I couldn't reproduce the issue today, because it's random, however I think I solved it with this commit: https://github.com/zkSNACKs/WalletWasabi/commit/8163d63342aca04f9861eb7c680a076e612c3af3

The issue is we are modifying iframes, and kestrel sets the last-modified header based on the index.html file modification, thus I think sometimes some browser just assumes it wasn't modified based on the

[2018-10-28 15:08] #762 closed

[2018-10-28 19:38] danwalmsley commented on #758
@nopara73 if you override the ui font you can try it, just put FontFamily="AnFontName" at the top of MainWindow, or search for where UiFont is declared and replace there.

(just to try if avalonia is blocking you)

[2018-10-28 22:07] JuniperTonic commented on #759
https://letsencrypt.org/
This is a CA that will give you a free SSL cert to use with your website. Not sure if you knew about it but its part of a movement to move the web to encrypted communications. Hope it helps!

[2018-10-29 08:08] nopara73 commented on #759
@JuniperTonic Thanks, it could had help, but oh well, we already ordered from digicert.

[2018-10-29 09:12] nopara73 commented on #758
@danwalmsley It doesn't work. I've been playing with it for hours now, nothing works, nor `FontFamily=new FontFamily("system-ui");` I don't know what am I doing wrong.

[2018-10-29 09:15] Gillibald commented on #758
Is it crashing on `new FontFamily("system-ui")`?

[2018-10-29 11:41] nopara73 commented on #758
@Gillibald I am a bit confused by how we are using Avalonia, because we are using submodules (and submodule of submodule that also uses Avalonia,) nuget packages and also somehow we use the latest build of Avalonia through `Directory.Build.targets` file, which I don't fully understand. In fact, I asked @danwalmsley yesterday to explain this in the next PR he's going to make today. Since I have abo

[2018-10-29 13:05] wasaw936 opened #763 "Run Wasabi in "Portable mode" from USB"
From the .tar.gz simply running ./wassabee on Ubuntu Linux which opened up the wallet perfectly. But it would be great for this to work in portable mode, like to run from a USB.

Current settings in ~/.walletwasabi
Settings option can be implemented to "Change to Portable Mode" and redirects settings folder to USB folder that the user chooses.

Would this really cause permission issues? what kinds

[2018-10-29 15:11] lontivero commented on #751
Status update: the problem is that the bitstream was able to continue reading after the end of the stream. I've fixed that, the tests pass and works okay with my wallet. I didn't pushed it as a PR just in case nicolas merges it before the wasabi release.

[2018-10-29 16:02] nopara73 commented on #763
Concept ACK, the implementor must be extremely careful, for the reasons [pointed out](https://old.reddit.com/r/WasabiWallet/comments/9s7d1v/run_wasabi_in_portable_mode_from_usb/) in our Reddit conversation.

[2018-10-29 18:18] lontivero commented on #716
I am not sure the changes can help to fix this problem. IMO we should log the raw  `output`,  `cjCopy` and `index` before throwing the exception. The idea is that next time this happens we can debug it to know why the script verification fails, then we can fix it.

As a side note, we could consider using the `libconsensus` library instead of the NBitcoin script verification.

[2018-10-29 18:18] nopara73 opened #764 "Implement Dynamically Adjusting Anonymity Set"
The idea: aim 1 round in every 12 hours.

After 12 hours,
[code]

Min anonset: 2.
Max anonset: 100. (Or 49? Since after 50 users get a green shield with a cross, and this would incentivize users to remix, which results in exponential anonymity set growth, but if the anonset would go over 50, they'd be happy with their green shield, even if they could do much better.)

[2018-10-29 19:04] lontivero commented on #689
I agree. Microsoft store is not good for privacy neither. Anyway, we could revisit this later.

[2018-10-29 19:08] lontivero commented on #763
For linux the user can implement this by creating a symolic link `~/.walletwasabi-->/mnt/your-portable-device`

[2018-10-29 22:01] s7n4qg3 opened #765 "Coins removed from waiting list and dequeued without warning"
I have ~0.06 BTC in my Wasabi Wallet spread across 13 UTXOs. The UTXO sizes range from ~0.001 to ~0.017. When I select 'coins' for CoinJoin, the coins are queued, and then a few seconds later, they are automatically dequeued without any warning or explanation. Here is the terminal readout (I've replaced identifiers with XXXX):

[code]

Wasabi Wallet says that Tor is running, that the backend is co

[2018-10-29 22:37] nopara73 commented on #759
Cetbot seems to do instant certificate: https://twitter.com/coinableS/status/1057037782189633536

[2018-10-29 22:41] nopara73 commented on #759
It seems like letsencrypt is instant too? https://twitter.com/Carsten71071425/status/1057038236898467841

[2018-10-29 22:49] nothingmuch commented on #759
same thing - let's encrypt is a certificate authority with ACME support, certbot is an ACME client and webserver configuration tool, and one of the ways of using a CA like let's encrypt. you can also use a webserver or proxy with built in ACME support to avoid configuring the server (traefik is a popular choice)

[2018-10-29 23:04] nopara73 commented on #716
Yeah, if it fails again let's log cjcopy. I wouldn't do that now, because it can be huge and there might be a DoS issue, someone by submitting many wrongsig request or something. It feels like logging something huge can be a bit of an issue. But if it fails again, I guess we have no choice.

Not sure if it's a server side issue. Would be good if it is. Let's wait and see.

[2018-10-29 23:06] nopara73 commented on #763
What would happen to the wallet file by that? Wouldn't that make it inaccessible or even worse, deleted?

[2018-10-29 23:10] nopara73 commented on #765
Yes, we should show this somehow in the UI. The maximum number of inputs those can be registered for CJ is 7. If I remember well this was for making sure the tx will stay standard thus the coordinator shouldn't be attacked by many inputs.

[2018-10-30 00:09] lontivero commented on #763
Well, I assume Wasabi users are smart enough to don't delete their wallets. Anyway, my point is we don't need to do anything special to have this "portable mode" thing and users can do it by themselves.

This is what I did in my env:

[code]

And that's all what a user needs to have portable wallets using as many usbs/sd cards as they want.
Of course, please make a backup first.

[2018-10-30 02:35] lontivero commented on #716
Yes, i know. However, in this case we don't need cross platform support.

Anyway, we don't know the root cause yet but i think it could be in the server side.

[2018-10-30 08:11] nopara73 commented on #759
Ok, that was unexpectedly simple. Thanks guys. Yet I won't close this issue, because we ordered EV certificate, which looks better in the address bar.

[2018-10-30 11:59] nopara73 opened #767 "Clone/Minimize/... buttons don't get highlighted"

[2018-10-30 12:04] nopara73 commented on #767
Update: it only happens on Windows.

[2018-10-30 12:09] nopara73 opened #768 "Unable to rmdir Dock, directory not empty"
Maybe use `rm -rf`?

[2018-10-30 12:13] nopara73 commented on #768
Nevermind, I think git is doing it automatically, so it's git issue and not even important.

[2018-10-30 12:13] #768 closed

[2018-10-30 12:26] Zolgarr opened #769 "Problem moving from one section to another on the side bar"
### General Description
If I would like to move from one section to the other on the right side, it's not enough to click on the highlighted area, I have to click on the word itself.

### How To Reproduce?

1. Go to 'Send'
2. On the right side, click on the highlighted area 'CoinJoin' but not on the word itself.
3. Nothing happens.

### Screenshots

![image](https://user-images.githubusercontent.c

[2018-10-30 12:33] nopara73 commented on #758
Fixed: https://github.com/zkSNACKs/WalletWasabi/pull/766

[2018-10-30 12:33] #758 closed

[2018-10-30 13:22] nopara73 opened #771 "Use OSX File Naming"
![image](https://user-images.githubusercontent.com/9156103/47720892-3be21700-dc4f-11e8-99e4-80406d8c749e.png)

[2018-10-30 16:44] wasaw936 commented on #763
@lontivero true,  which means that is the solution, so no need to implement any setting?

[2018-10-30 16:52] nopara73 commented on #763
@wasaw936 It's still a good idea, so I'd leave this issue open.

[2018-10-30 17:19] lontivero commented on #763
It depends. Linux users that feel comfortable with CLI (few people) don't need it by sure. The rest could find useful to have that feature built-in Wasabi Wallet.

[2018-10-30 18:57] wasaw936 opened #773 "Include version no. in installation files"
Include version numbers in each installation file/zip/tar under the releases page

and also

Create hash sums for each file in the same signature file to be checked, just like monero does with their files.

[2018-10-30 21:15] nopara73 commented on #763
I don't know how that works, I've just been surprised by Linux permissions too many times to assume everything'll work as expected.

[2018-10-30 21:34] s7n4qg3 commented on #765
Thanks @nopara73. It worked once I consolidated some of the UTXOs.

[2018-10-30 21:51] nopara73 commented on #773
Why do you want this? I wanted to do this when I made the decision, because this can be useful for me as a developer, but why would I bother the user with this?
One reason could be "so the user knows what version it is using, so it can notice updates." However we went ahead of this. When the user doesn't use the latest released version, there'll be an update notification message in the status bar,

[2018-10-31 19:15] nopara73 opened #774 "Fix http://www."
http://www.wasabiwallet.io

[2018-10-31 23:46] MrHash opened #775 "Cannot select mnemonic word from list when recovering wallet."
### General Description
Cannot select a mnemonic seed word when recovering a wallet. Not sure if this is supposed to be a clickable field but i would assume so.

### How To Reproduce?
1. Go to 'Recover Wallet'
2. Click on 'MnemonicWords'
3. Start entering a word seed word
4. Cannot select word from list to fill in the field.

### Operating System
MacOS 10.13.6
Wasabi Wallet v1.0.0

[2018-11-01 03:40] JuniperTonic opened #776 "Add Donation address to website, or inside Wasabi Wallet"
I know that you can donate change to the Wasabi project inside the UI (though I have not used this yet)

I would like to donate to the development member(s) for this great software. I have read over the great research articles and realize that this project is a labor of love.  Looking over the git repo of changes made over the last few months I am happy with the roadmap for this project and the ex

[2018-11-01 07:00] wasaw936 commented on #773
Basically for those who wish to create a script and check for updates on the latest wasabi wallet file, it would be easier and more consistent if you put a version number in the file name.

Yeah monero fluffy signs them all at once, could save time and also creating hashes of each file would insure integrity of the file and on top of it sign that hash, both of which at the same time insure an all-

[2018-11-01 07:31] murrayn opened #777 "Make Tor usage better configurable"
After exiting the wallet, `tor.exe` continues to run in the background.

Windows 7

[2018-11-01 09:38] nopara73 opened #778 ""Enqueue button is confusing.""
" Only thing I noticed so far is the coinjoin tab the password box with "enqueue" is slightly confusing what that does. Perhaps "Add" or something else would make more sense? Perhaps "Pending" instead of "Queue" as well."

[2018-11-01 10:43] torkelrogstad commented on #726
I've tested publishing an app to the Snap store, and it seems like a rather nice system. I'm on Ubuntu, and instaling Snaps provide a very good UX. There's also the system with permissions, where any given app has a set of permissions wrt to file system reading/writing, etc. That's a nice feature for a security critical app like Wasabi.

[2018-11-01 10:50] nopara73 opened #779 "Investigate: reduce the size of .NET Core app by IL Linker"
https://github.com/dotnet/core/blob/master/samples/linker-instructions.md

[2018-11-01 10:53] nopara73 opened #780 "Improve Send error feedback"
![image](https://user-images.githubusercontent.com/9156103/47847800-a40a3780-ddcc-11e8-9b73-632029e60021.png)

[2018-11-01 11:37] nopara73 commented on #777
It is intentional to increase privacy. This is how Tor installs itself on Linux by default, it always runs on the backgrond. It is because there were some people got deanonymized based on simple timing analysis: "when and who was running Tor at the time of the thing happened inside this campus?" I can look it up for you if you want.

The main question should be rather if we could make Tor start wi

[2018-11-01 11:46] nopara73 commented on #773
While it's not a dev-tool, that makes sense. Concept ACK for versioning file names.

[2018-11-01 12:41] nopara73 commented on #776
That was HiddenWallet, in Wasabi we didn't implement it yet. I think we won't do it the same way if at all. It is a legal grey area, so it must be thought through very carefully.

Mixing would be a great way:) By the way, yes, we long had a donation address for the project, but again, this is a legal grey area, so we started slowly disassociating the donation address from the project and not adver

[2018-11-01 13:10] #774 closed

[2018-11-01 14:16] nopara73 opened #781 "Enable queueing unconfirmed coins for mix"
Enable queueing, just don't yet register it until it gets confirmed. Of course this requires some UI tinkering.

[2018-11-01 16:39] nopara73 opened #782 "Add Infographics to the website"
Also ask Patricia to make one that has her name on it as credited.
https://imgur.com/a/mju4Q85

[2018-11-01 17:05] nopara73 opened #783 "Ensure Some Coordinator Parameters Stays..."
the same on the client side, otherwise autodequeue coins.

[2018-11-01 18:29] weissjeffm commented on #748
Perhaps unrelated but I saw high CPU usage (60%) while displaying a receive address QR code on linux. As soon as I clicked a different tab, cpu use dropped.

[2018-11-01 18:50] lontivero commented on #748
I don't see that behaviour on my linux machine.

[2018-11-01 23:04] JuniperTonic commented on #763
I have mocked up a potential workflow of backing up and restoring wallets to help further this discussion. This is for the Windows version

Storing Wasabi Wallet Externally
Files that need to be packaged:
Root is WalletWasabi/Client

Transactions/Main/WalletNameTransactions.json
WalletBackups/WalletName.json
Wallets/WalletName.json

Copy these files to an archive w/ directory structure
(Optionally

[2018-11-01 23:37] JuniperTonic commented on #763
My previous post was more for someone who wants to have wasabi installed, but wants to manually move and restore their wallet from another location. I have tried moving the wasabi install (Program Files...) to a flash drive and it seems to work. Though I cannot find the config setting for the wallet and config files directory. I think all that would be needed to make it portable would be the abili

[2018-11-02 00:06] nopara73 commented on #763
Thanks @JuniperTonic this will be very helpful. Another issue I have in mind that could be problematic.

Users should specify the data folder in the `Config.json` file (ultimately through the `Tools/Settings` tab. However the location of the `Config.json` file is inside the data folder.
Traditionally in all of my software I saved a config file next to the executable, but that turned out to be prob

[2018-11-02 00:16] nopara73 opened #785 "osx 10.11.6 doesn't work"
[code]
https://github.com/pocoproject/poco/issues/1453#issuecomment-254663587

.NET Core supports from > osx.10.10-x64 so this should be fixed.

[2018-11-02 00:57] lontivero commented on #716
We need to improve the logs further because that log entry is not enough. Basically the problem seems to be in NBitcoin's `ScriptEvaluationContext.cs`

[code]

So, it is the `CheckSig` that returns `false` and that can happens for many many reasons.

[2018-11-02 01:47] lontivero commented on #785
.NET Core 2.1 supports OSX 10.12+ https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md.

As the comment says, `clock_gettime()` was added in Sieraa (10.12) and is not available in older versions.

[2018-11-02 03:08] nopara73 commented on #785
You can publish to runtime `osx.10.10-x64` and we currently do, so that's why we should attempt to fix it. (If it's the only issue.)

[2018-11-02 04:49] JuniperTonic opened #786 "Tor.exe does not close after Wasabi is shut down (Windows)"
### General Description
Exploring task manager after opening WasabitWallet I see three processes. The Wasabi app, tor.exe and conhost.exe (Windows process that handles calls to the CLI which I assume is executing the tor process)

When closing the wallet with the "close" button in the GUI, the tor process and the conhost continue running

### How To Reproduce?

Before closing the Wasabi wallet che

[2018-11-02 05:33] NicolasDorier commented on #716
I think you should move the search as to why the signature is not valid.

This signature come from a participant? Do you have the source code where participant sign?

[2018-11-02 13:04] lontivero commented on #716
https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi/Services/CcjClient.cs#L313

[2018-11-02 13:09] nopara73 commented on #786
It is intentional to defend against timing attacks. This what Tor does on Linux by default, it always runs on the background. It is because there were some people got deanonymized based on simple timing analysis: "when and who was running Tor at the time of the thing happened inside this campus?" I can look it up for you if you want.

The main question should be rather if we could make Tor start w

[2018-11-02 13:09] #786 closed

[2018-11-02 13:32] lontivero commented on #716
Yes @NicolasDorier the signatures come from participants and the code where they sign the transaction is in the link I shared above.

This is the weird part, under what circumstance could more than one participant send wrong witnesses to the server?

[2018-11-02 13:45] weissjeffm commented on #748
I can reproduce it 100%. Generate a receive address, expand to show qr. CPU goes to 60+%. Collapsing the qr display doesn't stop it, and I actually don't think just moving to another tab stops it either, I have to close the Receive tab.

This is Fedora 29.

[2018-11-02 14:09] lontivero commented on #716
Just an idea (theory):
1. User register his output
2. Coordinator detects fees can be optimized and modify the participants' output amount
3. At signing time, participants receive an unsigned transaction with modify outputs
4. Participants sign the tx with their submitted outputs
5. Given segwit transaction hash includes the outputs amount, they sign a *different transaction*
6. Coordinator reject

[2018-11-02 15:31] nopara73 opened #793 "Try registering other output when coin is banned"
Right now, we're simply trying to register banned output over and over again. This should be fine, since ban removal manually cannot be noticed otherwise. However if there's a coin queued that's not banned, we should prioritize registering that coin instead.

[2018-11-02 15:39] prusnak opened #794 "Trezor integration"
Wasabi wallet is a very good step towards Bitcoin fungibility/privacy. However, without hardware wallets support this makes people again vulnerable against coin-stealing malware. Let's add Trezor support to Wasabi!

There is already a library for interacting with Trezor:
* https://www.nuget.org/packages/Trezor.Net/
* https://github.com/MelbourneDeveloper/Trezor.Net

Reach me via email (stick@satos

[2018-11-02 15:54] nopara73 commented on #794
There's a recent discussion on Twitter right now about [hardware wallets and coinjoins.](https://twitter.com/nopara73/status/1058179954788196352)
This also applies to P2EndPoint server receiver scheme, not only coinjoins.

The root of the issue is that coinjoins must be signed when the user is AFK. Thus in order to start working on it, a special setting is needed that let the user configure someth

[2018-11-02 17:21] nopara73 commented on #716
It just happened again. Now we have the logs!

2018-11-02 18:08:37 WARNING CcjClient: unsignedCoinJoin hex: 010000003ae9bd56b8427044134edf619665475bb115c32b9f3327432270dd50aa296d05e70600000000ffffffffdd530635e0865e4ee952f7c0c724c43914790a001a5eca89de43ab321201d3730700000000ffffffffac859137e6920033820ac2642a5112b421aa2bcbbb7556991160ad35fd8547db4900000000ffffffffac859137e6920033820ac2642a5112b421aa

[2018-11-02 17:25] nopara73 opened #795 "Fix Tor exception handling on non-English Linux"
We had this issue on non-English Windows, which we fixed, but I think non-English Tor also ruins it, since I got an error report about it.

[code]

I think `catch (SocketException ex) when (ex.ErrorCode == 10061)` doesn't catch the error on non-English Linux.

[2018-11-02 17:38] nopara73 opened #796 "Ask to update Tor on Ubuntu 16.04"
Not sure who to ask and where, but it'd be good if they'd update it to at least a version that can handle v3 onions.

I mean to update the apt repo.

[2018-11-02 17:47] JuniperTonic commented on #794
I agree it would be difficult to implement hardware wallet CJ operations in the current state. The whole point of hardware wallets is to have the user manually sign the transactions and only the signed transaction ever leaves the device. If the user is AFK and doesn't sign the transaction they would be dropped from the CJ and possibly banned for some hours.
Instead of rehashing already known infor

[2018-11-02 19:04] kristapsk commented on #752
This is the feature I would currently want the most. Could be started with #553, as not knowing estimated fee is somehow most stresful, due to past experience with bad fee estimations in various wallets (for example, Mycelium on iOS with "Low Priority" miner fee setting sometimes tries to do transactions with less than 1 sat/B fee, which never propagates and these funds then are stuck for some two

[2018-11-02 19:40] kristapsk opened #797 "Wallet does not show number of confirmations"
Currently, neither in "Send" tab with UTXO's available, neither anywhere else I can see number of confirmations for a transaction. Only feedback for that is confirmed/unconfirmed in "History" tab. This is IMHO very important feature to have. For example, if I receive significant amount of BTC from unknown party, I don't trust single confirmation.

My proposal how to do this from UX perspective:
*

[2018-11-02 20:36] #716 closed

[2018-11-02 20:52] drkskwlkr opened #798 "UI/UX Issue: Unreadable BTC value due to chosen color scheme (Low Priority)"
The BTC value of a transaction becomes unreadable when selected due to the low contrast between row selection color and BTC value color:
![image](https://user-images.githubusercontent.com/6951698/47939899-884c8180-def1-11e8-8316-59adacf3eabc.png)
The program does not allow de-selection by clicking outside the list; only way to clear the selection is to select a tab different than History and then

[2018-11-02 21:52] nopara73 commented on #795
Turns out Wasabi didn't work on non-English Linux and OSX at all. These fixing it:

https://github.com/zkSNACKs/WalletWasabi/commit/da9ce34499e011028e1a7d21540cc5ef0a071802
https://github.com/zkSNACKs/WalletWasabi/commit/8bbcee60314f73248ba164658983c18f5c869b39

[2018-11-02 21:52] #795 closed

[2018-11-02 22:13] nopara73 commented on #797
Another thing, I'd add that first time users cannot find the confirmations (since it's just a tick only when confirmed) and often get confused. Not sure how to solve this confusion or if this issue is even related to that.

# Suggestion 1

That's a good idea.

# Suggestion 2

Not sure about this, I really feel like confirmations are useless metric by most standards. There were 6 reorgs in the whol

[2018-11-02 22:19] nopara73 commented on #798
bitcoinwisdom like colours could look better:

![image](https://user-images.githubusercontent.com/9156103/47943308-b9c74c00-def5-11e8-8849-1d2a692dce35.png)

[2018-11-02 23:28] kristapsk commented on #797
Yes, for me the first one would be enough.

There is another potential confusing issue with not showing number of confirmations for newbies - one confirmation has high enough probablity to change back to unconfirmed temporarily due to chain reogs. And that may be really confusing, like, "why my transaction is now unconfirmed if it was confirmed 10 seconds ago?"

Another idea - maybe that tick in t

[2018-11-03 04:14] NicolasDorier commented on #716
`ContinueToBuild` is normally done if you want to add `.Send` stuff.
You should do

[code]

[2018-11-03 06:11] JuniperTonic commented on #780
I have a commit ready to tackle this but want your feedback first
Before it read:
InsufficentBalanceException Needed: X BTC, got only: X BTC

I changed it to:
InsufficentBalanceException Needed: X BTC for this transaction but only: X BTC was selected to send.
Another option would be to show the user the difference between the two.
Thoughts?
Make more "up for grabs" tags :)

[2018-11-03 09:11] nopara73 opened #800 "Fix Transactuil Builder same scriptpubkey with two outputs in NBitcoin"

[2018-11-03 09:14] nopara73 commented on #780
Bring it on! :)

[2018-11-03 09:37] nopara73 opened #801 "Display Public address in expand coin"
![image](https://user-images.githubusercontent.com/9156103/47950570-63d5c100-df54-11e8-9a63-24a0e4c777e9.png)

[2018-11-03 12:47] nopara73 opened #802 "Make DoS protection only kick in if x round has failed in a row?"
This would detect DoS attack and make it less likely that honest people get banned when no DoS attack is taking place.

Question is how long should the DoS protection take?

[2018-11-03 13:21] cryptagoras opened #803 "API: Associate a (random) unique hash/uid for each round"
### Is your feature request related to a problem? Please describe.

Currently `/api/v2/btc/ChaumianCoinJoin/states` returns the info of the rounds, including a numerical roundId, which sometimes will reset, making it in some cases tricky to decide if a round is new or participants dequeued or got banned. It also makes it difficult to handle multiple concurrent rounds.

### Describe the solution yo

[2018-11-04 09:50] nopara73 commented on #803
Concept ACK

[2018-11-04 11:23] nopara73 opened #805 "Add label suggestions"
Similarly to mnemonic words from existing labels. It must be clickable.

[2018-11-04 11:24] nopara73 opened #806 "Disble label when whole coins sent"
In that case we throw this out anyway.

[2018-11-04 11:25] nopara73 opened #807 "When click on address textbox try to get address from clipboard"

[2018-11-04 11:29] murrayn commented on #777
Thanks for explaining your rationale, @nopara73. I think this design decision should be more apparent at some point when using the software. I've got a few ideas if you're open to hearing them. You closed this "issue" really quickly after your response. :-)

[2018-11-04 12:41] nopara73 commented on #777
I agree, it's just this has been discussed over and over again and the conclusion was always: this cannot be done without confusing the user.

I'd love to hear them!

[2018-11-05 02:36] JuniperTonic commented on #797
I have started working on this but its not ready yet. You can track the progress here: [Link](https://github.com/JuniperTonic/WalletWasabi/tree/ShowConfimations)
I have added a "Confirmations" dialog and "Mined in Block". I still want to tackle some of the other issues, like displaying the sent to address and other metrics in the history tab.  It will be difficult for me to implement the "Clock ti

[2018-11-05 04:39] lontivero commented on #807
I take it

[2018-11-05 04:40] lontivero commented on #806
I take it

[2018-11-05 04:40] lontivero commented on #805
I take it

[2018-11-05 14:29] weissjeffm commented on #748
I also see the same behavior with the Send tab (tab is open, cpu use high. tab closed, it's normal).

[2018-11-05 16:55] kkdao opened #811 "Suggestion for the fee slider"
I'd like to make a recommendation for the fee slider and estimated time of confirmation when sending a txn.

About an hour ago, I sent a txn to another wallet. My first one with WW btw. I had the option to choose on a slider how fast I wanted my txn to confirm. First several options on the slider were 24 hrs and under, but the rest of them were 1-7 days. I chose a 1 day confirmation estimation (bl

[2018-11-05 17:31] drkskwlkr commented on #811
I would also like to comment on the fee slider and estimation. As of present, they are highly unhelpful because (1) we don't know how much an outgoing transaction will cost us until we actually push it to the mempool and (2) it is not real-world possible to time TX inclusion with the suggested precision (1 hour resolution within first 24 hours, 1 day resolution within first week).

Such interface

[2018-11-05 18:31] cryptagoras opened #812 "Missing rounds when queuing minimum amount"
### General Description
Queuing the absolute minimum amount seems to not participate on the rounds.

### How To Reproduce?

1. At the moment 0.10001 BTC being the minimum required amount, queue that exact amount.

### Operating System

Ubuntu 16.04
Running the latest master eaf1400499b93fe070a5147d06147a61c0c2c9d2

### Logs
Nothing useful
[code]

[2018-11-05 18:54] rexmint opened #813 "Off by one error - Required Minimal Account"
When queuing only the minimum required amount for the current CoinJoin round you are unable to  participate.

This has occurred using only one exact input as ‘812’ outlined.
This has also occurred when using two Imputs that add to the minimum amount.

Issue already opened here; Issue 812
https://github.com/zkSNACKs/WalletWasabi/issues/812

[2018-11-05 18:57] rexmint commented on #798
Maybe ability to select background color , text color and fonts.

[2018-11-05 19:03] rexmint commented on #811
I know 2s/b is low and this is the lowest fee I have been able to obtain using the current fee slider. I to would greatly appreciate the ability to manually set a fee because many of my transactions are not time sensitive and would like to pay the lowest possible fee of 1s/b. These Satoshi’s add up over time, :).

[2018-11-05 19:50] lontivero opened #814 "InvalidOperationException on Send tab"
### General Description
After pressing Tab many times (changing focus to the next controls) in the send Tab, Wasbi throws and `InvalidOperationException` exception.

### How To Reproduce?

1. Go to Send tab
2. Click on the Address textbox
3. Press TAB key many times
4. If not failed: Go to 1  (it will eventually fail eventually)

### Screenshots
N/A

### Operating System
Ubuntu 18.04

### Logs

<d

[2018-11-05 21:28] Berlelund opened #816 "Unable to paste"
⌘ + v is completely unresponsive. Right-click -> 'paste' succesfull I'd reckon 50% (significantly decreases if you've just generated an address in electrum).

### How To Reproduce?
Worst case in my experience(though _not_ limited to)
1. Generate an address on electrum
2. Click on 'send'
3. Click on 'address'
4. Press ⌘ + v

MacOS 10.14

[2018-11-06 07:17] Transisto opened #817 "History gets hard to understand fast."
![image](https://user-images.githubusercontent.com/388716/48048685-4712d680-e16a-11e8-9b68-c0aa90261c65.png)

These are all mixed 0.1s Why do they have such a different history?

Why did when I sent from a single input it seems to have tainted the other unrelated ones?

Maybe Mixed coins should be bundled in a collapsible tree structure based on their history and links between each others.
One way

[2018-11-06 10:33] murrayn commented on #777
On Windows, at least, it is common to 'exit' a program resulting in an icon in the systray with the program, or a background process, running in the background. This is usually presented as a default behaviour (that can be changed) in an options section. This leaves it "out of the way", but obvious (to some users, at least) that it is still running. Subsequently attempting to close the program via

[2018-11-07 03:41] nopara73 opened #819 "Get full mempool from peers after restart"
Get full mempool from peers after loading the wallet the first time, make sure we don't have unconfirmed transactions. If we do try rebroadcast it, so to make sure the user don't get tricked by a peer.

[2018-11-07 07:32] nopara73 commented on #777
@murrayn Do you think in the settings we could enable the user to configure how it works that would be enough?
There is also an issue with the users who are running Wasabi through their own Tor. Right now Wasabi, if find Tor running, it'll not start its own.

[2018-11-07 07:52] nopara73 commented on #817
Thanks, there is a lot of conversation on how to refactor it, we'll get there eventually: https://github.com/zkSNACKs/WalletWasabi/issues/612

I won't remove the history until anonymity set 50 is reached.

You must first understand that the history is not perfect, however, depending on the blockchain analysis software used they might be able to figure out wallet clusters, which the Coin History wa

[2018-11-07 07:58] nopara73 commented on #816
Yes, it's a known issue and it's probably already fixed: https://github.com/zkSNACKs/WalletWasabi/pull/821

Related issues:
https://github.com/zkSNACKs/WalletWasabi/issues/719
https://github.com/zkSNACKs/WalletWasabi/issues/501

[2018-11-07 08:12] nopara73 commented on #798
@rexmint Out of question. I want to control the colors of the user xD

Nah, seriously until we don't expect serious modifications in the GUI it's not a good idea.

[2018-11-07 08:14] nopara73 commented on #812
There might be an off by one error or similar things around here. I'll think through what's going on: https://github.com/zkSNACKs/WalletWasabi/issues/813

[2018-11-07 10:48] #801 closed

[2018-11-07 13:58] danwalmsley commented on #785
@nopara73 Avalonia osx backend doesn't make this call. The issue is in .net core.

"osx-x64 (.NET Core 2.0 or later versions, minimum version is osx.10.12-x64)"

from: https://github.com/dotnet/docs/blob/master/docs/core/rid-catalog.md

Avalonia supports .netcore2.0 minimum unfortunately. However as stated you could use mono instead if this was a significant issue (that won't be an easy change to

[2018-11-08 10:19] nopara73 commented on #785
@danwalmsley You are right.

[2018-11-08 10:40] nopara73 commented on #785
https://github.com/zkSNACKs/WalletWasabi/commit/53dc027b0aba2873d8b576cc319406386db79b9a

[2018-11-08 10:40] #785 closed

[2018-11-08 14:53] nopara73 commented on #798
Done: https://github.com/zkSNACKs/WalletWasabi/pull/808

[2018-11-08 14:53] #798 closed

[2018-11-08 15:18] nopara73 commented on #775
Fixed: https://github.com/zkSNACKs/WalletWasabi/pull/810

[2018-11-08 15:18] #775 closed

[2018-11-08 15:19] nopara73 commented on #440
I believe there still is some research to be done on this topic, but it's well covered for now: https://github.com/zkSNACKs/WalletWasabi/pull/810

[2018-11-08 15:19] #440 closed

[2018-11-09 10:57] nopara73 opened #824 "Hover the mouse to textbox, show caret"
Right now, when you hover the mouse to the textbox, caret is only shown, if text is inside the textbox and the mouse points to the text (if it points to the area next to the text box, it doesn't show the caret, but the default mouse pointer.)

It may be worth pointing out that by fixing this behavior, one must pay attention not to ruin the disabled textbox behavior, where caret should never show u

[2018-11-09 14:39] #806 closed

[2018-11-09 14:40] nopara73 commented on #719
Fixed: https://github.com/zkSNACKs/WalletWasabi/pull/822

[2018-11-09 14:40] #719 closed

[2018-11-09 14:40] nopara73 commented on #816
Fixed: https://github.com/zkSNACKs/WalletWasabi/pull/822

[2018-11-09 14:40] #816 closed

[2018-11-09 14:41] nopara73 commented on #501
Fixed: https://github.com/zkSNACKs/WalletWasabi/pull/822

[2018-11-09 14:41] #501 closed

[2018-11-09 19:42] lontivero commented on #805
How should it work? Where does it have to take the suggestions from?

[2018-11-10 04:34] nopara73 commented on #805
@lontivero I don't know yet. We have special labels and stuff. I'll either implement it or properly define it first.

[2018-11-10 04:37] nopara73 commented on #777
What do you mean by this?

Most of the time it's a discussion, not me answering. I admit I closed the related opened issues too fast lately without hearing the OP out properly.

[2018-11-10 07:37] nopara73 commented on #803
I think it's better to serialize the roundId when shutting down.

[2018-11-10 08:29] #780 closed

[2018-11-10 11:19] #797 closed

[2018-11-10 12:32] murrayn commented on #777
"Minimize to tray" is what I was referring to earlier. User clicks "Exit" and an icon remains in the systray. The user is aware that the program (and/or a subprogram like tor.exe) is still running, but if that user insists on closing all related processes, it can be done without too many hoops to jump through.

[2018-11-10 14:12] nopara73 commented on #814
@lontivero I couldn't reproduce it neither on Windows 10, nor on Ubuntu 18.04, neither on the current master's checkout nor with the v1.0 tag.

[2018-11-10 14:30] lontivero commented on #814
I can reproduce it in both, in Wasabi wallet and in the ControlsCatalog Avalonia project. I didn't know it but this is a known Avalonia defect.

The Avalonia team reviewed and approved my PR:
https://github.com/AvaloniaUI/Avalonia/pull/2090

[2018-11-10 14:44] nopara73 commented on #782
d0cd6996f2bf642cd20535f802f73535cb0bcffb

[2018-11-10 14:44] #782 closed

[2018-11-10 15:14] #803 closed

[2018-11-10 15:42] #812 closed

[2018-11-10 15:42] #813 closed

[2018-11-10 20:04] JuniperTonic opened #827 "Integrate Payment Protocol from Bitpay (BIP 70)"
Just to start it looks like a variation of this topic is already being discussed, which already lays out some of my concerns. [Meta/Bustapay integration](https://github.com/zkSNACKs/Meta/issues/23)
### Is your feature request related to a problem? Please describe.

When trying to spend BTC from Wasabi wallet, there is no way to send BTC to BitPay backed merchants. I currently have to send to anoth

[2018-11-11 00:43] lontivero commented on #814
The PR was merged so, this error will be fixed with the next Avalonia version, i think.
https://github.com/AvaloniaUI/Avalonia/commit/53da38b88f0662955c7bd770686cafa814883f7f

[2018-11-11 10:08] nopara73 commented on #814
Alright. I close this issue. Hopefully we can chew threw most of the issues during this month.

[2018-11-11 10:08] #814 closed

[2018-11-11 16:38] vitorbgs opened #829 "Electrum mnemonic seed compatibility"
Is it possible to use the same mnemonic seed phrase I had from electrum to import my addresses?

Or can I import private keys that I take from my other wallets? Either in GUI or not would be good

[2018-11-12 03:01] nopara73 commented on #829
Yes, if that wallet is a bech32 only electrum wallet.

Not yet, but there's a sweep private key feature in queue: https://github.com/zkSNACKs/WalletWasabi/issues/486

[2018-11-12 03:04] nopara73 commented on #827
If there's no gaping privacy hole or UX nightmare in it I'm all for implementing it.

[2018-11-12 03:07] nopara73 commented on #777
I see. I think that only works for OSX users, for everyone else it ruins the expected behavior and makes them angry.

[2018-11-12 03:34] nopara73 opened #830 "Show number of rounds"
RoundId should be replaced by the number of successful rounds on the client side. This should be sent from the coordinator by simply counting the number of coinjoins.

[2018-11-12 09:41] nopara73 commented on #427
Let's wait until .NET Core 3.0 comes out, so we'll have WPF and we'll be able to do this easier.

[2018-11-12 12:52] nopara73 opened #831 "Clicking on the icon of the trey, Wasabi doesn't get minimized"
Windows 10, not sure how other OS-es handle it, but when you do this in Windows, it must happen.

[2018-11-12 16:15] 402PaymentReq opened #833 "Coinjoin outputs just below required minimum"
Last Coinjoined outputs are consistently coming out just below the minimum 0.10001 BTC required to Coinjoin again. It's no use for anyone interested in achieving an anonymity set higher than 49.

I was wondering if we Wasabi users can adopt some best practices in terms of the amount enqued to coinjoin in order to help alleviate this issue.

16cd52d3c6e86b9b4cb6bbc8a5886e53664f4467210088aa57ed303a3

[2018-11-12 19:11] nopara73 commented on #755
We've done everything here we can.

[2018-11-12 19:11] #755 closed

[2018-11-12 19:44] lontivero commented on #751
I did this days ago immediately after the v1.0 release. https://github.com/lontivero/NBitcoin/commit/0c3b5e3d39a7713c1d45599a7db9649525d760f8

[2018-11-12 20:48] #751 closed

[2018-11-13 01:58] dreboli opened #836 "running without sudo"
sudo dotnet run works as expected but running without sudo:

[code]
Ubuntu 18.04.1

[2018-11-13 06:43] nopara73 opened #837 "Setup Tails testing environment"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

[2018-11-13 06:46] nopara73 commented on #836
Ubuntu 18.04.1 is well tested without sudo. This should be further investigated.

[2018-11-13 06:48] nopara73 commented on #833
I just drop an idea here to lower dynamically previous CJ active outputs so to make sure remixing is feasible. I don't see any other way to make it work in a higher fee environment especially.

[2018-11-13 12:11] dreboli commented on #836
It was ok until the last wasabi update.
For earlier versions I always had to run with sudo first, after that it worked without sudo.

After the last update I got:
[code]

After this I used sudo to run it once, then run it again without sudo gave me the error I quoted in the OP.

[2018-11-13 12:47] briannyeko opened #838 "Create .dmg for MacOS"
When will you offer Wasabi wallet Mac OS installation file as a .dmg file?

[2018-11-13 13:18] #773 closed

[2018-11-13 13:50] nopara73 commented on #836
@dreboli What if do you get by running `dotnet restore` in the `WalletWasabi.Gui`?

[2018-11-13 14:40] nopara73 commented on #838
It is planned. Actually, we were just about to start the work on it today, but we had to delay it. For the record there are a couple of related issues open: https://github.com/zkSNACKs/WalletWasabi/issues/726 https://github.com/zkSNACKs/WalletWasabi/issues/771

[2018-11-13 15:49] TMachalkin opened #839 "Coin skip rounds (not banned)"
I've cued different coins/outputs for coinjoin during the last days, but it seems like they´re skipped from almost every coinjoin round. I dequeued the coins yesterday and queued them again ~10 hours ago. It hasn't been included in any round yet. The log shows (removed addresses and times):

[code]
The transaction I'm trying to spend has >100 confirmations.
Any ideas?

[2018-11-13 16:25] nopara73 commented on #805
Done: https://github.com/zkSNACKs/WalletWasabi/pull/835

[2018-11-13 16:25] #805 closed

[2018-11-13 16:30] nopara73 commented on #839
It's because that there's always one or two people who don't follow the protocol, (Internet error, Tor connection error, DoS attack?) so by default the coordinator bans them and wait until the desired number of people come together again.

What can be done is to progress the round with those who did follow the protocol, so let's say, from 49 peers, 2 disconnected in the middle of mixing, the rest

[2018-11-13 20:53] dreboli commented on #836
[code]

[code]

[2018-11-13 21:00] nopara73 commented on #587
Individual coin states should be something like this with nice colors:

"unconfirmed"
"confirmed"
"on the coinjoin waiting list"
"registered for coinjoin"
"confirming connection"
"registering outputs"
"signing"
"banned"

[2018-11-14 04:55] lontivero opened #840 "Spent coins displayed in the Send tab"
There was a guy on the telegram chat seeing received and spent coins on the Send tab. I asked him to try with v1.0.0 just to see if we introduced a bug in v1.0.1 and he said it works now.

<details>
<summary>Chat (full story)</summary>

[code]

</details>

[2018-11-14 06:42] nopara73 commented on #840
@lontivero I don't think this is possible unless someone stole his money or he tried to touch it through another wallet and the theft's transaction is in the mempool. Can he check in block explorer what's going on? That'll tell.

Expand on the coin row and check if the txid-index pair is spent.

[2018-11-14 08:43] bharmat opened #841 "Indicate somehow if a round fails."
If a round fails due to someone's poor net connection, Tor, etc it seems like from the client side, that the round was successful, although the CoinJoin did not happen.
Would it be possible to show somehow whether the round was successful or not?
Maybe indicating it with the circles ("registration", "confirming connection", "registering outputs", "signing") where the process fails. I guess it is u

[2018-11-14 09:22] nopara73 commented on #793
Done: 0beb4a67a9144e9cc37cc988d6f37d48faa339b8

[2018-11-14 09:22] #793 closed

[2018-11-14 11:02] danwalmsley opened #842 "OSX Menu Integration"
### Is your feature request related to a problem? Please describe.

The main menu on OSX should be properly integrated into the OSX application menu.

OSX users expect the applications menu to be in the system menu always at the very top of the screen.

This makes Wasabi feel a tiny bit not integrated to OSX.

### Describe the solution you'd like

Add OSX menu support to Avalonia and then make Was

[2018-11-14 11:05] danwalmsley opened #843 "UI Controls Polishing"
### Is your feature request related to a problem? Please describe.

We should work to give the UI controls of Avalonia (textbox, button, scrollbars) a major polish. This would contribute to making the Wallet look more professional.

### Describe the solution you'd like

Some time to properly design the templates for the fundamental controls of Avalonia considering interactions, animations, and sha

[2018-11-14 11:21] danwalmsley commented on #445
related to: https://github.com/AvaloniaUI/Avalonia/issues/1614

[2018-11-14 12:19] nopara73 commented on #830
Done: https://github.com/zkSNACKs/WalletWasabi/pull/844

[2018-11-14 12:19] #830 closed

[2018-11-14 12:35] molnard opened #845 "Toast notifications on WasabiWindow"
Temporary messages like:

- Address copied to Clipboard
- Transaction successfully sent
- Error message, etc.

are now appearing among the controls of the Wallet UI. This could be replaced with toast notifications which is already used by different platforms. Usually these notifications are showed at the center bottom of the window and disappearing after a few seconds.

[2018-11-14 12:36] nopara73 commented on #843
I agree. As soon as we acquire more funds we'll be able to fund this development. For now, our income is growing steadily, but it still doesn't cover development costs.

[2018-11-14 12:37] nopara73 commented on #845
Concept ACK.

[2018-11-14 12:38] nopara73 commented on #842
Concept ACK.

[2018-11-14 17:29] lontivero commented on #840
I will ask him. In the meantime, just in case the compact filter were failing, I let the test below running during the night, testing 10,000,000 items; it past green.

[code]

[2018-11-14 17:35] lontivero commented on #769
@danwalmsley I was blocked with this issue because I don't find a way to do it. Could you give me a clue, please?

[2018-11-14 18:18] nopara73 commented on #769
This happens on all platforms.

[2018-11-14 19:09] lontivero commented on #769
Sure, I know, I've developed this tree using a buttons, that's why it behaves as it does. In fact I did it in this way because I remember it was quite simple.
What I don't know is how to implemented in a way that it changes when the treeitem selected changes.

[2018-11-14 21:01] MrPaz commented on #843
Not sure what Avalonia is or if this is correct place to put this, but I have some small UI/UX suggestions:

CoinJoin tab:
-The 'Queue Coins for CoinJoin' box is way too small compared to the 'Status' box.  'Queue' box should be bigger to more easily see list of outputs and select outputs for joining.  Or at least allow user to drag sizes of boxes to their desired sizes/heights.  (Proportions betw

[2018-11-14 23:48] JuniperTonic opened #846 "(WIP) Call for input: Adding a Confirmation icon based on number of confirmations"
I was not sure if I should open this as a pull request because nopara has already stated:

Discussion has taken place here #797

I have written code to replace the "Check mark" under the confirmation column in the Send tab. The idea was to show to users the number of confirmations with an icon similar to other Bitcoin wallets (Electrum, bitcoin-qt). I am refrencing the privacy badges now because I

[2018-11-15 14:04] nopara73 opened #847 "Add "noted" status for first round disrupting"
This could potentially eliminate all honest user's banning.

![image](https://user-images.githubusercontent.com/9156103/48557637-dd3cbe80-e919-11e8-9ce4-d7a36b15d03b.png)

[2018-11-15 16:03] nopara73 commented on #841
Done (red circles): https://github.com/zkSNACKs/WalletWasabi/pull/848

[2018-11-15 16:03] #841 closed

[2018-11-15 17:16] nopara73 commented on #846
My stance on it did not change. I am against overwhelming the user with unnecessary information. Btw, confrimation is already added to the coin expander if for whatever reason someone would need that.

[2018-11-15 17:21] nopara73 opened #849 "Implement right click paste to password fields"
I don't know how we missed this. This can be useful for some people with password managers.

@MrPaz https://github.com/zkSNACKs/WalletWasabi/issues/843#issuecomment-438817024

[2018-11-15 18:49] JuniperTonic commented on #846
Okay, thanks for the input. I was kind of thinking the same thing. The information is already available to the user if they look for it. I will close this issue and call it a learning exercise for myself.

[2018-11-15 18:49] #846 closed

[2018-11-15 18:52] nopara73 commented on #846
Thank you for understanding! It's hard to balance between power users and not to scare away newbies right away.

[2018-11-15 19:05] MrPaz commented on #843
Sounds good.

re 'select all':  all I'm saying is if someone has say 10+ coins in wallet, it is annoying to have to select each one to send entire balance.

One other thing that'd be nice:  ability to sort columns on each tab.  for instance on 'Send' or 'CoinJoin' tabs, to be able to click on say the 'Privacy' column and have it sort coins by most anonymity set to least, click on it again and sort

[2018-11-15 19:10] molnard opened #850 "FUSION® indicator. A new CoinJoin status feedback method"
While looking hours and hours on the CoinJoin Tab panel during mixing we often have suspenseful felling about the status indicator showing mixing will be happen in a few minutes. This situation reminds me when I watched at least 10 Dragonball episodes just to prepare one battle. CoinJoin Tab is the most viewed part of Wasabi so we decided to pimp that up a bit.
Wasabi users are putting their force

[2018-11-15 19:31] nopara73 commented on #850
Concept ACK.

[2018-11-15 19:35] nopara73 commented on #843
Yes, I agree. This is the kind of thing Avalonia would need for example.

[2018-11-16 00:14] HamishMacEwan opened #851 "Open where you were last time you closed and the same size."
### Is your feature request related to a problem? Please describe.

Wasabi opening fullscreen is overwhelming all my other activities and means every time I need to restore it to non-fullscreen then resize it down to something more appropriate.

### Describe the solution you'd like

Open where you were last time you closed and the same size.

### Describe alternatives you've considered

Every othe

[2018-11-16 00:21] HamishMacEwan opened #852 "Wasabi fails silently with "unreachable network" error."
### General Description

Due to an error in Tor settings the wallet failed to synchronise.

### How To Reproduce?

1. Go to 'Settings'
2. Click on 'Host' field.  Enter "::1" (or just 1)
3. Set Port field something.
4. See error in %appdata%\WalletWasabi\Logs.txt:

ERROR IndexDownloader: System.Net.Internals.SocketExceptionFactory+ExtendedSocketException (10051): A socket operation was attempted to

[2018-11-16 07:19] nopara73 opened #853 "A socket operation was attempted to an unreachable network 0.0.0.1:9050"
[code]

Should handle the same way as the connection refused issue? Or not? What's this, how to reproduce it?

https://old.reddit.com/r/WasabiWallet/comments/9x5prw/synchronizing/e9rxzyh/

[2018-11-16 10:42] nopara73 commented on #847
@kristapsk That is exactly how the backend is built, so in theory it should be easy. However it must be thinked through what kind of DoS protection relaxations we implement for obvious reasons. I think it'll be fine though.

The backend is build with slight variations from the original ZeroLink theory: https://github.com/nopara73/ZeroLink/#d-dos-attack

[2018-11-16 10:43] nopara73 commented on #851
It is already implemented for Windows. (Next release will bring it.) We encountered some issues with OSX and Linux regarding this, so this issue must be kept open.

[2018-11-16 10:46] nopara73 commented on #852
Thanks, for the record it's the same issue I opened a few days ago, but better explained: https://github.com/zkSNACKs/WalletWasabi/issues/853

[2018-11-16 10:47] nopara73 commented on #764
It can be useful again.

[2018-11-16 12:00] danwalmsley commented on #843
@nopara73 avalonia is currently integrating a new Datagrid control which will be available shortly and should allow that kind of functionality.

[2018-11-16 15:12] molnard opened #855 "Text clipped on website if viewed on mobile"
The text on the website currently: "Download Wasabi Wallet 1.0.1" is scrolled out on the website if I look it on android mobile phone.

![image](https://user-images.githubusercontent.com/9844978/48629454-3b39d680-e9ec-11e8-930a-97e12369249a.png)

[2018-11-16 16:49] danwalmsley commented on #824
https://github.com/AvaloniaUI/Avalonia/pull/2107

will fix this.

[2018-11-16 20:00] HamishMacEwan commented on #852
Thanks.

[2018-11-17 03:43] lontivero commented on #840
I asked the user about this and he shared with me the txouts involved. I cannot see any problem and everything looks good in his v1.0.0 WW.

IDK, i think this had to be a synchronization problem or something like that. I will close this issue.

[2018-11-17 03:43] #840 closed

[2018-11-17 04:12] lontivero commented on #836
@dreboli what you see is a permissions problem (I'm sure you already know that). Once you build any project using `sudo`, all the folders/files created by the building process are owned by the root user and not by your user. That means that your user have no access to the the ./obj folder and its files, that's why you see the error message:

There are many possible solutions but lets try with the

[2018-11-17 05:19] lontivero commented on #827
IMO BIP70 is a good solution for reducing MitM attacks and improves the usability of wallets a lot. However, in our case I am not really sure we would implement it because the users' IP address are exposed to the payment server losing the privacy WW promises.

Requesting the payment information through Tor is not a good idea because there is no way to prevent MitM attacks by exit nodes, and that's

[2018-11-17 05:59] NicolasDorier commented on #827
BIP70 is poor for privacy. You need to make a request to bitpay to know where to send. Also it is a big headache because you need to validate the cert embedded inside the BIP70 request at the app level, which mean you introduce a dependency on the whole PKI stack (OpenSSL and co). NBitcoin support it, but I really plan to deprecate it.

Other issue, Bitpay expect, as part of the protocol, that you

[2018-11-17 09:19] nopara73 commented on #852
I'll keep it open until solved.

[2018-11-17 12:43] danwalmsley commented on #430
https://github.com/AvaloniaUI/Avalonia/pull/2111

will fix this

[2018-11-17 14:05] danwalmsley commented on #580
We wont be able to run on elementaryos using gtk backend, due to patches that break us. Luckily there is a new X11 backend close to completion on Avalonia which will allow us to run here.

[2018-11-17 14:33] #849 closed

[2018-11-17 14:43] #430 closed

[2018-11-17 14:44] #824 closed

[2018-11-17 17:10] JuniperTonic commented on #827
Thanks for the input. After reading what both of you wrote I can agree that implementing the BitPay protocol would be kind of a nightmare and would move Wasabi away from its goal of improved privacy. Its not a huge deal to move some coins to separate wallet that already supports it.  I'm not happy about how BitPay forced this protocol, but I can understand their reasoning as a payment processor to

[2018-11-17 17:20] JuniperTonic commented on #794
I took a stab at implementing the Melbourne/Trezor.net code but I am having trouble due to the lack of documentation. After searching the Trezor site I found the Low-level HID API that may be useful for anyone that wants to look into this. I am not a very strong c# coder so its gonna take me a while to hack through it all.
[Trezor API's, Low level API](https://doc.satoshilabs.com/trezor-tech/api-p

[2018-11-17 18:49] HamishMacEwan commented on #852
Apologies, as a duplicate I thought you'd follow the earlier thread.

[2018-11-17 18:58] #852 closed

[2018-11-17 18:58] #853 closed

[2018-11-17 19:55] lontivero opened #859 "Better CoinJoin status"
### Is your feature request related to a problem? Please describe.

Yes. The problem is that it is hard for users to know what the real status of each round is and how is the current round going.

### Describe the solution you'd like

It is necesary to display more information in a much understandable (graphical) way to users. The following information should be displayed:

* Last finished round n

[2018-11-17 20:12] nopara73 commented on #859
@lontivero Try out the https://github.com/zkSNACKs/WalletWasabi/tree/coinlist branch we are working on, we're completely redoing the coinjoin tab that'll address your issue on a per-coin bases.
Btw, I think the wheel is a good idea.

[2018-11-17 21:03] nopara73 commented on #740
I think a new panel under the wallet explorer could be a good place?
That being said, for some reason the status is wallet dependent, and decoupling it, while probably not difficult must be done with great care and must be reviewed, too, so that can be an issue.

[2018-11-18 10:13] nopara73 opened #860 "Consider Azure Pipelines instead of appveyor and travis"
Tests are often failing on appveyor and travis for random reasons, this may make things easier.

[2018-11-18 15:04] #432 closed

[2018-11-18 16:11] danwalmsley commented on #445
Added a WIP PR to Avalonia that resolves this partially

https://github.com/AvaloniaUI/Avalonia/pull/2115

awaiting advice from other Avalonia contributors.

[2018-11-18 19:37] #807 closed

[2018-11-19 12:01] wasaw936 opened #865 "xPub (extended public) key feature for incoming payments"
### Is your feature request related to a problem? Please describe.
Currently i dont see a way or an option for an extended public key that one can use for BTCPay Server to receive payments on automated generated keys from the extended public key.

### Describe the solution you'd like
This would be nice if someone is using BTCPay Server to receive payments and the xpub key can be used to auto-gener

[2018-11-19 14:29] nopara73 commented on #865
Look into the wallet file.

[2018-11-20 11:17] #865 closed

[2018-11-20 19:42] lontivero commented on #748
I will keep record of what I see here:

* If Wasabi starts with no internet connection then, the CPU goes up around 55% because of it tries to connect to the bitcoin network. That takes about the 66% total time.

![image](https://user-images.githubusercontent.com/127973/48797142-286f1c80-ece0-11e8-97ba-9ce39c68b774.png)

This is because NBitcoin tries to find peers forever (because there is no int

[2018-11-20 20:29] nilskp opened #869 "Cannot scan QR code"
### General Description
I've tried two Receive addresses now, and I could not get Samourai to recognize either.

I've also tried scanning with two generic QR code scanners, neither can decode the generated QR receive image.

### How To Reproduce?

1. Go to Receive
2. Click on Generate Receive Address
3. Open address to reveal QR code
4. Try to scan

[2018-11-21 05:49] nopara73 commented on #869
It works for me with Samourai. What OS are you using?

[2018-11-21 05:56] nopara73 commented on #869
@lontivero Can you make sure we figure out what's going on here? Any initial idea maybe?

[2018-11-21 06:03] nopara73 commented on #420
No. That'd take a lot of time. I've been doing that with HiddenWallet. Now, we only request txids. Which is useless for this purpose.

[2018-11-21 06:08] nopara73 commented on #420
I agree however that in the long term, it could not only be the most privacy preserving, but also the most decentralized way of doing fee calculation.

[2018-11-21 12:09] lontivero commented on #869
@nilskp could you share here a Wasabi Wallet QR please?

[2018-11-22 06:47] NicolasDorier opened #871 "[Feature Request] Expose the HD Pubkey"
I am receiving donations in my BTCPayServer.

Currently I need to batch the donation together every month or so, and send them to wasabi wallet, then queue the output and wait it to be mixed before using it.

I would like to remove one step and receiving coins from BTCPay Server directly into my wasabi wallet. You just have to expose the HDPubkey (The one at the account level of BIP44/BIP49)

Bonu

[2018-11-22 07:14] nopara73 commented on #728
Here's some more related things: https://gist.github.com/nothingmuch/544cdd47dd18ef8fe923b54e0d5ee141#anonimity-set-for-output-linking-transactions

[2018-11-22 07:14] nopara73 commented on #760
Combining this with UIM: https://gist.github.com/nothingmuch/544cdd47dd18ef8fe923b54e0d5ee141

[2018-11-22 07:41] nopara73 opened #872 "Implement auto queuing for unmixed coins"
The issue with auto queueing is that one can lose privacy if he joins together utxos in mixing. Of course it doesn't matter that much and nowhere as dangerous as joining together in normal transactions. Anyway, it's something to consider.

[2018-11-22 07:43] nopara73 commented on #871
Until we implement it to the GUI, you can take a look into your wallet file: `%appdata%\WalletWasabi\Client\Wallets`

[2018-11-22 07:43] nopara73 commented on #871
I also opened an issue for the automix request: https://github.com/zkSNACKs/WalletWasabi/issues/872

[2018-11-22 09:40] #847 closed

[2018-11-22 09:42] nopara73 commented on #847
For the record, there were no 1000 utxo banned, it's just I accidentally the file list during unbanning. Anyway, this issue has been implemented.

[2018-11-22 09:42] rex4539 opened #874 "Crash on launch on master HEAD"
### Operating System
macOS 10.13.6 (17G4012)

[code]

[2018-11-22 09:42] nopara73 commented on #847
Thank you @kristapsk very much for the idea!

[2018-11-22 09:43] nopara73 commented on #874
Just to rule out the obvious one: Did you update the submodule? `git submodule update --init --recursive`

[2018-11-22 09:46] rex4539 commented on #874
The obvious fixed it.

[2018-11-22 09:46] #874 closed

[2018-11-22 12:49] molnard opened #876 "coinlist right click item not selected"
The bug is in the coinlist branch!
### General Description
Right click is no selecting(row highlighted) the underlying row in the coinlist.

### How To Reproduce?
- Checkout branch coinlist
- Start Wasabi go to CoinJoin Tab
- Right Click on any item
- Context menu pops up but SelectedItem not changes
- Same happening at column history where Copy popup menu appears on right click

[2018-11-22 12:51] nopara73 commented on #876
@danwalmsley We merged this work to the master.

[2018-11-22 12:53] #587 closed

[2018-11-22 12:53] #570 closed

[2018-11-22 12:53] #588 closed

[2018-11-22 12:53] #642 closed

[2018-11-23 08:44] molnard commented on #843
Select all functionality is on their way:
https://github.com/zkSNACKs/WalletWasabi/pull/878

[2018-11-23 12:26] nopara73 opened #879 "Hide the WalletExplorer with a hamburger icon?"
Is it a good idea?

Notes:
- CJ status will likely go there. (Although not into the wallet explorer, but to its own panel.)
- Balance wouldn't be shown all the time (hard to find?)
- Show only wallet tab icons under the hamburger icon? Then what would happen if we introduce multiwallet support?

[2018-11-23 13:06] adalfor opened #880 "Invalid address manager file"
Hi,
im using the latest WasabiWallet from github. Recently i have been getting errors while running so sometimes i just kill it with Ctrl+C. Apparently this has led to the corrupted address manager file:

[code]
How can i get over this and claim my coins ? Thanks a lot !

[2018-11-23 14:35] lontivero commented on #748
I wasn't able to reproduce the issue when we lose connection simply because there isn't any problem in that scenario, the problem only happens "_while logged into the wallet_" as the issue title says.

I will work on this.

[2018-11-23 14:50] #880 closed

[2018-11-23 14:53] nopara73 commented on #880
I made it autocorrect by itself. If I am right you are using Wasabi from code so you can just update:
`git pull && git submodule update --init --recursive`

Just to avoid misunderstandings, note that, it's the Bitcoin P2P network address manager, and it has nothing to do with your private/public keys and addresses.

If you are not using it from code delete the `AddressManager` folder one level abo

[2018-11-23 18:00] nopara73 opened #882 "Add telegram group link to website"

[2018-11-24 21:47] #748 closed

[2018-11-25 01:56] lontivero commented on #836
@dreboli could you confirm that you can build without sudo, please?

[2018-11-25 02:02] lontivero commented on #829
Can we close this one?

[2018-11-25 13:19] #833 closed

[2018-11-26 13:35] bharmat opened #890 "Call users' attention that password can't be restored"
It happens unfortunately that users lose/forget passwords. Is it possible to make it more transparent for users to remember their password when generating a wallet?
At the mnemonic words generation phase its clear that the words should be written down, remembered, etc.
Maybe here in the RED area it should also be written that the password is saved too.
On the other hand users should be notified, t

[2018-11-26 16:54] lontivero commented on #869
Ok, confirmed. What's the corresponding address?

[2018-11-26 17:06] nilskp commented on #869
@lontivero
`bc1qzkekqrmpcz39nunqqxy9l33ykr03xw9dcglchm`

[2018-11-26 17:32] lontivero commented on #869
okay, i got it. I will be making tests with the new parameters before changing the code because this has been working propertly for many users (like me).

Please scan the QR in the image and let me know if it works for you.
![image](https://user-images.githubusercontent.com/127973/49031153-f817fa00-f187-11e8-858d-2beaee121fdf.png)

[2018-11-26 20:20] #869 closed

[2018-11-26 20:22] nopara73 commented on #890
Please create a new wallet as a test. You'll see that it is already in as prominent place as it can be.

[2018-11-26 20:22] #890 closed

[2018-11-26 23:40] dreboli commented on #836
[code]

[2018-11-27 00:46] nopara73 commented on #836
I remember I had this issue once and twice on the server (that's an Ubuntu, too.) I had to chmod some nuget related files, but I don't remember what. Maybe `usr/share/dotnet/sdk/2.1.500/` should do it.

Also, based on @lontivero's suggestion you could just start over, delete the whole `WalletWasabi` cloned directory and start over without elevated access.
Your wallet files and stuff are in `~/.wal

[2018-11-27 02:38] lontivero commented on #836
You can try two things:

* `sudo dotnet restore` and after that run `dotnet run` without sudo. Or,
* `sudo chown bob  /usr/share/dotnet/sdk/NuGetFallbackFolder` and then run `dotnet run` without sudo.

But this is not a Wasabi problem, the project compiles without `sudo`, this is a problem in your local environment.

[2018-11-27 02:41] dreboli commented on #836
I ended up removing and reinstalling dotnet-sdk-2.1 but ran into similar problems:
[code]

There were some issues during installing dotnet-sdk-2.1 but I think it's unrelated:
https://github.com/dotnet/core/issues/1522

Solved by:
[code]
https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.0-download.md#ubuntu-1804

My system:
[code]

[2018-11-27 09:29] adalfor opened #896 "Questionable change in coin mix amount"
Hi,
i use Wasabi since around August. Usually i would send a sum of a multiple of the minimum required amount to be mixed, and queue it for mixing. Wasabi would then automatically 'decompose' the sum into smaller parts around the size of the minimum mixing amount and mix them. Since the usual mixin would be somewhere around 20 (with the exception of ~40 after 31. October) i would queue the mixed o

[2018-11-27 10:13] nopara73 commented on #896
There are two factors contributed to it:

- The Bitcoin fees went up
- and there were too much complains for long confirmation times, so had to change the fee target from 7 days to 1 day.

These resulted my little tricks those tried to encourage this behavior to stop working well. It doesn't work properly for a month now. Just a few days ago however we pushed a partial fix that slowly lowers the d

[2018-11-27 10:13] #896 closed

[2018-11-27 15:01] nopara73 commented on #781
It's done.

[2018-11-27 15:01] #781 closed

[2018-11-27 15:02] nopara73 commented on #778
It's been refactored.

[2018-11-27 15:02] #778 closed

[2018-11-27 15:03] nopara73 commented on #765
A toast notification system will provide the best user feedback to resolve this issue: https://github.com/zkSNACKs/WalletWasabi/issues/845

[2018-11-27 15:04] nopara73 commented on #767
They do for a while now.

[2018-11-27 15:04] #767 closed

[2018-11-27 15:05] nopara73 commented on #756
@lontivero Can you make sure about this?

[2018-11-27 15:08] nopara73 commented on #611
I believe with today's liquidity it is not needed anymore.

[2018-11-27 15:08] #611 closed

[2018-11-27 15:10] nopara73 commented on #409
@lontivero any progress on this? Or should we just close it?

[2018-11-27 16:02] lontivero commented on #409
Last week I found the old QrCode.Net project and started removing all the unnecessary files but it is a big library anyway. Yesterday I uploaded the code here: https://github.com/lontivero/QrCode.Net

I don't know if I should try to extract the main classes an move them into NBitcoin, what is a big job, or make it build for dotnet core and publish it as a package in nuget.org to reference it from

[2018-11-27 16:05] dreboli commented on #836
Completely removed WalletWasabi directory and reinstalled dotnet-sdk-2.1 and started from  scratch, it works now without sudo.
Had to delete ~/.walletwasabi/client/Logs.txt to restore permissions.

Thanks for the help!

[2018-11-27 16:05] #836 closed

[2018-11-27 16:29] nopara73 commented on #409
Please don't do nugets.

[2018-11-27 17:53] kristapsk opened #898 "Wasabi Wallet hanged up on window close"
Today when trying to close Wasabi Wallet, it hanged up and does not even respond to SIGTERM. It's with v1.0.0, so it is possible bug is already fixed, but decided to report anyway, while I am able to provide any debug info. OS Linux, dotnetcore-sdk 2.1.302 (Gentoo pre-built binary package, I haven't managed yet to successfully build dotnetcore-sdk from sources yet).

Screenshot (notice artefact fr

[2018-11-27 19:48] lontivero commented on #756
PR waiting: https://github.com/MetacoSA/NBitcoin/pull/602

[2018-11-27 21:32] nopara73 opened #899 "StackoverflowException"
I've been getting `StackoverflowException` once or twice a day while mixing on my main wallet. I used WinDBG to debug it based on the instructions of the following resources:

- https://stackoverflow.com/a/18723671/2061103
- https://bret.codes/net-core-and-windbg/

WinDBG output:

[code]

@danwalmsley @lontivero @molnard Can you share your thoughts on it? This is the last pressing issue before the

[2018-11-28 00:39] MrPaz commented on #843
Good to hear select all is coming.

Couple more suggestions:
Send tab
-when you click the 'Max' button it just says 'All selected coins!' in the Amount box.  Why would it not sum the total of selected coins and display the total?!  I would like to see exactly how much I'm sending.
-Fees... I think Electrum has best functionality and user experience for fees and you should model off that.  I like t

[2018-11-28 00:42] MrPaz commented on #898
yes, I've had this happen a few times as well.  also had it stop responding after a send a couple of times too.
I'm on windows 10.

[2018-11-28 04:21] lontivero commented on #899
SOEs are in my experience always because of recursive calls and that's the first thing that jumps to my face here where a read `Scheduler.Recursive.cs`. It seems the problem is in the `AvaloniaScheduler` or in the `System.Reactive.Concurrency.Scheduler`.

IMO this is a Rx problem, I just gave a flash look to the code and it looks to me that when scheduled actions cannot be executed at the expected

[2018-11-28 13:51] nopara73 opened #900 "Remove ConcurrentHashSet NuGet by writing our own"
In light of the recent npm hack (https://github.com/dominictarr/event-stream/issues/116) we should strive for removing some NuGet packages.
I think `ConcurrentHashSet` NuGet can be easily replaced by our own implementation. (Encapsulating a `ConcurrentDictionary` by dismissing the Value field.)

[2018-11-28 13:53] nopara73 opened #901 "Remove AsyncEx NuGet by writing our own"
In light of the recent npm hack (https://github.com/dominictarr/event-stream/issues/116) we should strive for removing some NuGet packages.

I think NitoEx's NuGet can be easily replaced by our own implementation of `AsyncLock`, since that's the only thing we use from that.

[2018-11-28 14:18] nopara73 commented on #843
Btw, ordering is also implemented.

Because fees are not known in advance (yet: https://github.com/zkSNACKs/WalletWasabi/issues/420) You wouldn't send sum coins, you would send sum coins - fees. Sum coins in itself would be misleading. In order to calculate the exact amounts we need fees.
Could you create an issue for this to not be forgotten? After the fees become available, we can implement it.

[2018-11-28 14:21] nopara73 commented on #882
Thanks!

[2018-11-28 14:22] #882 closed

[2018-11-28 15:03] #901 closed

[2018-11-28 15:12] lontivero commented on #899
I've been trying to make it fail with no luck. I used variants on the following test:

<details>

[code]
</details>

[2018-11-28 15:13] lontivero commented on #900
That's a one file library. We can include it in Wasabi as a first step and the work in replacing it. Let me do it.

[2018-11-28 15:15] #900 closed

[2018-11-28 15:15] nopara73 commented on #900
@lontivero Sorry, already done.

[2018-11-28 15:17] nopara73 commented on #899
@molnard is currently replacing the RX magic, so hopefully that'll solve it.

[2018-11-28 16:40] danwalmsley commented on #899
In this case it could be something that schedules something, that schedules something that schedules something recursively.

Is you window minimized at all when this happen , or minimized then restored?

How would I try to repro, just leave some coins mixing, have you used test net to repro?

[2018-11-28 16:42] danwalmsley commented on #898
@nopara73 the x11 backend is more or less ready, and it may well solve this. If you want I can concentrate on testing that backend and getting it merged on Avalonia so we could use that soon.

[2018-11-28 23:14] nopara73 commented on #899
It happens both in maximized and minimized. It seems like this issue doesn't happen when I'm away, only when I'm doing stuff, like watching youtube video or something. But pretty random.

Have no idea. It comes once or twice a day consistently, but randomly while mixing. Not sure the mixing part has a relevance here, but I don't leave Wasabi open long without mixing.

[2018-11-28 23:16] nopara73 commented on #898
@danwalmsley Do what you think is best, IMO x11 is too new to make it into the next release so it's not urgent.

[2018-11-29 09:37] danwalmsley commented on #898
@nopara73 I agree, but possibly after that we can look into it then.

[2018-11-29 13:21] kkdao commented on #890
From this screenshot, I could see how new users might get confused about the importance of their password here.

First, it just says "write down these mnemonic words". I know why it doesn't say write down your pwrd, but this could be confusing to new users as they are already maybe thinking the pwrd isn't that important.

Second, it also says that "you can recover your wallet on any computer with:

[2018-11-29 15:51] nopara73 commented on #899
It think it's been fixed. We've done some refactoring and now it doesn't seem to happen anymore.

[2018-11-29 15:51] #899 closed

[2018-11-29 18:08] lontivero commented on #409
I ask Nicolas about this and I am wating for a response. In the meanwhile the code code is here: https://github.com/lontivero/QrCode.Net/tree/Simplification. I am working on making the test run.

[2018-11-29 20:23] kristapsk commented on #859
I don't think there is any need to show tx id for cj's user has not participated in.

[2018-11-29 21:53] nopara73 opened #904 "coordiantor: too-long-mempool chain"
I thought I am handling this correctly, but I don't.

![image](https://user-images.githubusercontent.com/9156103/49254439-c63eb600-f45b-11e8-9d97-9ad21ef88cae.png)

[2018-11-30 01:02] dreboli opened #905 "Process is terminating due to StackOverflowException."
[code]

[2018-11-30 11:58] kristapsk opened #906 "Autocorrect/delete mempooldump on corruption (JsonReaderException when loading a wallet)"
Wallet worked well before. Also file does not seem to be corrupted.
![image](https://user-images.githubusercontent.com/4500994/49287844-9d441280-f4a7-11e8-97da-6596c688929b.png)
Line 3 in Wallet0.json look ok to me:
[code]
Also, when you click to other items in Wallet Manager and then back to "Load Wallet", it shows message that wallet is already open and to restart the application.
![image](https

[2018-11-30 11:59] kristapsk commented on #906
Happens both with v1.0.0 and v1.0.1 releases.

[2018-11-30 13:15] nopara73 commented on #905
There was a stackoverflow fixed yesterday: https://github.com/zkSNACKs/WalletWasabi/issues/899

[2018-11-30 13:19] nopara73 commented on #906
`"ChainCode": "...",` is the issue. I wonder how could that get corrupted. What OS are you using?

Also, there's a `WalletBackups` folder next to the `Wallets` folder. What's the chaincode there?

[2018-11-30 14:06] kristapsk commented on #906
It's not three dots, it's a correct base64 encoded string that decodes to 32 byte of binary data. I'm just paranoic on displaying any potential private data to public.

[2018-11-30 15:42] #618 closed

[2018-11-30 17:54] rex4539 opened #911 "Crash on exit"
Reproducibility: always

Steps:
1. `dotnet run`
2. Click on "Load Wallet".
3. File -> Exit

What happened:
[code]
[dotnet_2018-11-30-194848_MacBook-Pro-2011.log](https://github.com/zkSNACKs/WalletWasabi/files/2634451/dotnet_2018-11-30-194848_MacBook-Pro-2011.log)

Expected result:
No crash.

[2018-11-30 17:57] kristapsk commented on #906
Files in Wallets and WalletBackups are identical.

[2018-11-30 20:14] nopara73 opened #912 "Fall back to clearnet entry over Tor"
Half of our users (including me) cannot connect to our hidden service due to this issue. This happens once or twice a month and stays like this for hours (days?).

`Closed 1 streams for service [scrubbed].onion for reason resolve failed. Fetch status: No more HSDir available to query.`

We could fall back to querying clearnet (still over Tor) instead of our onion when this happens, since it is qui

[2018-11-30 20:18] nopara73 commented on #912
It looks like Tor decided to label this issue as "wontfix" https://trac.torproject.org/projects/tor/ticket/27188

[2018-11-30 20:23] nopara73 commented on #912
This fix must go into the next release.

[2018-11-30 20:35] lontivero commented on #906
Are both files broken? Can you open the one in the backup folder? (You need to copy it into the Wallets folder first)

[2018-11-30 20:52] kristapsk commented on #906
They do not seem to be broken. JSON looks valid. I described above already that there isn't `...` in actual files, it's base64 string that decodes to 32 bytes of data. And also both files are identical (checked with `diff`).

[2018-11-30 21:05] lontivero commented on #906
Okay but i think there could be some invisible character that the parser doesn't expect. That's why i wanted to know if both files are broken (fail to load). They can look identical and be very different anyway.

[2018-11-30 21:41] kristapsk commented on #912
On a related note - shouldn't Wasabi display some error message when it's unable to connect to the API endpoint instead of this?
![image](https://user-images.githubusercontent.com/4500994/49316241-f25c4480-f4f8-11e8-849d-b97f05eeab1e.png)
It even allows to enqueue coins for CJ (that could be ok, with the idea that connectivity issues will resolve in time).
![image](https://user-images.githubuserco

[2018-11-30 22:49] lontivero commented on #906
Could you share the log file segment where we can see the exception details, please? We need to know what json is corrupted (you're assuming it is the wallet file but that's not the only one). It could be also useful if you could check the transactions file in ~/.walletwasabi/client/Transactions/Main/{YourWalletName}Transactions.json.

[2018-11-30 23:05] kristapsk commented on #906
[code]

Transactions file looks clearly corrupted (not a valid JSON, basically something like `<U+FEFF>[
  {
    "Transaction": "...` [where `...` is some hex data], without closing quotes or tags). Looks like that's the issue (there was `[0].Transaction` in the GUI error message too), as on the Windows machine I built Wasabi from the sources in VS and wallet file, copied from other machine, loade

[2018-11-30 23:19] lontivero commented on #906
The transaction json file is simply a mempool dump, not really necessary. In fact, you can delete it and wasabi will run without raising error. That json file is not protected with a backup as the critical files (wallets, for example) and we should simply ignore it if it is broken. I will do that now.

Wallet .json are enough but it requires connection with the backend in order to download the com

[2018-11-30 23:32] nopara73 commented on #906
ACK. I keep this issue open until that is done.

[2018-12-01 00:14] lontivero commented on #904
What do you want to do in these cases, @nopara73?

These are the possible reasons a tx can be rejected by the Bitcoin node:

[code]

[2018-12-01 01:30] nopara73 commented on #912
Agree. There are way too many "I lost coins" and "My balance is zero" and such headlines. I think instead of warning messages, the status bar should be the place. Maybe make the icons red and blinking when something is not good and add tooltips to explain why that something is not working well and what can be the consequence.

[2018-12-01 01:34] nopara73 commented on #904
Thank you @lontivero ! I was only aware of the `too many unconfirmed parents` thing and handled only that. I think it was a size limit issue.

[2018-12-01 11:20] nopara73 commented on #912
From a privacy point of view it'd be better to connect to bridges, this way we wouldn't know if a set of users use a different entry for connection: https://www.torproject.org/docs/bridges.html.en

It may be the hardest solution and deemed to introduce a bunch of other issues, but in theory this could work the best.

[2018-12-02 00:20] Transisto opened #918 "CoinJoin tab uses too technical terms + managing time expectations."
I think the terms are currently accurate and clear but think words like "Coinjoin" and "Queue" are somewhat technical terms that may not be self-explanatory for uninitiated users. I would make title of the tab refer to "Mixing" (a somewhat loaded terms) or "Shuffling".

![image](https://user-images.githubusercontent.com/388716/48144825-93036f80-e27f-11e8-9b6d-3b3507631f4e.png)

Status log.

There

[2018-12-02 02:48] nopara73 opened #919 "Address sanity check: check 100 characters instead of 50"
https://github.com/bitcoin/bips/blob/master/bip-0173.mediawiki

https://old.reddit.com/r/Bitcoin/comments/a24vu0/release_wasabi_v102_coinjoin_user_experience/eaw3w7z/

[2018-12-02 03:48] lontivero commented on #918
I agree with these observations. IMO the word _Mixing_ is more natural and generic than _CoinJoin_ (CJ is the technical name).

Also, as a developer I run Wasabi from the terminal and for that reason I have a visual feedback that makes clear that things are happening. Other users have no enough feedback and probably they see 22/24 for 3 hours. However, while you are waiting for others the only thi

[2018-12-02 12:41] #919 closed

[2018-12-02 12:54] nopara73 commented on #911
The underlying issue was the Tor network issue that enabled this thing to happen, so that must be solved: https://github.com/zkSNACKs/WalletWasabi/issues/912

That being said, it still shouldn't stackoverflow away, even if the Tor network had issues, so an investigation will be still needed.

[2018-12-02 13:16] nopara73 commented on #918
We need FUSION® indicator! https://github.com/zkSNACKs/WalletWasabi/issues/850

![image](https://user-images.githubusercontent.com/9156103/49340187-01650300-f66f-11e8-9acb-daeb089caf8d.png)

In all seriousness...

I agree and I would love to use that, but, unfortunately this is intentional, because from a legal point of view we must be very careful with our language here.

Regarding the rest of yo

[2018-12-02 18:14] #906 closed

[2018-12-02 22:32] nopara73 commented on #462
We don't use this feature anymore (It had a significance at Receive, but we enabled it instead.)

[2018-12-02 22:32] #462 closed

[2018-12-02 22:36] nopara73 commented on #553
I'm just breaking down this issue to two actionable task:

- [ ] Max button shows the actual amount.
- [ ] Moving the slider shows the actual fee that will be used.

[2018-12-02 23:08] lontivero commented on #905
@dreboli there is a new release containing the fix for one StackOverflowException (probably this is the same exception you're reporting). It would be good if you upgrade and let us know if this problem persists.

[2018-12-02 23:13] nopara73 commented on #622
For the latter we're showing appropriate error messages, for the former, I don't think we can do anything about it. Anyway that only affects developers and developers should be able to figure it out.

[2018-12-02 23:13] #622 closed

[2018-12-02 23:18] nopara73 commented on #802
We "note" users at first violation, so it should be good now.

[2018-12-02 23:18] #802 closed

[2018-12-02 23:30] nopara73 commented on #796
Thanks @lontivero. Could you go to the bottom of it?

[2018-12-02 23:35] nopara73 commented on #839
The new release has numerous improvements to mitigate the experience described here. For example now gives you proper per-coin feedback and doesn't get stuck on unconfirmed/banned coins queued.

[2018-12-02 23:35] #839 closed

[2018-12-02 23:38] #756 closed

[2018-12-02 23:42] nopara73 opened #923 "Always try to register confirmed coins first"
Right now, in some cases we prioritize unconfirmed coins. This could lead to some unfortunate scenario, for example when memepool chain is too long, it'll block the registration of the rest of the coins.

[2018-12-02 23:43] lontivero commented on #409
I asked Nico and he thinks that doesn't fit well into NBitcoin.

[2018-12-02 23:48] nopara73 commented on #904
@lontivero There is an `IsUnconfirmedCoinJoinLimitReachedAsync` function in the `CcjCoordinator`.
I simply take every CJ transaction and consider them the unconfirmed chain. This may not like this all the time, but it's a good enough guess.

Can you make sure it refuse coinjoins not only based on number of unconfirmed transaction chain, but also based on the other requirements you've explored here

[2018-12-02 23:48] nopara73 commented on #409
Fair enough.

[2018-12-02 23:48] #409 closed

[2018-12-03 00:04] lontivero commented on #904
Sure.

[2018-12-03 01:47] nopara73 commented on #783
The coordinator fee is the only thing that must be checked.

[2018-12-03 01:48] nopara73 commented on #817
Duplicate: https://github.com/zkSNACKs/WalletWasabi/issues/612

[2018-12-03 01:50] nopara73 commented on #572
It's duplicate: https://github.com/zkSNACKs/WalletWasabi/issues/817 https://github.com/zkSNACKs/WalletWasabi/issues/612

[2018-12-03 01:55] nopara73 commented on #723
@danwalmsley Is there an issue/PR in Avalonia that aims to distribute C++ redist so we don't have to?

[2018-12-03 01:59] nopara73 commented on #872
I think there could be a settings option that's if checked, coins are being automixed.

[2018-12-03 02:03] nopara73 commented on #771
It's kind of a duplicate: https://github.com/zkSNACKs/WalletWasabi/issues/838 https://github.com/zkSNACKs/WalletWasabi/issues/726

[2018-12-03 02:03] nopara73 commented on #838
It's kind of a duplicate: https://github.com/zkSNACKs/WalletWasabi/issues/726 https://github.com/zkSNACKs/WalletWasabi/issues/771

[2018-12-03 02:05] nopara73 commented on #608
Closing. Not everyone finds it funny.

[2018-12-03 02:05] #608 closed

[2018-12-03 02:43] lontivero opened #924 "0:7: execution error: The variable display is not defined. (-2753)"
### General Description
Three users have reported this same issue on telegram since the first release. At the beginning it was not clear to me what the error was about and the first guy was so rude and pedantic that I dismissed the problem but now it is clear that OSX(?) users see this problem.

### How To Reproduce?

Not sure. I think this is an error thrown by the notification command line tool

[2018-12-03 02:48] nopara73 commented on #924
@hgergoil @bharmat Did you experience something similar?

[2018-12-03 02:48] btcsessions commented on #924
I'm one of the individuals affected:
OSX 10.13.6

Terminal displays 0:7: execution error: The variable display is not defined. (-2753)
Not just once, but continually through every session.
Program has been open for a few hours now, and I see the notification 5 times.

If there's more pertinent info I can provide, please let me know. Thanks!

[2018-12-03 02:50] nopara73 commented on #924
@danwalmsley Any quick thoughts?

[2018-12-03 02:52] lontivero commented on #924
It is the `osascript` command.

https://stackoverflow.com/questions/30102224/execution-error-the-variable-display-is-not-defined-2753
https://discussions.apple.com/thread/7954795

[2018-12-03 03:12] lontivero commented on #924
I got it.
![image](https://user-images.githubusercontent.com/127973/49350924-ca531980-f68f-11e8-86e2-7e614ab256dd.png)

[2018-12-03 03:15] #783 closed

[2018-12-03 03:19] nopara73 commented on #924
Nice catch @lontivero! Can you fix it or should we take a look at it?

[2018-12-03 04:17] #923 closed

[2018-12-03 04:56] nopara73 commented on #904
This could be also useful in the future: https://github.com/bitcoin/bitcoin/issues/14859

[2018-12-03 09:26] ketominer opened #926 "Privacy upgrades in clipboard management"
### Is your feature request related to a problem? Please describe.

a/ When an address or a transaction is clicked, the address or transaction ID is copied to the clipboard. A malicious application watching the clipboard contents could compromise the privacy by sending this data somewhere along with the IP address of the user thus linking a confidential transaction/address to an IP address and fac

[2018-12-03 14:02] #924 closed

[2018-12-03 14:22] nopara73 commented on #926
I believe this theoretical attack is highly improbable. If the users computer is compromised then the least of its worry is a clipboard monitor malware by chainalysis companies.

Nevertheless I must give concept ACK to the turn off setting, because this feature may be annoying for some.

[2018-12-04 11:10] nopara73 commented on #904
??? You mean the unconfirmed CJ was spent by other transactions more than `limitdescendantcount` times?

[2018-12-04 11:19] nopara73 commented on #904
Related issues:
- https://github.com/bitcoin/bitcoin/issues/9752
- https://github.com/bitcoin/bitcoin/issues/10004

[2018-12-04 11:41] nopara73 commented on #904
Anyway, then let's just fail and note the tx in the error message, and refuse its registration for the next rounds until confirmed.

[2018-12-04 14:42] danwalmsley commented on #597
We should just migrate to data grid, which implements virtualization itself, and also does sorting on the control level, which is more performant because you dont need to sort through bindings causing performance issues.

I did some trials on datagrid and it seems ready to use.

[2018-12-04 17:52] lontivero commented on #904
I finally got it. The problem we see in the log file is not because of the number of ancestors. The error is because the CJ transaction that Wasabi failed to broadcast had and ancestor (another Wasabi CJ 7ae6296d40c3a851fb18b6a96c3738972b737aaf18146ab24deac17510d38277) which had **in total** more that `limitdescendantcount` in-mempool descendants.

Initially I thought that the mempool policy was t

[2018-12-04 18:02] lontivero commented on #904
@nopara73 now that we understand the problem I think the feature request that you opened for the bitcoin project can not help us in this scenario because any transaction can be pass all the mempool policies when you make the query in a time 't' and be rejected once try to broadcast it simply because someone else spent one unconfirmed output of one of your transaction's ancestors.

On the other han

[2018-12-04 18:48] lontivero commented on #912
@nopara73 I don't find a clean/simple way to implement this (i accept suggestions) so, I think it could be easy to let the user choose to connect to clearnet or onion service in the settings window and change the config file as we do with the other settings.

So, if we do this, users can go to Settings, select ClearNet and restart Wasabi. What do you think?

[2018-12-04 19:50] nopara73 commented on #904
You are right.

I agree. This once. This check must be done in registration time. But we also cannot avoid doing the check at signing time, due to the descendant count sanity check. Luckily core tells us what transaction we need to not accept outputs from until it confirms, so we can refuse them next time at registration.

[2018-12-04 20:04] nopara73 commented on #912
@lontivero It must be automatic, otherwise it's pretty much useless.

Yeah, I've been brainstorming on it, too, but always end up not coming up with a good way. Generally we need two things:

1. To detect this issue. It's hard, because the error can mean a bunch of different things. I think we must watch the tor log files to identify it properly.
2. To query. While the clearnet thingy would be suf

[2018-12-04 20:33] lontivero commented on #912
I didn't consider that. It is can be a good idea, yes. Currently I am trying to figure out why it doesn't detect when the internet connection goes down, it used to work okay but now it simply keeps waiting on the stream.ReceiveAsync methods.

[2018-12-05 02:44] benthecarman opened #929 "Ledger Nano S Support"
It would love to use this wallet but I prefer to store everything using cold storage with my Ledger Nano S.  If you guys could add support so this wallet is useable with a Ledger Nano S I would begin using this as my primary wallet instead of electrum.

[2018-12-07 02:56] nopara73 opened #932 "Add Advanced Send Tab"
Add an Advanced Send Tab to the wallet to satisfy our power users.

- This should map our "BuildTransaction" function.
- This should not be opened by default at wallet load. Rather the user should manually open it.

[2018-12-07 08:28] aghamir opened #933 "Offline transaction"
### Is your feature request related to a problem? Please describe.
In cold wallet, we need a mechanism to sign transaction in offline mode.
### Describe the solution you'd like
If wasabi can add offline mode and provide signing transaction in, wasabi can be used in cold wallets
### Describe alternatives you've considered
Maybe if wasabi accept broadcasting signed transaction(via other wallets like

[2018-12-07 15:49] nopara73 commented on #904
@lontivero Look what I've found:

![image](https://user-images.githubusercontent.com/9156103/49657482-157a7d00-fa40-11e8-8d14-90897f4832df.png)

[2018-12-07 16:01] nopara73 opened #934 "Explore all the possible unconfirmed coinjoin transaction limits those are eligable to register"
Some that comes to my mind:

- should all input be segwit (and its ancestors)
- should not use RBF
- should conform to policy limits: https://github.com/bitcoin/bitcoin/issues/14867#issuecomment-444113950

[2018-12-07 16:09] webintelligence opened #935 "Latest update to Mac OS Mojave v10.14.2 (18C54) appears to have broken GUI"
### General Description

After updating to latest version of Mac OS Mojave v10.14.2 (18C54), the wallet screen never loads--just get empty/black GUI window (screenshot attached). I was successfully and actively running the latest version of wasabi from tar download prior to this issue.

To try to fix it, I installed the full dotnet SDK, and wasabi from git, which installed previous version, and th

[2018-12-07 17:10] lontivero commented on #935
@webintelligence thanks for reporting this issue. The first that I see in the Terminal Output file is that you failed to clone the Wasabi repository:

[code]

Could you remove the WasabiWallet directory/folder and try again, please? Let us know if this problem still persist after that.

[2018-12-07 17:12] danwalmsley commented on #935
Hi, are you on a vm or a real mac?

[2018-12-07 17:16] webintelligence commented on #935
Hi Dan,

Real Mac.

[Screen Shot 2018-12-07 at 11.14.36 AM.png]

Cheers,

Scott

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, December 7, 2018 11:12 AM, danwalmsley <notifications@github.com> wrote:

[2018-12-07 17:17] lontivero commented on #935
@danwalmsley I think this could be a problem caused by broken cloned repo.The procedure follow by @webintelligence shows problems. Here is the latest one (Dock project was not updated correctly)

[code]

IMO the best is remove the Wasabi directory and do a clean clone and build Wasabi.

[2018-12-07 17:20] lontivero commented on #904
Great! I didn't know about that RPC methos. I am going to add it into NBitcoin right now.

[2018-12-07 17:35] danwalmsley commented on #935
I have mojave now so im going to try official builds here.

[2018-12-07 17:38] webintelligence commented on #935
Thanks, and to be clear, it was working fine on Mojave prior to the most recent update that I installed yesterday.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, December 7, 2018 11:35 AM, danwalmsley <notifications@github.com> wrote:

[2018-12-07 17:54] danwalmsley commented on #935
iv just tried mine is still 10.14.1, trying to install update now.

[2018-12-07 18:16] danwalmsley commented on #935
ok so the update breaks it for me also, will investigate.

[2018-12-07 19:04] nopara73 commented on #904
@lontivero Wait with it. I already finished the implementation. I'm just running the tests.

[2018-12-07 19:10] nopara73 opened #937 "Add MempoolEntry and GetMempoolEntryAsync to NBitcoin"
As implemented here: https://github.com/zkSNACKs/WalletWasabi/pull/936/files

[2018-12-08 12:39] nopara73 opened #938 "Pull Request testmempoolaccept without signature into Bitcoin Core"
More details here: https://github.com/bitcoin/bitcoin/issues/14859

@lontivero Do you think you can do this? I'm starting to think this may be really the only way to make sure we don't miss any limits and it is future proof.

[2018-12-08 12:53] nopara73 opened #939 "Wallet file doesn't load, because collection index is out of range"
I've been mixing with this wallet for ages, it's possible we've run out of something. I'll take a deeper look at some point.

[2018-12-08 18:08] nopara73 commented on #939
After update it doesn't happen anymore. It's likely the mempool dump was corrupted.

[2018-12-08 18:08] #939 closed

[2018-12-08 19:43] nopara73 opened #941 "Amount ordering in History tab is incorrect."
It's because of the pluses and minuses.

[2018-12-09 03:47] nopara73 commented on #860
Done.

[2018-12-09 03:47] #860 closed

[2018-12-09 03:48] nopara73 opened #942 "Finish Azure Pipeline Integration"
No CI supports .NET Core 2.2 yet, so we must wait it out. In theory everything should work well and after Azure pipelines integrates 2.2 the only thing left to do will be to uncomment the commented out lines in https://github.com/zkSNACKs/WalletWasabi/blob/master/azure-pipelines.yml

https://github.com/Microsoft/azure-pipelines-image-generation/issues/512

[2018-12-09 04:29] OstrichEgg opened #943 "Wallet stuck on "Backend: NotConnected" indefinitely."
Yesterday Wasabi seemed to be working just fine. I was able to send, receive, and do coinjoins.

Today, however, Wasabi appears to be stuck on "Backend: NotConnected" without ever being able to finally connect. What is going on?

![2rqw4r32](https://user-images.githubusercontent.com/10377466/49693446-13e4ae00-fb41-11e8-8272-232444dc57ca.jpg)

[2018-12-09 04:30] OstrichEgg commented on #943
Is it possible that http://api.itbit.com is down, and this is the root cause of the problem?

[2018-12-09 04:38] nopara73 commented on #943
No, it's the same as this issue: https://github.com/zkSNACKs/WalletWasabi/issues/912

This is happening for me at the moment, too. For now, the only thing can be done is to wait it out.

[2018-12-09 04:43] OstrichEgg commented on #943
Is there a command line instruction I can execute that will change my TOR circuit or create a bridge to route around problematic tor nodes?

[2018-12-09 04:53] nopara73 commented on #943
No. I have a computer that reaches the server and I have another one that does not. (On the same router.) I copied the tor data folder of the good one to the new one, but not even that worked :(

[2018-12-09 05:01] nopara73 commented on #943
@OstrichEgg LOL, I found a hack. You can write the clearnet url to your `Config.json` file:

![image](https://user-images.githubusercontent.com/9156103/49693587-4f9a6a80-fb77-11e8-8627-512bd359271e.png)

Just note that I could deanonymize your coinjoins if you'd do like this, because you'd be the only one using it. Of course won't, but "don't trust, verify."
Also don't forget to change it back nex

[2018-12-09 05:06] OstrichEgg commented on #943
lol that worked

[2018-12-09 05:55] nopara73 commented on #943
@OstrichEgg No way, I am mixing on with the clearnet entry right now.

I tried everything, except modifying the Tor source code. Nothing worked. I doubt that would.

[2018-12-09 09:52] andronoob opened #944 "Support connecting through a local proxy"
I'm trying wasabi on Windows. I found nowhere to configure tor to connect through a proxy. After some struggle I found the solution: manually editing %appdata%\tor\torrc.

[2018-12-09 11:37] danwalmsley commented on #723
Skiasharp have just released a new version 1.68 and it has this statically linked, it currently has a breaking change and once this is resolved we can update and you wont need to do this.

[2018-12-09 11:37] danwalmsley commented on #723
I'll look into it.

[2018-12-09 15:01] dreboli opened #945 "error NU1102: Unable to find package ..."
After the most recent Wasabi update, the newest version of dotnet was needed (I think)

Installed dotnet 2.2.100
Rebooted
Cloned Wasabi into a new directory for a fresh start.

dotnet build
[code]

dotnet restore
[code]

dotnet --info
[code]

[2018-12-09 19:14] nopara73 commented on #945
I did not yet update to 2.2 on my Ubuntu 16.04 yet. I'll write the steps as I go along:

[code]

And it worked. Can you try to do these steps maybe? Just to rule out you did not miss anything?

[2018-12-09 19:54] nopara73 commented on #944
What is the issue you're trying to solve? Your country/company censors your Tor?

[2018-12-09 19:56] nopara73 commented on #937
Done.

[2018-12-09 19:56] #937 closed

[2018-12-10 01:32] andronoob commented on #944
Yes.

[2018-12-10 05:52] nopara73 commented on #944
While we have some ideas how to fight against this we have no resources atm. I'd like to add two more ideas on top of yours for those who read this issue for the above mentioned reasons. Try Tor bridges or VPN. https://www.torproject.org/docs/bridges.html.en

[2018-12-10 11:50] dreboli commented on #945
The update process was just like yours, I did a restart because a similar issue https://github.com/zkSNACKs/WalletWasabi/issues/706 was solved by that.

Did the same process again, got the same errors.
[code]

[2018-12-10 16:39] #912 closed

[2018-12-10 16:39] #943 closed

[2018-12-11 08:29] nopara73 opened #951 "Implement bech32 sendability to other open source Bitcoin wallets"
Wasabi is a bech32, native segregated witness only wallet, but bech32 is not fully adopted yet. This sometimes causes misunderstanding for less up-to-date users and inconvenience for others. Wasabi does not need from other wallets to generate bech32 addresses, rather the only thing we need is them to be able to send to bech32 addresses. This is an uncontroversial improvement, thus it may be a good

[2018-12-11 08:36] nopara73 commented on #951
Leaving this tweet here, since some people are poised to feed us with projects under it, instead of this GitHub issue: https://twitter.com/nopara73/status/1072408680522543105

[2018-12-11 08:44] nopara73 opened #952 "Improve Error Feedback when user wants to send a whole coin without max"
We should improve the error feedback to avoid such situation:

![image](https://user-images.githubusercontent.com/9156103/49788324-59fc6600-fd29-11e8-92e0-b75f7c090ddb.png)

[2018-12-11 10:51] nopara73 commented on #951
It looks like bitcoinj only needs the last nail in the coffin: https://github.com/bitcoinj/bitcoinj/pull/1441#issuecomment-445224497

[2018-12-11 21:29] lontivero commented on #938
@nopara73 @danwalmsley could you take a look at my PR, please? What do you think about the two `test_accept` and `test_accept_unsigned` parameters? it looks weird to me but what's the alternative.

https://github.com/lontivero/bitcoin/pull/1

[2018-12-11 22:17] nopara73 commented on #938
They don't look wierd for me.

[2018-12-12 10:00] nopara73 commented on #938
Wow, that's great!

[2018-12-12 12:28] nopara73 opened #954 "Change back to old icons"
This PR changed the icons to Chrome icons. Old ones look better. https://github.com/zkSNACKs/WalletWasabi/pull/953

![image](https://user-images.githubusercontent.com/9156103/49869779-b5a21e80-fe11-11e8-8827-7bc592d68eed.png)

[2018-12-12 12:31] nopara73 commented on #945
I still don't know what's going on, but we updated the packages, so it's possible it'll find it this time.

Could you do a `git pull && git submodule update --init --recursive`?

[2018-12-12 13:48] nopara73 opened #955 "Add TestMempoolAcceptAsync to NBitcoin"
https://github.com/zkSNACKs/WalletWasabi/blob/b86d03d8c5fb2d93b42053d5df808e37c4c799de/WalletWasabi/Extensions/RPCClientExtensions.cs#L121-L125

[2018-12-12 15:53] dreboli commented on #945
git pull && git submodule update --init --recursive
remote: Enumerating objects: 126, done.
remote: Counting objects: 100% (98/98), done.
remote: Compressing objects: 100% (40/40), done.
remote: Total 68 (delta 48), reused 46 (delta 27), pack-reused 0
Unpacking objects: 100% (68/68), done.
From https://github.com/zkSNACKs/WalletWasabi
   a8661a6f..b86d03d8  master     -> origin/master
 * [new tag]

[2018-12-12 16:49] danwalmsley commented on #945
Is this windows? try running `dotnet clean` before running `dotnet build`

If the problem persists, try also deleting your ~/.nuget/ directory and trying again.

Are you behind a proxy or firewall or anything like that?

[2018-12-12 16:51] danwalmsley commented on #945
The package definitely isn't missing in the feed...
![image](https://user-images.githubusercontent.com/4672627/49885014-20615300-fe2e-11e8-9496-d2a1c24b2ce4.png)

[2018-12-12 16:55] #905 closed

[2018-12-12 17:24] dreboli commented on #945
Ubuntu 18.04

Problem persist

Problem still persist

I'm not.

This might be a problem in my local environment, but not sure how to clean it up.

[2018-12-12 17:39] lontivero commented on #938
It's done. Lets see if the concept is accepted. https://github.com/bitcoin/bitcoin/pull/14939

[2018-12-12 18:58] lontivero commented on #955
Done: https://github.com/MetacoSA/NBitcoin/pull/618

[2018-12-12 19:02] lontivero commented on #951
I will start working on this.

[2018-12-13 12:26] nopara73 opened #956 "Add Dojo section for website"
More and more users are creating content for Wasabi. Twitter Bot, Telegram group, Tutorial videos, Infographics, Python API, etc...

Their content should be featured somehow, for example in a separate page on the website.

[2018-12-13 12:34] nopara73 commented on #945
@danwalmsley This is an issue with dotnet sdk/nuget repo for sure, but why these specific packages, is there anything common with them?
I'm kind of struggled on this. As I said I tried both on Ubuntu 18.04 and 16.04 and it worked well for me.

[2018-12-14 02:08] nopara73 opened #957 "When no coins are selected and wants to enqueue or dequeue, show warning"

[2018-12-14 07:09] #771 closed

[2018-12-14 07:09] #838 closed

[2018-12-14 07:57] nopara73 commented on #723
Done

[2018-12-14 07:57] #723 closed

[2018-12-14 09:54] nopara73 opened #958 "Sign code on OSX"

[2018-12-14 09:55] nopara73 opened #959 "Beautfy OSX .dmg Installation"
I think we'll delay the fancy .dmg part for now. However it should be possible:
	https://github.com/tpoechtrager/osxcross/issues/36#issuecomment-143644107
	https://stackoverflow.com/a/7553878/2061103

[2018-12-14 13:09] #904 closed

[2018-12-14 15:21] nopara73 commented on #779
It's highly experimental.

[2018-12-14 15:21] #779 closed

[2018-12-14 15:38] molnard commented on #779
Newest ILLink https://dotnet.myget.org/feed/dotnet-core/package/nuget/Illink.Tasks# is not compatible with .NET Core 2.2.0.

publish failed:
`WalletWasabi/WalletWasabi.Dependencies/AvalonStudio.Shell/src/AvalonStudio.Shell.Extensibility/AvalonStudio.Shell.Extensibility.csproj : error NU1202: Package Microsoft.NETCore.App 2.2.0 is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Pack

[2018-12-14 16:36] nopara73 commented on #779
It's actually not compatible with .NET Standard, not .NET Core 2.2.0. (Although possibly that, too, it was just the first error message.)

[2018-12-15 05:05] nopara73 opened #963 "Translate Oneliner Description To Various Languages"
Bitcoin.org needs a translation of a one-line description of Wasabi in the following languages:

![image](https://user-images.githubusercontent.com/9156103/50404341-010be380-07a7-11e9-9a74-29c19c0b0b01.png)

I denoted the ones already ready with a star, please feel free to either

- comment your own version under this issue
- or make a pull request to https://github.com/nopara73/bitcoin.org/tree/w

[2018-12-15 05:06] nopara73 commented on #963
@molnard @hgergoil @bharmat Can you review my Hungarian translation if that's good or not?
@lontivero Can you translate to your own language?

[2018-12-15 12:07] raindogdance commented on #963
Created a PR for my suggestion for Russian: https://github.com/nopara73/bitcoin.org/pull/1

I'm not super familiar with GitHub, so apologies if something is screwed up with the technicalities :)

[2018-12-15 12:12] nopara73 commented on #963
@raindogdance Yes, that's exactly how you do it, thank you! You can see your change has already made its way to my Bitcoin.org PR: https://github.com/bitcoin-dot-org/bitcoin.org/pull/2788/files

[2018-12-15 14:53] nopara73 opened #965 "PR btcinformation.org for wallet inclusion"
Repository: https://github.com/achow101/btcinformation.org

To avoid work duplication, this makes most sense to do after the PR https://github.com/bitcoin-dot-org/bitcoin.org/pull/2788 is not WIP anymore.

[2018-12-15 22:53] molnard commented on #954
@danwalmsley @nopara73 Revert the progress according to this?
https://github.com/VitalElement/AvalonStudio.Shell/commit/9f0b9b56d9a5443337b521ea6c3de45d14ad51b5

[2018-12-16 01:00] molnard commented on #573
I have tested this on Mac and windows and it was working I got notifications from the OP system. As far as I can remember we also saw this working on ubuntu (Max video tutorial). According to current privacy goals sending emails is not possible.
I think this can be closed.

[2018-12-16 07:49] nopara73 commented on #573
No way it works on Windows, that's turned off. It works on OSX and Mac though.

That being said, sometimes the messages are buggy. I'm also thinking of replacing this with toast notifications. It may be annoying if you're coinjoining too often.

[2018-12-16 07:50] nopara73 commented on #954
I think @danwalmsley wants to go with the Chrome icons, so it should be exposed from the shell, so Wasabi or AvalonStudio can set their own.

[2018-12-16 07:51] #941 closed

[2018-12-16 08:02] #957 closed

[2018-12-16 09:18] nopara73 commented on #942
Fixed: https://github.com/zkSNACKs/WalletWasabi/commit/4a7351e2795bd117e386d3f2d9dbf1d8ef402427

[2018-12-16 09:18] #942 closed

[2018-12-16 14:04] lontivero commented on #573
It notifies twice, when you receive funds and when the block confirms. It also notifies you when you send because it sees a tx with a coin of your (the change). Yes, it is not buggy but not very well thought instead

[2018-12-16 20:28] lontivero opened #969 "Client filters in raw binary"
Other thing I would like to do that requires breaking the clients is persisting the filters in binary format (instead of base64 encoded). In that way we could reduce the size, download/sync faster and make the distributions (installers/tars) smaller too.

### Is your feature request related to a problem? Please describe.

Currently the client filters are encoded as base64 what requires more space

[2018-12-17 10:02] nopara73 commented on #969
I was thinking about this, but this is not a hardforking change. This can be added simply as an extension to the existing things.

However this would be difficult when we introduce the `sync` request, so a part of the request would be json and another part would be a binary? Not sure how that'd work.

Furthermore we also want to soon remove the checkpointed filters from the binary, because it is g

[2018-12-17 16:57] #954 closed

[2018-12-17 18:05] nopara73 commented on #959
Done

[2018-12-17 18:05] #959 closed

[2018-12-17 22:19] nopara73 opened #976 "Add team members in Azure"

[2018-12-17 22:20] nopara73 opened #977 "Fix Azure Windows Build"
For some reason it always times out.

This can be done after this: https://github.com/zkSNACKs/WalletWasabi/issues/976

[2018-12-18 10:14] nopara73 commented on #945
I must remove this from priorities. It's quite uncomfortable, but we have been discussing it over and over again and we are clueless. I guess it takes a developer to access the target machine, go to town and figure out such issues.

I leave some things to try of how to fix similar issues:

- Try out a deep way of updating the software: `git pull && git submodule update --init --recursive && dotnet

[2018-12-18 19:17] toxub23 opened #978 "Mono instead of .NET"
In my opinion, using Mono instead of .NET would be a good idea. Mono has a more open license and works better on various platforms such as Linux and OSX (which is based on the Darwin system (BSD). I writing programs in C # using Mono and I see how much more easy is to use Mono on Linux. Mono provides a repository for package manager APT and upgrade and installation of Mono in linux is something be

[2018-12-18 19:18] nopara73 commented on #976
Done. @lontivero I think an email should've come to you from Azure.

[2018-12-18 19:18] #976 closed

[2018-12-18 19:37] nopara73 commented on #978
Mono is basically Microsoft now. Mono was created and mainly sponsored by Xamarin, which was not long ago brought by Microsoft.
Also I suspect you are confusing .NET Framework with .NET Core. .NET Core is MIT licenced: https://github.com/dotnet/corefx/blob/master/LICENSE.TXT
Also there are more and more things being open sourced from the .NET Framework, too, just a few days ago WPF and WinForms we

[2018-12-18 20:14] toxub23 commented on #978
From what is written, for example, in Wikipedia, Xamarin was created by people who created Mono. The fact that the company belonged to Microsoft occurred later and for me it was a kind of bad but necessary evil.
I have heard about "open source" from Microsoft and a nice example of this is the open source VSCode which is an open source editor but is heavily stripped from the already paid version an

[2018-12-18 20:15] toxub23 commented on #978
From what is written, for example, in Wikipedia, Xamarin was created by people who created Mono. The fact that the company belonged to Microsoft occurred later and for me it was a kind of bad but necessary evil.
I have heard about "open source" from Microsoft and a nice example of this is the open source VSCode which is an open source editor but is heavily stripped from the already paid version an

[2018-12-18 22:47] lontivero commented on #976
Confirmed. I'm in.

[2018-12-18 23:40] dreboli commented on #945
I'm on a newly installed OS now (everything works here), the original environment where the problem occurred is gone.
I'm pretty sure it was some files or directories with incorrect permissions or owner.

[2018-12-19 22:10] Transisto opened #983 "Option to set max allowed network fee for coinjoins."
Beside agreeing to the 0.003% coordination users might not agree to very high network fees.

Unit could be sat per bytes or BTC sum per rounds since bytes size is consistent.

1. Limit coordinator to a common max fee OR
2. report to UI the expected network fee OR
3. relay user maxfee to coordinator.

[2018-12-20 00:39] the-metalworker opened #984 "Add confirmation when sending"
### Is your feature request related to a problem? Please describe.

On the send tab, when I enter the address and amount, select the fee, and press "send", the wallet sends the funds with no final confirmation of what it's about to do.

### Describe the solution you'd like

I would like a confirmation screen showing the recipient address, how much the recipient will receive, the cost of the fee, a

[2018-12-20 06:09] nopara73 commented on #983
Concept ACK. It should go to the Advanced CoinJoin tab when we build that.

[2018-12-20 06:21] nopara73 commented on #984
I think the underlying issue of yours is the fact that fees are not known pre-send. This is one of the thing I am working on lately. While it won't be implemented this way, the underlying issue I believe will be sufficiently addressed. So after the improvements make it to the wallet I'll close this issue, but you are free to reopen it if you still feel like it's needed.

# Related Issues and Work

[2018-12-20 16:32] nopara73 commented on #420
Done.

[2018-12-20 16:32] #420 closed

[2018-12-20 17:23] nopara73 commented on #553
Sat/byte is done. But we don't stop here.

[2018-12-20 19:54] nopara73 opened #988 "Remove Select All tooltip"
Makes no sense.

[2018-12-20 21:35] nopara73 commented on #811
Just an update, fee estimation has been finally reworked where most of the issues raised here were addressed, however we did not implement directly some of the recommendations in this issue, where we believe the complexity increase is too great. Thus their place will be in the upcoming Advanced Send tab: https://github.com/zkSNACKs/WalletWasabi/issues/932

[2018-12-20 21:37] nopara73 commented on #843
The issue with the fees and max button smartness has been addressed.

[2018-12-20 21:39] nopara73 commented on #740
Just an update: we introduced a `WasabiSynchronizer` that syncs the states. It is wallet independent, so nothing blocks this issue anymore.

[2018-12-21 09:16] nopara73 commented on #956
We should build a belt system, too:)

[2018-12-21 16:39] #988 closed

[2018-12-21 17:19] #956 closed

[2018-12-22 09:13] nopara73 opened #996 "Add Dangerous Clearnet feature"
We made sure Tor works well now, but unexpected things can happen like this: https://old.reddit.com/r/WasabiWallet/comments/a8fm39/tor_general_socks_server_failure_error_message_on/

We could add use clearnet setting with a bunch of warnings that you loose your privacy, since in some cases it is more desirable than not having access to your coins.

[2018-12-22 17:13] 402PaymentReq opened #998 "Auto-pasted address in Send tab not in my clipboard"
### General Description
12 hours after upgrading to latest Wasabi I copied an address to my clipboard to Send some coins out of my wallet. When clicking on 'Address' in the Send tab, the address that was automatically pasted was not the one I had copied (it was an already used address of mine).

I Immediately pasted the contents of my clipboard to an empty terminal to check if I hadn't copied corr

[2018-12-22 18:48] nopara73 commented on #998
This would be very important, but also very hard to impossible to catch. I haven't met anything similar before. Let's see.

![image](https://user-images.githubusercontent.com/9156103/50377703-4d79e680-0622-11e9-91de-6577118a262e.png)

I reviewed Wasabi's related code, but I cannot find anything remotely fishy.
@danwalmsley Could you take a second look at how Avalonia reads the clipboard content on

[2018-12-23 01:58] lontivero commented on #998
I was able to reproduce it as follow:

## Steps:

1. Copy an address **A** to the clipboard (using whatever method you want)
2. Go to the **Send** tab
3. Move the mouse pointer on the **Address** textbox (do NOT click on it yet and do NOT let the mouse pointer to leave the textbox area)
4. Switch to any other application and copy another address **B** to the clipboard
5. Go back to Wasabi wallet a

[2018-12-23 08:14] 402PaymentReq commented on #998
Didn't right click. Just clicked on 'Address'

[2018-12-23 08:32] nopara73 commented on #998
@402PaymentReq Thanks, the fix is regarding that.

Btw, great job @lontivero! I'll wait for @molnard's review before merge, since he wrote that part of the code. I think after I'm done with the debian package we can even release.

[2018-12-23 15:32] nopara73 commented on #998
I'm still not happy with the deb package, and not sure how much I'll be able to work during the next few days, but this fix is very important so I'll go ahead and release.

[2018-12-24 09:12] nopara73 commented on #596
Another issue is the changes. Maybe it'd be better to hash the terms and conditions and if the hash changes, the user must accept the new terms.
Also we should bring the terms from wallet generation to wallet opening. So whenever the wallet opens the wallet would check if the newest rems is accepted or not. We could also update the terms remotely. Or something like that. Nevertheless, we should re

[2018-12-24 14:14] rfcdejong opened #1001 "2nd screen"
I have two monitors, when I start Wasabi it starts on my 4k screen with a resolution of 3840 x 2160 (and 150% Scale) as my main screen. Moving Wasabi to the left on my second monitor Full HD 1920 x 1080 at 100% Scale Wasabi xaml panels keep resizing until only the topleft logo is the only thing that is visbile in max size.

[2018-12-24 14:22] rfcdejong opened #9274 "Android App"

[2018-12-24 15:03] molnard commented on #1001
I have the same issue. We will debug it!

[2018-12-24 16:05] nopara73 opened #1003 "Remove mempool from status bar"

[2018-12-24 20:38] nopara73 commented on #963
Done: https://github.com/nopara73/bitcoin.org/commit/241712e2beed76fec269aa105dd218b00c2c1fe5

[2018-12-24 20:38] #963 closed

[2018-12-24 22:19] nopara73 opened #1005 "Chaumian CoinJoin Extension To Mix Large Amounts"
# Motivation

Currently every round has a fixed denomination: 0.1BTC output. There is numerous ongoing research on how to do Unequal Amount Mixing (https://github.com/nopara73/ZeroLink/issues/74) however, until an optimal solution is found a small non-intrusive extension could be added to Wasabi's current coinjoins in order to allow mixing larger outputs faster.

The intuition of this method comes

[2018-12-24 22:32] nopara73 commented on #1005
IMO this should be implemented with the hard fork (even though it's not a hard fork, it may be better to bundle them together.)

[2018-12-25 19:35] giuliodisano opened #1008 "Error to send a transaction. "invalid amount""
I have select the input of the funds recently coinjoined, write the bech32 address, I write the label for the change and the amount is 0.017 btc.
Insert the password and the wallet say: "invalid amount".

If I don't write any password the wallet say always "invalid amount"...

"Invalid amount" is a generic error?

I don't understand where is my problem with this transaction. My balance is around 0

[2018-12-25 20:01] nopara73 commented on #1008
No, a `!Money.TryParse(Amount, out amount) ||` was missing from the latest release, thus you could only send whole coins and giving you an "Invalid Amount" error every time you want to spend: https://github.com/zkSNACKs/WalletWasabi/commit/8cc9fc9da53d6dce61c013bb602478042ac24334

This was terrible. Fixed, and I'm releasing a hotfix ASAP.

[2018-12-25 20:01] #1008 closed

[2018-12-25 21:03] giuliodisano commented on #1008
Great job! Ultra fast

[2018-12-26 10:49] nopara73 opened #1009 "Receiving QR is hard to find"
Not sure how it could be done better. Ideas are welcome.

[2018-12-26 11:13] nopara73 commented on #1009
https://old.reddit.com/r/WasabiWallet/comments/a9luax/no_qr_code_for_receiving_why/eckvzrg/?context=3

[2018-12-26 14:26] drkskwlkr opened #1010 "Automated send to another (hardware) wallet after CoinJoin"
Below is a suggestion for a feature improvement to Wasabi wallet (WWIP?) that aims to make repeated use more automated, and save users time and mining fees in the process.

## General Assumptions
I am relying on Wasabi Wallet to anonymize the bitcoins I have purchased from exchanges before putting them for long-term storage on a hardware wallet. I believe this represents a fairly standard use case

[2018-12-26 16:39] nopara73 commented on #1010
It's a huge hack.

Wasabi cannot figure out which addresses hold money in the extpubkey.
That being said, I can see many workarounds, but all smells like a hack:

1. Don't care about if there's already money there.
2. Try to very slowly explore with backend requests the last address that still has money.
3. Only spend to bech32 address chain.
4. Let the user to tell manually which address has mone

[2018-12-26 16:41] nopara73 commented on #1010
By the way I'm very interested in send to extpubkey, I'm just not sure how it should be implemented yet, what is the most acceptable compromise, because there must be one.

[2018-12-26 16:43] nopara73 commented on #1010
A first step could be just to feed the tumbling with addresses to be the mix output. That's actually implemented today on the backend, but it'd add a bunch of complexity, so its place is on a tab called "Advanced CoinJoin" which is not yet created.

[2018-12-26 16:47] nopara73 commented on #969
Thanks, in this case, I would call this difference insignificant, but if you are close to finishing or keen on working on this and you are sure you don't ruin anything then go ahead and implement it.

[2018-12-26 16:50] nopara73 commented on #1010
By the way concept ACK, but implementation NACK. If we want to support extpubkey send (including extpubkey mix) then we must support it properly and not do a half job, like only support bech32 extpubkey send.

[2018-12-26 18:16] drkskwlkr commented on #1010
Indicating reliance on bech32 as a prerequisite stems from my assumption that it was necessary for Wasabi to operate properly. I was just trying to pitch my idea too hard :)

Of course things would make best sense if all sorts of pubkey formats (XPUB, YPUB, ZPUB...) are supported.

Regarding this:

I probably misunderstand the comment, but is it Wasabi's job to do that? Using a mixing service impl

[2018-12-26 21:53] nopara73 commented on #1010
Yes, I realized, however outputs are non-issues, they can be anything, even an op-return:) Only inputs must be bech32. Well, they could even be p2sh segwit, but that's not implemented yet, mainly due to the blockchain scanning method we are using.

Generally I understand what you are saying and I agree that your suggestions would work. It's just they are not universal, they only apply to limited s

[2018-12-27 14:54] #955 closed

[2018-12-27 17:42] nopara73 opened #1014 "Change BlindSignature in NBitcoin ECC blinding to UnblindedSignature"

[2018-12-27 17:42] nopara73 opened #1015 "Move blinding related extension methods to NBitcoin"

[2018-12-27 21:14] nopara73 commented on #414
It's done here: https://github.com/zkSNACKs/WalletWasabi/pull/1006

[2018-12-27 21:14] #414 closed

[2018-12-27 21:30] nopara73 opened #1016 "Fix issue when two rounds are happening the same time."
On the RegTest this can be easily reproduced. Open two wallets with multiple coins and make them mix the same time.

[code]

[2018-12-28 01:48] lontivero commented on #1009
We are creating the qr codes on demand because it seems to be an expensive task. I don't remember very well why. @danwalmsley do you remember why is this?

[2018-12-28 08:06] nopara73 commented on #1009
Exactly. This slowed down stuff.

[2018-12-28 10:22] molnard opened #1019 "Empty Wasabi window"
### General Description
When I start Wasabi for the first time after I turn on the computer the tabs are missing I see kinda empty window there. After a few secs Wasabi disappears. (The window closes)

### How To Reproduce?

1. Start computer
2. Start Wasabi
3. Immediately click on Load Wallet
4. Empty window appers and closes

### Operating System
Windows 10

### Logs
[code]

[2018-12-28 10:25] molnard opened #1020 "Slow sync after start"
### General Description
When I load my wallet and immediately switch to CoinJoin Tab to enqueue I can still see that the succ round counter is -1 and the anoset is 100. Wasabi has not yet syncronized. Maybe there should be some indicator that you cannot enqueue coin until the first sync packet has not arrived.

### How To Reproduce?

1. Start Wasabi
2. Load wallett immediately
3. Coinjoin Tab
4. S

[2018-12-28 11:50] nopara73 commented on #1020
The indications are the backend connection, tor deamon state and the peers number on the status bar.

[2018-12-28 11:52] nopara73 commented on #1019
@molnard I think you're the best man for the job who can fix this, right?

[2018-12-28 21:08] lontivero commented on #1014
Done here: https://github.com/MetacoSA/NBitcoin/pull/625

[2018-12-28 21:10] lontivero commented on #1015
This was done: https://github.com/MetacoSA/NBitcoin/pull/625
I think we could close this one and use #1014 for both, the rename and the extension methods.

[2018-12-28 21:13] lontivero commented on #1019
Can I take it?

[2018-12-28 21:20] lontivero commented on #1009
Guys, I was testing the idea of showing a small QR code next to the bitcoin address but it sucks bad, then I tested the idea of expanding the row that gets the focus and I ended in a weird behaviour. Finally I made the address row to expand automatically when you create a new address, what it is terrible UX in @nopara73's  opinion, and it is a bit unnatural in my opinion.

Do you have any suggesti

[2018-12-28 21:30] MrPaz commented on #843
Wow, I'm really liking 1.0.5.  Everything I mentioned was improved upon.  Only thing I could still nitpick about is not seeing actual sats/byte fee and not being able to enter a custom sats/byte fee, but overall I think the UX is 300% better compared to v1.0.  Killing it.

Great job.

[2018-12-28 21:51] nopara73 commented on #1014
I guess it's just a matter of time, so it can be closed now.

[2018-12-28 21:51] #1014 closed

[2018-12-28 21:51] nopara73 commented on #1015
I guess it's just a matter of time, so it can be closed now.

[2018-12-28 21:51] #1015 closed

[2018-12-28 21:52] nopara73 commented on #1019
@lontivero Sure, @molnard will only be available from January.

[2018-12-28 21:53] nopara73 commented on #1019
Btw I think he's doing this on the RegTest, so in case you cannot reproduce it.

[2018-12-28 21:55] nopara73 commented on #1009
@lontivero I don't know how it'd be the best. Maybe the most acceptable one is what we're already using.

[2018-12-28 22:02] nopara73 commented on #843
@MrPaz Happy you like it.

You can, just click here two times:

![image](https://user-images.githubusercontent.com/9156103/50529352-88818b80-0af4-11e9-9903-e4a88dc026fd.png)

And it'll change:

![image](https://user-images.githubusercontent.com/9156103/50529363-9d5e1f00-0af4-11e9-8b05-876fae36b7a7.png)

That's true. We couldn't find a place for it that wouldn't ruin the workflow of a new user.

[2018-12-29 07:50] #1019 closed

[2018-12-29 19:43] nopara73 opened #1025 "Make sure in NBitcoin throws when Schnorr signing message is zero"
Maybe `SecurityException`?

[2018-12-29 23:02] lontivero commented on #1025
The change was added to the existing PR in NBitcoin. I didn't use SecurityException because that is used to indicate the user has no permission to perform the requested action over a given resource. I throws ArgumentException instead.

[2018-12-29 23:04] lontivero opened #1026 "HSTS and other security headerd"
Implement HSTS http header to the wasabiwallet sites. It is very important given that users download wasabi from there.
I take it.

[2018-12-30 04:46] nopara73 commented on #1026
Sure, I don't see why not. `nginx` serves our clearnet mirror, so it looks like there's a tutorial to do it:

https://www.nginx.com/blog/http-strict-transport-security-hsts-and-nginx/

Interestingly I never heard of it, despite implementing the HTTP 1.1 protocol from scratch myself.

[2018-12-30 04:56] nopara73 commented on #1025
Awesome, closing.

[2018-12-30 04:56] #1025 closed

[2018-12-30 07:41] nopara73 opened #1027 "Add screenshot to the website"
Only if it fits and looks good.

Screenshot idea:

On a Mac with two wallets open and all coins queued to coinjoin. The CJ is in progressed phase, thus the diverse set of coin states would be visible. One is at the send tab, the other one is on the coinjoin tab.

[2018-12-30 18:06] crwatkins commented on #1026
That tutorial looks good, with all the proper warnings.  Also note that when you submit to the preload list, the site will "test" your configuration for you; it's a good final test.

[2018-12-30 19:36] nopara73 commented on #1026
I deployed HSTS with 1 day `max-age` to our the testnet website:
- https://wasabiwallet.co/
- http://wasabiwallet.co/

If all good, then I'll make the `max-age` to be 1 year, which seems to be the most common number.

- [ ] One more thing to do. We are currently waiting for the delivery of an EV SSL certificate, which we will change our existing SSL to. It should be explored if this may result in

[2018-12-31 11:04] nopara73 opened #1029 "Implement key parse typo fixers to NBitcoin"
Far from priority, but would be a nice microoptimization.

https://www.reddit.com/r/Bitcoin/comments/aaxhnf/i_have_created_a_tool_that_fixes_a_mistyped/

[2018-12-31 11:23] nopara73 opened #1030 "Write coinjoin tests for hardfork branch"
The goal would be to achieve close 99% of test code coverage in the backend's and client's coinjoin related code. We should be more confident before rolling this update out.

[2018-12-31 13:00] lontivero commented on #1026
ack. It is a common practice to remove the `Server` header because it announce the server and OS versions, what is not useful for users but valuable information for attackers.
https://serverfault.com/questions/214242/can-i-hide-all-server-os-info

[2018-12-31 14:07] lontivero commented on #1009
Okay. In that case we could close this one and reopen it if we find a better way.

[2018-12-31 16:55] nopara73 commented on #1009
I don't know, it's not like we've explored our opportunities. I'd keep it around.

[2019-01-01 13:48] nopara73 commented on #1026
I've added 1 year HSTS and I've optimized the `Server` header, as @lontivero suggested.

[2019-01-01 13:48] #1026 closed

[2019-01-01 13:57] nopara73 commented on #1027
![image](https://user-images.githubusercontent.com/9156103/50573506-8c076200-0dd5-11e9-85cb-3010e8b9d318.png)

[2019-01-02 20:16] Transisto opened #1034 "Support Coldcard HW wallet by Coinkite, seems to be the best hardware wallet out there and not focusing on shitcoin support."
I believe the ColdCard hardware wallet is the most underrated wallet out there.
https://coldcardwallet.com/

I know Wasabi Harware support is on the backburner but I'm putting out there in case Coinkine would want to expand it's wallet offering. I see a great synergy between the two company since the main focus is on Bitcoin and high level of professionalism.

The only hardware wallet that has sup

[2019-01-03 05:32] lontivero commented on #1030
I have started working on this.

[2019-01-03 07:59] nopara73 opened #1035 "Implement password or seed bruteforcer"
Mistyping the password or forgetting one seed word is a common occurence. According to Electrum's developer @spesmilo it is more common than wallet hacking (Building on Bitcoin talk.)

So it may be a good idea to add a small brute forcer to the software that helps these users recover their funds.

[2019-01-03 08:17] Transisto commented on #1035
Sad but would wait for a specific use case to develop something and would definitely not make it part of the wallet.

Forgetting one word mean about 24 000 permutations.

How strong is the password added to the 12 word seed?
If it's anywhere as strong as BIP38 I think it's very long to bruteforce even a 4 characters password.

I have no current specific improvement suggestion but these would be ea

[2019-01-03 08:33] nopara73 commented on #1035
Now thinking about this the mnemonic seed recovery would be unfeasible, because Wasabi doesn't index the chain and in order to recover your words Wasabi should check that, which would result downloading a block or two for every combination.

Password typo correction is still good though.

Check: https://old.reddit.com/r/WasabiWallet/comments/aby0de/password_problem/

[2019-01-03 08:48] #1003 closed

[2019-01-03 09:35] Transisto commented on #1035
In reddit situation it doesn't seems like a messed up seed. If you meant that bruteforcer would need to seek balanced for every iteration of a missed word, I don't think so. In most case the receiving address would be know and it'd only need to derive and verify a match of the first receiving address.

Although hard to quantify, having a bruteforcer anywhere near the wallet weaken security during

[2019-01-03 10:38] Transisto commented on #1009
How about a clickable "copy to clipboard button" under the QR-Code and have the row expand when clicking anywhere instead of copying to clipboard.

To me the ► symbol mean the row can be expanded, not so much that I have to click exactly there to expand it.

[2019-01-03 11:00] Transisto opened #1036 "Unexpected clipboard replacement is a data lost risk."
Copying to clipboard replace it's content. This could be a cause for data loses.

People can be very irresponsible with important information like password, seeds and stored temporarily in their clipboard.

It's not worth deleting the users clipboard with the TXID in History tab. People are sometime stressed and they just click around into lists for no reasons. Someone might want to just focus to

[2019-01-03 11:17] nopara73 commented on #1035
It doesn't, but if we're implementing a restore-ability then let's implement it comprehensively. That being said, there was another thread were the guy lost one mnemonic word: https://old.reddit.com/r/WasabiWallet/comments/a5707n/any_help_will_be_greatly_appreciated/

That's an interesting hack, I didn't think of. Maybe we can work with it.

A typo correcter is not useful for this, unless you know

[2019-01-03 11:38] nopara73 commented on #1036
I am afraid we cannot remove this feature. There are three blocking issues with this change.

1. It is practical, it works great and there were no such issues reported you are theoretizing here.

2. [The Unexpected Effects Of Redesigning The User Experience](https://theuxblog.com/blog/redesigning-user-experience)

3. I am selfish. I love this feature. It makes my life so much easier.

[2019-01-03 11:38] #1036 closed

[2019-01-03 18:21] lontivero commented on #1016
I would like to work on this one but I don't understand what the problem is. The error message says the input is already registered, how is that wrong?

[2019-01-03 19:48] nopara73 commented on #1016
That shouldn't be wrong in itself, but round disruption happens for some strange reason. It is possible this error is unrelated.

[2019-01-04 13:36] nopara73 commented on #965
@lontivero Can you make a PR? We have all the material ready under the bitcoin-dot-org PR.
https://github.com/bitcoin-dot-org/bitcoin.org/pull/2788

[2019-01-04 15:46] lontivero commented on #965
Done https://github.com/achow101/btcinformation.org/pull/25

[2019-01-05 07:13] nopara73 commented on #978
Turns out NBitcoin, the only library we're relying on (well, there's BouncyCastle too, but from the 1.1.0 version (`hardfork` branch) it's already taken out) doesn't work with Mono in the first place. @NicolasDorier

![image](https://user-images.githubusercontent.com/9156103/50721541-7b9b0400-10c1-11e9-887e-d6008f0f46e6.png)

[2019-01-05 07:13] #978 closed

[2019-01-05 08:51] NicolasDorier commented on #978
@nopara73 it is actually working on Mono, the package is outdated because it is not needed anymore.

[2019-01-05 08:53] NicolasDorier commented on #978
That said, there is no reason to use Mono instead of .NET Core.
.NET Core is fully open source and on github and their team has a kick ass record of doing great, and is more active than mono.

Moving from .NET Core to Mono will likely break lot's of thing, and also bring unnecessary pain down the road as microsoft is trying to unify both later down the road.

This is a pain in the ass for develope

[2019-01-05 11:03] nopara73 opened #1042 "Server overloaded?"
Server doesn't seem to respond.

![image](https://user-images.githubusercontent.com/9156103/50723728-d3496780-10e1-11e9-9ea7-f0246a4cad97.png)

[2019-01-05 11:03] nopara73 commented on #1042
Logs looks good.

`System load: 1.02` does that mean it's overloaded?

[2019-01-05 11:04] nopara73 commented on #1042
I restarted wasabi backend and the server responds again. System load looks good now.

![image](https://user-images.githubusercontent.com/9156103/50723760-160b3f80-10e2-11e9-862b-cda61f160b9c.png)

[2019-01-05 12:03] nopara73 commented on #1042
1.02 should theoretically be fine. Until it's less than the number of processors. https://askubuntu.com/questions/532845/what-is-system-load

[2019-01-05 12:07] mikeziri commented on #1042
1.02 is not overloaded at all.
it might have been a network problem that didn't recover.
too many socket connections not closed.
network ban.
just speculating. do you have any info over time? charts, with cpu, memory, connections usage?

are you the host of the server or is it in the cloud?
who is the ISP of the server?

[2019-01-05 12:16] kristapsk commented on #1042
dmesg and syslog are the first things you should look at. Also monitoring solutions, like Zabbix, does not hurt when analysing such situations afterwards.

[2019-01-05 12:19] nopara73 commented on #1042
"Add monit to restart the service if unresponsive."

[2019-01-05 13:03] molnard commented on #1042
Which response was not working? The RESTAPI interface?

[2019-01-05 13:51] molnard commented on #1042
There is a nice tool which can monitor http, https, keyword, port and ping:
https://uptimerobot.com
It is a free service if 5 minute or slower queries are enough.
# Monitoring

1. Website -> https://wasabiwallet.io/
Bad state keyword: `504 Gateway Time-out`

2. Swagger -> https://wasabiwallet.io/api/v2/btc/ChaumianCoinJoin/states
Bad state keyword: `504 Gateway Time-out`

Maybe we can add some key

[2019-01-05 13:54] molnard commented on #1042
P.S. There is also statistic information on uptimerobot where we can analyze further operations.
![image](https://user-images.githubusercontent.com/9844978/50725165-b91b8380-10f9-11e9-9243-ce03cab1e05b.png)

[2019-01-05 13:59] Ruinous101 opened #1043 "Wallet Loading to Blank Screen"
Hi, my wallet does not display after loading. Tor is running, backend is connected but syncing starts and then show connecting again and backend not connected.

I load my wallet as usual. Click the load button, shows gears turning but then nothing comes up, no tabs.

[2019-01-05 13:59] Ruinous101 commented on #1043
![image](https://user-images.githubusercontent.com/33532153/50725214-1a6a3500-10af-11e9-8544-526ccfa26b36.png)

[2019-01-05 14:00] Ruinous101 commented on #1043
![image](https://user-images.githubusercontent.com/33532153/50725217-2e159b80-10af-11e9-97f8-ea1e8a2276df.png)

[2019-01-05 14:02] molnard commented on #1043
It is a permanent problem? What happens if you restart wasabi?

[2019-01-05 14:08] Ruinous101 commented on #1043
Same issue on restart, and restart with a system reboot.

[2019-01-05 14:10] Ruinous101 commented on #1043
Of course I open a ticket and everything pop up on next load.

[2019-01-05 14:12] Ruinous101 commented on #1043
Spent about 8 hours troubleshooting, now g2g.
![image](https://user-images.githubusercontent.com/33532153/50725319-da0bb680-10b0-11e9-820e-3080e4425e05.png)

[2019-01-05 14:13] molnard commented on #1043
That's how the things work in the world... I will take a look at it have some ideas what happened.

[2019-01-05 14:15] Ruinous101 commented on #1043
Indeed, great product, first issue for me ever. Thanks for the eyes.

[2019-01-05 14:19] molnard commented on #1043
Did it happen 8 hours ago for the first time?

[2019-01-05 16:39] lontivero commented on #1042
Without a code dump it will be difficult to know what is going on. Please create one before restarting, it takes a few minutes.

[2019-01-05 16:58] nopara73 commented on #1042
I am resizing the server. "top" and "uptime" gave me ~1 values, too, which is a sure sign of server load, so the stackoverflow answer there is misleading.

[2019-01-05 17:19] nopara73 commented on #1042
It didn't matter how many times I restarted Wasabi backend or the backend server machine, it always only came back online for a few minutes. In my desperation I resized the server machine. Although the load values don't suggest it was a load issue we'll see. It already seems to work now longer than a few minutes.

[2019-01-05 17:49] lontivero commented on #1042
If the problem is the Wasabi backend process the please consider to get a process dump, othrewise this will be a long guessing game.

[2019-01-05 21:31] nopara73 commented on #1043
Can you try it now? Maybe it somehow originated from the server overload: https://github.com/zkSNACKs/WalletWasabi/issues/1042

[2019-01-05 21:39] Ruinous101 commented on #1043
Loaded up right away. Zero delay for tor, sync, and backend.

[2019-01-05 21:59] nopara73 commented on #1043
Happy to hear it. Nevertheless we can probably reproduce this consequence issue, so let's keep it open until we try.

[2019-01-05 22:15] molnard commented on #1042
Should do the monitoring system!

[2019-01-06 02:40] Transisto commented on #1036
![image](https://user-images.githubusercontent.com/388716/50731440-86da4800-1132-11e9-90b9-b8c5727cfb14.png)

[2019-01-06 07:34] nopara73 opened #1044 "Move autocopy notification directly onto the copied item"
For example if the address is copied, then the address should disappear, a "Copied!" message should appear in its place for a few seconds, then let the address come back.
This happens in

- Receive tab. (address)
- History tab. (txid)

[2019-01-06 07:42] nopara73 commented on #1036
Good insight, if someone doesn't read the "address is copied" message it can be misunderstood. It'd be much better to visually show what we copy. I opened an issue for that: https://github.com/zkSNACKs/WalletWasabi/issues/1044

In fact I've seen this in use either at BitPay or BTCPay, not sure, but works like charm, so it wouldn't even be new idea.

True. I believe anyone who finds a solution to t

[2019-01-06 07:44] nopara73 commented on #1042
Indeed. @molnard Can you open an issue for that?

[2019-01-06 08:39] nopara73 opened #1045 "Refactor BitcoinAddress json serialization"
![image](https://user-images.githubusercontent.com/9156103/50733944-d9e5e680-1196-11e9-9b52-9d617afe872e.png)

[2019-01-06 09:46] nopara73 commented on #1005
Already implemented in the `hardfork`, we're just optimizing it, so closing it.

https://github.com/zkSNACKs/WalletWasabi/pull/1006

[2019-01-06 09:47] #1005 closed

[2019-01-06 09:50] nopara73 commented on #759
@bharmat Why was it rejected?

[2019-01-06 09:51] nopara73 commented on #759
Should we just go with our free ssl for now and not concern ourselves with the EVV until we're better on funds?

[2019-01-06 10:08] ChristopherA opened #1046 "Using Brew to install dotnet"
On a previous machine I was able to `brew cask install node dotnet dotnet-sdk` and do `dotnet build` to get Wasabi running, but when I tried it on a new machine today using Mojave, dotnet installs but I get `Error: Cask 'dotnet-sdk' conflicts with 'dotnet'.` when it tries to install dotnet-sdk.

If uninstall `dotnet` and just install `dotnet-sdk` and I do `dotnet build` I get command not found. I'

[2019-01-06 10:15] nopara73 commented on #1046
I don't see Microsoft supporting brew for macOS. It offers a `.pkg`, so the brew package may be a community maintained thing, I'm not sure.

[2019-01-06 11:17] nopara73 commented on #759
@molnard suggested to keep this issue around and not close it.

[2019-01-06 13:21] nopara73 opened #1047 "Banned UTXO file gets corrupted"
Banned UTXO serialization or deserialization doesn't work properly.

[code]

[2019-01-06 13:55] nopara73 commented on #1045
Actually in the hardfork the try catch Bitcoin address serialization was already removed in favor of NBitcoin's `Network.Parse<BitcoinAddress>`. I would also not force the smartness of serialization registering, because that'd mean a lot of code refactoring.

[2019-01-06 13:55] #1045 closed

[2019-01-06 15:13] nopara73 commented on #1016
Fixed here: https://github.com/zkSNACKs/WalletWasabi/commit/b5d85035babe2c84e0c22791eae2c5c356ef40bd

[2019-01-06 15:13] #1016 closed

[2019-01-06 19:27] uid0000 opened #1048 "0 peers"
Tor service is running
Backend is connected

Number of peers is 0

It shows
Connecting ...
Started process 4 hours ago.

What can I do ? Running on Linux

[2019-01-07 01:16] dmp1ce opened #1049 "wasabi.desktop for Linux"
The Linux package is missing a desktop file for launching in a GUI like Gnome or KDE. It would be nice if one existed so it could be added to Linux packages.

Here is an example from an Arch Linux package. https://github.com/dmp1ce/wasabi-wallet-bin-PKGBUILD

[2019-01-07 01:58] lontivero commented on #1048
First thing you can try is the following:

1. Close Wasabi
2. Delete ~/.walletwasabi/client/AddressManager folder (Linux & OSX) or %appdata%\WalletWasabi\client\AddressManager (Windows)
3. Start Wasabi
4. Wait a couple of minutes

But, even before doing that you could take a look at the Logs.txt file and see if something looks wrong there. The Logs.txt file is ~/.walletwasabi/client or  %appdata%\

[2019-01-07 10:29] BaltazarBazar opened #1053 "Blank/black Wasabi GUI on debian while using X2Go client"
### General Description
While connected to Debian 9.6 via X2Go client everything works fine any GUI I've ever used so far, except Wasabi wallet. The wallet's GUI is completely black. The mouse cursor normally changes when passing over a text field and the close/minimize/maximize buttons work fine but nothing is visible, the entire GUI area is black.

### How To Reproduce?

Install any debian as vi

[2019-01-07 13:47] nopara73 commented on #1053
We're removing the GTK backend and will directly use what GTK is using. @danwalmsley Is my assumption correct? How's the work going on this?

[2019-01-07 14:30] nopara73 commented on #1049
Related: https://github.com/zkSNACKs/WalletWasabi/pull/997 https://github.com/zkSNACKs/WalletWasabi/pull/633 https://github.com/zkSNACKs/WalletWasabi/issues/726

[2019-01-07 17:35] danwalmsley commented on #1053
Im hoping to try and merge the x11 stuff this week. Sound more like that rendering is done in gpu and X2GO cant see it. Will check in with @kekekeks to see if there maybe a solution.

[2019-01-07 19:56] danwalmsley opened #1056 "Tidy XAML Code"
There are many areas where margins, padding, etc are defined inline and repeated where we could use resources to define them in a common place and make the XAML code more maintainable.

[2019-01-07 22:50] Transisto opened #1058 "Lower CPU usage and Dispose UI stuff properly"
1.0.5 Fresh start, no wallet loaded.

![image](https://user-images.githubusercontent.com/388716/50795507-734af080-129c-11e9-893b-79aff0d2b39f.png)

This is on a 4 core 2 logic per core so 12.5% mean thread is maxed out.
Wallet with ~100 UTXO

at least 30sec was waited between actions.
two pixel = 5 second
red = kernel usage

![image](https://user-images.githubusercontent.com/388716/50798007-c2951f

[2019-01-07 23:13] Transisto commented on #1058
![image](https://user-images.githubusercontent.com/388716/50798880-dee68b00-12a7-11e9-8a87-3d89bd78b5d2.png)

A Start
B Load wallet /history/
C click coinjoin
D click send

[2019-01-07 23:42] Transisto commented on #1058
Run 3

![image](https://user-images.githubusercontent.com/388716/50799863-e4de6b00-12ab-11e9-871f-310165f434ea.png)
2 px = 1sec

A Start
B Load wallet
C Send
D Coinjoin
E enqueue coins then close coinjoin
F reopen coinjoin , now has even higher CPU usage, (10% kernel that doesn't stop)

Later RAM drop while window wasnt't even on focus.
![image](https://user-images.githubusercontent.com/388716/507

[2019-01-07 23:51] Transisto opened #1059 ""Dequeue All" button when trying to close. [Feature]"
![image](https://user-images.githubusercontent.com/388716/50800144-fa07c980-12ac-11e9-909e-20aef781dc15.png)

Still important to have a modal to let people know their coin won't get mixed if they close the wallet.

[2019-01-08 01:46] lontivero commented on #1058
Thanks for this. I have a couple of questions to make but first let me tell you why you see that memory drops from time to time even when you do nothing: it is the dotnet garbage collector. Also, I have to say that we already know there are spikes in cpu usage when blocks arrive, we have a solution for that but it is not a priority (we are a small team with lots of things to do).

Something is not

[2019-01-08 04:51] Transisto commented on #1058
tested that wallet with 1.0.0, it didn't open after 15min
on 1.0.2 it seems to have the same exact memory behavior as on 1.0.5

[2019-01-08 08:07] Transisto commented on #1058
0.08 MB

[2019-01-08 12:59] nopara73 commented on #1056
ACK

[2019-01-08 13:01] #1048 closed

[2019-01-08 13:04] nopara73 commented on #1059
Good idea. Maybe we could also try autodequeue it. Most of the time it's possible, except if the user is already in a mix. In that case the manual Dequeue All button would be more beneficial, not sure. If someone wants to tackle this, please contact me to figure the best way out properly.

[2019-01-08 13:07] nopara73 commented on #1058
Must fix. As people using Wasabi longer and longer this'll be a bottle-neck more and more.

[2019-01-08 18:02] lontivero commented on #1058
Sure. What is weird to me is that his wallet is not so big (I've tested it with a 200kb wallet and this is a 80kb wallet). @nopara73 do you see this happening when you use Windows?

[2019-01-08 21:08] Transisto commented on #1058
did your 200k wallet had lots of UXTO relationships? The coins history grow faster when it's mixing.

[2019-01-08 21:30] Transisto opened #1061 "Coins with higher anonymity set should be prioritized from the coin selection [privacy]"
clicking "Select all private" didn't select anything. (not private, or not private enough for who?)

"Select all" currently will select arbitrary UTXO from the top which seems to be the unmixed ones.

First of all, it's a mental let down to mix coins at 49 anon set and be told they're not private.

If there is a numeral metric of privacy might as well have the send function select coins by "most p

[2019-01-08 21:43] cryptagoras opened #1062 "Avalonia unhandled exception - Avalonia.OpenGL.OpenGlException: eglCreateWindowSurface failed"
### General Description
Quite possible it's an Avalonia or system issue, but thought I'd start here first for any pointers.

Recently launching Wasabi crashes immediately or after I click "Load wallet"
_It might be that not enough GPU memory is available._

### How To Reproduce?

1. Launch Wasabi (will probably crash immediately)
2. If not crashed, click "Load wallet" and will crash for sure

###

[2019-01-09 03:35] Transisto opened #1064 "Fee slider goes from High to Low while the opposite is more common. (Edited)"
![image](https://user-images.githubusercontent.com/388716/50875205-4b8b8380-1395-11e9-8ba1-43ec459d5155.png)

Was charged 18sat/byte while mempool has been near empty ~1-2sat for last 12hrs

![image](https://user-images.githubusercontent.com/388716/50875362-f734d380-1395-11e9-8b03-50d36a1359c4.png)
(source: https://jochen-hoenicke.de/queue/#0,24h)

Also I think everyone coming from other wallet is

[2019-01-09 06:03] Transisto commented on #1064
Wow, I just noticed what I chose was fastest speed.

It's the first time I see a slider with going from High to Low

[2019-01-09 10:23] nopara73 commented on #1064
[The Unexpected Effects Of Redesigning The User Experience](https://theuxblog.com/blog/redesigning-user-experience)

The only way to fix this would be to replace the slider with something completely different that's more suitable for the fee selection job. Otherwise we're stuck with this.

[2019-01-09 10:24] nopara73 commented on #1064
Actually I'll keep this open, the issue is well defined.

[2019-01-09 17:06] lontivero commented on #1058
Confirmed on Linux. Hunting this right now.

[2019-01-09 17:41] lontivero commented on #1058
Only a tiny percentage of the classes consumes almost all the memory:

![image](https://user-images.githubusercontent.com/127973/50916905-1164c500-141b-11e9-9492-2d1c64f6b692.png)

These are the classes that are using more memory:

<details><summary>Top 100 offending classes</summary>

[code]
</details>

----

I am going to start reviewing why we have some many `IDicposable` things that are not di

[2019-01-09 18:07] lontivero commented on #1058
Some findings:

* The number of `uint256` instances matches with the number of `FilterModel` instances, what makes sense. This is because we keep the filters in memory after synchronization. We shouldn't keep in in memory because we never rescan.
* The number of `System.IDisposable[]` instances matches the number of `System.Collections.Generic.List`1[[System.IDisposable]]` instances (it looks like

[2019-01-09 18:14] nopara73 commented on #1058
My wallet is about 20% larger in size. Fresh start, no wallet load:

![image](https://user-images.githubusercontent.com/9156103/50919117-3e789e00-1442-11e9-9885-367d6d64de43.png)

After wallet load and letting it standby for a while:

![image](https://user-images.githubusercontent.com/9156103/50919180-623be400-1442-11e9-9b16-cda0ec0f18b3.png)

Enqueued, mixing and letting it standby for a while:

[2019-01-09 18:20] nopara73 commented on #1058
However I only have like 30 UTXOs. I think we can catch it by generating a large number of UTXOs and do some profiling on it.

[2019-01-09 20:12] lontivero commented on #1058
It seems we are leaking elements of the UI. The memory dump tells us that there are:

* 477313 System.IDisposable[] instances (this is not an array with 444,313 element but 444,313 arrays)

I noticed that the bigger increments in the memory consumption occur when a new transaction arrives. That is more relevant that the small increments that happen when switch from Send to CoinJoin and from CoinJo

[2019-01-09 20:57] nopara73 commented on #1058
@lontivero Great work! @molnard @danwalmsley you may be interested about this issue.

[2019-01-09 21:20] nopara73 commented on #1062
It has something to do with GTK as I see it, which our UI backend is currently removing (going one level lower) so that should fix this.

[2019-01-09 21:34] lontivero commented on #1058
If you close the Send tab and reopen it n-times, the memory grows and grows with no limit.

[2019-01-09 23:01] lontivero commented on #1058
The leak is in the `CoinListViewModel`'s `_rootlist` and/or `_coinViewModel` because with enough coins in the list, simply playing with the sorting feature (clicking on the grid's header) leaks memory.

[2019-01-10 12:12] danwalmsley commented on #1058
@lontivero @nopara73 don't understand why we need to modify AvalonStudio.Shell? Controls don't implement IDisposable.

@lontivero did you manage to implement IDisposable on CoinViewModel and did this resolve the problem?

[2019-01-10 13:10] nopara73 commented on #1058
@danwalmsley

@molnard will go through it and dispose everything properly. When we were working on the coinlist back then we got into an issue that we wanted to dispose stuff, but we couldn't because the shell didn't do it in the first place. My memories are not completely clear at this point, but expect some pull requests regarding this in the coming weeks.

[2019-01-10 13:12] nopara73 commented on #1058
Btw disposing only solves the RAM usage, the CPU usage is being worked on right now.

[2019-01-10 13:56] lontivero commented on #1058
I already disposed everything i saw, all the subscribers, every IDisposable, unsubscribe all the event handlers and still leaking. I  need a better tool, will try dotMemory on a Wndows machine.

[2019-01-10 16:06] nopara73 commented on #1030
The trick with coverlet doesn't work anymore https://github.com/zkSNACKs/WalletWasabi/pull/320

altcover still works:

Install `altcover` NuGet to the `WalletWasabi.Tests` project and Coverage Glutters extension to vscode.

[code]

Run vscode and click on "Watch":

![](https://i.imgur.com/W4hXXda.png)

[2019-01-10 21:51] lontivero commented on #1058
I tried this with the same wallet using tagged v1.0 version and if well it is more efficient in terms of memory requirement, it leaks in the same way. The easiest way to see big jumps in memory consumption is closing and reopening the Send and CoinJoin tabs.

Not true.

[2019-01-10 21:58] nopara73 commented on #1058
The CPU usage should be already fixed, at the very least significantly improved in the hardfork branch. I'm having a hard time fixing the tests, but after the tests are ready we can roll it out finally.

[2019-01-11 11:11] nopara73 opened #1071 "Simplify Code Coverage Documentation"
Code coverage should be straightforward now, but I'm in a hurry and have no time to test.
https://github.com/tonerdo/coverlet/issues/72#issuecomment-453450795

`dotnet test /p:AltCover=true /p:AltCoverLcovReport=lcov.info`

https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi.Documentation/CodeCoverage.md

[2019-01-11 20:39] #439 closed

[2019-01-11 21:48] #1071 closed

[2019-01-12 23:45] 4n4n4 opened #1073 "Password input display bug on Windows 7 w/ JP region settings"
### General Description
Running Wasabi v1.1.0 under Windows 7 with Japanese system locale for non-unicode programs causes a display bug when entering characters into the password field. Instead of displaying asterisks for each character, Wasabi displays assorted unicode characters (generally Chinese characters). This bug was not present in older versions of Wasabi. The issue seems limited to just

[2019-01-13 00:38] patrickmichalina commented on #1073
Same thing happens in Mac OSX 10.14.2

[2019-01-13 11:41] molnard commented on #1073
It is related to this issue:
https://github.com/zkSNACKs/WalletWasabi/issues/439

[2019-01-13 15:10] bruceleeroy18 commented on #1073
Same issue on Ubuntu Mate 18.04.

[2019-01-13 22:56] nopara73 opened #1075 "Remove leftover RSA examples"
![image](https://user-images.githubusercontent.com/9156103/51091732-c76b3e80-178e-11e9-8729-72e9b2d3b2c3.png)

[2019-01-14 00:12] nopara73 commented on #1073
![image](https://user-images.githubusercontent.com/9156103/51092603-7876d680-1799-11e9-8bc5-d6927ab28197.png)

[2019-01-14 01:45] bruceleeroy18 commented on #1073
Hahaha!

P.s.(A caps lock warning would be useful.)

[2019-01-14 12:30] nopara73 opened #1077 "Add caps lock warning for passwordbox"

[2019-01-14 12:31] nopara73 commented on #1073
@bruceleeroy18 That's a good and nobrainer idea. Opened an issue for that: https://github.com/zkSNACKs/WalletWasabi/issues/1077

[2019-01-14 18:01] nopara73 opened #1078 "Research deterministic builds for .NET Core"

[2019-01-14 19:09] JamesTwitter opened #1079 "Unable to enter password to withdraw or coinjoin funds."
### General Description
A clear and concise description of what the bug is.

I have a long password. It has worked for me for over a month. I recently upgraded to the newest version of Wasabi and I am no longer able to successfully enter my password.

I can copy/paste the password, but it is too long, and the characters look Chinese. I get an invalid password error.

When I manually type the passw

[2019-01-14 19:56] nopara73 commented on #1079
About how long? We added a 50 character sanity limit. We can increase it.

[2019-01-14 20:40] nopara73 commented on #1079
This fixes it: https://github.com/zkSNACKs/WalletWasabi/commit/6557d151e0353708c30497c4ce4a58a8a31cc7ac

Sorry for the inconvenience. In order to access your funds you must build it from source code and use it from there until next release: https://github.com/zkSNACKs/WalletWasabi#get-the-requirements

It's not hard, but if you got stuck ping us in this issue.

[2019-01-14 20:40] #1079 closed

[2019-01-14 21:23] nopara73 opened #1082 "Anonymity Set 1000 doesn't fit"
![image](https://user-images.githubusercontent.com/9156103/51142016-02cb4300-184b-11e9-9217-260615e4cfcd.png)

[2019-01-14 21:52] compane opened #1083 "Password function v1.1.0"
### General Description
Since v1.1.0 my 54 char password is not working anymore. When entering the password the password field does not expand to the full length of 54 chars. It stops after 51 chars.

Wallet was created with v1.0.2.

### How To Reproduce?

1. Try to CoinJoin and enter a password with more than 51 chars. (Wallet has to be created before v1.1.0).

### Operating System
Windows 8.1

#

[2019-01-14 21:57] nopara73 commented on #1083
Yes, we've added a sanity check for 50 char that I elevated to 100 just today. (@molnard Why was a sanity check needed?)

Sorry for the inconvenience. In order to access your funds you must build it from source code and use it from there until next release: https://github.com/zkSNACKs/WalletWasabi#get-the-requirements

Same issue: https://github.com/zkSNACKs/WalletWasabi/issues/1079

[2019-01-14 21:57] #1083 closed

[2019-01-14 23:08] JamesTwitter commented on #1079
Thank you brother.

I followed the link in the instructions and it works perfectly now. Your instructions are on point. I know nothing about compiling from source and yet I was able to pull it off.

I have a lot of gratitude for you and all you do.

[2019-01-15 12:21] bruceleeroy18 commented on #1073
I can definitely represent the nobrainers. Gave myself a good scare for about 2 minutes before I realized caps lock was on. 
(Thanks again. One more donation coming your way since I finished my coinjoins. Everything went smoothly.)

Sent via the Samsung Galaxy S7 edge, an AT&T 4G LTE smartphone
-------- 原始訊息 --------自： nopara73 <notifications@github.com> 日期： 2019/1/14  07:31  (GMT-05:00) 至： zkSNAC

[2019-01-15 21:53] nopara73 commented on #1073
@bruceleeroy18 Thanks a lot! Btw, I just upvoted your comment on Reddit:)

Anyway, closing this.

[2019-01-15 21:53] #1073 closed

[2019-01-15 21:54] nopara73 commented on #1030
This has been partially done and we already rolled it out a while ago, so it's unnecessary.

[2019-01-15 21:54] #1030 closed

[2019-01-15 21:58] nopara73 commented on #1061
Usage is up, anonymity set is 59, and hopefully we don't have to lower it anymore. I think this addresses this issue. @Transisto If you don't agree, then scream and I'll reopen:)

[2019-01-15 22:01] nopara73 commented on #1064
Are there wallets out there who don't use fee sliders, but rather something else? I'm struggling to come up with ideas here.

[2019-01-15 22:04] nopara73 commented on #1047
We've discussed it. It was a one-timer and it's not that important anyway.

[2019-01-15 22:04] #1047 closed

[2019-01-15 22:06] nopara73 commented on #1029
This is not important and also dangerous to mess with. I'm not against reviewing though if someone wants to get into it, but I close it for now.

[2019-01-15 22:06] #1029 closed

[2019-01-15 22:36] nopara73 opened #1084 "Wasabi icon hard to grab on Mac"
![image](https://user-images.githubusercontent.com/9156103/51214481-5a86ae80-191e-11e9-8f33-e3a19445e7d5.png)

[2019-01-16 14:42] Wallabie123 opened #1086 "Optimize Send Performance"
### General Description
Wallet crashed during send, however the transaction went through. Upon restart the full balance of coins is still shown in wallet. Sent transaction does not appear in wallet history. Attempt to re-send the same coins results in error:

HttpRequestException: Bad Request
txn-mempool-conflict (code18)

### How To Reproduce?

1. Go to '...'
2. Click on '....'
3. Scroll down to

[2019-01-16 15:04] nopara73 commented on #1086
You must wait until it confirms, so correct balance will show up.

Does the wallet crash or it just freeze for a considerable amount of time and you closed it manually?

Further todo to resolve this issue: Improve Send performance.

If I remember well, then this acts like this, because of the coin history, not because of the Send itself (and indeed your Send worked, it's just updating the coin his

[2019-01-16 16:26] Wallabie123 commented on #1086
Not a true crash - longer than usual screen freezing and multiple "program not responding" messages. After a few minutes I manually closed program. You were correct - after transaction was confirmed ~1 hr later the coins disappeared from wallet.

Thanks for your help and insight.

[2019-01-16 16:28] ba1020 opened #1087 "X11 redirect does not work"
start wallet on VM with X11 redirect and get empty window wtf (i use XEN)

[2019-01-16 17:06] nopara73 commented on #1086
The above pull request did not fix the Send performance, which is critical, can result in situations like you describe, so I reopen this issue.

[2019-01-16 17:09] nopara73 commented on #1087
I'm not familiar with the technologies you are referring to. For some context, we're removing the GTK dependency and will directly use X11: https://github.com/zkSNACKs/WalletWasabi/pull/1074

@danwalmsley Can you chime in? I'm a bit clueless on this topic.

[2019-01-17 02:57] Transisto opened #1088 "Password doesn't work anymore and hidden character are Chinese."
![image](https://user-images.githubusercontent.com/388716/51292690-b6623d80-19d9-11e9-9915-c0f1a325f826.png)

This is result of "......................."
 The password was more than 50 character, I tried trimming it and also doesn't work.

[2019-01-17 07:29] nopara73 opened #1089 "OSX quit"
I've got the following report:

I cannot test if this is the correct behaviour, but seems reasonable for me. The annoying software shouldn't exit thingy may should only play when red x is hit.

[2019-01-17 07:43] nopara73 commented on #1088
The Chinese thingy is unrelated. We imposed a 50char limit that turned out to be too restrictive. We increased it to 100 in the master branch. Will that be enough for you?

Related: https://github.com/zkSNACKs/WalletWasabi/issues/1079
https://github.com/zkSNACKs/WalletWasabi/issues/1083

As I described in the other issues, please use it from source until the next release.

Sorry for the inconvenie

[2019-01-17 07:43] #1088 closed

[2019-01-17 07:55] btcpirate opened #1090 "Add 250 Super Anonymity Option"
The current anonymity sets (2, 21, 50) are great and will make chainanalysis very very hard, but for people with a very high privacy need (if someones life depends on beeing able to transact private) with strong state actors as adversaries a much higher anonymity set would be valuable and would help to push privacy even closer to perfection.

Hidding in a crowd of 50 people will be enough for most

[2019-01-17 08:04] nopara73 opened #1091 "Receive Address Appears Twice"
### General Description

### How To Reproduce?

1. Create new wallet.
2. Create receive address.
3. Close the wallet.
4. Reopen the wallet.

### Screenshots

![image](https://user-images.githubusercontent.com/9156103/51303815-c9efc180-1a36-11e9-9f90-9c807aa0fce8.png)

### Operating System

Any.

[2019-01-17 08:07] nopara73 commented on #1091
- [x] `Wallet.json` state is correct.

[2019-01-17 08:11] nopara73 commented on #1091
Seems like we're initializing addresses views twice. Maybe a new method has been written for this in the GUI and the old one wasn't removed.

https://github.com/zkSNACKs/WalletWasabi/blob/6f6fee1f69c70ebe4956dc725fa5a88c5a6d1c50/WalletWasabi.Gui/Controls/WalletExplorer/ReceiveTabViewModel.cs#L108-L127

[2019-01-17 08:17] #1091 closed

[2019-01-17 08:17] nopara73 commented on #1091
Yes, when we changed to predicate search in the `KeyManager`, the old search has still been around. Fixed: https://github.com/zkSNACKs/WalletWasabi/commit/aee90c04b9eb834cd15dd05dcf6cf9958f1e8856

[2019-01-17 08:56] nopara73 commented on #1090
Unfortunately there's a huge difference between 50 reached by one mix and 50 reached by consequent remixes, due to the multiplication-ish effect and there are some other discrepancies. The current anonymity set would've been fairly accurate if my early assumptions would've been true, that people will rarely remix, and rarely merge coins together. Both assumption turned out to be false. The first o

[2019-01-17 11:32] molnard commented on #1082
A.S. == 1000? Wow Dream ON!

[2019-01-17 14:37] #1082 closed

[2019-01-17 17:26] btcpirate commented on #1090
Thx for your answer!

I understand these challenges! Makes sense! Especially that users merge coins after mixing is definitly a problem because they are also reducing the anon set of all others participating in rounds with them.
Maybe there will be one day a easy to use solution to send each utxo to a different public key of another wallet in one go.

Anyway, thx for the thoughts and the feedback

[2019-01-17 17:26] #1090 closed

[2019-01-17 22:37] molnard opened #1094 "Memory leak in view"
### General Description
When a tab is closed and reopened in WasabiWallet the View of the tab is disposed but not released properly. This leads to memory leak. It is true to any Tab items but let's investigate CoinJoinTabView.

### How To Reproduce?

1. Close CoinJoin tab
2. Open CoinJoin tab
3. Memory consumption increased

Publish a runable WasabiWallet for investigation:
`dotnet publish -c Debu

[2019-01-17 23:42] molnard commented on #1089
confirmed

[2019-01-17 23:45] molnard commented on #1089
![kepernyofoto 2019-01-18 - 0 43 42](https://user-images.githubusercontent.com/9844978/51356310-64ddaf80-1aba-11e9-80c4-cdb6ccefd71f.png)

[2019-01-18 14:32] nopara73 commented on #1077
Rolled back.

[2019-01-18 20:17] #1084 closed

[2019-01-19 05:44] bolatovumar commented on #1064
@nopara73 if you don't want to just reverse the slider to avoid users making mistakes there are a couple of options you could pursue instead:

* Use a vertical slider (bottom -- low fee, top -- high fee)
* Use a dropdown with pre-defined values (fast, average, slow) and allow people to enter a custom fee amount if they want to

[2019-01-19 18:40] nopara73 opened #1102 "Improve OSX User Guide"

[2019-01-19 18:54] nopara73 commented on #958
We can delegate this one operation to the cloud through SSH. https://www.quora.com/Is-it-illegal-to-run-OSX-in-a-virtual-machine-I-remember-Apple-saying-their-OS-was-free

[2019-01-19 19:37] nopara73 commented on #1064
I think we could do something with speed meters.

![image](https://user-images.githubusercontent.com/9156103/51431501-e738b180-1c29-11e9-8e10-825fbb125f51.png)

[2019-01-19 19:44] alcafo opened #1103 "Unable to access funds"
Hi

Before writing I've seen similar problems about lenght of passwords.

My password it is 128 characters and even I built it from source I still can not access to my funds.

Is there any way using my password and mnemonic to recover it please?

Thank you

[2019-01-19 20:26] nopara73 opened #1104 "Incorrect History And Coins lists until confirmation"
### General Description

History and coins lists appear incorrectly until confirmation.

### How To Reproduce?

1. Receive money.
2. Send money out (no Max.)
3. Send the remaining change out with Max.
4. Restart wallet.
5. Coins, balance and history is incorrect.

### Screenshots

![image](https://user-images.githubusercontent.com/9156103/51431971-bf008100-1c30-11e9-8c94-b5654b7d3234.png)

![image

[2019-01-19 20:30] #1103 closed

[2019-01-19 20:34] nopara73 commented on #1103
We only elevated the limit from 50 to 100. However I now elevated it to 150, so you should be able to use it. `git pull && git submodule update --init --recursive`

https://github.com/zkSNACKs/WalletWasabi/issues/1079#issuecomment-454153357

@molnard I asked you previously but I didn't get an answer. Why did you put a max limit on the password? It's just because it seemed like a good practice, or

[2019-01-19 20:55] bolatovumar commented on #1064
@nopara73 I don't image the UX around it being good. Imagine having to click on it and then being confused how you drag the slider. This type of UX is pretty common in music applications but very uncommon in other apps.

[2019-01-19 21:08] #938 closed

[2019-01-19 21:12] nopara73 commented on #872
Done. Kind of. In a better way.

[2019-01-19 21:12] #872 closed

[2019-01-19 21:13] nopara73 commented on #533
It doesn't seem to be an issue for anyone. I guess because we have sufficient feedback in terms of green shields and coins and stuff.

[2019-01-19 21:13] #533 closed

[2019-01-19 21:16] nopara73 commented on #837
There wasn't any progress on this, but from the feedback it seems like our 4 debian based testing environment just covers this debian based distro perfectly, too.

[2019-01-19 21:16] #837 closed

[2019-01-19 21:16] nopara73 commented on #796
@lontivero Any update on this?

[2019-01-19 21:18] nopara73 commented on #911
That `IndexDownloader` class doesn't exist anymore.

[2019-01-19 21:18] #911 closed

[2019-01-19 21:20] nopara73 commented on #765
The UX has been refactored since and feedback is now provided. This is obsolate.

[2019-01-19 21:20] #765 closed

[2019-01-19 21:21] nopara73 commented on #764
This is dangerous. We're soon reaching the theoretical tx limits, so this won't be needed in the end.

[2019-01-19 21:21] #764 closed

[2019-01-19 21:36] nopara73 commented on #1064
@bolatovumar @Transisto How about this?

There is another issue that when you click on the actual usd fee it toggles between sat/b, btc fee, % of spent amount and that users don't recognize it.

We could put these things and the estimated confirmation time to three of these speed meters. When the user clicks on the middle, that's a button and toggles to another one, so the user could customize whi

[2019-01-19 21:50] alcafo commented on #1103
thanks nopara73!, updated and working

[2019-01-20 01:39] bolatovumar commented on #1064
@nopara73 I think you forgot to include an image in your post?

[2019-01-20 09:09] alcafo opened #1105 "Send transaction button dissapear depending on password lenght"
Hi

yesterday I've opened an issue because I was unable to introduce the full lenght of my password. You have changed the chararcter limit to 150.

The problem is that when you introudce the password the "send transaction" button dissapears whichs makes me mpossible to spend btc.

In coinjoin method it is fine (you do not see the text in the button any more but you still can click on it).

Thank y

[2019-01-20 09:19] nopara73 commented on #1105
Let me fix it now. Btw, wasn't this working like this previously, too?

[2019-01-20 09:32] alcafo commented on #1105
Since it's clickable like coinjoin that is ok.

Before in the other versions was working, the button was moved in a weird way but was clickable.

Thanks nopara

[2019-01-20 09:37] nopara73 commented on #1105
I fixed it for the Send. You can `git pull`. I'm still trying to fix it for the coinjoin to not ruin the aesthetic.

[2019-01-20 09:45] nopara73 opened #1106 "Long Password ruins the aesthetic of Coinjoin buttons"
Text not visible.

![image](https://user-images.githubusercontent.com/9156103/51437569-5a7d0a80-1ca0-11e9-97fc-38184f7925ba.png)

[2019-01-20 09:46] nopara73 commented on #1105
Anyway, I have other things to work on now, so I opened an issue for the CJ tab aesthetic thingy: https://github.com/zkSNACKs/WalletWasabi/issues/1106

[2019-01-20 09:46] #1105 closed

[2019-01-20 10:03] alcafo commented on #1105
Confirmed, sent transactions works. Even if CJ is aesthetic I still can use it so I am ok with that.

Thanks a lot!

[2019-01-20 22:43] ba1020 commented on #1087
so i start it in a headless VM than  ssh -X VM  and start the wallet, on X11-server i see an empty window

[2019-01-20 23:16] nopara73 commented on #1087
@ba1020 Can you try the above mentioned PR?

Here's how you can build Wasabi from source: https://github.com/zkSNACKs/WalletWasabi#build-from-source-code

After this fetch the PR and check it out:

`git fetch origin pull/1074/head:x11 && git checkout x11 && git submodule update --init --recursive`

Also pinging @danwalmsley. Did you miss this issue?

[2019-01-21 13:02] molnard commented on #1058
- [ ] Disposing viewmodels: https://github.com/zkSNACKs/WalletWasabi/issues/1058
- [ ] Coin history optimalisation: https://github.com/zkSNACKs/WalletWasabi/pull/1076
- [ ] Transaction history optimalisation

[2019-01-21 16:24] lontivero commented on #796
No. I forgot about this ticket. I will request the update now.
![image](https://user-images.githubusercontent.com/127973/51486563-ce421480-1d7f-11e9-9043-b71bb4eaa2e7.png)

[2019-01-21 16:51] nopara73 commented on #796
Awesome, then closing this.

[2019-01-21 16:51] #796 closed

[2019-01-21 18:01] lontivero commented on #796
Anyway, the Tor project team says [here](https://www.torproject.org/docs/debian.html.en):

I did it. I followed the instructions in an Ubuntu 16.04 VM and it installed the latest version:

![image](https://user-images.githubusercontent.com/127973/51491384-f7b56d00-1d8c-11e9-9864-da28c2255239.png)

In summary: **users can always install the latest Tor version** in Ubuntu 16.04 and in any other Linu

[2019-01-21 19:15] molnard opened #1110 "Service monitoring system"
We should monitor the basic functions of the server. Details are here: https://github.com/zkSNACKs/WalletWasabi/issues/1042

[2019-01-21 19:16] molnard commented on #1110
- [ ] Add website and API monitors.
- [ ] Create a slack wasabi maintenance channel and add maintainers (@nopara73, @molnard, @lontivero ).
- [ ] Generate incoming webhook in slack.
- [ ] Create uptimerobot account and add monitors.
- [ ] (later) Create emergency plan what to do on server failure.

[2019-01-22 14:42] #1104 closed

[2019-01-22 14:43] nopara73 commented on #1104
The issue was that unconfirmed transactions were not deserialized in order, because the first seen if mempool time wasn't serialized at all.

[2019-01-22 15:42] danwalmsley commented on #1087
@ba1020 does your system have a GPU?

[2019-01-22 15:45] danwalmsley commented on #1087
@ba1020 we have pushed fixes to that branch that use a GLX for setting up GPU context for rendering and it could have changed this, perhaps you could pull the latest changes and re-test?

[2019-01-22 16:04] nopara73 commented on #1102
Indeed:

![image](https://user-images.githubusercontent.com/9156103/51548073-d70e1580-1e67-11e9-85b3-1fb7d9b11aaf.png)

[2019-01-22 17:13] nopara73 commented on #1102
@molnard I've done it. Permissions are lost when compressing, so comression had to set the permission.

[2019-01-23 07:08] btcpirate opened #1114 "Password Protect Wasabiwallet"
As of now everybody opening the machine wasabi is running on can see transaction history (coin join history) of all wallets.

The easiest way (UX related) to password protect the whole wallet would be to offer a checkbox when setting up the wallet password that says "encrypt wallet" so if a user ticks the box he will be asked at every launch of wasabi to enter this password to gain access and prev

[2019-01-25 03:04] lontivero opened #1117 "Extract Wasabi Coinjoin Transactions to CSV file"
The request is about creating a tool for extracting data from the coinjoin transactions. The idea is to dump raw data in a comma-separated value file in order to make it easy to analyze with a spreadsheet like MS Excel or similar. These are some points that could be good to have:

* Transaction ID
* Block ID / Height
* Time
* Input
* Output

[2019-01-25 10:38] kirillkovalenko opened #1118 "Password control should displays asterisks instead of hieroglyphs"
### General Description

Password control should displays asterisks instead of hieroglyphs. This is standard behavior on all major platforms.

Current behavior looks like a bug and is very confusing even for IT people let alone ordinary users, let alone Japanese / Chinese people who actually can read these symbols.

Relates to #439 and #1073.

Please revert this. It makes no sense.

### How To Rep

[2019-01-25 14:50] #1118 closed

[2019-01-25 14:51] nopara73 commented on #1117
Concept ACK.

[2019-01-25 18:38] nopara73 opened #1119 "Client doesn't sign"
Got this error a couple of times with the current version (master branch).

[code]

[2019-01-25 20:00] kirillkovalenko commented on #1118
@nopara73  Care to elaborate or make first time users somehow be aware of this nice "most important feature"?

[2019-01-26 00:40] nopara73 commented on #1119
If someone wants to work on this, I caught it in debug and I can give you the exact amounts it's failing with, I just don't want to dox myself.

[2019-01-26 01:48] lontivero commented on #1119
Yes please give us the amounts in a private channel.

[2019-01-26 10:06] #1119 closed

[2019-01-26 10:06] nopara73 commented on #1119
https://github.com/zkSNACKs/WalletWasabi/commit/071a15628bb87a865237eeef858d764f4ffe7f49

[2019-01-26 11:09] nopara73 commented on #675
https://github.com/zkSNACKs/WalletWasabi/commit/972d52e62d5025fc3699c8e89933b56fe91272a5

[2019-01-26 11:09] #675 closed

[2019-01-26 19:17] nopara73 commented on #1035
A user needed this feature, so I created a small command line tool that could be a good starting point for this issue in the future: https://github.com/nopara73/WasabiEncryptedSecretTester

[2019-01-26 20:37] nopara73 opened #1120 "Log how long phases are taking to complete"
On the server we could log how long it takes alices to make their move in a CJ phase. With this we could potentionally lower the timeouts (or even spot if we need to increase them.)

[2019-01-26 20:40] nopara73 commented on #1035
@lontivero That's why it'd only be useful for a user and not an attacker. He made a typo, doesn't remember one letter, or which letter it has capitalized or the number he used at the end, etc...

[2019-01-26 21:14] lontivero commented on #1035
Confirmed. In my machine (intel i7) running at 80% all the time it takes 00:07:36 for 1000 attempts (0.456 seconds/attempt). So, following these numbers, and taking into account that a very weak 8 characters password has 3025989069143040 possible combinations.

This means that 1512994534571520 attempts would require in my machine 21877394 years.

Try this:
[code]

Results:

[code]

4000 attempts i

[2019-01-26 21:16] nopara73 opened #1121 "Add Encryption Manager"
Functionality should be the same as in Electum.

![image](https://user-images.githubusercontent.com/9156103/51792798-f3d38180-21b6-11e9-9c1f-ff818499a5a8.png)

It should be accessible from Tools/Encryption Manager.
It should have the same layout as Tools/Wallet Manager.
Right Menu Tabs: Sign Message, Verify Message, Encrypt Message, Decrypt Message

The Sign Message's layout should look somehow li

[2019-01-26 22:39] molnard commented on #1121
related: https://github.com/zkSNACKs/Meta/issues/40

[2019-01-27 12:42] nopara73 commented on #1121
@lontivero Can you implement encrypt-decrypt message to NBitcoin?

![image](https://user-images.githubusercontent.com/9156103/51801075-55d4cb00-2239-11e9-9233-9cac48f6bbf1.png)

@NicolasDorier had this to say about it:

![image](https://user-images.githubusercontent.com/9156103/51801086-713fd600-2239-11e9-979d-ea8e0c5753b1.png)

[2019-01-27 13:44] nopara73 commented on #1121
@lontivero Priority is up to you. @molnard encountered issues with Avalonia with multiline textbox, so the feature will stall for a while.

[2019-01-28 01:54] Transisto opened #1124 "Odd error message, "," as label (low priority)"
![image](https://user-images.githubusercontent.com/388716/51809199-14a9de80-226c-11e9-9281-59aa0c213299.png)

To reproduce:

Open a wallet enter "," as label

[2019-01-28 21:44] lontivero commented on #1121
PR tho NBitcoin is done (but it is still a WIP because I have to test compatibility with electrum) https://github.com/MetacoSA/NBitcoin/compare/master...lontivero:Encrypt-Message

[2019-01-29 05:52] lontivero commented on #1035
I have done some calculations just to know how feasible this idea is based on the following use cases:
* User made a mistake in one and only one letter. This includes all possible combinations of only one error (user forgot what letter capitalized, one typo, one replacement of A by 4, E by 3, L by 1 and other similar)

We assume the user's password contains only English letters (uppercase and lowe

[2019-01-29 12:31] molnard commented on #1059
When the user tries to quit with coins en-queued then the same dialog appears with an addition of "Dequeueing coins..." + Spinner.
If coins successfully dequeued then it will automatically exit the application.

In this way we ensured one click exit.

If there was a problem during the process it will appear in the dialog with the text of exception. With the OK button the user will return to the wa

[2019-01-29 13:04] nopara73 commented on #1059
Concept ACK.

[2019-01-29 13:41] lontivero opened #1128 "Make sure user saved the seed and that wallet is recoverable"
### Is your feature request related to a problem? Please describe.

Yes, the problem is that users forget their passwords or make mistakes during wallet creation.

### Describe the solution you'd like

I think Wasabi should do what Electrum wallet does: user has to reenter the seed manually (no copy/pasted allowed) and password in order to finish the wallet creation process. This is similar to the

[2019-01-29 14:10] nopara73 commented on #1128
I acknowledge this is an issue. I don't like the described solution. I personally find it offensive, it's like the wallet wants to say I'm stupid so it forces me to do unnecessary stuff. I like the described alternative with the modification that we can postphone password confirmation (remove from the wallet creation) so make the user confirm his password after the wallet is generated when mnemoni

[2019-01-29 17:33] danwalmsley commented on #1094
ACK

[2019-01-29 18:41] nopara73 opened #1129 "Add supershield for 1000 anonymity set?"
![image](https://user-images.githubusercontent.com/9156103/51931740-dfcd9100-23fd-11e9-9e99-3809c06766c1.png)

Or different kind of shield? Maybe a remix counter shield? (Just brainstorming.)

[2019-01-29 19:49] nopara73 commented on #726
Removed the priority from here. We did everything that's priority, however we did not do everything here.

[2019-01-29 21:03] nopara73 commented on #1049
`.deb` package is done, will come with the next release. Next package will be most likely `.rpm`.

![image](https://user-images.githubusercontent.com/9156103/51940030-34c6d280-2411-11e9-8d39-a9f75278f8fa.png)

[2019-01-30 18:15] btcGIBUS commented on #1129
Okay, definitely not the most urgent or indispensable feature ...

.. but this came up after discussing how the required Anonymity Set, for a Coin's shield to change color, is in fact customizable thru Config.json

![image](https://user-images.githubusercontent.com/31489836/52000757-25ea2980-24be-11e9-8478-790ffa280838.png)

Also, you can now set the desired shield you wish to obtain, when queuing

[2019-01-31 01:55] Transisto commented on #1129
![image](https://user-images.githubusercontent.com/388716/52025001-c6494980-24d0-11e9-85d2-454572fa0997.png)

Currently 1000 is almost useless there is diminishing return until there is enough people using Wasabi. If there isn't 1000 people actively using Wasabi you'll never actually reach something like 1000 no matter how hard you try.

[2019-01-31 11:02] nopara73 commented on #1129
@Transisto it's not really useless, it's just the concept of anonymity set what's kinda flawed. What really happens here is that the probability that an output was mixed 5 times is 1/(59*59*59*59*59) which would translate to an anonymity set of 714924299. This of course makes no sense, because there aren't that much heads coinjoining, or is it? Imagine a tiny baby hiding behind a big fat guy. It c