[2018-07-07 17:12] nopara73 opened #418 "Fix Linux build bug"
At Linux/OSX build an error comes that is irrelevant but confuses our users. This happens in the Shell project, it should be fixed.

[2018-07-07 20:04] nopara73 opened #419 "Add RegTest support for Gui project, too"

[2018-07-07 20:07] nopara73 opened #420 "Make feerate query not on-demand"
Currently in the client we are querying the fees every time when we make a transaction. We should query fees periodically randomly every 3 to 7 minutes, so when we build a transaction the feerate will be available.

[2018-07-07 20:09] nopara73 opened #421 "Add settings tab"
Currently the only setting should be the network.
This should replace the "I do nothing." menu point.
After the network is changed, the software must restart itself automatically.

[2018-07-07 20:10] nopara73 opened #422 "Show network in the header if it's not mainnet"
Something like this:

![image](https://user-images.githubusercontent.com/9156103/42414301-36683612-822a-11e8-844c-2a378327a7e0.png)

[2018-07-07 20:34] nopara73 opened #423 "Add the server pubkeys to the client config file"
Related: https://github.com/zkSNACKs/WalletWasabi/issues/419

[2018-07-08 01:04] nopara73 commented on #422
I take it.

[2018-07-08 14:20] #419 closed

[2018-07-08 14:20] #423 closed

[2018-07-08 14:20] #422 closed

[2018-07-08 20:59] nopara73 commented on #415
Closing. Nicolas is not happy about it.

[2018-07-08 20:59] #415 closed

[2018-07-09 07:51] nopara73 opened #427 "Add Windows message notifications for transactions"
![image](https://user-images.githubusercontent.com/9156103/42437514-4025d1e2-8355-11e8-849f-c88035650880.png)

[2018-07-09 10:34] nopara73 opened #428 "The Wasabi logo does not look good"
The logo is pixeled, I'm not sure why. This should be fixed.

![image](https://user-images.githubusercontent.com/9156103/42445764-0a98f13c-836c-11e8-9ed9-f165f2f65c0d.png)

[2018-07-09 10:38] nopara73 opened #429 "Header tooltips don't show up properly"
When you take the mouse from the header and you bring it back, the tooltip shows up. However when you take the mouse from for example minimize to exit, the tooltip does not show up.

![image](https://user-images.githubusercontent.com/9156103/42445893-6bc41950-836c-11e8-89a3-c424feebaae9.png)

[2018-07-09 10:40] nopara73 opened #430 "Header tooltips are clipped from screen"
![image](https://user-images.githubusercontent.com/9156103/42446010-c55247c6-836c-11e8-8b3b-aff5d989d1f6.png)

[2018-07-09 10:43] nopara73 opened #431 "Minimize icon is wrong"
It is in the upper position. It should be in the lower one.

Currently it looks like this:

![image](https://user-images.githubusercontent.com/9156103/42446138-281dfff8-836d-11e8-8357-8894f2802f04.png)

It should look like this:

![image](https://user-images.githubusercontent.com/9156103/42446187-45c6a2e4-836d-11e8-828e-cf43a16ad881.png)

[2018-07-09 10:46] nopara73 opened #432 "Restored down maximize icon is wrong"
When the window is restored down, the maximize icon stays the same, but it should change.

Currently it looks like this:

![image](https://user-images.githubusercontent.com/9156103/42446271-9117c0ca-836d-11e8-8ab7-ba0aa9829884.png)

It should look like this:

![image](https://user-images.githubusercontent.com/9156103/42446285-9ed74460-836d-11e8-8277-b094a6e8121f.png)

[2018-07-09 10:47] nopara73 opened #433 "Turn off docking"
Docking is a nice feature to have, but I noticed it is instable. It throws exceptions sometimes, it should be turned off. At least for now.

![image](https://user-images.githubusercontent.com/9156103/42446356-dc00aa98-836d-11e8-83c0-3cf60caa2cf5.png)

[2018-07-09 10:51] nopara73 opened #434 "Change Wallet Manager icon"
I don't like this icon.

![image](https://user-images.githubusercontent.com/9156103/42446507-71d4b668-836e-11e8-8175-87b363739d01.png)

[2018-07-09 10:54] nopara73 opened #435 "Make help/devtools menu item only appear in DEBUG"
Use:

[code]

![image](https://user-images.githubusercontent.com/9156103/42446555-ab825a0a-836e-11e8-998c-c4c39631b84a.png)

[2018-07-09 10:59] nopara73 opened #436 "Add multiwallet support"
The user could be able to load multiple wallets at once.

[2018-07-09 11:02] nopara73 opened #437 "Generate Wallet doesn't scale down properly"
![image](https://user-images.githubusercontent.com/9156103/42446923-f10eb2b6-836f-11e8-9623-f181a501f0a3.png)

[2018-07-09 11:06] nopara73 opened #438 "Title lines too close"
The lines are too close to the text, there should be some gap. EVERYWHERE WHERE WE USE THIS.

![image](https://user-images.githubusercontent.com/9156103/42447109-92cb50e6-8370-11e8-9095-32715b93acb8.png)

[2018-07-09 11:14] nopara73 opened #439 "Change password masking to Japanese/Chinese characters"
Just for the fun of it.

![image](https://user-images.githubusercontent.com/9156103/42447386-9a944dea-8371-11e8-9020-657c9193dbcc.png)

[2018-07-09 11:17] nopara73 opened #440 "Implement more user friendly mnemonic input"
Right now the user just writes in the mnemonic words, separated by a space.
Some other wallets do quite a good job at helping the user with the mnemonics, for example with auto-completition. We should explore and implement a more user friendly way to do this.

![image](https://user-images.githubusercontent.com/9156103/42447444-ce8cccbc-8371-11e8-87bf-b4af959b4485.png)

[2018-07-09 11:19] nopara73 opened #441 "Beautify the wallet generated successfully page"
It's just ugly.

![image](https://user-images.githubusercontent.com/9156103/42447595-4f15da04-8372-11e8-9723-7315dc6ebf85.png)

[2018-07-09 11:20] nopara73 opened #442 "Wallet generated successfully page doesn't scale down."
Before solving this issue, this issue must be solved: https://github.com/zkSNACKs/WalletWasabi/issues/441

Same issue with other pages: https://github.com/zkSNACKs/WalletWasabi/issues/437

![image](https://user-images.githubusercontent.com/9156103/42447624-78294796-8372-11e8-8e3f-7ad5165b926c.png)

[2018-07-09 11:26] nopara73 opened #443 "Make Wallet Manager menu smaller"
We could make the width of the left side smaller, that may even solves the scale down issues: https://github.com/zkSNACKs/WalletWasabi/issues/437 https://github.com/zkSNACKs/WalletWasabi/issues/442

![image](https://user-images.githubusercontent.com/9156103/42447846-295ffd48-8373-11e8-90ca-65ff9da516b1.png)

[2018-07-09 11:29] nopara73 opened #444 "Cache some stuff so loading the wallet would be faster"
Loading the wallet on a weak computer might take a long time.

We should cache some stuff, like the smartcoins so load faster.

Related: https://github.com/zkSNACKs/WalletWasabi/issues/386

[2018-07-09 11:32] nopara73 opened #445 "Make WalletExplorer title look like in AvalonStudio"
Currently it looks like this:

![image](https://user-images.githubusercontent.com/9156103/42448079-e9a0c240-8373-11e8-9d6a-258d0f8cdced.png)

In AvalonStudio it looks like this:

![image](https://user-images.githubusercontent.com/9156103/42448115-0c4a090a-8374-11e8-98db-907f1229712a.png)

[2018-07-09 11:35] nopara73 opened #446 "Add balance next to the wallet name"
![image](https://user-images.githubusercontent.com/9156103/42448220-5f6fc7e6-8374-11e8-8003-f1994039a51b.png)

Like this:

WalletRegTest (234.27182931 BTC)

The balance is the sum of all the unspent `Coins` `Amount` property in the wallet.

[2018-07-09 11:37] nopara73 opened #447 "Remove the pin"
![image](https://user-images.githubusercontent.com/9156103/42448355-d17e6a2c-8374-11e8-9558-4c557a0bca2c.png)

It doesn't work, it's not useful and it's confusing.

[2018-07-09 11:39] nopara73 opened #448 "Remove everything from the right of walletexplorer"
These are functionless buttons.

![image](https://user-images.githubusercontent.com/9156103/42448428-05b8b784-8375-11e8-880a-c81d9ac9ae3b.png)

[2018-07-09 11:41] nopara73 opened #449 "Tab close is not highlighted"
When you hoover your mouse to the close button, it doesn't get highlighted, but just stays the same.

![image](https://user-images.githubusercontent.com/9156103/42448518-4e452b04-8375-11e8-9f63-03954672704a.png)

[2018-07-09 11:43] nopara73 opened #450 "Changing tab is buggy"
Either turn the ability off or fix it.

When you drag the tab and you drop it to the same tab, it acts wierd. For example I was able to make the following situation:

![image](https://user-images.githubusercontent.com/9156103/42448627-b19d992a-8375-11e8-925e-c11a811ca07b.png)

[2018-07-09 11:49] nopara73 opened #451 "Add minimum and maximum width to wallet explorer"
![image](https://user-images.githubusercontent.com/9156103/42448713-0e37b634-8376-11e8-864f-3713461853ee.png)

![image](https://user-images.githubusercontent.com/9156103/42448724-16d7734c-8376-11e8-83a8-50c73387121b.png)

[2018-07-09 13:25] nopara73 commented on #434
https://github.com/zkSNACKs/WalletWasabi/commit/0a2e44e409ec2a36efa1836ca0c8ca30d408a530

[2018-07-09 13:25] #434 closed

[2018-07-09 13:34] nopara73 commented on #418
I cannot do it, none of our virtual machine makes this error.

[2018-07-09 13:37] nopara73 opened #452 "Fix OSX/Linux build warnings"
At Linux/OSX build an warnings comes that is irrelevant but confuses our users. This happens in the Shell project, it should be fixed.

I got the following warnings on OSX. @lontivero @danwalmsley do you get these on your computers?

![image](https://user-images.githubusercontent.com/9156103/42453704-769a85ee-8385-11e8-98e7-2dd86ef693ab.png)

[2018-07-09 13:51] nopara73 commented on #443
I take it.

[2018-07-09 13:51] #443 closed

[2018-07-09 14:29] nopara73 commented on #442
I take it.

[2018-07-09 14:29] nopara73 commented on #441
I take it.

[2018-07-09 18:49] #441 closed

[2018-07-09 18:49] #442 closed

[2018-07-09 18:53] nopara73 commented on #451
I cannot find how to do this. Removing myself from assignees.

[2018-07-09 20:15] #312 closed

[2018-07-09 21:50] danwalmsley commented on #452
@nopara73 cannot reproduce on latest master here:
[code]

[2018-07-10 15:55] nopara73 commented on #37
https://github.com/zkSNACKs/WalletWasabi/commit/e5d1daec7f4c284937a46f7e363f45b47e66e2b8

[2018-07-10 15:55] #37 closed

[2018-07-10 15:55] nopara73 commented on #412
https://github.com/zkSNACKs/WalletWasabi/commit/e5d1daec7f4c284937a46f7e363f45b47e66e2b8

[2018-07-10 15:55] #412 closed

[2018-07-10 15:57] nopara73 opened #454 "Finish the safe UPDATE mechanism on the UI"
@danwalmsley I implemented update notifications and breaking changes update notifications.
Please complete this ToDo list in order to properly show the user when it has to take actions:

https://github.com/zkSNACKs/WalletWasabi/blob/e5d1daec7f4c284937a46f7e363f45b47e66e2b8/WalletWasabi.Gui/ViewModels/StatusBarViewModel.cs#L176-L203

[2018-07-10 18:40] nopara73 opened #456 "Watermarks don't disappear"
When the user starts typing the watermarks don't disappear:

![image](https://user-images.githubusercontent.com/9156103/42530420-02fd5d2e-8479-11e8-97b7-48284be23c72.png)

[2018-07-10 18:44] nopara73 opened #457 "Add gap in Receive tab"
Between label and button and the addresses table.

![image](https://user-images.githubusercontent.com/9156103/42530624-92ac58d0-8479-11e8-9dcd-0fcc7c75ffe7.png)

[2018-07-10 18:47] nopara73 opened #458 "Clicking Receive focus onto the Label"
![image](https://user-images.githubusercontent.com/9156103/42530816-12c15e08-847a-11e8-8b97-74401384760e.png)

[2018-07-10 18:51] nopara73 opened #459 "Users can't create address"
I've seen users trying to click on Generate new address button, but they cannot without writing a label. I think whenever the label is empty it should be red, something like this:

![image](https://user-images.githubusercontent.com/9156103/42530938-7547096a-847a-11e8-8907-09ff2d984d9c.png)

If it's too difficult, there can be other ways to make sure the user understand it must create a label.

[2018-07-10 18:52] nopara73 opened #460 "Add tooltip to generate receive address button"
Something like: You must create a label, it is essential for your privacy, so you can see your transaction history later, blah blah...

[2018-07-10 21:07] davex25 opened #461 "If Mono not installed, Linux build fails with misleading message about missing mscorlib.dll"
Dependency AvalonStudio.Dock seems to require Mono.  Maybe build notes should include a note about this with dotnet core step, or as an additional step for Linux only.

[2018-07-10 21:31] danwalmsley commented on #336
https://github.com/AvaloniaUI/Avalonia/pull/1744

seems to have a workaround that fixes the issue.

[2018-07-10 21:32] nopara73 commented on #461
Thanks. Now it's more clear what's causing this issue: https://github.com/zkSNACKs/WalletWasabi/issues/418

[2018-07-10 21:56] nopara73 opened #462 "Tooltip doesn't show up if the button is disabled"

[2018-07-10 22:13] #336 closed

[2018-07-10 22:26] nopara73 opened #464 "Fix OSX bug: System.MissingMethodException"
![image](https://user-images.githubusercontent.com/9156103/42540999-9e168d84-8498-11e8-8acb-2ed6f77a6a34.png)

[2018-07-10 22:47] nopara73 commented on #460
Done (a bit differently): https://github.com/zkSNACKs/WalletWasabi/commit/57af03b73747e99378e7af63891e76449708e455

[2018-07-10 22:47] #460 closed

[2018-07-10 22:48] nopara73 commented on #462
@danwalmsley I removed this issue from the beta release milestone, because I found a better solution for my problem.

[2018-07-11 13:46] nopara73 commented on #464
May be related: https://github.com/zkSNACKs/WalletWasabi/issues/452

[2018-07-11 15:53] varsnotwars commented on #459
@nopara73, from a UX perspective, red borders are normally used to signify mandatory fields after a user has tried to submit info, to see missed fields in a form for example. Otherwise the user hasn't had a chance to do anything and is already being told something is wrong.

How about something simple like changing the label to read: `Label (required)`, and doing the red border after the user has

[2018-07-11 16:49] nopara73 opened #465 "Make SmartTransaction inherit from Transaction"
In SmartTransaction if we implement `Equals(object x)` when `x` is `Transaction` then we get a self referencing loop exception when we try to serialize the `SmartTransaction`.
I was not able to fix this, so I hacked around.

In other words, try to make this ToDo comment pass:
https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi.Tests/SmartModelTests.cs#L112

[2018-07-11 16:51] nopara73 commented on #459
Good idea.

[2018-07-11 17:04] nopara73 opened #466 "Update submodules"
@danwalmsley I tried to update the Shell submodule today, but it broke the build with a nullreference exception, not sure what's going on there, something simple, please fix it.

Also please update the Dock submodule in the Shell, so we can have the latest changes and so that will resolve this issue: https://github.com/zkSNACKs/WalletWasabi/issues/452
But likely this will resolve this two issue, t

[2018-07-12 12:07] nopara73 commented on #417
Done: https://github.com/zkSNACKs/WalletWasabi/commit/c4a766c66aaab8f2235f7483623a7d6ca504a49f

[2018-07-12 12:07] #417 closed

[2018-07-12 13:01] nopara73 commented on #459
https://github.com/zkSNACKs/WalletWasabi/commit/b1c4ac2f376983fadef8461a136f70ca01971cf1

[2018-07-12 13:01] #459 closed

[2018-07-12 15:07] #457 closed

[2018-07-12 15:49] lontivero commented on #465
See PR: https://github.com/zkSNACKs/WalletWasabi/pull/469

[2018-07-12 17:52] nopara73 commented on #465
@lontivero I renamed this task and assigned to myself. I think this is the clean way of going forward.

[2018-07-12 18:39] danwalmsley commented on #466
has there been any updates to that submodule that could fix it?

[2018-07-12 19:06] lontivero commented on #451
I take it

[2018-07-12 20:07] #456 closed

[2018-07-12 20:09] nopara73 commented on #451
@lontivero, @danwalmsley said it'd be better if we'd make it fixed width. Can you guys sort this out?

[2018-07-12 20:12] nopara73 commented on #466
Yes: https://github.com/wieslawsoltes/Dock/commit/0d9b654b5cd01db8041eb753fece5dcf01a05770

[2018-07-12 20:56] lontivero commented on #451
Implemented in PR `Remove Splitter and set minWidth in WalletExplorer` #472

[2018-07-12 20:59] lontivero commented on #448
I take it

[2018-07-12 21:08] nopara73 opened #474 "Fix our RBF policy"
I misunderstood it. I thought the input and output scripts must stay constants, so now we're refusing RBF transactions those add new inputs/outputs. (It's not a huge problem, because we don't enable sending RBF transactions and incoming confirmed transactions/coins shown will be correct, but it affects how we're showing incoming unconfirmed and non-standardly used RBF transactions.)

https://githu

[2018-07-12 21:11] nopara73 opened #475 "[Feature Idea] Add RBF tab"
Would be fun to have a tool that enables users to play around with many different ways they can use RBF. https://github.com/bitcoin/bips/blob/master/bip-0125.mediawiki

[2018-07-12 21:13] nopara73 opened #476 "[Feature Idea] Provide VPN service (Add VPN tab)"
In some areas Tor is unreliable (China). It'd be nice if we'd provide a VPN service so they'd be able to use our wallet without relying on external VPNs.

[2018-07-12 21:15] nopara73 opened #477 "[Feature Idea] Merge avoidance and BIP47"
With BIP47 payment codes we could facilitate merge avoidance in our wallet: https://github.com/bitcoin/bips/blob/master/bip-0047.mediawiki

[2018-07-12 21:16] nopara73 opened #478 "[Feature Idea] Add private messaging"
A basic private messaging app built into the wallet would be also a good addition. BIP47 payment codes could be used for identifying users: https://github.com/zkSNACKs/WalletWasabi/issues/477

[2018-07-12 21:17] nopara73 opened #479 "[Feature Idea] Implement PGP client"
We could add a PGP client to our wallet, the current PGP softwares are quite clunky to use.

[2018-07-12 21:30] #451 closed

[2018-07-12 21:30] danwalmsley commented on #451
@lontivero reminder to do MinWidth  in WalletExplorerView instead of this style.

[2018-07-12 21:31] danwalmsley commented on #449
Ill take this one

[2018-07-12 21:39] lontivero commented on #447
I take it.

[2018-07-12 22:28] nopara73 opened #481 "Status Bar: Missing Filters/Missing Blocks"
When Missing Filters = 0 or Missing Blocks = 0, then these should not be present on the status bar.

![image](https://user-images.githubusercontent.com/9156103/42662929-612cfee6-862b-11e8-9732-2a6a190ad044.png)

[2018-07-12 22:48] #458 closed

[2018-07-12 23:10] nopara73 commented on #450
Fixed when docking was disabled.

[2018-07-12 23:10] #450 closed

[2018-07-13 06:07] varsnotwars commented on #481
I'll take this.

[2018-07-13 06:20] varsnotwars commented on #481
@nopara73, after playing around with this I'm not sure hiding these values looks good.

If the values are not visible and the spaces where the values previously were are kept, then there will be odd spacing. And if the spacing is removed, then the values will jump back and forth when the filters/blocks go out of sync.

This is how it looks at the moment hiding the values with the `IsVisible` attri

[2018-07-13 07:50] nopara73 commented on #481
How about placing these to the left?

[2018-07-13 08:02] varsnotwars commented on #481
@nopara73, Before the network? I think the network will look a little out of place because it has no label. Maybe we should add a label: `Network: TestNet`, or leave the network first as is and put the filters/blocks value to the far right after Mempool.

[2018-07-13 08:04] varsnotwars commented on #481
@nopara73, actually if we put them to the far right then there will be a space at the end.

[2018-07-13 08:16] nopara73 commented on #481
Note, there is no Network label on the mainnet, so it should be fine. Or better put the network to the right?

But this results the same your original problem was:

[2018-07-13 08:18] nopara73 commented on #481
Actually the network should be up in the header, as traditionally Bitcoin clients do: `"Wallet Name - Network (if not mainnet)"`. I just wasn't able to do that. So that's even a better solution if you can figure that out.

[2018-07-13 08:46] varsnotwars commented on #481
@nopara73, I figured out how to get the network in the title bar so I'll move the network there. And then move the filters/blocks to the far left.

[2018-07-13 09:04] varsnotwars commented on #446
I'll take this.

[2018-07-13 11:47] varsnotwars opened #485 "TestNet: System.InvalidOperationException: 'Sequence contains no matching element'"
After attempting to spend an uncofirmed coin, a `System.InvalidOperationException` is thrown on line `106` of `HistoryTabViewModel.cs` once the transactions are confirmed.

Steps to reproduce on the TestNet:

1. Create a transaction sending yourself a coin and broadcast it to the network.
2. After the transaction has been successfully broadcasted, create another transaction sending yourself the  u

[2018-07-13 12:13] #446 closed

[2018-07-13 15:09] nopara73 opened #9266 "Integrate Lightning Network to Wasabi"

[2018-07-13 15:10] nopara73 opened #9268 "Open Lightning Channels with WabiSabi in Wasabi"

[2018-07-13 15:13] nopara73 opened #9270 "Integrate JoinMarket instead of sending a normal transaction in Wasabi"

[2018-07-13 15:15] nopara73 opened #9272 "When rounds become fast implement mix to others instead of mix to self in Wasabi"
https://github.com/nopara73/ZeroLink/issues/75

[2018-07-13 15:17] nopara73 opened #9276 "Support Wasabi on Android and iOS"

[2018-07-13 15:28] nopara73 opened #486 "Add Sweep Private Key Tab"

[2018-07-13 19:51] davex25 opened #487 "C# 7.3 omnisharp compile errors in VS code"
On my system, VS code seems to use a version of omnisharp that doesn't like code like this:

[code]

Workaround was to create a settings.json file in my .vscode subfolder containing this:

[code]

Could version control this file?  Either way, it appears this will eventually be unnecessary, but I wanted to make a note in case anyone else runs into this.  See https://github.com/OmniSharp/omnisharp-r

[2018-07-13 21:43] nopara73 commented on #487
Yes, please, would you like to make a PR?
@lontivero you are developing with VSCode on Linux, how come you didn't encounter this issue?

[2018-07-14 13:51] danwalmsley commented on #487
same issue with VS for Mac

[2018-07-14 13:53] danwalmsley commented on #466
ah ok, im working with him to get dock to a stable releasable version with the next week. we can update then

[2018-07-14 18:10] varsnotwars commented on #485
@nopara73, I've updated the description with steps.

[2018-07-14 18:26] nopara73 opened #489 "Fix NBitcoin Money.Parse bug"
`Money.Parse("0.00000000000001")` will be `0`. This should throw an exception.

[2018-07-14 19:01] nopara73 opened #490 "Incorrect History label"
If you send a transaction, then its label doesn't get serialized and the label in the history will be inherited from the label of the change coin.

[2018-07-14 19:05] nopara73 commented on #485
You cannot do this from the GUI, because the mempool transactions are serialized to the disk. Although, maybe it doesn't work properly in the RegTest. @varsnotwars are you doing it on RegTest? If so, then we're good and I remove this issue from the Beta Release tag.

[2018-07-14 21:18] nopara73 opened #493 "Add Address Validation"
Implement the ToDo comments:

https://github.com/zkSNACKs/WalletWasabi/blob/39c67d9490e6e36c972268253344c408d29501ef/WalletWasabi.Gui/Controls/WalletExplorer/SendTabViewModel.cs#L54-L70

[2018-07-14 21:19] davex25 commented on #487
I made a PR for this.

[2018-07-14 21:20] nopara73 commented on #487
https://github.com/zkSNACKs/WalletWasabi/pull/492

[2018-07-14 21:20] #487 closed

[2018-07-14 21:59] nopara73 opened #494 "When update available change to cursor to Hand"
When hovering to the status bar, the cursor should change to hand, because it takes you to the update page.

[2018-07-14 21:59] nopara73 commented on #454
https://github.com/zkSNACKs/WalletWasabi/pull/491

[2018-07-14 21:59] #454 closed

[2018-07-15 05:06] varsnotwars commented on #494
I'll take this.

[2018-07-15 10:55] nopara73 commented on #494
https://github.com/zkSNACKs/WalletWasabi/pull/495

[2018-07-15 10:55] #494 closed

[2018-07-15 13:30] nopara73 opened #496 "Utilize copypaste malware defense"
@jlopp you mentioned in you Building Bitcoin talk that you are utilizing a copypaste malware blacklist to prevent users from falling for that. Can you point me to the blacklist? I am unable to find it.

[2018-07-15 13:48] jlopp commented on #496
We had to compile it from a variety of sources. Looks like there was a pretty big list found recently that may have over 2M addresses https://techcrunch.com/2018/07/03/new-malware-highjacks-your-windows-clipboard-to-change-crypto-addresses/

And that's just for one of the malware payloads.

here's another list of addresses from a different trojan: https://securelist.com/tales-from-the-blockchain/8

[2018-07-15 15:19] nopara73 commented on #496
Thanks, however I think this is a serious performance hit. How do you solve that?

I drop here two ideas for us:

- Maybe Golomb Rice filters can help @lontivero ? But then there are false positives :/

- Or just add an "isblacklisted" query to our backend, our server is fast, but is it that fast? Or maybe we could combine the two ideas.

[2018-07-15 15:54] varsnotwars commented on #485
@nopara73, ok so after spending a bit of time trying to recreate this it seems it happens when you spend an uncofirmed coin from a transaction that's mined in the same block as the previous transaction that created the unconfirmed coin. This is happening on the TestNet, and I've updated the issue title/description

[2018-07-15 17:55] nopara73 commented on #485
@varsnotwars I could not reproduce the bug (I only tried it in RegTest and always used "Max") however I catched another bug, which I fixed and which may be related. Could you try to reproduce it again?

If the error still persists I'll try to reproduce it on testnet and without the "Max" toggle, maybe those were the reasons why it didn't come out.

[2018-07-15 18:42] nopara73 opened #497 "Expander is buggy"
![image](https://user-images.githubusercontent.com/9156103/42737029-2c07e544-8867-11e8-87cd-eeee111196f6.png)

[2018-07-15 18:46] nopara73 commented on #497
This issue happens also on Coin list, where it is much more painful, because that is showing crucial information.

[2018-07-15 21:10] danwalmsley commented on #497
@nopara73 I can't tell what the issue is?

[2018-07-15 21:14] danwalmsley commented on #493
awaiting advice on correct way to implement validation with some avalonia guys.

[2018-07-15 21:17] nopara73 commented on #497
@danwalmsley In the screenshot above the QR code cannot be seen, because I think the expander doesn't work well together with the scrollbar.

[2018-07-15 21:39] #448 closed

[2018-07-15 23:44] nopara73 opened #498 "Use shield icons to illustrate Privacy in the Coins list"
@danwalmsley I couldn't implement it myself, so I pass it to you.

I'd like to have these 4 icons:

![image](https://user-images.githubusercontent.com/9156103/42739567-6d8f0cca-8891-11e8-8f3d-257a6b97d238.png)

Here:

![image](https://user-images.githubusercontent.com/9156103/42739476-d75b9274-888f-11e8-9c8f-21ea358c59d2.png)

The shields should be shown on anonymity set as follows:

[code]

Note:

[2018-07-16 09:50] varsnotwars opened #499 "TestNet: Incorrect wallet balance while waiting for most recent transaction to be confirmed"
After sending a coin to yourself, your balance will display the sum of the spent and unspent coins.

![wallet balance](https://user-images.githubusercontent.com/20197359/42752110-1e4e24f8-8917-11e8-886b-9532bb714ffa.PNG)

[2018-07-16 10:05] varsnotwars commented on #485
@nopara73, Just checked with the most recent version of master and this is still occurring. I'm also using MAX so that should be fine.

[2018-07-16 11:11] nopara73 commented on #485
It's just not happening on my computer. So I hacked it around. Please try it now.

[2018-07-16 11:17] nopara73 commented on #485
Ops, I broke the build with that, here's the good one: https://github.com/zkSNACKs/WalletWasabi/commit/1ca998cc0f5246706fe2e5ce5f120b4e555407ee

[2018-07-16 13:00] lontivero commented on #498
I take it.

[2018-07-16 16:14] varsnotwars commented on #485
Yep, that fixed it. Closing this issue.

[2018-07-16 16:14] #485 closed

[2018-07-16 16:19] lontivero commented on #487
Because I was using my own `.vscode/settings.json`, `.vscode/tasks.json` and `.vscode/launch.json` files which I took care of ignore in the `.gitignore` file because those files are tool specific and IMO shouldn't be part of the project. Otherwise, someone could also expect to be able to upload his JetBrains Rider's specific files (it is just an example).

[2018-07-16 17:48] lontivero commented on #447
@danwalmsley I thought I could do t just hidding the button with a style as I did before but in this case the problem is I cannot find a selector that allows me to apply the stayle to that specific button.

Is there any way to say: "select the last button only"?

The button is in the /WalletWasabi/WalletWasabi.Dependencies/AvalonStudio.Shell/Dock/src/Dock.Avalonia/Controls/DocumentControl.xaml
[co

[2018-07-16 18:37] #499 closed

[2018-07-16 19:15] lontivero commented on #498
@danwalmsley could you take a look at my branch https://github.com/lontivero/WalletWasabi/tree/issue498? Everything works okay if I don't set Grid.Column otherwise the shield icons just don't render and I don't know why.

[2018-07-16 19:48] danwalmsley opened #501 "[Mac] Copy is with CTRL + C but Mac Users will prefer CMD + C"

[2018-07-16 19:49] danwalmsley opened #502 "[Mac] Every time you enter a text key, you get an error sound. Very annoying."

[2018-07-16 19:54] nopara73 commented on #501
Note, context menu must be also implemented for the Beta.

[2018-07-16 20:12] davex25 commented on #487
Agree about tool-specific auto-generated files, which I think tasks.json and launch.json were (I'm a vscode noob).  But tracking down the cause of the omnisharp thing took me quite awhile, so wanted to save time for others somehow.

[2018-07-16 20:58] danwalmsley opened #503 "QR codes should be generated asynchronously and only when item is expanded"
1) Bind to IsExpanded property.
2) When Expanded is set to true, trigger qr generation asynchronously.
3) When async task completes post to ui thread the result, setting the QR property.
4) add a QR code loading placeholder of same size.

[2018-07-16 20:58] danwalmsley commented on #503
This makes loading the ReceiveTab very slow.

[2018-07-16 21:54] #493 closed

[2018-07-16 22:00] nopara73 commented on #503
@lontivero I tested it, this is really bad. I'm wondering if we should remove QR codes altogether for the Beta.

[2018-07-16 22:40] nopara73 commented on #497
Fixed.

[2018-07-16 22:40] #497 closed

[2018-07-16 22:42] nopara73 opened #509 "Fix incorrect Receive ordering"
When all the addresses are generated the new Receive will overwrite the newest and not the oldest one.

[2018-07-16 22:44] nopara73 opened #510 "Beautify Validation"
Can you do this by yourself? I don't think you need my micromanagement here.

![image](https://user-images.githubusercontent.com/9156103/42787366-10b1d318-8952-11e8-9fec-4663ae79aa0d.png)

[2018-07-17 09:57] nopara73 opened #511 "Force Mix Daily, Regardless Of AnonymitySet Until 1.0 Release"
This way, we'll have better feedback.

[2018-07-17 10:59] danwalmsley commented on #503
I don't think it would take much work to fix it

[2018-07-17 11:00] #481 closed

[2018-07-17 18:47] danwalmsley commented on #311
https://github.com/AvaloniaUI/Avalonia/pull/1757

[2018-07-17 21:31] danwalmsley commented on #410
I think it can be

[2018-07-17 21:32] danwalmsley commented on #428
This depends on https://github.com/AvaloniaUI/Avalonia/issues/1752

[2018-07-17 23:22] #510 closed

[2018-07-17 23:27] #447 closed

[2018-07-17 23:28] #431 closed

[2018-07-17 23:37] nopara73 commented on #452
Fixed here: https://github.com/zkSNACKs/WalletWasabi/pull/513

[2018-07-17 23:39] nopara73 commented on #461
@davex25 @lontivero Can you check if the latest update solves the issue?

For reminder now you need full submodule update:
[code]

[2018-07-18 01:02] #418 closed

[2018-07-18 11:46] nopara73 opened #515 "Button Next to textbox is too high"
![image](https://user-images.githubusercontent.com/9156103/42879349-2fc62a24-8a88-11e8-8c21-39d57d01d8d6.png)

Other occurences:

![image](https://user-images.githubusercontent.com/9156103/42879439-859cb6b6-8a88-11e8-837c-765ea837faab.png)

[2018-07-18 19:47] #311 closed

[2018-07-18 19:48] nopara73 opened #518 "Add Copy And Paste icons"
![image](https://user-images.githubusercontent.com/9156103/42904114-db72ee1e-8acb-11e8-8b2c-0696b3d6a417.png)

[2018-07-18 19:50] nopara73 opened #519 "Cannot copy the address with context menu"
![image](https://user-images.githubusercontent.com/9156103/42904191-2573dd66-8acc-11e8-9d81-054c25a0d81a.png)

[2018-07-18 19:51] nopara73 opened #520 "Cannot copy coin transaction id in any way"
![image](https://user-images.githubusercontent.com/9156103/42904250-5126ca22-8acc-11e8-8187-e9c835e66a36.png)

[2018-07-18 19:54] nopara73 opened #521 "Readonly textbox can still paste"
It shouldn't.

![image](https://user-images.githubusercontent.com/9156103/42904364-b95241b2-8acc-11e8-82a2-82d79af285a0.png)

[2018-07-18 20:00] #410 closed

[2018-07-18 20:02] danwalmsley commented on #521
Hmm this is because it creates the menu when the textbox is first created.

Ok I can make a fix for this.

[2018-07-18 20:19] nopara73 commented on #498
https://github.com/zkSNACKs/WalletWasabi/pull/523

[2018-07-18 20:19] #498 closed

[2018-07-18 20:29] #515 closed

[2018-07-18 20:38] lontivero commented on #520
I am working on this one. The solution seems to be change the TextBlock by a TextBox control.

[2018-07-18 21:10] #503 closed

[2018-07-18 21:14] #520 closed

[2018-07-18 21:15] lontivero commented on #519
I take this one.

[2018-07-18 21:19] varsnotwars commented on #518
I'll take this.

[2018-07-19 07:00] #521 closed

[2018-07-19 08:54] #518 closed

[2018-07-19 09:44] nopara73 opened #530 "Number of Peers Registered bug"
When you queue an input, it automatically tries to register that input to the mix. The feedback here is just a guess. It guesses to increase the number of registered peers, then when the first status query returns, the number of peers will decrease, then only the next status query will show our peer to be registered.

[2018-07-19 09:46] nopara73 opened #531 "Make sure CJ progress is shown in a better way"
Right now the Phase and Round are shown like this:

![image](https://user-images.githubusercontent.com/9156103/42935201-f2dc73f2-8b40-11e8-971a-76e58e32e058.png)

Not quite sure how, but it should be improved.

[2018-07-19 09:47] nopara73 opened #532 "Add Scrollbar to CoinJoin Status"
Because it's clipped.

![image](https://user-images.githubusercontent.com/9156103/42935262-1f7872bc-8b41-11e8-8691-1ab06e700f4c.png)

[2018-07-19 09:54] nopara73 opened #533 "How to show when a mix is done?"
Maybe insert the top 3 items of the History tab to the bottom of the CoinJoin tab?

[2018-07-19 10:16] nopara73 opened #534 "Prevent closing"
If anything is being mixed at the moment, prevent closing and suggest to dequeue the coins from the mix before the user would close the app.

[2018-07-19 11:42] nopara73 commented on #511
Done.

[2018-07-19 11:42] #511 closed

[2018-07-19 15:20] #532 closed

[2018-07-19 17:55] lontivero opened #539 "Fix Alice not found exception"
During the demo someone experienced an 'Alice not found exception'. We should check under what circumstances that problem appears.

[2018-07-19 21:34] nopara73 opened #541 "Show to the user that he can add max 7 inputs to the mix"
It's not yet currently shown.

[2018-07-19 21:41] nopara73 commented on #539
His name in the chat was "UpsideDownBucket" I wonder if we could get in touch with him.

What happened here I think is that Alice must confirm the connection periodically, otherwise Alice will be purged from registration. But I think for some reason the software didn't confirm the connection in time, and so his Alice got purged?

[2018-07-20 11:44] nopara73 opened #542 "Fix Arch Linux `dotnet restore` Warnings"
I've seen `dotnet restore` warnings on this Linux distro. Not sure if we can reproduce them, because there were many irregularities. But worth a shot figuring out what's going on with that.

[code]

[2018-07-20 13:38] nopara73 commented on #509
https://github.com/zkSNACKs/WalletWasabi/commit/d748b751e391ac9974371f9a34b9875d157e6ff2

[2018-07-20 13:38] #509 closed

[2018-07-20 15:57] nopara73 commented on #219
Done for the mainnet: https://github.com/zkSNACKs/WalletWasabi/commit/8996108dc5f41da8182c02470bb9b2b16c6dfda6

[2018-07-20 15:57] #219 closed

[2018-07-20 21:14] varsnotwars commented on #541
I'll take this.

[2018-07-20 23:03] lontivero commented on #489
The fix was merged into NBitcoin. This issue can be closed.

[2018-07-20 23:35] lontivero opened #545 "Improve initial filters download performance"
# Problem

The initial filters download time requires several minutes, what provides a no so good experience for those that use the wallet for first time.

The problem seems to be in the Wallet code because the we can download 1000 filters by command line in just a few seconds, while the wallet requires several seconds for doing the same. In my local development environment with a 1.16Mbps connect

[2018-07-21 00:23] lontivero commented on #545
### Update 1:
Filters download fast. Below we can see the time consumed to download some filter (in milliseconds)
[code]

[2018-07-21 16:01] nopara73 commented on #545
1. I think we can receive compressed the filters. I believe I implemented it back in the day for QBitNinja. We must check that out.
2. Mainnet index file is on github and comes with the "binary" so there'll be no issues for downloading on the mainnet.
3. "Just for the record: 10000 filters are downloaded in 7 seconds" There are multiple problems with this: (1) the user don't get feedback that ofte

[2018-07-21 16:02] #489 closed

[2018-07-21 23:53] nopara73 commented on #545
You were right about Update 3. That wasn't the intended behavior. Fixed here: https://github.com/zkSNACKs/WalletWasabi/pull/546

[2018-07-22 00:00] nopara73 commented on #545
This topic could be divided into multiple sections (or maybe even issues.)

- [x] `requestInterval` bug
- [ ] index compression enhanchment
- [ ] filters streaming enhanchment
- [ ] speed difference of `torsocks curl` command vs in-built Tor question

[2018-07-22 00:02] lontivero commented on #545
Filter file cannot be compressed much because the are already compressed. What we could do is to use the binary representation instead of the hex representation. Doing that we could reduce the size to 1/2 current size. That has to improve the download performance significantly.

Great. We should improve the downloading performance anyway, starting by reducing the requestInterval as I show in the P

[2018-07-22 00:52] nopara73 commented on #545
The lock is on the client side, not the server.

[2018-07-22 00:57] nopara73 commented on #545
Did you miss this message of mine? https://github.com/zkSNACKs/WalletWasabi/issues/545#issuecomment-406830701

[2018-07-22 06:41] lontivero commented on #542
I will try to reproduce this.

[2018-07-22 06:47] lontivero commented on #519
@nopara73 you merged and reverted the PR https://github.com/zkSNACKs/WalletWasabi/pull/538 because it didn't have the icon and another reasons that I don't remember. Could you tell me what else was missing, please?

[2018-07-22 07:37] nopara73 commented on #519
https://github.com/zkSNACKs/WalletWasabi/pull/536#issuecomment-406320340

[2018-07-22 07:38] nopara73 commented on #542
Virtual Machine?

[2018-07-22 07:41] #438 closed

[2018-07-22 13:56] lontivero commented on #542
Yes

[2018-07-24 06:04] lontivero commented on #542
I couldn't install it. I Will try tomorrow again.
![image](https://user-images.githubusercontent.com/127973/43119775-290f4700-8eee-11e8-9cc2-9803c8516f17.png)

[2018-07-24 17:30] #519 closed

[2018-07-24 20:10] lontivero commented on #542
No way to install this OS. This is my fifth attempt and I always get a different error message. I give up.

![image](https://user-images.githubusercontent.com/127973/43163342-39a53874-8f64-11e8-8f44-dd2c063d27f0.png)

[2018-07-25 04:53] FEskandariGM opened #549 "running walletwasabi in testnet"
Hi . I installed Linux version of Wallet Wasabi. how can I use this wallet in the test net?
Is this code only for the client side? Is the coordinator's code not open source? how can I run my own coordinator?

[2018-07-25 06:39] lontivero commented on #545
## Summary
The built-in tor performance seems to be pretty good:.
* C# test required  **83044 milliseconds** for downloading 30x1000 filters
* Bash script required **78681 milliseconds** for downloading 30x1000 filters

-----

## Wasabi built-in Tor client
**The Test**
[code]

**The Result**
[code]

## The TorSocks test
**The Script**
[code]

**The Result**
[code]

[2018-07-25 07:11] nopara73 commented on #549
Hi there,

Configuration, wallet and similar files can be found in `%appdata%\WalletWasabi` folder on Windows and in `~/.walletwasabi` folder on Linux/OSX. You must change the Network in the config file to TestNet.

The coordinator is open source: https://github.com/zkSNACKs/WalletWasabi/tree/master/WalletWasabi.Backend

[2018-07-25 07:11] #549 closed

[2018-07-25 07:14] nopara73 commented on #545
I see. That answers all 4 of my issues above.

[2018-07-25 07:14] #545 closed

[2018-07-25 20:49] danwalmsley commented on #534
awaiting this avalonia fix to merge
https://github.com/AvaloniaUI/Avalonia/pull/1784

[2018-07-25 22:55] #534 closed

[2018-07-25 23:04] nopara73 opened #551 "File/Exit freezes"
If you queue coins, File/Exit freezes.

[2018-07-25 23:30] danwalmsley commented on #551
seems we shouldnt use Application.Exit here.

[2018-07-26 01:56] okdoomfist opened #552 "Send labels don't transfer to history"
(Up to date) I labeled 2 tx when I sent them, but neither label transferred to the history page. This may be expected behaviour.

[2018-07-26 01:58] okdoomfist opened #553 "Fees are not known"
It would be better for the max button to work like Electrum's max button. Shows the actual amount. Moving the slider shows the actual fee that will be used. I want to know how many sat/byte I'm spending on this wallet. The time to confirm displayed is irrelevant without the cost of the time.

While tx are cheap this may not be a problem. But if tx are expensive, this is a huge, huge flaw. Tx amoun

[2018-07-26 05:27] FEskandariGM opened #555 "Can I run WalletWasabi.Backend on ubuntu 16.04?"
Hi,
according to installation document  (https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi.Documentation/BackendDeployment.md ), the requirement for runnung walletwasabi.backend is insatlling ubuntu 18.04. but I work on ubuntu 16.04 and bitcoind and Tor are installed on it. Can I run WallletWasabi.backend on ubuntu 16.04?

[2018-07-26 06:06] lontivero commented on #555
Yes, you can run the backend on ubuntu 16.04.

[2018-07-26 06:50] #551 closed

[2018-07-26 06:55] nopara73 commented on #555
![image](https://user-images.githubusercontent.com/9156103/43246318-33e4bb4e-90a9-11e8-9457-a2afb5322f08.png)

[2018-07-26 06:55] #555 closed

[2018-07-26 07:06] nopara73 commented on #553
Concept ACK. This other thing is needed for this: https://github.com/zkSNACKs/WalletWasabi/issues/420

[2018-07-26 07:08] nopara73 commented on #552
Yes, thank you, it's a Beta release issue: https://github.com/zkSNACKs/WalletWasabi/issues/420

[2018-07-26 11:56] nopara73 commented on #552
I replaced the labels in History with the transaciton ids. The problem is what ultimately matters are payments, not transactions. Labels only matter for coins, I just wanted to force the labeling system into transactions. Maybe in the future I'll have a better stab at it.

8c67a08e7a06441f909691f25ced377f066f9598

[2018-07-26 11:56] #552 closed

[2018-07-26 11:56] nopara73 commented on #490
I replaced the labels in History with the transaciton ids. The problem is what ultimately matters are payments, not transactions. Labels only matter for coins, I just wanted to force the labeling system into transactions. Maybe in the future I'll have a better stab at it.

8c67a08e7a06441f909691f25ced377f066f9598

[2018-07-26 11:56] #490 closed

[2018-07-26 11:57] nopara73 commented on #449
@danwalmsley Not succeeding? I place it to the 1.0 release then.

[2018-07-26 11:58] nopara73 commented on #432
@lontivero @danwalmsley Not succeeding? I put it under the 1.0 release then.

[2018-07-26 20:08] lontivero commented on #420
Q: what feeTarget/s should we query periodically?

[2018-07-26 23:47] nopara73 commented on #420
@lontivero A lot. All of it? It's an imporant privacy question, I'll remove you from the assignees, because I had quite a headache back then about this and not sure I came to the correct conclusion: https://github.com/nopara73/ZeroLink/#fee-rate-estimation

[2018-07-27 10:49] #435 closed

[2018-07-27 12:56] lontivero opened #558 "Indexes file is broken after closing the wallet"
I open and close the wallet many many times as part of the development process and some times I can see the indexes file is broken, forcing the wallet to download lots of filters again.

It is not easy to reproduce but doing the following several times should be enough.

1. Open the wallet
2. Wait for all the filters to be downloaded
3. Close the wallet
4. Open the wallet
5. If there are lots of m

[2018-07-27 17:04] lontivero commented on #414
Just for the record: I can implement this Schnorr blind signature construction as described in the Schnorr paper [pdf](https://www.math.uni-frankfurt.de/~dmst/research/papers/schnorr.blind_sigs_attack.2001.pdf). However I don't think that's how we should implement it for bitcoin.

First, at the moment bitcoin uses elliptic curve cryptography. It means that private keys are random 256bit numbers an

[2018-07-27 18:07] lontivero commented on #414
Ohh wait a minute.

### Big surprise
Watching the Jonas presentation I realized that what we had implemented exactly what he described in his presentation. Take a look:

![image](https://user-images.githubusercontent.com/127973/43336810-9e3c51c8-91a8-11e8-86ae-4550c4642ace.png)

His `alpha` and `beta` random numbers are called `_v` and `_w` in NBitcoin code. Then, `R' = R + alpha*G + beta * P` is

[2018-07-27 19:23] lontivero commented on #414
I don't know any other blind signature constructions that can be built with ECC. I mean, this is the only alternative that I found to RSA blind signatures (probably there are many others, i don't know)

Probably, the idea is adding as few new cryptographic constructions as possible. So, given Schnorr signatures are going to be introduced in bitcoin, it could be good to use the same for blind signa

[2018-07-27 20:37] nopara73 commented on #414
This is a good reason, but we have RSA blinding tested, for over a year now, so I'd say let's not touch that until a huge update is due.

I imagine 3 big breaking update somewhere the next year or so:
1. Change old Tor addresses to v2.
2. Change RSA to Schnorr/ECC?
3. Add unequal amount mixing.

[2018-07-28 09:34] nopara73 commented on #558
Just to drop an idea here, I guess we can just manually delete a few characters from the index file and fix it like that.

[2018-07-29 15:22] nopara73 opened #561 "Getting banned in input registration stage"
In Input Registration stage ban should never happen.

(Also don't forget to remove the bans.)

[2018-07-30 09:35] nopara73 opened #562 "Make Tor more reliable and faster on the Backend"
As @greenaddress pointed out, in the Tor config we can make a couple of changes that makes Tor more stable and faster, because we're not interested in hiding the location of our server that much. Like lowering the number of hops.

[2018-07-30 09:57] varsnotwars commented on #558
I've actually had this happen to me a few times when debugging actually. A StackOverflowException is sometimes randomly thrown and my index file is wiped, not entirely though.

[2018-07-30 10:05] nopara73 commented on #561
Turns out it was happening on the TestNet and it wasn't caused by our .NET code, but Python code, so our software was working as expected.

[2018-07-30 10:05] #561 closed

[2018-07-30 10:07] nopara73 commented on #558
The stackoverflow comes from Avalonia (something about unresponsiveness while debugging.) That'd be also a good way to reproduce. I still think corrupting the file manually is good way, too (but simpler.)

[2018-07-30 10:09] varsnotwars commented on #558
Well when I first discussed it with you earlier, I reproduced or by setting a break point and just holding the thread there until a StackOverflowException was thrown. It wouldn't always wipe the index file, but it eventually did after a few tries.

[2018-07-30 11:21] nopara73 commented on #502
Moving to 1.0 release.

[2018-07-30 11:21] #502 closed

[2018-07-30 11:22] nopara73 commented on #464
Moving to 1.0 release.

[2018-07-30 11:22] #464 closed

[2018-07-30 13:25] FEskandariGM opened #563 "problem in running coordinator (walletwasabi.backend)"
Hi.
I installed the WalletWasabi and executed it with the default setting (connected to default coordinator) into TestNet. I made several coinjoin transactions in that phase. Then I executed walletwasab.backend onto my own desktop and I wanted the client to get connected to my coordinator. I changed (into the config file ~/.walletwasabi/Client/config.json) the related field of TestNetBackendURI to

[2018-07-30 18:44] nopara73 commented on #563
Q1: It took me two weeks to build the testnet filters. We made some improvements since then, not sure how much that counts. I'm not sure how the backend behaves before the filters are built, so things are expected to not go normally.

Q2: Yes, it is necessary.

Q3: It is hardcoded.

[2018-07-30 18:44] #563 closed

[2018-07-31 19:54] lontivero commented on #409
I've been researching other libraries and i found [this one (QRCoder)](https://github.com/codebude/QRCoder) with is available for dotnet core. Moreover, it is MIT licensed and it allows to create Xaml paths just out-of-the-box and it is maintained.

[2018-07-31 20:12] lontivero commented on #562
True. However, this could reduce our users privacy (security?) too. Just imagine using only one hop, then it could reveal the users location. Also, users have no reason think we couldn't have a exit tor node and deanonymize some of them.

[2018-07-31 20:25] nopara73 commented on #562
We cannot affect the number of hops between us and the user. Only the user can do that.

Users connect to our onion and stay inside the Tor network at all times. There is no exit node involved at any point.

[2018-07-31 20:45] lontivero commented on #444
In my machine (i7 + SSD disk) the initial parsing of the filters takes almost two seconds.

![image](https://user-images.githubusercontent.com/127973/43486074-4272fa9c-94e9-11e8-9aea-bed952891eee.png)

In an older pc it could take a bit more so, that's a candidate to load in a non-blocking way.

[2018-07-31 21:32] nopara73 opened #564 "Resolve Linux runtime warnings"
There are a couple of warnings written to the console after running the software. I think it's from Avalonia. I think it does the same in other linuxes and maybe on OSX, too.

[2018-07-31 21:35] nopara73 opened #565 "Connecting to peers the first time"
Connecting to peers the first time may take several minutes.

This is entirely handled by NBitcoin, we could attempt to resolve it.

If we cannot we can modify the "Connecting..." string to "Connecting... (It may take several minutes.)"

I experienced it on Ubuntu 16.04. It may happens on other platforms, too.

[2018-07-31 21:38] nopara73 commented on #444
I've attempted to resolve this issue once. It took me two days. It may be more complicated than I initially thought. Please don't touch it, stuff were breaking left and right (silently) when I was trying to fix it.

I think what takes time is the iterating through all the transactions in the downloaded blocks. But it's a bit complicated if we want to make sure we don't break 1. multi wallet suppor

[2018-08-01 00:06] lontivero commented on #564
Are these the warning that you talk about?

[code]

[2018-08-01 02:08] nopara73 commented on #564
Yes.

[2018-08-01 09:39] nopara73 opened #566 "Lower feerate sanity check"
I applied a sanity check of 5 satoshi per byte when building a transaction and building a mixing transaction, because some miners weren't mining under 5 s/b. The latter is more complicated.

I am not sure it makes sense anymore. Maybe 2 s/b should be better.

In the future it shouldn't be a problem. If Bitcoin is successful, then fees should go up.

[2018-08-01 10:57] FEskandariGM commented on #563
What is the reason of message " INFO IndexDownloader: REORG Invalid Block"? While we expect the message " INFO IndexDownloader: Downloaded filters for blocks " to appear at the initial launch of wallet and synchronization phase.

[2018-08-01 11:35] nopara73 commented on #563
The server didn't build the filters yet, so the server reports the client has blocks, the server doesn't.

[2018-08-01 12:39] FEskandariGM commented on #563
what should I do in server in order to build filters? and there would be no need for re-indexing blocks in client side.

[2018-08-01 13:31] nopara73 commented on #563
Wait. 2 weeks should be sufficient.

[2018-08-02 07:37] nopara73 opened #567 "Alice times out, client doesnt retry"
If Alice accidentally times out, then the client doesn't try to mix the timedout coins again.

[2018-08-02 13:26] #567 closed

[2018-08-02 14:44] nopara73 opened #569 "Register spent coin"
If I understand the behavior right, an unconfirmed coin can be registered and it'll only fail when the connection would wanne be confirmed. Not sure if it's client side or server side problem.

Reproduce it by:
1. Send a transaction.
2. Remove it from the mempool.
3. Try registering the confirmed output.

[2018-08-02 16:21] nopara73 opened #570 "Show somehow that only confirmed coins can be mixed"
It is not obvious. Not sure what is the right way yet.

[2018-08-02 16:42] Zolgarr opened #571 "Grammar mistake"
# Expected behavior

Correct grammar.

![image](https://user-images.githubusercontent.com/42039790/43597924-c0a78d24-9683-11e8-8efd-433a8635f18f.png)

# Current behavior

Not correct grammar.

# Steps to reproduce

- Write "On the other hand" at the area which is shown in the picture.

[2018-08-02 16:54] nopara73 commented on #571
If I am right there are two documents those needs to be updated. One is the google docs and the other is the source code.

[2018-08-02 16:59] Zolgarr opened #572 "Labels"
# Expected behavior

A bit more understandable way to see the labels.

# Current behavior
I was just giving foolish names to my labels. As I checked the "Send" option, I realized I no longer remember (and I don't understand) from which label I sent, and which is the label now, and what does change of (kuldes 1) mean? (kuldes 1 was a label I gave when I sent it, but I don't know why it says "change

[2018-08-02 17:11] Zolgarr opened #573 "Notification when receiving cryptocurrency"
# Expected behavior

Notification in any way when I receive Bitcoins.

# Current behavior

Right now I don't receive notifications.

# Possible solutions

I think it would help newbies a lot if they would get a notification when they've received their Bitcoins. This could either be a message in the program, or they would get an email (or both).

[2018-08-02 17:16] lontivero commented on #573
Probably duplicated: https://github.com/zkSNACKs/WalletWasabi/issues/427

[2018-08-02 18:24] lontivero opened #574 "Wallet closes unexpectedly"
This happened to me after sending a tx and checking the received coin anonymity set putting the mouse over the shield icon. I wasn't able to reproduce it but it seems to be a problem in the Avalonia code. @danwalmsley could you please review it and let me know how to proceed?

## Steps
1. Select a coin for sending
2. Send the transaction to yourself (taking and address from the Receive Tab list)
3

[2018-08-02 18:33] lontivero opened #575 "Error messages include the internal exception name"
Every time an error occurs in the sending tab, the error message displayed contains details of the internal exception type (and message). So, sometimes it say `InvalidOperationException`, `txn-mempool-conflict` and others.

![image](https://user-images.githubusercontent.com/127973/43602067-41db85f4-9665-11e8-8ed1-5213fea119a4.png)

[2018-08-02 20:18] lontivero opened #577 "Splash screen doesn't look well in Linux"
It take all the height of the screen.

<img src="https://user-images.githubusercontent.com/127973/43607936-32d671ca-9676-11e8-97e2-e755e7dff9b6.png"  height="400" />

[2018-08-02 20:54] AdamISZ opened #578 "Exception Alice not found."
Following error message is showing up repeatedly:

[code]

I currently have a utxo queued up for the next join round.

[2018-08-02 20:54] AdamISZ commented on #578
By the way what's the best place for bug reports, sorry if this is not a good place.

[2018-08-03 01:57] lontivero commented on #440
What about something like this? (wait for the gif to load completely)
It filters and shows you the possible worlds based on what you type and autocompletes the rest if you press <TAB>. The problem is I need to modify NBitcoin to have a clean implementation.

Can I upload it as it is now (with harcoded list of words taken from NBitcoin)?
![output1](https://user-images.githubusercontent.com/127973/4

[2018-08-03 03:19] okdoomfist opened #579 "Dequeue will not dequeue, exiting asks me to dequeue"
Dequeue will not dequeue (checkbox is checked), exiting asks me to dequeue.

[2018-08-03 10:10] Transisto opened #580 "First launch, some error then the UI is like a static snapshot of my screen."
[code]

![image](https://user-images.githubusercontent.com/388716/43637576-890541d0-96e3-11e8-8c93-c69427513859.png)

When I click the Wasabi icon it shows up an image of how my screen was before launching it.

[2018-08-03 12:46] nopara73 commented on #580
What is the Linux distro?

`cat /proc/version`

Might be related: https://github.com/zkSNACKs/WalletWasabi/issues/564

[2018-08-03 12:52] nopara73 commented on #578
Yes, this is the best place.

I fixed an error related to this yesterday. You should see a flag in the left bottom that says "New Update Is Available". If you don't see it, that means you've already done a git pull and this is a new issue. If you see it, then we are good, you can terminate the software. Git pull and start again.

The problem happens when your internet or Tor goes offline for a few

[2018-08-03 12:54] nopara73 commented on #577
What is this? I don't understand.

[2018-08-03 12:56] nopara73 commented on #440
It looks good, however we need clean solution. This is not that important to introduce messy code.

[2018-08-03 13:01] nopara73 commented on #575
I like it this way. The message can be misleading or missing altogether. I believe if we want to fix Error handling, then we have to do it in the big way. Fix it everywhere, properly with popups.
And then think about all the possible places and ways errors can come and handle them. However that is a big work and it doesn't help that Avalonia doesn't support these popups so we'll need to work it ou

[2018-08-03 13:01] #575 closed

[2018-08-03 13:05] #571 closed

[2018-08-03 14:25] lontivero commented on #577
Yesterday after fetching the repo and running the wallet I saw that huge Wasabi image in the middle of my screen and the main wallet window behind that. So, I thought that it was some kind of new initial splash window. I reported it then but when I came back to fix it I realized there is no splash window and what I see is a bug somewhere.

[2018-08-03 14:35] AdamISZ commented on #578
Thanks, indeed I need to update.

[2018-08-03 14:42] nopara73 commented on #577
I see. I close it, please reopen this if you find a way to reproduce.

[2018-08-03 14:42] #577 closed

[2018-08-03 14:45] nopara73 commented on #578
Awesome! I have a feeling you must kill the process (which is fine, well at least for now, maybe it won't be fine in the future.)

[2018-08-03 14:45] #578 closed

[2018-08-03 15:46] AdamISZ opened #582 "Change is automatically queued, but is less than 0.01 btc"
As per above. It seems that change from previous join is automatically queued (?), which has some logic to it, but in this case change was less than required so it didn't make sense. I dequeued it.

[2018-08-03 16:33] nopara73 commented on #582
I think the best if we dequeue it.

[2018-08-03 18:17] cryptagoras opened #583 "Wallet crashes in various scenarios"
(related to #574, I just get slightly different error message)

# Environment
Ubuntu 16.04 LTS - Gnome - Multi-monitor
I have participated in mixings, it happened on the alpha and same thing still happens now with the beta.

# What happens
The wallet will crash at various scenarios like:
- Minimize window (anytime, even just after startup)
- Hover the shield icons on CoinJoin screen
- Other random

[2018-08-03 19:07] danwalmsley commented on #574
Im looking into it

[2018-08-03 19:10] danwalmsley commented on #564
This is caused by avalonia gtk backend we should open an issue there too.

[2018-08-04 04:59] FEskandariGM commented on #563
I run the walletwasabi.backend on testnet. I dont know which command should i run in backend (coordinator)  to build filters. please guide me. after installing of coordinator, what shuold I do to start bulding filters in coordinator?

[2018-08-04 08:07] nopara73 commented on #563
It should build filters automatically. Sorry, but there are a shitload of configuration, exceptions and traps for the backend and they are not all documented. I don't think someone who doesn't contribute for at least a couple of months to the codebase is going to be capable to roll this out properly.

[2018-08-04 09:48] nopara73 commented on #530
I removed this smartassing here: https://github.com/zkSNACKs/WalletWasabi/commit/e16a32bdd438144a88f9135d9356f3d405d93e77

The number of peers will only increase within 20 seconds after queued. I found the guessing more confusing than helpful. I will look into it what can be done, if someone starts complaining.

[2018-08-04 09:48] #530 closed

[2018-08-04 11:41] davisbra opened #584 "determine specific output address"
I test walletwasabi for mixing but I realized that I could just send my coins from my wallet to another address in my wallet!! but how can I transfer coins to specific bitcoin address? (my own address or other person)
Is there any way to choose the specific output address?

[2018-08-04 14:12] nopara73 commented on #584
Yes, this was my thinking at first and indeed even implemented that in the backend, but later I realized it is not feasible.

Generally, there are some problems with this:

1. The minimum denomination is just minimum denomination. So, for example if the minimum denomination is 0.1 BTC, but the smallest input in the mix is 1.3 BTC, then you will end up sending (to the other person or to your other

[2018-08-04 14:12] #584 closed

[2018-08-04 16:39] okdoomfist opened #585 "Sometimes change entered to next round, sometimes removed"
Sometimes change from coinjoin is automatically entered into next round. Sometimes it goes back to top portion of screen and not entered into next round.

Personally I think it should default to continuing to mix the change until all has an anonymity set (or until the lower threshold is reached).

But either way the current behaviour is not consistent. And sometimes precedes issue just elaborated

[2018-08-04 17:12] nopara73 commented on #585
Can you do a `git pull`? Today I refactored a part of the code that likely fixed these issues.

[2018-08-04 17:13] nopara73 commented on #579
Can you do a `git pull`? Today I refactored a part of the code that likely fixed these issues. (I was initially fixing this issue: https://github.com/zkSNACKs/WalletWasabi/issues/582, but I fixed some issues, too.)

[2018-08-04 17:17] okdoomfist commented on #579
Okay, done. Last was done 4 hours ago.

[2018-08-04 17:17] okdoomfist commented on #585
Okay, done. Last was done 4 hours ago.

[2018-08-04 17:20] okdoomfist opened #586 "When enqueue is pressed, the password field should go blank"
I'm not sure if the password can be 're-used' (haven't had a chance to test without other bugs interfering) but the password field should be blanked automatically after it is used.

[2018-08-04 17:43] nopara73 commented on #585
I succeeded to reproduce the errors on the regtest. (So it still persists.) I document here the steps, in case I won't be able to fix it today.

0. Run regtest coordinator with 2 peers required.
1. Create two wallets and fund them with different amounts.
2. Mix.
3. The mix happens and everything works and looks good. One of the peer doesn't have coins in CJ, the other does.
4. Generate a block and

[2018-08-04 18:10] nopara73 commented on #585
Another thing I noticed. Getting very close. It turns out it's not UI issue after all. (Sorry, I'm taking these notes to myself in case I wouldn't be able to fix it today.)

As I said before, the change coin is being mixed, however I noticed, its `CoinJoinInProgress` property for some reason is true before confirmation and false after confirmation.

Now the only thing I have to figure out is why d

[2018-08-04 19:28] #579 closed

[2018-08-04 19:28] #585 closed

[2018-08-04 19:28] nopara73 commented on #585
This was an intense 3 hours, but I fixed it and all related issues!

[2018-08-05 07:33] nopara73 commented on #569
This bug doesn't happening anymore (or the reproduction steps were wrong.)

[2018-08-05 07:33] #569 closed

[2018-08-05 07:36] nopara73 opened #587 "Improve the CoinJoin tab's feedback"
It'd be better if we'd show the status of an individual queued (and not queued?) coin that is enqueued. Something like (On the waiting list, registered, connections confirmed, signed, round 19, banned, spent, etc...)

![image](https://user-images.githubusercontent.com/9156103/43683776-294d056e-9893-11e8-8483-1f4bb2d7dcdc.png)

[2018-08-05 07:40] nopara73 opened #588 "Improve coin lists"
In the Send tab and CoinJoin tab we don't show coins those are cannot be used. (For example in the CoinJoin's enqueue coin list we don't show unconfirmed coins.)

We should show these coins, but disable them from selecting (and somehow show the reason why they cannot be used there.)

![image](https://user-images.githubusercontent.com/9156103/43683802-95e8872a-9893-11e8-9209-46476c4a64a1.png)

[2018-08-05 09:03] #562 closed

[2018-08-05 09:28] Transisto commented on #580
Elementary os, based on Ubuntu 16.04

On Fri, Aug 3, 2018, 08:46 nopara73 <notifications@github.com> wrote:

[2018-08-05 12:11] 2tbwXj46BDbdNBRV79DS opened #590 "Disable Telemetry for dotnet instructions in readme"
I installed dotnet-sdk for the first time on my Linux box along with a pulled/build.  I was caught off guard by.

[code]

Maybe put in the instructions to disable before building.
`export DOTNET_CLI_TELEMETRY_OPTOUT=1`

Wallet looks great! on my Fedora it starts maximized

[2018-08-05 18:35] nopara73 commented on #411
Done. It had to be done now, before more users start using it, because our breaking change update mechanism was not prepared to completely replace the URI.

[2018-08-05 18:35] #411 closed

[2018-08-05 20:18] #586 closed

[2018-08-05 20:25] nopara73 commented on #590
Yes, it is possible, to use it with Mono, however that is just asking for bugs. For the record .NET Core is non proprietary. It is open source, cross platform and licensed under MIT.

I assigned this issue to the 1.0 Release. I've been annoyed by it many times, but never took the time to look into how to make that thing disappear.

[2018-08-06 09:05] calkob opened #591 "error CS8107: Feature 'default literal' Build Failure"
### General Description
After running the 'dotnet build' command i am getting this error.

Build FAILED.

Build FAILED.

Shell\IShellExtensions.cs(27,15): error CS8107: Feature 'default literal' is not available in C# 7.0. Please use language version 7.1 or greater. [C:\Users\warre\WalletWasabi\WalletWasabi.Dependencies\AvalonStudio.Shell\src\AvalonStudio.Shell.Extensibility\AvalonStudio.Shell.Ext

[2018-08-06 10:41] nopara73 commented on #591
I'm struggled by this. It should work. @danwalmsley @lontivero any idea?

@calkob Can you do `dotnet build` inside `WalletWasabi\WalletWasabi.Backend`? It looks like the only project it doesn't recognize

It looks like the only place where dotnet cannot pick up the language version is `AvalonStudio.Shell.Extensibility\AvalonStudio.Shell.Extensibility.csproj`. And it can pick up everywhere else.

[2018-08-06 10:43] nopara73 commented on #539
It's been fixed a few days ago. The problem was I was catching `NotFound` instead of `Not Found`, thus I never catched the exception and I never acted upon it.

[2018-08-06 10:43] #539 closed

[2018-08-06 10:51] lontivero commented on #591
Yes. I take it

[2018-08-06 12:39] nopara73 commented on #541
It is much harder than I initially thought. No wonder why @varsnotwars could not properly do it. Neither do I.

Currently, if the highest 7 input (actually it is `CcjRunningRoundState.MaximumInputCountPerPeer`) doesn't reach the minimum required amount, we automatically dequeue all inputs.

https://github.com/zkSNACKs/WalletWasabi/blob/9cfdde1e31c25fd56697993f2bf306615c66b8c8/WalletWasabi/Services

[2018-08-06 12:39] #541 closed

[2018-08-06 13:02] lontivero commented on #591
https://github.com/VitalElement/AvalonStudio.Shell/pull/5 makes the version language independent of the configuration/platform. Once merged, we have to update the submodules and compile again.

[2018-08-06 13:12] nopara73 commented on #591
@lontivero Why do you think that'd help? Btw, I've done it just in case if you scroll up you can see it.

[2018-08-06 13:27] lontivero commented on #588
i take it

[2018-08-06 13:44] lontivero commented on #591
I've had this same error a couple of times with different projects. The problem is the language version is specified in one or more property groups which conditions are never met. So, if you want to reproduce the error you have to use build the wallet with conditions like:

[code]

This has to fail because there is not such a configuration so, the `<PropertyGroup Condition="'$(Configuration)|$(Pla

[2018-08-06 13:53] #566 closed

[2018-08-06 14:37] #590 closed

[2018-08-06 14:50] nopara73 commented on #588
@lontivero Please don't take it. It is not a 1.0 issue and we did not yet figure out how it'd be the best. It's not enough to just to disable the checkbox, that'd just lead to more confusion.

Or if you would like to work on it, please could you specify first how you'd like to resolve this so you don't end up coding the wrong thing?

[2018-08-06 15:34] calkob commented on #591
dotnet build inside WalletWasabi\WalletWasabi.Backend works fine with zero errors.

[2018-08-06 15:50] nopara73 commented on #591
@calkob Thanks, that settles it, the problem is with the AvalonStudio.Shell project then. It'll take a few days to figure out if the above thing fixed your problem, since we do not have commit access to that repository where the bug was. Anyway, in the meantime you can try `dotnet run -c Debug` inside `WalletWasabi\WalletWasabi.Gui` folder, maybe that'll work.

[2018-08-06 16:31] calkob commented on #591
Getting the same errors in walletwasabi.Gui when using dotnet run -c Debug.  thanks for the effort anyway.

[2018-08-06 17:23] nopara73 opened #593 "Update submodules"
@danwalmsley I am not able to safely update the submodules. The API is broken. Could you do it?

This is needed for: https://github.com/zkSNACKs/WalletWasabi/issues/591#issuecomment-410768650

[2018-08-06 17:26] lontivero commented on #591
@calkob we have an update. Could you please try the following:

[code]

[2018-08-06 17:32] nopara73 commented on #591
@lontivero We do not. We need to manually update the submodule, those updates don't make it into the system automatically.
I opened an issue for that for Dan, because they changed some API stuff so I was not able to update it myself: https://github.com/zkSNACKs/WalletWasabi/issues/593

[2018-08-06 17:32] lontivero commented on #588
My idea was adding a new Coin view model type and a different template for that type of coins such as they can be rendered in a completely different way. Probably without the checkbox and wit a different color and behavior when one click on them.

[2018-08-06 17:35] nopara73 commented on #588
I don't really understand, can you explain in detail?

[2018-08-06 17:54] lontivero commented on #564
I've opened an issue for the Avalonia team https://github.com/AvaloniaUI/Avalonia/issues/1800

[2018-08-06 18:07] lontivero commented on #588
Sure. Currently the `CoinListView` view takes a list of coins (`CoinViewModel`) and render them using a `ListBox.ItemTemplate`. In this way, if we add a new coin to the `CoinListViewModel.Coins` list, that coin is rendered as another row in the ListBox of coins.

It we want to render different coins in different ways, we need to have a different `ListBox.ItemTemplate` to apply to a different type

[2018-08-06 18:36] nopara73 commented on #588
Concept ACK. Btw, why `SpendableCoinViewModel` and `UnspendableCoinViewModel`? Or were they just examples?

I think it should rather be `SpendCoinViewModel`, `EnqueueToCoinJoinCoinViewModel` and `CoinJoinInProgressCoinViewModel`, or something like this (maybe you can come up with better names.)

[2018-08-06 19:17] davex25 opened #594 "Unable to close application when coins queued"
### General Description
Seems that when the coordinator server was updated, it went offline, and coins I had queued can no longer be dequeued, preventing me from gracefully closing the application.

### How To Reproduce?

Queue up coins for joining.
Take server offline.
Try to dequeue coins (they stay in the queue).
Try to exit (get error message saying to dequeue coins).

OS: Linux

I'm not sure

[2018-08-06 19:39] nopara73 commented on #594
Ahh, I see. You have to kill it and update (`git pull` and `git submodule update --init --recursive`, sorry about that. This won't cause any problem.

On another note, this won't happen anymore. We have a proper breaking changes backend update notification in place (you'd see big red BREAKING CHANGE in the status bar).
However I made an upgrade to Tor version 3, because I realized I cannot use the

[2018-08-06 19:40] #594 closed

[2018-08-06 21:05] calkob commented on #591
$ dotnet clean
Microsoft (R) Build Engine version 15.7.179.6572 for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

Build started 06/08/2018 22:00:32.
     1>Project "C:\Users\warre\WalletWasabi\WalletWasabi.sln" on node 1 (Clean t                                                                                                                                  arget(s)).
     1>

[2018-08-07 06:10] #565 closed

[2018-08-07 07:03] nopara73 commented on #432
@danwalmsley @lontivero Can you update me about the status of this?

I am expecting something like:
1. I did not have time for this.
2. I tried, but I could not do it.
3. I tried, but it turned out to be more complicated, than I initially thought, so I postphoned it.

For me, it was the 2.

[2018-08-07 07:17] nopara73 commented on #591
@calkob As I said in my previous comment it won't work, because the changes did not make it yet to our master. This PR is doing that: https://github.com/zkSNACKs/WalletWasabi/pull/595

If you know git then you can checkout the PR and try if it works, if not, then whatever, just wait until I merge that PR (should happen within a few days, I just want to make sure it's stable.)

[2018-08-07 11:36] lontivero commented on #432
I didn't find how to do it.

[2018-08-07 12:21] nopara73 opened #596 "Figure out proper sync mechnaism for terms, privacy and legal documents with website"
The first thing to do is to figure out if we can show GitHub Markup document or PDF in the software without introducing external packages.

[2018-08-07 12:22] danwalmsley opened #597 "Re-enable Listbox Virtualization"
https://github.com/zkSNACKs/WalletWasabi/blob/4d7757c3014c4c5b4b6434969d8aa4280c5a78bc/WalletWasabi.Gui/Controls/WalletExplorer/ReceiveTabView.xaml#L60

Avalonia has now fixed the issues with virtualization. But double check this wont break anything.

Will need to bind IsExpanded to prevent it randomly expanding different QR codes as we scroll. (WPF and UWP behave the same if you don't bind)

[2018-08-07 13:37] lontivero commented on #421
I take it

[2018-08-07 18:29] lontivero commented on #583
This is duplicated https://github.com/zkSNACKs/WalletWasabi/issues/574. IMO we should close duplicated and keep only one opened.

[2018-08-07 18:31] lontivero commented on #421
PR https://github.com/zkSNACKs/WalletWasabi/pull/598

[2018-08-07 18:32] nopara73 commented on #583
@lontivero You may be right, just like with the issue templates. However I am always super annoyed when .NET Core devs close my issue, saying "it's duplicated." Especially when very often it is not. I'd like to keep duplicated issues with `duplicate` label for now. And if it turns out to be a bad idea, then we can start closing them.

[2018-08-07 18:35] lontivero commented on #413
I am on this. I've tried [dotnet-packaging](https://github.com/qmfrederik/dotnet-packaging) but it doesn't work (It is not finished yet)

[2018-08-07 20:08] nopara73 opened #599 "Turn off cookies on websites"
I've found cookies for zkSNACKs and WalletWasabi. These should be turned off.

[2018-08-08 07:37] nopara73 opened #600 "Wallet File got bloated"
One of my wallet file got bloated, I have no idea why. I need to investiaget.

[2018-08-08 09:06] #428 closed

[2018-08-08 09:06] #593 closed

[2018-08-08 09:07] nopara73 commented on #591
@calkob We have finally merged the PR. Now is the time to test:

[code]

[2018-08-08 09:09] nopara73 opened #601 "Update Avalonia"
Currently we are blocked from updating Avalonia, because it reintroduced this bug:

![image](https://user-images.githubusercontent.com/9156103/43827912-5d0e0262-9afb-11e8-8dab-60a9efe079b0.png)

@danwalmsley said:

@danwalmsley Can you point to the PR (if there is any) in Avalonia, so we can keep track of it?

[2018-08-08 12:46] nopara73 commented on #600
I probably fixed it here: https://github.com/zkSNACKs/WalletWasabi/commit/b38d07dc3c1dcaddb270a253158a4d0e6a1e6efb

[2018-08-08 12:51] lontivero opened #602 "Segregate wallets by network"
### Is your feature request related to a problem? Please describe.
Yes.

After starting the Wasabi I have to load a wallet from the list of wallets but they are all together and there is no way to know which of those are for mainnet and testnet.

### Describe the solution you'd like

I think users should see the wallets depending on the configured bitcoin network. I mean, if I am running Wasabi fo

[2018-08-08 13:06] nopara73 commented on #602
HiddenWallet was working this way, but I decided to drop it for various reasons, I can't recall.

On the other hand, this is a huge architectural change, which also breaks existing wallets and messing around with keys is extremely risky. Also it has little to no payoff, since it is not a concern for the end user of the wallet and it is just a little inconvenience for developers. Please name your w

[2018-08-08 13:06] #602 closed

[2018-08-08 13:13] nopara73 commented on #600
No, the above just improved, but did not fix it. The problem is every time you register a new outputs to the mix, new keys are created.

This bloats the wallet.

[2018-08-08 13:27] lontivero commented on #565
After NBitcoin 4.1.1.42 the wallet connect with the first peer after 101 seconds and with 8 peer in about 3 minutes. I don't know how long it took before. Do we need to improve this situation?

[2018-08-08 14:38] nopara73 commented on #565
IDK, if this problem persists, we'll open another issue.

[2018-08-08 15:03] nopara73 commented on #600
Fixed here for good: https://github.com/zkSNACKs/WalletWasabi/commit/7b2ec917d92bb47be4bf7a3a2911d9aa1d491131

[2018-08-08 15:03] #600 closed

[2018-08-08 19:44] lontivero commented on #413
I've tried again with dotnet-packaging and i found how to create a Debian .deb package for ubuntu, however i cannot install it in my machine because it has hardcoded dependency libraries (for netcoreapp2.0 i think).

[code]

Once I solve the dependencies problem, I am going to see how to update the package metadata info (Description, Version, Section, Priority) and how to create an icon in the des

[2018-08-08 19:54] nopara73 commented on #413
I am not entirely sure we should introduce another dependency.

[2018-08-08 21:47] calkob commented on #591
Worked a treat.  Perfect, thanks for the help.

[2018-08-08 23:30] dreboli opened #604 "Either target .NET Core 2.0 or lower, or use a version of the .NET SDK that supports .NET Core 2.1."
[code]
[code]

[2018-08-09 07:15] nopara73 commented on #604
You must have somehow installed an older .NET Core. `dotnet --info` for me gives back
`Version:   2.1.302`.

I pasted the instructions from here: https://www.microsoft.com/net/download/linux-package-manager/ubuntu18-04/sdk-current

[code]

[2018-08-09 07:15] #604 closed

[2018-08-09 11:32] nopara73 commented on #564
@lontivero That issue seems to go nowhere. Have you attempted to debug this issue?

[2018-08-09 11:36] nopara73 commented on #574
@danwalmsley Did you completely give up looking into it or delayed it, because it turned out to be more complicated, than you thought?

[2018-08-09 13:30] nopara73 opened #605 "Test mixing"
While mixing was well tested with unit tests, sometimes I still see strange things in the GUI. (And fixed a couple of those already.)

It'd be better if I'd go through some mixing rounds manually and try to break mixing with various ways.

Concerns I currently have:

- It seems like fees are higher than they should be. (This is an interesting question, because we must know the fee before the round

[2018-08-09 13:53] lontivero commented on #564
No, I didn't try to debug it because it happens inside Gtk.

[2018-08-09 16:55] lontivero commented on #413
### What platforms we do we want to support?
* **Windows** dotnet core 2.1 supports Windows 7 SP1+ [see here](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md)
* **Linux** we should support Debian-based distributions because many of the most used distros like Ubuntu are based on it. In case of Ubuntu, we know it works okay with 16.04 and 18.04 (I was using both).
*

[2018-08-09 19:13] dannybabbev opened #606 "Wasabi wallet can't connect to tor"
### General Description
Wallet does not starting properly. It cannot connect to tor.

Tor version: Tor version 0.3.0.10 (git-5da2fc629a0670b3).
Wasabi Wallet version: a81e21664b51f3c46e2ce4177ef439c820799e0d

### How To Reproduce?

1. run `dotnet start`

### Operating System
Ubuntu 17.10

### Logs
The stack trace on my console:
[code]

[2018-08-10 13:36] lontivero commented on #606
Could you check Tor is running, please?

Steps:
### Verify Tor is running
`$ service tor status`

You should see something like the following (see the **Active** row):
[code]
### Verify Tor is really listening on default port 9050
`sudo netstat -ltnp |  grep 9050`

You should see something like:

`tcp        0      0 127.0.0.1:9050          0.0.0.0:*               LISTEN      866/tor`

**Note:** n

[2018-08-10 14:09] lontivero commented on #531
What about something like this for the *Phase*?

![image](https://user-images.githubusercontent.com/127973/43962290-b3cfae82-9c8d-11e8-8421-3a5c30abc833.png)

I can do it if you like it.

[2018-08-10 14:45] lontivero commented on #599
Q1: what about the Twitter tracker? It is a huge javascript file that I don't know what it does.
Q2: couldn't we host the fonts instead of taking them from google?

[2018-08-10 15:02] nopara73 commented on #599
Today we decided that we'll leave the zkSNACKs website alone and the Wasabi website will be controlled by me (to mitigate the security risk.)

Also they'll rewrite the Wasabi website (today it's wordpress) to be only one static page.

[2018-08-10 15:04] nopara73 commented on #531
That'd be great. I'm a bit concerned if it'd take too much space though.

[2018-08-10 17:15] nopara73 opened #608 "Add Magic Button"
### Is your feature request related to a problem? Please describe.

The wallet is boring.

### Describe the solution you'd like

Add a red button, labelled: "DO NOT CLICK ME!" (Not sure where.)

And if someone clicks on it, the wallet does all kinds of funny things, like

- rickrolling the user
- playing Bitcoinneeect Carlos soundtrack
- playing aantop advice: "If you do not control the private ke

[2018-08-10 19:00] lontivero commented on #531
Do you agree with the icons for `Inputs registration`, `Connection confirmation`, `Outputs registration` and `Signing transaction`?

![2018-08-10-155627_826x696_scrot](https://user-images.githubusercontent.com/127973/43976203-3b1dae8e-9cb6-11e8-8a88-8d4b26abe12d.png)

[2018-08-10 20:17] nopara73 commented on #531
:+1:

[2018-08-11 07:04] nopara73 commented on #606
The v3 onions are enabled from `Tor 0.3.2.2`.

[2018-08-11 07:33] nopara73 commented on #606
There were someone else with the same problem. He fixed it by building Tor from source code: https://www.torproject.org/download/

[2018-08-11 17:00] varsnotwars commented on #596
@nopara73, would the simplest way to do this be to just return the terms, privacy, and legal documents as json objects from the same, or different api endpoints. Otherwise the website and wallet are dependent on the same markup format. At least that would take care of the syncing part.

[2018-08-11 20:54] okdoomfist opened #609 "Privacy Icon for Change from Tx from Mixed Coin"
If I spend a mixed coin (yellow shield) and receive change back, the change could be de-anonymised.

The wallet cannot know if the privacy is (x) shield or (!) shield anymore. Suggest an orange shield (?) for change from a spent mixed coin.

[2018-08-11 20:59] ghost opened #610 "Mix Until Spent x Amount in Fees"
### Is your feature request related to a problem? Please describe.

The fee is based on anonymity set, but sometimes the round is not as big as someone might like.

### Describe the solution you'd like

A checkbox "Mix until this much in fees is spent" with a field for how much someone is willing to spend mixing the coins. The coins stay in the mixing area even after a round is done, to go through

[2018-08-11 21:05] ghost opened #611 "Maximum round time, timer, or alternative"
### Is your feature request related to a problem? Please describe.

It's difficult to know when the next round will take place. Is this controlled by one coordinator? Can they tie up the round indefinitely? None of this is clear.

### Describe the solution you'd like

Over _n_ registered peers, a timer is started and the round will be set to complete. Combined with suggestion #610 then people who

[2018-08-12 07:03] nopara73 commented on #609
There are a lot of refinement can be done here, since Blockchain Analysis is based on unreliable observations.

However the shields are based on a number, called anonymity set, so what we could do is to make the change anonymity set = 1 (x shield), but that would be more incorrect, I think currently the change's anonymity set = (aonymity set of input - 1).

I feel like introducing a different kind

[2018-08-12 07:11] nopara73 opened #612 "Improve History of a Coin"
I think History should be renamed to Clusters and instead of labels, we should keep track of clusters as colored bubbles for example.
Somehow like this:

![image](https://user-images.githubusercontent.com/9156103/43999587-a193731a-9e0f-11e8-80bd-26165e6cee85.png)

So you want to make sure you don't connect two wallet clusters, etc...

[2018-08-12 07:11] nopara73 commented on #609
Related: https://github.com/zkSNACKs/WalletWasabi/issues/612

[2018-08-12 07:27] nopara73 commented on #611
The system was built in a way that it'll only trigger if x users came together.

We do one round a day, because I want to see real time test results in the beta.

While one round a day may turn out to be a good idea if we'll suffer from liquidity issues after the 1.0, it requires a couple of things implemented and figured out.
One is user feedback, as you've described. This would be the easier one

[2018-08-12 07:34] nopara73 commented on #610
Your solution doesn't solve the problem you described.

However it is an interesting concept. One of my concern is that it could confuse users further. I feel like this queue to mix thing is already fairly confusing.

[2018-08-12 07:34] #609 closed

[2018-08-12 07:37] nopara73 commented on #611
This being said, if people keep suggesting the timer (others were, too,) I might implement it. It's just a half assed and risky thing to do.

[2018-08-12 09:06] nopara73 opened #613 "Blocks Needed not showing?"
@varsnotwars I haven't seen Blocks Needed property for a month now. I'm not sure what's going on.

[2018-08-12 17:57] varsnotwars commented on #613
Having a look now. I can't actually see where the `BlocksLeft` is set. I removed the converter that hides the status bar items and `BlocksLeft` is always 0. Setting a breakpoint on `BlocksLeft`'s setter and it seems to never get set.

[2018-08-13 09:04] nopara73 commented on #608
@lontivero has concerns about a feature like this, so this should not be implemented until it's talked through. (Nevertheless, it is definitely not a priority:)

[2018-08-13 09:10] nopara73 commented on #613
Huh, I'm starting to think it has never been implemented. Interesting.

[2018-08-13 09:12] nopara73 commented on #613
Probably because you must be logged into the wallet to show this (which makes things complicated.)

[2018-08-13 09:26] nopara73 commented on #613
No wonder. Turns out, at no point in time we actually know how many blocks we need to download.

[2018-08-13 09:51] #613 closed

[2018-08-13 10:10] nopara73 commented on #606
To sum it up. This is an unfortunate thing. Some Linux repo is shipping with very old Tor versions, which do not yet support the 3rd generation Tor network.

### Final Solution

With the 1.0 version, we will ship our own Tor, so it won't be a problem.

### Temporary solutions

1. Get the latest Tor Browser, and in our software Tools/Settings change the Tor port from 9050 to 9150. https://www.torpr

[2018-08-13 10:10] #606 closed

[2018-08-13 10:26] nopara73 commented on #531
@lontivero I deassign @danwalmsley and me from this issue. Please tell us if you hit a wall.

[2018-08-13 10:27] nopara73 commented on #564
@danwalmsley I deassign myself and @lontivero from this issue. I've tried to tinker around with it, but I failed, too.

[2018-08-13 10:28] nopara73 commented on #601
@danwalmsley I deassign myself from this issue. I have no idea what to do here.

[2018-08-13 10:35] nopara73 commented on #580
I'll take it. Installing Elementary OS.

[2018-08-13 12:14] nopara73 commented on #580
Removing from Beta, because I have no idea how to resolve this issue. But this is bad.
A few things I noticed:

1. For me the UI doesn't freeze, it doesn't get that far, rather the terminal freezes. (Screenshot attached.)
2. For me the software doesn't come even in second launch.
2. The first launch time takes long. A couple of minutes for me, not sure why.
3. The Tor version is outdated in Ubuntu

[2018-08-13 13:08] nopara73 commented on #533
I remove it from 1.0, it is not a priority. It must be figured out properly and we have more crucial bugs at this point.

[2018-08-13 13:45] nopara73 commented on #449
Revering, because all the buttons were changed.

[2018-08-13 13:54] nopara73 commented on #583
Tested on Ubuntu 18.04. None of the above described issue happen.

[2018-08-13 13:55] nopara73 commented on #574
@danwalmsley Any response here?
@lontivero Are you using Ubuntu 16.04?

[2018-08-13 14:35] lontivero commented on #574
No, I use 18.04 now.

[2018-08-13 14:39] lontivero commented on #531
**Update:** I am going to create a simpler version of this because it is much harder than I estimated. I am creating a new visual control for this.

[2018-08-13 15:00] nopara73 commented on #574
I wasn't able to reproduce it on Ubuntu 18.04.

[2018-08-13 16:49] danwalmsley commented on #601
no pr yet, but branch is here!
https://github.com/AvaloniaUI/Avalonia/tree/fixes/directional-navigation

[2018-08-13 17:01] danwalmsley commented on #574
https://github.com/AvaloniaUI/Avalonia/blob/master/src/Avalonia.Controls/Primitives/PopupRoot.cs#L86

I think there is now a better way to get the screens. The bug here is that this line is called before the popup is attached to tree, so it cant find a root window to get screens.

[2018-08-13 17:08] danwalmsley commented on #574
https://github.com/AvaloniaUI/Avalonia/pull/1806
should fix this

[2018-08-13 19:05] lontivero commented on #531
**Update:** It is taking more time that I expected. This is not working yet but this is how it will look like:

[2018-08-13 19:16] danwalmsley commented on #583
Fixed in avalonia now, was anyone able to repro could they check with avalonia build >= 5924

[2018-08-13 19:16] danwalmsley commented on #574
if anyone could check with avalonia build >=5924 I can't repro this here.

[2018-08-14 09:36] nopara73 opened #615 "NullReferenceException - Cannot mix many rounds"
### General Description
Mixing will start throwing exceptions. (Seemingly randomly?) And so coin will be queued, but console will be full of exceptions.

### How To Reproduce?

Start mixing. After a few mix go down, exceptions will be thrown. - Unreliable reproduction.

### Operating System

Ubuntu 18.04

### Logs

[code]

[2018-08-14 09:37] nopara73 commented on #615
I believe this is the reason why we're stuck with a low number of users. You cannot just leave it to mix, because it'll start throwing this exceptions after a few days.

[2018-08-14 10:17] nopara73 commented on #605
Here I not all the ways I can come up with to test mixing through the GUI, using RegTest.

### What to Measure?

1. Does the UI look as expected?
	- Does the coin lists look as expected? (Enqueue, Dequeue, Send)
	- Does the Status look as expected?
2. Does the wallet file looks as expected?
3. Does the final CJ looks as expected?
4. Does the `Logs` file looks as expected?
5. Does the backend `Logs

[2018-08-14 11:44] nopara73 commented on #605
Ahh, there are way too much combination and didn't even start to mix. I'll go with a more ad-hoc method.

[2018-08-14 13:54] #605 closed

[2018-08-14 13:54] #615 closed

[2018-08-14 14:09] lontivero commented on #531
**Update:** I am pretty sure it is done correctly however for some reason the graphic is not visible when I bind it to the model's Phase property. I've tried it all and I am clueless now. @danwalmsley could you take a look at it, please? I am sure it has to be something silly that I am missing.

[2018-08-14 14:58] jonathascarrijo commented on #611
The current implementation does not help with liquidity.
Suppose a user has, say 10 BTC which she wants mixed.
She then installs the app with the expectation to test a full round, but she is still skeptic.
She will get frustated when - after taking the efforts and risks to install the app, then transfer a few bitcoins, then learn how the app works - she gets stuck waiting for a round to reach the

[2018-08-14 16:15] nopara73 commented on #611
Right, what @jonathascarrijo is suggesting may be the smarter plan B. (And definitely the simpler one.) "Don't mess around with forced rounds, but simply lower the number of participants." This way the DoS protection is simpler to get it right and can provide the same experience it was intended to when the liquidity is full.

[2018-08-14 18:10] lontivero commented on #449
Sorry, I cannot do it. I don't find any way to do it, it is much harder that what one can imagine at a first glance.

[2018-08-14 18:31] lontivero commented on #612
I would like to take this one but I don't fully understand the concept of `cluster`. Could you explain it, @nopara73? Is it possible to implement this change with the current SmartCoin class as it is?

[2018-08-14 18:32] lontivero commented on #612
Oh, this is no for release 1. I won't take it now.

[2018-08-14 18:33] nopara73 commented on #449
I couldn't find how to select that, either.

[2018-08-14 18:36] nopara73 commented on #612
Nah, putting the wallet clusters together is really complicated. There are so many things to pay attention here this is pure blockchain analysis.

[2018-08-14 18:45] lontivero commented on #583
Tested on Ubuntu 18.04. It is not easy to reproduce but it happens after a while.

![image](https://user-images.githubusercontent.com/127973/44111497-ff2e0498-9fd8-11e8-9899-05a3495eab78.png)

[2018-08-14 19:10] lontivero commented on #583
I cannot reproduce it with **5924**. I remember the problem was that Avalonia was assuming there was a Window instance and the @danwalmsley's change fixes exactly that. So, I think bug is fixed.

[2018-08-14 19:13] lontivero commented on #574
I've tested it with Avalonia version < 5924 (i can reproduce the bug) and version == 5924 and it seems to be fixed. I will close this issue.

[2018-08-15 04:43] nopara73 opened #617 "Lower CJ fees"
Before the final CJ is built, lower the fees, considering the feerate. (divide the leftover money between the active outputs?)

[2018-08-15 05:28] nopara73 commented on #531
That's tricky.

[2018-08-15 05:30] #531 closed

[2018-08-15 13:43] lontivero commented on #583
Btw, the issue title says it crashes in Ubuntu 16.04 but that is not correct. The problem was in the Avalonia code and it also crashed on Ubuntu 18.04 (and by sure it happend in other OS and versions too).

[2018-08-15 17:05] nopara73 commented on #583
That's strange because it wasn't crashing for me on 18.04. But we'll see after we update avalonia.

[2018-08-15 19:17] blatherdrift commented on #612
Maybe Boltzman tool can calculate the probabilities for your clusters?

[2018-08-16 11:53] dannybabbev commented on #606
Interestingly, after I updated Ubuntu to 18.04 (and nothing else), the wallet booted fine.
The tor version shipped with this release is:
`Tor version 0.3.2.10 (git-0edaa32732ec8930)`

Indeed, I guess the problem was just that tor was old.

[2018-08-16 13:41] lontivero commented on #222
If the https://github.com/MetacoSA/NBitcoin/pull/510 PR is merged into NBitcoin, a DER-encoded signature will 70 bytes length. That means that in the TxInputs it will be 71 lenght (70 DER-encoded signature + 1 sighash) so, the P2pkhInputSizeInBytes value should change from 146 to 145.

[2018-08-16 13:47] nopara73 commented on #574
Done: https://github.com/zkSNACKs/WalletWasabi/commit/914803383b72ff336c8a2ef3b7ecafc1802e1879

[2018-08-16 13:47] #574 closed

[2018-08-16 13:47] nopara73 commented on #601
I've fixed the issue in Wasabi by overriding the Avalonia settings (and so updated Avalonia): https://github.com/zkSNACKs/WalletWasabi/commit/914803383b72ff336c8a2ef3b7ecafc1802e1879

[2018-08-16 13:47] #601 closed

[2018-08-16 13:48] nopara73 commented on #583
Done: https://github.com/zkSNACKs/WalletWasabi/commit/914803383b72ff336c8a2ef3b7ecafc1802e1879

[2018-08-16 13:48] #583 closed

[2018-08-16 13:50] nopara73 commented on #222
Ok, I'll review it. It shouldn't ruin anything.

[2018-08-16 13:52] nopara73 commented on #222
Now, on second thoughts, there is a chance it might ruin something when the client checks if the server done a correct transaction (since we cannot control when the users update software versions) so let's be careful.

[2018-08-16 13:54] nopara73 commented on #429
It's done.

[2018-08-16 13:54] #429 closed

[2018-08-16 14:06] nopara73 opened #618 "Linux - Minimize icon hangs"
![image](https://user-images.githubusercontent.com/9156103/44213513-2b50f300-a16e-11e8-9f40-fe33defcfc52.png)

Source: https://twitter.com/BarranquillaBTC/status/1030079492499402752

[2018-08-16 14:07] nopara73 commented on #222
The client checks how much money it gets back and if it is not as much as expects it won't sign.

[2018-08-16 14:35] cryptagoras commented on #583
Tested & verified 9148033
:+1:

[2018-08-17 12:12] nopara73 commented on #440
Your PR improves, but I don't feel like it fully resolves this issue. So I keep it open.

[2018-08-17 14:18] nopara73 commented on #617
I believe this change should be here in the following ways: https://github.com/zkSNACKs/WalletWasabi/blob/1995af8ad296ad525477c28b479c8f8a45b029ac/WalletWasabi/Models/ChaumianCoinJoin/CcjRound.cs#L306-L309

I should check the actual feerate and the feerate of the `UnsignedCoinJoin`. Then all the equal output. Then lower the feerate and equally distribute the difference to the outputs acquired by `

[2018-08-17 14:44] lontivero commented on #617
Yes, I think so. Just make sure that indistinguishable coins remain indistinguishable.

[2018-08-17 17:47] lontivero opened #621 "Rename WalletWasabi.Gui to Wasabi, WasabiWallet or WalletWasabi"
The wallet executable file should be called wasabi or wasabiwallet instead of WalletWasabi.Gui. At the same time, the Wasabi library should be calles Wasabi.Library, Wasabi.Common or similar.

[2018-08-17 18:54] nopara73 commented on #621
Issue acknowledged, and we'll deal with that, but renaming projects at this stage is not the way to go. It fucks up a lot of things, like github history.

[2018-08-17 18:54] #621 closed

[2018-08-17 19:15] lontivero opened #622 "Known Issues"
@nopara73 where can we keep this info? Could be add a `KNOWN-ISSUES.md` file?

----

## TTL expired
**TAGS** _tor_, _network_
This error prevents the Wallet to connect with the Wasabi sever. One probable reason is the machine running the wallet has incorrect time or timezone configured.

## Your user doesn't have permissions to modify the folder
**TAGS** _dotnet_, _linux_, _permission_
This error

[2018-08-18 10:00] nopara73 commented on #622
Here is good.

[2018-08-19 16:45] pagoda0 opened #624 "Wallet crashed while mixing resulting in lost coins"
Hi,
two days ago I left my Wasabi running while going away for the night with ~0.04 BTC to be mixed. While I was away apparently my disk got full for some Wasabi-unrelated reason leading to Wasabi crashing:

[code]
When I later found out, cleaned the disk and started the Wasabi Wallet Gui it failed with this error:

[code]
Next I tried to install Wasabi on a different machine and recover the coins

[2018-08-19 17:55] nopara73 commented on #624
Coins are not lost, just the wallet is too deep, no worry. There are two issues here, one is at recovery, and one is at load wallet.

We had a bug, where the mixing bloated the wallet file, which I fixed 11 days ago, here: https://github.com/zkSNACKs/WalletWasabi/commit/7b2ec917d92bb47be4bf7a3a2911d9aa1d491131

The problem was, whenever a mixing request didn't go through to the backend, new addres

[2018-08-20 08:29] #617 closed

[2018-08-20 10:10] pagoda0 commented on #624
hi,
thank you for your reply !

I dont think so. I created the wallet with the https://github.com/zkSNACKs/WalletWasabi/commit/ab073b9eb1939e7f2df621d741991f7cfdce562f. I use Wasabi from the repository (pulling and rebuilding when it notifies me there is a new version). The version that crashed was https://github.com/zkSNACKs/WalletWasabi/commit/914803383b72ff336c8a2ef3b7ecafc1802e1879

Seems like

[2018-08-20 12:36] nopara73 opened #625 "If wallet file gets corrupted, automatically fix it"
I think a backup should be kept of all wallets. And if the load of a wallet file fails, then try to load the backup.

[2018-08-20 12:37] nopara73 opened #626 "Review recovery wallet depth"
It might not be completely correct according to https://github.com/zkSNACKs/WalletWasabi/issues/624

[2018-08-20 12:41] nopara73 commented on #624
Both of this issues must be fixed, but I'd like to fix your specific issue first.
For the record here are the two issues tracked: https://github.com/zkSNACKs/WalletWasabi/issues/626, https://github.com/zkSNACKs/WalletWasabi/issues/625

Now back to your problem. As a test you recover your wallet on the `deepwallet` branch? I increased the recovery depth from 21 to 200, which should be sufficient to

[2018-08-20 13:19] pagoda0 commented on #624
Hi @nopara73
with recovery depth 200 I have been able to recover the coins on the other machine. Thank you :)

PS: I will use this opportunity to say that I have been following your initiative for a while and I think Wasabi Wallet is a breakthrough in Bitcoin whose importance is comparable only to LN. Good luck with everything !

[2018-08-20 14:15] nopara73 commented on #625
Resolved:
https://github.com/zkSNACKs/WalletWasabi/commit/a4b98b7be47434abb57f2bc05fe15e6571e2a1b8
https://github.com/zkSNACKs/WalletWasabi/commit/1e6cfa0693966b7be4067d7a5d29cecd2d026f82

[2018-08-20 14:15] #625 closed

[2018-08-20 14:20] nopara73 commented on #624
Thanks @pagoda0. I am trying. I am keeping wallet backups now, so your issue won't come up again. Btw, it was strange, because we are constantly terminating the process during development and the wallet file never got corrupted, but anyway, now we are autocorrecting it, so it's fine. I'm happy these kind of things come out at the beta.

I will resolve the wallet recovery depth before the 1.0 relea

[2018-08-20 14:20] #624 closed

[2018-08-21 19:43] lontivero opened #629 "Self-contained wasabi fails to start"
### General Description
Wasabi Wallet fails to start when it is published as a self-contained dotnet application.

### How To Reproduce?
[code]

### Operating System
Ubuntu 18.04

### Logs

**NOTE** Logs.txt file is empty, however the console display the following error:

[code]

@danwalmsley what does the `CompositionFailedException` mean?

[2018-08-21 22:45] davex25 opened #630 "Wallet fails to open"
When I click open on a mainnet wallet I created, animated gear icon appears next to "Loading..." button, but wallet never opens.  System becomes very sluggish.

I tried moving my .walletwasabi folder to a backup folder, and restoring my wallet from mnemonic words.  The wallet opened this time, and had a few entries in the history (but missing most of the transactions), and the wallet showed no bal

[2018-08-21 23:06] davex25 commented on #630
Also in case it has any relevance, on the frozen load wallet dialog, the status bar in the bottom left says "Synchronizing...", followed in the middle of the bar by "Missing Filters: 1"

[2018-08-22 06:50] nopara73 opened #631 "Check out Bitcoin Core 0.17.0"
Release notes: https://github.com/bitcoin-core/bitcoin-devwiki/wiki/0.17.0-Release-notes

For us, relevant changes could be:

- JSON transaction decomposition now includes a weight field which provides the transaction's exact weight. This is included in REST /rest/tx/ and /rest/block/ endpoints when in json mode. This is also included in getblock (with verbosity=2), listsinceblock, listtransaction

[2018-08-22 07:04] nopara73 commented on #630
## My Theory

We had a bug, where the mixing bloated the wallet file, which I fixed 14 days ago, here: https://github.com/zkSNACKs/WalletWasabi/commit/7b2ec917d92bb47be4bf7a3a2911d9aa1d491131

## Details

The problem was, whenever a mixing request didn't go through to the backend, new address was generated in the wallet file, this is why the recovery doesn't seem to work. Your wallet file is deepe

[2018-08-22 14:16] davex25 commented on #630
Yes the wallet was created more than 14 days ago.  You were right, I left it running yesterday and it had loaded by today.  I also tried removing those trailing entries after KeyState: 2, and opening it takes about a minute or two now.

But if I want it to open immediately, I need to do recovery to generate a new wallet?  It seems like there may still be a problem with recovery -- I am building ag

[2018-08-22 18:59] lontivero commented on #631
The binary release is not available yet. Simply follow the https://bitcoincore.org/bin/bitcoin-core-0.17.0/ link and you will get an 404 not found. In github releases tab we only have the 0.17.0.rc2.

I can compile it from the tagged 0.17.0.rc2 for linux. Do you think this is oaky? Or should we wait for the binary release?

[2018-08-22 19:02] nopara73 commented on #631
Sure, no rush.

[2018-08-22 19:35] nopara73 commented on #630
Recovery doesn't index as deep as it should, we have an open issue for that: https://github.com/zkSNACKs/WalletWasabi/issues/626

I'm still thinking what's the best way to fix that.

[2018-08-22 19:35] #630 closed

[2018-08-23 16:35] nopara73 commented on #626
Fixed: https://github.com/zkSNACKs/WalletWasabi/commit/75a07c41aabacb49661699621ad6207523a67cc0

[2018-08-23 16:35] #626 closed

[2018-08-23 16:35] nopara73 commented on #624
@pagoda0 I fixed the recovery issue, too. If you're still around, can you try it out to confirm?

[2018-08-27 12:19] nopara73 opened #634 "Rename `TorNotNeeded` test category"
There is a test category, called `TorNotNeeded` and only these tests are running on CI, because Tor is unreliable, so it results in problems. It'd be better to rename these to something like `RunOnCi`.

[2018-08-27 12:24] nopara73 opened #635 "Update submodules"

[2018-08-28 13:52] nopara73 commented on #265
Useful links:

- https://github.com/JesusMcCloud/netlayer
- https://github.com/JesusMcCloud/tor-binary/

I'm ready and integrated for Windows in the Tests project. Next up Linux: https://github.com/zkSNACKs/WalletWasabi/pull/636

[2018-08-28 18:48] nopara73 opened #637 "Update Backend"

[2018-08-28 18:48] nopara73 opened #638 "Make sure backend update script works properly"
It stopped working lately.

[2018-08-28 18:50] nopara73 opened #639 "What's the deal with Tor service and tor process in the backend?"
For some reason the Tor service doesn't seem to work, so I ended up using simply the tor process.

[2018-08-28 18:54] nopara73 opened #640 "Detect old Tor version somehow, so GUI and tests error out if it too old"

[2018-08-28 19:12] nopara73 opened #641 "Setup various Linux distro VMs for testing"
Currently I use Ubuntu 18.04 and Elementary OS for testing.
Note: Elementary OS is based on Ubuntu 16.04. Ubuntu is based on Debian.

It'd be nice if I'd make sure the two privacy OS are also working properly: Whonix and Tails. They likely do though, because they are built upon Debian so I may don't want to test just another Debian based distro.

[2018-08-29 09:36] qcmiao1998 commented on #564
I meet the problem too on Ubuntu 18.04
[code]

[2018-08-29 12:45] lontivero opened #642 "Banned coins are indistinguishable"
### Is your feature request related to a problem? Please describe.

As a user, I want to participate in a coinjoin round. I run Wasabi wallet and go to the _Coinjoin tab_ where I see there are x/y peers waiting then, I select a big enough coin to fit the minimum amount requirement and  press the _Enqueue_ button.

I expect to see my coin moved from the upper list to the _Coins being Coinjoined_ li

[2018-08-29 13:53] lontivero opened #643 "Don't ban honest users' coins"
I (and probably others too) have a coin banned and that's so painful for honest users. Those honest users cannot participate in a CJ for a month if they don't have more coins. Just take my case: I've received a coin and decided to mix it with others but I made a mistake and closed the wallet with CTRL+C (I wanted to copy some text from the console). Now the wallet is "useless" to me for a month be

[2018-08-29 15:52] nopara73 commented on #643
If you terminate the mix this way you are DoS attacking the mix. Banning is wanted in this context.

Actually you can send the money to yourself a couple of times. How many times it depends on the DoS severity, which is I think currently set to 1, so you have to spend the coin to yourself once (or twice don't remember exactly.) Anyway, this is just a hack and not addressing your concern.

If the u

[2018-08-29 15:52] #643 closed

[2018-08-29 15:54] nopara73 commented on #643
That being said, another issue can be opened, because banning is properly shown for the user. (Probably I already opened one though, so if you decide to open, please go through to not create redundant ones.)

[2018-08-29 15:59] nopara73 commented on #643
Nevermind, I see you've already created one: https://github.com/zkSNACKs/WalletWasabi/issues/642

[2018-08-29 16:04] nopara73 commented on #642
ACK

For one, as you said, they should not be able to enqueue banned coins. For this, the prerequisite is this issue: https://github.com/zkSNACKs/WalletWasabi/issues/588

That being said a user doesn't know it his coin is banned or not until it tries to register. So it will be able to enqueue anyway. So banned coins must also be automatically dequeued.

Finally, an issue has been opened to show if

[2018-08-29 16:12] nopara73 commented on #641
I installed Manjuro for one.

[2018-08-29 17:27] nopara73 commented on #542
The warnings on (Arch based) Manjaro Linux:

[code]

[2018-08-29 17:30] nopara73 commented on #542
I guess if we update https://github.com/VitalElement/AvalonStudio.Shell's and https://github.com/wieslawsoltes/Dock/'s NuGet packages the warnings will go away.

@danwalmsley, wieslawsoltes is there anything blocking us to do so? If no, I'd make the PRs.

[2018-08-29 17:33] nopara73 opened #644 "Add 32bit Linux Tor support"
Should be simple, after this PR is merged: https://github.com/zkSNACKs/WalletWasabi/pull/636

[2018-08-29 17:48] lontivero commented on #542
I've been downloading Arch for about an hour now. I will take a look at this once installed.

[2018-08-29 17:51] nopara73 opened #645 "Avalonia creates "Wasabi Wallet" folder"
On Linux it's in the user directory. This should not be created or if it's important, it should be created in our specified directory.

[2018-08-30 07:54] nopara73 commented on #634
I take it.

[2018-08-30 08:18] nopara73 opened #650 "Resolve Fedora dotnet restore warning"
[code]

[2018-08-30 20:41] lontivero commented on #542
@nopara73 did you do something spacial to compile wasabi in Arch? I am getting this error:
[code]
It is not a network problem, i am sure about it.

[2018-08-31 09:51] nopara73 commented on #542
I did install `dotnet-sdk` with packman, but there were no instructions on the .NET Core site.
https://wiki.archlinux.org/index.php/.NET_Core

[2018-08-31 11:07] nopara73 opened #651 "Make a who uses NBitcoin list"
Collect who uses NBitcoin and make a PR in the NBitcoin readme with the list. It'd be really useful to steal code from each other from time to time.

So far, I'm aware of Wasabi, StratisBitcoinFullNode, Stratis Breeze Wallet, SmartBit, BTCPay, NTumbleBit.

[2018-08-31 18:04] lontivero commented on #651
There are lots and lots of shitty projects referencing nbitcoin so, it did a small list (see this PR https://github.com/MetacoSA/NBitcoin/pull/519)

[2018-09-02 05:26] nopara73 opened #653 "Create Twitter bot monitoring the status of Mixing"
Credit due tor SirMeow for the suggestion: https://twitter.com/OneSirMeow/status/1035966576351215617

# Notes

The bot can make a call over Tor here: `wasabiukrxmkdgve5kynjztuovbg43uxcbcxn6y2okcrsg7gb6jdmbad.onion/api/v2/btc/ChaumianCoinJoin/states` which will return a json:

[code]

[2018-09-02 05:29] nopara73 opened #654 "Mainnet swagger doc doesn't work"
Not sure why, this is what I get:

![image](https://user-images.githubusercontent.com/9156103/44952548-e2917d80-ae81-11e8-88cb-9c0db43a51c9.png)

[2018-09-02 05:33] lontivero commented on #653
Just for the record, this is how I monitor the mixing:

[code]
My linux status bar shows me the mixing status all the time and looks like:

![image](https://user-images.githubusercontent.com/127973/44952559-86663380-ae58-11e8-9404-2211f54e6132.png)

[2018-09-03 06:28] #265 closed

[2018-09-03 06:28] #634 closed

[2018-09-03 06:28] #644 closed

[2018-09-03 06:29] nopara73 opened #655 "Fix tests those get stuck on 1 CPU VMs."
Some tests get stuck on 1 CPU VMs, like `GetExchangeRatesAsync` Fix them.

[2018-09-03 07:31] nopara73 commented on #542
Correction: not the NuGet packages of the `Shell` and `Dock` submodules, but the sdk must be updated.

[2018-09-03 07:33] nopara73 commented on #650
It wasn't the same. It's resolved.

[2018-09-03 07:33] #650 closed

[2018-09-03 07:41] nopara73 commented on #635
It's done.

[2018-09-03 07:41] #635 closed

[2018-09-03 14:36] blatherdrift opened #656 "API feature for integration into other systems"
### Is your feature request related to a problem? Please describe.

I have a small analytics program that labels my transactions in a graph data-base environment. It's useful for me to keep track of where my payments go on the blockchain.

### Describe the solution you'd like

It would be nice to have an API call or something that could send basic information like labels, TXID's, etc. That way I c

[2018-09-03 14:55] blatherdrift commented on #656
It would be nice, for example, for an API call to execute a swap

[2018-09-03 15:32] nopara73 commented on #656
Are you talking about a daemon? If so we have an issue to track this feature under the Meta repo, since this is not an direct improvement, but actually a new service to provide: https://github.com/zkSNACKs/Meta/issues/12

Btw, labels/history, etc are quite dynamic, we're matching downloaded full blocks with generated keys at every startup. We want to change this though and fix up the labeling syst

[2018-09-04 04:36] nopara73 commented on #542
For the record here's a screenshot:

![image](https://user-images.githubusercontent.com/9156103/45010261-e7cf0380-b00c-11e8-94bb-598b885bb51f.png)

[2018-09-04 04:44] nopara73 commented on #655
Reproduce it by setting up a Linux VM and set the processor count to 1.

[2018-09-04 20:10] cadayton opened #658 "Build of v0.8.0 failing Windows 10"
Build of v0.8.0 failing on Windows 10 with numerous 'error CS0246 The type or namespace name 'XXX' could not be found' errors.  I must be missing some unspecified requirement.
Git, .Net Core, Tor all above required levels.

[2018-09-05 07:16] nopara73 commented on #658
I suspect you did not update the submodule, but never mind now, I'd say start over, because I'm releasing the 0.9 (hopefully today) that made the whole install process much easier, since we now ship with Tor. All you have to do is (after getting Git and .NET Core):

[code]

And then you can run with `dotnet run` from the `WalletWasabi.Gui` folder.

[2018-09-05 14:39] #640 closed

[2018-09-06 13:02] gabridome opened #660 "System.MissingMethodException"
[code]

[2018-09-06 13:11] nopara73 commented on #660
Right, it turned out our UX framework (https://github.com/AvaloniaUI/Avalonia) is extremely buggy on OSX. For a while we were fixing the strange OSX exceptions we encountered, like this, but there were just too many, so now we are in the process of completely refactoring the OSX part of it: https://github.com/AvaloniaUI/Avalonia/pull/1789

[2018-09-06 16:11] nopara73 opened #661 "Elementary OS not working anymore?"
It seems like Elementary OS doesn't work anymore. The GUI is not showing up. Not sure what caused this.

[2018-09-07 16:44] danwalmsley commented on #660
Yes @nopara73 is correct this is a known issue and flaw in the avalonia ui frameworks OSX backend, we have a new one coming shortly that doesnt suffer from these problems..

[2018-09-08 09:16] nopara73 commented on #661
I don't know what's this strangeness is, but Elementary OS keeps freezing regardless of our software, even with freshly installed VM, so there might be VM issues there or something. I close this issue. If it becomes an issue for someone we'll look into it more.

[2018-09-08 09:16] #661 closed

[2018-09-08 19:03] cadayton commented on #658
So my issues was that I was using TortoiseGIT to clone and it was not loading the AvalonStudio dependency.  After switching to the CLI, I've successfully built v0.9.0.  We can attribute this issue to OE.

[2018-09-08 19:03] #658 closed

[2018-09-09 09:56] #654 closed

[2018-09-09 10:28] nopara73 commented on #639
Tor service is a piece of shit that doesn't work properly.

[2018-09-09 10:28] #639 closed

[2018-09-09 11:16] nopara73 commented on #637
Done

[2018-09-09 11:16] #637 closed

[2018-09-10 16:24] davex25 opened #663 "Development coordination via chat / forum"
Hi,

I've so far made a couple minor PRs for this project, but would like to get more involved.  Is there an IRC channel or slack where development discussions are happening?  If so, could this be added to the project readme?

Or if not, I suppose I could just start commenting on issues I find interesting, and maybe request to have them assigned to me if that makes sense.

[2018-09-10 16:47] nopara73 commented on #663
Hey hey, we use the TumbleBit Slack, which is semi-private, that is why it's not in the Readme. Send me an email and I'll invite you: adam.ficsor73@gmail.com

[2018-09-10 16:47] #663 closed

[2018-09-11 04:39] qubenix opened #665 "Please sign commits, tags, and releases"
Right now there are no signatures on the most recent commit at time of writing: `31c9b2844cc2edd14cd2debd36d411eda7c3bbaa`, or the most recent tag: `v0.9.1` (Github signs with its key `4AEE18F83AFDEB23`, but that does not mean anything). Also there are no detached signatures, or hashes (signed or not), offered with your releases since `v0.6.4`.

This forces users to put an extreme amount of trust

[2018-09-11 05:38] nopara73 commented on #665
Thanks, I'll look at these, I was doing and planning to keep signing binaries, it's just, since `v0.6.4` there were no binaries provided to sign in the first place, due to complete software rewrite, so that's why that stopped.

[2018-09-12 17:41] lontivero commented on #653
# Update
I've tried to deploy the TwitterBot to Heroku first. Heroku doesn't have built-in support for dotnet applications.

### Buildpacks
There are a couple of open source `Buildpacks` available on github to detect, compile and deploy ASP.NET applications after pushing the code into the Heroku git repository, those buildpacks consist of several bash scripts that I don't understand completely.  A

[2018-09-12 18:44] nopara73 commented on #653
How about AppHarbor? https://stackoverflow.com/a/4500355/2061103

Btw remember, here you are not developing a Bitcoin wallet, so a quick dirty solution is just fine:)

[2018-09-12 19:14] lontivero commented on #653
AppHarbor is for hosting ASP.NET sites and there is no way to install anything else (We need tor).

[2018-09-12 21:13] lontivero opened #666 "Fix generate wallet with empty password"
### General Description
When create new wallet and enter some password and then delete it, it fails with error "The passwords do not match"

### How To Reproduce?

1. Go to Wallet Explorer > New Wallet
2. Enter a valid wallet name,
3. Enter some password in the first Password textbox
4. Delete the entered password
5. Check the "Accept terms and conditions"
6. Click on "Generate" button

### Expect

[2018-09-12 21:55] lontivero opened #667 "History shouw 0.00 incoming tx"
### General Description

After a mixing, I can see an incoming tx with **0.00 bitcoins** in the History tab

### How To Reproduce?

IDK. It is not a problem with the transaction itself (4f1638538c7793cef02a3e938adabde4c295cc8f2c588479a499d3745612628a) because there is not such output.

### Screenshots
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubu

[2018-09-13 06:29] nopara73 opened #668 "Fix password type/delete bug"
Here there were a minor bug that came out, not sure exactly what the host did, but it didn't accept empty password at the end: http://www.youtube.com/watch?v=7yzmYgiXDqc&t=24m40s

It said "password do not match" when both pass and pass conf field were empty string (which should be valid.)

[2018-09-13 06:30] nopara73 commented on #668
Ops, I see I just opened a duplicated issue: https://github.com/zkSNACKs/WalletWasabi/issues/668

[2018-09-13 07:12] nopara73 commented on #667
Yes, the transaction doesn't seem to correspond with the history record. Can you reproduce it on testnet and then upload that testnet wallet here?

A bit of brainstorm: maybe it's a rounding error?

[2018-09-13 09:16] #666 closed

[2018-09-13 09:16] #668 closed

[2018-09-13 15:48] nopara73 opened #670 "DoS handled incorrectly"
I've seen rounds not finishing today and the backend started to ban a bunch of people.
Now, I've also noticed from the backend logs that Alices often time out instead of getting removed normally.
I've also noticed the backend wants to do rounds with anonymity set - 1 after the first anonset round failure.
I've also noticed from my client logs that the client noticed a bad roundHash (probably becau

[2018-09-13 18:01] lontivero commented on #667
It is not a rounding error. I would like to reproduce it on regtest but I don't fully understand the logic involved in the `HistoryTabViewModel::RewriteTable`.

What I see is that in some situations, when the coin's txid is found in the `txRecordList` it sums the current coin amount with the found amount and given those two amounts are equal (but different sign), the sum result is 0.

![image](htt

[2018-09-14 04:43] lontivero commented on #667
@nopara73 This is what is happening in my case: I've participated in a CoinJoin transaction (4f1638538c7793cef02a3e938adabde4c295cc8f2c588479a499d3745612628a) with 2 coins (inputs) and 2 outputs. However, in order to explain the ṕroblem here I just need one of those outputs.

Here you can see the 2 spent coins and 1 of the resulting outputs:

| spent | height|amount|outpoint| spent by txId|
|-----

[2018-09-14 05:42] lontivero commented on #670
hypothesis: given the roundhash is calculated from the Alices' outpoints, if we ban some of the Alice coin, then the roundhash changes and the rest of the clients don't know about this. When they want to sign referencing the old roundhash they all are banned. Can this be possible?

[2018-09-14 06:21] nopara73 opened #671 "General SOCKS Error when I shut down the server"
This is bad, because for GenSocksErr I assume outdated Tor and throw up a big band.

[2018-09-14 08:03] nopara73 commented on #670
@lontivero Yes, that's what was happening. I fixed it on the server side, so users don't have to update. It might have made more sense to fix it on the client side, but that'd require users to update, which sucks and that's more complicated.

https://github.com/zkSNACKs/WalletWasabi/commit/008ef2981cd68c87f177ce3c32f0e582bb323395

[2018-09-14 08:03] #670 closed

[2018-09-14 09:14] #671 closed

[2018-09-14 09:39] nopara73 commented on #667
Looking at it for half an hour now, not sure what's going on. A couple of notes:

Nobody participated with two coins in that CJ. I guess you mean two coins were queued at the time, but only one coin of yours were playing?

Other, so this is your input: 0.05013227 minus the output (0.05012922) = `0.00000305` satoshis. So the correct history record would be `-0.00000305` satoshis.

[2018-09-14 17:46] lontivero commented on #667
No, the following two coins (both were mine)
* 317af6a561bec89b48959f3fe6fc0635775d41b627a084bee61916b5d80e81fb-11 and,
* da2b1955035dfc45a0a2ff1870f43f8ed5245a58ddf8b1282bb0211f348b1f7d-10

were spent by the same coinjoin transaction 4f1638538c7793cef02a3e938adabde4c295cc8f2c588479a499d3745612628a. That what I mean.

If I follow that logic then, the result is correct.

[code]

[2018-09-14 18:57] nopara73 commented on #667
Then the history tab is correct -> 0.05012617 + 0.05013227 = 2 * 0.05012922.
And your change output was actually just an edge case optimization by me, so it'd look like it'd be another coinjoin. Which is pretty neat, isn't it? Take that Blockchain analysts!

[2018-09-14 18:57] #667 closed

[2018-09-15 04:06] nopara73 opened #672 "Make the backend to expose an html showing statistics"
Eg. number of users mixed. Inputs banned, total mixed, some graph and other things.

[2018-09-15 08:30] nopara73 commented on #645
This has been fixed for a while now.

[2018-09-15 08:30] #645 closed

[2018-09-15 14:14] nopara73 commented on #629
In Windows, it's the following:

[code]

[2018-09-15 14:50] nopara73 commented on #629
With the following `Program.cs`:

[code]
The following error is thrown:

[code]
So the issue is with Avalonia. @danwalmsley can you take a look at it?

[2018-09-15 15:37] danwalmsley commented on #629
You cant use win-x64 because skiasharp doesnt nuget package doesnt have a native lib for it, try win7-x64, its sinply a case that libskiasharp.dll isn't getting copied to output directory because of this.

[2018-09-16 15:46] nopara73 opened #675 "Distribute proper Tor binary only"
Right now, we're distributing all the Tor binaries to all users (win,linux,osx) regardless of which OS it is run on. This makes the final binaries larger.

It's not that important, though, because they're only 3MB and our final binaries are over 200MB.

[2018-09-16 15:48] nopara73 opened #676 "Reduce the final binary size by making the app culture independent"
There's this thing called ".NET Core Globalization Invariant Mode" however I either did it wrong or it didn't reduce the final size, not sure.

https://github.com/dotnet/corefx/blob/master/Documentation/architecture/globalization-invariant-mode.md

[2018-09-19 16:53] skyerjoe opened #678 "dont want to use the builtin tor"
A want to get rid of the bulitin tor

Cause i just use the tor browser for connection

how could i run wasabi without builtin tor ?

[2018-09-19 16:59] nopara73 commented on #678
The Tor browser runs a Tor daemon on a different port than the normal Tor daemon is ran, which it 9050. Figure out what's the port your Tor is listening on and change the Tor port in the Tools/Settings.

![image](https://user-images.githubusercontent.com/9156103/45768750-13bdcc00-bc3e-11e8-9061-37f2b04374fa.png)

[2018-09-19 18:10] manakill opened #679 "CoinJoin Rounds Failing"
The past day I've seen multiple rounds of CoinJoins fail.
This is the most recent one:
1d814e3ad26d): Confirmed connection.
2018-09-19 13:15:15 INFO IndexDownloader: Downloaded filters for blocks from 542
126 to 542126.
2018-09-19 13:15:21 INFO AliceClient: Round (4), Alice (5e1b38b1-f7ae-42d7-8bbd-
1d814e3ad26d): Confirmed connection.
2018-09-19 13:16:00 INFO AliceClient: Round (4), Alice (5e1b38

[2018-09-19 18:37] nopara73 commented on #679
The ones in your log was actually me testing round parameters. Whenever I change a round parameter, the coordinator aborts the existing rounds and creates new ones.

For the record, I was doing this, because I noticed that rounds were failing in connection confirmation phase. There's a user who doesn't follow up with the connection confirmation phase, so the coordinator bans her utxos, then restar

[2018-09-19 18:37] #679 closed

[2018-09-20 13:55] skyerjoe opened #680 "Lost Internet Connection Stange Behavior?"
Version: 0.9.1

the status from tor on the taskbar in the lower right corner doesnt change

even when the internet  connenction isnt established

is this normal ?

[2018-09-20 14:48] nopara73 commented on #680
The Tor status shows your connection to the Tor daemon, which runs locally, so that should be fine. However @molnard reported and working on an issue regarding lost internet connection, which I'm not exactly sure what was it, so I rename this issue and keep it open until fixed.

[2018-09-20 14:58] molnard commented on #680
Hi skyerjoe,
I think this is the same problem. I will fix it thank you for the report

[2018-09-20 17:14] skyerjoe commented on #678
Tor browser the port is  9150  .. thnx

[2018-09-20 17:14] #678 closed

[2018-09-20 17:16] skyerjoe commented on #680
Additional:

Im always behind an vpn

[2018-09-20 17:32] skyerjoe opened #681 "[Feature request] use testnet with coinjoin"
Is it possible to integrate the testnet blockchain with coinjoin in wasabi ?

[2018-09-20 18:29] nopara73 commented on #681
Yes. In fact right now the testnet CJ is set to anonymity set 2, so you could easily fire up two wallets and play with it.

Tools/Settings:

![image](https://user-images.githubusercontent.com/9156103/45839145-ce6bce00-bd13-11e8-9e47-e2bfd995242d.png)

[2018-09-20 18:29] #681 closed

[2018-09-20 19:52] skyerjoe opened #682 "[question] Missing filters what is it ?"
Whats is  the missing filters Indicator in the lower right

[2018-09-21 06:20] nopara73 commented on #682
In BIP157, Golomb-Rice filters must be generated by full nodes. Light wallets download these filters, and from them the wallet can figure out which blocks it is interested in in order to show the correct wallet balance for the user.

See BIP157 for in-depth explanation: https://github.com/bitcoin/bips/blob/master/bip-0157.mediawiki

See the section "Why are other light wallets not private?" sectio

[2018-09-21 10:33] #682 closed

[2018-09-21 13:01] skyerjoe commented on #681
If have no clue where i have to use coinjoin in wasabi
 I have testnet wallet on electrum and 2 on wasabi.

[2018-09-21 14:45] nopara73 commented on #681
After you Load the wallet, there's a CoinJoin tab.

[2018-09-21 18:31] skyerjoe opened #683 "[Issue] 18 txn-mempool - conflict"
Version:  0.9.1
I got these error buy an testnet to testnet transaction

Dont know what it is exactly and if its critical or not

It was just temporary the other transactions  had worked

Regards

[2018-09-21 18:34] skyerjoe commented on #681
Hello nopara

Yeah can see it but there are no queue coins  listed.

[2018-09-21 19:09] skyerjoe commented on #681
Ok now i can see the coins but before there were no coins listed  although ihold still coins in my wallet before

Weird

[2018-09-21 19:17] nopara73 commented on #683
It's a double spend. You are spending a coin that's already spent (but not confirmed.)
Can you reproduce it?

[2018-09-21 19:37] skyerjoe commented on #683
I could try on next time but im certainly sure that i dont spend double

Are there any,debug log in wasabi to trace this ?

Regards

[2018-09-21 20:03] lontivero commented on #676
We could also compress the filters file and save more than 20 MBs.

[code]

[2018-09-22 06:09] nopara73 opened #684 "Compress filters to reduce the final binary size"
As explained by @lontivero: https://github.com/zkSNACKs/WalletWasabi/issues/676#issuecomment-423655392

[2018-09-22 06:09] nopara73 commented on #676
It's done.

[2018-09-22 06:09] #676 closed

[2018-09-22 06:12] nopara73 commented on #683
Yes, there's a `Log.txt` file one level above the `Wallets` folder.

It's possible the testnet just being stupid, that happens often, although I didn't meet what you are describing nor on the testnet, nor on the mainnet.
That message definitely means the coin is already spent. Did you check in a block explorer?

[2018-09-22 13:52] skyerjoe commented on #578
Net: Testnet
Version:  0.9.1

I got still the same error.

`2018-09-22 14:32:01 ERROR CcjClient: System.Net.Http.HttpRequestException: Not Found
Alice not found.
   at System.Net.Http.HttpResponseMessageExtensions.ThrowRequestExceptionFromContentAsync(HttpResponseMessage me) in C:\Users\skyerjoe\WalletWasabi\WalletWasabi\Extensions\HttpResponseMessageExtensions.cs:line 89
   at WalletWasabi.WebCli

[2018-09-22 14:07] skyerjoe commented on #683
which block eplxorer is able to investigate the testnet ? i havent found any

i couldnt see any log.txt in my wasabi folder
where i can setup this ?

regards

[2018-09-22 14:15] skyerjoe opened #685 "[question] which updates i have to go with?"
Version: 0.9.1

how or which updates:
[code]
 i should have to go with to help u by debuging or  find issues ?

regards

[2018-09-22 14:38] nopara73 opened #686 "Never work next to the exe"
I created a Windows installer with Wix and I noticed that the software wasn't working. The reason being is that you can never work next to the exe, since that is located in the Program Files, which needs admin access and the software as launched it doesn't have that.

So, in AvalonStudio.Shell, the `Extensions` folder couldn't be created, thus the software failed to launch. The code below does thi

[2018-09-22 14:44] nopara73 commented on #578
@skyerjoe That is not the same. @AdamISZ reported an error right after the Beta launch that was fixed. however what you see is a normal response. I've lowered the anonymity set by hand today, so two rounds were abandoned, thus you got this response from the backend on the client side.

[2018-09-22 14:45] nopara73 commented on #683
https://testnet.smartbit.com.au/

Configuration, wallet and similar files can be found in %appdata%\WalletWasabi folder on Windows and in ~/.walletwasabi folder on Linux/OSX.

[2018-09-22 14:47] nopara73 commented on #685
Yes, those lines are updating the source code to be the latest.

[2018-09-22 15:12] skyerjoe commented on #685
Hello nopara

I know this but asome devs taking some unstable versions for tests

So should i update everytime i can?

[2018-09-22 15:43] nopara73 commented on #685
I think they are talking about the `packaging` branch, but there's nothing to test there, since I am well aware of the issues and keep fixing it right now.
It's actually just creating binaries/msi installers/ deb packages, etc...

[2018-09-22 15:55] skyerjoe commented on #683
determined infos  with the blockexplorer with all transactions

seems that all are valid

so i think i was an one time event cause i cannot reproduce the error egain

regards

[2018-09-22 15:55] #683 closed

[2018-09-22 16:28] skyerjoe commented on #685
So i can still  up to date when i play around with wasabi ?

[2018-09-22 16:29] skyerjoe commented on #578
Ah ok
Sorry for confusion

Regards

[2018-09-22 16:53] nopara73 commented on #685
Yes.

[2018-09-23 09:00] 402PaymentReq opened #687 "Banned before signing coinjoin"
### General Description
When register in a Coinjoin I get always banned just before signing. Been coinjoining with no issues since the first release. until the 3rd week of September, aprox. Wasabi always updated and tried different versions of tor. Currently 0.3.4.8. I've also tried with newly imported UTXOs. Same result.

### How To Reproduce?
The failure has been consistent during the last 4 or

[2018-09-23 12:28] skyerjoe commented on #681
Additional question:

Why it has  to be the wallet still open when i have coins in queue ?

Regards

[2018-09-23 12:45] nopara73 commented on #681
@skyerjoe If you kill the software and coins are enqueued, then the coordinator will time out your coin registration and everything will be fine. Except...

If the coordinator advances phase from Registration before it'd time out your Registration. Which will result in your coins being banned.

So it's better if you signal the coordinator that "hey could you remove my registration?" before you clo

[2018-09-23 14:09] molnard commented on #680
I have tested the problem with and without VPN. About 2 minutes after the internet connection is lost the taskbar should look like this:
![backendstatus](https://user-images.githubusercontent.com/9844978/45928895-c3e74980-bf4a-11e8-9e09-a64c0247349e.JPG)
As Nopara73 mentioned the Tor status is showing that the local Tor client is running or not. To answer your question: yes it is normal that the T

[2018-09-23 14:09] nopara73 opened #688 "Avoid Unknown Publisher when installing Windows .msi package"
This is happening currently in the packaging branch. Not sure what has to be done, parobably we have to get some certificate or something for this.

[2018-09-23 14:11] nopara73 opened #689 "Publish software to Microsoft Store"
I'm running out of gas, due to I'm working on two weeks now just to create the .msi installer for Windows, so I don't think it'll happen before 1.0 Release, thus I archive this task in this issue.

[2018-09-23 14:13] nopara73 opened #690 "Explore "Strong Naming""
It's something about signing assemblies and stuff. May be related to: https://github.com/zkSNACKs/WalletWasabi/issues/689 and https://github.com/zkSNACKs/WalletWasabi/issues/688

[2018-09-23 14:14] nopara73 commented on #680
Ok, closing this, due to it's a misunderstanding. It should be somehow avoided by better UX design, but at this point not exactly sure how.

[2018-09-23 14:14] #680 closed

[2018-09-23 14:59] nopara73 opened #691 "Incorporate WindowsInstaller project into the Packager project"
It will be pretty straightforward, there're 3 exe called: heat, candle and light. However I'd like the project to mature, before we remove it altogether. (Note, at this point, this applies to the packager branch.)

[2018-09-23 15:48] 402PaymentReq commented on #687
Update: Coinjoins back to normal during the entire day (23 Sept)

[2018-09-23 15:54] nopara73 commented on #687
@402PaymentReq For the record, there were new people who got banned recently.

[2018-09-23 15:56] nopara73 commented on #687
On the other hand, we can at least see that we have a working DoS protection in place: )

[2018-09-23 17:20] nopara73 opened #692 "Change to WIX v4"
There is zero documentation about it, but it's out, so we should consider changing in a few years.

[2018-09-23 17:44] nopara73 commented on #413
Currently this is how I imagine the packaging for the 1.0.

|         | Package       | Repository      |
|---------|---------------|-----------------|
| Windows | .msi          | Microsoft Store |
| Linux   | .deb, .rpm, ? | apt?, ppa?, ?   |
| OSX     | .dmg?         | Apple Store?    |

We'll provide the packages for Windows and Linux for the 1.0, I don't think OSX will be finished, I also thin

[2018-09-23 17:47] nopara73 commented on #686
Done for the Tor part. Regarding Wasabi, this issue is solved (not regarding the Shell though.)

[2018-09-23 17:47] #686 closed

[2018-09-23 17:47] #651 closed

[2018-09-23 21:04] skyerjoe commented on #680
Why not changing the Text "Tor" to "Tor Deamon" or sth like that

regards

[2018-09-23 21:34] skyerjoe opened #693 "Possible to Reduce the minimum Amount for queueing funds in coinjoin"
Is it  possible to reduce the minimum Amount for queueing in  coinjoin ?

0.05 BTC seems a little bit high for me cause i would use wasabi even for smaller payments

regards

[2018-09-24 04:49] nopara73 commented on #680
Would my grandma understand more from that? - No, she would be more confused, because now there are two words she doesn't understand instead of just one.

[2018-09-24 04:50] nopara73 commented on #693
It is not possible today. This research must be done first: https://github.com/nopara73/ZeroLink/issues/74

And then implemented.

[2018-09-24 04:50] #693 closed

[2018-09-24 16:11] lontivero commented on #690
What do we need SN for? This is something I studied more than 10 years ago and never used. It was simply for creating an unique identifier for assemblies that needed to be installed in the GAC.

[2018-09-24 16:45] lontivero commented on #684
I was wrong about this because all the packages (.deb, .rpm, .msi, etc) are compressed by default. Take for example the package for debian, the uncompressed files are **278MB** while the .deb package file is **152MB**.
[code]

[2018-09-24 16:51] nopara73 commented on #684
It came to my mind, too, but then I realized that it still makes sense, because of GitHub cloning.

[2018-09-24 16:52] nopara73 commented on #690
@molnard said it is something outdated, too (and I doubt it has any relevance to the above issues.) However he's reading back on it a bit and writes down his experiences here just to be sure.

[2018-09-24 17:04] lontivero commented on #684
git compresses the object before putting it into the wire.

[code]

[2018-09-24 18:33] #690 closed

[2018-09-24 19:19] nopara73 commented on #684
I'm convinced.

[2018-09-24 19:19] #684 closed

[2018-09-25 05:53] lontivero opened #694 "No logs are written when wasabi fails in early stage"
### General Description
Self-contained wallet doesn't work at ubuntu-xenial and doesn't write any log.

### How To Reproduce?

1) Use the following vagrantfile to create a virtualbox virtual machine.
[code]

2) Build Wasabi Wallet for linux and copy the publish folder into the vm.
3) execute the wallet (WalletWasabi.Gui)

### Screenshots

![image](https://user-images.githubusercontent.com/127973/4

[2018-09-25 08:30] nopara73 commented on #694
Create an `Extensions` folder next to the executable.

[2018-09-25 08:34] nopara73 commented on #694
Can you remove all our code from the Program.cs and only leave the Avalonia related one? You'll get the proper error.

Another thing is that, you may have to have an "Extensions" folder manually created next to the executable, otherwise there'll be permission issues.

[2018-09-25 19:17] nopara73 commented on #542
![image](https://user-images.githubusercontent.com/9156103/46037452-6c8ed800-c108-11e8-8981-f2a68121b839.png)

[2018-09-25 19:17] #542 closed

[2018-09-25 21:19] skyerjoe commented on #680
Then u have to reduce it on one symbol ( like as in etherum) for the whole connection and bring the tor symbol in the background.

but as u said its just an minor issue.

regards john

[2018-09-26 01:47] Transisto opened #695 "Wallet password, handling of return character."
Password field accept return character when copy pasted.

I copy pasted a password and later found it it wouldn't work. It took me a long while to figure out I had mistakenly included a return character at the end of it when copy-pasting the password.

To reproduce, copy a list of new line in the password field, each one is shown as a *

Not sure is this is expected behavior but
Most password fiel

[2018-09-26 06:15] nopara73 commented on #695
I think simply trimming the return character from the end would be the right solution here.

Also we should add "hit enter, do button click" at sometimes in the future, but that's a different, loosly related issue. (And @lontivero did that once, but it doesn't seem to work anymore, not sure why?)

[2018-09-26 07:53] nopara73 commented on #695
I take this.

[2018-09-26 08:53] trevorwidger opened #696 "Failure to Install on Windows (most frequently with Boot Camp) - Solved"
Hello everyone. This is my first time using Git. I believe I've followed every step I was supposed to in order to install Wasabi Wallet, yet I receive the following message once I type "dotnet run:"

Any ideas on what I'm doing wrong??

[2018-09-26 09:09] nopara73 commented on #696
As we established on Reddit, you followed the instructions properly (since neither the .msi worked), so it's a software bug.

First, can you tell me your OS version and default language? (Type `winver` in command line.)

Second I also noted on Reddit I've met this exception many time before and this happens when something is wrong with Avalonia, and so if we only leave only the Avalonia stuff in t

[2018-09-26 10:26] trevorwidger commented on #696
Following your instructions, here is the exception:

[2018-09-26 10:44] nopara73 commented on #696
That's just a warning (which is normal, because I did remove the async methods.) Isn't there anything else you get after that?

Other things those came to my mind that may affect it:
- Is your Windows non-English?
- Are you running it from not home so there may be some constraints I'm not aware of?

Also note that, I'm developing on the exact same OS to version :/

[2018-09-26 11:07] trevorwidger commented on #696
The language is English. The only other factor that might influence is I'm running Windows through Bootcamp on Mac. But that really shouldn't make a different should it? I guess I'm confused. After I hit "donet run" Should the wallet magically appear? Or do I need to be signed into Git online or desktop to access it???

[2018-09-26 11:14] trevorwidger commented on #696
I also have a VPN running and am on a "hidden" wifi network. But literally I don't see how any of these could impact it. Especially since anonymity is the purpose.

[2018-09-26 12:00] nopara73 commented on #696
It should not appear, it should just tell you a different, more correct error message, than the `Unhandled Exception: System.ArgumentNullException`. (Which I have no idea why, I simply noticed it that when this exception comes that can mean a bunch of other things and if I remove a part of the code the correct exception appears.)

Maybe. I cannot think of anything else so this might be a good test

[2018-09-26 12:08] trevorwidger commented on #696
I do not get any other messages beyond that. But you said the wallet shouldn't appear. So if the Wallet does not magically appear after I hit "dotnet run," how do I access the wallet? I'm sorry, this is my first time trying any of this.

[2018-09-26 12:29] nopara73 commented on #696
You can't access the wallet, since there's an issue that we are trying to solve now. And I am admittedly running out of (reasonable) ideas. @lontivero?

[2018-09-26 14:12] lontivero commented on #696
I was able to reproduce it doing this:

[code]

[2018-09-26 14:15] danwalmsley commented on #696
@nopara73 we might need to print any inner exceptions?

[2018-09-26 14:34] trevorwidger commented on #696
lol so is there anything I can do on my NOOB end??

[2018-09-26 14:38] lontivero commented on #696
@trevorwidger not sure. It could help if you could share here the content of our wasabi client folder:
[code]

[2018-09-26 16:47] nopara73 commented on #413
Ok, for the 1.0, this is what we'll have (hopefully the Linux, too.) Plus DigiCert code signing is in the works.

![image](https://user-images.githubusercontent.com/9156103/46095280-6fe39b80-c1bc-11e8-9dfd-cf8dd09badb2.png)

Later we'll optimize it. It turns out I can do Linux scripts from my local machine with wsl from C#, so that makes the packaging much easier.

[2018-09-26 16:47] #413 closed

[2018-09-27 00:42] manakill commented on #696
I am also getting this exact error - Windows 7 laptop. What's odd is it is running fine on another Windows 7 machine of mine.

....
Build succeeded.
    0 Warning(s)
    0 Error(s)

Time Elapsed 00:00:04.68

C:\Users\null\WalletWasabi\WalletWasabi.Gui>dotnet run

Unhandled Exception: System.ArgumentNullException: Value cannot be null.
Parameter name: path
   at System.IO.Path.GetFullPath(String pa

[2018-09-28 08:36] trevorwidger commented on #696
so there's nothing I can do at this point? isn't this supposed to be released Oct. 1??

[2018-09-28 11:28] nopara73 commented on #696
No, nothing, until we fix the logging issue. (https://github.com/zkSNACKs/WalletWasabi/issues/694)
Also I have also access to 4 different Windows computers, hopefully it'll happen in one of them.

So, the ball is at us now.

[2018-09-28 14:18] nopara73 commented on #696
This is the Avalon shell bug. (https://github.com/VitalElement/AvalonStudio.Shell/issues/11) Since @trevorwidger did not succeed to use the .msi (where this is hacked around that says you did not reproducing this issue. (It wants to create an Extensions folder next to the binary.)
I circumvented it in the releases by creating the folder with the packager. I guess I just create the folder build tim

[2018-09-28 14:30] nopara73 commented on #696
If the user doesn't want to use the logger, it doesn't initialize it. Btw, yes that's the reason why the logger doesn't work, because it's initialized too late if Avalonia/AvalonStudio.Shell exceptions out.
However we started out as having the Logger initialization outside `BuildAvaloniaApp().AfterSetup`: https://github.com/zkSNACKs/WalletWasabi/commit/084bf91d16b3bd56b2945d7a48ffad0c6cca9522#diff

[2018-09-28 14:32] nopara73 commented on #696
@trevorwidger @manakill Please update your Wasabis:
[code]

This might solve your issues. If it doesn't then you'll get a proper exception to the console. (While it unfortunately won't be yet logged to the Logger.txt just yet that's yet to be done.)

[2018-09-28 14:40] nopara73 commented on #694
@lontivero I think that specific issue went away already (see my comments here: https://github.com/zkSNACKs/WalletWasabi/issues/696#issuecomment-425450523)
Yet, it still won't get Logged, so this issue should stay unclosed.

[2018-09-28 15:06] nopara73 commented on #694
Fixed: https://github.com/zkSNACKs/WalletWasabi/commit/b610dac5f5ec7f543239599e2634b9718384e340

[2018-09-28 15:06] #694 closed

[2018-09-28 15:07] nopara73 commented on #696
@danwalmsley It turns out OSX doesn't fail if I initialize the Logger before Avalonia. (Not sure what was the issue there, but I think we didn't see the window, now we see it. Maybe only the wallet components must be initialized after avalonia, the Logger doesn't make a difference.) https://github.com/zkSNACKs/WalletWasabi/commit/b610dac5f5ec7f543239599e2634b9718384e340

[2018-09-28 17:17] manakill commented on #696
Time Elapsed 00:00:03.05

C:\Users\null\WalletWasabi\WalletWasabi.Gui>dotnet run
Avalonia.Markup.Xaml.XamlLoadException: Error loading xaml at resm:AvalonStudio.Shell.Icons.Icons.xaml?assembly=AvalonSt
udio.Shell: Could not convert object 'F1M16,16L0,16 0,0 16,0z' (of type System.String) to {clr-namespace:Avalonia.Media;
assembly=Avalonia.Visuals}Geometry: Unable to load DLL 'libSkiaSharp' or one

[2018-09-28 21:07] nopara73 commented on #696
@manakill This is awesome! Thanks!
`Unable to load DLL 'libSkiaSharp' or one of its dependencies: The specified module could not be found.`

We already had this issue in publish-time, which we "solved" by targeting `win7`. But now, it turns out, this issue comes up on a Windows 7 computer at compile time.

[2018-09-28 21:32] trevorwidger commented on #696
So what's the issue with Windows 10 Pro for users such as myself?

Trev

[2018-09-28 21:55] nopara73 commented on #696
@trevorwidger A dll is missing. (Assuming you get the same `libSkiaSharp` missing issue. Could you check that?

Also note, it's not Windows 10 Pro issue, since we couldn't reproduce it on Windows 10 Pro and so we still couldn't figure out how to reproduce it or what's causing this issue. Nevertheless it is may be enough information for us to solve it by reviewing how everything should work. (And h

[2018-09-28 21:58] nopara73 commented on #696
Ok, so to make it simpler to understand. The problem is that the selected file on the pic below is missing at you and we don't know why yet.

![image](https://user-images.githubusercontent.com/9156103/46235348-3a84ac80-c37a-11e8-88bf-ab6223931502.png)

[2018-09-29 01:03] nopara73 commented on #696
Yup, that's the same missing `libSkiaSharp` dll issue.

[2018-09-29 01:38] trevorwidger commented on #696
so how do i fix it?

Trev

[2018-09-29 02:34] trevorwidger commented on #696
I guess my question is how do I get the file so I can place it in the folder??

[2018-09-29 10:50] nopara73 commented on #696
If you want to go down that hack here's my file, it'll probably be the right one for you, too: https://drive.google.com/file/d/1QyX8DhDbVYqUC33d_K0oktIrg574wCd5/view?usp=sharing

[2018-09-29 19:10] manakill commented on #696
I tried the .dll file hack and still get the same errors.

I see a lot of references to C:\projects\Avalonia\  in the error output
C:\projects\Avalonia\ doesn't exist on this machine, so maybe that's related? Maybe windows machines need dependencies?

[2018-09-30 21:36] nopara73 commented on #696
Just to keep this thread updated, I've tested on two win7 machines and the issue didn't come up. Still have a win10 to test left.

[2018-10-01 01:58] trevorwidger commented on #696
I have ensured the .dll file exists and still receive this error

[2018-10-01 03:28] trevorwidger commented on #696
Update, y'all. I installed it perfectly fine on macOS High Sierra. The
whole purpose of me partitioning to Windows 10 was because of the alleged
issues with macOS. Seems to be the reverse in my case.

On Sun, Sep 30, 2018 at 4:36 PM nopara73 <notifications@github.com> wrote:

[2018-10-01 03:30] trevorwidger commented on #696
Update update: It does constantly crash. So there's that... on macOS. But
it can at least run I suppose.

On Sun, Sep 30, 2018 at 10:28 PM Trevor Widger <widgertrevor@gmail.com>
wrote:

[2018-10-01 08:12] nopara73 commented on #696
@danwalmsley Can you take a look at the exceptions? I'm getting out of ideas here, other than desperately try to find a Windows I have physical access to where I can reproduce this failure.

@trevorwidger Regarding macOS, we are completely rewriting the UI backend for that, so those exceptions won't go away over time one by one, but rather all will go away at once, when the work is ready.

[2018-10-01 12:28] nopara73 commented on #687
As step 1 for mitigating this issue, I've made the banning duration configurable and lowered it from 1 month to 24h. This is already deployed.

[2018-10-01 13:11] nopara73 commented on #687
As step 2 (and maybe the final step) I've lowered the random response delays, now everyone should have enough time to respond in time and not get banned.

[2018-10-01 13:13] nopara73 commented on #687
@402PaymentReq However, I am worried about the "wrong witness provided" part in your logs. I'm not sure why that's happening, nor have any idea at the moment on how go about that.

Can you update me in a week or so if it's fixed or not?

[2018-10-01 13:33] 402PaymentReq commented on #687
Been coinjoining during this whole week OK. Will update and comment if I stumble upon any issue (I'm doing this every day, so silence on my part means "OK")

[2018-10-01 13:39] nopara73 commented on #687
Then this issue won't be catched by you I'll consider this resolved until someone screams otherwise.

[2018-10-01 13:39] #687 closed

[2018-10-01 14:43] nopara73 commented on #696
It turns out I found a computer where it doesn't work, so I'll be able to work on it (assuming it's the same issue.)

[2018-10-02 11:31] nopara73 commented on #558
It's been long fixed.

[2018-10-02 11:31] #558 closed

[2018-10-02 11:34] nopara73 commented on #444
Another idea.

![image](https://user-images.githubusercontent.com/9156103/46346303-e0b90680-c647-11e8-9973-da0785a4536d.png)

[2018-10-02 14:39] nopara73 commented on #696
This error seems to be consistently happening on Boot Camp. @manakill are you using that setup, too?

[2018-10-02 14:58] davex25 opened #699 "UI sluggish and high CPU usage after running several days."
After Wasabi runs for a few days, CPU usage runs between 50% and 100%, and parts of the UI are very slow to respond.  I've noticed tooltips listing anonymity set become extremely slow (first draws box for tooltip, then 10-20 seconds text within the box appears), and send address box does not respond for 10 seconds after pasted in.  Strangely, other parts of the UI still appear to have normal respo

[2018-10-02 15:30] nopara73 commented on #696
I was able to reproduce this issue with an Avalonia sample and reported this issue: https://github.com/AvaloniaUI/Avalonia/issues/1940

[2018-10-02 15:53] nopara73 commented on #696
Turns out this thing must be installed and the software will run: https://www.microsoft.com/en-us/download/details.aspx?id=52685

I'll figure out how we can include this prerequisite. For now, @manakill @trevorwidger can you make sure installing VC++ Redistributable resolves your issues?

[2018-10-02 17:01] manakill commented on #696
@nopara73 I'm not using BootCamp. I will try the fix soon and report back

[2018-10-02 18:03] trevorwidger commented on #696
Will attempt to download and try tonight

[2018-10-02 21:32] nopara73 commented on #696
I've fixed the issue without the need of installation. However I was not able to test it, so can I ask @manakill or @trevorwidger one of you to test it?

1. First, if you've installed the VC++ Redistributable, please uninstall it and make sure the software doesn't work.
2. Next update your code: `git pull && git submodule update --init --recursive`.
3. Then change branch: `git checkout redist`. An

[2018-10-02 21:57] manakill commented on #696
@nopara73 sorry for the delay man, I will post update as soon as I can. I won't be at that machine for another 3-4 hours.

[2018-10-02 22:35] trevorwidger commented on #696
I'm also away from machine for a bit but will do so asap!

Trev

[2018-10-02 22:56] nopara73 commented on #696
No hurry guys, I'm just about to sleep: )

[2018-10-03 15:16] nopara73 commented on #696
@trevorwidger @manakill I merged it to the master, so no need to do above branch changing things (except the uninstall of C++ redist, if you've already installed it, so to make sure my modifications fixed it.)

Simply update and should work:
[code]

[2018-10-03 15:32] manakill commented on #696
I was just able to try. The branch redist wasn't found. I rebuilt and ran and it loads!
Win7 Ultimate v6.1 build 7601 sp1

[2018-10-03 17:17] manakill commented on #696
@nopara73 Just tested on Win10 Pro machine, runs great too!

[2018-10-04 12:39] hgergoil commented on #696
It works!!! Thank you @nopara73

[2018-10-04 13:06] #696 closed

[2018-10-04 20:30] davex25 opened #704 "UI locks up when generating receiving address"
I had been running Wasabi for a few days in order to reproduce #699, and then tried to generate a new receiving address.  The UI completely froze, but console messages continued to appear.  I ran a perf trace and see nothing happening with Avalonia (unlike in #699).

See attached perf log [uilockup.perf.data.gz](https://github.com/zkSNACKs/WalletWasabi/files/2448013/uilockup.perf.data.gz).

Put lo

[2018-10-04 20:36] nopara73 commented on #704
We could run it on a different thread and crypto operations would be solved. However I encountered a pretty damn crazy threading issue in the past that only happened in one Linux distro: Fedora or Manjuro, I don't remember.
My point is, .NET Core has some threading issues on some Linux distributions.
Also it seems that when I only assign one CPU for the virtual machine (distro independently) then

[2018-10-05 02:49] lontivero commented on #704
@davex25 this perf.data without the /tmp/perf-15423.map is useless because the debug symbols are not available. The only thing that your perf.data file shows us is that the problem is related to threads management.

![image](https://user-images.githubusercontent.com/127973/46513666-1f111a00-c830-11e8-8813-8ab5db414920.png)

[2018-10-05 14:21] davex25 commented on #704
[tmp.tar.gz](https://github.com/zkSNACKs/WalletWasabi/files/2450672/tmp.tar.gz)

[2018-10-05 18:05] Transisto opened #706 "result logs after updating wasabi, "build failed""
`remote: Enumerating objects: 182, done.
remote: Counting objects: 100% (182/182), done.
remote: Compressing objects: 100% (22/22), done.
remote: Total 433 (delta 161), reused 176 (delta 160), pack-reused 251
Receiving objects: 100% (433/433), 2.26 MiB | 0 bytes/s, done.
Resolving deltas: 100% (253/253), completed with 59 local objects.
From https://github.com/zkSNACKs/WalletWasabi
   d81bdfc..873

[2018-10-05 18:57] nopara73 commented on #706
This must be something really stupid. It doesn't find NBitcoin. Try things like:
1. Give it some time.
2. Restart your computer.
3. Write `dotnet restore`
4. Download NBitcoin manually: https://www.nuget.org/packages/NBitcoin/4.1.1.50

[2018-10-05 19:00] lontivero commented on #704
Thanks @davex25. The problem that I see in the `perf.data` is that a lot of cpu is used every time a new transaction enters in the wallet's mempool. This is because the time consumed by processing the incoming transactions increases while the size of the mempool grows.

Given the mempool is a forever-growing list of transactions, that only removes transactions when they are found in a block (i can

[2018-10-05 21:55] Transisto commented on #706
You were right, rebooted computer and it solved itself.

[2018-10-05 21:55] #706 closed

[2018-10-05 23:05] nopara73 commented on #704
I would like to point out two things.

I was worried about the forever growing mempool but you said it doesnt matter. So you were wrong and badn bad, bad job Lucas!

I couldxve never figure "firstordefault" over 10 times less performant than "contains." So you were right and great job Lucas!

[2018-10-06 02:56] bitsolemn opened #707 "error NU1202: Package System.Collections 4.3.0 is not compatible with netcoreapp2.1"
ully compatible with your project. [C:\Users\asdf\WalletWasabi\WalletWasabi.
Gui\WalletWasabi.Gui.csproj]
C:\Users\asdf\WalletWasabi\WalletWasabi.Dependencies\AvalonStudio.Shell\src\
AvalonStudio.Utils\AvalonStudio.Utils.csproj : warning NU1701: Package 'System.G
lobalization 4.0.11' was restored using '.NETFramework,Version=v4.6.1' instead o
f the project target framework '.NETStandard,Version=v2

[2018-10-06 04:30] bitsolemn commented on #707
failed to run as admin

[2018-10-06 16:02] lontivero commented on #704
# Wasabi versions comparison

I decided to see how the 0.9.1-beta-3 performs in comparison with the latest version in the master branch after running for 10 hours.

### Wasabi 0.9.1-beta-3
The mempool contains 89785 transactions, it uses 250.6 MBs RAM and 2% CPU (at the moment of start it, it used 160 MSs RAM and 0% CPU).

![image](https://user-images.githubusercontent.com/127973/46567909-b8b0f800

[2018-10-06 20:17] nopara73 commented on #704
I did test, too. I can confirm, there is a memory leak. (Windows 10)

I have 700,000 transaction in the mempool (one order of magnitude more than @lontivero above) and the memory usage is 1GB.

[2018-10-07 14:23] christroutner opened #708 "Build Fails on Ubuntu 18.04"
### General Description
I'm running a fresh install of Ubuntu 18.04 LTS and followed the installation instructions in the README.

### How To Reproduce?

1. Install Ubuntu 18.04 from ISO on Virtualbox
2. Follow the directions in the [README](https://github.com/zkSNACKs/WalletWasabi/blob/master/README.md) to install .Net core 2.1 SDK and build the wallet.
3. Observe the following errors.

### Opera

[2018-10-07 15:25] #708 closed, assigned to nobody

[2018-10-08 01:43] lontivero commented on #704
I've made some changes in NBitcoin and it seems to be fixed.

![image](https://user-images.githubusercontent.com/127973/46589631-4eb76080-ca82-11e8-8e65-cab85bcb554c.png)

I will make a PR now.

[2018-10-08 13:54] lontivero commented on #631
I don't see where we can use those new fields/methods. Could you @nopara73 give me some extra info about this task, please?

[2018-10-08 14:08] nopara73 commented on #631
Closing this, I've created this issue a long time ago and already updated (not the servers yet, isnt up on ppa)

[2018-10-08 14:08] #631 closed

[2018-10-08 14:52] feitianlong opened #709 "npm WARN package-lock.json: No repository field"
Follow the setup instructions for hiddenwallet-v0.4.5-tumblebit  to acquire the expubkey.
According to [step to step](https://github.com/zkSNACKs/WalletWasabi/tree/hiddenwallet-v0.4.5-tumblebit#step-by-step)
when I execute step 8, I encountered the following problem.
[code]
platform identifier: win10-x64

Should i do for setup hiddenwallet??

[2018-10-08 15:00] nopara73 commented on #709
hiddenwallet-v0.6 branch is the HiddenWallet that was in production, although it never made it out Alpha. And I also archived its Releases, since Wasabi is its successor.

The TumbleBit branch was never fully finished. It was archived just in case. That was the moment, when I realized with CoinJoin we can do much better: https://github.com/nopara73/ZeroLink/

If you are looking for TumbleBit code

[2018-10-08 15:00] #709 closed

[2018-10-08 15:02] nopara73 commented on #699
I think the conversation regarding this, somehow went to this thread: https://github.com/zkSNACKs/WalletWasabi/issues/704

[2018-10-08 15:03] nopara73 commented on #699
@lontivero Do you think you fixed this issue here: https://github.com/MetacoSA/NBitcoin/pull/550 or you just fixed an issue, but there're probably others?

[2018-10-08 17:08] lontivero commented on #699
I fixed it. There are no more leaks.

[2018-10-08 20:13] nopara73 commented on #704
This issue is probably fixed by this: https://github.com/zkSNACKs/WalletWasabi/commit/3ab79debeace6e22451b0870610602466c244b35

Hope @davex25 can confirm.

However, @lontivero, in this issue we were actually talking about this issue all along: https://github.com/zkSNACKs/WalletWasabi/issues/699

[2018-10-09 10:56] nopara73 opened #711 "Fix Website Issues"
There are a couple of issues my terrible html knowledge and lack of time couldn't make it work. Like scaling and stuff.

For someone who'd take this task, the architecture of the website is the following: https://github.com/zkSNACKs/WalletWasabi/tree/master/WalletWasabi.Backend/wwwroot

The website can be reached here: http://wasabiukrxmkdgve5kynjztuovbg43uxcbcxn6y2okcrsg7gb6jdmbad.onion/

We have

[2018-10-09 12:35] cryptagoras opened #712 "System.OverflowException when starting wallet"
### General Description
After updating to the latest commit ( 6c26a9ba1cb81a29352dcf80f47ea6de82851776 ) when I try to start the wallet I get the following error.
(I have used it extensively in the previous versions)

### Logs
[code]

### Operating System

Ubuntu 16.04 LTS

[2018-10-09 13:35] nopara73 commented on #712
Just to rule out the obvious things, did you do `submodule update --init --recrusive`?

[2018-10-09 13:38] cryptagoras commented on #712
Yes, I had done that, which did nothing, and I just tried again, even with --force.
Built again and I'm getting the same error still.

[2018-10-09 13:42] nopara73 commented on #712
I tested on my Ubuntu 16.04 and it works fine.

![image](https://user-images.githubusercontent.com/9156103/46673278-b3390380-cbd9-11e8-84ab-e0e32da7698f.png)

What happens if you try the newly released binary?https://github.com/zkSNACKs/WalletWasabi/releases/tag/v0.9.3

[2018-10-09 13:46] nopara73 commented on #712
It looks like NBitcoin's `AddressManager`'s initialization fails with the overflow exception: `AddressManager = AddressManager.LoadPeerFile(AddressManagerFilePath);`

@NicolasDorier, did you change something in NBitcoin there?

[2018-10-09 13:47] NicolasDorier commented on #712
Not that I remember of. The last commit was about solving a high CPU issue with it, the fix came from Bitcoin Core.

[2018-10-09 13:51] nopara73 commented on #712
@cryptagoras Try deleting your `~/.walletwasabi/client/AddressManager` folder, these are not Bitcoin addresses, just addresses of Bitcoin nodes your client stores locally to connect to peers faster. My theory is that, maybe the change is somehow incompatible with old address manager file in some strange scenario.

And so when you do that, what exception does `dotnet run` throws, after deleting the

[2018-10-09 13:55] cryptagoras commented on #712
Deleting that folder worked, seems to work fine now.

[2018-10-09 14:03] nopara73 commented on #712
Ok, that's what I'm going to do then. Catch the exception and autocorrect:
https://github.com/zkSNACKs/WalletWasabi/commit/1564e6a39beea9081453d302b47dd96ffd7674f2
[code]

[2018-10-09 14:03] #712 closed

[2018-10-09 14:07] cryptagoras commented on #712
Cool, I just tried it with the old `~/.walletwasabi...` and fix works. Cheers.

[2018-10-09 14:15] lontivero commented on #712
I've found the problem in NBitcoin. Fixing it now.

[2018-10-09 14:29] lontivero commented on #712
Ok. It is not a NBitcoin problem but a **corrupted file problem**. This happens when the file size is smaller than 32 bytes so, the following line throws a `System.OverflowException` exception.
[code]

https://github.com/MetacoSA/NBitcoin/blob/02f84186eb363273d48b4b208c9aab40c39e7fdf/NBitcoin/Protocol/AddressManager.cs#L288

Having a peers table file with size smaller than 32 bytes is just one of

[2018-10-09 14:32] nopara73 opened #713 "Website white green contrast on some platfoms"
https://twitter.com/FXTradingCharts/status/1049666432143949824

[2018-10-09 14:43] nopara73 commented on #712
I was thinking of catching all exceptions generally, but I'm afraid that'd be overkill. What else could be done is to try to ruin the file as many ways as possible and then catch and autocorrect them, too.

[2018-10-09 20:11] nopara73 commented on #653
Someone did it, not sure who: https://twitter.com/WasabiAnnouncer

[2018-10-09 20:11] #653 closed

[2018-10-10 00:57] lontivero commented on #699
@davex25 thanks for these files.

### Long startup times
After analyze them I can see in `perf.data.startup` that the
`WalletWasabi.KeyManagement.HdPubKey::GetP2wpkhScript` is taking a big percentage of the execution time. Could you tell me how long it takes for you to load this wallet? What's the version you are using (git log -1 --oneline)?

### High CPU usage
I see most of the time is spent by

[2018-10-10 03:14] tralfaz44 opened #714 "CoinJoin Fee descriptor"
Hi, I'm pretty sure that I heard you say on a podcast that the CoinJoin fee is .3% or currently about $20/BTC. I just installed Wasabi and am looking through it, and on the CoinJoin page the fee is
shown at .003%, which is about 20 cents / BTC. Pretty sure that's wrong, and I would expect some people might use it and be unhappily surprised by the real (still very reasonable) fee.

[2018-10-10 04:39] lontivero commented on #699
@davex25 could you test this PR? https://github.com/zkSNACKs/WalletWasabi/pull/715

[2018-10-10 09:00] nopara73 commented on #714
We weren't wanted to charge 0.3% when we cannot provide you with the anonymity set of 100.
So, it's actually `.003% per anonymity set`, which at 10 participant rounds would be `0.03%` and at 100 participant rounds would be `0.3%`.

[2018-10-10 09:00] reactive-relations opened #716 "Coordinator Occasionally Refuses Witnesses"
### General Description
I started a coinjoin operation. It was partly working, took out some of the jobs from the queue as well.
For hours my coins were not mixed, even though I saw a round of mixing being finished.

 System.Net.Http.HttpResponseMessageExtensions.ThrowRequestExceptionFromContentAsync(HttpResponseMessage me) in C:\Users\Adam\WalletWasabi\WalletWasabi\Extensions\HttpResponseMessageE

[2018-10-10 09:14] nopara73 commented on #716
No user signed for some reason.

My theory is the Tor instance or the Internet of the coordinator went offline for a few seconds in signing phase at 02:08, UTC. Thus, the coordinator thought banned who did not sign the transaction, which was everyone.

This is quite unfortunate and there wasn't any example of this happening before.

I manually removed all the bans today.

[2018-10-10 11:33] nopara73 commented on #716
I've acquired the logs of someone else and it turns out the coordinator refused the signatures of everyone. I don't why. This should be further investigated.

[2018-10-10 16:17] qubenix commented on #665
HEAD commit on master and v0.9.3 are not signed by you.

[code]

[2018-10-10 16:38] davex25 commented on #699
Right now I'm running origin/master Oct 9 commit (7621d7cada6baaba15932813faaa9c4639688956), but I'm not sure which one I was on when I created those perf profiles.  IIRC top has never shown an excessively high memory usage at the time.  If I see similar behavior with the most recent build, I'll try using your memory dump script.

[2018-10-10 17:51] nopara73 commented on #665
It was a simple documentation `.md` file modification:

![image](https://user-images.githubusercontent.com/9156103/46755397-40a55200-ccc5-11e8-9905-f187c4e322a7.png)

I edit code from local computer and edit documentation from GitHub. I don't see any relevant trust issues with documentation changes, on the other hand it's a significant efficiency gain.

[2018-10-10 17:53] nopara73 commented on #699
The leak fix is not yet merged to NBitcoin. Lucas simply asked you if it became faster to load the wallet or not. Which I tested and it did. I'm not sure we need to overtest it though.

[2018-10-10 21:02] nopara73 commented on #665
Signing documentation has no clear benefits and it significantly decreases productivity, because it prevents me from using the GitHub editor.

[2018-10-10 21:40] qubenix commented on #665
I have much respect for you and your project, so I want to tell you that I am sorry for getting a little upset in my last comment. I just think it's a dangerous path to choose convenience over security.

Maybe I can help you come up with a workflow where signing commits doesn't take away from your efficiency. I have never found it necessary to use github's editor myself. There are a **lot** of pro

[2018-10-11 00:04] nopara73 commented on #665
I understand the principle, I just argue it is not the case.

Anyway, I was trying to find a way how to make GitHub use my signature at browser editing, instead of its own. There seems to be no way.

So I came up with a solution. I have a chrome plugin, called "Refined GitHub" and it fixes a bunch of bugs on GitHub. Similarly there could be created another Chrome plugin that simply facilitates PGP

[2018-10-11 16:02] lontivero commented on #699
## Update:

I've been running Wasabi wallet with the fix for memory leak in NBitcoin and after three days and almost 620,000 txs, it uses 306MBs RAM.

![image](https://user-images.githubusercontent.com/127973/46814530-52cbd280-cd4f-11e8-8982-51728e35f351.png)

[2018-10-11 16:04] nopara73 commented on #699
It's been merged!

[2018-10-12 13:14] botweb opened #717 "Allow setting of 1 sat/byte fee"
Current fee slider put to the maximum right means the tx is send with 2 sat/byte. I'd like to use 1. Best would be, to have an input for custom fee setting.

[2018-10-12 14:23] nopara73 commented on #717
Sorry, but this cannot be done. Or rather, it'd require a week of very hard and careful work to do this, and a mistake could lead to severe consequences. That's a sanity check there (can only use integers,) because things could go downhill if it somehow ends up being under 1 s/b.

I would consider doing this work if it would be good the long term, but in the longterm it doesn't matter. Due to the

[2018-10-12 14:23] #717 closed

[2018-10-13 11:17] nopara73 opened #718 "OSX error message on close"
![image](https://user-images.githubusercontent.com/9156103/46904805-55166400-ceea-11e8-9a9e-c0d5e9667fb7.png)

https://github.com/zkSNACKs/WalletWasabi/pull/705#issuecomment-429338246
https://github.com/zkSNACKs/WalletWasabi/pull/705#issuecomment-429461220

[2018-10-13 11:20] nopara73 opened #719 "OSX cmd vs ctrl copypaste issue"
I guess the windows button on my keyboard would be a cmd button on an OSX keyboard?

https://github.com/zkSNACKs/WalletWasabi/pull/705#issuecomment-429338246
https://github.com/zkSNACKs/WalletWasabi/pull/705#issuecomment-429461220

This should fix it? https://github.com/AvaloniaUI/Avalonia/pull/1964/files

[2018-10-13 11:21] nopara73 opened #720 "OSX Render Slowness"
https://github.com/zkSNACKs/WalletWasabi/pull/705#issuecomment-429461220

[2018-10-13 13:48] nopara73 commented on #713
It's great! This is the repository. I linked the relevant parts of the code and explained the basic concepts under this issue: https://github.com/zkSNACKs/WalletWasabi/issues/711

[2018-10-14 14:16] #713 closed

[2018-10-15 08:31] nopara73 opened #722 "Refactor unit tests"
This issue is no priority by any means, however a case could be made that writing better and extensive unit tests can be beneficial.

[2018-10-15 08:37] nopara73 opened #723 "Distribute C++ redist for Windows only"
Currently we are distributing the `msvcp140.dll` and `vcruntime140.dll` for all platforms, we should only do it for Windows.

This issue is similar to this one: https://github.com/zkSNACKs/WalletWasabi/issues/675
So they should be tackled together.

The ideal scenario would be if Avalonia would distribute them properly by themselves.

[2018-10-15 08:38] nopara73 commented on #723
I assign @danwalmsley here to tacke the "ideal" solution, and I assign myself for the compromise solution.

[2018-10-15 08:50] nopara73 opened #724 "Wasabi when computer sleep or shutdown"
# Issue 1: When computer goes to sleep by itself

When Wasabi runs, the computer may go to sleep. Is it possible to prevent it? Is it easy? For example if full screen is used for watching video, then a laptop never goes to sleep.

This would be beneficial when the user mixes and to hack around the Avalonia stackoverflow bug that's caused by computer sending to sleep. Also improves the honest peer

[2018-10-15 08:53] nopara73 opened #725 "Prevent close the application dialog is a bit broken"
Not sure what caused it, only the "Close the Appli" is shown, not the whole word.

[2018-10-15 09:02] nopara73 opened #726 "Ideal Packaging"
Currently we are distributing an `.msi` Windows installer for Windows, and `.tar.gz` archives for Linux and OSX. We also PGP sign these packages and we do code signing on for Windows.

Here, I describe ways to improve the packaging.

# General Improvements

- [x] Don't distribute filters with binaries, but rather download checkpointed filters after first software launch if needed.
- [x] Investigat

[2018-10-15 09:04] nopara73 opened #727 "Add paper wallet support"
https://github.com/zkSNACKs/WalletWasabi/issues/486 is related (prerequisite.)

We could have tools that let people generate paper wallets.

[2018-10-15 09:06] nopara73 opened #728 "Improve Anonymity Set Calculation"
If we would have all the coinjoins and all the post-transactions, we could monitor how other people use the wallet and calculate anonymity sets based on the data.

[2018-10-15 09:08] nopara73 opened #729 "Add Coin Control suggestions"
In HiddenWallet I added coin control suggestions (user builds tx and wallet says, hey, if you use the wallet this way, your privacy will be better.)

This could be figured out properly and implemented into Wasabi, too.

Here're some ideas I implemented into HiddenWallet: https://medium.com/@nopara73/coin-control-is-must-learn-if-you-care-about-your-privacy-in-bitcoin-33b9a5f224a2

[2018-10-15 10:17] nopara73 opened #730 "Clarify why they shouldn't close the app."
It turns out some people are worried about coin loss at crash or something like that, because of how we prevent them from closing the app when it's mixing.
https://twitter.com/FXTradingCharts/status/1051776499743887360

We should clarify, it's just a banning of honest participants issue, nothing important like the above.

https://twitter.com/FXTradingCharts/status/1051776499743887360

[2018-10-15 10:19] nopara73 commented on #730
If someone is working on this part of the software, he might take a look at this issue, too: https://github.com/zkSNACKs/WalletWasabi/issues/725

[2018-10-15 10:38] nopara73 opened #731 "Add ability to read QR code while sending"

[2018-10-15 10:38] danwalmsley commented on #718
Managed side disposed PlatformThreading interface. Native side still tries to access the object from message loop.

[2018-10-15 10:38] nopara73 opened #732 "Support Bitcoin URL"

[2018-10-15 11:04] nopara73 commented on #599
Done.

[2018-10-15 11:04] #599 closed

[2018-10-15 11:09] nopara73 commented on #656
Since this issue is in the Meta (https://github.com/zkSNACKs/Meta/issues/12), I'll close it here.

[2018-10-15 11:09] #656 closed

[2018-10-15 11:10] nopara73 commented on #672
Done.

[2018-10-15 11:10] #672 closed

[2018-10-15 11:13] nopara73 commented on #699
NBitcoin has been updated, so it should be good now.

[2018-10-15 11:13] #699 closed

[2018-10-15 16:17] nopara73 opened #733 "Add pay to many ability"
It's a UI feature, on the backend we can do this easily.

[2018-10-16 03:05] nopara73 commented on #718
https://github.com/zkSNACKs/WalletWasabi/pull/734

[2018-10-16 03:05] #718 closed

[2018-10-16 06:44] ahopper commented on #724
Hi, I also want to control sleep from avalonia for my radio app.  I think for windows this is the solution https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-setthreadexecutionstate . I've not looked at linux and mac yet so don't know if we can create some common abstraction.

[2018-10-16 16:05] lontivero commented on #724
Yes, it is possible.

 Is it easy?

It depends on the platform. As @ahopper said, in Windows it is achieved by p-invoking `SetThreadExecutionState` frequently. On MacOS this can be done by invoking a function called `UpdateSystemActivity` every 30 seconds and on Linux is can be done (not really sure) by invoking `xresetscreensaver` that specifies the interval between screen saver alterations.

In

[2018-10-16 16:09] lontivero commented on #724
About issue 2:

How can I reproduce this? I've paused the process for 10 hours and when it resume, everything works okay and no StackOverflowException occurs. Is any way to make it fail using the debugger? Do you have a stack trace or any other clue?

[2018-10-16 16:11] nopara73 commented on #724
Just debug into the code, I think that's the same exception. I remember you had this issue. I don't think it's Windows specific.

[2018-10-16 18:12] lontivero commented on #724
I see @danwalmsley opened an issue on avalonia for fixing SOE produced by animations. I've tried it all, pausing the process, sleeping the laptop, stopping the execution with a breakpoint while the wallet loading animated icon was rotating and I cannot reproduce it. These are all the exception types that I get:

[code]

[2018-10-17 05:51] nopara73 commented on #724
There is no stackoverflow nor at sleep, nor at debug. Sorry, I was recalling them from memory.

[2018-10-17 07:00] jmacato commented on #724
Oh alright, great to hear! for the record, iirc that was fixed by https://github.com/AvaloniaUI/Avalonia/pull/1715

[2018-10-18 04:58] lontivero opened #740 "Display Status information in a better place"
### Is your feature request related to a problem? Please describe.

Information such as `coordinator fees`, `round id` or `number of registered peers` can only be seeing after loading a wallet. That info does not depend on any specific wallet parameters and could be available immediately after connected with the backend.

### Describe the solution you'd like

![image](https://user-images.githubuse

[2018-10-18 07:03] nopara73 commented on #724
Idk. I don't like things happening on one OS and other things happening on another. But oh well, I'm fine with that, too.

[2018-10-18 07:15] nopara73 commented on #740
Should it have its own box you say? Sounds interesting, maybe we can have a box for it and a box for the console as it was originally planned.

What I figured is that, we don't need 2 "Coins" table in the CoinJoin tab. We could make it only one and have a line to show the status of the coin (unconfirmed/ready/waiting for mix/banned/registered/... and stuff like that.)

So the whole CoinJoin tab co

[2018-10-18 14:30] nopara73 commented on #720
Done.

[2018-10-18 14:30] #720 closed

[2018-10-18 14:32] nopara73 commented on #386
This cannot be done. Attempts: https://github.com/zkSNACKs/WalletWasabi/pull/741, https://github.com/zkSNACKs/WalletWasabi/pull/742, https://github.com/zkSNACKs/WalletWasabi/pull/739

Filter processing must happen in order.

[2018-10-18 14:32] #386 closed

[2018-10-18 15:12] nopara73 opened #743 "Fix forever growing mempool"
Maybe it's because of that.

![image](https://user-images.githubusercontent.com/9156103/47164744-e75aa580-d2f8-11e8-9b18-a4052bc8d681.png)

[2018-10-18 19:07] nopara73 opened #744 "Lock WalletService.Coins"
`Coins` is one of the most used data structure in the software that started out as a convenience thing. However it was a ConcurrentHashSet, and later @danwalmsley made it to be a `NotifyingConcurrentHashSet`, whatever issues that brings. Because of this CI often fails, since we are Asserting the state of `Coins` often, but you shouldn't do that with concurrent collection.
It's time to use locks (I

[2018-10-19 12:56] jonathascarrijo opened #747 "Tor general failure prevents me from closing application"
After having the application running non-stop for about 4 days with some coins queued, I got the error below.
Now the app shows "Tor: Running" but "Backend: NotConnected" in the status bar.
I try to dequeue the coins but nothing happens.
I try to close the application, but I'm not allowed to with enqueued coins.
I don't want to get banned (again).
Here's the error log:
[code]

[2018-10-19 13:05] nopara73 commented on #747
It happened to every user of Wasabi last night. I had to restart my computer. It seems like some general Tor uptime issue.

https://twitter.com/FXTradingCharts/status/1053247416386969600

![image](https://user-images.githubusercontent.com/9156103/47219860-4f1ff780-d3b0-11e8-8933-7ab607ebdf9f.png)

I'm working on how to mitigate the issue, I don't know what caused this and how to completely prevent

[2018-10-19 13:05] jonathascarrijo commented on #747
I'm using Windows 10 BTW.
I forcibly closed the app and opened it again, and the log showed Tor is already running
[code]
And never manages to actually sync.
I went to task manager and killed tor.exe and restarted the app, and everything worked again.

[2018-10-19 13:28] nopara73 commented on #747
I shared this issue on Twitter: https://twitter.com/nopara73/status/1053276275945754624
Many users tend to tweet rather than comment their experience under this issue.

[2018-10-19 14:17] #714 closed

[2018-10-19 14:20] nopara73 commented on #725
It's not broken anymore, I guess an Avalonia update fixed it.

[2018-10-19 14:20] #725 closed

[2018-10-19 14:34] nopara73 commented on #730
![image](https://user-images.githubusercontent.com/9156103/47224739-83011a00-d3bc-11e8-8b38-42550b168c98.png)

[2018-10-19 14:34] #730 closed

[2018-10-19 16:13] nopara73 commented on #747
When this happens now you'll be able to dequeue. So the desired behavior that was requested in this issue is implemented, but the underlying issue is still there one. I'm going deeper.

[2018-10-19 19:53] nopara73 opened #748 "Internet killed, high CPU usage while logged into the wallet?"
Should be investigated.

[2018-10-19 19:54] nopara73 commented on #748
The CPU spike happened when I killed the internet and went down when I let it come back:

![image](https://user-images.githubusercontent.com/9156103/47240732-9d052180-d3e9-11e8-8409-bd5324dfe588.png)

[2018-10-20 09:44] #744 closed

[2018-10-20 09:51] nopara73 commented on #747
I created a tor monitoring forever running task to make sure if Tor misbehaves or crashes it gets autocorrected: https://github.com/zkSNACKs/WalletWasabi/pull/749

However there are so many strange threading issues, I have no idea if that will ever be safe to merge.

[2018-10-21 12:18] dergigi opened #750 "Crash when incoming transaction is detected (Windows)"
### General Description

WasabiWallet crashes on Windows when an incoming transaction is detected.

### How To Reproduce?

Commit `a7adcbcaabd853d7b312e321cf13605516659936`

1. Start WasabiWallet via `dotnet run`
2. Generate new wallet
3. Load wallet
4. Generate receive address
5. Broadcast transaction to the address via another wallet
6. Observe Crash

[code]

I sent another transaction to a new

[2018-10-21 14:57] nopara73 opened #751 "Write GR filter false negative test case in NBitcoin"
So to things like this should not happen: https://github.com/MetacoSA/NBitcoin/pull/566

Not exactly sure how to reproduce it, the issue was coming out randomly, I hope @lontivero you know better what to do.

[2018-10-21 15:20] nopara73 commented on #750
1. Thank you for being the first person using properly the bug report template. Really appreciate it!

2. Holy shit, this indeed crashes. This is terrible, since when does this happen? But also must be something simple. I removed my data folder and experienced two various crashes. Seems like from when the filters get in sync, they don't crash. Anyway, based on the logs it shouldn't be too difficul

[2018-10-21 16:33] nopara73 commented on #750
I've been trying to get to the bottom of it, no success just yet. This may be more complicated than I initially thought. I opened an issue at Avalonia: https://github.com/AvaloniaUI/Avalonia/issues/1988

[2018-10-21 18:11] nopara73 commented on #750
Yes.
1. Delete the `IndexMain.dat` or `IndexTestNet.dat` depending on which network you are using.
2. Log into a wallet that has money in it.
3. Click on the "CoinJoin" tab (not sure this step is needed.)
4. Wait for the crash.

Crash only comes while filters are being synced. Not sure what's the connection there. Maybe the issue is somewhere around your RX magic on the Coins set, like this:
[code

[2018-10-21 18:49] #750 closed

[2018-10-21 18:54] nopara73 commented on #750
This issue has been fixed. See the conversation here: https://github.com/AvaloniaUI/Avalonia/issues/1988#issuecomment-431687263

[2018-10-21 22:00] dergigi commented on #750
Awesome! Fixed indeed, I am unable to reproduce the issue on commit `80dcfb8b8c90a6de6efbd3640955163b5726e88a`.

Thanks for the quick fix everyone <3

[2018-10-23 05:56] nopara73 opened #752 "Add manual tx fee setting"
So this feature request arrived to me. I think, either an "Advanced Send" tab should be added, which is the same as the "Send" but complicated or an "Advanced switch" should be added to the "Send" tab.

Other Send tab related feature request issues:
- Add pay to many ability https://github.com/zkSNACKs/WalletWasabi/issues/733
- Make feerate query not on-demand https://github.com/zkSNACKs/WalletWas

[2018-10-23 08:53] nopara73 commented on #688
It's done. a909b9718a116d94dc908886a6ce98dcfaceb5f0

[2018-10-23 08:53] #688 closed

[2018-10-23 09:00] nopara73 commented on #407
Looking at NBitcoin's codebase, surprisingly it doesn't seem to do anything. Maybe it's some legacy stuff.

[2018-10-23 09:00] #407 closed

[2018-10-23 10:20] nopara73 opened #753 "Add automatic coin selection to coinjoin tabe"
When clicking on CoinJoin tab, it'd be nice if coins those are most recommended to be mixed would be automatically selected.

Coins those are recommended to mix:
- anonymity set < 50
- AND value > minimum mixed denomination.

Also the implementor should pay attention that this selection should only happen the FIRST TIME CoinJoin tab is clicked on otherwise it may be too annoying.

[2018-10-23 11:10] #416 closed

[2018-10-23 11:10] #743 closed

[2018-10-23 11:52] #753 closed

[2018-10-23 19:15] nopara73 opened #754 "Investigate "Avoid using Task.Run for long running work that blocks the thread""
If this is true.

https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AsyncGuidance.md#avoid-using-taskrun-for-long-running-work-that-blocks-the-thread

[2018-10-23 19:35] nopara73 commented on #754
I misunderstood it. It's only for blocking. We don't do this.

[2018-10-23 19:35] #754 closed

[2018-10-24 07:22] nopara73 opened #755 "Use Node.Filters or disconnect non-segwit block receive"
As described here: https://github.com/MetacoSA/NBitcoin/issues/568

[2018-10-24 07:59] nopara73 opened #756 "Add alias to generate RPC with generatetoaddress RPC"
https://github.com/MetacoSA/NBitcoin/issues/572

[2018-10-24 09:12] nopara73 commented on #728
# Helpful Information on the topic:

https://www.reddit.com/r/Bitcoin/comments/9qnd06/making_bitcoin_transactions_untraceable_with_the/e8bj04p/

![image](https://user-images.githubusercontent.com/9156103/47419945-9544d480-d77d-11e8-8b8d-6651c7660c0a.png)

[2018-10-24 09:12] nopara73 commented on #728
More research: [Technical Privacy Metrics: a Systematic Survey](https://arxiv.org/pdf/1512.00327.pdf)

[2018-10-24 09:13] nopara73 commented on #728
![image](https://user-images.githubusercontent.com/9156103/47420033-cd4c1780-d77d-11e8-9c4e-6047a42e6cd5.png)

[2018-10-24 11:26] nopara73 opened #757 "Estimated minimum required mix amount optimization"
https://www.reddit.com/r/WasabiWallet/comments/9pvkbd/tips_for_dealing_with_unmixable_change_amount_too/e8az315/

[2018-10-24 14:19] lontivero commented on #755
Not sure about this yet. There is no such a thing as a non-segwit block because the block structure for those containing segwit txs and legacy txs is the exactly same. We could check whether a received block contains at least one transaction with at least one input containing an empty scriptSig or not.
Is that okay?

[2018-10-24 14:44] lontivero commented on #755
Why do we want to disconnect non-segwit nodes? After all, the only difference is in the transactions' signatures (scriptSig/witness) and wasabi does not care about that info in any way.

[2018-10-24 16:12] nopara73 commented on #755
Because unexpected things can happen, like they did not long ago.

Is that okay?

As [nullc said](https://bitcoin.stackexchange.com/questions/80289/does-my-segwit-node-only-have-segwit-bocks/80305#80305):

We can do the same. If the blocks we get contains a non-segwit transaction that we know is a segwit transaction based on our mempool we can disconnect it.

That being said, I'm not sure it worth

[2018-10-24 16:55] lontivero commented on #755
That was a problem in our code, because we wrongly assumed all transactions have witness.

I get it. Anyway, when we start synchronizing the wallet our mempool is almost empty, in that case there would be no way to verify the receiving blocks.

I don't think it worth the trouble. I can code it anyway but i don't think is a good idea.

[2018-10-25 05:14] nopara73 opened #758 "Arch Linux issues"
![image](https://user-images.githubusercontent.com/9156103/47477445-90d3f680-d825-11e8-9126-f8b1dfd73816.png)

[2018-10-25 13:33] nopara73 opened #759 "Add EV ssl cert (after it arrives)"

[2018-10-25 14:58] nopara73 commented on #728
![image](https://user-images.githubusercontent.com/9156103/47509759-09af6e80-d877-11e8-9020-6159493c87d8.png)
To sum up this issue: is it more probable that red comes from green than blue? Basically that's the big question has to be answered, before thinking of new mental models.

[2018-10-25 15:02] real-or-random commented on #728
If both are coinjoins then I think clearly yes. Or am I making a mistake?

[2018-10-25 15:14] nopara73 commented on #728
I created a more verbose illustration:

![image](https://user-images.githubusercontent.com/9156103/47510896-5dbb5280-d879-11e8-852d-32ea9a90ba12.png)

[2018-10-25 16:05] nopara73 commented on #758
When trying to run the self-contained binary:

![image](https://user-images.githubusercontent.com/9156103/47514386-8266f880-d880-11e8-853c-eceb54366676.png)

@danwalmsley Any idea what can it be?

[2018-10-25 17:53] nopara73 commented on #728
Here's the solution.

![image](https://user-images.githubusercontent.com/9156103/47520101-8cdcbe80-d88f-11e8-9cdd-f02648dda688.png)

[2018-10-25 18:03] nopara73 commented on #728
![image](https://user-images.githubusercontent.com/9156103/47520644-ff9a6980-d890-11e8-90b5-7c94f0c440fb.png)

[2018-10-25 18:10] danwalmsley commented on #758
This version of Arch does not have any suitable font found. @lontivero is there any decent guaranteed fonts available across platforms, currently avalonia has no way to detect the system font.

@gillibald did you make progress with finding a fix for this?

[2018-10-25 18:28] nopara73 commented on #728
![image](https://user-images.githubusercontent.com/9156103/47521928-94eb2d00-d894-11e8-909b-1d8964ed4052.png)

[2018-10-25 18:38] Gillibald commented on #758
Will make a fix available shorty. Just had not much time but will sneak this in.

[2018-10-25 20:45] Gillibald commented on #758
Font fallbacks are implemented. The issue here is that the system's default isn't automatically used when no font can be found. Need to test my fix before submitting a PR tomorrow. After the fix it should use the system's default if our defined default isn't present on the system.

[2018-10-25 20:50] danwalmsley commented on #758
The problem is iv specified a cascade of fonts that look great on windows and mac, and some that work on Linux, however in this distribution it hasn't found any font.